[2020-05-29 00:52] MRayermannMSFT commented on #2954
@zelon are you saying that you have a metadata whose key is an empty string? From what I can see that shouldn't be possible. 🤨

Here's the error I get from the server if I force us to send a metadata whose key is empty string:
[code]

As for key of _, not only can I repro this, I now cannot access some of my containers!!! 😂 Digging through the code, this looks to be coming from the Azure Blob SDK.

[2020-05-29 01:08] MRayermannMSFT commented on #2954
@zelon I've opened a bug here if you'd like to track it: https://github.com/Azure/azure-sdk-for-js/issues/9171

[2020-05-29 01:11] pokittisak opened #3057 "1"

[2020-05-29 01:29] vamuzumd commented on #2953
I tried reproing this issue, but encountered another unusual behavior instead. When I try to paste the large string as user properties value by copying the long string and pasting it twice/thrice in the user value column, the properties dialog box suddenly vanishes.[the copy pasting might not be visible in the capture] Is there any way to support a large string for user properties? Attached gif wi

[2020-05-29 02:02] v-xianya commented on #3035
Verified this issue on build master/20200529.3. Fixed. So we close it.

[2020-05-29 02:02] #3035 closed

[2020-05-29 02:13] v-xianya commented on #2275
This issue is fixed on build 20200529.3. Close it.

[2020-05-29 02:13] #2275 closed

[2020-05-29 02:26] v-xianya commented on #2853
Hi @MRayermannMSFT
Re-open this issue just in case we miss it.😉

[2020-05-29 03:06] v-xianya commented on #2788
This issue reproduce on build master/20200529.3. So we re-open it.

[2020-05-29 08:16] v-xianya opened #3058 "An extra action 'Set Public Access Level…' displays for blob containers under SAS attached storage accounts"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200529.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**
1. Select one non-ADLS Gen2 storage account -> Attach the storage account via SAS.
2. Expand the attached storage account -> Blob Containers.
3. Create a blob container -> Check

[2020-05-29 10:06] v-xianya opened #3059 "Pop up an error dialog when saving one access policy for one emulator queue"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200529.3
**Branch**: master
**Platform/OS:** Windows 10
**Architecture**: ia32
**Azurite Version:** 3.7.0
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**
1. Install and run Azurite -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts-> (Emulator - Default Ports) (Key) -> Queues.
3. Create a queue ->

[2020-05-29 14:16] bernardpiccoli commented on #3053
![image](https://user-images.githubusercontent.com/17644256/83269636-c8431b80-a19d-11ea-9097-d1d60a793089.png)

[2020-05-29 14:16] #3053 closed

[2020-05-29 14:42] Petapacket opened #3060 "Connections in the explorer should be removable"
**Is your feature request related to a problem? Please describe.**
I have deleted Azure subscriptions which still have references in Azure Storage client.

**Describe the solution you'd like**
Button to remove connections, on right click, from the explorer pane.

**Describe alternatives you've considered**
Not using the application.

**Additional context**
Add any other context or screenshots abou

[2020-05-29 17:12] JasonYeMSFT commented on #3058
The issue shares the cause with #3036.

[2020-05-29 17:23] MRayermannMSFT commented on #2953
@vamuzumd

Let's first talk about large metadata (user properties). When you get a blob, the metadata is returned in the HTTP headers of the get request. Most services/web servers restrict header sizes to be in the range of **KBs**. I don't anticipate the design of blob metadata changing (to not be returned as headers) anytime soon but I'll still go ahead and pass along your feedback.

As for the

[2020-05-29 17:38] JasonYeMSFT commented on #2945
Version overriding logic has been merged.

[2020-05-29 17:38] #2945 closed

[2020-05-29 17:49] craxal commented on #2853
@v-xianya I'm closing this issue again until it can be reproduced. Only reopen the bug if you've definitely reproduced and we need to take a look.

[2020-05-29 17:49] #2853 closed

[2020-05-29 17:56] vamuzumd commented on #2953
Thanks for passing along the feedback. I tried multiple times but was unable to repro the issue anymore, so will go ahead and close the issue.

[2020-05-29 17:56] #2953 closed

[2020-05-29 17:57] jinglouMSFT commented on #3059
@craxal can you please investigate for 1.14? Thanks.

[2020-05-29 17:58] JasonYeMSFT commented on #587
@biconix Are you still having this problem after upgrading to 1.13.0?

[2020-05-29 17:58] craxal commented on #3059
@v-xianya What version of Azurite did you install? It's possible the version you have doesn't support access policies.

[2020-05-29 18:17] craxal commented on #2794
Electron has been updated, and I'm not seeing the hang anymore.

I should note, though, that we also removed the "CSV with type annotations" format. Instead, you will be able to control type annotations with the **Transfers** > **Table Import/Export** > **Export Type Annotations** setting. See #2104 for why this was done.

[2020-05-29 18:18] #2794 closed

[2020-05-29 18:24] JasonYeMSFT commented on #2828
Verified on Azure China. Archive tier isn't supported and is grayed out on the portal.

[2020-05-29 18:29] MRayermannMSFT commented on #3057
Hey @pokittisak , I'm going to close this issue since it doesn't really have anything in it. Please open a new one if you are actually having a issue/problem/suggestion/etc. Thanks.

[2020-05-29 18:29] #3057 closed

[2020-05-29 19:11] MRayermannMSFT commented on #2953
Cool. Thanks for being understanding and hopeful! Have a good weekend. :)

[2020-05-29 20:16] #1512 closed

[2020-05-29 20:18] JasonYeMSFT commented on #2928
The dropdown type of context menu/tool bar button are always enabled by design.

[2020-05-29 20:19] JasonYeMSFT commented on #2926
Blob versioning is moved out of 1.14.0. Move to 1.15.0 instead.

[2020-05-29 21:05] arome commented on #3001
I had the same issue. It turns out I got this message when I was trying to upload a .txt (blob) to a directory and the file was open in another program. After closing the file the upload worked fine.

[2020-05-29 23:25] MRayermannMSFT commented on #2336
We need to do a better job of the access policy scenario.

[2020-05-29 23:40] #2483 closed

[2020-05-30 16:15] AtomicNibble opened #3061 "Only limit local transfter speeds"
**Is your feature request related to a problem? Please describe.**
If you set a Maximum transfer rate in settings it also rate limits copying objects within Azure when really I just want it to limit my local upload speed.

**Describe the solution you'd like**
Something that allows a max transfer rate just for local transfers. Maybe there is a valid use case for rate limiting copy inside Azure if y

[2020-05-30 16:21] AtomicNibble opened #3062 "Allow auto delete of files with snapshots"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to delete a folder that has files inside with snapshots. Currently I must locate all files with snapshots, view snapshots delete them, then delete said file which is really slow.

**Describe the solution you'd like**
A option in the delete logic for auto snapshots removal, some sort of checkbox?

Thanks.

[2020-06-01 01:16] v-xianya commented on #3059
@craxal
1. Azurite Version：3.7.0.
2. Using the same version of Azurite in 1.13.1. This issue doesn't reproduce.

[2020-06-01 17:22] MRayermannMSFT commented on #2718
@Jen-Pearson are you still running into this issue?

[2020-06-01 17:35] MRayermannMSFT commented on #3062
Hey @AtomicNibble, in our latest update, 1.13.0/1.13.1, we added the ability to delete snapshots when you retry a delete:
<img width="926" alt="image" src="https://user-images.githubusercontent.com/21112697/83436813-65e35880-a3f3-11ea-8f4e-eec1b1b47215.png">

I understand you'd probably want to be able to start the delete with this enabled, but since snapshots are normally used for backup purposes

[2020-06-01 17:36] MRayermannMSFT commented on #3061
Yes, you can get throttled if you egress too much.

Anyways, we'll pass this feedback onto the AzCopy team.

[2020-06-01 17:38] MRayermannMSFT commented on #3060
@Petapacket could you elaborate some more on what you mean by "connections"? Maybe share some screenshots about the things you want to remove?

Also, when you say "deleted Azure subscriptions", do you mean you signed out from Storage Explorer or do you mean that those subscriptions were literally deleted.

[2020-06-01 17:42] MRayermannMSFT commented on #3054
Won't fix. We cannot call ARM if all we have is a key, therefor we don't know the attached account is a blob account.

[2020-06-01 17:42] #3054 closed

[2020-06-01 17:45] MRayermannMSFT commented on #3052
@thisiscmt:
- what version of Azurite are you using?
- are any of the blobs deleted, or is every single blob still there?
- could you share the script that does the uploads with us?

[2020-06-01 17:48] MRayermannMSFT commented on #3001
@denilsongrupp , is it possible what arome said also was happening to you?

[2020-06-01 17:50] AtomicNibble commented on #3062
No that works great for me!

I was already on 1.13.0 but did not think to click retry.

Thanks.

[2020-06-01 17:50] #3062 closed

[2020-06-01 17:54] #2929 closed

[2020-06-01 17:56] #2928 closed

[2020-06-01 17:58] MRayermannMSFT commented on #2782
@v-xianya can you open an issue each for storage account and table? Thanks.

[2020-06-01 17:58] #2782 closed

[2020-06-01 18:09] MRayermannMSFT commented on #2665
Duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/2466

[2020-06-01 18:09] #2665 closed

[2020-06-01 18:14] #2729 closed

[2020-06-01 18:24] #2817 closed

[2020-06-01 18:27] #2828 closed

[2020-06-01 18:29] MRayermannMSFT commented on #2821
After you make an issue in azcopy repo, move to 15 please.

[2020-06-01 18:34] MRayermannMSFT commented on #2767
@justinormont can we close this issue?

[2020-06-01 18:44] MRayermannMSFT commented on #2859
Cert was of wrong format. @jongio and his team are going to help us with writing code to convert these certs into the cert format we need.

[2020-06-01 18:48] MRayermannMSFT commented on #3010
Fix merged to master.

[2020-06-01 18:49] MRayermannMSFT commented on #3036
Fix merged into master.

[2020-06-01 18:49] #3036 closed

[2020-06-01 19:22] JasonYeMSFT commented on #2667
Duplicate of #541

[2020-06-01 19:22] #2667 closed

[2020-06-01 19:30] justinormont commented on #2767
If the fixes are needed purely in AzCopy, then yes.

[2020-06-01 19:56] JasonYeMSFT commented on #2821
Seems related to https://github.com/Azure/azure-storage-azcopy/issues/696

[2020-06-01 20:33] JasonYeMSFT commented on #2694
Opened an issue for AzCopy https://github.com/Azure/azure-storage-azcopy/issues/1032

[2020-06-01 21:15] thisiscmt commented on #3052
I'm running version 3.6.0 of Azurite. And no blobs seem to be removed.

Here is what the upload code looks like, using version 12.1.1 of the storage SDK for JavaScript. I also have NodeJS 12.16.3 on my machine:

[code]

The storagePath param to uploadFileToStorage() could be a single virtual directory name or a path with three dirs like 'dir1/dir2/dir3'. I've attached what the structure of the top

[2020-06-01 21:49] #541 closed

[2020-06-01 22:50] #518 closed

[2020-06-01 23:45] MRayermannMSFT commented on #3049
Fix checked into master

[2020-06-01 23:45] #3049 closed

[2020-06-01 23:45] MRayermannMSFT commented on #3050
Fix checked into master

[2020-06-01 23:45] #3050 closed

[2020-06-02 02:21] v-xianya commented on #3010
Verified this issue on build master/20200602.3.
The action 'Copy Direct Link to Blob Container' is still missed. So we re-open it.
![image](https://user-images.githubusercontent.com/41351993/83472850-c38ea800-a4ba-11ea-81e3-845fea68c145.png)

[2020-06-02 02:28] v-limu commented on #3002
Verified on build 20200602.3. This issue has been fixed. So close it.

[2020-06-02 02:39] v-xianya commented on #2110
Verified this issue on build master/20200602.3.
'And' & 'Or' are not localized in **Italian**. So we re-open it.
![image](https://user-images.githubusercontent.com/41351993/83473793-fb96ea80-a4bc-11ea-82cd-c9359b004c9d.png)

[2020-06-02 02:58] v-xianya commented on #3058
This issue is fixed on build master/20200602.3. Close it.

[2020-06-02 02:58] #3058 closed

[2020-06-02 03:04] v-xianya opened #3063 "Remove 'Detach' action for attached storage accounts under Quick Access node"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200602.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Attach one storage account via 'SAS' or 'Name and Key'.
2. Add the attached storage account to Quick Access.
3. Check the context menu of the attached storage account under Quick Acce

[2020-06-02 03:07] v-xianya opened #3064 "Remove 'Detach' action for attached tables under Quick Access node"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200602.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Tables.
2. Select one table then attach it via SAS.
3. Add the attached table to Quick Access.
4. Check the context menu of the attached table under Quic

[2020-06-02 03:11] v-xianya commented on #2782
Hi @MRayermannMSFT
Sure. We opened issues for storage accounts and tables. Issues number: [3063](https://github.com/microsoft/AzureStorageExplorer/issues/3063),[3064](https://github.com/microsoft/AzureStorageExplorer/issues/3064).

[2020-06-02 06:06] v-xianya commented on #613
Verified this issue on build master/20200602.3.
The behavior as below:
1. This issue doesn't reproduces for Blob Containers/ File Shares/ Queues.
2. This issue still reproduces for tables.
![image](https://user-images.githubusercontent.com/41351993/83485707-33605b00-a4da-11ea-9445-8d9ac942472b.png)

[2020-06-02 06:19] v-limu commented on #2788
Verified on build 20200602.3. This issue has been fixed. So close it.

[2020-06-02 06:19] #2788 closed

[2020-06-02 09:04] v-xianya opened #3065 "New table under a SAS attached storage accounts displays broken after adding it to QA"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200602.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Select one non-ADLS Gen2 storage account -> Attach it via SAS.
2. Expand the attached storage account -> Tables.
3. Create a new table -> Add the new created table to Quick Access.
4.

[2020-06-02 09:27] v-limu opened #3066 "Pop up an error when acquiring lease for one blob under sort by 'Size'"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200602.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a new blob container -> Upload two blobs to it.
3. Click 'Size' column in Editor.
4. Try to acquire lease for one blob -> Che

[2020-06-02 09:51] v-limu opened #3067 "The blobs doesn't auto display after pasting one blob container to one name & key attached account"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200602.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture**: ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Attach one Non-ADLS Gen2 storage account via name & key.
2. Expand the attached storage account -> Blob Containers.
3. Paste one blob container which contains the blobs to it

[2020-06-02 10:09] v-limu opened #3068 "The QA queues with a same name share one tab when using 'Open' to open them"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200602.3
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave
**Architecture**: ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Add the several queues with a same name from different storage accounts to Quick Access.
2. Click 'Open' on the context menu of the several queues under Quick Access.
3. Chec

[2020-06-02 10:51] ascotjnr opened #3069 "Error connecting to this dataset in Azure Storage Explorer"
Please I received the following error when I tried to download the Volve Data. I hope you can help

{
  "name": "TypeError",
  "message": "Cannot read property 'uids' of undefined",
  "__zone_symbol__error": {
    "originalStack": "Error: Cannot read property 'uids' of undefined\n    at AppInsightsAsyncCorrelatedErrorWrapper.ZoneAwareError (C:\\Users\\User\\AppData\\Local\\Programs\\Microsoft Azur

[2020-06-02 12:46] lukaschal commented on #2110
@v-xianya These translations are correct for ITA.

[2020-06-02 16:31] craxal commented on #3068
Related to #3002. This bug has already been addressed and a fix merged.

[2020-06-02 16:34] craxal commented on #3002
Reopened, because this fix also relies on an update to the queue extension package and needs verification against that.

[2020-06-02 17:18] MRayermannMSFT commented on #2071
![2071](https://user-images.githubusercontent.com/21112697/83549587-65fa5b80-a4ba-11ea-8288-70a14e42127b.gif)

[2020-06-02 17:56] JasonYeMSFT opened #3070 "Make sure service endpoints in connection objects contains the trailing slash"
Azure service returns service endpoints with the trailing slash. We should privilege this behavior.

[2020-06-02 18:15] #369 closed

[2020-06-02 18:19] JasonYeMSFT commented on #2110
@lukaschal, do you mean that the strings are supposed to be "And" and "Or" in Italian?

[2020-06-02 18:32] MRayermannMSFT commented on #2767
Ok well, since you've gotten in touch with AzCopy we're going to go ahead and close this. If there's something actionable you have for us after you discuss perf issues with them, feel free to open a new issue describing that action. Thanks.

[2020-06-02 18:32] #2767 closed

[2020-06-02 21:25] MRayermannMSFT commented on #2731
Going to fix camel case, but leave writing remote content to disk

[2020-06-02 21:25] nilabjaball opened #3071 "Archive status and last activate time missing in storage explorer but its available in portal"
**Is your feature request related to a problem? Please describe.**
When you change tier, portal provides tier status and last tier change time. Can we add this capability in Azure storage explorer. User has know idea that the request has been accepted when they click on storage account

**Describe the solution you'd like**
add extra two columns in the blob section

**Describe alternatives you've c

[2020-06-02 22:32] MRayermannMSFT commented on #2505
@ehmPlankje in our next release, we'll be using a newer version of electron. I can confirm that this version of electron starts, even if NODE_OPTIONS is set to max-http-header-size=100000.

[2020-06-02 22:32] #2505 closed

[2020-06-03 00:27] MRayermannMSFT opened #3072 "Allow right clicking on empty space in explorers"

[2020-06-03 00:30] MRayermannMSFT opened #3073 "Fix copy & paste explorer buttons not having keyboard shortcuts in tooltips"

[2020-06-03 01:15] #222 closed

[2020-06-03 02:35] v-limu commented on #2436
Verified on build 20200603.4.

1. The 'Clone' button is enabled when the blob name is selected.
![image](https://user-images.githubusercontent.com/54055206/83589207-bc809c00-a585-11ea-94d3-8faa4680e8df.png)

[2020-06-03 08:38] v-limu opened #3074 "The dragged column shows strangely for one queue"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200603.4
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Queues.
2. Open one queue -> Try to drag one column in Editor.
3. Check the result.

**Expect Experience:**
The dragged col

[2020-06-03 08:41] lukaschal commented on #2110
@JasonYeMSFT Yes, these terms should not be localized in Italian in this context.

[2020-06-03 10:29] lukaschal commented on #3028
On review.

[2020-06-03 16:38] craxal commented on #3074
This is a known issue in webview-based editors, such as for managed disks. This is not a regression.

See https://devdiv.visualstudio.com/DevDiv/_git/3501f1c0-e3a3-4daa-8e89-af3efe91dd48/pullrequest/201300 for the original change introduced for managed disks.

[2020-06-03 17:40] #2731 closed

[2020-06-03 17:41] MRayermannMSFT commented on #3023
Merged

[2020-06-03 17:41] #3023 closed

[2020-06-03 18:40] #2110 closed

[2020-06-03 21:59] JasonYeMSFT commented on #3069
@ascotjnr, Could you please provide the following information to help us locate the issue?
1. Storage Explorer version
2. Your OS
3. Steps to connect to this dataset and at which step do you see this error

Thanks

[2020-06-03 22:09] JasonYeMSFT commented on #3052
@thisiscmt, I can reproduce the issue by simply create a blob with the same name. There might be something wrong with our blob listing logic.

[2020-06-04 00:49] sylvain-fr opened #3075 "Connection issue"
Subscriptions for the follwowing tenants could not be retrieved:
Tenant Id: 584a26e0-32d6-489f-bf0f-409ce22e277f, Error: {
  "name": "Error",
  "message": "self signed certificate in certificate chain",
  "stack": "Error: self signed certificate in certificate chain\n    at TLSSocket.onConnectSecure (_tls_wrap.js:1049:34)\n    at ZoneDelegate.invokeTask (C:\\Program Files (x86)\\Microsoft Azure St

[2020-06-04 01:50] v-xianya commented on #3010
This issue is fixed on build master/20200604.2. So close it.

[2020-06-04 01:50] #3010 closed

[2020-06-04 07:57] Noxxys commented on #2886
This fixed the problem for me, I'm now able to log in and see all my storage accounts. Thank you

[2020-06-04 08:44] v-xianya opened #3076 "The deleted emulator blobs do not show under 'Active and delete blobs' view with Soft Delete enabled"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200604.2
**Branch**: master
**Platform/OS:** Windows 10
**Architecture**: ia32
**Azurite Version:** 3.7.0
**Regression From:** Not a regression

**Steps to reproduce:**
1. Install and run Azurite -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts-> (Emulator - Default Ports) (Key).
3. Right click the Blob Containers node

[2020-06-04 08:47] ascotjnr commented on #3069
Hello,
I was able to connect to the storage now. I had no subscription yet so after creating one it worked.
Thanks for your time.
Best regards,Daniel
    On Thursday, June 4, 2020, 05:59:31 AM GMT+8, JasonYeMSFT <notifications@github.com> wrote:

@ascotjnr, Could you please provide the following information to help us locate the issue?

   - Storage Explorer version
   - Your OS
   - Steps to conn

[2020-06-04 08:52] susierao commented on #1594
I am using 1.12 and 1.13, both do not allow to me to log in with my azure account...

[2020-06-04 09:26] v-xianya opened #3077 "Miss the queue name in one attached queue's URL"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200604.2
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**
1. Expand one storage account -> Queues.
2. Create a new queue -> Attach it via SAS.
3. Check the attached queue's URL on Properties panel.

**Expect Experie

[2020-06-04 09:40] lukaschal commented on #3028
Fixed.

![image](https://user-images.githubusercontent.com/18324331/83741162-25384900-a658-11ea-8270-e67246f3cf79.png)

[2020-06-04 10:05] v-limu opened #3078 "An error pops up when using blobs direct link to open Storage Explorer"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200604.2
**Branch**: master
**Platform/OS:** Windows 10 / MacOS Mojave
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Right click it.
3. Click 'Copy Direct Link to Blob Container' -> Paste the copied direct link

[2020-06-04 12:47] mandrie opened #3079 "Unable to re-size columns in Table output"
**Storage Explorer Version**: 1.12
**Build Number**:  20200114.3
**Platform/OS**: Windows 10?
**Architecture**: ia32  (should be x64 but this is what I see in your help --> about
**Regression From**:  N/A

## Bug Description ##
In the output of a Table query I am unable to make one of the columns wider by dragging to the right. Even if I limit the number of columns shown in the output to just 2, a

[2020-06-04 12:50] mandrie commented on #3079
![image](https://user-images.githubusercontent.com/11774594/83758641-3c127780-a627-11ea-85ba-f8e9aaf8b654.png)

[2020-06-04 14:54] angelinemarren opened #3080 "Error renaming file from partial when downloading file"
Can you tell me why this happens please?
Why would "operation not permitted" ?
{
  "name": "Error",
  "message": "EPERM: operation not permitted, rename 'B:\\Temp\\Folder\\Folder\\FilenameXXXX_FULL_20200329_000003.bak.partial' -> 'B:\\Temp\\Folder\\Folder\\FilenameXXXX_FULL_20200329_000003.bak'",
  "stack": "Error: EPERM: operation not permitted, rename 'B:\\Temp\\Folder\\Folder\\FilenameXXXX_FULL

[2020-06-04 16:54] craxal commented on #3077
@v-xianya Unable to repro based on current master. Queue extension package still needs an update, so please wait to verify until then.

[2020-06-04 17:05] MRayermannMSFT commented on #2752
Hey @faultylee we're actually going to be switching to .net core 2.1 in our next release. I hope this doesn't muck up your workaround.

[2020-06-04 19:03] craxal commented on #3059
@v-xianya Unable to repro using code from current master. This may have been fixed along with #2995. An updated package is still in the works, so please wait until a new package is created before verifying.

[2020-06-04 23:07] RodneyBradey opened #3081 "file upload/download filenames while in progress"
when uploading/downloading/copying files the original names are used in the destination path and if the action fails, the files appear to have been copied and you are unable to tell which files were actioned correctly. If I action 100 files and something occurs during this processing, it is not a good outcome.

I recommend that each file have a name of {originalname}.partial until the action is co

[2020-06-05 00:02] JasonYeMSFT commented on #2384
Now there are two actions, "Acquire Lease" and "Break Lease" between "Detach" and "Delete" action.

[2020-06-05 00:03] #2384 closed

[2020-06-05 01:15] v-xianya commented on #3077
Hi @craxal Got it. Thanks for you update.

[2020-06-05 01:25] JasonYeMSFT commented on #2882
Related https://datatables.net/forums/discussion/53927/colreorder-drag-events-are-triggered-with-any-mouse-click

[2020-06-05 07:36] v-xianya opened #3082 "The value of the property AccessTierInferred is null after changing one blob's access tier"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200604.10
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one GPV2 storage account -> Blob Containers.
2. Create a blob container -> Upload one **block** blob.
3. Open its properties dialog and check the value of

[2020-06-05 14:01] #3080 closed

[2020-06-05 14:11] JERisBRISK opened #3083 "File filter / search"
The web Storage Explorer (for Gen1 only) provides a way to filter file results at a given directory node. Please (at a minimum) add this feature to the Azure Storage Explorer for both Gen1 AND Gen2 (we're primarily in need of this for Gen2, but you might as well wire it up for both to help people selectively migrate files to and from Gen1).

Even better would be a way to do a recursive search, but

[2020-06-05 17:05] #3034 closed

[2020-06-05 18:34] JasonYeMSFT commented on #2820
There is already a bug opened against Electron.

[2020-06-05 20:51] mgvaldmx opened #3084 "I could not add my account"
Hello,

I just downloaded the Azure Storage Explorer, but I couldn't add my account, I get the error message shown on the following screenshot:

![image](https://user-images.githubusercontent.com/66494904/83921418-eaabda80-a743-11ea-934b-acdff530bf26.png)

![image](https://user-images.githubusercontent.com/66494904/83921454-fdbeaa80-a743-11ea-89dc-519cfcdc2919.png)

Please let me know if I should

[2020-06-05 22:39] MRayermannMSFT commented on #2071
Fix merged into master.

[2020-06-05 22:39] #2071 closed

[2020-06-05 22:50] JasonYeMSFT commented on #3076
I have confirmed with Azurite team that soft delete isn't supported even though it is responding to soft delete policy related requests.

[2020-06-05 22:52] JasonYeMSFT commented on #3075
Could you please try the steps in our [trouble shooting guide](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1904#error-self-signed-certificate-in-certificate-chain-and-similar-errors) to see if it can resolve the problem?

[2020-06-07 07:47] arupnayak opened #3085 "Shared throughput option during collection creation"
**Is your feature request related to a problem? Please describe.**
There should be an option to select shared throughput option during creation of collection like in portal. We created few collections without this option and it spike up our bill as the collections got created with dedicated thoughput.

**Describe the solution you'd like**
Shared thoughput checkbox should be available when creating

[2020-06-07 15:24] biconix commented on #587
It seems not to be working. I was unable to delete a read-only file

_____________________________________________________________________
Moshe Raab, Ph.D.
Microsoft Certified Professional
Microsoft Certified Technology Specialist – Microsoft Dynamics CRM
Biconix, Inc., mailto:raab@biconix.com,
(USA)  +1 (561) 208-3858
(Israel) +972( 2) 590-0801
Sent from my Surface Book 2

From: JasonYeMSFT <not

[2020-06-08 02:02] v-xianya commented on #3076
Hi @JasonYeMSFT Got it. Thanks for your sharing.

[2020-06-08 05:47] SamVanhoutte opened #3086 "Storage Explorer window is not visible on macOS and fails to start with --disable-gpu flag"
**Storage Explorer Version**: 1.13.1
**Build Number**: cannot start up, so don't know how to find it
**Platform/OS**: macOS Catalina 10.15.4
**Architecture**: x64
**Regression From**:  It worked before indeed

## Bug Description ##
- Since a while, I cannot manage to start Azure Storage Explorer anymore on my mac.
- The app opens, but the window is hidden/invisible to be used
- I have been using t

[2020-06-08 10:25] lukaschal commented on #3027
Fixed.

SRC: From:
TGT: 从:

SRC: To:
TGT: 到:

[2020-06-08 11:12] blugri commented on #2220
Bug is not limited to Windows OS, I see the bug also on MacOS

[2020-06-08 11:17] blugri opened #3087 "CosmosDB Query Tab does not show "Execute Query" button in dark theme"
**Storage Explorer Version**: 1.13.1>
**Build Number**: 20200515.1
**Platform/OS**: macOS Catalina
**Architecture**: x64
**Regression From**:  No

## Bug Description ##
The "Execute Query" button of the Open Query Tab for CosmoDB is not visible in the Dark theme

## Steps to Reproduce ##
1. Select Dark Theme
2. Navigate to a CosmosDB container
3. right click and select "Open Query Tab"

## Expecte

[2020-06-08 13:06] sylvain-fr commented on #3075
yes, it solved it. I've impored self signed certificate and now it's
working fine.
Thanks for support !

On Fri, 5 Jun 2020 at 18:52, JasonYeMSFT <notifications@github.com> wrote:

[2020-06-08 13:06] #3075 closed

[2020-06-08 13:07] sylvain-fr commented on #3075
import self signed certificate like described in trouble shooting guide solves the issue

[2020-06-08 13:53] harshithjv commented on #2818
@MRayermannMSFT I get same "UnexpectedQuit" error while deleting.

![image](https://user-images.githubusercontent.com/809278/84037697-93646f00-a9bc-11ea-945c-a29bf4aa4225.png)

AzCopy command output:
`$env:AZCOPY_CRED_TYPE = "Anonymous";
./azcopy.exe remove "http://10.0.0.19:18888/devstoreaccount1/test/Sada-1.jpg?se=2020-07-08T13%3A30%3A39Z&sp=rdl&sv=2018-03-28&sr=c&sig=qVs5pqaH%2FVDnKh%2FnR53bxH8

[2020-06-08 16:26] MRayermannMSFT commented on #1064
Hey y'all, unfortunately a bunch of other things came up for 1.14 and I was not able to get to this. We are still committed to getting this feature request resolved! Sorry for having to do so, but we're moving this to 1.15. Thanks for the patience.

[2020-06-08 16:36] JasonYeMSFT commented on #587
@biconix could you please elaborate your issue:
1. What version of Storage Explorer are you using?
2. What OS are you on?
3. How do you reproduce the issue?

[2020-06-08 16:57] MRayermannMSFT commented on #2258
Fix merged into master.

[2020-06-08 16:57] MRayermannMSFT commented on #2780
All clones are using the textinput dialog now.

[2020-06-08 16:57] #2780 closed

[2020-06-08 16:58] MRayermannMSFT commented on #2831
Closing this (the inconsistent behavior between file shares and blobs) bug as won't fix. Leaving #2833 open.

[2020-06-08 16:58] #2831 closed

[2020-06-08 17:06] JasonYeMSFT commented on #3086
@SamVanhoutte Please open the package.json at '/Applications/AzureStorageExplorer.app/Contents/Resources/app/package.json' and get the "version" field for us. That is the Storage Explorer version you are having problem with.

Also during you first attempt, are you just seeing an empty screen without any error or are you seeing the GPU error prompt and no window for Storage Explorer?

[2020-06-08 17:18] MRayermannMSFT commented on #578
@mhammons  if you don't have a servicehub folder, then where are these logs from?

[2020-06-08 17:19] MRayermannMSFT commented on #377
This issue is fairly old at this point. If anyone is still having issues with the latest version of Storage Explorer, please open up a new issue with your details. Thanks.

[2020-06-08 17:19] #377 closed

[2020-06-08 17:27] SamVanhoutte commented on #3086
@JasonYeMSFT thanks for getting back
The version field is 1.13.1

My first attempt indeed was an empty screen without an error.  The screen was not visible at all.  And when I right clicked the icon in the task bar and then selected 'show all windows', I could only see my desktop background, but when I hovered the place where the 'invisible' window apparently is, I see a blue border, but nothing o

[2020-06-08 17:32] MRayermannMSFT commented on #2718
Just tried this. No issues. Moving to be un-tiraged until Jen Pearson replies.

[2020-06-08 17:36] MRayermannMSFT commented on #2336
We now provider a better experience when permissions are coming from an access policy.

[2020-06-08 17:36] #2336 closed

[2020-06-08 17:51] MRayermannMSFT commented on #2824
Figure out when AzCopy is planning on doing this/if they are planning on doing this, and then move to the correct milestone.

[2020-06-08 18:07] MRayermannMSFT commented on #2949
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks!

[2020-06-08 18:07] #2949 closed

[2020-06-08 18:11] MRayermannMSFT commented on #2920
@johndowns, for the record, the docs you linked to also show ctrl+r as a standard refresh keyboard shortcut:

<img width="687" alt="image" src="https://user-images.githubusercontent.com/21112697/84065106-9e95ab80-a978-11ea-9683-34a007ea8ac7.png">

We're going to put this in future for now to gauge interest from other users as well.

[2020-06-08 18:12] MRayermannMSFT commented on #2917
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-06-08 18:12] #2917 closed

[2020-06-08 18:12] MRayermannMSFT commented on #2916
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-06-08 18:12] #2916 closed

[2020-06-08 18:12] MRayermannMSFT commented on #2915
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-06-08 18:12] #2915 closed

[2020-06-08 18:16] MRayermannMSFT commented on #3086
@SamVanhoutte can you try installing and opening VS Code?

[2020-06-08 18:20] MRayermannMSFT commented on #3084
Are you behind a proxy? If so, have you configured the proxy settings in Storage Explorer? See our trouble shooting guide (Help -> Troubleshooting Guide) for more information.

[2020-06-08 18:20] SamVanhoutte commented on #3086
@MRayermannMSFT - I have VS Code open all the time, every day, multiple instances.  Why are you asking ?

[2020-06-08 18:22] MRayermannMSFT commented on #3083
@JERisBRISK unfortunately with the APIs available to us today, this is not feasible.

[2020-06-08 18:22] biconix commented on #587
See answers below

_____________________________________________________________________
Moshe Raab, Ph.D.
Microsoft Certified Professional
Microsoft Certified Technology Specialist – Microsoft Dynamics CRM
Biconix, Inc., mailto:raab@biconix.com,
(USA)  +1 (561) 208-3858
(Israel) +972( 2) 590-0801
Sent from my Surface Book 2

From: JasonYeMSFT <notifications@github.com>
Sent: Monday, June 8, 2020

[2020-06-08 18:23] MRayermannMSFT commented on #3083
Duplicate of #1667

[2020-06-08 18:23] #3083 closed

[2020-06-08 18:27] MRayermannMSFT commented on #3082
Let's ask the platform team to make false be returned.

[2020-06-08 18:32] #3076 closed

[2020-06-08 18:34] MRayermannMSFT commented on #3074
Make sure drag and drop works, minus the column being a giant rectangle. If so, put in 15, otherwise fix the drag and drop ASAP.

[2020-06-08 18:56] JasonYeMSFT commented on #3079
@mandrie, just to confirm, are you hiding any column from the "Column Options" button? I can only reproduce the issue when some column is hidden from there.

[2020-06-08 19:03] JasonYeMSFT commented on #587
@biconix I cannot see your pictures of the Storage Explorer version and OS. BTW, the original error message comes from a deprecated code path for operating files in file share. Could you please share the error + the AzCopy log for the failed action with us?

[2020-06-08 19:13] biconix commented on #587
AzStorageExplore v1.13.1
Windows 10 Pro, v2004 OSBuild 19041.264
The error says: Deletion of 'Raab Properties LLC.qbw' from 'biconix/Financial/Raab Properties/' failed: 0 completed, (used SAS)
_____________________________________________________________________
Moshe Raab, Ph.D.
Microsoft Certified Professional
Microsoft Certified Technology Specialist – Microsoft Dynamics CRM
Biconix, Inc., mail

[2020-06-08 19:34] jinglouMSFT commented on #1531
Reporting back on the Windows bug - There was a regression in the ShellExecute API in Windows 10 builds 190x.  This issue has been fixed in Windows 10 build 2004. Build 2004 is currently being rolled out gradually.  In terms of a workaround if you are on Windows 10 build 190x and if you are comfortable modifying your Windows registries, you can associate the file extension (no-extension) there.  W

[2020-06-08 19:34] #1531 closed

[2020-06-08 19:39] JasonYeMSFT commented on #587
@biconix, thanks for the info. Unfortunately we haven't seen any similar issue so far. To locate the cause of the issue, the following information would be very helpful.

* Could you explain what do you mean by "read-only" file? Is there any special property/metadata on the files/directories you are trying to delete?
* Re-perform a failed delete. Go to C:\Users\your_username\.azcopy directory and

[2020-06-08 20:17] mandrie commented on #3079
Yes I am hiding some columns. Also I played around with it some more after making sure I was on the latest version and I think it seems to only repro with the `TimeStamp` column. If I switch to using `PreciseTimeStamp` and `Message` columns then I can resize columns just fine. But if I refresh and try again sometimes it works and sometimes it doesn't. I haven't figured out precise repro steps that

[2020-06-08 20:29] DevilsChargers opened #3088 "No longer able to drag a file from windows explorer to a blob container."
**Storage Explorer Version**: 1.13.1
**Build Number**: 20200515.1
**Platform/OS**: Window 10
**Architecture**: x64
**Regression From**:  unsure of last working version

## Bug Description ##
I can no longer drag a file from windows explorer into a blob container.

## Steps to Reproduce ##
Navigate to a blob container in Storage Explorer, try to drag a txt or csv file into the contents pane.  Curso

[2020-06-08 20:38] jinglouMSFT commented on #3088
How did you connect to the Azure storage resources?  I just tried drag&drop while I am signed into Azure on a regular Blob container and an ADLS Gen2 enabled container, both worked just fine.  Any additional information you can provide probably could help us narrow down the case.  Thanks.

[2020-06-08 20:49] DevilsChargers commented on #3088
I used the typical sign on via a web authentication that pops up.  Same as if I were signing into the portal.  This was working for the year or more I've been using the explorer.  The other day I updated to the latest version, and now this happens.

Would removing the account and re-adding it help possibly?  I've been using the same couple of accounts for some time.

[2020-06-09 00:09] #3038 closed

[2020-06-09 00:11] #3025 closed

[2020-06-09 00:12] #3026 closed

[2020-06-09 00:12] #3020 closed

[2020-06-09 00:13] #2997 closed

[2020-06-09 00:14] #3059 closed

[2020-06-09 00:15] #975 closed

[2020-06-09 01:36] craxal commented on #3074
Drag and drop still works as expected, so moving to 1.15.0.

[2020-06-09 05:16] faultylee commented on #2752
No worries, thanks for the heads up

[2020-06-09 06:14] v-xianya commented on #3068
Verified this issue on build master/20200609.1. Fixed.

[2020-06-09 06:14] #3068 closed

[2020-06-09 07:55] johnstaveley commented on #2886
This fixed it. I never seem to be logged out between accesses anymore! Thanks!

[2020-06-09 08:52] v-xianya opened #3089 "The size value disappears after acquiring lease for blobs with 0 byte"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200609.1
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob with 0 byte.
3. Acquire lease for the blob -> Check the size value.

[2020-06-09 09:11] v-limu opened #3090 "The attached queue works well under Quick Access after detaching the original queue"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200609.1
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Queues.
2. Create a queue -> Attach it via SAS -> Add the attached queue to Quick Access.
3. **Detach** the queue.
4. Check

[2020-06-09 09:31] v-limu opened #3091 "A blob with 0 byte is not sorted by size"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200609.1
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload multiple blobs and one blob with 0 byte.
3. Sort by 'Size' -> Check t

[2020-06-09 09:51] v-limu opened #3092 "Cannot open new tabs using the 'Open in New Tab' for one opened queue"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200609.1
**Branch**: master
**Platform/OS:** Windows 10/ macOS Mojave / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Queues.
2. Create a queue -> Open it.
3. Right click the queue -> Click 'Open in new Tab'.
4. Check the result.

**Expect E

[2020-06-09 10:01] v-xianya commented on #3067
Verified this issue on build 20200609.1. Reproduce. So we re-open it.

[2020-06-09 10:03] v-xianya commented on #2258
This issue reproduces on build/20200609.1. So we re-open it.

[2020-06-09 10:07] v-xianya commented on #2997
This issue reproduces on build master/20200609.1. We will keep an eye on this issue and verify it on the later build.

[2020-06-09 10:36] lx1054331851 opened #3093 "Download file stuck"
**Storage Explorer Version**:  1.13.1
**Build Number**:  20200515.1
**Platform/OS**:  win10
**Architecture**:
**Regression From**:

## Bug Description ##

After I click the download button, the download progress does not change, it always show as below picture
![image](https://user-images.githubusercontent.com/12423206/84137941-0c78ca80-aa80-11ea-8523-403447b4ad5d.png)

## Steps to Reproduce ##

#

[2020-06-09 11:43] lukaschal commented on #3047
Commited at 5/20/2020.

https://devdiv.visualstudio.com/DevDiv/_git/StorageExplorer/commit/5fe9ed02045d6294d9012946cba508d91abb9080?refName=refs%2Fheads%2Fmaster&path=%2Floc%2Floc%2Fzh-Hans%2Fsrc%2Fcomponents%2Fse-az-copy-extension%2Fresources%2FAzCopySettings.json.lcl&_a=contents

[2020-06-09 11:48] lukaschal commented on #3046
All localizable instances translated in loc repository.

https://devdiv.visualstudio.com/DevDiv/_git/StorageExplorer?path=%2Floc%2Floc%2Fzh-Hans%2Fsrc%2Fcomponents%2Fse-file-extension%2Fresources%2FFileEditor.json.lcl&version=GBmaster&_a=blame

https://devdiv.visualstudio.com/DevDiv/_git/StorageExplorer?path=%2Floc%2Floc%2Fzh-Hans%2Fsrc%2Fcomponents%2Fse-managed-disks-extension%2Fresources%2FManag

[2020-06-09 11:51] lukaschal commented on #3039
Fixed week ago.

NEW TGT: 沒有可用的更新。

[2020-06-09 13:59] sampathkg-git opened #3094 "Unable to connect to subscription/resource group"
**Storage Explorer Version**: <1.13.1 -->
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##
<Storage explorer doesn't display storage accounts associated with subscription>

## Steps to Reproduce ##
<Just installed new version and could not get details on existing storage accounts-->

## Expected Experience ##
<Be able to navigate to any of the storag

[2020-06-09 15:23] haldarsumana commented on #1375
I am facing the same issue.  Sastoken for a directory in file share is able to access other directory's file as well. Is this issue is still open? Is there any way around in any language that I can get a sasToken only for a specific directory in file share by using the rest api or library?

[2020-06-09 16:02] StingyJack commented on #1208
This has started happening with json files we have stored as block blob.  They exist as content type `application/json`, and when we replace them they are now getting set as content type `text/plain; charset=utf-8`.

Its not a blocker but is unexpected. We can edit the content type in the properties dialog for the item if it does become a blocker..

[2020-06-09 16:06] StingyJack commented on #1108
@craxal - i cant tell if this is done and available or not from these last few status updates.

[2020-06-09 16:42] craxal commented on #1108
@StingyJack This has been available since 1.13.0. You will likely have to uninstall Storage Explorer first before the option becomes available, because updates use the same privileges as the existing installation.

[2020-06-09 17:02] craxal commented on #3090
@jinglouMSFT Do we really want Quick Access items from SAS items to stop working if the SAS item is detached?

[2020-06-09 17:25] jinglouMSFT commented on #3094
Can you try to follow this troubleshooting guide to see if you can fix your issue first?  https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1904#error-self-signed-certificate-in-certificate-chain-and-similar-errors
Thanks.

[2020-06-09 19:50] SamVanhoutte commented on #3086
any insights, please ?

[2020-06-09 20:42] MRayermannMSFT commented on #1577
Work finally done!

[2020-06-09 20:42] #1577 closed

[2020-06-09 20:44] MRayermannMSFT commented on #2436
@v-limu , since this issue is about the selection of the name and that is fixed I am going to close this. Please let me know if you don't see the name selected. Thanks!

[2020-06-09 20:44] #2436 closed

[2020-06-09 21:01] MRayermannMSFT commented on #2258
@v-xianya that build had a bad cloud explorer commit, can you verify tonight? I'll comment with a well known build number before I log off today.

[2020-06-09 21:01] #2258 closed

[2020-06-09 21:20] MRayermannMSFT commented on #2752
@faultylee would you be up for installing a private build and letting me know if it works for you?

[2020-06-09 22:33] JasonYeMSFT commented on #3067
The corresponding CloudExplorer has been updated. This issue should have been fixed.

[2020-06-09 22:33] #3067 closed

[2020-06-10 00:03] faultylee commented on #2752
@MRayermannMSFT sure. I usually do a quick test locally before I push the update to AUR.

[2020-06-10 00:49] MRayermannMSFT commented on #2258
I just revalidated on build 20200610.2

[2020-06-10 01:04] neusamir commented on #2990
We are facing this same issue. When viewing through the storage explorer, it seems some messages are not sorted properly by the insertion time. When peeking messages using the azure sdk, the order seems correct. 'Dequeue Message' button in the storage explorer seems to correctly remove the first message matching the list pulled from the azure sdk.

storage explorer:

![image](https://user-images.g

[2020-06-10 09:41] v-xianya commented on #2258
Hi @MRayermannMSFT Thank you for the sharing. This issue is fixed on build 20200610.2.

[2020-06-10 09:42] v-xianya commented on #3067
Verified this issue on build 20200610.2. Fixed.

[2020-06-10 10:55] Rambalac opened #3095 "Updating Table record with DateTime fields changes DateTime due rounding."
Version: 1.13.1
AzCopy Version: 10.4.2

Platform: Windows
Architecture: ia32
Build Number: 20200515.1
Commit: b846b853c
Support ID: 086db33f-1126-975f-8257-42893ba673d8

## Bug Description ##
Modification of Table record that contains DateTime fields changes DateTime fields due lose of precision.

## Steps to Reproduce ##
Create a record using .NET SDK with string and datetime fields. DateTime set

[2020-06-10 15:41] zexu-ms opened #3096 "Account Disappeared shortly after logging in - 1.13.1"
![image](https://user-images.githubusercontent.com/66660732/84288362-a8cfc980-ab73-11ea-8516-a87a420f8b0e.png)

## Bug Description ##
This day, the account just disappear in the account management. After I logged in, just a few minutes it happens again.

Prompting that "Cannot read property 'OriginalAccountObj' of undefined".

[2020-06-10 18:50] ah6511 opened #3097 "Sign-in error"
Mac version 1.13.1.
With VPN connection, try to add account with workplace, after 2 factor authentication,
wait for a while and then got error: 'The operation was canceled'.

[2020-06-10 23:27] MRayermannMSFT commented on #2752
@faultylee awesome! Again though, **this is not meant to be pushed to the AUR**.  I'm just giving it to you to see if it solves the .net core 2.2 issue (by working with .net core 2.1) and to see if our change to what's inside the .tar.gz works out ok. I do not recommend using this against prod data or anything like that. Simply validate the changes. 😋 Ok with that out of the way, here's a link to

[2020-06-11 06:05] v-xianya commented on #3092
Verified on build 20200611.4. Fixed. So we close it.

[2020-06-11 06:05] #3092 closed

[2020-06-11 06:07] v-xianya commented on #3090
This issue is fixed on build 20200611.4. So we close it.

[2020-06-11 06:07] #3090 closed

[2020-06-11 06:10] v-xianya commented on #3091
This issue is fixed on build 20200611.4. So we close it.

[2020-06-11 06:10] #3091 closed

[2020-06-11 10:47] faultylee commented on #2752
@MRayermannMSFT totally understand :smiley:  .I just tested, it works with [dotnet-runtime-2.1](https://aur.archlinux.org/packages/dotnet-runtime-2.1/) without any issue. I also tested with only `dotnet-runtime-3.1` installed and it complained about missing `2.1`. I looked around some tables and blobs all loads fine. Is there anything specific that you want me to test?

![image](https://user-image

[2020-06-11 14:38] chitoiur opened #3098 "Version 1.13.1 is showing all User Properties for a blob file as having lowercase keys"
It is quite easy to reproduce. Upload a file, right click and select Properties. Add user property whose key starts with an uppercase and Save. Then, open Properties again and your property key now shows up as lowercase. It seems to save them as lowercase, because when I read it from code, they are lowercase. But also, if I use code to save them with uppercase, when I go to Properties, they are no

[2020-06-11 16:46] MRayermannMSFT commented on #2833
Platform has told me that this is by design. They will be updating docs soon to address it.

[2020-06-11 16:46] #2833 closed

[2020-06-11 17:29] MRayermannMSFT commented on #2752
Ya, I have a feeling .net core 3.1 doesn't actually work with 2.x. From what I have read online, it is not backwards compat. Anyways, ok cool. I'm glad we were able to finally get onto an EOL version! You'll see this change roll out in our 1.14 release. Thanks for helping to verify. :)

[2020-06-11 17:29] #2752 closed

[2020-06-11 18:03] JasonYeMSFT commented on #3098
@chitoiur, there is a behavior change in the storage SDK we are using. FYI, the metadata keys are supposed to treated case-insensitively so this behavior change isn't breaking their spec. https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-properties-metadata#set-and-retrieve-metadata

[2020-06-11 18:06] chitoiur commented on #3098
Thanks Jason. When you say storage SDK, do you mean Microsoft.Azure.WebJobs.Extensions.Storage? Our application uses 3.x and it seems it is case sensitive. Is v4 not case sensitive?

[2020-06-11 18:06] JasonYeMSFT commented on #3078
I have verified that this has been fixed on latest master.

[2020-06-11 18:06] #3078 closed

[2020-06-11 18:09] JasonYeMSFT commented on #3098
No, we are using the NodeJS SDK for storage (https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/storage). Since the doc says it should be case insensitive, the implementation is free to choose whether to preserve the casing or not.

[2020-06-11 18:17] chitoiur commented on #3098
So it seems like the implementation (Microsoft.Azure.WebJobs.Extensions.Storage) didn't follow the docs. We seem to be stuck on 1.12.0 for the foreseeable future, because our keys are case sensitive.

Thanks for the help, feel free to close.

[2020-06-11 19:37] Arash-Sabet opened #3099 "Users must be able to duplicate a row displayed on Azure Storage Explorer"
**Is your feature request related to a problem? Please describe.**
There are occasions when a new row/record in a table would be slightly different from another existing one. It's frustrating to create a brand new table row and copy/paste values from the other existing row.

**Describe the solution you'd like**
The best and most intuitive UI experience would be to be able to duplicate an existing

[2020-06-11 19:42] jinglouMSFT commented on #3099
Is this request for Table or for CosmosDB?  If Table, this is a duplicate of #2547

[2020-06-11 19:56] Arash-Sabet commented on #3099
Azure Storage Tables. So I am closing it due to duplication. When will #2547 be released?

[2020-06-11 19:56] #3099 closed

[2020-06-11 21:01] #3077 closed

[2020-06-11 21:52] craxal commented on #2702
@v-xianya It didn't sound like this bug was reproducible after running tests to verify Linux dependencies. Can you verify if this issue still reproduces just to be sure?

[2020-06-11 21:59] craxal commented on #1887
Hey everyone, thanks for your patience. We've been investigating this issue, and we will be updating our docs soon. Is anyone still encountering this problem after trying the suggestions made here in the comments?

[2020-06-11 23:30] MRayermannMSFT commented on #2969
Checked in for 1.14 release. Work completed jointly by me and @JasonYeMSFT (github won't let me change the issue owner)

[2020-06-11 23:30] #2969 closed

[2020-06-11 23:32] MRayermannMSFT commented on #3081
We passed this feedback onto the AzCopy team. They're considering the request and will get back to us on feasibility. :)

[2020-06-11 23:39] RodneyBradey commented on #3081
Cool

Regards
Rodney Bradey
________________________________
From: Matthew Rayermann <notifications@github.com>
Sent: Friday, June 12, 2020 9:32:56 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Rodney Bradey <RodneyBradey@simon.com.au>; Author <author@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] file upload/download filenames while in prog

[2020-06-12 01:22] v-xianya commented on #2702
Hi @craxal Verified on build master/20200610.10. This issue doesn't reproduce.

Run Storage Explorer without .NET Core installed. The now behaviors is:
Pop up the below dialog after clicking ‘I Accept’ in the prompt '**End-User License Agreement**’ dialog.
![image](https://user-images.githubusercontent.com/41351993/84454724-fc363a80-ac8d-11ea-88a4-1256afe6ceb5.png)

[2020-06-12 02:21] v-xianya commented on #2997
Verified this issue on build 20200611.9. Fixed.

[2020-06-12 02:46] v-xianya commented on #2922
Hi @craxal
Verify this issue on build 20200611.9.
1. Fixed for one exist queue.
2. **Reproduce for one new created queue**. So we re-open it.

[2020-06-12 06:49] v-xianya commented on #3039
Verify this issue on build 20200611.9. Fixed.
![image](https://user-images.githubusercontent.com/41351993/84473556-dcb60680-acbb-11ea-8e6a-f26f62080bd2.png)

[2020-06-12 06:49] #3039 closed

[2020-06-12 06:55] v-xianya commented on #3028
Verified on build master 20200611.9. Fixed.

[2020-06-12 06:55] #3028 closed

[2020-06-12 07:30] hmaland commented on #1208
The original behavior I reported is no longer happening when we upload/replace an existing blob. I'm not sure in which version of Storage Explorer this was fixed, but the reported issue can be closed for my part.

[2020-06-12 07:47] v-xianya opened #3100 "The QA queue doesn't display broken after deleting the original one"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200611.9
**Branch**: master
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 16.04
**Architecture:** ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**
1. Expand one storage account -> Queues.
2. Create a queue -> Add it to Quick Access.
3. Delete the queue -> Check the QA queue.

**Expect Experience:**
T

[2020-06-12 07:57] v-xianya opened #3101 "Add "View Error..." action for all Quick Access node types"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200611.9
**Branch**: master
**Platform/OS:** Windows 10/ macOS Catalina/ Linux Ubuntu 18.04
**Architecture:** ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**
1. Attach one blob container & file share & queue & table via SAS.
2. Add the attached services to QA.
3. Detach the attached services -> Refresh the Quick

[2020-06-12 08:24] v-limu opened #3102 "Keep a consistent time format for 'Last Modified' between blob containers and file shares"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200611.9
**Branch**: master
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Previous release (1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Check the 'Last Modified' time format on 'Properties' panel.

**Expect

[2020-06-12 08:38] v-limu opened #3103 "Update the text input on the ADLS Gen2 blobs 'Rename File' dialog"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200611.9
**Branch**: master
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Upload one blob to it.
3. Click 'Rename...' -> Check the text input

[2020-06-12 08:56] devenderninaniya opened #3104 "Subscriptions for the follwowing tenants could not be retrieved: Tenant Id: zzz, Error: {"code":"EAI_AGAIN","errno":"EAI_AGAIN","syscall":"getaddrinfo","hostname":"management.azure.com","host":"management.azure.com","port":443}"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-06-12 13:32] rdotsch commented on #3086
I am experiencing the very same issue on MacOS 10.15.5. Has been working fine for months, and now in the past couple of weeks, the storage explorer window simply doesn't appear anymore.

The version field in the package is 1.12.0 (I updated storage explorer hoping it would fix the issue, but I had this problem with the previous version as well, don't know the version number though).

[2020-06-12 13:33] c-s-n commented on #1790
As indicated above, also the Table search suffers from this significant performance issue. For certain storage structures with thousands of resources, this makes the Azure Storage Explorer pretty much unusable.
The search APIs used by the Azure Portal for this storage account return almost instantly; so I'd say this should be the expected behavior.

[2020-06-12 13:47] DevilsChargers commented on #3088
Closing.  Whatever was happening was something else on my system.  When I encountered the issue I restarted the application, several times, rebooted my machine, and the problem remained.  However, 2 days after opening the issue, the problem is gone and I can drag files into containers again.

[2020-06-12 13:47] #3088 closed

[2020-06-12 16:43] MRayermannMSFT commented on #3044
Good news, this is actually done for 1.14 already!

[2020-06-12 16:43] #3044 closed

[2020-06-12 16:44] MRayermannMSFT opened #3105 ""how do you want to handle file changes" dialog after opening a gen2 blob should not mention snapshots"

[2020-06-12 16:49] craxal commented on #3101
@v-xianya This is not a regression. This is intended, brand new behavior that we have added for queues. We will add the same behavior for other node types at a later point.

[2020-06-12 16:51] #2702 closed

[2020-06-12 19:43] DennesTorres commented on #138
If I'm not mistaken, Azure Storage Explorer can't use rest API over a repository open to the public, with no authentication. I was looking for the source code to check if I could add this feature.

[2020-06-13 00:16] MRayermannMSFT commented on #3102
Fix merged into master.

[2020-06-13 00:16] #3102 closed

[2020-06-13 00:32] #2922 closed

[2020-06-13 00:33] #3100 closed

[2020-06-13 23:13] nirnaymsft opened #3106 "Azure Storage Explorer said file uploaded but actually didn't"
**Storage Explorer Version**:
1.13.0
**Build Number**:
1.13.0
**Platform/OS**:
Windows 10
**Architecture**:
x64
**Regression From**:
Don't know

## Bug Description ##

I elevated myself as Administrator on Subscription via JIT
Usually JIT takes time, but I still tried to upload the file
Storage Explorer showed File uploaded (green). But actually it didn't.

To prove this theory, I tried uploading

[2020-06-15 06:07] miguellasuncion commented on #3044
Thank you!

[2020-06-15 08:29] v-xianya opened #3107 "No 'Lease Status' property displays for one ADLS Gen2 blob container"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200614.2
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Check its Properties panel.

**Expect Experience:**
The property

[2020-06-15 09:15] v-xianya opened #3108 "Miss the property 'CommittedBlockCount' for one append blob"
**Storage Explorer Version:** 1.14.0-dev
**Build**: 20200614.2
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Previous release (1.12.0)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one append blob.
3. Open its properties dialog.
4. Check wheth

[2020-06-15 17:36] MRayermannMSFT commented on #3093
@lx1054331851 is this consistently reproducing for you? What Azure environment (public Azure, Azure China, Azure Germany, etc.) are you working with? Does this only happen with this container?

[2020-06-15 17:40] MRayermannMSFT commented on #3096
@zexu-ms do you mean an error dialog came up, or did you see that message somewhere else?

[2020-06-15 17:41] #3098 closed

[2020-06-15 17:43] MRayermannMSFT commented on #3104
@devenderninaniya are you behind a proxy?

[2020-06-15 17:45] MRayermannMSFT commented on #3106
@nirnaymsft is this for Blobs, ADLS Gen1, or ADLS Gen2?

[2020-06-15 17:49] MRayermannMSFT commented on #3071
Related to https://github.com/microsoft/AzureStorageExplorer/issues/176

[2020-06-15 17:53] nirnaymsft commented on #3106
Azure Data Lake Storage Gen1

[2020-06-15 17:54] MRayermannMSFT commented on #3070
Jason will spend time in 1.15 breaking down what places we are modifying the URL the server returns for no reason.

[2020-06-15 17:54] #3069 closed

[2020-06-15 17:58] MRayermannMSFT commented on #3106
@nirnaymsft have you seen this in ADLS Gen2?

[2020-06-15 18:18] MRayermannMSFT commented on #439
Unfortunately the list API for file shares doesn't return last modified information at this time[1]. We'll continue passing this feedback along to the platform team.

[1]: https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files

[2020-06-15 18:40] nirnaymsft commented on #3106
Not tried.

[2020-06-15 18:53] #1203 closed

[2020-06-15 18:56] craxal commented on #2965
Related to #603

[2020-06-15 19:17] craxal commented on #3095
This is likely due to the difference in date representations between the .NET framework and JavaScript. JavaScript date objects only have millisecond precision. The Azure Client Library for Node returns EDM.DateTime property values as JavaScript date objects. There appears to be a a way to customize the format of entity objects, so we may be able to fix this. However, this is pretty low-level in t

[2020-06-15 23:24] MRayermannMSFT commented on #3086
@SamVanhoutte @rdotsch I have a private build available of our next version. It is using a newer version of Electron. We're hoping this newer version will fix whatever issue is occurring with y'all's external GPUs. Please give it a try and let us know. Thanks!

Build link: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.14.0-20200614.1/StorageExplorer-darwin-x64.zip

[2020-06-15 23:36] JasonYeMSFT commented on #1512
For <no_name> folders, Copy/Download/Clone with new name are disabled.
For <no_name> blobs, Copy/Download/Open are disabled.

[2020-06-16 01:18] #3108 closed

[2020-06-16 01:19] #3105 closed

[2020-06-16 04:10] hildo opened #3109 "Unable to download file from File Storage"
**Storage Explorer Version**: 1.13.1
**Build Number**: 20200515.1
**Platform/OS**: Windows 10
**Architecture**:  ia32
**Regression From**:  1.12.0

## Bug Description ##
I am attempting to download a file from a File Storage account.  I can navigate through Storage Explorer fine, and can see the file.  However, when I attempt to download it fails with the message "Transfer of 'filename' to 'locati

[2020-06-16 04:11] hildo commented on #3109
The azcopy log from the failed transfer

2020/06/16 01:49:13 AzcopyVersion  10.4.2
2020/06/16 01:49:13 OS-Environment  windows
2020/06/16 01:49:13 OS-Architecture  amd64
2020/06/16 01:49:13 Log times are in UTC. Local time is 16 Jun 2020 11:49:13
2020/06/16 01:49:13 Job-Command copy https://cluster30file.file.core.windows.net/app-services/support/floridacanyon/mstarFiles/nodes/default/logs/minesta

[2020-06-16 05:26] SamVanhoutte commented on #3086
I just gave it a try (version nr that popped up was something like 14.x.dev), but it's still the same behavior.  Do we need to pass a specific start up flag or something ?

[2020-06-16 09:02] v-xianya opened #3110 "Add an option to use custom domain when copying Blob URLs"
**Storage Explorer Version:** 1.14.0
**Build**: 20200616.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Right click the blob -> Check the 'Copy URL' action on its con

[2020-06-16 09:13] v-xianya opened #3111 "Can't switch to the whitespace directory by clicking the directory in the blob path view"
**Storage Explorer Version:** 1.14.0
**Build**: 20200616.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob (input '/1/ /2' into Destination directory).
3. Try to switch to t

[2020-06-16 09:30] v-limu opened #3112 "'Requeue Message' action doesn't work for one emulator queue"
**Storage Explorer Version:** 1.14.0
**Build**: 20200616.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10
**Emulator:** (5.10.0.0)
**Architecture:** x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Make sure Storage Emulator(5.10.0.0) is started.
2. Expand 'Local & Attached' -> 'Storage Accounts' -> '(Emulator - Default Ports)(Key)' -> 'Queues'.
3. Create a new queue -> A

[2020-06-16 09:36] v-limu opened #3113 "Keep a consistent delete icon for one blob container between under Quick Access and accounts"
**Storage Explorer Version:** 1.14.0
**Build**: 20200616.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Check its delete icon.
3. Add the blob container to Quick Access -> Chec

[2020-06-16 09:37] v-limu opened #3114 "Miss 'Custom Domain' for one blob container under Quick Access"
**Storage Explorer Version:** 1.14.0
**Build**: 20200616.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Add the blob container to Quick Access.
3. Check its Properties panel under Quic

[2020-06-16 09:54] v-limu commented on #3002
Verified on build 20200616.5. This issue reproduces. So reopen it.

[2020-06-16 10:05] v-xianya opened #3115 "Succeed to upload one adls gen2 blob when inputting destination directory as '/ /'"
**Storage Explorer Version:** 1.14.0
**Build**: 20200616.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Previous release (1.12.0)

**Steps to reproduce:**

1. Expand one ADLS Gen2  storage account -> Blob Containers.
2. Create a new blob container -> Click 'Upload' -> Select 'Upload Files...'.
3. Select one

[2020-06-16 15:02] Brondahl commented on #1099
@JasonYeMSFT I'm making use of this setting, to prevent exactly the same problems that the OP found, so first off thanks for solving this.

I'm sure that in the documentation that first clued me into this I read that this field accepted decimals, e.g. I could specify "1.5" to use the majority of my 2Mbps uplink without saturating it.

But when I try to set that value, it isn't at all happy. I get

[2020-06-16 18:10] JasonYeMSFT commented on #3115
Since this is allowed by the platform, there is no reason for us to block it.

[2020-06-16 18:10] #3115 closed

[2020-06-16 19:21] craxal commented on #3002
@v-limu I am unable to reproduce the issue using the same build. Can you provide more precise repro steps?

[2020-06-16 20:24] JasonYeMSFT commented on #1099
@Brondahl, the decimal numbers should be supported. I have tried with various decimal numbers and haven't seen any problem. Are you setting `Maximum transfer rate` to be 1.5? Could you please retry the failed transfer and share the log file with us? You can find the log file either via the `Go to AzCopy log file` or go to the az copy log file directory and get the latest log file.

The AzCopy dire

[2020-06-16 22:56] Brondahl opened #3116 "Decimal values of Maximum Transfer Rate not supported. [Not Reproducible]"
***Disclaimer: I could pseudo reproduce this on v `1.12.0` It was happening repeatedly when I did it by accident. I upgraded to vLatest (`1.13.1`) before logging this bug and I can no longer reproduce this. Perhaps it was a version-specific bug. Perhaps actually I just needed to restart ASE on my machine? Since I'd already written out 90% of the Issue, I'll raise this in the expectation that it'll

[2020-06-16 23:04] Brondahl opened #3117 "Default Transfer settings seem poorly chosen?"
Not a bug report yet - wanted to discuss it first. Happy to raise a proper bug report if it seems relevant after a brief discussion.

If uploading GBs of data in many files, via a low-upload-bandwidth connection the default Transfer settings seem not to work? Particularly the Network and File Concurrency.

I've got mass uploads working just fine, but only because I actively set those values both t

[2020-06-16 23:05] Brondahl commented on #3116
@JasonYeMSFT see above. Not reproducible, in the end.

[2020-06-17 02:14] v-limu commented on #3002
Hi @craxal  Sorry for the above comments. Verified on build 20200617.5. This issue also reproduces. The steps as below.😃

**Repro Steps:**
1. Expand one storage account -> Queues.
2. Open one queue (Click 'Open' on the queue's context menu).
3. **Double-click** the queue using mouse on the tree view.
4. Check the tabs.

**More Info:**
This issue also reproduces under Quick Access.

[2020-06-17 02:29] v-limu commented on #3113
Verified on build 20200617.5. This issue has been fixed. So close it.

[2020-06-17 02:29] #3113 closed

[2020-06-17 03:22] Coegmen opened #3118 "Self-signed certificate issue"
Subscriptions for the follwowing tenants could not be retrieved:
Tenant Id: f8cdef31-a31e-4b4a-93e4-5f571e91255a, Error: {
  "name": "Error",
  "message": "self signed certificate in certificate chain",
  "stack": "Error: self signed certificate in certificate chain\n    at TLSSocket.onConnectSecure (_tls_wrap.js:1049:34)\n    at ZoneDelegate.invokeTask (C:\\Program Files (x86)\\Microsoft Azure St

[2020-06-17 07:46] v-xianya opened #3119 "Fail to delete one adls gen2 blob folder named " ""
**Storage Explorer Version:** 1.14.0
**Build**: 20200617.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Bug Descriptions:**
Failed to run actions **'Delete' &'New Folder' & 'Rename' & 'Manage Access' & 'Properties'** for one adls gen2 blob folder named " ".

**Steps to reproduce:**

1. Ex

[2020-06-17 10:00] v-limu opened #3120 "Add an icon for 'Open in Portal' action for resource groups"
**Storage Explorer Version:** 1.14.0
**Build**: 20200617.5
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand Disks -> Select one resource group.
2. Check the 'Open in Portal' in its Action panel.

**Expect Experience:**
Show an icon.
![image](https://user-image

[2020-06-17 11:12] Brondahl opened #3121 "Is it possible for the `Max Transfer Rate` Setting (MTR) to be applied dynamically?"
**Is your feature request related to a problem? Please describe.**
For me, the optimal upload rate for large uploads varies depending on other usage of the network.
* Overnight I'd be happy for it to be fully saturating the uplink, in order to maximise capacity, and it damaging download usage (see #1099) is not a problem.
* During the majority of the day, I'm happy for it to run at, say, 80% to en

[2020-06-17 11:25] Brondahl commented on #3121
As I understand it, in this context, ASE is just a wrapper around AzCopy, which I think is a synchronous call, not an async one, so I suspect this may not be possible without very drastic changes to AzCopy?

But figured I'd ask in case someone knows a way around that makes it more plausible.

[2020-06-17 16:51] craxal commented on #3002
@v-limu This is by design. A double-click is intended to open a new tab regardless of whether there's already a tab open. This is the same behavior for other node types.

[2020-06-17 18:04] #2246 closed

[2020-06-17 18:04] #1887 closed

[2020-06-17 18:04] #2635 closed

[2020-06-18 00:49] MRayermannMSFT commented on #2632
For now we're going to add this setting:
![image](https://user-images.githubusercontent.com/21112697/84965058-b2e94f00-b0c2-11ea-9109-525019954ba0.png)

You can choose to disable it whenever you are on a metered connection.

After I've checked this in, I'll open a new issue for doing something smarter, like asking the OS if you're currently on a metered connection, and if so, suggesting you toggle

[2020-06-18 01:51] fabio770 opened #3122 "Query in CosmosDB in Azure Storage Explorer always starts with "SELECT * FROM c""
Differently from the Azure Portal, when I want do query for a document in CosmosDB in Azure Storage Explorer, the query has always to start with "SELECT * FROM c".

I was wondering if it would be possible to have more flexibility to change this. For example, sometimes I have to know the number of documents in the database that satisfy a certain condition and if I want to do "SELECT count(c) FROM c

[2020-06-18 02:36] v-limu commented on #3002
Hi @craxal  Thanks for your updates.

But, only one tab always displays when I double-click one **blob container / file share / table** (regardless of whether there is already a tab open). This behavior is different from queues.

[2020-06-18 09:23] v-xianya opened #3123 "The Expiration date displays local time in 'Connection Summary' dialog although select UTC time zone when creating SAS"
**Storage Explorer Version:** 1.14.0
**Build**: 20200618.2
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Select one non-adls gen2 storage account then right click it -> Click 'Get Shared Access Signature...'.
2. Select 'UTC' Time zone (Notice the Expiry time) -> Cl

[2020-06-18 14:09] ImranNaqvi85 commented on #1505
![image](https://user-images.githubusercontent.com/67109965/85030690-9edd3600-b132-11ea-82ca-5d8bcbbf85f7.png)
I'm facing this issue

[2020-06-18 17:21] jinglouMSFT commented on #1505
@ImranNaqvi85 the error said azcopy_windows_amd64.exe can not be found or corrupted in the directory specified.  Have you tried to navigate to that directory to see if the file was there? or try to reinstall Storage Explorer if it's corrupted?  Let use know your findings. Thanks.

[2020-06-18 17:25] JasonYeMSFT commented on #1505
@jinglouMSFT, the error says the description from the AzCopy executable cannot be found, not the executable file.

@ImranNaqvi85 , since your issue is different from the original one, could you please open another issue so we can investigate and track it? Other than the information in the bug template, it would be great if you can share the full info of the error in your event viewer. Your screens

[2020-06-18 18:57] craxal commented on #3002
@v-limu My mistake, double-click is supposed to open a permanent tab, not a new tab. I'll get this fixed.

[2020-06-18 20:04] MRayermannMSFT opened #3124 "Time-to-live of -1 doesn't work with emulator and Azure Stack"
1. Launch Storage Explorer while targeting Azure Stack.
2. Open a queue and click Add Message.
3. Enter a message and make sure "Time to live" is set to "None".
4. Click OK.

An error message comes up:
[code]

The reason for this error is because the API version used for Azure Stack does not yet support -1 for time to live.

[2020-06-18 20:05] MRayermannMSFT opened #3125 "Fix ADLS Gen2 commands not being disabled for no name files and folders"

[2020-06-18 22:50] JasonYeMSFT commented on #3125
For some reason, the list API don't return such blobs, even though they exist.

[2020-06-18 23:37] #3125 closed

[2020-06-19 07:20] bobsun0917 opened #3126 "Storage Explorer using a proxy fails to upload/download files from Azure Storage Account with error "x509: certificate signed by unknown authority""
**Storage Explorer Version**: 1.13.1
**Build**: 20200515.1
**Azcopy Version**:10.4.2
**Platform/OS**: Windows
**Architecture**: amd64
**Regression From**: Not a regression

**Issue Descriptions**:
We're using a **proxy** to connect to azure storage account with azure storage explorer. We can successfully set up the connection using storage explorer and view the files in the container, but fail to

[2020-06-19 09:55] v-xianya opened #3127 "The queue editor doesn't close after detaching the attached queue"
**Storage Explorer Version:** 1.14.0
**Build**: 20200619.4
**Branch**: rel/1.14.0
**Platform/OS:** Windows 10/ macOS Catalina / Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From**: Previous release(1.13.1)

**Steps to reproduce:**
1. Launch Storage Explorer (**Reload Storage Explorer or Open New Window** if it already opens).
2. Expand one storage account -> Queues.
3. Select one que

[2020-06-19 17:36] MRayermannMSFT commented on #1188
Still an active bug. Kicking down the down the road again. 😔

[2020-06-19 17:44] craxal commented on #3127
Duplicate of #2946. Reopening that bug.

[2020-06-19 18:05] Philliec459 opened #3128 "Cannot connect to Equinor Volve dataset"
I am trying to connect to the Equinor Volve data set per the link below.

REDACTED URL AND SAS

This is the error message that I am supposed to report.

[code]

[2020-06-19 18:34] gcormier opened #3129 "ASE Backdoor?"
Does ASE use a backdoor with the storage account keys to do actions if they are denied by RBAC?

We have an RBAC role which does not allow container deletion to work around soft-delete limitations.

[code]

We've been spending a few hours trying to debug this, when we noticed that it is actually working as intended via the Azure Portal - users CANNOT delete a container inside the storage account.

[2020-06-19 18:51] gcormier commented on #3129
Found #2728

[2020-06-19 18:51] #3129 closed

[2020-06-19 23:57] MRayermannMSFT commented on #756
Working on getting this done for 1.15...
![image](https://user-images.githubusercontent.com/21112697/85186451-eb696400-b24d-11ea-9cdd-9f428ba7adee.png)

[2020-06-21 01:05] StingyJack commented on #1108
That existing install from before 1.13.0 is exactly what the user is running into. He will just have to wait for IT to update his installation.

[2020-06-21 01:34] InteXX opened #3130 "Blob container context menu Refresh item fails to refresh the view"
**Storage Explorer Version**: 1.13.1
**Build Number**: 20200512.1
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  Unknown

## Bug Description ##
The Refresh menu item on the blob container context menu fails to refresh the view. However, clicking the 'More' ellipsis on the ToolBar and selecting Refresh does refresh the view.

## Steps to Reproduce ##
- Right-click on a blob

[2020-06-21 16:32] craxal commented on #2946
@v-xianya Not able to reproduce based on rel/1.14.0 branch (I did not reload or open a new window). If you encounter this error again, please provide more precise repro steps.

[2020-06-21 16:32] #2946 closed

[2020-06-21 16:33] #3002 closed

[2020-06-22 02:08] v-xianya commented on #2946
Hi @craxal the repro steps as below.
1. Launch Storage Explorer -> **Open a new window.**
2. Expand one storage account -> Queues.
3. Select one queue -> Attach it with SAS.
4. Detach the attached queue -> Check whether the corresponding editor is closed or not.

[2020-06-22 07:52] Bernolt commented on #2841
I am having an UnexpectedCancel too however it is only a 1Ko file.
What could I look at to understand the root of this error?

[2020-06-22 16:48] craxal commented on #2946
@v-xianya I have tested with build 20200622.2 and am not able to reproduce. The editor closes as expected when the attached queue is detached.

[2020-06-22 17:11] MRayermannMSFT commented on #244
@v-xuanzh is this still reproduceable?

[2020-06-22 17:18] MRayermannMSFT commented on #3121
@Brondahl your initial thoughts are correct. AzCopy doesn't support changing it's bandwidth limits to a set number in the middle of a transfer. 😟 I'd recommend heading over to their repository and asking for that as a feature request.

In the meantime, maybe you could:

1. at night, set transfer limit to something high
2. start a transfer which should finish while you sleep
3. wake up, set transfe

[2020-06-22 17:19] MRayermannMSFT commented on #3118
@Coegmen please see our troubleshooting guide for information on how to deal with self signed certs: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-06-22 17:20] MRayermannMSFT commented on #3117
Thanks for this feedback @brondahl, we'll share this with the AzCopy team.
Before I do that though, can you let me know what version of Storage Explorer you are using? Thanks.

[2020-06-22 17:24] MRayermannMSFT commented on #3097
Huh, that is very odd. @ah6511, can you do the following for me?

1. Open Storage Explorer
2. Go to settings -> application -> sign in
3. Make sure both "Microsoft Authentication Library (preview)" and "Verbose Authentication Logging" are checked
4. Close Storage Explorer
5. Delete all files in `/Users/<your username>/.ServiceHub/logs`
6. Re open Storage Explorer
7. Reproduce the issue
8. Close St

[2020-06-22 17:29] MRayermannMSFT commented on #3024
Closing due to lack of response.

[2020-06-22 17:29] #3024 closed

[2020-06-22 17:30] MRayermannMSFT commented on #3008
@Chris-Johnston I'll be looking to investigate what I found. I don't have any timelines to share though. I'll update this issue once I do.

[2020-06-22 17:31] MRayermannMSFT commented on #2971
Closing due to lack of response.

[2020-06-22 17:31] #2971 closed

[2020-06-22 17:32] MRayermannMSFT commented on #2950
Closing due to lack of response.

[2020-06-22 17:32] #2950 closed

[2020-06-22 17:35] MRayermannMSFT commented on #3130
@InteXX the refresh in the tree view is for refreshing that node. If you want to refresh the view on the right side, you should use the refresh button in the toolbar (as you discovered).

[2020-06-22 17:35] #3130 closed

[2020-06-22 17:37] MRayermannMSFT commented on #3128
@philliec459 what is your operating system?

[2020-06-22 17:40] MRayermannMSFT commented on #3123
@v-xianya , in the create SAS dialog, choosing between local and UTC time is merely a convenience feature. The time which is ultimately stored in the SAS is a UTC time.

Then in the connect dialog, that UTC time is taken and is displayed in local time. We do that because we think that when a user is attaching something a local time is most relevant to them.

[2020-06-22 17:40] #3123 closed

[2020-06-22 17:44] #3120 closed

[2020-06-22 17:47] MRayermannMSFT commented on #3114
@v-limu the submenu only appears if there is a custom domain configured for the storage account. Is there a custom domain configured for the account you were using to test?

[2020-06-22 17:51] craxal commented on #1298
Related to #45.

[2020-06-22 17:51] MRayermannMSFT commented on #3111
Related to #45

[2020-06-22 17:52] MRayermannMSFT commented on #3110
@v-xianya the submenu only appears if there is a custom domain configured for the storage account. Is there a custom domain configured for the account you were using to test?

[2020-06-22 17:56] Philliec459 commented on #3128
Hi,

I am working on a macbook pro.

Best Regards,

_______________________________

E. Craig Phillips
CEO and Chief Petrophysicist
Crested Butte Petrophysical Consultants

459 Cisneros Lane
Crested Butte, CO 81224
USA
Office: +1 970-343-0730
Mobile: +1 970-343-0730
email: craig@cbpetro.com
Website: www.cbpetro.com
GitHub: https://github.com/Philliec459

The information contained in this electroni

[2020-06-22 17:56] MRayermannMSFT commented on #3109
@hildo are you still seeing this?

Towards the bottom of the log we see "Azure File modified during transfer. When Azure File modified during transfer." So this was probably just a temporary issue. Try to only download/upload files when you are the only person accessing it.

[2020-06-22 18:07] MRayermannMSFT commented on #3022
@LukeMcCarthy-Versor this is by design. As @JasonYeMSFT explains, there were issues with allowing this behavior.

[2020-06-22 18:07] #3022 closed

[2020-06-22 18:09] MRayermannMSFT commented on #3001
@denilsongrupp , I'm going to close this issue now. Please open a new one if you are still having this issue occur.

[2020-06-22 18:09] #3001 closed

[2020-06-22 18:21] MRayermannMSFT commented on #2955
Closing due to lack of response.

[2020-06-22 18:21] #2955 closed

[2020-06-22 18:21] MRayermannMSFT commented on #2927
Duplicate of #1875

[2020-06-22 18:21] #2927 closed

[2020-06-22 18:23] MRayermannMSFT commented on #2914
Closing due to lack of reply. Please open a new issue if you are still having problems.

[2020-06-22 18:23] #2914 closed

[2020-06-22 18:23] MRayermannMSFT commented on #2912
Closing due too lack of response.

[2020-06-22 18:23] #2912 closed

[2020-06-22 18:23] MRayermannMSFT commented on #2911
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-06-22 18:23] #2911 closed

[2020-06-22 18:24] MRayermannMSFT commented on #2905
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-06-22 18:24] #2905 closed

[2020-06-22 18:24] #2886 closed

[2020-06-22 18:27] MRayermannMSFT commented on #2872
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-06-22 18:27] #2872 closed

[2020-06-22 18:27] #2862 closed

[2020-06-22 18:28] MRayermannMSFT commented on #2861
Duplicate of #1667

[2020-06-22 18:28] #2861 closed

[2020-06-22 18:30] MRayermannMSFT commented on #2860
Duplicate/related to https://github.com/microsoft/AzureStorageExplorer/issues/59

[2020-06-22 18:30] #2860 closed

[2020-06-22 18:31] MRayermannMSFT commented on #2846
Closing now.

[2020-06-22 18:31] #2846 closed

[2020-06-22 18:32] MRayermannMSFT commented on #2803
Closing due to lack of response. Please open a new issue if you're still having problems?

[2020-06-22 18:32] #2803 closed

[2020-06-22 18:33] MRayermannMSFT commented on #2801
Closing due to lack of response. Please open a new issue if you're still having problems.

[2020-06-22 18:33] #2801 closed

[2020-06-22 18:37] MRayermannMSFT commented on #250
Hey! We did this! 🙃 I'm going to close this since this was done. Feel free to open an issue if you have problems with any translations.

[2020-06-22 18:37] #250 closed

[2020-06-22 20:19] InteXX commented on #3130
Very good, thank you.

[2020-06-22 22:56] #2848 closed

[2020-06-22 23:07] MRayermannMSFT commented on #2632
Setting checked into master for 1.15 release.

[2020-06-22 23:09] MRayermannMSFT opened #3131 "auto detect metered connections"
Now that we've added a setting to disable downloading updates (#2632) it might be worthwhile auto detecting when on a metered connection and then suggesting enabling the setting to the user. Would help with discovery of the setting and help prevent users from getting burned by our updates.

[2020-06-22 23:10] MRayermannMSFT commented on #2632
Here's an issue to track auto detecting metered connections: https://github.com/microsoft/AzureStorageExplorer/issues/3131

[2020-06-22 23:10] #2632 closed

[2020-06-23 02:03] v-xianya commented on #3110
Hi @MRayermannMSFT Thanks for your clarification. We tried to figure out configure a custom domain for one storage account but still no idea how to create a storage account with a custom domain. Is there an storage account can be provided?🙃

[2020-06-23 02:19] v-xianya commented on #244
Hi @MRayermannMSFT Verified this issue on build 20200622.5. Not reproduce. So we closed it.

[2020-06-23 02:19] #244 closed

[2020-06-23 02:36] v-xianya commented on #2946
Hi @craxal Please see the below record.🙃 (On build 20200622.5)

https://web.microsoftstream.com/video/0323a1ff-0400-a521-8278-f1eab4f88a43

[2020-06-23 06:32] v-xianya commented on #2841
@Bernolt You can found more details by clicking the link 'Details...' append to the activity log or check AzCopy log file.

[2020-06-23 07:28] KSoehner opened #3132 "ADLS2, "Create Folder" not working, Proxy involved"
Connecting, downloading, uploading works, creating a folder does not. Connection to the net via Proxy. Error message:

{
  "name": "FetchError",
  "message": "request to https://mandalaewesteurope.dfs.core.windows.net/mandalae/EnBW%2FDressRehearsal01%2FNeuer%20Ordner?resource=directory&timeout=60 failed, reason: self signed certificate in certificate chain",
  "type": "system",
  "errno": "SELF_SI

[2020-06-23 07:55] Brondahl commented on #3121
Thanks for the confirmation.

Yes, that's roughly what I'm doing, although I'm actually just using the relatively nice "Cancel" and "Re-upload" handling:

* Set everything to upload with no limit as I go to bed.
* Cancel it when I wake up (losing the last 5-20 minutes, but nbd)
* Set limit to something safe.
* Reupload everything and select the "Do not Reupload" option for duplicates.
* Cancel tha

[2020-06-23 07:57] Brondahl commented on #3121
Scripting it sounds like it would be a good call if I needed this long-term. Fortunately I should be done pretty soon, and won't need it again once the data is on Azure.

[2020-06-23 08:07] Brondahl commented on #3117
This happened on `1.12.0`.
I upgraded to `1.13.1` a few weeks ago, but haven't tried it without the "fixed" settings.
Can do so, if you'd like.

[2020-06-23 14:12] uscagr opened #3133 "Unable to load attached Storage Account. Error: Cannot read property 'version' of undefined"
**Storage Explorer Version**: 1.13.1
**Build Number**: 20200515.1
**Platform/OS**: Windows
**Architecture**: ia32
**Regression From**:  I belive it was working but not sure if it is this version or previous one

## Bug Description ##
when I try to click on the storage account it shows up the above error
## Steps to Reproduce ##
Expand Local & Attached
Click storage account

## Expected Experience

[2020-06-23 16:28] MRayermannMSFT opened #3134 "In data table, consecutive whitespaces in queue messages are condensed into one"
1. Add a message to a queue, message contents:
[code]
2. View the message in the queue

Expected:
Message shows as
[code]

Actual:
Message shows as `a a a a`

[2020-06-23 17:38] MRayermannMSFT opened #3135 "Queue messages are shown raw in the data table"
In 1.13 and earlier, we would apply a base64 decoding to messages in the data table. In 1.14 we're just showing their raw UTF8 value.

[2020-06-23 17:47] patridge opened #3136 "Import CSV into table: Offer option to not import empty CSV rows"
**Is your feature request related to a problem? Please describe.**
I just took a CSV export from Azure DevOps and was deleting several rows from it in Excel. I didn't realize, as I deleted rows, Excel was replacing deleted rows with lines of empty commas in the CSV file itself (e.g., `,,,,`).

So, when I uploaded my 10 rows, it still processed 1,247 additional empty rows. These empty rows didn't r

[2020-06-23 18:29] natalieorsi opened #3137 "write EPIPE"
Tried to upload a zip file to a MS gov cloud blob via ASE, this is try 3. Error popup instructed me to report the following here:

[code]

I upload zip files to this blob all the time, but today it's not working.

[2020-06-23 20:35] adreed-msft commented on #3126
Hi there! We recommend adding the certificate to your machine(s)' root certificate store as that's where our trusted authorities live in AzCopy. This should resolve your issue.

[2020-06-23 22:29] MRayermannMSFT opened #3138 "Set public access is not available for adlsgen2 blob containers"
Although it is possible to, there is no option to set public access level for adls gen2 blob containers.

[2020-06-23 22:35] hildo commented on #3109
Thanks @MRayermannMSFT I have tried again and it succeeds now.

For context, this file is a log file for services running in a service fabric cluster, and this particular file is the active log file (the log file rotates every 24 hour period).  Being the active log file, it's hard to guarantee being the only process accessing it (and it's not clear to me if there was another user attempting to dow

[2020-06-24 03:22] 123Jun321 opened #3139 "About folder statistics"
Hi  Team, We are trying to get container usage of Storage Account using SDK, we foud when there are more blobs, it will spend more time to get all blobs of the container. But we found it just spend 1-2 seconds to calculate it with clicking folder statistics.

Could you tell me how you did this?

I know this may be over the scope, but it will be very appreciated if you give us some advice.

[2020-06-24 03:29] craxal commented on #3127
Reopening this bug; it is not a duplicate of #2946.

After further investigation, I found out the reason I couldn't reproduce was because my **(Local & Attached)** > **Queues** node was already expanded. Here's the root cause:

1. When a new queue connection is made, the queue extension is notified so it can produce a node in the tree.
2. The queue extension ensures that the **(Local & Attached)**

[2020-06-24 05:17] Basgar opened #3140 "I cant login on Microsoft Azure Storage Explorer"
Subscriptions for the follwowing tenants could not be retrieved:
Tenant Id: a2399009-0c6f-4b24-87b3-d7e23c17d37a, Error: {
  "name": "Error",
  "message": "connect ETIMEDOUT 13.73.240.225:443",
  "__zone_symbol__error": {
    "originalStack": "Error: connect ETIMEDOUT 13.73.240.225:443\n    at AppInsightsAsyncCorrelatedErrorWrapper.ZoneAwareError (C:\\Program Files (x86)\\Microsoft Azure Storage E

[2020-06-24 06:46] v-xianya commented on #3135
Hi @craxal @MRayermannMSFT

We verified this issue on build 20200624.3.
For Base64 encode message, message text shows expected in the data table.
 
For UTF8 encode message, message text shows as messy code in the data table. The behavior like below:
1.  Add message with content '中文',  the message in data table shows:
![image](https://user-images.githubusercontent.com/41351993/85509649-eed36580-b62

[2020-06-24 09:05] v-limu opened #3141 "The Queues node can't expand under (Attached Containers) after attaching one emulator queue"
**Storage Explorer Version:** 1.14.0
**Build**: 20200624.3
**Branch**: rel/1.14.0
**Platform/OS**: Windows 10
**Emulator:** (5.10.0.0)
**Architecture:** x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Make sure Storage Emulator(5.10.0.0) is started.
2. Expand 'Local & Attached' -> 'Storage Accounts' -> '(Emulator - Default Ports)(Key)' -> 'Queues'.
3. Create a new queue -> A

[2020-06-24 09:06] v-limu opened #3142 "Keep a consistent error dialog when creating one table and renaming one table with an existing name"
**Storage Explorer Version:** 1.14.0
**Build**: 20200624.3
**Branch**: rel/1.14.0
**Platform/OS**: Windows 10 / macOS Catalina / Linux Ubuntu 18.04
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Tables.
2. Using an existing name to create one table -> Check the popped error dialog.
3. Using an existing name to rename one

[2020-06-24 10:31] LuyandaMdanda opened #3143 "Unable to access Files Shares: Network timeout error: connect ETIMEDOUT"
**Storage Explorer Version**: 1.13.1
**Build Number**: 20200515.1
**Platform/OS**:  Windows 10
**Architecture**: ia32
**Regression From**:  Worked in the same version

## Bug Description ##
I am unable to access any of the File Shares folders in any of my Storage Accounts. When I click on a File Shares folder it attempts to load the child resources, then an error message appears.

Then I receive a

[2020-06-24 16:30] #3142 closed

[2020-06-24 17:36] MRayermannMSFT commented on #2990
Found the cause of this bug. We'll ship a fix for this in 1.15. Thanks for the patience y'all. In the meantime, you can click on the "insertion time" column header to force the sorting to be correct.

[2020-06-24 20:31] CurtMiller66 commented on #2990
Thank you.  Knowing it is fixed and will be released soon is great to hear.  I’ve been very happy with your teams response to suggestions and issues.  I wish other parts of Microsoft could work as well.

Curt

From: Matthew Rayermann <notifications@github.com>
Sent: Wednesday, June 24, 2020 10:37 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Curt Miller <CMill

[2020-06-24 20:55] sskone opened #3144 "Obscure Storage Account Secrets in UX"
**Is your feature request related to a problem? Please describe.**
The Azure Storage Explorer UX exposes account keys, SAS, etc.. in the lower left corner of the screen. During screen sharing sessions, it is possible for secrets to be exposed. A user could simply expand or widen the left nav.

**Describe the solution you'd like**
Add an option to obscure the secret values (e.g., secure string, ***

[2020-06-24 21:36] craxal commented on #3135
@v-xianya In all versions prior to 1.14.0 we always attempted to decode using Base64 in the data table. This was changed at one point to leave strings unencoded (UTF-8). However, it's unclear which encoding most users use, and changing the default would likely look strange for users not expecting it. This bug was logged to make sure we revert to the previous behavior.

[2020-06-24 21:36] #3135 closed

[2020-06-24 23:23] craxal commented on #399
Not entirely sure why this items was closed, as nothing except preliminary code has actually been merged yet.

[2020-06-24 23:26] MRayermannMSFT commented on #2990
Thanks @CurtMiller66 that honestly means a lot to hear. 😊 Makes my day feel quite a bit better.

[2020-06-24 23:27] legra-ms commented on #399
+1.  Being able to log these events whether it's a text file or via OS-level logging would be extremely useful in auditing user activity for event log aggregation.

[2020-06-25 03:19] p11angel opened #3145 "Permission definition issue"
**Storage Explorer Version**: 1.13.1
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

{
  "message": "\"{\\n  \\\"name\\\": \\\"Error\\\",\\n  \\\"message\\\": \\\"This request is not authorized to perform this operation using this permission.\\\\nRequestId:1e5bd7e6-401f-0030-6a9e-4a8386000000\\\\nTime:2020-06-25T03:11:05.3011655Z\\\",\\n  \\\"stack\\\": \\\"Error: This r

[2020-06-25 06:02] rbharathkumar opened #3146 "User Install Setup similar to Azure Data Studio and VS Code"
**Is your feature request related to a problem? Please describe.**
Unable to install or update Azure Storage Explorer without Administrative Privileges.

**Describe the solution you'd like**
It would be great to have a user install setup similar to how Azure Data Studio and VS Code have.

**Additional context**
We have remote desktops where we do not have administrative privileges and sometimes we

[2020-06-25 15:32] ArunKrishnamoorthi commented on #3118
MS Link Provided is not resolving the issue

[2020-06-25 15:40] lgrobost opened #3147 "Unable to open BlobContainer"
Unable to retrieve child resources.

Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:28e149f9-101e-0021-2a06-4b55a6000000\nTime:2020-06-25T15:35:16.8331024Z</Message><AuthenticationErrorDetail

[2020-06-25 16:08] JasonYeMSFT commented on #3143
Have you turned on any proxy?

[2020-06-25 17:34] jinglouMSFT commented on #3146
Duplicate of #1108.  Please take a look at #1108 to see if that is what you are looking for.  Thanks.

[2020-06-25 17:34] #3146 closed

[2020-06-25 22:43] #2598 closed

[2020-06-26 00:43] ato9000 commented on #1903
Why is this issue being reported under Azure Cosmos DB/Shireesh Thota?

[2020-06-26 00:52] jinglouMSFT commented on #1903
@ato9000 where did you see this being reported under Cosmos DB?

[2020-06-26 06:20] MRayermannMSFT commented on #3103
Fix merged into master for 1.15.0

[2020-06-26 06:20] #3103 closed

[2020-06-26 06:20] MRayermannMSFT commented on #2990
Fix merged into master for 1.15.0

[2020-06-26 06:20] #2990 closed

[2020-06-26 15:29] ahippie opened #3148 "Notifications bar blocks tab access"
When Storage Explorer displays a message, the message is displayed directly over the top of the tabs at the top of the app. There doesn't appear to be any way to move it or to configure it. It shows up whenever the app has a message to display and will show up again repeatedly if you close the message.

The messages are extremely intrusive. It would be ideal if there were a small notifications ico

[2020-06-26 16:41] DanielStout5 commented on #2956
I'm experiencing the same issue. This breaks service workers on both Firefox and Chrome - Chrome has the most useful error message:

[code]

I fixed it by manually changing the content type from text/plain to application/javascript, but like annupurna said it's not realistic to manually right click each individual .js file and set its content type.

It correctly determines other file types (text/h

[2020-06-26 17:54] ato9000 commented on #1903
It is showing in Service 360: https://vnext.s360.msftcloudes.com/blades/globalandtrusted?blade=KPI:b6a943f5-486a-e3bc-8ede-b2b10c7b680c~SLA:3~Forums:All~AssignedTo:All~_loc:GlobalAndTrusted&def=&tile=severity:A11ySev2~_loc:__key__GlobalAndTrusted__b6a943f5-486a-e3bc-8ede-b2b10c7b680c&global=4:724c33bf-1ab8-4691-adb1-0e61932919c2

[2020-06-26 18:05] jinglouMSFT commented on #1903
Please email Alexandria-R to make the change. My team and I didn't set that up.  Thanks.

[2020-06-26 21:09] Philliec459 commented on #3128
Is there any update on the problem?

[2020-06-28 06:05] v-limu commented on #3027
Verified on build 2020062702. This issue has been fixed. So close it.
![image](https://user-images.githubusercontent.com/54055206/85939444-3e2ad600-b948-11ea-9a63-7f5373f53822.png)

[2020-06-28 06:05] #3027 closed

[2020-06-28 06:37] v-limu commented on #3037
Verified on build 2020062702. This issue has been fixed. So close it.

[2020-06-28 06:37] #3037 closed

[2020-06-28 06:37] v-limu commented on #3047
Verified on build 2020062702. This issue has been fixed. So close it.

[2020-06-28 06:37] #3047 closed

[2020-06-28 09:10] v-limu opened #3149 "There are strings not localized in clone one file/folder dialog for one file share"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200627.2
**Branch**: master
**Language**: All
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous Release(1.13.1)

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文(简体)' -> Restart Storage Explorer.
3. Expa

[2020-06-28 09:24] v-xianya opened #3150 "The localized string 'Search by prefix (case sensitive)' shows incompletely in Japanese"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200627.2
**Branch**: master
**Language**: Japanese
**Platform/OS:** Windows 10/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '日本語' -> Restart Storage Explorer.
3. Expand one storage account ->

[2020-06-28 10:23] rbharathkumar commented on #3146
Thank you for your response. I see the option has been added since the 1.13 version.
I had to request help to first uninstall the existing 1.12 version before installing the newer verson..
But good to see that the option was available. Thank you for all the work..

[2020-06-29 06:43] v-xianya commented on #2348
Verified this issue on build 20200627.2.
The word **Snapshots** is not localized in the path information of the snapshot for one file share. So we re-open it.
![image](https://user-images.githubusercontent.com/41351993/85981520-e4dda800-ba16-11ea-87e0-1c519067bdce.png)

[2020-06-29 07:50] KaraboM2 opened #3151 "We didn't find any Microsoft Azure subscriptions associated with your account."
I'm using my Azure master account to log in and I'm getting the below error - I am told to "Sign up for a subscriptions

﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. RequestId:0d5d7d56-a01e-0098-07e2-4d1bbb000000 Time:2020-06

[2020-06-29 09:05] v-xianya opened #3152 "There are untranslated strings in Rename Table dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200627.2
**Branch**: master
**Language**: All
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '日本語' -> Restart Storage Explorer.
3. Expand one stor

[2020-06-29 11:39] #3151 closed

[2020-06-29 17:19] MRayermannMSFT commented on #3117
@Brondahl , we talked to the AzCopy team and here's what we learned.

Because of your low bandwidth network, for you, the default setting is probably not going to work. It's recommended you change to doing "Adjust dynamically" for "Network concurrency":
<img width="617" alt="image" src="https://user-images.githubusercontent.com/21112697/86035739-ab467600-b9f1-11ea-9a21-621d127e9a05.png">

For most

[2020-06-29 17:20] MRayermannMSFT commented on #3032
@JonathanMaccollum and @GillesZunino can you try enabling MSAL in the settings? Settings -> Authentication -> Microsoft Authentication Library (Preview)?

[2020-06-29 17:21] MRayermannMSFT commented on #3086
@SamVanhoutte no, it should just work. Can you share what eGPU you're using? We're going to try and see if the Electron team can be of any help on this as at this point we're not sure what else to try.

[2020-06-29 17:22] MRayermannMSFT commented on #264
@shaneh2 are you still looking for this? Since you've opened your issue, we've made lots of improvements to data transferring, specifically by switching to using AzCopy in the background. AzCopy usually is willing to retry transfers many times before giving up.

[2020-06-29 17:24] MRayermannMSFT commented on #3061
@AtomicNibble we talked to the AzCopy team and they would prefer this be implemented as a convenience feature in Storage Explorer. With that said, for now we're going to hold off on implementing this. We'll keep an eye on this issue and look for additional feedback from users who want this issue.

[2020-06-29 17:27] MRayermannMSFT commented on #3148
@ahippie you can dismiss the bar using "Close" or by choosing to update (which is what I'd prefer 😋). Is there some reason you don't want to upgrade?

[2020-06-29 17:28] MRayermannMSFT commented on #3147
@lgrobost how are you connecting to your Azure Storage? Are you Attaching with Azure AD, or browsing resources under a subscription?

[2020-06-29 17:29] MRayermannMSFT commented on #3132
@KSoehner what version of Storage Explorer are you using?

[2020-06-29 17:35] MRayermannMSFT commented on #3145
@p11angel can you make sure that you have write permissions on the directory whose ACL you are trying to change? This error means that you don't have the needed permissions (write) to do that.

[2020-06-29 17:35] KSoehner commented on #3132
1.13.1

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Matthew Rayermann <notifications@github.com>
Sent: Monday, June 29, 2020 7:29:33 PM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: KSoehner <K.Soehner@outlook.de>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] ADLS2, "Create Folder" n

[2020-06-29 17:37] MRayermannMSFT commented on #3144
Use 1.16 to investigate this issue.

[2020-06-29 17:38] MRayermannMSFT commented on #3143
Do you have any firewalls setup with your file shares? Are you able to access other resource types, likes blobs, queues, or tables?

[2020-06-29 17:39] MRayermannMSFT commented on #3141
@v-limu , we're unable to repro this. Please reopen if you can still repro.

[2020-06-29 17:39] #3141 closed

[2020-06-29 17:41] MRayermannMSFT commented on #3140
@Basgar a couple questions:

- What version of Storage Explorer are you using?
- Are you behind a proxy? You can look at our troubleshooting guide for more info on how to setup your proxy settings: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#proxy-issues

[2020-06-29 17:43] MRayermannMSFT commented on #3139
@123Jun321 we simply list all the blobs under the selected folders and blobs and add up their size. Does that answer your question?

[2020-06-29 17:44] MRayermannMSFT commented on #3137
@natalieorsi what version of Storage Explorer are you using? At point in the upload process are you seeing this error?

[2020-06-29 17:49] MRayermannMSFT commented on #3118
@ArunKrishnamoorthi can you elaborate on what you've tried from the troubleshooting link?

[2020-06-29 17:50] MRayermannMSFT commented on #3114
@v-limu  ?

[2020-06-29 17:52] MRayermannMSFT commented on #3110
@craxal will help y'all set something up.

[2020-06-29 17:53] MRayermannMSFT commented on #3109
No worries. Just know in the future you might have to try a few times for this file.

[2020-06-29 17:53] #3109 closed

[2020-06-29 17:54] MRayermannMSFT commented on #3060
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-06-29 17:54] #3060 closed

[2020-06-29 17:55] MRayermannMSFT commented on #3056
Let's treat this like we did custom domains, and for gen2 containers, have copy url be a pop out menu which contains options for copying the various URLs.

[2020-06-29 17:56] Smille02a commented on #3060
How many Goddam posts do you have make to convey this?

Thank you.
--
Regards,
Stephen W.  Miller
smille02@msn.com<mailto:smille02@msn.com>  @Smille02  Skype:live:smille02
Cell: +1 917.704.5934<tel:+1%20917.704.5934> Fax:  +1 212.225.8247<tel:+1%20212.225.8247>
www.linkedin.com/in/swmps<http://www.linkedin.com/in/swmps>

On Jun 29, 2020, at 1:54 PM, Matthew Rayermann <notifications@github.com> wro

[2020-06-29 17:57] MRayermannMSFT commented on #2289
Related: https://github.com/microsoft/AzureStorageExplorer/issues/2956

[2020-06-29 17:57] MRayermannMSFT commented on #2956
Related: https://github.com/microsoft/AzureStorageExplorer/issues/2289

[2020-06-29 17:59] MRayermannMSFT commented on #2841
Let's make sure to tell AzCopy about this. @Bernolt I'd recommend opening your own issue. And as @v-xianya said, if you click on "Details..." that should hopefully give you more information on to why AzCopy failed.

[2020-06-29 18:03] MRayermannMSFT opened #3153 "Storage Explorer fails to detect an emulator running on another machine is an emulator, leading to errors"
1. Start Storage Emulator on another machine
2. Connect Storage Explorer to that emulator
3. Do something where Storage Explorer has special behavior if the target of an operation is an emulator, like deleting blobs

Expected: special logic works and operation succeeds
Actual: special logic fails and operation potentially fails

[2020-06-29 18:04] MRayermannMSFT commented on #3153
Example of this happening from: https://github.com/microsoft/AzureStorageExplorer/issues/2818#issuecomment-640617319

`$env:AZCOPY_CRED_TYPE = "Anonymous";
./azcopy.exe remove "http://10.0.0.19:18888/devstoreaccount1/test/Sada-1.jpg?REDACTED" --recursive
$env:AZCOPY_CRED_TYPE = "";`

`DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6

[2020-06-29 18:06] MRayermannMSFT commented on #3153
@harshithjv , can you explain why you're running you emulator on a remote machine? We believe that is the root of your issue.

[2020-06-29 18:06] MRayermannMSFT commented on #2818
@harshithjv we've opened a new issue for what you're seeing. I have some questions for you there.

[2020-06-29 18:10] MRayermannMSFT commented on #3060
@Smille02a , are you receiving lots of notification emails about our repo? If so, you can edit your GitHub notification settings here: https://github.com/settings/notifications

If at some point you "starred" or "watched" this repo, that might be contributing to the emails you received.

[2020-06-29 18:11] MRayermannMSFT commented on #2718
Closing due to lack of response. Please open a new issue if you're still having problems.

[2020-06-29 18:11] #2718 closed

[2020-06-29 18:15] MRayermannMSFT commented on #2603
@lberny since you haven't replied in a while we're going to go ahead and close this issue. If you're still having problems please open a new one.

@phant0mski can you please open an issue for yourself?

[2020-06-29 18:15] #2603 closed

[2020-06-29 18:19] evictor opened #3154 "Garbled message text in 1.14.0"
**Storage Explorer Version**: 1.14.0 -- just after upgrade, so probably newly introduced bug
**Build Number**: 20200624.3
**Platform/OS**: macOS Catalina 10.15.5
**Architecture**: x64
**Regression From**: Yes, prior release

## Bug Description ##
Message text appears as seen in screenshot in the table, whereas it appears correctly in the "View Message" popup.

![image](https://user-images.githubus

[2020-06-29 18:20] MRayermannMSFT commented on #271
Investigate root cause in 1.16

[2020-06-29 18:44] shaneh2 commented on #264
Thank you for letting me know about this. I haven’t used Azure in the past while (but plan to in the future), though it’s good to know this is fixed.

At first glance, I wonder should it take advantage of the fix in the azcopy bug over unreliable (WiFi) connections I had on my Windows computer https://github.com/Azure/azure-storage-azcopy/issues/191#event-2258196018 .

[2020-06-29 20:56] JasonYeMSFT commented on #3128
@Philliec459 Usually this type of issue is caused by corrupted data in the browser local storage. Unfortunately we haven't been able to figure out why the local storage data is corrupted on some users' machines but we have seen the "Error occurred while adding new connection: TypeError: Cannot read property 'version' of undefined" steps in our troubleshooting guide helpful in working around this i

[2020-06-29 21:14] Philliec459 commented on #3128
Thank you,

I have no real data to clear. However, since I have tried this a few times already, there is probably some file that is hindering me now. I will clear everything and start over again.

Best Regards,

_______________________________

E. Craig Phillips
CEO and Chief Petrophysicist
Crested Butte Petrophysical Consultants

459 Cisneros Lane
Crested Butte, CO 81224
USA
Office: +1 970-343-07

[2020-06-29 21:29] JasonYeMSFT commented on #3128
@Philliec459, if the troubleshooting step doesn't work, it would be great if we can schedule a call to debug the issue on your machine so that we can help you resolve the issue as well as study the actual cause of it. Let us know if it is possible, what time do you prefer and what kind of tool (e.g. Teams, Skype, Slack, Zoom etc) do you prefer to make the call.

Thanks

[2020-06-29 22:38] ahippie commented on #3148
This was one example. I actually selected Install on Close in this case. There are various popups that display. The most intrusive are related to the case where I have added access to items that require a login I don't typically use. When the login expires, there is a popup displayed. It displays multiple times in a session prompting me to login to that account. The point is that the messages is i

[2020-06-29 23:08] strykerin opened #3155 "When Storage Explorer is in dark mode the text color inside the Text Box to query in Azure Cosmos DB becomes white when mouse is over it"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**:Windows 10

## Bug Description ##
When Storage Explorer is in dark mode, the text color inside the Text Box to query in Azure Cosmos DB becomes white when mouse is over it.

When I query for a particular document in a collection there is a Text Box that starts with: "SELECT * FROM c" and then I write down the query.

[2020-06-29 23:41] #1903 closed

[2020-06-29 23:42] #1924 closed

[2020-06-30 00:25] MRayermannMSFT commented on #3148
Good stuff.

That's actually why we use that style of notification for certain things (though I will admit, maybe some stuff which is using it today shouldn't be). We currently have three ways of letting users know about things, and how we use them depends on how critical we deem the message:
- If we think the thing is something the user needs to know about but maybe not handle literally right tha

[2020-06-30 01:26] p11angel commented on #3145
@MRayermannMSFT Even though I am the owner of the directory?Do I still need to define a specific write permission to it?

[2020-06-30 02:04] v-limu commented on #3114
Hi @MRayermannMSFT  Details as below:😊
1. 'Custom Domain' property displays on 'Properties' panel after selecting one blob container.
![image](https://user-images.githubusercontent.com/54055206/86073739-fd9d9a80-bab6-11ea-8176-677dc568104d.png)

2. No 'Custom Domain' property displays after adding the blob container to Quick Access.
![image](https://user-images.githubusercontent.com/54055206/86074

[2020-06-30 02:42] v-xianya opened #3156 "Can open multiple Settings tabs"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200630.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**

1. Restart Storage Explorer.
2. Click the Settings icon continuously -> Check the result.

**Expect Experience:**
Only one Settings tab is opened.

**Actu

[2020-06-30 02:54] v-xianya commented on #3107
Hi @MRayermannMSFT
 Verified this issue on build master/20200630.1.
1. The property 'Lease Status' displays well for one existing ADLS Gen2 blob container.
![image](https://user-images.githubusercontent.com/41351993/86078116-f333ce80-babf-11ea-95ec-e2a8ef24e934.png)

2. The property 'Lease Status' doesn't auto display for one **new created ADLS Gen2** blob container.

[2020-06-30 06:44] Geraint87 opened #3157 "Unable to retrieve child resources"
**Storage Explorer Version**: 1.14 (also happened before I upgraded)
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  This working a few weeks ago. Not aware of an upgrade that happened to break it.

## Bug Description ##
I am trying to load the local Storage Emulator but the connection times out with error message:
[code]

[code]

## Steps to Re

[2020-06-30 07:27] SamVanhoutte commented on #3086
Hello,
It's The BLackMagic design eGPU

[2020-06-30 07:44] rdotsch commented on #3086
Sorry, I might not have been clear in my previous post, but the issue occurs here without eGPU. The new build didn't solve this issue.

[2020-06-30 08:11] v-xianya opened #3158 "'Acquire Lease' is disabled for one new uploaded ADLS Gen2 blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200630.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Launch Storage Explorer.
2. Expand one ADLS Gen2 storage account -> Blob Containers.
3. Create a blob container -> Upload one blob.
4. Right click the uploaded b

[2020-06-30 09:49] v-limu commented on #3141
Hi @MRayermannMSFT

Verified this issue with **Emulator (5.10.0.0) and Azurite (3.7.0)** on build 20200630.1. This issue still reproduces.😢

**More Info:** Miss account name in the queue SAS URI.
![image](https://user-images.githubusercontent.com/54055206/86111755-b8e72300-baf9-11ea-8faa-e53ae6163f08.png)

[2020-06-30 12:17] mlankamp opened #3159 "Uunexpected error: Invalid integer"
**Storage Explorer Version**: 1.4.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: X64
**Regression From**:  1.13.1

## Bug Description ##
Error: Invalid integer: 1#695
    at AppInsightsAsyncCorrelatedErrorWrapper.ZoneAwareError (C:\Program Files (x86)\Microsoft Azure Storage Explorer\resources\app\node_modules\zone.js\dist\zone-node.js:811:33)
    at new AppInsightsAs

[2020-06-30 13:25] jain6968 opened #3160 "Issue while syncing local storage explorer with blob storage"
**Storage Explorer Version**: 2.1.0
**Build Number**:
**Platform/OS**: Windows 10
**Architecture**: X64
**Regression From**:  Not tested earlier

## Bug Description ##
Unable to retrieve child resources.

Details:
["RestError:request to https://localvideostor.blob.core.windows.net/?include=metadata&comp=list failed, reason: getaddrinfo ENOTFOUND localvideostor.blob.core.windows.net"]

## Expected

[2020-06-30 16:10] MRayermannMSFT commented on #3159
@mlankamp what were you trying to do when thiss happened?

[2020-06-30 16:12] MRayermannMSFT commented on #3154
@evictor is there a chance you could share the full message with us? Or maybe a different one which is also affected by this issue?

[2020-06-30 17:05] jstawski opened #3161 "Cosmos DB results in Parse Error: Header overflow (HPE_HEADER_OVERFLOW)"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: macOS 10.15.4 (Catalina)
**Architecture**: x64
**Regression From**:  Yes

## Bug Description ##
Running very simple queries against `Cosmos DB results in Parse Error: Header overflow`

## Steps to Reproduce ##
Query a Cosmos Db Collection. Some queries work others don't.
This query is not working for me: `select * f

[2020-06-30 17:20] amattap opened #3162 "AuthorizationPermissionMismatch Error"
**Storage Explorer Version**:  1.13.1, 1.14.0
**Build Number**:  20200624.3
**Platform/OS**:  Windows 10
**Architecture**:  x64
**Regression From**:   Yes but this didn't happen after I updated from one version to the next

## Bug Description ##

Every time I try to log in to my storage account, I can't access any container under any subscription. This has been happening for a couple weeks now. It

[2020-06-30 17:48] craxal commented on #3112
The time to live for the requeued message is the original message's remaining time to live, which is calculated by subtracting the insertion time from the expiration time. This doesn't work well if the message's time to live was set to -1, which appears as an expiration time of 9999-12-31T23:59:59.000Z. The best solution here is to default to 7 days (the maximum time to live) in the case of emulat

[2020-06-30 17:50] craxal commented on #3124
We can disable the "None" option for Azure Stack. While we can do the same for emulator, Azurite in particular does support infinite time to live. Since there's no way for us to know which emulator we're working it, it's not worth trying to disable this option for emulators.

[2020-06-30 18:16] jinglouMSFT commented on #3160
hmm...this is confusing.  What exactly is the product you are using?  We don't have a Storage Explorer version 2.1.0.  The latest version we have released is v1.14.0.

[2020-06-30 18:54] MRayermannMSFT commented on #3107
Ok, fix fully checked into master now. Closing.

[2020-06-30 18:54] #3107 closed

[2020-06-30 18:57] MRayermannMSFT commented on #2360
This bug is no longer reproducing.

[2020-06-30 18:57] #2360 closed

[2020-06-30 19:46] snowman907 opened #3163 "auhenticationFailed : unable to retrieve child resources"
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:6efbdc78-601e-0081-4814-4f3158000000\nTime:2020-06-30T19:27:39.0331292Z</Message><AuthenticationErrorDetail>Signature not valid in the specified time fra

[2020-06-30 20:49] evictor commented on #3154
Sorry, I should have mentioned this is with an Azure queue.

Here is a simple example of adding a message "Test 123" with UTF-8 encoding:

![image](https://user-images.githubusercontent.com/1620156/86175496-4f0a5180-bad8-11ea-8d42-14f6d0a90939.png)

And then the garbled result as it appears in the table:

![image](https://user-images.githubusercontent.com/1620156/86175558-68130280-bad8-11ea-9a11-b

[2020-06-30 20:50] felickz opened #3164 "Login with non home tenant AAD + intercepting proxy - Unable to retrieve child resources. / --ignore-certificate-errors throws Cannot read property 'MessageIgnoreSSLError'"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  not working previously

## Bug Description ##
When enabling MSAL Authentication preview, and further attempting to browse to a blob container - application fails with error:

[code]

FURTHER, if trying to use:
`.\StorageExplorer.exe --ignore-certificate-errors`

[2020-07-01 04:42] jain6968 commented on #3160
Yeah, sorry I am using 1.14.0 latest one. I mentioned the python lib version 2.1.0, so plz ignore that.

[2020-07-01 07:24] v-xianya commented on #3089
This issue is fixed on build master/20200701.3. So close it.

[2020-07-01 07:24] #3089 closed

[2020-07-01 07:30] mlankamp commented on #3159
I've updated the version to 1.4.0 and just started the explorer again. On startup I get this error (solved for now by deleting all my settings).

[2020-07-01 09:24] v-xianya opened #3165 "The value of 'Access Tier Last Modified' doesn't display after changing access tier for one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200701.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Launch Storage Explorer.
2. Expand one GPV2 or Blob storage account -> Blob Containers.
3. Create a blob container -> Upload a blob -> Update its access tier.
4.

[2020-07-01 09:31] v-xianya opened #3166 "The value of 'Access Tier Last Modified' disappears after acquiring lease for one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200701.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Launch Storage Explorer.
2. Expand one GPV2 or Blob storage account -> Blob Containers.
3. Create a blob container -> Upload a blob -> Update its access tier.
4.

[2020-07-01 09:41] v-limu opened #3167 "An extra 'Target Access Tier' option shows in 'Upload' dialog for one file share"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200701.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.0)

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Expand one storage account -> File Shares
3. Open one file share -> Click 'Upload' -> Check the popped dialog.

**Expect Exp

[2020-07-01 13:49] jdobr opened #3168 "Opening 'File/New Window' does not show 'Local & Attached' Storage Accounts visible in first one."
**Storage Explorer Version**: 1.14
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**: Not tested on previous versions

## Bug Description ##
Opening 'File/New Window' does not show 'Local & Attached' Storage Accounts visible in first window.

## Steps to Reproduce ##
Initial window of MASE Local&Attached -> right click on Storage Accounts -> add som

[2020-07-01 13:57] BrianVallelunga commented on #3041
I never heard back from anyone on this, but I am happy to say that the new 1.14 build has resolved the issue. Perhaps it was the update to Electron that did it.

[2020-07-01 13:57] #3041 closed

[2020-07-01 15:05] southpolesteve commented on #3041
@BrianVallelunga Very sorry I never got back to you. I am seeing just now your email got filtered into spam. Glad the latest version resolves it.

[2020-07-01 15:50] Hundet opened #3169 "AzureStoreageExplorer Error Message"
Struggling to get the storage explorer to work. Getting the following error.  I can see the fileshare, but can't open it.  I'm new to Azure - so please be gentle

Unable to retrieve child resources.

Details:
This request is not authorized to perform this operation.
RequestId:c574339a-b01a-0034-71bd-4f6296000000
Time:2020-07-01T15:36:27.6783169Z

[2020-07-01 15:57] Hundet commented on #3169
It was a firewall issue - I figured it out.  Now if I could only get my Site to Site VPN fixed that quickly.

[2020-07-01 15:57] #3169 closed

[2020-07-01 18:19] JasonYeMSFT commented on #2103
We have done some integration work to enable copying data in ADLS Gen2 blob containers via AzCopy. Unfortunately, we don't support preserving ACLs between copies.

[2020-07-01 18:21] MRayermannMSFT commented on #3159
@mlankamp do you mean version 1.14.0 ? Also are you saying you aren't seeing any issues now?

[2020-07-01 18:26] JasonYeMSFT commented on #3164
@felickz, we only support base64 encoded certificate. Could you try getting a base64 encoded cert and import it instead? You also need to configure the proxy hostname and port in our proxy settings. If you haven't, in the app menu, please go to Edit -> Configure Proxy to setup your proxy settings.

[2020-07-01 18:32] JasonYeMSFT commented on #3157
The error is usually caused by local storage emulator not running on the port you specified (10001 in your example). Could you please verify if the emulator is running and you are running it at the correct port? The port for the emulator services will be printed on its startup in the console.

[2020-07-01 18:38] MRayermannMSFT commented on #3164
@felickz at what point in the tree are you getting this error? Is it:

- after expanding the subscription node
- after expanding the storage accounts node
- after expanding a specific storage account node
- after expanding the blob containers node

[2020-07-01 18:39] FelixMerlin opened #3170 "Unable to load containers in Azure Storage Explorer"
Version: 1.14.0
AzCopy Version: 10.4.2

Platform: Windows
Architecture: ia32
Build Number: 20200624.3
Commit: b41cec93f
Support ID: d20220bb-1f3d-f120-8020-242085690395

## Bug Description ##
Unable to retrieve child resources.  Details: ["FetchError:request to https://xxxxxxx.blob.core.windows.net/?include=metadata&comp=list failed, reason: unable to get local issuer certificate"]

Read the docum

[2020-07-01 18:45] evictor commented on #3154
Got it—thank you for the great product

On Wed, Jul 1, 2020 at 11:43 AM Matthew Rayermann <notifications@github.com>
wrote:

--
- Zeke

[2020-07-01 18:48] MRayermannMSFT commented on #3163
@snowman907 how are you accessing your storage? Are you:

- signing in and browsing all resources underneath a subscription
- signing in and then attaching a specific resource via attach with Azure AD

[2020-07-01 21:04] pradeepthampi opened #3171 "Not able to access container"
Unable to retrieve child resources.

Details:
getaddrinfo ENOTFOUND bck0207.file.core.windows.net

[2020-07-01 21:28] mjgabriel commented on #3161
Same issue as OP.

Storage Explorer Version: 1.14.0
Build Number: 20200624.3
Platform/OS: Windows
Architecture: ia32

## Bug Description
Running very simple queries against Cosmos DB results in Parse Error: Header overflow

## Steps to Reproduce
Run a simple query against a container/collection. Some work, others, for some reason, do not.

**Failing Query:**
`SELECT * FROM c where c.ProcessStatus=

[2020-07-01 21:29] abatishchev opened #3172 "No way to add CosmosDB emulator account to Quick Access"
**Is your feature request related to a problem? Please describe.**

I can right click on Storage emulator account to add it to Quick Access:

![image](https://user-images.githubusercontent.com/351644/86293182-f9e94100-bba6-11ea-9caa-1235a72219dc.png)

However I cannot do that for CosmosDB emulator account:

![image](https://user-images.githubusercontent.com/351644/86293230-14231f00-bba7-11ea-8770-

[2020-07-01 21:35] #3124 closed

[2020-07-01 21:35] #3112 closed

[2020-07-01 21:41] abatishchev opened #3173 "Requeue Message on deleted message does nothing, used to requeue"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10 x64
**Architecture**: ia32
**Regression From**:  Yes, it was working in 1.13.0

## Bug Description ##

Clicking Requeue Message on a queue message that was already consumed and deleted from the queue does nothing. In previous version it used to requeue its "cached" (currently displayed) version from the m

[2020-07-01 21:46] MRayermannMSFT commented on #2986
Done.

[2020-07-01 21:46] #2986 closed

[2020-07-01 22:03] #3110 closed

[2020-07-01 23:33] Geraint87 commented on #3157
Thanks! 😅  I didn't realise Storage Emulator had stopped! Saying that in the error message would be better, and a way of starting the emulator from Storage Explorer too.

[2020-07-02 00:29] MRayermannMSFT commented on #2986
Use build #20200702.2 or later for testing this

[2020-07-02 01:22] v-xianya commented on #3110
Hi @craxal Thank you for the help.

 Also there are two things need to confirm with you😀 Are these expected?
1. For one new created blob container, It requires a refresh to show the 'Custom Domain'.
2. For one new created blob container and its property 'Custom Domain' already shows, then upload one blob to it. It need to reopen the blob container to make the sub-menu of Copy URL shows.

[2020-07-02 01:30] 123Jun321 commented on #3139
Hi  @MRayermannMSFT

Thanks for your answer, you can close this case. Thanks  a lot!

[2020-07-02 01:54] v-xianya commented on #2986
This issue is fixed on build 20200702.2

[2020-07-02 02:22] v-xianya commented on #3127
Hi @craxal
This issue still reproduces on build 202007020.2.
We will verify this issue on the later build.

[2020-07-02 04:53] southpolesteve commented on #3161
Unfortunately, this is a known issue with the Cosmos V1 JavaScript SDK which is used by Storage Explorer. It will exceed the header limits under certain query conditions. We fixed it in V3 SDK but we have not yet been able to switch Storage Explorer to the new SDK. You will need to use the Azure Portal or https://cosmos.azure.com/ as a workaround.

[2020-07-02 06:30] v-limu commented on #2785
Verified on build 20200702.2, The actual result shows as below:
![image](https://user-images.githubusercontent.com/54055206/86324000-71cf6e00-bc70-11ea-944b-9ae89cf13088.png)

[2020-07-02 08:50] jain6968 commented on #3160
To add  further details, I am using IOTedge deployment template for deploying blob storage on edge service
Below is deployment template for IOT edge,
{
  "modulesContent": {
    "$edgeAgent": {
      "properties.desired": {
        "modules": {
          "camera-capture": {
            "settings": {
              "image": "cvacr2020.azurecr.io/cameracapture:0.2.8-test-amd64",
              "create

[2020-07-02 09:29] donquijotedelamancha commented on #2738
I can see this feature now on version 1.14 and is working as expected. Thank you so much for implementing this!

[2020-07-02 12:23] mlankamp commented on #3159
Sorry, I did mean 1.14.0. No the issue is gone, after I deleted the %appdata%\Roaming\StorageExplorer folder. But there seems to be an upgrade issue that you should be aware of.

[2020-07-02 13:59] neilrees commented on #1531
Thanks @jinglouMSFT can confirm that upgrading to Windows 2004 has solved this 👍

[2020-07-02 16:22] mjgabriel commented on #3161
How is it the past versions of Storage Explorer didn't toss this error? Curious.

[2020-07-02 16:26] southpolesteve commented on #3161
It's probably due to picking up new versions of Electron and Node. NodeJS decreased their max header size significantly a while back https://github.com/nodejs/node/issues/24731

[2020-07-02 16:37] mjgabriel commented on #3161
Thanks @southpolesteve for the extra info.

I've returned to an earlier version of the app (v 1.12.0) for the time being.

[2020-07-02 16:48] #3157 closed

[2020-07-02 17:25] mjgabriel commented on #2357
As a workaround I drag the bar to resize the query and result windows and the windows redraw themselves. It's a very frustrating thing to deal with when using this app.

Same platform as OP

Platform/OS: Windows 10
Architecture: ia32

[2020-07-02 17:56] mjgabriel opened #3174 "Provide Option To Disable Checking For Updates"
**Is your feature request related to a problem? Please describe.**
Currently I am using an older version of Storage Explorer due to [issue 3161](https://github.com/microsoft/AzureStorageExplorer/issues/3161).

**Describe the solution you'd like**
I would like to disable checking for updates so I don't have to dismiss the update notification whenever I use Storage Explorer.

**Describe alternatives

[2020-07-02 18:01] jinglouMSFT commented on #1531
That's great.  Thanks much for letting us know.

[2020-07-02 22:25] andystevens91 commented on #1887
Hi, I just found the same issue on Ubuntu 20.04. I tried to solve the issue by following advice in this thread, but `libgnome-keyring0` and `libgnome-keyring-common` are not available anymore in the repositories.

[2020-07-03 00:24] michaeldrouin commented on #3154
What's happening is the queue message when you open it shows fine, but in the queue list it's trying to decode UTF-8 to Base-64. you can see this by taking what is in your queue message in UTF-8 format and decoding it _from_ Base-64 (not encoding it _to_ Base-64).

[2020-07-03 02:52] v-xianya opened #3175 "The azure account was added via the deleted environment still shows well on the account panel"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200702.2
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open connect dialog -> Select 'Add New Environment' -> Next.
3. Input the environment a name and arm endpoint (https://management.az

[2020-07-03 06:56] v-limu opened #3176 "The QA blob container shows as broken with associated account removed"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200702.10
**Branch**: master
**Platform/OS**: Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.12.0)

**Steps to reproduce:**

1. Create a storage account -> Launch Storage Explorer.
2. Create the four new services under the storage account. **(Do not add any RBAC permissions)**
3

[2020-07-03 08:44] v-limu opened #3177 "Keep a consistent description of the attached blob container between under Quick Access and Local & Attached"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200702.10
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.0)

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Expand one Non-ADLS gen2 account -> Blob Containers.
3. Create a blob container -> Attach it via SAS -> Check its descripti

[2020-07-03 09:47] v-xianya commented on #3127
This issue still reproduces on build 20200703.4. So we re-open it.

[2020-07-03 18:10] CurtMiller66 commented on #3173
I have seen the same issue.  Frustrating regression.  I really got used to it working.

[2020-07-03 22:47] Marusyk opened #3178 "Microsoft Azure Storage Explorer doesn't see any documents in container"
<img width="270" alt="Screenshot_1" src="https://user-images.githubusercontent.com/9221694/86500151-e0f3b200-bd97-11ea-8fb8-1d69e698ec81.png">

**Platform/OS**: Windows 10
**Architecture**: x64

## Bug Description ##

Storage Explorer doesn't see any documents in any containers

<img width="542" alt="Screenshot_2" src="https://user-images.githubusercontent.com/9221694/86500193-1ef0d600-bd98-11ea-8

[2020-07-04 18:22] leandross86 opened #3179 "Falha da assinatura"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-06 06:17] v-limu commented on #3149
Verified on build 20200704.2. This issue has been fixed. So close it.

[2020-07-06 06:17] #3149 closed

[2020-07-06 08:20] skeith92 commented on #188
I'm experiencing the same issue. I repeatedly get prompted for authentication with MFA enabled. Version: 1.14.0

[2020-07-06 09:31] v-limu opened #3180 "Succeed to upload folders in the 'Upload Files' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200704.2
**Branch**: master
**Platform/OS:** Linux Ubuntu 18.04
**Architecture**: x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer -> Expand one storage account.
2. Open one blob container -> Click 'Upload' -> Click 'Upload Files…'.
3. Select one folder from 'Recent' to upload.
4. Check the result.

[2020-07-06 09:31] v-limu opened #3181 "There are untranslated strings in the 'New Folder' dialog for one file share"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200704.2
**Branch**: master
**Language**: All
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.0)

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文(简体)' -> Restart Storage Explorer.
3. Expa

[2020-07-06 15:56] #3179 closed

[2020-07-06 15:56] leandross86 commented on #3179
Resolvido

[2020-07-06 16:15] #3127 closed

[2020-07-06 16:48] MRayermannMSFT commented on #2980
@ymaxwell could you please do the following?

1. Update to version 1.14.0
2. Enable MSAL and verbose authentication logging. Each can be found under Settings (gear icon on the left) -> Application -> Sign-in
3. Close Storage Explorer
4. In file explorer, go to C:\Users\<your username>\AppData\Local\Temp\servicehub and delete the folder `logs`. Leave file explorer open.
5. Re-open Storage Explorer

[2020-07-06 16:53] MRayermannMSFT commented on #3029
Hey @jroales.

When uploading a disk, it's size must be between 20972032 bytes (20 MiB + 512 bytes for the VHD footer) and 35183298347520 bytes (32 TiB + 512 bytes for the VHD footer). Additionally, the size minus 512 bytes must be a multiple of MiB. You'll need to resize your VHD before uploading. I think probably this article would be of help to you: https://docs.microsoft.com/en-us/azure/virtua

[2020-07-06 16:53] MRayermannMSFT commented on #3033
Hey @boybinary.

When uploading a disk, it's size must be between 20972032 bytes (20 MiB + 512 bytes for the VHD footer) and 35183298347520 bytes (32 TiB + 512 bytes for the VHD footer). Additionally, the size minus 512 bytes must be a multiple of MiB. You'll need to resize your VHD before uploading. I think probably this article would be of help to you: https://docs.microsoft.com/en-us/azure/virt

[2020-07-06 17:03] MRayermannMSFT commented on #2968
@acrigney and @sharavan86, can you try the following when y'all have time?
1. Update to version 1.14.0
2. Enable MSAL and verbose authentication logging. Each can be found under Settings (gear icon on the left) -> Application -> Sign-in
3. Close Storage Explorer
4. In file explorer, go to C:\Users\<your username>\AppData\Local\Temp\servicehub and delete the folder `logs`. Leave file explorer open.

[2020-07-06 17:26] MRayermannMSFT commented on #3173
Thanks for reporting this. We'll look into fixing this for our hotfix of 1.14

[2020-07-06 17:29] #3139 closed

[2020-07-06 17:39] MRayermannMSFT commented on #3176
By design/this change was intentional. We intend to bring this behavior to other services someday as well. If the account is removed, then Storage Explorer shouldn't be able to access the thing anymore.

[2020-07-06 17:39] #3176 closed

[2020-07-06 17:44] MRayermannMSFT commented on #3174
Hey @mjgabriel. This isn't something we would add to Storage Explorer. It is important that we encourage users to stay up-to-date. Not only do newer versions of Storage Explorer provide new features, they often contain security fixes. We understand you not wanting to update in this case b/c of issue 3161, and we'll do our best to get the CosmosDB folks to address that issue.

[2020-07-06 17:44] #3174 closed

[2020-07-06 17:45] MRayermannMSFT commented on #3171
@pradeepthampi do you have a storage firewall or anything like that on the file service of your storage account? Are you able to use other desktop tools to access your file shares?

[2020-07-06 17:46] MRayermannMSFT commented on #3170
@FelixMerlin what so far have you tried from the trouble shooting steps?

[2020-07-06 17:47] MRayermannMSFT commented on #3168
Related to https://github.com/microsoft/AzureStorageExplorer/issues/241

[2020-07-06 17:52] MRayermannMSFT commented on #3168
Related to https://github.com/microsoft/AzureStorageExplorer/issues/723

[2020-07-06 17:52] MRayermannMSFT commented on #3168
Also @jdobr for our curiosity, can you let us know how/why you're using the "new window" feature? Thanks!

[2020-07-06 18:01] #3159 closed

[2020-07-06 18:03] JasonYeMSFT commented on #3162
I have contacted the platform team to get the service log and it seems that you are missing the Read permission of the resource (see the email response). Please ask the administrator of you RBAC group to look into it.

[2020-07-06 18:03] MRayermannMSFT commented on #3158
Find root cause in 1.15 and then we'll go from there.

[2020-07-06 18:03] MRayermannMSFT commented on #3153
@harshithjv ?

[2020-07-06 18:05] MRayermannMSFT commented on #3153
Let's get a good cost of how much it'll take to fix this. Anything more than a day we should discuss.

[2020-07-06 18:08] #3148 closed

[2020-07-06 18:11] MRayermannMSFT commented on #3145
@p11angel yes. In the case of POSIX ACLs, it is possible for the "owner" to not have write permissions. Please confirm:
- what account you are using to modify the thing
- what permissions that account has

[2020-07-06 18:13] MRayermannMSFT commented on #3094
Closing due to lack of response. Please open a new issue if you're still having problems.

[2020-07-06 18:13] #3094 closed

[2020-07-06 18:17] MRayermannMSFT commented on #2818
@schellem I took another look at your log. Can you try changing network concurrency to "Adjust dynamically"?

<img width="615" alt="image" src="https://user-images.githubusercontent.com/21112697/86625635-40111c80-bf7a-11ea-91bb-ad182f41b14c.png">

[2020-07-06 18:20] MRayermannMSFT commented on #264
Ok sounds good. I'm going to go ahead and close this. Always feel free to open new issues if you start using Storage Explorer again and run into problems.

[2020-07-06 18:20] #264 closed

[2020-07-06 18:25] MRayermannMSFT commented on #249
@PeterParker1234 due to the age of this issue we're going to close it. If you're still having problems, please try using the latest version of storage explorer and then if you're still having problems open a new issue. Thanks.

[2020-07-06 18:25] #249 closed

[2020-07-06 18:28] #242 closed

[2020-07-06 18:29] MRayermannMSFT commented on #241
I was able to reproduce this today

[2020-07-06 18:29] #241 closed

[2020-07-06 18:30] #236 closed

[2020-07-06 18:30] #235 closed

[2020-07-06 18:34] MRayermannMSFT opened #3182 "Update support documentation"

[2020-07-06 18:34] MRayermannMSFT opened #3183 "Pick up new version of electron"

[2020-07-06 20:49] MRayermannMSFT commented on #3173
@CurtMiller66 I talked with Alex separately. Turns out he was working against the storage emulator. Are you working with the emulator as well?

[2020-07-06 21:10] mjgabriel commented on #3174
Could you reconsider having it only pop-up once at app start-up and not repeatedly pop-up while the app is open?

Thank you :)

[2020-07-06 22:43] MRayermannMSFT commented on #3138
test

[2020-07-06 22:44] MRayermannMSFT commented on #3138
test

[2020-07-07 00:48] MRayermannMSFT commented on #3154
We've checked in a fix for this for our hotfix, 1.14.1.

[2020-07-07 00:48] #3154 closed

[2020-07-07 00:49] #3183 closed

[2020-07-07 00:54] MRayermannMSFT commented on #3112
@v-limu , we're going to change to something other than what Craig said. We're going to:

- make the default time to live 7 days, just like it was in version 1.13.0 and older
- if requeue fails, an error message is going to be shown

[2020-07-07 00:54] MRayermannMSFT commented on #3124
We're going to change to something other than what Craig said. We're going to:

- make the default time to live 7 days, just like it was in version 1.13.0 and older
- if requeue fails, an error message is going to be shown

[2020-07-07 02:27] v-limu commented on #3112
Hi @MRayermannMSFT  Got it. Thanks for your the updates.

[2020-07-07 03:58] CurtMiller66 commented on #3173
Requeue issue is against the emulator.  I use it for development/testing.

Curt

From: Matthew Rayermann <notifications@github.com>
Sent: Monday, July 6, 2020 1:50 PM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Curt Miller <CMiller@Airnote.Com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Requeue Message on deleted message

[2020-07-07 05:39] rosponda57 opened #3184 "new version 1.14.0 , foreach error"
When using search in explorer i gen an error:

"An unexpected error occurred:
TypeError: Cannot read property "forEach' of undefined
...........
"

![image](https://user-images.githubusercontent.com/41154552/86718353-4b6c5280-c023-11ea-8d2b-14da047472b7.png)

[2020-07-07 08:23] jdobr commented on #3168
I wanted to use it to copy/paste couple of separate folders from one storage account to another storage account and not to have to jump between source target so much. Because when I get back to source storage account after first paste in target, I get back to container level each time.

[2020-07-07 09:21] v-xianya opened #3185 "The editor of one ADLS Gen2 blob container shows blank"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.4
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.14.0)

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Expand one ADLS Gen2 storage account -> Blob Containers.
3. Select one blob container then open it.
4. Check the result.

[2020-07-07 09:36] v-xianya opened #3186 "Keep one queue's properties consistent with other three services"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.4
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Expand one storage account -> Queues.
3. Create a queue -> Check the Properties panel.

**Expect Experience:**
The Prope

[2020-07-07 09:48] v-xianya opened #3187 "The 'Visibility timeout' text box shows red border when typing one invalid character in TTL text box"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.4
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Expand one storage account -> Queues.
3. Create a queue -> Click 'Add Message'.
4. Type on invalid character to 'Time to Live' te

[2020-07-07 10:00] v-limu opened #3188 "An extra word 'the' shows for the last hotfix in the Release Notes Hotfixes part"
**Storage Explorer Version**: 1.14.1
**Build**: 20200707.4
**Branch**: hotfix/1.14.1
**Platform/OS**: Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Go to 'Help' -> View Release Notes.
2. View the last hotfix description in Hotfixes part.

**Expect Experience:**
No an extra word 'the' shows.

**Actual Exp

[2020-07-07 10:09] v-xianya opened #3189 "Update the Electron version from 8.2.4 to 8.3.4 in Release Notes Other part"
**Storage Explorer Version**: 1.14.1
**Build**: 20200707.4
**Branch**: hotfix/1.14.1
**Platform/OS**: Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Go to 'Help' -> Click 'View Release Notes'.
2. Check the Electron version mentioned in Other part.

**Expect Experience:**
The Electron version is 8.3.4.

**

[2020-07-07 14:41] allyson-dev opened #3190 "ECONNREFUSED FetchError"
**Storage Explorer Version**: v1.14.0
**Build Number**: 20200624.3
**Platform/OS**:  macOS Catalina V 10.15.5
**Architecture**:  x64
**Regression From**:   Not sure - did not attempt in a previous version
## Bug Description ##
When attempting to upload more than one subsequent file through storage explorer - The app freezes and then the Fetch Error - EconnRefused is presented. I am also now unable

[2020-07-07 16:49] MRayermannMSFT commented on #3173
@CurtMiller66, ah ok. That's a known issue for version 1.14.0. The .NET emulator has issues when we try to requeue something whose time to live is greater than 7 days, and in 1.14.0, we changed default time to live for new messages to be infinite (none/no time to live).

So for now you can either:

- when adding new messages, change time to live to not be infinite (none/no time to live)
- switch t

[2020-07-07 18:10] RogerioXavierSouzaAguiar opened #3191 "Trying to connect Azure Account"
**Storage Explorer Version**: 1.13.0 e 1.14.0
**Build Number**:
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:

## Bug Description ##
[code]

## Steps to Reproduce ##
Trying to conect azure account (rogerio.xavier@tivit.com)

## Expected Experience ##

## Actual Experience ##
![image](https://user-images.githubusercontent.com/67974441/86823623-72e30f80-c063-11ea-8ce5-060a59

[2020-07-07 22:14] #3177 closed

[2020-07-08 00:56] JasonYeMSFT commented on #3133
@uscagr, this is caused by the data stored for local attachments being corrupted. Could you please try the steps in the troubleshooting guide to locate and clear the corrupted data? [troubleshooting guide](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#error-occurred-while-adding-new-connection-typeerror-cannot-read-property-version-of-un

[2020-07-08 02:06] v-limu commented on #3188
Verified on build 20200707.18. This issue has been fixed. So we close it.

[2020-07-08 02:06] #3188 closed

[2020-07-08 02:07] v-xianya commented on #3185
This issue is fixed on build 20200707.18. So close it.

[2020-07-08 02:07] #3185 closed

[2020-07-08 02:07] v-xianya commented on #3189
This issue is fixed on build 20200707.18. So close it.

[2020-07-08 02:07] #3189 closed

[2020-07-08 09:06] v-xianya opened #3192 "No 'Create Snapshot' action shows on one regular blob container's toolbar"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.18
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one Non-ADLS Gen2 storage account -> Blob Containers.
2. Select one blob container then open it.
3. Check whether the action 'Create Snapshot

[2020-07-08 09:52] v-limu opened #3193 "Keep a match behavior between Activity log and Editor after pasting one empty ADLS Gen2 folder"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.18
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Select one blob container -> Copy one empty folder.
3. Paste the empty folder to another blob co

[2020-07-08 09:54] v-limu opened #3194 "Editor always keep loading when sorting by 'Lease State' for one ADLS Gen2 blob"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.18
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Upload two blobs to it.
3. Click 'Lease State' column in Editor.

[2020-07-08 10:27] vpernankil opened #3195 "seeing this error while using Azure Storage explorer"
Unable to retrieve child resources.

Details:
["FetchError:request to http://127.0.0.1:10000/devstoreaccount1/?include=metadata&comp=list failed, reason: connect ECONNREFUSED 127.0.0.1:10000"]

[2020-07-08 10:32] vpernankil commented on #3195
2020/07/08 10:30:16 AzcopyVersion  10.4.2
2020/07/08 10:30:16 OS-Environment  windows
2020/07/08 10:30:16 OS-Architecture  amd64
2020/07/08 10:30:16 Log times are in UTC. Local time is 8 Jul 2020 16:00:16
2020/07/08 10:30:16 Job-Command copy D:\Simplilear_Trainings\Az-104\important_links.txt https://vivnewstorageaccount.blob.core.windows.net/filetest/important_links.txt?se=2020-08-07t10%3A30%3A16z

[2020-07-08 11:03] jzonthemtn opened #3196 "SAS "List" permission?"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  I don't know what the last version I had was.

## Bug Description ##
What happened to the `List` permissions for SAS URLs? It used to be an option but it is not now. It is still referenced as needed by [Get shared access signature URI for your VM image](https://

[2020-07-08 11:46] ibuda commented on #3133
I had the same issue but after updating to 1.14.0 version, the issue disappeared.

[2020-07-08 11:55] dpetrek opened #3197 "Error while uploading files"
When uploading 654MB file to Azure Cool Blob tier, there is an error which youll find attached.
Smaller files pass without problem.
Tried uploading as block blob, page blob and append blob.

[5e89b287-df99-aa4d-47c2-0b12da4c097c.log](https://github.com/microsoft/AzureStorageExplorer/files/4890431/5e89b287-df99-aa4d-47c2-0b12da4c097c.log)

Please advise.

[2020-07-08 14:52] mtrmmsoftware opened #3198 "Add "Contains" and "does not contains" in the storage explorer for string fields"
Currently we store logs in the table storage. To analyze them we usually have to search for exceptions and ignore transient exceptions, this is why I would like to have these operators.

Currently what I am doing I am exporting my time range to CSV and import in my local Express SQL instance to do something like Message like '%exception%' and Message not like '%transientException%', having these o

[2020-07-08 16:23] nh43de commented on #138
Would also be curious to look at the code from a personal educational perspective as well

[2020-07-08 16:51] JasonYeMSFT commented on #3192
This is by design. It is recommended to use blob version feature in the future and we have decided to remove this button and let only people use it from the context menu.

[2020-07-08 16:51] #3192 closed

[2020-07-08 17:54] ppanyukov opened #3199 "Can we make Refresh button usable without going via "... More" button please?"
**Is your feature request related to a problem? Please describe.**
Refresh button is the one I (and maybe many others) use a lot.
Since it is on the far right of the toolbar, it is hidden behind "..." for me.
This makes it super super inconvenient to use!
See screenshots

<img width="881" alt="image" src="https://user-images.githubusercontent.com/300031/86952458-edd32580-c14a-11ea-8737-f9ad4c54baf

[2020-07-08 18:12] #3167 closed

[2020-07-08 18:30] JasonYeMSFT commented on #3045
Matthew has checked in the work to make file share follow the refresh behavior when creating directories.

[2020-07-08 18:30] #3045 closed

[2020-07-08 20:16] #591 closed

[2020-07-08 20:16] #603 closed

[2020-07-08 21:24] JasonYeMSFT commented on #3199
Unfortunately it is a consequence of our current Toolbar design. For now, a more convenient way to refresh is to use the keyboard shortcut Ctrl+R or Cmd+R.

[2020-07-09 03:08] v-xianya commented on #3192
Hi @JasonYeMSFT

Thanks for your updates!
Do we need to apply this for ADLS Gen2 blob containers?
The screenshot for one ADLS Gen2 blob container toolbar.
![image](https://user-images.githubusercontent.com/41351993/86992575-5c0ffa80-c1d4-11ea-81c4-6af8ff7922ee.png)

[2020-07-09 07:46] m0jimo opened #3200 "Wrong content type for service-worker.js on Windows 10"
**Storage Explorer Version**: 1.13.0, 1.13.1, 1.14.0
**Build Number**: 20200430.5, 20200624.3
**Platform/OS**: Windows
**Architecture**: ia32
**Regression From**:  no other version tested

## Bug Description ##
When PWA application is copied from Windows File Explorer to remote location static web site `$web`, there is a wrong content type `text/plain` for `service-worker.js` after the file is cop

[2020-07-09 08:04] v-xianya commented on #1538
Hi  @MRayermannMSFT @southpolesteve

Verified on the Storage Explorer 1.14.0 version. Pop up the below error dialog when trying to expand 'Stored Procedures','Triggers' and 'User Defined Functions' node.

![image](https://user-images.githubusercontent.com/41351993/87013729-abb6ec00-c1fd-11ea-826b-9d9c3ea10c36.png)

[2020-07-09 09:20] m0jimo commented on #3200
Related to: #2289 , #2956

[2020-07-09 09:35] v-xianya opened #3201 "An error dialog pops up when trying to save one document under a MongoDB account"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.18
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Created a CosmosDB account with MongoDB API in portal.
2. Launch Storage Explorer -> Expand Cosmos DB Accounts (Preview).
3. Right click the created CosmosDB

[2020-07-09 09:35] v-xianya opened #3202 "The editor doesn't close when removing its corresponding item from Quick Access node"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.18
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Select one service -> Add it to quick access.
2. Open the service under the Quick Access node.
3. Remove the service from the Quick Access node -> Check the

[2020-07-09 09:55] v-limu opened #3203 "Keep a consistent behavior when dragging files to one regular blob and ADLS Gen2 blob snapshots view"
**Storage Explorer Version:** 1.14.1
**Build**: 20200707.18
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Open one blob snapshot view -> Try to drag files to it -> Check the result.
2. Expand one ADLS Gen2 storage account -> Open on

[2020-07-09 11:33] vnahal opened #3204 "bloop storage explorer error"
Unable to retrieve child resources.

Details:
This request is not authorized to perform this operation.
RequestId:c4676178-6002-0003-60e4-5568f8000000
Time:2020-07-09T11:31:11.5141839Z

[2020-07-09 12:06] jhauray opened #3205 "Storage Explorer doesn't show empty Storage Account"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Linux Ubuntu 20.04 LTS (Snap package)
**Architecture**: x64
**Regression From**:  I don't know

## Bug Description ##
Storage Explorer doesn't show an empty Storage Account (without container), created from Azure Web Portal.
The Storage become visible after creation of the first blob container.

## Steps to Reproduc

[2020-07-09 16:00] klineberry opened #3206 "Storage Explorer prevents other applications from launching in Ubuntu"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Ubuntu 20.04
**Architecture**: x64
**Regression From**:  Unknown

## Bug Description ##
After a short time, launching other applications fail.

## Steps to Reproduce ##
Start Storage Explorer.
Open a few blob containers.
Attempt to launch a different program.

## Expected Experience ##
Program launches.

## Actual E

[2020-07-09 16:55] JasonYeMSFT commented on #3192
@v-xianya, not for ADLS Gen2 because blob versioning is not supported for ADLS Gen2 yet.

[2020-07-09 18:33] JasonYeMSFT commented on #3206
@klineberry, Are you using the .tar.gz or the snap? There might be some code path that we are not closing the X server connections properly. I am going to refactor some code to make sure we are closing the connections properly and give you a private build to try.

[2020-07-09 18:41] sloh-ms opened #3207 "Need to give a better error on a sharing violation"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  unknown

## Bug Description ##
When another program has a file open with exclusive access, ASE gives a confusing error message when uploading.

## Steps to Reproduce ##
1. Open c:\temp\foo.csv in Excel (Excel opens with exclusive access)
2. In ASE, try to upload

[2020-07-09 19:48] LarsKemmann opened #3208 "Drag to reorder tabs"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I intuitively try to drag tabs around to rearrange them but they don't respond to being dragged.

**Describe the solution you'd like**
I'd like a standard drag-to-reorder mechanism for tabs in Storage Explorer.

**Describe alternatives you've considered**
Rising up against the machine and injecting a viru

[2020-07-09 20:02] manishjha2088 opened #3209 "Files are not being uploaded to Azure file shares via Storage Explorer"
**Storage Explorer Version**:  1.14.0
**Build Number**: 20200624.3
**Platform/OS**:  Windows
**Architecture**: x64
**Regression From**: Not sure

## Bug Description ##
While trying to copy Multiple file to Azure file share the upload is always failing

[code]

## Steps to Reproduce ##

1) Create an Azure file share

2) have a job running in the background to automatically move the file to a differ

[2020-07-09 20:17] robertalorro opened #3210 "Storage Explorer Timing Out When Accessing Azure Tables"
**Storage Explorer Version**: 1.14
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: ia32
**Regression From**:  yes

## Bug Description ##

Details:
Network timeout error: connect ETIMEDOUT 52.239.177.70:443
Also, tried accessing the tables via Azure Portal's Storage Explorer via a web browser (Chrome) and am receiving the message "StorageError". This problems seems interm

[2020-07-09 22:43] JasonYeMSFT commented on #3206
I have inspected the code and fixed some code paths where we are not properly closing XDisplay connections. Here is private build with the fix.
https://aka.ms/linux-xdisplay-fix

If you installed Storage Explorer using snap, let us know so we can get you a snap build and instructions on how to install a snap manually.

[2020-07-10 02:39] v-xianya opened #3211 "Keep same behaviors for inserting an entity with empty PartitionKey and Rowkey to tables under storage accounts and Cosmos DB accounts"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Tables.
2. Create a new table -> Click 'Add' -> Click 'Insert' on the 'Add Entity' dialog. -> Check the behavior.
3. Select one

[2020-07-10 07:46] v-xianya opened #3212 "Fail to paste ADLS Gen2 snapshot to another ADLS Gen2 blob container"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Go to 'Settings' -> 'Services' -> 'Storage Accounts' -> Enable the setting 'Enable ADLS Gen2 snapshots (preview)' -> Restart Storage Explorer.
2. Expand one A

[2020-07-10 07:57] arulkumar4 opened #3213 "Provide Sort by Date column inside the File Shares folders"
Currently inside the **File Shares** folders, there are two sort options by "Name" and "Size". There is no option to sort by Date. So it is difficult to find the recently created files. We need to use the Search by prefix option always.

So providing the Sort by Date option will be improve the productivity.

![image](https://user-images.githubusercontent.com/11418896/87130767-09584080-c2b1-11ea-9f

[2020-07-10 08:17] v-xianya opened #3214 "The deleted snapshot doesn't auto disappear for one ADLS Gen2 blob"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Go to 'Settings' -> 'Services' -> 'Storage Accounts' -> Enable the setting 'Enable ADLS Gen2 snapshots (preview)' -> Restart Storage Explorer.
2. Expand one A

[2020-07-10 08:57] v-xianya opened #3215 "No refresh notification pops up after promoting snapshot for one ADLS Gen2 blob"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Go to 'Settings' -> 'Data Explorers' -> Uncheck the setting 'Auto-refresh on change'.
2. Go to 'Settings' -> 'Services' -> 'Storage Accounts' -> Enable the se

[2020-07-10 09:24] v-limu opened #3216 "The pasted blob doesn't show when copying blobs under folders between regular and ADLS Gen2 blob containers"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS**: Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Create a new folder -> Upload one blob to the folder.
3. Copy the bl

[2020-07-10 09:26] v-limu opened #3217 "Keep a consistent behavior between deleting one ADLS Gen2 blob and one regular blob with snapshots"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS**: Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Try to delete one blob with snapshots -> Check the Activity log.
2. Expand one storage account -> Try to delete one b

[2020-07-10 09:49] v-limu opened #3218 "Succeed to rename one ADLS Gen2 blob with snapshots"
**Storage Explorer Version:** 1.14.1
**Build**: 20200710.5
**Branch**: hotfix/1.14.1
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Go to 'Settings' -> 'Services' -> 'Storage Accounts' -> Enable the setting 'Enable ADLS Gen2 snapshots (preview)' -> Restart Storage Explorer.
2. Expand one

[2020-07-10 10:23] amarsatpute opened #3219 "Azure Storage Explorer issue while exploring a storage account"
**Storage Explorer Version**: V1.14
**Build Number**: 20200624.3
**Platform/OS**:Windows 10
**Architecture**: ia32
**Regression From**:  It was working in previous versions

## Bug Description ##

## Steps to Reproduce ##
1. Connect to Azure storage using SAS URI
2.  After connecting try to access the storage account.
3. Following error is there

Unable to retrieve child resources.

Details:
["Res

[2020-07-10 13:02] DonFrazier opened #3220 "June 2020 (Version 1.14.0) Quick Access Loading ... f-o-r-e-v-e-r"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x64?
**Regression From**:  previous version

## Bug Description ##
QuickAccess shows the spinning animation and Loading ... instead of the things I used to be able to quickly access.

## Steps to Reproduce ##
Launch Storage Explorer

## Expected Experience ##
The previous version experie

[2020-07-10 14:45] irongut opened #3221 "Impossible to login to Storage Explorer"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10 Pro 2004
**Architecture**: x64
**Regression From**:  It was barely working in the previous version.

## Bug Description ##
I am unable to login to Storage Explorer with with either of my Azure accounts.

I have been having problems logging into Storage Explorer for months now. My accounts have 2FA and MS

[2020-07-10 17:44] MRayermannMSFT commented on #2793
At this point, I think our support for write only SAS is good enough that I'm going to close this issue. We are still having discussions with the AzCopy team about getting overwrite detection working in that use case, but for now we do warn you that we won't check for overwrites if your SAS is write only. @skanalytic I encourage you to try the experience in our current version (1.14.x or later) an

[2020-07-10 17:44] #2793 closed

[2020-07-10 18:21] JasonYeMSFT commented on #3220
If you wait for a while, does the nodes eventually show up? We show all quick access items together when they all finished/failed loading. If some resource is timing out, it will block showing other nodes. If the nodes eventually show up, those who fail to load will be displayed as "broken nodes". You can remove them from quick access so that they don't block loading next time. It would also be gr

[2020-07-10 19:46] riazjahangir opened #3222 "Selection focus jumps after pending operations complete, causing unintended file deletion"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: macOS Catalina
**Architecture**: x64

## Bug Description ##
When viewing Blob Container contents, selection focus jumps to the top of the list after a pending operation completes. This may cause the wrong file to be deleted

## Steps to Reproduce ##
1. Open a Blob Container
2. Perform a copy or delete operation that

[2020-07-10 20:04] MRayermannMSFT commented on #2466
This has been fixed in AzCopy 10.5. We'll be updating the integrated version to that in release 1.14.1. The integration update has been merged.

[2020-07-10 20:04] #2466 closed

[2020-07-10 20:04] MRayermannMSFT commented on #2457
This has been fixed in AzCopy 10.5. We'll be updating the integrated version to that in release 1.14.1. The integration update has been merged.

[2020-07-10 20:04] #2457 closed

[2020-07-10 20:04] MRayermannMSFT commented on #2956
This has been fixed in AzCopy 10.5. We'll be updating the integrated version to that in release 1.14.1. The integration update has been merged.

[2020-07-10 20:04] #2956 closed

[2020-07-10 20:04] MRayermannMSFT commented on #2289
This has been fixed in AzCopy 10.5. We'll be updating the integrated version to that in release 1.14.1. The integration update has been merged.

[2020-07-10 20:04] #2289 closed

[2020-07-10 20:44] MRayermannMSFT commented on #2466
Going to repoen this and put in 1.15. AzCopy's fix appears to only be working if that file is the only thing you're deleting. Will add that to our known issues, go ahead and ship, and we'll pick up AzCopy's fix to that in the future.

[2020-07-10 20:51] ImrePyhvel commented on #2957
Oh. There's also **CosmosDB query editor** which unfortunately also currently does not support undo. This has caused a F-moment more times than I'd like.

Is there anyone working on CosmosDB toolset at all? I'm not sure it has had any improvements in years.

[2020-07-10 21:53] JasonYeMSFT commented on #3219
The error message tells that the SAS has expired. See "Expiry" time is "[Thu, 09 Jul 2020 18:11:03 GMT]" while the time you access the resources "Current" is "[Fri, 10 Jul 2020 10:16:22 GMT]". Please get a new SAS to access the resource.

[2020-07-10 23:41] #3182 closed

[2020-07-10 23:41] MRayermannMSFT commented on #3216
Fix merged into hotfix branch

[2020-07-10 23:41] #3216 closed

[2020-07-10 23:42] MRayermannMSFT commented on #3173
Fix was merged into the hotfix branch.

[2020-07-10 23:42] #3173 closed

[2020-07-10 23:59] MRayermannMSFT commented on #3222
Wow @riazjahangir thank you for bringing this up. There's a few different places this can happen with deletes. We're going to patch the delete cases for 1.14.1, and then do another pass through all of our actions, and make sure this doesn't happen for anything: deletes, copies, open, etc. for 1.15.

[2020-07-11 00:00] JasonYeMSFT opened #3223 "Make sure every command executes on the selected items when the button is clicked"
Inspired by #3222

Our current logic for some commands are:
1. User click button
2. We optionally prompt to confirm for execution
3. We read the selected items
4. Execute the command

If something that can change current selection goes between 1 and 4, the command may executed on unexpected items. Let's make sure we do it in the following order instead:
1. User click button
2. Upon click, the sele

[2020-07-11 00:14] MRayermannMSFT commented on #3200
Ya basically a duplicate of those two. Both of which should be fixed in our upcoming 1.14.1 release. I'm going to close this. After we ship, feel free to open a new issue if there's something you aren't happy with still.

[2020-07-11 00:14] #3200 closed

[2020-07-11 11:43] Jigar191089 opened #3224 "Manually deleted folder is is shown as present in azure databricks"
I manually deleted a folder from Blob containers.
however when I check execute the command 'os.path.exists(path of deleted folder folder)' it return True.
When I delete the folder using 'shutil.rmtree(path)' the command 'os.path.exists(path)' return False which is correct

[2020-07-12 12:04] DonFrazier commented on #3220
I'm not sure how long a "while" is but today it is loading.  I have 7 pages of this message:

DevTools failed to parse SourceMap: file:///C:/Program%20Files%20(x86)/Microsoft%20Azure%20Storage%20Explorer/resources/app/out/app/renderer/E:/A/_work/89/s/src/components/se-string-crypto/dist/StringCrypto.js.map

Several:
C:\Program Files (x86)\Microsoft Azure Storage Explorer\resources\app\out\app\rend

[2020-07-12 12:04] #3220 closed

[2020-07-13 02:00] munael opened #3225 "When navigating to a blob, do not close the tab if a connection error occurs"
**Is your feature request related to a problem? Please describe.**
When the Internet's spotty it can get pretty frustrating when I'd started navigating somewhere, it keeps spinning, then errors out and just closes the tab, losing my current location.

**Describe the solution you'd like**
Instead of showing an error bar and closing the tab, keep the tab and indicate in the viewer area that the cont

[2020-07-13 04:53] dkollangodeseshamani opened #3226 "Unable to retrieve child resources."
Team,

I am unable to see all my collections in the selected database.
Receiving the following error: "### Unable to retrieve child resources."

**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-13 08:54] Marusyk commented on #3178
I found that it doesn't show any documents when I don't have Discriminator for data. In EF:

`builder.HasNoDiscriminator`

[2020-07-13 10:58] mikazo777 opened #3227 "Azure Storage Explorer does not display "List check box" and "Generate container-level shared access signature URI" when you select to "Get Shaerd Access Signature"."
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Windows 10
**Architecture**: x86_64
**Regression From**:  I don't know

## Bug Description ##
I can not select "List checkbox" and "Generate container-level shared access signature URI" when I get "Shaerd Access Signature".However, I could select "list checkbox" with using Web Interface (https://portal.azure.com).

[2020-07-13 13:14] amarsatpute commented on #3219
Thanks for response

I have created a new token with
Unable to retrieve child resources.

Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:96144b2f-d01e-0044-1417-59ee95000000\nTime:2020-07-13T

[2020-07-13 14:37] welch1pr commented on #3226
Unable to retrieve child resources.

Details:
self signed certificate in certificate chain

[2020-07-13 14:37] welch1pr commented on #3226
Same here, worked last week.

[2020-07-13 14:41] dkollangodeseshamani commented on #3226
It got resolved for me.  Issue is with my laptop time not in sync.

[2020-07-13 14:41] #3226 closed

[2020-07-13 15:46] 06needhamt commented on #138
Personally I would like to see the source code both to contribute and get a better idea how applications are developed for the Azure Platform.

[2020-07-13 16:47] JasonYeMSFT commented on #3227
It looks like you are right clicking on a blob in the container and called "Get Shared Access Signature". If so, this behavior change is by design. If you call Get SAS from a blob, there won't be a list permission since it doesn't exist for a blob level SAS. If you call Get SAS from the container node in the tree view, you will be able to create a container level with list permission. We decided t

[2020-07-13 17:40] MRayermannMSFT commented on #3224
Couple of questions:

- Is your storage account and ADLS Gen2 account (is HNS enabled)?
- Do you have soft delete turned on?
- If you go and look today, do you see the folder in Storage Explorer?
- Do any other non-command-line/non programming tools show the folder? Say, the blob viewer at the Azure Portal?

[2020-07-13 17:42] MRayermannMSFT commented on #3221
@irongut can you try enabling MSAL? Go to Settings (gear on the left) -> Application -> Sign-in -> Enable Microsoft Authentication Library (MSAL). It has much better for support for 2FA. Try that out, and let us know if the sign in experience improves.

[2020-07-13 17:47] MRayermannMSFT commented on #3219
@amarsatpute your SAS still is not valid due to the start expiry time. As the error message says:
It starts at: Mon, **13 Jul** 2020 **13:12:50** GMT
It ends at: Sun, 28 Feb 2021 21:12:50 GMT
And the server thinks the time is: Mon, **13 Jul** 2020 **13:11:24** GMT

So you're using the SAS about 10min before it is valid.

[2020-07-13 17:50] MRayermannMSFT commented on #3218
Closing as by design.  ADLS Gen2's "rename" is server side. Since the snapshots are preserved, it seems the server is handling things ok when the rename happens.

[2020-07-13 17:50] #3218 closed

[2020-07-13 17:55] MRayermannMSFT commented on #3215
For craig to investigate when he gets back. Make sure that things are consistent, or that at least gen2 is respecting the auto refresh setting if possible.

[2020-07-13 17:55] MRayermannMSFT commented on #3214
For craig to investigate when he gets back. Make sure that things are consistent, or that at least gen2 is respecting the auto refresh setting if possible.

[2020-07-13 17:57] MRayermannMSFT commented on #3213
Duplicate of #1731. At this time, the file share service does not return date created when listing things in a share:
https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files#response-body

[2020-07-13 17:58] #3213 closed

[2020-07-13 18:02] MRayermannMSFT commented on #3211
Won't fix. CosmosDB and table are just inherently different services/APIs.

[2020-07-13 18:02] #3211 closed

[2020-07-13 18:05] MRayermannMSFT commented on #3210
@robertalorro ETIMEDOUT means your network is taking a long time to talk to Azure Storage, such a long time, that Storage Explorer/the portal gives up waiting for a response. Are you on a meterted or unstable network? Any idea what kind of download speeds your network has?

[2020-07-13 18:10] MRayermannMSFT commented on #3209
@manishjha2088 a couple of questions for you:
- You say "have a job running in the background to automatically move the file to a different location". Can you elaborate on this? Are you saying that there is another program besides Storage Explorer which is moving your files to your file share?
- Can you share the full AzCopy log file with us?
- Are the files you are trying to upload with Storage E

[2020-07-13 18:11] MRayermannMSFT commented on #3208
"Rising up against the machine and injecting a virus into the Matrix. Unfortunately it sent a Terminator after me."
😂😂😂😂😂

[2020-07-13 18:12] MRayermannMSFT commented on #1504
Related: https://github.com/microsoft/AzureStorageExplorer/issues/501

[2020-07-13 18:13] MRayermannMSFT commented on #3208
Duplicate of #501

[2020-07-13 18:13] #3208 closed

[2020-07-13 18:19] MRayermannMSFT commented on #3205
@jhauray we are not able to reproduce this. Was this possibly just a timing issue?

<img width="203" alt="image" src="https://user-images.githubusercontent.com/21112697/87338888-af4abb80-c4fa-11ea-994b-32f530e7a0b7.png">

[2020-07-13 18:21] MRayermannMSFT commented on #3204
@vnahal this means you don't have the permissions needed to do what you were trying to do.

- What type of resource were you trying to load? Storage accounts, blob containers, queues, file shares?
- Are you relying on RBAC permissions or do you have access to storage account keys?
- If you're using RBAC, can you please verify that you have the required RBAC permissions to access your resources? Le

[2020-07-13 18:24] MRayermannMSFT commented on #3203
@craxal when you fix this, let's put the errors in the activity log, but, the error message should be like how it is for blobs. We shouldn't be trying to invoke AzCopy in snapshot mode.

[2020-07-13 18:28] MRayermannMSFT commented on #3202
Typically we auto-close editors when Storage Explorer is removing access to something. So like the thing was deleted, detached, subscription/account it belongs to is removed from Storage Explorer.

But for removing from quick access, Storage Explorer still has access.

[2020-07-13 18:28] #3202 closed

[2020-07-13 18:32] MRayermannMSFT commented on #3199
@ppanyukov just curious, what's the size of your screen? Both the physical size and what resolution are you running at.

[2020-07-13 19:34] manishjha2088 commented on #3209
You say "have a job running in the background to automatically move the file to a different location". Can you elaborate on this? Are you saying that there is another program besides Storage Explorer which is moving your files to your file share?

My apologies if the problem statement was not clear , so we have a folder named as "DAMdrop" which is on Azure file share there is a Master Data managem

[2020-07-13 20:01] rlopezcoalicion opened #3228 "Cannot read property 'version' of undefined"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**:  Windows 10
**Architecture**: X64
**Regression From**:  Yes, 1.13.1

## Bug Description ##
Cannot read property 'version' of undefined

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-13 20:01] rlopezcoalicion commented on #3228
Is there any way to rollback to the previous version?

[2020-07-13 21:12] LarsKemmann commented on #3208
Thanks! Sorry, I must have missed the other issue.

[2020-07-14 02:10] v-xianya commented on #3218
@MRayermannMSFT Thanks for your update!

Could you help to elaborate the ‘rename’ mechanism for one ADLS Gen2 blob ? Does it directly delete the original blob?

[2020-07-14 03:16] jguadagno opened #3229 "Prompt to start the Storage Emulator if the Explorer can not connect to one"
**Is your feature request related to a problem? Please describe.**
One of the things I forget to do when working with Storage, Queues, and Tables is starting the emulator. Most of the time I have to wait for the connection in the Storage Account > Emulator - Default Ports - Queues or Blobs to timeout before I realize that I did not start the emulator.

**Describe the solution you'd like**
I would

[2020-07-14 05:40] fjans commented on #3206
Hello @JasonYeMSFT, I have the exact same problem with all X server connections being used within few clicks around the explorer and I have to restart.
I installed it using snap:

$ snap list storage-explorer
Name              Version  Rev  Tracking       Publisher            Notes
storage-explorer  1.14.0   13   latest/stable  msft-storage-tools✓  -

If you can provide a new snap I would be happy

[2020-07-14 10:17] Jigar191089 commented on #3224
Is your storage account and ADLS Gen2 account (is HNS enabled)? - Yes
Do you have soft delete turned on? - Yes
If you go and look today, do you see the folder in Storage Explorer? - No, the folders were not showing from the moment they were deleted
Do any other non-command-line/non programming tools show the folder? Say, the blob viewer at the Azure Portal? Nope, it is not showing  in blob viewer

[2020-07-14 10:37] mikazo777 commented on #3227
Web UI displays "List check box" and "Generate container-level shared access signature URI" , but "Application"does not.
Why are the items displayed in the application and WebUI different?

When I publish the VHD file to Cloud Partner Center, It requires VHDs with "list access and "container".
However, because of Azure Storage Explorer Application does not display "List check box" and "Generate co

[2020-07-14 12:09] untilted-document opened #3230 "Using Ctrl+Shift+CursorKey in "search by prefix" field does not jump-highlight"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: W10
**Architecture**: x64
**Regression From**:  Don't know

## Bug Description ##
In text boxes on windows I can position the caret, hold shift and control and press cursor keys. The SHIFT makes the selection highlight occur when the caret moves, and the CTRL makes the caret jump word by word, so CTRL+SHIFT+CURSOR i

[2020-07-14 15:06] dhmuralikrishna opened #3231 "Storage explorer unable to connect to local emulator"
Storage Explorer Version: 1.14.1
Build Number: 20200711.2
Platform/OS:  Windows 10
Architecture: x64

## Bug Description ##
Storage explorer is unable to connect to local storage emulator. Proxy is disabled.
I tried deleting %appdata%storage explorer folder and tried restart  storage explorer multiple times

![image](https://user-images.githubusercontent.com/17012246/87441976-bbe61700-c5c1-11ea-89

[2020-07-14 15:08] JasonYeMSFT commented on #3228
Please check the troubleshooting steps to see if it can mitigate your issue. [troubleshooting guide](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#error-occurred-while-adding-new-connection-typeerror-cannot-read-property-version-of-undefined)

To rollback to the previous version, you can download and re-install an older release from http

[2020-07-14 15:16] JasonYeMSFT opened #3232 "Media service created storage accounts fail to show "Blob Containers" service node and "Queue" service node"
**Storage Explorer Version**: 1.14.0 release
**Platform/OS**: Windows/macOS
**Architecture**: x64
**Regression From**:
## Steps to Reproduce ##
1. On portal, create an Azure media service
2. In the configuration panel, choose to create a storage account
3. In Storage Explorer, attempt to expand the Storage Account called "ifrsmediaservice"

## Expected Experience ##
Show the "Blob Containers" serv

[2020-07-14 15:24] ckraulerson opened #3233 "Can't access blob containers "Unable to retrieve child resources""
I'm unable to access my resources, even though the connection is successful. I'm trying to connect with the "Use a storage account and key" option. This is the versioning of the Storage Explorer:

[code]

I'm getting this error:

[code]

I have tried:

- Closing Storage Explorer, removing the StorageExplorer folder, reopening Storage Explorer, and re-entering my credentials.
- Uninstalling Storage

[2020-07-14 16:41] MRayermannMSFT commented on #3222
@riazjahangir , due to some signing issues we were unable to include this fix in 1.14.1. The built-in release notes will say it is fixed but it is **not**. Once the signing issues are fixed we'll work on figuring out when to include the fix. Apologies for the delay.

[2020-07-14 17:04] JasonYeMSFT commented on #3206
@fjans, we have just released our 1.14.1 which contains the fix. You can upgrade from snap to get 1.14.1 now.

[2020-07-14 18:15] t-dipeke opened #3234 "Unable to retrieve child resources"
**Storage Explorer Version**:  1.14.1.

## Bug Description ##
I've been using the following tutorial for Azure AD join and automatic MDM enrollment validation (https://onedrive.live.com/view.aspx?resid=7B176DA1FE1D885D!475991&cid=D9DDBB4D-B176-4D1A-A043-F2B5F822A0CE&ithint=file%2cdocx&wdLOR=c826F18E4-8FC2-4EEF-94D1-6D242D039DE4&authkey=!AHSU7A5o_L21Fnw) and am running into problems with step 7 whe

[2020-07-14 18:34] ppanyukov-poq commented on #3199
I'm on min-2015 MacBook Pro with default resolution. It says it looks like 1440x900. The fact that I have the dock on the left probably doesn't help the toolbar issue :)

Oh well, I will use CMD+R to refresh. It *would* be nice to have this shortcut mentioned somewhere in the UI tho.

![image](https://user-images.githubusercontent.com/60924263/87463172-ed360580-c608-11ea-8c58-147d6fee9267.png)

[2020-07-14 18:37] ppanyukov commented on #3199
I'm on mid-2015 MacBook Pro with default resolution. It says it looks like 1440x900.

The fact that I have the dock on the left probably doesn't help the toolbar issue :)

Oh well, I will use CMD+R to refresh. It would be nice to have this shortcut mentioned somewhere in the UI tho.

<img width="661" alt="image" src="https://user-images.githubusercontent.com/300031/87463494-65043000-c609-11ea-9007

[2020-07-14 20:32] riazjahangir commented on #3222
Ok @MRayermannMSFT , thanks for the update and the focus on this.

[2020-07-14 23:32] sausriva-msft opened #3235 "DateTime properties getting truncated when entity is update in Explorer"
**Storage Explorer Version**: 1.14.1
**Build Number**: 20200711.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  No, N/A

## Bug Description ##
Upon entity update for storage table using the the tool, all properties stored in DateTime format are truncated and nanoseconds granularity is lost

## Steps to Reproduce ##
1. Create new test table, add entity which PK and RK of c