[2021-09-10 06:10] v-xianya commented on #4908
Closed due to the similar issue [3789](https://github.com/microsoft/AzureStorageExplorer/issues/3789).

[2021-09-10 06:10] #4908 closed

[2021-09-10 06:55] v-xianya opened #4909 "The 'Paste' button is always disabled on the toolbar of one SAS attached ADLS Gen2 folder"
**Storage Explorer Version**: 1.21.0
**Build Number**: 20210908.7
**Branch**: rel/1.21.0
**Platform/OS**: Windows 10//Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one folder which c

[2021-09-10 08:08] ashifalibd opened #4910 "Sonarqube upgrade from 7.7 to 9. community edition in Azure app service with existing DB"
Hi
We’ve deployed Sonarqube 7.7 community version in Azure app service with an Azure SQL database. Now I’ve created a new environment in Azure app service with a new Azure SQL database, and it’s operating perfectly. Now I’d like to move data from the old Azure database to the new Azure database. However, I am unable to do so since Azure requires an empty database. So, could somebody give me some p

[2021-09-10 09:56] v-kellyluo opened #4911 "Fail to undelete all soft-deleted items when the selection contains soft-deleted blobs and its soft-deleted root directory"
**Storage Explorer Version:** 1.21.0
**Build Number:** 20210908.7
**Branch:** rel/1.21.0
**Platform/OS:** Windows 10//Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**How Found:** From running test case
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a new folder A.
3

[2021-09-10 11:21] klachoo opened #4912 "Azure Storage Explorer can not correctly display content of message present in a queue in View Message popup window"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-10 15:25] austinheinrichs commented on #599
Same behavior when you have a Cosmos DB table name that has a period.  Example: test.name
Any updates on this?

[2021-09-10 17:03] MRayermannMSFT commented on #4099
@skywalkerisnull 1.21.0 is now live and gradually rolling out. If you haven't received the update yet, you can manually download it from https://storageexplorer.com

Please give that version a try and let us know if your issue is now fixed. Thanks!

[2021-09-10 17:19] MRayermannMSFT commented on #4786
Closing due to lack of response. If you are still encountering this issue we suggest:
- try the above troubleshooting steps
- open an Azure support ticket via the portal
- open a new issue here

[2021-09-10 17:19] #4786 closed

[2021-09-10 17:20] MRayermannMSFT commented on #4769
@omptech , since you haven't come back with any further repros, we're going to go ahead and close this issue. If you do encounter the .azdownload files in `dev` after a successful transfer, please follow the above steps and open a new issue with all relevant information.

[2021-09-10 17:20] #4769 closed

[2021-09-10 17:21] MRayermannMSFT commented on #3522
Yay? I guess I'll close this as mitigated for now then. Feel free to open a new issue if things start breaking again. Alternatively, you can also try our snap distribution. :)

[2021-09-10 17:24] MRayermannMSFT commented on #4910
Hi @ashifalibd , this GitHub repo is for Azure Storage Explorer. So unfortunately we will not be able to help you with this issue. Here's some resources you may find help using:
- Opening an Azure support ticket from the portal
- https://stackoverflow.com
- https://www.reddit.com/r/AZURE/

[2021-09-10 17:24] #4910 closed

[2021-09-10 17:27] MRayermannMSFT commented on #4902
@Janardhanbolla there's a couple of ways we can go with this issue:
- you can return the disk to an unattached state using the Azure CLI and try to use it with your VM (I don't think this is likely to work since AzCopy failed to fully upload your .vhd to the disk)
- you can delete the disk and try creating it again (this might work, but whatever went wrong before may go wrong again)
- you can shar

[2021-09-10 17:28] MRayermannMSFT commented on #4892
Possible duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/4768 ?

[2021-09-10 17:30] MRayermannMSFT commented on #4891
@LarsKemmann can you try:

1. Close Storage Explorer
2. Unpin Storage Explorer from the task bar
3. Restart your computer
3. Go to your install folder and launch Storage Explorer
4. After it launches, pin that instance to the taskbar
5. Close and reopen, see if the issue reproduces?

[2021-09-10 17:34] MRayermannMSFT commented on #4890
@moinshaikh888 how are you accessing your resources? It looks like maybe you attached with a User delegated SAS?

@munish16 for your screenshot, it looks like you're trying to access your emulator. For that, please make sure your emulator is installed and is running. Storage Explorer neither ships with an emulator nor does it start any emulators for you.

[2021-09-10 17:35] MRayermannMSFT commented on #4889
@sunil-sap the error you have shared indicates that you are trying to access your emulator. For that, please make sure your emulator is installed and is running. Storage Explorer neither ships with an emulator nor does it start any emulators for you.

[2021-09-10 17:36] Takahatamo commented on #4890
Hello I forgot to send that the problem was resolve I just had to remove the resource and fix it up a bit when I set it up
________________________________
From: Matthew Rayermann ***@***.***>
Sent: 10 September 2021 13:34
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: Ethan Kyle San Juan-Cheong ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/AzureStorageExplorer] Azure Storage Exp

[2021-09-10 17:40] MRayermannMSFT commented on #4888
@yapith-suplari can you go to the portal, and then go to Access Control blade for the storage account and make sure the user has the correct role assignment:
![image](https://user-images.githubusercontent.com/21112697/132895045-235f6c0c-c9b7-4caf-b5cc-48d90e9845d3.png)
If you can, please share a screenshot of what you see when you check access. It will be helpful in determining what is wrong.

[2021-09-10 17:44] MRayermannMSFT commented on #4886
@pfreimanis this request is beyond the scope of Storage Explorer at this time. Here's some helpful information for you though....

- For Azure File Shares, you can mount individual shares using SMB: https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows However, you may have issues with this on some networks as the port for SMB is commonly blocked by ISPs
- There are

[2021-09-10 17:44] #4886 closed

[2021-09-10 17:45] MRayermannMSFT commented on #4879
@Kizmar are you perhaps opening multiple Storage Explorer windows at once? Can you also tell us:
- Storage Explorer version
- OS

[2021-09-10 17:47] MRayermannMSFT commented on #4859
@infact it looks like you've signed into your Azure account. If that is not true, please say so.

Assuming it is true, what type of access/permissions do you have for this account?
- Do you have the ability to list the keys for the Storage Account?
- Do you have any RBAC roles on the Storage Account? If so, what roles do you have?

[2021-09-10 17:48] Kizmar commented on #4879
Nope, just one window.

Version: 1.20.1
OS: Windows 10

[2021-09-10 18:34] MRayermannMSFT opened #4913 "Finish AppConfig Extension"

[2021-09-10 19:00] SR123321 opened #4914 "Storage Explorer - Unable to retrieve child resources"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-10 19:08] jinglouMSFT commented on #4914
Have you tried to follow this troubleshooting guide to resolve the issue?  https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#ssl-certificate-issues
Thanks.

[2021-09-10 19:12] jinglouMSFT opened #4915 "Retiring CosmosDB"
Per CosmosDB team plan, retiring its support in Storage Explorer.

[2021-09-10 20:57] MRayermannMSFT commented on #4779
Identity PR has been opened....

[2021-09-10 22:24] skywalkerisnull commented on #4099
I have downloaded 1.21.0 and will now setup a IoT blob storage that is not using the *.blob.* domain name and check the deleting blob functionality.

What I have noticed right away though, 1.21.0 is significantly slower at accessing the containers for the first time, and even the account for the first time on opening Storage Explorer. When I double click on a container to view the contents, there

[2021-09-10 22:40] MRayermannMSFT commented on #4464
Sent!

[2021-09-11 00:33] MRayermannMSFT opened #4916 "V12 File Share Statistics"

[2021-09-11 00:48] skywalkerisnull commented on #4099
@MRayermannMSFT I have setup the local Azure Blob IoT and can confirm that I can delete blobs even without the *.blob. domain name (i.e. connecting to localhost). I did also observe the same large latency when connecting to this IoT blob instance even when it is on the same machine.

[2021-09-12 07:24] MRayermannMSFT commented on #4099
@skywalkerisnull huh, that's definitely not expected. Can you gather and share your [Storage Explorer logs](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#storage-explorer-logs) with us? Also if you're able to post a screen or [gif](https://www.screentogif.com/) recording of what you are visually seeing that would be super helpful as well

[2021-09-12 22:11] skywalkerisnull commented on #4099
Hello @MRayermannMSFT.

Here are the logs:
[logs.zip](https://github.com/microsoft/AzureStorageExplorer/files/7150364/logs.zip)

Video of what is happening:
https://youtu.be/_1tGr5P_c_A

This repo may help you more quickly test against the Azure IoT Blob instead of setting up an entire environment: https://github.com/skywalkerisnull/azure-blob-iot

[2021-09-13 01:56] v-xianya commented on #4425
Will verify this when there is a successful build.

[2021-09-13 01:57] deangoddard opened #4917 "Use the current cultural format for displaying dates like 'Last Modified'"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-13 02:00] deangoddard commented on #4917
![image](https://user-images.githubusercontent.com/12726531/133012902-9ec1c96a-bb6a-4f7e-ba76-7640b4681ca6.png)
Last Modified datetime format is not using the current local format which in this case is Australian dd/MM/yyyy

[2021-09-13 07:17] cblackuk commented on #4464
Replied :-)

[2021-09-13 08:28] moinshaikh888 commented on #4890
Hi @ Takahatamo
Could you please specify bit more what resources you removed and what steps you followed that will be really helpful and appreciated.

From: Takahatamo ***@***.***>
Sent: Friday, September 10, 2021 11:06 PM
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: moinshaikh888 ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [microsoft/AzureStorageExplorer] Azure Storage Explo

[2021-09-13 10:12] Denisjc commented on #4914
I have the same issue on installing this version , was working fine just before the install and now not.  Will revert to a previous version of your tool as I need to get my work done without errors.

[2021-09-13 12:32] SR123321 commented on #4914
Installing a older version did not solve my issue.

[2021-09-13 12:33] #4914 closed

[2021-09-13 16:42] JasonYeMSFT commented on #3651
We did some rework on our proxy features in 1.20 and 1.21. We may have already fixed the bug that lead to inconsistent proxy usage. Please try upgrade to the 1.21.

[2021-09-13 16:44] JasonYeMSFT commented on #3693
We did some rework on our proxy features in 1.20 and 1.21, which includes dynamically propagating updated proxy settings in Storage Explorer so that a full restart is no longer needed. Please try upgrade to 1.21.

[2021-09-13 16:53] JasonYeMSFT commented on #4471
@mandeep051186 Please try to upgrade to the latest version to see if it still has the issue. The logs you shared is the authentication log, not Storage Explorer logs. To find Storage Explorer logs, you can use App Menu > Help > Open Logs Directory. If your current session had reproduced the issue, the most recent directory should contain the correct log files.

[2021-09-13 16:54] #4816 closed

[2021-09-13 17:08] JasonYeMSFT commented on #4911
The dependency tracking logic didn't catch this scenario where the a dependent directory is not the immediate parent directory of the child.

[2021-09-13 17:14] JasonYeMSFT commented on #4890
@moinshaikh888 Reading through your error detail, I noticed that the url looks weird "https://wabcf.blob.blob.core.windows.net/?include=metadata&comp=list" since it has two .blob. in the endpoint. Could you double check the url/endpoint you used to connect to your resource and see if there is a typo there?

[2021-09-13 17:19] JasonYeMSFT commented on #4895
The overwriting behavior is expected. Let's find out why AzCopy reports an error when the user selects "Replace" in the conflict dialog.

[2021-09-13 17:27] JasonYeMSFT commented on #4904
ADLS Gen2 is using an old system dialog which we set No to be the default button.

[2021-09-13 18:10] AiturganSu opened #4918 "blob container won't create"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-13 21:07] JasonYeMSFT opened #4919 "Deprecate build pipelines using VS 2017"
We need to upgrade to use VS 2019 in our build pipelines by end of September 2021.

[2021-09-13 21:27] craxal commented on #4881
Could be the same root cause as #4661.

[2021-09-13 23:40] JasonYeMSFT commented on #4893
The endpoint used to send the undelete request incorrectly include path of the attached directory.

[2021-09-13 23:50] JasonYeMSFT commented on #4894
The blob doesn't show up in the query results on Portal. This seems to be a service issue.

[2021-09-14 00:31] JasonYeMSFT commented on #4895
@v-xianya Could you help me check after the initial AzCopy failure. Does the original block blob still exist in the container? AzCopy might be accidentally deleting the original blob, which explains why the consecutive retry succeeds.

[2021-09-14 02:13] v-xianya commented on #4425
Reproduce on the build 20210914.1.

[2021-09-14 02:30] v-xianya commented on #4895
@JasonYeMSFT The original block blob disappears after manfully refreshing.

[2021-09-14 06:54] skywalkerisnull commented on #4099
@JasonYeMSFT enabling "Target Azure Stack API" does make it significantly faster to access.

[2021-09-14 08:36] moinshaikh888 commented on #4890
I have managed to solve this issue please check your network configuration , also confirm that its normal storage account or ADLS v2 storage account accordingly i will share steps and CMD commands.

[2021-09-14 08:38] moinshaikh888 commented on #4890
Hi Thanks for your reply it was typo error here, i have solved tis issue by modifying network setting in Azure.

[2021-09-14 10:01] v-kellyluo opened #4920 "The 'Yes' button is not selected on the popped up dialog when opening a blob with untrusted extension"
**Storage Explorer Version:** 1.21.0
**Build Number:** 20210914.1
**Branch:** main
**Platform/OS:** Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**How Found:** From running test case
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer -> Settings.
2. Go to Settings -> Transfers -> File Open -> Trusted File Extensions.
3. Make sure the .cs

[2021-09-14 12:02] jayatipathak opened #4921 "CosmosDB: Unable to retrieve child resources."
I am trying to connect to Cosmos DB account to which I have permissions. But everytime I get below error.
I tried re-installing the storage explorer app, but no luck. Please check.

Unable to retrieve child resources.

![image](https://user-images.githubusercontent.com/28723607/133254089-75bab3aa-fc72-4231-a3ae-8e1e8a599679.png)

[2021-09-14 12:29] cosmospuglisi opened #4922 "Azure Storage Explorer v1.21.0 don't read inside huge container"
I cannot see the folder inside a container including TB of data and thousand subfolders. no problem with previous version

[2021-09-14 15:07] mpoeckl commented on #1667
What about leveraging Azure Purview API for search (if the Purview is used and the Storage account is part of the Purview scan)

[2021-09-14 15:18] ApoorvMSA opened #4923 "Not able to assign permission in Access control list in Azure storage explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-14 16:40] JasonYeMSFT commented on #4922
Could you elaborate on some details of the issue?
- Are you accessing a blob container or an ADLS Gen2 blob container?
- Are you unable to see any folder inside the container or some specific ones that you know exists?
- Is the folder under the root of the container or within some other directories?
- Which view context are you in? The view context is chosen from a dropdown in the address bar.
<im

[2021-09-14 17:22] GouthamGeek opened #4924 "Failed to create blob container"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-14 18:37] ivanthewebber opened #4925 "Azure Storage Explorer Activities Blocked From Copy Command"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-14 18:57] yapith-suplari commented on #4888
![Screenshot from 2021-09-14 11-56-10](https://user-images.githubusercontent.com/40931507/133317529-9339c742-3bdf-4b00-b74d-7f8ff70e12c8.png)

Requested "View my access" screenshot attached.

[2021-09-14 19:00] MRayermannMSFT opened #4926 "Remove duplicate telem code in file share toolbar commands"

[2021-09-14 20:21] MRayermannMSFT commented on #4917
@deangoddard can you confirm for us what version of Storage Explorer you are using? We are in the process of rolling out version 1.21.0 and it includes what you are asking for (or at least it should...). If you have not yet received the update, please download and install manually from https://storageexplorer.com and let us know if it solves this for you. Thanks!

[2021-09-14 20:23] #4890 closed

[2021-09-14 20:27] MRayermannMSFT commented on #4924
@GouthamGeek how are you accessing your Storage resources?

If you've signed into your Azure account:

- What type of access/permissions do you have for this account?
- Do you have the ability to list the keys for the Storage Account?
- Do you have any RBAC roles on the Storage Account? If so, what roles do you have?

If you've attached with SAS:

- What permissions does your SAS have?
- Are the p

[2021-09-14 20:28] #3522 closed

[2021-09-14 20:35] MRayermannMSFT commented on #4925
@ivanthewebber
- Can you download the thing you wish to duplicate, change the name locally, and then re-upload?
- Can you copy & paste the thing into a different folder in your datalake, rename the copy, and then copy & paste that back?

[2021-09-14 20:43] MRayermannMSFT commented on #4918
@AiturganSu
- Do you have key access to this storage account? You can check by clicking on the node for the account, going the the properties panel below the tree view, look for the key properties, and see if they have values by clicking on the eye icon next to them?
- If you do not have key access, what RBAC roles do you have for this account?

[2021-09-14 20:45] MRayermannMSFT commented on #4912
@klachoo do you have any idea what the box characters could be? They are likely part of your message, and they probably aren't showing up in the table because we do some security related pre-processing on your text before inserting it into our HTML.

[2021-09-14 20:53] MRayermannMSFT commented on #4894
Let's reach out to service team about this.

[2021-09-14 20:58] MRayermannMSFT commented on #4888
@yapith-suplari do you know if your Storage Blob Data Owner role has any conditions on it? What is there if you scroll more to the right in that list box? Or what if you click on "Add"?

[2021-09-14 21:06] MRayermannMSFT commented on #4888
Maybe nevermind, we just tried out the conditions preview. It should say "View/Edit" instead of "Add" if you did have a condition.

[2021-09-14 21:11] andyraf opened #4927 "Download issues"
Many issues with download that make AzureStorageExplorer not ready for professional use:
- On network failures, unable to resume downloads.
- On app restarts, all downloads are forgotten, whether in-progress or completed.
- No option to pause/resume downloads.

[2021-09-14 21:11] MRayermannMSFT commented on #4887
@ibuda
- Have you observed this in previous builds of Storage Explorer?
- Can you download and install the latest version of Storage Explorer from https://storageexplorer.com , and try that version?
- Are you using snap or .tar.gz?
- If the issue still reproduces with the latest version of Storage Explorer can you please [gather and share your logs with us](https://docs.microsoft.com/en-us/azure/s

[2021-09-14 21:18] MRayermannMSFT commented on #4878
Won't fix for now.

[2021-09-14 21:18] #4878 closed

[2021-09-14 21:26] MRayermannMSFT commented on #4875
Let's just disable editing tags in the secondary for now.

[2021-09-14 21:29] MRayermannMSFT commented on #4872
Check with service side peeps on what they think is a good expectation for this. It might make sense to show leased if the primary is leased as well? But if we do that, we should make sure it goes away if the primary's lease is broken. If that's too complex to do, then probably no big deal to not leased then unless the expectation to show it is really strong.

[2021-09-14 21:36] MRayermannMSFT commented on #3785
Duplicate of #1279

[2021-09-14 21:37] MRayermannMSFT commented on #4927
Duplicate of #1279

[2021-09-14 21:37] #4927 closed

[2021-09-14 21:39] #3785 closed

[2021-09-14 21:44] JasonYeMSFT commented on #4620
Closing due to lack of activity. There is an internal email thread tracking this issue so let's keep the communication there.

[2021-09-14 21:44] #4620 closed

[2021-09-14 21:46] MRayermannMSFT commented on #134
Yes, we agree (now) too. In fact this issue is the reason we changed our minds a while back towards what you say. 🙃  We're now much more conscientious about implementing features, especially complex ones, that aren't really supported by the service APIs. Nine times out of ten, it just leads to situations like this where the solution is sub-optimal, and y'all get something which is either only sort

[2021-09-14 21:54] mbutt19 opened #4928 "Can't create blob container in Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-14 22:17] JasonYeMSFT commented on #4888
@yapith-suplari I am able to list blob containers using exactly the same set of rbac roles with my account. There are a few things I am not sure.

I assume your screenshot is showing your rbac roles on the storage account. The Storage Account Contributor role by default grants you the permission to list keys for your storage account. In our code, we will fallback to use key to list resources inste

[2021-09-14 22:24] JasonYeMSFT commented on #4909
It is currently disabled due to https://github.com/microsoft/AzureStorageExplorer/issues/3976. I can verify if that bug has been fixed.

[2021-09-14 23:57] JasonYeMSFT opened #4929 "Make settings category list stay on page"
Currently when scrolling the settings panel, the category list scrolls with the contents. If it can stay on the page, it would be easier to switch between different categories.

Similar to how VS Code handles the situation:

![image](https://user-images.githubusercontent.com/39359541/133349036-007d6f5e-5968-4c14-a4a2-3f7855710cc4.png)

[2021-09-15 01:23] v-xianya commented on #4909
Thank you for the updates! we are going to close this bug.

[2021-09-15 01:23] #4909 closed

[2021-09-15 01:36] soloji opened #4930 "Accessing a File Share on a Storage Account with an app specific proxy results in a timeout issue"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-15 01:59] soloji commented on #4930
I was able to get our teams to install 1.20.1 and the issue is not present in that version. I am able to browse to the File Share as expected and I can see the traffic on the proxy.

[2021-09-15 04:38] deangoddard commented on #4917
Hi Matthew,

Version 1.20.1
AzCopy Version: 10.11.0

Build Number 20210720.10

Cheers,

Dean Goddard
Champion Technology Officer
FunKey Solutions
Mobile: 0434 298 412 | Email: ***@***.***

----------------------------------------
From: Matthew Rayermann ***@***.***>
Sent: 9/15/21 6:21 AM
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: Dean Goddard ***@***.***>, Mention ***@***.***>
Subject: Re

[2021-09-15 04:45] deangoddard commented on #4917
All fixed with version 1.21.0.

Thanks.

[2021-09-15 04:45] #4917 closed

[2021-09-15 05:27] jayatipathak commented on #4921
If there is a workaround for this issue, please suggest to unblock.
I already tried removing \AppData\Roaming\StorageExplorer folder looking at some other suggestions for similar issue, and it did not work.

[2021-09-15 06:15] v-xianya commented on #4701
Verified this issue on the build 20210915.4. Fixed.
![image](https://user-images.githubusercontent.com/41351993/133380179-5aa9d7aa-e235-4ecf-8c9d-7b4ac59e79ea.png)

[2021-09-15 06:15] #4701 closed

[2021-09-15 07:27] v-xianya commented on #3793
Verified this issue on the build 20210915.4. Fixed. Going to close this issue.
![image](https://user-images.githubusercontent.com/41351993/133389626-7151f83a-3b0d-483d-94d2-f6dffda02feb.png)

[2021-09-15 07:27] #3793 closed

[2021-09-15 07:38] klachoo commented on #4912
@MRayermannMSFT
Mi Matthew and thank you for your prompt response.
Unfortunately not, no idea what these "box characters" could be.
The message content should be pure JSON hence I am not expecting any additional characters.
I do still have this specific message present in my queue so I can perhaps paste its content here, if this would be of any help?
Furthermore I can say that this issue is also p

[2021-09-15 09:00] v-xianya commented on #63
This [issue](https://github.com/microsoft/AzureStorageExplorer/issues/63#issuecomment-751213170) still reproduces on the latest main build 20210915.4.
![testissue](https://user-images.githubusercontent.com/41351993/133403909-c79db116-5e30-4d33-9fb7-7fa801269a55.gif)

[2021-09-15 11:33] hantou commented on #1505
@jinglouMSFT I'm getting similar errors in my customer's environment.

When trying to run "C:\tool\azcopy.exe  sync  .. .." command using AzCopy v10.10.0.  the command was successfully executed. but every time the command is executed, the following error is logged in the event log.
------------------------------------------------------------------------
The description for Event ID:0 in Source:'C:

[2021-09-15 11:43] hantou commented on #1505
@JasonYeMSFT I'm getting similar errors in my customer's environment.
When trying to run "C:\tool\azcopy.exe  sync  .. .." command using AzCopy v10.10.0.  the command was successfully executed. but every time the command is executed, the following error is logged in the event log.
------------------------------------------------------------------------
The description for Event ID:0 in Source:'C:\

[2021-09-15 17:53] #4926 closed

[2021-09-15 19:51] JasonYeMSFT opened #4931 "Missing directories in Gen2 explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-15 21:44] mkakkireni opened #4932 "Storage Access issue with connection string"

[2021-09-15 21:45] mkakkireni commented on #4932
[issue-details.txt](https://github.com/microsoft/AzureStorageExplorer/files/7173454/issue-details.txt)

[2021-09-15 22:07] craxal commented on #4930
The error message says that it's trying to go through the local host (127.0.0.1), which suggests the wrong proxy settings are being used. Can you please share your log files with us for both "main" and "se-file-extension"? You can find the log files by selecting **Help** > **Open Logs Directory** from the menu.

[2021-09-15 23:43] yapith-suplari commented on #4888
Hi @JasonYeMSFT ,

I can access the Access Keys through Azure Portal and `az storage account keys list --account-name <myaccount>`.

I also found the StorageExplorer works fine for other StorageAccount types that are not `ADLS Gen2`, if that's any use.

[2021-09-16 00:27] #4907 closed

[2021-09-16 00:27] MRayermannMSFT commented on #4907
Fix merged to hotfix branch

[2021-09-16 00:45] JasonYeMSFT commented on #4888
@yapith-suplari Could you check if you have any IP address related firewall setting on that storage account?

[2021-09-16 01:58] soloji commented on #4930
Thanks craxal,
Because of corporate environment it is hard to override system proxy settings or environment variables and our users aren't very tech savvy to say the least. Getting them to use the GUI is very useful for me,
I have attached the logs and done the breakpoint as requested all seem to point to the external proxy.

Is it possible that your fiddler is working because it is listening loca

[2021-09-16 02:09] v-xianya commented on #4907
Fixed on the rel/build 20210916.5.

[2021-09-16 05:50] Mayank-Ojha opened #4933 "SAS-related issue"
Storage Explorer Version: 1.20.1
Platform: Windows

<Details>
Unable to retrieve child resources.  Details: {   "name": "RestError",   "message": "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:be6d5cd8-d01e-004d-4cbe-aaccf8000000\nTime:2021-09-16T05:46:04.8661368Z",   "stack": "RestError: Server failed

[2021-09-16 07:47] v-xianya opened #4934 "Can't delete more than one blob at the same time under the <no name> path"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210916.5
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Create a folder with name "/".
3. Di

[2021-09-16 15:44] craxal commented on #4930
@soloji Can you also provide the logs for the "se-file-extension" process? Since the problem you're having is with file shares, that may be more informative. Have you also confirmed that you are using the correct protocol, username, and password?

If your OS is already configured to go through the same proxy, it may be easier for you to change Storage Explorer's settings to "Use system proxy".

I

[2021-09-16 16:02] scsicat5 opened #4935 "Unable to retrieve child resources from storage account"
Unable to retrieve child resources.

Details:
This request is not authorized to perform this operation.
RequestId:45d2f000-801a-0038-3513-ab7baf000000
Time:2021-09-16T15:59:13.7900141Z

[2021-09-16 16:43] JasonYeMSFT commented on #4413
Closing due to lack of response. If you run into other data transfer issues, please open new issues for them.

[2021-09-16 16:43] #4413 closed

[2021-09-16 16:43] #4919 closed

[2021-09-16 16:50] JasonYeMSFT commented on #4931
A workaround has been merged to not filter returned prefixes by their creation time.

[2021-09-16 16:56] yapith-suplari commented on #4888
It looks like the issue is PEBKAC. I had my network config isn't set properly. Apologies for the trouble.

[2021-09-16 16:56] #4888 closed

[2021-09-16 16:58] MRayermannMSFT commented on #4930
@craxal this will not work, file share features are not onboarded to system proxy at this time.

[2021-09-16 17:07] #4929 closed

[2021-09-16 17:43] MRayermannMSFT commented on #4912
@klachoo I think given that the portal is also showing the boxes, the root cause of this issue lies in whatever thing/code is inserting these messages to the queue.

Did you insert the messages with Storage Explorer, some other tool, or some code?

Were the messages generated by some code or a human?

If by a human, were the messages typed out or copy and pasted from somewhere?

[2021-09-16 18:05] #4750 closed

[2021-09-16 21:00] craxal commented on #4930
@soloji FYI, I've been wrestling with Squid and other proxy options for a while but have not been successful in getting anything to work except Fiddler locally, let alone get Storage Explorer to work with it.

I mentioned it before, but I want to make sure. The log files indicate that you have a username and password, but "Use credentials" is turned off. Assuming your proxy uses Basic authenticati

[2021-09-16 21:42] soloji commented on #4930
@craxal  Good morning, thanks for trying to reproduce!
Our proxy is not expecting a user name and password.  It uses no authentication

I will get the logs of the file that you requested shortly

[2021-09-16 21:57] #4851 closed

[2021-09-16 21:57] MRayermannMSFT commented on #4425
Validation should now include 80 character checking.

[2021-09-16 21:57] #4425 closed

[2021-09-16 22:03] soloji commented on #4930
Two findings this morning
1. No logs are generated for the se-fileextension-process, it only seems to generate logs for the successful
2. The tables feature also suffers the same issue (we don't use this, so I hadn't checked till you prompted me, thanks!)
One difference between the file and tables is that tables fails immediately compared to tables that fails after a while (I expect that is just a

[2021-09-16 22:08] stewartadam commented on #4180
What's the status on this? Installing and upgrade remains a huge pain because of the number of small files. `brew upgrade` just spun for several minutes on storage explorer because of this.

[2021-09-16 22:32] craxal commented on #4930
@soloji Thanks for the info. I was able to reproduce the same behavior using a simple Node script to act as a proxy on a different machine. Blobs and Queues work, but Files and Tables do not. The key difference is we use different SDK versions, and so setting up the proxy is different for each version.

Since you say it doesn't reproduce in 1.20.1, can you follow the same steps above involving the

[2021-09-16 22:36] JasonYeMSFT commented on #4099
Let's close this issue as mitigated. We should notify the service team to protect unsupported APIs.

[2021-09-16 22:36] #4099 closed

[2021-09-16 23:01] JasonYeMSFT commented on #4580
Done for our code except those in Cloud Explorer.

[2021-09-16 23:06] MRayermannMSFT commented on #4883
Looks like this is probably related to the dialog reuse change. @craxal please try to repro this again after you revert that change. If it still reproduces then you can send back to me and I'll continue investigating.

[2021-09-16 23:09] MRayermannMSFT opened #4936 "Completed time for file share and blob statistics are not regionalized"

[2021-09-16 23:23] craxal commented on #4930
I think I found the problem. In 1.21.0, we changed just a little bit how we set proxy settings for the File and Table clients. However, the documentation was wrong, so we were passing the settings in the wrong format. Not entirely sure why this error is only apparent when working with a non-local proxy, but I tested the fix, and it seems to be working.

@soloji Would you like to try out a private

[2021-09-17 00:29] soloji commented on #4930
@craxal  great news! I always think that once an expert can reproduce, the fix is not far away

would be happy to test, might take a business day or two as I need to get things whitelisted but I should be able to test by early next week.

[2021-09-17 01:59] craxal commented on #4930
@soloji You can download the build from [here](https://cralvordtest02.blob.core.windows.net/customer-share/internal/1.21.1/StorageExplorer-ia32.exe?sv=2020-08-04&st=2021-09-17T01%3A42%3A55Z&se=2021-09-25T01%3A42%3A00Z&sr=b&sp=r&sig=231jaiHPDDKcMtuI0xMg%2FLL3ENCCeh9qjPDWnhh%2Fl5k%3D). It's possible we may ship a hotfix early next week, so the sooner you can try out this build and verify it works, t

[2021-09-17 03:28] soloji commented on #4930
@craxal I have installed the build you provided and the file and table function is working with our proxy.
Thank  you very much for the fast turn around on this issue

[2021-09-17 06:51] v-xianya commented on #4425
Verified on the latest main branch 20210917.3. fixed.
![image](https://user-images.githubusercontent.com/41351993/133737592-a8d0c000-b567-478d-9616-1d5e95b7c657.png)

[2021-09-17 07:10] avinashgupta-gep opened #4937 "Add wildcard search in Filter Prefix while searching a file in a folder."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-17 10:09] v-xianya opened #4938 "An error occurs when adding one custom environment if the 'Use app proxy settings' is applying"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210917.4
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10
**Architecture**: ia32
**How Found**: Exploratory testing
**Regression From**: 1.19.0?

## Steps to Reproduce ##
1. Make sure Fiddler is configured well -> Launch Storage Explorer.
2. Go to 'Settings -> Applications' -> Select 'Use app proxy settings'.
3. Set the URL: 'http://loc

[2021-09-17 12:55] Johnny-shin opened #4939 "Can't list containers due to AuthorizationPermissionMismatch"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-17 17:36] MRayermannMSFT commented on #4916
@v-xianya file share statistics has been rewritten and merged into main. Please verify that there are no negative regressions in behavior with the new rewrite.

[2021-09-17 17:36] #4916 closed

[2021-09-17 17:36] #4860 closed

[2021-09-17 17:41] #4930 closed

[2021-09-17 17:50] jinglouMSFT commented on #4939
@Johnny-shin can you confirm whether this is the storage explorer in the portal, or the desktop application of storage explorer?  If desktop, did you sign into Azure then access your storage or did you attach to the storage?

[2021-09-17 18:17] MRayermannMSFT opened #4940 "V12 Create share snapshot"

[2021-09-17 18:20] craxal commented on #4938
@v-xianya I'm able to reproduce this. The error that occurs appears to be related to certificates:
[code]

I was able work around this issue by disabling the Decrypt HTTPS traffic option (Tools > Options... > HTTPS).

I don't think this is something we need to fix unless customers using real proxies start reporting the same issue.

[2021-09-17 18:22] MRayermannMSFT opened #4941 "V12 Delete share snapshot"

[2021-09-17 18:29] #4882 closed

[2021-09-17 19:55] #4896 closed

[2021-09-17 19:55] #4893 closed

[2021-09-17 21:31] JasonYeMSFT commented on #4494
Storage Explorer has already supported setting rehydration priority and checking them in the Properties dialog. As suggested, we can show those information in the Set Access Tier dialog and the priority information in the activity.

[2021-09-17 21:34] fhryo-msft commented on #4494
it would be awesome! thanks for the support.

[2021-09-18 00:00] #4938 closed

[2021-09-18 00:06] MRayermannMSFT commented on #4895
Private build of AzCopy merged which should address this issue. Overwrites with a different blob type should now fail with HTTP error 409.

[2021-09-18 00:06] #4895 closed

[2021-09-18 01:24] v-xianya commented on #4916
@MRayermannMSFT Ok, we will verify this after finishing hotfix testing😊

[2021-09-18 02:50] v-xianya commented on #4893
@JasonYeMSFT Verified on the main build 20210918.3. Fixed.

One question needs to confirm:
It directly opens the folder after Azure AD attaching the HNS folder, as the below:
![image](https://user-images.githubusercontent.com/41351993/133869520-019e6cfd-3073-4606-bde1-2c2387641f30.png)
No error occurs when clicking 'Back' to switch to the its parent directory . Is this intentional?
![image](https:

[2021-09-18 03:07] v-xianya commented on #4938
Fixed on the hotfix build 20210918.4.

[2021-09-18 03:07] v-xianya commented on #4895
Fixed on the hotfix build 20210918.4.

[2021-09-18 03:11] v-kellyluo opened #4942 "It is always in a verified state when adding one custom environment if using 'https://telerik.com/download/fiddler' as the ARM endpoint"
**Storage Explorer Version:** 1.21.1
**Build Number:** 20210918.4
**Branch:** hotfix/1.21.1
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**How Found:** Exploratory testing
**Regression From:** Previous release (1.19.1)

## Steps to Reproduce ##

1. Launch Storage Explorer
2. Open the connect dialog -> Select 'Subscription -> Custom Environment:' -> C

[2021-09-18 05:57] JasonYeMSFT commented on #4893
That's expected. The attachment is intended to let user bypass directories he doesn't have access to. If they do, they can still go backwards.

[2021-09-18 06:56] v-xianya opened #4943 "It navigates to the versions/snapshots view after resetting the tag query if managing versions/snapshots previously"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210918.4
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Cl

[2021-09-18 07:43] v-xianya opened #4944 "The split tabs are inconsistent when applying 'Search by prefix' for the original tab against file shares/ADLS Gen1"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210918.4
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Bug Descriptions ##
For the File Shares and ADLS Gen1, the split tabs are inconsistent when applying 'Search by prefix' for the original t

[2021-09-18 08:03] v-xianya opened #4945 "The split tabs are inconsistent if deleting one file before switching to the read-only snapshot context view for a file share"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210918.4
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one file -> Create snapshot for the f

[2021-09-18 08:13] v-kellyluo opened #4946 "'Hot' is always selected in the 'Update Access Tier' dialog when selecting more than one blob at the same time"
**Storage Explorer Version:** 1.21.1
**Build Number**: 20210918.4
**Branch:** hotfix/1.21.1
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**How Found:** Exploratory testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload two blobs and set the access

[2021-09-18 08:44] v-xianya opened #4947 "A conflict dialog pops up when uploading one folder to a file share"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210918.4
**Branch**: hotfix/1.21.1
**AzCopy Version**: 10.12.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: From running test case
**Regression From**: Previous build (20210917.4)

## Bug Descriptions ##
A conflict dialog pops up when uploading a folder to one file share or cloni

[2021-09-20 05:07] MRayermannMSFT commented on #4937
Duplicate of #1667

[2021-09-20 05:07] #4937 closed

[2021-09-20 05:15] MRayermannMSFT commented on #4879
@Kizmar can you please check 2 things?
1. Go to Help > Toggle Developer tools, go to the Application tab, then navigate to Local Storage > file://, and make sure you have an entry for `StorageExplorer_InPlaceQuickAccessItems_v1`:

![image](https://user-images.githubusercontent.com/21112697/133959264-32855767-3d62-4902-b790-707e2719ce4e.png)

2. In your start menu, search for "Credential Manager".

[2021-09-20 06:26] JasonYeMSFT commented on #4946
This is by design. When multiple blobs are selected, in case there are blobs with different tiers in the selection, we don't care what they are and always select Hot by default.

[2021-09-20 06:26] #4946 closed

[2021-09-20 06:53] GMarckofff opened #4948 "A user with the following RBAC (Storage Blob Data Contributor) should perform a copy/rename"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-20 06:54] JasonYeMSFT commented on #4942
We are not correctly catching an exception thrown in AzureEnvironmentsManager.ts while calling `addCustomAadProviderFromManagementEndpoint`

[2021-09-20 08:09] klachoo commented on #4912
@MRayermannMSFT
I assume these messages are generated by code and also put into the queue by code as I haven't personally done anything manually here.
I will have a closer look at it, at some point.
Thanks for your feedback.

[2021-09-20 12:42] Kizmar commented on #4879
I do have that entry in the Local Storage. (Quick Access is currently showing empty)

![image](https://user-images.githubusercontent.com/606842/134003751-6b1d0273-9614-41a1-b32a-bea0358da5e8.png)

I also have an entry in Credential Manager:

![image](https://user-images.githubusercontent.com/606842/134003921-caa9c137-d57d-438f-8eb6-b2902b823b24.png)

[2021-09-20 16:43] JasonYeMSFT commented on #4948
I assume you are seeing the Copy button disabled when you are using Azure AD credential to access your ADLS Gen2 data. The reason of disabling the button is explained in https://github.com/Azure/azure-storage-azcopy/issues/1304 and https://github.com/microsoft/AzureStorageExplorer/issues/3992.

If that's the case, we will be tracking this feature request in #3992. If not, please reopen the issue a

[2021-09-20 16:43] #4948 closed

[2021-09-20 16:48] JasonYeMSFT commented on #4935
@scsicat5 Could you tell us more information including:
- Which Storage Explorer version are you using
- Which node to be expanded triggers this error
- What type of credentials are you using to access that resource (e.g. Key, SAS, Signed-in subscription). If you are signed-in, what rbac roles do you have on that resource?

[2021-09-20 17:03] JasonYeMSFT commented on #4933
@Mayank-Ojha The error message indicates that your SAS token is not correct. Could you try regenerating the SAS and check if that makes a difference?

[2021-09-20 17:13] JasonYeMSFT commented on #4932
@mkakkireni I am going to paste the details into your 1st comment block to make it more obvious.

You are trying to access Azurite (a local Azure Storage emulator using hostname "azurite", which cannot be found. Did you setup a server with that hostname in your network? If it is running on your local machine, it would listen to your localhost by default (e.g. 127.0.0.1 or localhost).

[2021-09-20 17:15] JasonYeMSFT commented on #4928
@mbutt19 Could you check if you have any firewall settings configured on the storage account? They might lead to permission errors even if your credential has the right permission.

[2021-09-20 17:21] JasonYeMSFT commented on #4817
Closing due to lack of response. If you still run into the issue, please open a new issue instead.

[2021-09-20 17:21] #4817 closed

[2021-09-20 17:25] #4931 closed

[2021-09-20 17:26] JasonYeMSFT commented on #4923
The error message says the acl list is invalid but we cannot tell which part of it is invalid. We might need to get someone on the service team for help.

[2021-09-20 17:27] JasonYeMSFT commented on #4922
Might be related to https://github.com/microsoft/AzureStorageExplorer/issues/4931. If you can try the previous release, could you check the creation time of the missing directories?

[2021-09-20 17:35] JasonYeMSFT commented on #4840
Closing due to lack of response. If you still have this issue, please open a new issue instead.

[2021-09-20 17:35] #4840 closed

[2021-09-20 17:41] JasonYeMSFT commented on #4944
We don't support preserving the prefix for ADLS Gen1 or File Share right now.

[2021-09-20 17:43] JasonYeMSFT commented on #4943
This is by design. Going back from the snapshot to parent directory don't add a segment to the history.

[2021-09-20 17:43] #4943 closed

[2021-09-20 17:46] JasonYeMSFT commented on #4934
AzCopy has limitation operating on urls that end with multiple slashes. And this is a very edge case so we won't fix for now.

[2021-09-20 17:46] #4934 closed

[2021-09-20 17:51] JasonYeMSFT commented on #4823
We had some issues supporting expanding storage accounts without matching children so this behavior is by design.

[2021-09-20 17:51] #4823 closed

[2021-09-20 17:56] #4928 closed

[2021-09-20 17:56] JasonYeMSFT commented on #4924
I found this to be a duplicate issue of #4918 so I am going to close this issue and track the problem there.

[2021-09-20 17:56] #4924 closed

[2021-09-20 18:03] jinglouMSFT opened #4949 "Remove CosmosDB from Storage Explorer documentation"
We need to remove the CosmosDB section in this doc:  https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=windows

[2021-09-20 18:09] JasonYeMSFT commented on #4942
For users who run into this issue, please go back and re-add with the correct ARM endpoint.

[2021-09-20 18:12] vKaides opened #4950 "Cannot create Blob container"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-20 18:13] vKaides commented on #4939
Hi, i got the same problem did you know how to fix it?

[2021-09-20 21:24] Niharikadutta commented on #2965
@craxal What Storage explorer version has this change? I have v1.20.1  and am still not able to connect to a public storage account without any authentication:

![image](https://user-images.githubusercontent.com/8151864/134077710-00a162df-47c2-4709-9b69-4eeb712495e6.png)

[2021-09-21 10:03] cosmospuglisi commented on #4922
Which operating system you are on (Windows, macOS, Linux)? Windows
    Are you accessing a blob container or an ADLS Gen2 blob container? ADLS GEn2
    Are you unable to see any folder inside the container or some specific ones that you know exists? Any folder
    Is the folder under the root of the container or within some other directories? any folder
    Which view context are you in? The view

[2021-09-21 10:11] cosmospuglisi commented on #4922
Yes, it's the same error, but the container I cannot see has this last date
![image](https://user-images.githubusercontent.com/140662/134153100-ccee68d2-20ef-42e0-9681-9ed5b2a16fbd.png)

[2021-09-21 10:12] cosmospuglisi commented on #4922
sorry, I've closed the issue for error

[2021-09-21 13:51] ApoorvMSA commented on #4923
I was able to resolve the issue. It was permission issue.

Thanks,

***@***.***

Apoorv Osatwal
Data Engineering Project Lead, Analytics
1000 Cranberry Woods Drive
Cranberry Township, PA  16066
Office: 724.776.8705 |Mobile: 208.585.8132

From: JasonYeMSFT ***@***.***>
Sent: Monday, September 20, 2021 1:26 PM
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: Apoorv Osatwal ***@***.***>; Manual **

[2021-09-21 14:05] CollabTestCentennial opened #4951 "Can't add Blob Containers"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-21 16:31] socialcpf opened #4952 "metadata name not respecting case."
When create new or viewing existing blob metadata the case of the name is not being respected.  For example if I create a new metadata attribute "Metadata1" with a value of "vAlue" (case sensitive), the ui is not maintaining or reflecting the case of the name.  It seems to cast the name to lowercase. According to the documentation [here](https://docs.microsoft.com/en-us/rest/api/storageservices/na

[2021-09-21 16:49] JasonYeMSFT commented on #4922
@cosmospuglisi I mean the creation time of the missing folders. You can view those info by installing Storage Explorer 1.20.1 and use the "Properties" command to get them in the `CreatedOn` field .

![image](https://user-images.githubusercontent.com/39359541/134213150-2f2cca8a-7d65-4939-8371-c5470b99ac61.png)
![image](https://user-images.githubusercontent.com/39359541/134213186-2df00cb9-b054-478a-

[2021-09-21 16:51] #4950 closed

[2021-09-21 18:07] JasonYeMSFT commented on #2573
Not sure why we didn't clear the milestone and label last time. We will revisit this for sure this time.

[2021-09-21 18:17] JasonYeMSFT commented on #4952
Duplicate of #2573.

This is a known issue of two of our dependencies that handles writing metadata to Azure, @azure/storage-blob node module and AzCopy. In short, the underlining network library doesn't allow us set http headers names with arbitrary casing. You can read more details in this issue.

https://github.com/Azure/azure-sdk-for-js/issues/8117

[2021-09-21 18:17] #4952 closed

[2021-09-21 18:19] socialcpf commented on #4952
Thanks Jason!  Didn't catch the original.

[2021-09-21 20:07] cosmospuglisi commented on #4922
Using powershell cmdlet the result is:
CreatedOn             : 1/1/1601 12:00:00 AM +00:00

[2021-09-21 20:12] JasonYeMSFT commented on #4947
Fixed by AzCopy 10.12.2 release.

[2021-09-21 20:13] JasonYeMSFT commented on #4922
OK, it is indeed the same issue. We will ship the fix with 1.21.1 so that those folders will be accessible again.

[2021-09-22 02:16] v-xianya commented on #4947
Verified on the hotfix build 20210921.5. Fixed,

[2021-09-22 03:01] v-xianya commented on #4945
This issue also can be reproduces by the below steps:
1.Create a file share -> Upload file1.
2.Create a snapshot for the file share.
3.Upload file2 -> Switch to the context view "(read-only snapshot)".
4.Split the tab.

Actual: file2 displays under the split tab.
![image](https://user-images.githubusercontent.com/41351993/134276782-ccf707f4-e18f-4bf3-9fa4-5d4afd5cfe3b.png)

[2021-09-22 04:18] RocketPop opened #4953 "Add a setting or heuristic to disable the "untrusted extension" popup"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-22 09:11] v-xianya opened #4954 "Fail to upload one folder when the 'Destination directory' field value is '//'"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210921.5
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Bug Descriptions ##
Fail to upload more than one file at the same time/one folder when the 'Destination directory' field value is '//'.

#

[2021-09-22 09:38] v-xianya opened #4955 "It is hard to see the string 'Current' under file share snapshots view"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210921.5
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Change the theme to 'Dark'.
2. Expand one storage account -> File Shares.
3. Create a file share -> Click 'View S

[2021-09-22 10:31] v-xianya opened #4956 "Nothing happens when trying to paste one deleted disk"
**Storage Explorer Version**: 1.21.1
**Build Number**: 20210921.5
**Branch**: hotfix/1.21.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand 'Disks' node -> Open one resource group.
2. Upload one disk -> Copy the disk.
3. Delete the disk -> After

[2021-09-22 12:11] suershl-BH opened #4957 "blob containers are not accessible."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-22 16:07] MRayermannMSFT opened #4958 "Update to latest Electron"
Probably going to be 16 or 17 by the time we start working on 1.23.

[2021-09-22 16:50] JasonYeMSFT commented on #4953
You can just add a "" in the trusted file extension for files without a extension. Like this,
![image](https://user-images.githubusercontent.com/39359541/134387170-0e772890-014a-43eb-bc1f-4f81cd797491.png)

[2021-09-22 21:10] JasonYeMSFT commented on #4957
@suershi-BH This is a network error and might be related to proxy. Are you using a proxy server? Do you know what the IP address 223.255.255.255 is for?

[2021-09-22 22:32] RocketPop commented on #4953
Ah, that's a nice workaround - thanks for the quick answer! Perhaps this could be automatic since this behavior is not documented?

[2021-09-23 00:36] Kolichikov opened #4959 "Open in Explorer shows "currently filtered out" message despite all subscriptions being enabled."
(copied this from #220)
Storage Explorer Version: 1.21.1

Platform: Windows
Architecture: ia32
Build Number: 20210921.5
Commit: 66118044b

Steps to Reproduce:
Navigate through the Azure portal to a storage account.
In the storage account, click the button/link to 'Open in Explorer'.
Expected Experience:
The Azure Storage Explorer is expected to open and automatically show the storage account that

[2021-09-23 02:55] v-xianya commented on #4916
Verified on the latest main build 20210923.3. No new issue was found.

[2021-09-23 05:52] v-xianya commented on #4900
Verified on the latest main build/20210923.3. Fixed.
![image](https://user-images.githubusercontent.com/41351993/134460106-8da043c6-6a10-48a1-9c80-5edc5ce80199.png)

[2021-09-23 05:52] #4900 closed

[2021-09-23 07:51] v-xianya opened #4960 "The file share snapshots do not auto display when creating snapshots under the snapshots view"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20210923.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.1)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'View Share Snapshots'.
3. Create a sna

[2021-09-23 07:54] v-xianya opened #4961 "The original tab is closed after pasting a file share"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20210923.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Select one file share -> Open it by clicking 'Open'.
3. Clone the file share

[2021-09-23 09:06] v-kellyluo opened #4962 "The localized string 'Add new clause' shows in two lines after clicking 'Query' in tables"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20210923.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**Language:** Czech/ German/ Spanish/ French/ Hungarian/ Italian/ Dutch/ Polish/ Portuguese/ Russian/ Turkish
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Lau

[2021-09-23 10:19] v-kellyluo opened #4963 "It would be better to prevent pasting a blob which name is space to one ADLS Gen2 blob container"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20210923.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Bug description ##
If pasting a regular blob which name is space to one adls gen2 blob container, actions 'Delete' & 'Rename' & 'Move' will fail for

[2021-09-23 18:05] JasonYeMSFT commented on #4922
We have published 1.21.1. Please upgrade to fix this issue.

[2021-09-23 18:05] #4922 closed

[2021-09-23 18:14] Cage-e opened #4964 "Failed to delete huge table"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-23 19:10] justinpaulturner opened #4965 "Closing Application Locks Up System -- Mouse Movement Still Works."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-23 23:19] jinglouMSFT commented on #4965
Can you tell us how you installed Storage Explorer?  From the snap store or the tar.gz file? Thanks.

[2021-09-24 09:30] v-xianya opened #4966 "The filter string in the address bar overflows when switching back from the snapshots/versions view"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20210924.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob with a tag.
3. Open the view o

[2021-09-24 11:34] Jigar191089 opened #4967 "AzureStorageExplorer keeps crashing randomly"
My azure storage explorer keeps crashing randomly. I have observed that this happens when I have copied some text from say like xls file or chrome. I am using the latest version

[2021-09-24 15:13] wturner123 commented on #4464
Hi @MRayermannMSFT, I've been testing on v1.21.0 with the tweak that you sent over to Chris privately the other day (enforcing AzCopy for Stack operations).

Trying to copy blobs from either Stack --> Azure or Azure --> Stack fails both ways with the same errors. The first error in the log is like so:
[code]
It's then followed afterwards by the 400 errors that we've seen before, like below:
[code]

[2021-09-24 17:47] JasonYeMSFT commented on #4967
@Jigar191089 Which OS are you on. Also what do you mean by crashing? Is Storage Explorer prompting an error dialog and suggest you to close the app? If so, what does the error message say?

[2021-09-24 20:59] #4923 closed

[2021-09-24 21:58] JasonYeMSFT commented on #3439
Duplicate of #1950

[2021-09-24 21:58] #3439 closed

[2021-09-24 22:00] JasonYeMSFT commented on #4755
Let's make sure the requirements are well documented instead of adding runtime validation.

[2021-09-24 22:00] #4755 closed

[2021-09-24 23:22] #4940 closed

[2021-09-24 23:22] #4941 closed

[2021-09-24 23:23] #4779 closed

[2021-09-24 23:37] JasonYeMSFT commented on #4898
The setting cannot be trivially added since it requires a combination of "Ownership" and "Permissions" SAS permission and sometimes needs to be used together with --back flag for downloads.

[2021-09-25 01:01] jinglouMSFT commented on #4959
Thanks for the report. We'll look into this.

[2021-09-25 15:41] gdignard opened #4968 "Storage Table Export"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-26 09:37] v-xianya opened #4969 "Keep consistent behaviors between pasting one empty folder and more than one empty folder against file shares"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20210924.14
**Branch**: hotfix/1.21.2
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share-> Create three new empty folders (**f1, test1,

[2021-09-26 09:48] v-kellyluo opened #4970 "There is no error when typing an invalid query in the text editor for one emulator table"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20210924.14
**Branch:** hotfix/1.21.2
**Platform/OS:** Windows 10
**Architecture:** ia32\x64
**Emulator Version:** Azurite 3.14.0
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Install and start Azurite 3.14.0.
2. Launch Storage Explorer -> Expand 'Local & Attached -> Storage Acco

[2021-09-27 08:52] yuharucan opened #4971 "Copy between Azure Files and Blob/ADLS Gen2"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-27 09:44] Alessar commented on #4933
Hi @JasonYeMSFT . Looks like, there is the same issue in our pipeline.
1. There is no difference after SAS token was regenerated.
2. We don't manually regenerate SAS token. The functions (from AZ module) were used for regenerating.
3. Even we don't know why SAS token are failed. Because time is wrong or permission or something else.
So error is not very informative for investigate failures on clie

[2021-09-27 12:40] mike-westaway commented on #4769
I had the .azdownload files issue which is now resolved. I’ve added ‘echo off’ at the top of the batch file (containing the azcopy commands) and now its not writing the command output to the window (which was likely interfering with the renaming of the working file).

[2021-09-27 16:50] MRayermannMSFT commented on #4964
@Cage-e which emulator are you using?

[2021-09-27 17:03] MRayermannMSFT commented on #4953
@RocketPop we'll consider adding no extension to the default list. If we don't then we'll make sure the format for "no extension" is included in the example.

[2021-09-27 17:04] MRayermannMSFT commented on #4939
@vKaides did you sign into Azure then access your storage or did you attach to the storage? If you attached, how did you attach (SAS, connection string, name and key, attach with Azure AD)?

[2021-09-27 17:06] MRayermannMSFT commented on #4856
Closing due to lack of response. If you still need help please at least try the above suggestions. If that does not help we recommend you either:

- Open a support ticket via the Azure Portal
- Open a new issue here

Thanks.

[2021-09-27 17:06] #4856 closed

[2021-09-27 17:24] Cage-e commented on #4964
I think I've already answered it in the body of the issue or I don't understand what you mean?
Microsoft Azure Storage Explorer on Windows

[2021-09-27 17:37] MRayermannMSFT commented on #4970
Pretty sure this is a bug in Azurite? I think we validate custom queries as part of sending the query to the server. If that's true, then it looks like Azurite probably isn't returning the right error for an invalid query. Let's verify this is the case, and if so we can open a bug against Azurite.

[2021-09-27 17:40] MRayermannMSFT commented on #4969
Let's understand why the numbers are different and open a bug against AzCopy if needed.

[2021-09-27 17:55] MRayermannMSFT commented on #4954
Let's:
1. Consider looking for consecutive slashes in dst directory text box when uploading to file shares
2. We should probably see what's going on in the single file case, and open a bug against AzCopy? The behavior may be unintentional on their part.

[2021-09-27 18:18] MRayermannMSFT commented on #4933
@Alessar please provide the full error message you are seeing. Although it may be similar to what was originally posted for this issue, we'll need to see the full message to help you with your specific instance of it.

[2021-09-27 18:36] Mayank-Ojha commented on #4933
Hi Team,

PFA error screenshot. Please do the needful.

***@***.***<http://www.genpact.com/>
Best Regards
Mayank Ojha | Duty Logistics Officer
Cell Number: +91 9811805616, Extn: 5923
***@***.***<http://www.genpact.com/>

From: Matthew Rayermann ***@***.***>
Sent: 27 September 2021 23:48
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: OJHA, MAYANK ***@***.***>; Mention ***@***.***>
Subject: Re:

[2021-09-27 20:31] #4915 closed

[2021-09-27 20:32] #4960 closed

[2021-09-27 20:39] jinglouMSFT opened #4972 "Remove dependencies on Daytona"
Now we have our own ways for the theming and accessibility requirements, let's remove the dependencies on Daytona.
Per agreement, this needs to be done by the end of June 2022

[2021-09-27 21:00] JasonYeMSFT commented on #4961
This issue share the same cause of #2815. For some reason we are closing the source container and selectively not opening the new container in the explorer in our legacy v2 code path. This doesn't make sense. The expected behavior should be

"When pasting/cloning a container, the source explorer stays opened (if already opened) and the a new explorer for the destination opens."

I am going to clos

[2021-09-27 21:00] #4961 closed

[2021-09-27 21:01] JasonYeMSFT commented on #2815
Copied from #4961
The expected behavior should be

"When pasting/cloning a container, the source explorer stays opened (if already opened) and the a new explorer for the destination opens."

[2021-09-27 21:53] ShimmiDemi opened #4973 "Cannot access azure table with Storage Table Data Reader"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-28 07:22] v-kellyluo commented on #4960
Verified this issue on the build main/20210928.2. Fixed

[2021-09-28 08:29] v-xianya opened #4974 "There is an extra '>' in the address bar of the split tab for an ADLS Gen1 explorer if backing to the root from one directory in the original bar before splitting it"
**Storage Explorer Version**: 1.21.2
**Build Number**: 20210924.14
**Branch**: hotfix/1.21.2
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5.2
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand the node 'Data Lake Storage Gen1' node -> Open one adls gen1 account.
2. Click 'New Folder' -> Keep the defa

[2021-09-28 09:00] v-kellyluo opened #4975 "The split tabs are inconsistent after creating a folder if applying 'Filter by prefix' previously"
**Storage Explorer Version:** 1.21.2
**Build Number:** 20210924.14
**Branch:** hotfix/1.21.2
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5.2
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Open the view options panel.
3. Selec

[2021-09-28 09:05] Jigar191089 commented on #4967
I am on WIndows 10 Enterprise 64 bit version. I observed that it doesn't crashes but get stuck and then after sometime it turns normal.
![image](https://user-images.githubusercontent.com/57526133/135057745-4003bcd3-2723-47de-8d89-633657d22afa.png)

[2021-09-28 09:51] Latha2564 opened #4976 "A11y_Azure Tools Storage Explorer_ Manage Access policies_ Keyboard: Keyboard focus is not going to "Learn more" link in the "Manage Access policies" dialog box."
### GitHubTags:
#A11y_Azure Tools Storage Explorer; #A11ySev2; #A11yTCS; #A11yWCAG2.1; #DesktopApp; #Azure Tools Storage Explorer; #MAC; #BM-AzureToolsStorageExplorer-MAC-Sep2021; #WCAG2.1.1; #Keyboard; #AINotInScope;#A11yMAS;

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Standard Violated: Keyboard

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "

[2021-09-28 11:12] v-inanda opened #4977 "A11y_Azure Tools Storage Explorer_ Manage Access policies_ Keyboard: Keyboard focus is not going to "Learn more about access policy permissions" link in the "Manage Access policies" dialog box."
### GitHubTags:
#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG2.1.1;#Keyboard;#Benchmark;#Win32

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "Blob containers" and press Enter.
3.Right click on any ex

[2021-09-28 11:32] v-kanve opened #4978 "A11y_Azure Tools Storage Explorer_SAS URL_AI4D: (StorageExplorer/text ' ') The Name property must not contain only space characters."
**GitHubTags**

#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#AI4D;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG4.2.1;#Benchmark;Win32;#A11yAuto;

**Environment Details:**
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

**Note section**
This issue is also observed in Toggle Explorer Pane - Tree View and Add Manage Access Policies

**Repro S

[2021-09-28 11:33] v-inanda opened #4979 "A11y_Azure Tools Storage Explorer_SAS URL_AI4D : (StorageExplorer/button 'Copy') Focusable sibling elements must not have the same Name and LocalizedControlType."
### GitHubTags:
#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#AI4D;#A11yAuto;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG 4.1.2;#Benchmark;#Win32

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "Blob containers" and press Enter.
3.Click on any e

[2021-09-28 11:51] v-inanda opened #4980 "A11y_Azure Tools Storage Explorer_DiskInfoTable_AI4D: (StorageExplorer/image 'disk image') The Name must not include the same text as the LocalizedControlType."
### GitHubTags:
#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#AI4D;#A11yAuto;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG 4.2.1;#Benchmark;#Win32

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "Disks" of the selected subscription and press ente

[2021-09-28 11:52] v-kanve opened #4981 "A11y_Azure Tools Storage Explorer_SAS URL_AI4D: (StorageExplorer/ 'Expiry time:') The LocalizedControlType property must not be null."
**GitHubTags**

#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#AI4D;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG4.2.1;#Benchmark;Win32;#A11yAuto;

**Environment Details:**
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

**Note Section**
This issue is also observed in Add Manage Access Policies

**Repro Steps:**
1.Open Azure Tools Storage Ex

[2021-09-28 12:08] Latha2564 opened #4982 "A11y_Azure Tools Storage Explorer_ Connect to Azure Storage: Label is not provided for "Connect to Azure Storage" button in left side pane."
### GitHubTags:
#A11y_Azure Tools Storage Explorer; #A11ySev3; #A11yTCS; #A11yMAS; #DesktopApp; #Azure Tools Storage Explorer; #MAC; #BM-AzureToolsStorageExplorer-MAC-Sep2021; #MAS3.3.2; #Labels or Instructions; #AINotInScope;

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Standard Violated: Labels or Instructions

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.

[2021-09-28 12:12] v-kanve opened #4983 "A11y_Azure Tools Storage Explorer_SAS URL_AI4D: (StorageExplorer/table '') An element of the given ControlType must support the Table pattern."
**GitHubTags**

#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#AI4D;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG4.2.8;#Benchmark;Win32;#A11yAuto;

**Environment Details:**
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

**Note Section**
This issue is also observed in Toggle Explorer Pane - Tree View and Add Manage Access Policies

**Repro S

[2021-09-28 12:22] Latha2564 opened #4984 "A11y_Azure Tools Storage Explorer _Get Shared Access Signature_ Usability: No status message appear on the screen if the Start date is selected as future date compared to Expiry date in "Get Shared Access Signature "dialog box"
### GitHubTags:
#A11y_Azure Tools Storage Explorer; #A11ySev4; #A11yTCS; #A11yUsable; #DesktopApp; #Azure Tools Storage Explorer; #MAC; #BM-AzureToolsStorageExplorer-MAC-Sep2021; #AINotInScope;

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Standard Violated: Usable

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "Blob containers" and press Enter.
3

[2021-09-28 12:27] v-inanda opened #4985 "A11y_Azure Tools Storage Explorer_FileShares_Filesharetable_ScreenReader: NVDA is not announcing the correct table data while navigating to each cell of the table."
### GitHubTags:
#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#ScreenReader;#NVDA;#WCAG1.3.1;#Benchmark;#Win32

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

### Note:
No issue in Narrator Screen Reader scan mode

### Repro Steps:​
1.Open NVDA
2.Open Azure Tools Storage Expl

[2021-09-28 12:28] v-kanve opened #4986 "A11y_Azure Tools Storage Explorer_SAS URL_AI4D: (StorageExplorer/table '') An element of the given ControlType must support the Grid pattern."
**GitHubTags**

#A11yTCS;#A11ySev2;#A11yWCAG;#DesktopApp;#AI4D;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG4.2.8;#Benchmark;Win32;#A11yAuto;

**Environment Details**
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

**Note Section**
This issue is also observed in Toggle Explorer Pane - Tree View and Add Manage Access Policies

**Repro St

[2021-09-28 12:36] v-inanda opened #4987 "A11y_Azure Tools Storage Explorer_ Connect to Azure Storage: Label is not provided for "Connect to Azure Storage" button in left side pane."
### GitHubTags:
 #A11yMAS;#A11ySev3; #A11yTCS;#DesktopApp; #Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021; #MAS3.3.2; #Labels or Instructions; #AINotInScope;

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10
Standard Violated: Labels or Instructions

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "

[2021-09-28 13:03] v-inanda opened #4988 "A11y_Azure Tools Storage Explorer _Get Shared Access Signature_ Usability: No status message appear on the screen if the Start date is selected as future date compared to Expiry date in "Get Shared Access Signature "dialog box"
### GitHubTags:
#A11ySev4; #A11yTCS; #A11yUsable; #DesktopApp; #Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#Benchmark;#Win32

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10
Standard Violated: Usable

### Repro Steps:​
1.Open Azure Tools Storage Explorer
2.Tab till the "Blob containers" and press Enter.
3.Right clic

[2021-09-28 13:07] Latha2564 opened #4989 "A11y_Azure Tools Storage Explorer _Get Shared Access Signature_ ScreenReader: Voiceover is not announcing the Complete Information in Dequeue message dialog box."
### GitHub Tags:
#A11y_Azure Tools Storage Explorer; #A11ySev3; #A11yTCS; #A11yWCAG2.1; #DesktopApp; #Azure Tools Storage Explorer; #MAC; #BM-AzureToolsStorageExplorer-MAC-Sep2021; #WCAG1.3.1; #Info and Relationships; #AINotInScope;#Voiceover;#A11yMAS;

### Environment Details:​
Application Name: Azure Tools Storage Explorer
Standard Violated: Info and Relationships

### Repro Steps:​
1.Enable Voi

[2021-09-28 13:19] v-kanve opened #4990 "A11y_Azure Tools Storage Explorer_SAS URL_High Contrast: In High Contrast white mode keyboard focus is not visible on the controls in the Microsoft Azure Storage Explorer popup"
**GitHubTags**

#A11yTCS;#A11ySev2;#A11yMAS;#DesktopApp;#Azure Tools Storage Explorer;#BM-AzureToolsStorageExplorer-Win32-Sep2021;#WCAG1.4.3;#Benchmark;Win32;#High Contrast;

**Environment Details**
Application Name: Azure Tools Storage Explorer
Windows Version: Windows 10

**Repro Steps**
1.Apply High Contrast White theme
2.Open Azure Tools Storage Explorer
2.Tab till the "Blob containers" and pr

[2021-09-28 13:59] ld0614 opened #4991 "Typo is latest Windows Release File Name"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-28 14:10] shanegilb opened #4992 "Error when clicking on Blob Containers after successful connection creation"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-28 18:45] MRayermannMSFT opened #4993 "Promote snapshot"

[2021-09-28 18:49] MRayermannMSFT opened #4994 "Delete (this code path only exists behind a hidden feature flag, we could just delete this?)"

[2021-09-28 23:15] JasonYeMSFT opened #4995 "Take a new version of daytona package"
A high severity vulnerability is discovered in our existing daytona package. The corresponding team has published a new version including a fix to it so we need to take the upgraded daytona package to be clear on the vulnerability.

[2021-09-28 23:15] #4995 closed

[2021-09-29 00:31] #4494 closed

[2021-09-29 00:31] #4664 closed

[2021-09-29 08:40] Jigar191089 commented on #4967
Also when this happens at that time my copy-paste stops working and it starts only after the storage explorer has returned to normal state

[2021-09-29 09:20] v-xianya opened #4996 "Display '0 completed' in the activity log when deleting a folder which name contains whitespaces under GPV2 Premium accounts"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20210929.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one GPV2 Premium account -> Blob Containers.
2. Create a blob container -> Create a new folder with the default name

[2021-09-29 09:57] NatashaProt commented on #4935
@JasonYeMSFT I have the same error for a long time. So I re-installed the application to the newest version. I try to connect to CosmosDB for my working project. My team provided several connection strings (AccountEndpoint and AccountKey), but the error is the same. When I close the error window, I can't see any table in DB.
![image](https://user-images.githubusercontent.com/12084986/135246769-e96

[2021-09-29 10:00] NatashaProt commented on #4921
I have the same error for a long time. But no other details in the error window. So I re-installed the application to the newest version. It didn't help.
I try to connect to CosmosDB for my working project. My team provided several connection strings (AccountEndpoint and AccountKey), but the error is the same. When I close the error window, I can't see any table in DB.
Other colleagues can connect

[2021-09-29 14:29] keen85 opened #4997 "Blob Container: duplicate file/folder"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-29 14:41] keen85 opened #4998 "Blob Container: Build-in zip/unzip files"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-29 17:01] JasonYeMSFT commented on #4935
@natashaSavchuk Could you share the steps from attaching the Table using the connection string up to getting this error?

By the way, if you are trying to list the tables under the "Cosmos DB Accounts" node, we won't be able to do anything on it since it will be retired in our next release #4935. If you are using its Table endpoint to connect, we might need to add some more error logging to figure

[2021-09-29 17:12] jinglouMSFT commented on #4921
@NatashaSavchuk The CosmosDB team has decided to deprecate the CosmosDB support in Storage Explorer as you probably have seen in other CosmosDB related issues posted/commented in this repo.  The suggestion was to use the portal instead.  See more comments in this issue: https://github.com/microsoft/AzureStorageExplorer/issues/3161.

[2021-09-29 17:45] #4994 closed

[2021-09-29 19:04] MRayermannMSFT commented on #4963
Going to won't fix for now. I reviewed our conversations with the service team regarding but #3119 and it turns out whitespace only named files are also not supported. If a user comes and complains that we allowed them to get in this situation we can look into more proactive measures.

[2021-09-29 19:04] #4963 closed

[2021-09-29 21:11] MRayermannMSFT commented on #4991
@ld0614 we've changed the file name. Please let us know if you still see it as broken.

[2021-09-29 21:38] junjibienestar opened #4999 "problems in connection to the blob azure - "Cannot retrieve secondary resources.""
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-09-29 21:43] MRayermannMSFT commented on #4576
@ohadbitt I've double checked the APIs. This is not currently supported. The APIs require that you create all folders in the path before doing the move. Do note that Storage Explorer lets you create multiple folders at once in the New Folder dialog.

As for doing it for you as part of the move, we are hesitant to do that right now. We're going to put this into future right now and wait for additio

[2021-09-29 21:49] jinglouMSFT commented on #4999
Have you tried this in the latest release?  Should be version v1.21.2.  Thanks.

[2021-09-29 22:01] junjibienestar commented on #4999
Download the latest version!
the same error continues:
![error blob azure2](https://user-images.githubusercontent.com/88163316/135354718-6c6ac2e5-282a-4ae3-8da3-1f9bdcdcc470.png)

says: temporary deletion

Secondary resources cannot be recovered.

Details:
{
   "name": "RestError",
   "message": "Server failed to authenticate the request. Make sure the value of Authorization header is formed corre

[2021-09-29 22:28] MRayermannMSFT commented on #4959
@Kolichikov clicking "select" should be taking you to the account management panel where you can select your subscription.

Can you please confirm:
- Clicking select is not taking you to the account panel (see below screenshot).
- The subscription is definitely selected whenever you do go the account panel. Verify by looking for the subscription with the same ID and making sure there is a check ma

[2021-09-29 23:08] #4911 closed

[2021-09-29 23:09] JasonYeMSFT commented on #4897
Updated the default setting value in Storage Explorer to match AzCopy's new default value.

[2021-09-29 23:09] #4897 closed

[2021-09-30 05:47] NatashaSavchuk commented on #4935
You're right. I user Cosmos DB account for SQL API string. What we can use in this case?

[2021-09-30 06:21] v-kellyluo commented on #4911
Verified this issue on the build main/20210930.3. Fixed.

[2021-09-30 06:52] NatashaSavchuk commented on #4921
@jinglouMSFT could you please share the link for portal which I can use for adding conenction string?

[2021-09-30 08:33] v-kellyluo opened #5000 "There is an extra active folder in the 'Active and soft deleted blobs' context after deleting a folder which contains undeleted blob"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20210930.3
**Branch:** main
**Platform/OS:** Windows 10//Linux Ubuntu 20.04/MacOS Big Sur 11.4
**Architecture:** ia32\x64
**How Found:** Exploratory testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a new folder.
3. Uploa

[2021-09-30 12:28] ld0614 commented on #4991
Thanks for the fix, its working now 😄

[2021-09-30 12:28] #4991 closed

[2021-09-30 20:40] MRayermannMSFT commented on #4977
Related https://github.com/microsoft/AzureStorageExplorer/issues/4976

[2021-09-30 20:40] MRayermannMSFT commented on #4976
Related https://github.com/microsoft/AzureStorageExplorer/issues/4977

[2021-09-30 20:41] MRayermannMSFT commented on #4988
Related https://github.com/microsoft/AzureStorageExplorer/issues/4984

[2021-09-30 20:42] MRayermannMSFT commented on #4984
Related https://github.com/microsoft/AzureStorageExplorer/issues/4988

[2021-09-30 20:42] MRayermannMSFT commented on #4987
Related https://github.com/microsoft/AzureStorageExplorer/issues/4982

[2021-09-30 20:42] MRayermannMSFT commented on #4982
Related https://github.com/microsoft/AzureStorageExplorer/issues/4987

[2021-09-30 21:18] MRayermannMSFT commented on #4989
Should ask accessibility office hours about this. Initially we focus the OK button so that is read. User can use voice over keys to navigate to the text and have it read though. Unsure if reading the whole dialog is the right thing to do or not.

[2021-09-30 21:35] MRayermannMSFT commented on #4978
I think the `display: table` we have is messing things up.

[2021-09-30 21:42] MRayermannMSFT commented on #4980
@v-inanda So to be clear the issue is that the localized control type, "image", is also part of the name?

![image](https://user-images.githubusercontent.com/21112697/135534098-d5fb08b3-5e4c-40f2-ac67-6da3b028f680.png)

[2021-09-30 21:53] MRayermannMSFT commented on #4981
Should ask accessibility office hours about this. It looks like portal is somehow applying an application role on their date time inputs. Hopefully either there's a role they can condone us using or we can get an exception.

[2021-09-30 21:54] MRayermannMSFT commented on #4986
Related to #4978 , I think the `display: table` we have is messing things up.

[2021-09-30 21:55] MRayermannMSFT commented on #4983
Related to #4978 , I think the `display: table` we have is messing things up.

[2021-10-01 00:02] MRayermannMSFT commented on #4990
Important note: this is only repro'ing if Windows is also in high contrast white theme. When windows is in normal theme, the coloring is way better:
![image](https://user-images.githubusercontent.com/21112697/135546147-b6ecb3a1-5f37-41dd-9813-8d6025848c8d.png)
![image](https://user-images.githubusercontent.com/21112697/135546166-6a02f1ae-c161-4519-943f-b10eb3033e4c.png)

[2021-10-01 00:10] jshinevar opened #5001 "Can't install Azure Storage Explorer via Homebrew Error: SHA256 mismatch"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-01 00:55] LarsKemmann commented on #4891
Thank you @MRayermannMSFT - that worked!

[2021-10-01 00:55] #4891 closed

[2021-10-01 07:04] Latha2564 commented on #4983
Closing this bug as it is an Electron App .For Electronic apps no need to log AI bugs

[2021-10-01 07:06] Latha2564 commented on #4981
Closing this bug as it is an Electron App .For Electronic apps no need to log AI bugs

[2021-10-01 07:06] Latha2564 commented on #4980
Closing this bug as it is an Electron App .For Electronic apps no need to log AI bugs

[2021-10-01 07:07] Latha2564 commented on #4979
Closing this bug as it is an Electron App .For Electronic apps no need to log AI bugs

[2021-10-01 07:08] Latha2564 commented on #4978
Closing this bug as it is an Electron App .For Electronic apps no need to log AI bugs

[2021-10-01 07:08] Latha2564 commented on #4977
Closing this bug as it is an Electron App .For Electronic apps no need to log AI bugs

[2021-10-01 13:14] Johnny-shin commented on #4939
I tried both. Also I signed-in properly because I was able to use other services in Azure

[2021-10-01 13:18] pilcherd opened #5002 "Request: 64bit Windows builds"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-01 17:41] MRayermannMSFT commented on #4983
Oh ok. That works too!

[2021-10-01 17:41] #4983 closed

[2021-10-01 17:42] MRayermannMSFT commented on #4986
Oh ok. That works too!

[2021-10-01 17:42] #4986 closed

[2021-10-01 17:42] MRayermannMSFT commented on #4981
Oh ok. That works too!

[2021-10-01 17:42] #4981 closed

[2021-10-01 17:42] MRayermannMSFT commented on #4980
Oh ok. That works too!

[2021-10-01 17:42] #4980 closed

[2021-10-01 17:42] MRayermannMSFT commented on #4978
Oh ok. That works too!

[2021-10-01 17:42] #4978 closed

[2021-10-01 17:43] MRayermannMSFT commented on #4979
Oh ok, that works too!

[2021-10-01 17:43] #4979 closed

[2021-10-01 18:04] JasonYeMSFT commented on #5001
I ran exactly the same command and it succeeded. You can delete the corrupted file and retry. Or you can just download the .zip file from GitHub, decompress it and copy(&replace) the .app bundle to the Applications folder.

[2021-10-01 18:57] vamshisiram opened #5003 "Time out for blob container Private Endpoint"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-01 20:32] MRayermannMSFT commented on #4956
Should now see this:
![image](https://user-images.githubusercontent.com/21112697/135682913-9a1f7250-283e-4949-b996-3121ad71502f.png)

[2021-10-01 20:32] #4956 closed

[2021-10-01 20:49] MRayermannMSFT commented on #4615
@choukimasri we've decided to not go through with any sort of auto log cleaning. We'd rather this be something you/users do on their own. Here's some things to help you going foward:
- Docs on an azcopy command that helps you clean the log folder (assuming you don't want to just delete everything in there): https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-jobs-clean?toc=/az

[2021-10-01 20:49] #4615 closed

[2021-10-01 22:04] MRayermannMSFT commented on #4550
![image](https://user-images.githubusercontent.com/21112697/135691007-d8e80ec6-1393-4588-99ef-703a1c175621.png)

[2021-10-01 22:04] #4550 closed

[2021-10-01 22:05] MRayermannMSFT commented on #4551
![image](https://user-images.githubusercontent.com/21112697/135691028-4f692abb-ed77-4344-8a97-8335f4326555.png)

[2021-10-01 22:05] #4551 closed

[2021-10-01 22:36] MRayermannMSFT opened #5004 "Delete Remaining File Flob Code Paths for Rename/Upload/Paste/Download/Clone"

[2021-10-01 22:41] MRayermannMSFT opened #5005 "Add a redundant `aria-live="polite"` too all data explorer table announcement elements"

[2021-10-01 23:18] JasonYeMSFT opened #5006 "Deprecate KeyboardEvent.keyCode, KeyboardEvent.which"
Use combination of KeyboardEvent.key and KeyboardEvent.code instead.

[2021-10-02 09:47] rkahani commented on #4965
Same issue

[2021-10-03 00:50] sunilsydney opened #5007 "Cannot create a table - Emulator Default ports - Azurite"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-03 07:58] ericnoarin opened #5008 "Microsoft Storage Explorer are not woring"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-03 08:01] ericnoarin commented on #5008
![StorageExplorer issue](https://user-images.githubusercontent.com/91822341/135745303-173df8c7-f5e5-4e90-b9e2-a4e25502ef36.jpg)

[2021-10-04 07:39] choukimasri commented on #4615
Plain shameful, it's probably the easy way to solve issues nowadays, time to seek  alternatives to Azure Storage Explorer

[2021-10-04 14:20] SaiGuttaRocking commented on #5008
+1

[2021-10-04 17:17] MRayermannMSFT commented on #5002
Duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/106

[2021-10-04 17:17] #5002 closed

[2021-10-04 17:21] MRayermannMSFT commented on #4997
@keen85 can you try using clone?
![image](https://user-images.githubusercontent.com/21112697/135895804-e8811650-7150-4103-9447-181e62a2e13f.png)

[2021-10-04 17:38] MRayermannMSFT commented on #5008
@ericnoarin it looks like you have attached a storage account via SAS URL.

- Is your URL correct? Did you maybe misspell the name of the account in the URL?
- Is the SAS expired?
- Does the SAS have permissions to list containers?
- Does the SAS have any sort of IP restriction?
- Can you please update to the latest version of Storage Explorer.

@SaiGuttaRocking if your error message is not exactl

[2021-10-04 17:47] MRayermannMSFT commented on #5003
@vamshisiram since you are also seeing issues with the Azure portal when trying to access this account, then the issue is almost certainly out of the scope of what we can help you with. We recommend opening an Azure support ticket for private link/private endpoint:
![image](https://user-images.githubusercontent.com/21112697/135899263-d0e77d89-35d6-49cd-8d3d-27500474c8cb.png)

[2021-10-04 17:53] MRayermannMSFT commented on #4999
@junjibienestar it looks like you have attached with name & key or a connection string that contains the account name & key.

- When attaching/in your connection string is the name of your account spelled correctly? You can check via going to the Propiedades panel and looking at the various properties that have the name of your account in them and making sure it is spelled correctly.
- Is the key

[2021-10-04 18:00] keen85 commented on #4997
Hi @MRayermannMSFT ,

in my Azure Storage Explorer 1.20.1 installation, this button is not present:
![image](https://user-images.githubusercontent.com/29750255/135900845-b12b7cf7-6b38-4ad9-bd8e-8e177b04f31e.png)

I'm working on a Blob Container (ADLS Gen2)

[2021-10-04 18:04] MRayermannMSFT commented on #4975
@v-kellyluo this is by design. When you do a split, we do not preserve the full path history/path segments.

[2021-10-04 18:04] #4975 closed

[2021-10-04 18:07] keen85 commented on #4997
I just realized, that I did not have the most recent version installed. Apparently the build-in update functionality did not work.

I updated manually to 1.21.2.
However, still no "clone" button for me. Do I need to activate insider builds?

[2021-10-04 18:10] MRayermannMSFT commented on #4974
Fix if/when someone encounters this.

[2021-10-04 18:12] MRayermannMSFT commented on #4973
@ShimmiDemi this is expected right now. We do not yet support RBAC for Tables. We are in the process of completing this work. You can track progress of that here: #4542

[2021-10-04 18:15] MRayermannMSFT commented on #4967
@Jigar191089 can you give us an example of what you are copy and pasting? Please:

- Take a screenshot of the selection in whatever app (excel or chrome) you are copying from and share that as a reply to this issue
- Paste the selection as well as a reply to this issue

[2021-10-04 18:16] MRayermannMSFT commented on #4965
@rkahani did you install with snap or the .tar.gz?

[2021-10-04 18:18] MRayermannMSFT commented on #4964
@Cage-e are you using Azurite or the .NET Microsoft Storage Emulator?

[2021-10-04 18:21] MRayermannMSFT commented on #4939
@Johnny-shin if you are seeing issues both in the Storage Explorer desktop client and when trying to use the Azure portal in your browser then we recommend you open an Azure support ticket.

[2021-10-04 18:24] MRayermannMSFT commented on #4935
@NatashaSavchuk for CosmosDB, the current recommendation is to try using either:
- the portal: https://portal.azure.com
- the online cosmos explorer: https://cosmos.azure.com

[2021-10-04 18:25] MRayermannMSFT commented on #4933
@Mayank-Ojha to share a screenshot you need to go to the actual GitHub issue in your browser. You can not send it over email.

[2021-10-04 18:31] MRayermannMSFT commented on #4997
@keen85 ah ok. You are in a Gen2 storage account. We currently do not offer clone in such scenario. We will evaluate adding this in the future. :)

[2021-10-04 18:32] rkahani commented on #4965
Snap

On Mon, Oct 4, 2021, 21:46 Matthew Rayermann ***@***.***>
wrote:

[2021-10-04 18:38] MRayermannMSFT commented on #4990
Related: #4636

[2021-10-04 19:21] #5003 closed

[2021-10-04 19:34] shanegilb commented on #4992
Matthew,
Yes I tried across multiple days with the same issue.   I’ve tried with v1.21.1 and v1.14.2 both of which I have used in the past to connect to Databoxes without issue.

Thanks,
Shane

From: Matthew Rayermann ***@***.***
Sent: Monday, October 4, 2021 1:01 PM
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: Gilbreath, Shane ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/Azur

[2021-10-04 19:51] keen85 commented on #4997
@MRayermannMSFT so, there is already a "clone file/folder" functionality in Azure Storage Explorer - but it only works for "ordinary" Blob Storage?
Why is that?

[2021-10-04 20:13] JasonYeMSFT commented on #4974
Clicking on the segment before the extra '>' can quickly workaround this issue and make everything work again.

[2021-10-04 21:00] #5004 closed

[2021-10-04 22:52] MRayermannMSFT opened #5009 "V12 File Share Configure CORS"

[2021-10-05 00:48] #5005 closed

[2021-10-05 02:06] justinpaulturner commented on #4965
Snap store

On Thu, Sep 23, 2021 at 6:19 PM jinglouMSFT ***@***.***>
wrote:

--
Justin P. Turner
(816) 262-1482 <18162621482>

[2021-10-05 07:08] kian-beetroot commented on #4964
Microsoft Azure Storage Emulator v5.1

[2021-10-05 09:12] skywalkerisnull opened #5012 "Azure Blob IoT behind proxy - SSL Certificate has expired"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-05 09:13] skywalkerisnull commented on #5012
In addition, I have attempted to import the root certificates (incase NodeJS did not have them, or had expired versions)

[2021-10-05 09:17] skywalkerisnull commented on #5012
Further to this, here is a stackoverflow that seems to show that the internal version of node needs to be bumped: https://stackoverflow.com/a/69403683/11929735

[2021-10-05 12:48] Kizmar commented on #4879
Hey, the two things I added to Quick Access a week and a half ago are still there after opening it today. There was a bit of a rocky authentication flow though. Authorized a couple tenants then had to close and reopen the app. Seems fine now though.

[2021-10-05 13:59] SriKatakam21 opened #5013 "Unable to fetch files from Azure File Share"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-05 16:34] mcline1984 opened #5014 "I dont like this tool"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-05 17:09] JasonYeMSFT commented on #4887
The hang issue might relate to this https://github.com/electron/electron/issues/27084. From our log, if my linux Storage Explorer has been running for sufficiently, it takes 7 - 10 seconds between clicking the "Close window" button and the "close" event gets fired.

[2021-10-05 17:47] jinglouMSFT commented on #4964
It's likely a timeout issue, possibly on the emulator side.  Have you tried to use the Emulator command line to clear the table?  The command is AzureStorageEmulator.exe clear [table].  You can find more info here:  https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator
Windows storage emulator is now deprecated as you can see from the doc linked above.  The SDK team and us rec

[2021-10-05 19:25] MRayermannMSFT opened #5015 "Use adhoc event listener for update on close instead of a full provider"

[2021-10-05 20:08] jtorgrimson opened #5016 "Unable to connect to Azure Storage File Share"
Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to http://127.0.0.1:10001/devstoreaccount1?comp=list&include=metadata&timeout=30 failed, reason: connect ECONNREFUSED 127.0.0.1:10001",
  "stack": "FetchError: request to http://127.0.0.1:10001/devstoreaccount1?comp=list&include=metadata&timeout=30 failed, reason: connect ECONNREFUSED 127.0.0.1:10001\n

[2021-10-05 20:24] MohammedL365 opened #5017 "unable to upload / download / clone containers using Storage explorer"
Hi,

I am unable to upload / download files using Azure Storage Explorer. Get below message Using SAS or AD authentication.

{
  "message": "\"UnexpectedQuit\""
}

![image](https://user-images.githubusercontent.com/68911381/136096985-a6652d11-b673-4767-bd4e-cba8e904b06d.png)

thanks,

[2021-10-05 21:25] #4945 closed

[2021-10-06 00:08] MRayermannMSFT commented on #4996
@v-xianya

can you tell me what subscription and storage account you repro this in?
does it still repro on main?
can you share the azcopy log from the job?

[2021-10-06 00:13] MRayermannMSFT opened #5018 "V12 File Share Manage stored access policies"

[2021-10-06 00:30] MRayermannMSFT commented on #5018
I guess I already did this back in February? Leaving in this milestone for now as we should add to system proxy docs.

[2021-10-06 00:30] #5018 closed

[2021-10-06 00:38] #5009 closed

[2021-10-06 00:41] MRayermannMSFT opened #5019 "Configure CORS"

[2021-10-06 12:22] MohammedL365 commented on #5017
I will close this issue. Just figured out that i had manually pointed the AZCopy log file location to a different directory which then got removed due to house keeping.

After re-creating the directory where AZCopy_Log_Location was pointing to it is working now...

thanks,

[2021-10-06 17:36] MRayermannMSFT opened #5020 "Cleanup not-storage-explorer code & files"
Choose something you know is still around which came from CE and is not used by storage explorer, timebox yourself, and delete as much of it as you can. Have fun!

Related: #5021, #5022

[2021-10-06 17:48] MRayermannMSFT opened #5021 "Cleanup not-storage-explorer code & files"
Choose something you know is still around which came from CE and is not used by storage explorer, timebox yourself, and delete as much of it as you can. Have fun!

Related: #5020, #5022

[2021-10-06 18:04] MRayermannMSFT opened #5022 "Cleanup not-storage-explorer code & files"
Choose something you know is still around which came from CE and is not used by storage explorer, timebox yourself, and delete as much of it as you can. Have fun!

Related: #5020, #5021

[2021-10-06 18:44] MRayermannMSFT commented on #4987
Waiting on this upstream fix before addressing this: https://bugs.chromium.org/p/chromium/issues/detail?id=829352

[2021-10-06 18:44] MRayermannMSFT commented on #4982
Waiting on this upstream fix before addressing this: https://bugs.chromium.org/p/chromium/issues/detail?id=829352

[2021-10-06 20:28] MRayermannMSFT opened #5023 "Change access tier"

[2021-10-06 22:19] JasonYeMSFT commented on #1950
I have add the feature into our dev branch and we will include this feature in our 1.22.0 release.

[2021-10-06 22:32] dnegrisolli opened #5024 "Problems with Blob access after turn a free to a payed account"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-06 22:54] JasonYeMSFT commented on #4670
@v-xianya It seems like this has been fixed by the service team. If you can verify that this works (except that our prompt still says the snapshot will be permanently deleted), let's close this issue.

[2021-10-06 23:03] #5024 closed, assigned to nobody

[2021-10-07 08:50] raghavrawat98 opened #5025 "Not able to create container on Azure storage explorer|Azure blob storage on IoT Edge"
I am following this document https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2020-11.
I have my edge device running at a Linux VM. I deployed the following manifest
{

    "modulesContent": {
      "$edgeAgent": {
        "properties.desired": {
          "schemaVersion": "1.1",
          "runtime": {
            "type": "docker",
            "settings": {

[2021-10-07 13:54] Meister1867 opened #5026 "Feature Request: display timezone for data"
On some projects we're working with data that may span time zones.  When I look at "Last Modified"  I don't know if that is Universal Time, Eastern, Central, Mountain, Indian, Moscow, etc... It would be great if there was a code indicating what time zone I'm looking at.

[2021-10-07 17:03] MRayermannMSFT opened #5027 "v12 Promote blob snapshot"

[2021-10-07 18:21] MRayermannMSFT opened #5028 "Create Snapshot"

[2021-10-07 20:42] MRayermannMSFT commented on #5020
I chose service fabric stuff!

[2021-10-07 21:40] #5027 closed

[2021-10-08 01:18] MRayermannMSFT commented on #5028
Missed promoting after open file

[2021-10-08 02:52] v-xianya commented on #4670
@JasonYeMSFT Verified on the build 20211008.1. This issue has been fixed.
The adls gen2 snapshot can be successfully soft deleted (prompt still says the snapshot will be permanently deleted).

Fail to undelete the soft-deleted snapshot with the error '**The specified blob already exists**'. Could you help to take a look?
![image](https://user-images.githubusercontent.com/41351993/136490634-86d5387

[2021-10-08 03:02] v-xianya commented on #3813
@MRayermannMSFT
1. Azure Tools Manual Testing 2 -> ayantest (Premium)
Here is the direct link for the account:
storageexplorer://v=1&accountid=%2Fsubscriptions%2F92be7e56-8a60-427c-a3e3-0ebd54a827a1%2FresourceGroups%2FCTI-Kristine%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fayantest&subscriptionid=92be7e56-8a60-427c-a3e3-0ebd54a827a1
2. Reproduce on main build 20211008.1
3. We cannot get t

[2021-10-08 03:03] v-xianya commented on #4996
@MRayermannMSFT
1. Azure Tools Manual Testing 2 -> ayantest (Premium)
Here is the direct link for the account:
storageexplorer://v=1&accountid=%2Fsubscriptions%2F92be7e56-8a60-427c-a3e3-0ebd54a827a1%2FresourceGroups%2FCTI-Kristine%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fayantest&subscriptionid=92be7e56-8a60-427c-a3e3-0ebd54a827a1
2. Reproduce on main build 20211008.1
3. We cannot get t

[2021-10-08 03:08] v-xianya commented on #4901
Verified on the build 20211008.1. Fixed.
![image](https://user-images.githubusercontent.com/41351993/136492108-03dce10e-ea3f-42b8-9e39-8c57a2d0ad2b.png)

[2021-10-08 03:10] v-xianya commented on #4945
Fixed on the main build 20211008.1.

[2021-10-08 03:13] v-xianya commented on #4412
@MRayermannMSFT
Verified this issue on the build main 20211008.1. Reproduce. so we are going to reopen it.
![image](https://user-images.githubusercontent.com/41351993/136492516-82acdbc5-55b6-4f29-aa18-7e5c204e7c03.png)

[2021-10-08 07:08] v-xianya opened #5029 "Succeed to create snapshots for one archived emulator blob"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211008.1
**Branch**: main
**Platform/OS**: Windows 10
**Architecture**: ia32
**Emulator Version**: Azurite 3.14.0
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Install and run Azurite 3.14.0 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator

[2021-10-08 07:48] v-xianya opened #5030 "There is no '...' next to the action item 'Clone and Rehydrate' for one blob"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211008.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Right click

[2021-10-08 08:28] v-xianya opened #5031 "It would be better to add a warning 'Blob name must be different' in the 'Clone and Rehydrate' dialog"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211008.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Bug Description ##
There is an incorrect error message **'This operation is not permitted on an archived blob'** when executing 'Clone and Rehydrate

[2021-10-08 08:30] v-xianya commented on #4984
Fixed on the main build 20211008.1.
![image](https://user-images.githubusercontent.com/41351993/136524277-b08ebedb-c6f1-4d85-95a2-3e8b5883b754.png)

[2021-10-08 08:53] v-xianya opened #5032 "An extra scrollbar displays in the 'Shared Access Signature' dialog for blob containers when timestamp validation error occurs"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211008.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.12.2)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Right click the blob contain

[2021-10-08 08:54] v-xianya opened #5033 "The cloned rehydrated blob doesn't auto display"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211008.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob -> Change the ac

[2021-10-08 10:03] v-kellyluo opened #5034 "Fail to upload one blob with the same name if there is a cloned rehydrated blob got deleted"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211008.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload two blobs -> Change one

[2021-10-08 16:52] JasonYeMSFT commented on #5034
The backend has some protection mechanism to prevent corrupting data that is being rehydrated. Let's wait for a day or two and see if it allows re-upload the data.

[2021-10-08 16:52] ShimmiDemi commented on #4973
@MRayermannMSFT , thanks for your response, do you have an ETA when it is available?

[2021-10-08 20:38] craxal opened #5036 "Use v12 SDK to list table entities"

[2021-10-08 20:38] craxal opened #5037 "Use v12 SDK to import entities"

[2021-10-08 20:38] craxal opened #5038 "Use v12 SDK to export entities"

[2021-10-08 20:38] craxal opened #5039 "Use v12 SDK to add entities"

[2021-10-08 20:38] craxal opened #5040 "Use v12 SDK to edit entities"

[2021-10-08 20:38] craxal opened #5041 "Use v12 SDK to delete entities"

[2021-10-08 20:38] craxal opened #5042 "Use v12 SDK to manage table access policies"

[2021-10-08 20:38] craxal opened #5043 "Use v12 SDK to generate table SAS"

[2021-10-08 20:39] craxal opened #5044 "Use v12 SDK to list tables"

[2021-10-08 20:39] craxal opened #5045 "Use v12 SDK to manage table CORS rules"

[2021-10-08 20:50] craxal commented on #5036
SDK only supports iterating through pages; it does not currently support continuation tokens.

See azure/azure-sdk-for-js#15868.

[2021-10-08 22:30] #4942 closed

[2021-10-09 00:55] v-xianya commented on #5031
@JasonYeMSFT when executing 'Clone and Rehydrate' for one archive blob without changing the destination blob name.
Display the error message 'This operation is not permitted on an archived blob', The error message doesn't make sense to me. Could you help to take a look on this?

[2021-10-09 01:24] #5032 closed

[2021-10-09 01:55] v-kellyluo commented on #4942
Verified this issue on the build main 20211009.1. Fixed.

[2021-10-09 03:08] v-xianya commented on #5033
@JasonYeMSFT thanks for the update!
The cloned blob displays on the split tab. is this by design?

![image](https://user-images.githubusercontent.com/41351993/136642053-dde1754a-b589-442c-873c-ff3a35fc5c09.png)

[2021-10-09 09:28] v-xianya opened #5046 "The title of create disk snapshot dialog displays as the title of the previously opened dialog"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211009.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.2)

## Bug Descriptions ##
For one disk, the title of the Upload/Paste/Create Snapshot dialog displays as the title of the previously opened dialo

[2021-10-09 09:41] v-kellyluo opened #5047 "Fail to execute the action 'Clone and Rehydrate' for one archived emulator blob"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211009.1
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**Emulator Version:** Azurite 3.14.0
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Install and run Azurite 3.14.0 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Defau

[2021-10-11 06:30] lymedo opened #5048 "Date order grouped by day of month"
Version 1.21.2

When ordering by Last Modified date, the dates are no longer ordered ascending/descending. The current behaviour is grouping the dates by the day of month:

01/07/2021
01/08/2021
01/09/2021

[2021-10-11 09:40] v-xianya opened #5049 "The editor is not refreshed automatically when running 'Promote Snapshot' for blobs/HNS blobs"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211011.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.2)

## Steps to Reproduce ##
1. Make sure the setting 'Auto-refresh on change' is checked.
2. Expand one storage account -> Blob Containe

[2021-10-11 10:11] ld0614 opened #5050 "Download all Blobs in Container/current directory"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-11 12:53] kaioccarvalho opened #5051 "Can't access any files in my subscription from Azure Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-11 17:24] MRayermannMSFT commented on #5025
@raghavrawat98 are you perhaps behind a proxy? If so you can try using system proxy, which you can read about in our networking documentation: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network There are some limitations to it, so make sure you understand those. In the networking docs you can also read about how to configure proxy settings manually if you need to do tha

[2021-10-11 17:25] MRayermannMSFT commented on #5016
@jtorgrimson this message indicates you were trying to access the blob containers node for your storage emulator. Were you indeed trying to do so? If yes, please be aware that Storage Explorer does not ship with an emulator and it does not start your emulator for you. You must do those on your own.

[2021-10-11 17:28] #4973 closed

[2021-10-11 17:29] MRayermannMSFT commented on #4912
@klachoo do you have any update on your looking?

[2021-10-11 17:31] MRayermannMSFT commented on #4889
Closing due to lack of response. If you are still encountering this issue we suggest:
- Try all recommended solutions from above.
- If those do not work, you can open an Azure support ticket from the portal.
- Alternatively you can open a new issue here.

[2021-10-11 17:31] #4471 closed

[2021-10-11 17:43] MRayermannMSFT commented on #5048
@lymedo is this for:

- blobs
- Gen2 blobs
- file shares

[2021-10-11 17:49] MRayermannMSFT commented on #5033
Let's make sure the activities associated with rehydrating indicate that the operation may take a long long while and it is up to the user to keep checking to see if the operation is finished.

[2021-10-11 18:10] MRayermannMSFT commented on #4887
Duplicate of 4965

[2021-10-11 18:10] #4887 closed

[2021-10-11 19:07] craxal opened #5052 "Move table service node producer to extension"

[2021-10-11 22:31] #4568 closed

[2021-10-11 22:56] MRayermannMSFT commented on #5001
@jshinevar weird. Unfortunately we were not the ones to setup the homebrew distribution of Storage Explorer, so we cannot be of much help with determining what is going wrong with that. The `expected` hash is definitely correct. The `actual` however does not match any of our previous hashes. So I do not think this is a matter of homebrew downloading the wrong version. It looks to be more like it b

[2021-10-12 02:33] skywalkerisnull commented on #5012
@MRayermannMSFT I have switched to using the system proxy (preview) option, and it now connects without any complaints of the SSL validity.

Thank you :)

[2021-10-12 03:54] jingeno commented on #2802
I definitely agree with these points. In addition to LastModified, users may have a need to see/sort by other columns as well.

For example, due to a separate issue I am having preserving **LastModified** after copying a file, I would be interested in seeing and sorting by **x-ms-file-last-write-time**. (By the way, I am aware of how to preserve SMB properties when calling Copy in the Azure Files

[2021-10-12 05:21] klachoo commented on #4912
@MRayermannMSFT No, not as yet.

[2021-10-12 06:13] v-xianya commented on #5049
**More Info:**
The tags and properties of the base blob are updated automatically after running 'Promote Snapshot' with/without checking the setting 'Auto-refresh on change'.

[2021-10-12 07:20] shanselman opened #5053 "Upload Confirmation Dialog Box appears on Main monitor even though app is running on a secondary monitor"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-12 09:18] v-kellyluo opened #5054 "Fail to execute the action ''Clone and Rehydrate' in one attached blob container which SAS URL is created by an access policy (All permissions)"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211012.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob -> Update the a

[2021-10-12 10:27] v-xianya opened #5055 "The access tier of one blob is not updated after successfully promoting its snapshot"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211012.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob with access tier

[2021-10-12 15:19] Manishankar-Bheema opened #5056 "Not able to access Blob"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-12 17:16] MRayermannMSFT opened #5057 "Make sure all blob code paths that generate a SAS use the V12 Azure SDK"
Make sure to account for Azure Stack API version

[2021-10-12 17:16] MRayermannMSFT opened #5058 "Make sure all file code paths that generate a SAS use the V12 Azure SDK"
Make sure to account for Azure Stack API version

[2021-10-12 18:02] Brizzriel opened #5059 "Getting error "unable to get local issuer certificate" when accessing my FS in Storage Explorer"
Unable to retrieve child resources.

Details:
unable to get local issuer certificate

Whenever I try to open my FS I get the above error. I cannot figure out how to fix it. I am running the latest ver of Storage Explorer 1.21.2 and I can access the FS when in portal.azure.com so I know it is not missing. How do I replace my cert?

[2021-10-12 19:28] craxal commented on #5037
Blocked by Azure/azure-sdk-for-js#18148.

[2021-10-12 19:58] fjbsaper opened #5060 "Storage explorer not workable"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-13 10:03] v-kellyluo opened #5061 "There is an incorrect error message 'Destination blob name cannot be empty' if using '/' as the destination blob name in the 'Clone and Rehydrate' dialog"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211013.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob -> Update the a

[2021-10-13 10:22] v-xianya opened #5062 "There is an extra '/' before the blob name when upload one blob to a folder which name is the whitespace"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211013.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release(1.21.2)

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Click 'New Folder' -> Ty

[2021-10-13 15:52] DataEngineerVienna opened #5063 "Last Modified Sort on column header does not work"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-13 16:46] #5061 closed, assigned to nobody

[2021-10-13 18:20] jglisson commented on #4491
I am receiving this same error. I have imported the self-signed cert into Storage Explorer as described in the troubleshooting guide, but am still getting the error. I have confirmed the cert looks like the screenshot above. I copied/pasted the cert from OpenSSL like the troubleshooting guide describes.

Any other tips?

[2021-10-13 19:08] jinglouMSFT opened #5064 "Revisit nedb"
Replacement notes/requirements:
- Predicates, do not need query objects
- Don't need to have DB on disk
- Given less than 100k entities, operations should take less than ~10ms
- Concurrent reads, sequential writes (on same documents at least)
- Keep roughly same footprint of memory as Nedb
- Start with map go from there

Migrate:
- [x] Activity Log Manager
- [x] Job Queue Manager
- [x] Shared Data

[2021-10-14 01:57] v-xianya commented on #5062
@JasonYeMSFT
This issue reproduces on Windows & Linux.
This issue doesn't reproduce on Mac.

[2021-10-14 01:57] v-kellyluo commented on #5061
@JasonYeMSFT, if using '/' as the destination blob name, display the error message 'Destination blob name cannot be empty.'. This error message doesn't make sense to me. Could you help to take a look on this?

[2021-10-14 12:14] Mich0311 opened #5065 "Unable to retrieve child resources. Details: Cannot read property 'version' of undefined"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-14 17:33] JasonYeMSFT commented on #5062
@v-xianya The activity log message is tweaked to better reflect the destination directory so this is by design.

[2021-10-14 18:00] #5033 closed, assigned to JasonYeMSFT

[2021-10-14 18:19] #5049 closed, assigned to MRayermannMSFT

[2021-10-14 20:53] MRayermannMSFT commented on #3813
Appears to be a service side issue with using `+` instead of `%20` in the delimiter query param. AzCopy is going to chase this one down. Moving to future until it is fixed.

[2021-10-14 23:50] mar72vin commented on #134
It would be great if this could be resolved.

[2021-10-15 02:09] #5030 closed, assigned to JasonYeMSFT

[2021-10-15 06:52] v-xianya opened #5066 "Nothing happens when clicking 'Yes' on the 'Delete Files' dialog for one file share"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211015.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Create a folder -> Upload one file t

[2021-10-15 11:53] tksrc commented on #3428
All of our clients and us are using RBAC for access management to the gen2 containers. Is it possible to still implement the feature and let everyone who's using RBAC to benefit from copy and paste? (and clone)

[2021-10-15 16:51] JasonYeMSFT commented on #5031
This is an unexpected service error given that the documentation says "You can perform a copy operation to promote a version blob over its base blob". I asked the service team to see if this is actually supported.

[2021-10-15 18:14] MRayermannMSFT commented on #5029
@v-xianya I had to run Azurite in `--loose` mode to repro this. Was that the case for you as well? If not, can you tell me exactly how you started Azurite?

[2021-10-15 18:37] MRayermannMSFT opened #5067 "We are saying we are submitting new access tier change before we have even asked the user what access tier they want to change to"
See `setAccessTierWithPrompt`

[2021-10-15 19:06] JasonYeMSFT commented on #5063
We had a similar issue #5048. Could you share a sample of the dates that aren't sorted correctly? Also could you share the date format on your machine (e.g. mm/dd/yyyy or dd/mm/yyyy)?

[2021-10-15 22:48] fdwr opened #5068 "Installer includes intermediate build files, bloating installation by >=81MB's: .ilk files, .pdb's, and .map's"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-15 23:00] fdwr commented on #4778
Seems mine is a dupe of yours: https://github.com/microsoft/AzureStorageExplorer/issues/5068

It's actually double 41MBs - at least 81MB's! For this class of app given its functionality compared to other similar apps, a target size really should be <=40MB's rather than 491MBs (given fully functional web browsers, frameworks, and even entire operating systems like Windows 2000 are smaller). It make

[2021-10-15 23:06] JasonYeMSFT commented on #2326
I am making some improvements in this feature area in 1.22.0 and here are what I have done:
- The status message now displays how many nodes have been scanned.
- Under the search box, there will be a dropdown list allowing you to select what type of resource you want to search for (e.g. blob container, file share, etc.) or a combination of them. Irrelevant nodes won't be expanded to save resources

[2021-10-18 02:04] v-xianya commented on #5029
@MRayermannMSFT

Yes, I stated Azurite by running Azurite --loose. (This issue doesn't reproduce when starting Azurite by running Azurite)

[2021-10-18 06:43] v-xianya commented on #4800
Verified on the build main/20211016.1. Fixed.

[2021-10-18 06:43] #4800 closed

[2021-10-18 08:49] v-xianya opened #5069 "Quick Access table node doesn't display as broken when removing the Azure account"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211016.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Select one file share -> Add it to quick access.
3. Go to 'ACCOUNT M

[2021-10-18 08:50] v-xianya opened #5070 "It would be better to remove the scrollbar on the 'Upload' dialog for blobs"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211016.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Bug Descriptions ##
It would be better to adjust the 'Upload' dialog to remove the scrollbar.
![image](https://user-images.githubuserconten

[2021-10-18 09:42] v-kellyluo opened #5071 "An unclear error message pops up when opening a blob in one attached blob container which SAS URL is created by an access policy (List)"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211016.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Right click the

[2021-10-18 09:55] Alessar commented on #4933
@MRayermannMSFT Just FYI: We found the reason for our issue. The keys were manually rotated - but the function to reconnect links did not work as expected and it did not reconnect the link at a second time. But in any case: when we receive the error about the wrong SAS token - we cannot understand the reason for that token. We have several possibilities that it has an incorrect format or did not c

[2021-10-18 15:42] #5068 closed

[2021-10-18 17:19] #3693 closed

[2021-10-18 17:21] JasonYeMSFT commented on #4918
Closing due to lack of response.

[2021-10-18 17:21] #4918 closed

[2021-10-18 17:36] JasonYeMSFT commented on #5047
I'll hide this action in emulator explorers.

[2021-10-18 17:49] JasonYeMSFT commented on #5060
Do you know what the antivirus tool do when you set it to "scan on access"? If we can figure out what is triggering its activity, we might be able to trim some of the unnecessary actions.

[2021-10-18 17:51] #5063 closed, assigned to nobody

[2021-10-19 00:45] samjetski commented on #138
The reason I'm interested in the source code is that I'd like to better understand how to use and bend Azure Storage under some more advanced scenarios.

In this case, I'm looking to build a diagnostic dashboard into our application, and I'd like to include a subset of queues functionality present in Storage Explorer. For example: "retry a message" - move the selected (17th?) message from the pois

[2021-10-19 08:37] v-xianya opened #5072 "The deleted cloned rehydrated blob displays in the secondary explorer if the blob versioning is enabled"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211019.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account ->Blob Containers (Make sure the blob versioning is enabled).
2. Create a blo

[2021-10-19 11:11] ApoorvaKantale opened #5073 "Unable to connect File Store"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-19 14:13] sonofdust1215 opened #5074 "Open files directly instead of downloading first"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-19 16:36] ApoorvaKantale commented on #5073
![image](https://user-images.githubusercontent.com/78148795/137954079-2ced78d4-f75c-4c2d-ad6a-f72ed9310857.png)

[2021-10-19 17:24] MRayermannMSFT opened #5075 "No info is conveyed by NVDA when expanding/collapsing search filters"

[2021-10-19 17:30] MRayermannMSFT opened #5076 "Upload blobs as single block setting"

[2021-10-19 17:47] amish1971 opened #5077 "Download of Large Files from Blob Storage to a Windows NTFS volume not working"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-19 18:44] MRayermannMSFT opened #5078 "List Shares with v12 SDK"
- [x] service node
- [x] shares nodes
- [x] quick access
- [x] activate producers
- [x] fix service node ordering

[2021-10-20 18:09] JasonYeMSFT commented on #5075
NVDA doesn't react to change on aria-expanded. I'll add a custom announcement on expansion/collapsing.

[2021-10-20 18:48] JasonYeMSFT opened #5081 "Fix incorrect html encoding on formatted dates"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-20 18:49] #5081 closed, assigned to JasonYeMSFT

[2021-10-20 21:15] JasonYeMSFT commented on #5077
@amish1971 Could you get the AzCopy log using the "Open AzCopy logs" in the activity and send us the .log file for the failed transfer? Could you double check if your local machine has enough disk space for the large file?

[2021-10-20 21:17] JasonYeMSFT commented on #5072
@v-xianya Let's check if they go away after waiting for some time for the secondary location to sync with the primary location. At the mean time, I will confirm with the service team on the expected behavior of deleting a blob being rehydrated.

[2021-10-20 21:26] MRayermannMSFT commented on #5053
Related: https://github.com/microsoft/AzureStorageExplorer/issues/4343

[2021-10-20 21:47] #5074 closed

[2021-10-20 21:49] MRayermannMSFT commented on #4912
@klachoo PowerShell must be able to properly display whatever those characters are. Have you looked into the code which is generating the messages? Would you be able to share the encoded message here with us? (just copy and paste it) And then we can try base64 decoding it ourselves to help investigate the root cause.

[2021-10-20 21:51] #4933 closed

[2021-10-20 22:32] JasonYeMSFT opened #5082 "Storage accounts and its child search types aren't hidden when feature is disabled"
When configuration "services.storageAccounts.enable" is set to false, we don't produce storage accounts and their children in the tree view. Thus there is no point providing those search types.

[2021-10-21 00:14] JasonYeMSFT opened #5083 "Finish application configuration extension"
Finish the work polishing the application configuration extension from the intern project.

[2021-10-21 00:55] fdwr commented on #4778
With the Edge WebView2 control, where multiple occurrences of the runtime from different apps are deduplicated via NTSF hard links, you could likely save a chunk more for file space the user. https://docs.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution It might save memory too, if Teams' experience applies: https://tomtalks.blog/2021/06/microsoft-teams-2-0-will-use-half-the-memor

[2021-10-21 05:43] v-inanda commented on #4988
Regressed the bug in the Version :1.22.0-dev
AzCopy version: 10.12.2
The issue is fixed so closing the bug. Please find the attachment for reference.
![4988_Fix](https://user-images.githubusercontent.com/91525824/138217256-7396d027-174a-4758-83e6-3129cefeeb06.gif)

[2021-10-21 05:43] #4988 closed

[2021-10-21 05:50] v-inanda commented on #4977
Regressed the bug in the Version :1.22.0-dev
AzCopy version: 10.12.2
The issue is fixed so closing the bug. Please find the attachment for reference.
![4977_Fix](https://user-images.githubusercontent.com/91525824/138219053-64137f43-f5eb-4539-8d21-5c9c8df17a09.gif)

[2021-10-21 05:50] #4977 closed

[2021-10-21 05:52] v-inanda commented on #4985
Regressed the bug in the Version :1.22.0-dev
AzCopy version: 10.12.2
The issue is fixed so closing the bug. Please find the attachment for reference.
![4985_NVDA_Fix](https://user-images.githubusercontent.com/91525824/138219200-b3bcb741-352f-4a84-85a8-fa94ca81e235.gif)

[2021-10-21 05:52] #4985 closed

[2021-10-21 06:08] v-inanda commented on #4990
Regressed the bug in the Version :1.22.0-dev
AzCopy version: 10.12.2
The issue is fixed so closing the bug. Please find the attachment for reference.
![4990_Fix](https://user-images.githubusercontent.com/91525824/138220964-a93d6bec-7066-4a60-8e2b-a5110e82be1f.gif)

[2021-10-21 10:00] v-xianya opened #5084 "The activity log and the actual behavior are inconsistent when deleting one folder which contains <no name> path"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211020.2
**Branch**: hotfix/1.21.3
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a folder wi

[2021-10-21 17:04] #5075 closed, assigned to JasonYeMSFT

[2021-10-21 17:06] craxal opened #5085 "Review provider function names"
Provider function names are becoming more numerous and harder to discern as to their purpose without some form of convention. We should review function names and settle on a convention to avoid further confusion.

[2021-10-21 17:44] MRayermannMSFT commented on #5014
@mcline1984 files in the ranges of GB should be of no problem. So if you do find the time to try without splitting up, and then share any failure logs with us that'd be great. And of course, make sure you try tweaking the settings we suggested. :)

[2021-10-21 22:43] JasonYeMSFT opened #5086 "Componentize navigation and address bar"

[2021-10-21 23:02] JasonYeMSFT commented on #5031
There are 3 different scenarios so I'll re-cap every one with what I know so far:
- I have turned on the "same name" validation in all situations. No matter if the source is an archived base blob or version, it must use a different name instead. So the error in the 1st screenshot shouldn't be seen anymore because the user won't be able to send such requests.
- The success in screenshot 2 is expect

[2021-10-22 08:17] v-xianya opened #5087 "The renamed table displays on the tree view when renaming one metrics table"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211020.2
**Branch**: hotfix/1.21.3
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one table which contains metrics table.
2. Rename one metrics table with a valid name.
3. Check whethe

[2021-10-22 08:27] v-xianya opened #5088 "An extra '/' displays next to its QA item if pinning a new uploaded folder to quick access"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211020.2
**Branch**: hotfix/1.21.3
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Open one ADLS Gen1 account -> Upload one folder which contains files.
2. Pin the folder to quick access.
3. C

[2021-10-22 17:04] #5087 closed, assigned to nobody

[2021-10-22 19:04] craxal opened #5089 "Fix default button focus in dialogs"
- [ ] #4661

[2021-10-22 19:24] nlaymon1980 opened #5090 "Accessing Azure Storage Account Using Azure Storage Explorer from behind a Proxy"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-22 21:35] JasonYeMSFT opened #5091 "Make node producer results' payload more concise"
Current node producer results may have huge payload size due to verbose object structure. A lot of the information are common configurations that can be shared which don't need to be sent every time. The node producer should let the renderer process know where to get and cache the node configurations for a node type it contributes and construct nodes locally with that configuration instead of send

[2021-10-23 00:18] JasonYeMSFT commented on #5054
This is due to tags. Access policies don't grant permissions to read tags. I'll add a prompt to let user confirm if they want to continue without preserving tags.

[2021-10-23 00:37] JasonYeMSFT commented on #5091
By moving the shared contents into a shared config object, we can shrink the size of the payload by approximately 80%.

[2021-10-23 21:06] jasonhorner opened #5092 "Folder Statistics should be enhanced to more user friendly"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-25 08:18] Elencon opened #5093 "Folders Created on Azure programmatically are not seen in Azure Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-25 16:36] #5031 closed, assigned to JasonYeMSFT

[2021-10-26 00:10] #5048 closed

[2021-10-26 08:47] v-xianya opened #5094 "The permission 'Immutable storage' is displayed as 'unknown' in the 'Summary' dialog when attaching one storage account by the connection string (SAS) which is created from portal"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211026.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Select one non-ADLS Gen2 storage account -> Open the storage account in portal.
2. Make sure all the allowed permissio

[2021-10-26 09:19] g-spencer opened #5095 "terraform deploy azurerm_storage_share.sharedstorage - storage explorer browse File Shares results in unable to retrieve child..."
Unable to retrieve child resources.

Details:
This request is not authorized to perform this operation.
RequestId:44a6b1ed-d01a-0043-674a-ca56ba000000
Time:2021-10-26T09:16:41.4607047Z

[2021-10-26 09:49] v-xianya opened #5096 "No button is selected by default on the prompt dialog when there is no running emulator"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211026.1
**Branch**: main
**Platform/OS**: Windows 10/MacOS Big Sur 11.6
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Bug Descriptions ##
No button is selected by default.
It navigates to the below page when clicking the link 'Learn More/Install Azurite',

![image](https://user-i

[2021-10-26 19:16] #5057 closed, assigned to JasonYeMSFT

[2021-10-27 08:00] v-xianya opened #5097 "The 'Next' button is still enabled when there is an error message in the connect dialog"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211027.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Open the connect dialog -> Click 'Local storage emulator'.
2. Update the blobs port to '10001'.
3. There is an error m

[2021-10-27 10:57] Aarti0910 opened #5098 "Failed to create database. Details: {"name":"Error","errno":-3008,"code":"ENOTFOUND","syscall":"getaddrinfo","hostname":"cosmos10632.documents.azure.com"}"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-27 18:15] markvogt opened #5099 "ISSUE with Azure Storage Explorer -"
WHY is this happening ???

I simply clicked the REFRESH button on AzureStorageExplorer's ribbon bar;
I was instructed by AzureStorageExplorer to "re-enter credentials", AND a DIALOG BOX displayed MULTIPLE TIMES (once for each SUBSCRIPTION to which I was connecting?) with the following message in it:

Unable to retrieve child resources.

Details:
{
  "name": "Error",
  "message": "Unable to retriev

[2021-10-27 20:26] MRayermannMSFT opened #5100 "Enable cookie encryption electron fuse"
Need to enable this fuse: https://github.com/electron/electron/pull/29493

[2021-10-27 21:55] JasonYeMSFT opened #5101 "Switching between left hand side panels cause a completed search to restart"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-28 02:05] #5088 closed, assigned to JasonYeMSFT

[2021-10-28 09:22] sureshnilam opened #5102 "Storage explorer error "Unable to retrieve child resources""
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-10-28 09:54] v-kellyluo opened #5103 "There is a failed activity log when attaching one table in the search results if only selecting the 'Tables' option"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211028.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** Exploratory testing
**Regression From:** Not a regression

## Bug Descriptions ##

1. An error appears when attaching one table in the search results if only selecting the 'Tables' option.
2. An error appe

[2021-10-29 08:20] v-xianya opened #5104 "There are extra punctuations in 'Settings -> Blob Explorer' part on German"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211029.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.4
**Language**: German
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select 'Deu

[2021-10-29 08:25] v-kellyluo opened #5105 "The 'Clone and Rehydrate' dialog is not localized"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211029.4
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**Language:** All languages
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Sel

[2021-10-29 08:37] v-kellyluo opened #5106 "The current access tier is not localized in the "Update Access Tier" dialog"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211029.4
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**Language:** All languages
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Sel

[2021-10-29 08:55] ihaman opened #5107 ""self signed certificate in certificate chain" error on Azure storage explorer"
Hi

I am getting "self signed certificate in certificate chain" error on Azure storage explorer with the organization account .
I tried the steps on https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004 but i dont have any self signed certificate

[2021-10-29 16:38] fjbsaper opened #5108 "Port forwarding info is needed"
The documentation needs to be improved and the port forwarding needs need to be specified. I am not able to login if I am behind the second router. But I can login fine from behind the first.

All my internet access works just fine from behind the second router.... so it has to be something with port forwarding...

Thanks

[2021-10-29 21:24] craxal opened #5109 "Add automated tests for table export"

[2021-10-29 21:26] craxal commented on #2676
I've split the table work into it's own item. This item is now only about queues and can be closed.

[2021-10-29 21:26] #2676 closed

[2021-10-29 23:41] JasonYeMSFT opened #5110 "Convert knockout toolbar component to React toolbar component"

[2021-10-29 23:42] JasonYeMSFT opened #5111 "Convert knockout navigation/addressbar component to React navigation/addressbar component"
- [x] Address Bar
- [x] Navigation control

[2021-10-29 23:43] JasonYeMSFT opened #5112 "Convert jQuery data table to React implementation"
[code]

[2021-10-30 01:49] MRayermannMSFT opened #5113 "Fix managed disks edge zone support"
Edge zones are never showing up as locations you can create disks in. This was due to me not understanding how to check if an edge zone is supported by the Disks RP. I need to fix this!

[2021-11-01 08:57] v-kellyluo opened #5114 "Miss the action 'Search From Here' for the '(Emulator - default Ports) (Key)' node"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211031.1
**Branch:** main
**Platform/OS:**  Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32
**How Found:** From running test cases
**Regression From:** Previous release (1.21.2)

## Steps to Reproduce ##

1. Launch Storage Explorer -> Expand 'Local & Attached -> Storage Accounts'.
2. Right click '(Emulator - Defau

[2021-11-01 13:56] aldostellato commented on #5102
I have the same issue with my install on my Mac.

[2021-11-01 17:12] MRayermannMSFT commented on #5107
@ihaman did you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2021-11-01 17:13] MRayermannMSFT commented on #5105
@JasonYeMSFT please track during 1.22. Feel free to put in loc milestone to look into now and then.

[2021-11-01 17:15] MRayermannMSFT commented on #5090
I believe this issue is now being handled by an ICM opened via a customer support ticket.

[2021-11-01 17:17] MRayermannMSFT commented on #5102
@sureshnilam @aldostellato this message indicates you were trying to access the blob containers node for your storage emulator. Were you indeed trying to do so? If yes, please be aware that Storage Explorer does not ship with an emulator and it does not start your emulator for you. You must do those on your own.

[2021-11-01 17:18] MRayermannMSFT commented on #5008
Closing due to lack of response. If you are still having issues you can either:
- open an Azure support ticket via the portal
- open a new issue here
Thanks.

[2021-11-01 17:18] #5008 closed

[2021-11-01 17:18] MRayermannMSFT commented on #5007
Closing due to lack of response. If you are still having issues you can either:
- open an Azure support ticket via the portal
- open a new issue here
Thanks.

[2021-11-01 17:18] #5007 closed

[2021-11-01 17:18] MRayermannMSFT commented on #4999
Closing due to lack of response. If you are still having issues you can either:
- open an Azure support ticket via the portal
- open a new issue here
Thanks.

[2021-11-01 17:19] #4999 closed

[2021-11-01 17:19] #4992 closed

[2021-11-01 17:19] #4967 closed

[2021-11-01 17:19] MRayermannMSFT commented on #4964
Closing due to lack of response. If you are still having issues you can either:
- open an Azure support ticket via the portal
- open a new issue here
Thanks.

[2021-11-01 17:19] #4964 closed

[2021-11-01 17:20] MRayermannMSFT commented on #4939
Closing due to lack of response. If you are still having issues you can either:
- open an Azure support ticket via the portal
- open a new issue here
Thanks.

[2021-11-01 17:20] #4939 closed

[2021-11-01 17:20] MRayermannMSFT commented on #4935
Closing due to lack of response. If you are still having issues you can either:
- open an Azure support ticket via the portal
- open a new issue here
Thanks.

[2021-11-01 17:20] #4935 closed

[2021-11-01 17:21] MRayermannMSFT commented on #5096
Most likely related to: https://github.com/microsoft/AzureStorageExplorer/issues/5089

[2021-11-01 17:28] MRayermannMSFT commented on #5099
@markvogt oof ya that definitely sounds annoying.

1. What version of Storage Explorer are you running? I could have sworn we did away with this awful behavior in a recent version.
2. Are you using Disk features?
3. If not, feel free to just disable them by going to Settings (gear on the left hand side) > Services > Disks, and then uncheck the checkbox.

[2021-11-01 17:34] MRayermannMSFT commented on #5108
@fjbsaper do you have any issues with other Microsoft apps, like VS Code, VS, etc.? Have you tried other Microsoft apps? Have you had issues with non-Microsoft apps? We're not really sure what you're looking for here. Are you getting any error messages in Storage Explorer that you can share? Could you tell us more about the specifics of your networking setup?

[2021-11-01 17:44] MRayermannMSFT commented on #5095
@g-spencer how are you authenticating to your file share? Did you:
- sign into Storage Explorer
- attach your storage account with a SAS connection string
- attach your file share with a SAS URI
- attach your storage account with name and key/key connection string

If you did either of the SAS attach options, can you share your SAS token? **Please redact the `sig` from the token before sharing it

[2021-11-01 18:32] MRayermannMSFT opened #5115 "Add telemetry about NeDB size"

[2021-11-01 19:05] DarklyPure opened #5116 "On an InsertOrReplace Explorer never shows the updated record"
When I perform an InsertOrReplace using the C# Microsoft.Azure.Cosmos.Table library. The record is inserted or replaced, but Azure Storage Explorer never shows the updated version, only the original. The record is definitely inserted/replaced, but storage explorer never reflects this.

[2021-11-01 20:07] JasonYeMSFT commented on #4778
I merged the work to remove those files when packaging the application.

[2021-11-01 20:07] #4778 closed

[2021-11-01 20:11] JasonYeMSFT opened #5117 "Stop shipping unused files at runtime"
Files include:
- Typing files (*.d.ts).
- Source map (.js.map)
- Unused icon files

[2021-11-01 20:11] JasonYeMSFT commented on #4778
We still have other unused files during runtime. We will track them in a separate issue #5117.

[2021-11-01 20:48] JasonYeMSFT commented on #5047
The error is about getting tags. Since I have added code to support copying bypassing tags, it is supposed to work in emulator as well. However, I found that it still doesn't https://github.com/Azure/Azurite/issues/1146. I'll disable this action in emulator as planned for now.

[2021-11-01 21:48] JasonYeMSFT commented on #5054
Work to allow cloning an archived blob bypassing tags is merged.

[2021-11-01 23:44] craxal commented on #4636
Several panels are not styled correctly if the app starts when Windows is already in high contrast mode. This appears to be due to a bug involving the background color for `<body>` elements.

See electron/electron#31659

[2021-11-02 00:02] JasonYeMSFT commented on #4578
I did some investigation of the implementation and this seems to be by design. The current implementation has a dedicated code path to search all the service level group nodes available in the tree for the node when the group node in the direct link cannot be found. Let me bring up with the team to see if it still make sense.

[2021-11-02 03:03] v-kellyluo commented on #5054
Verified this issue on the build main/20211102.2. Fixed. So close this bug.

[2021-11-02 03:03] #5054 closed

[2021-11-02 07:51] YodasMyDad commented on #4342
Same problem here. Just switched to integrated sign-in and worked fine.

[2021-11-02 09:25] v-xianya opened #5118 "The actions 'Show top results' and 'Select Columns' do not make any difference to the queried results"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Query'.
3. Add clauses to query (make s

[2021-11-02 09:34] v-xianya opened #5119 "The imported entities do not auto display in the table explorer"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account.
2. Right click the 'Tables' node -> Create a new table.
3. The table will dis

[2021-11-02 09:50] v-xianya opened #5120 "No red border displays on the value filed of 'PartitionKey/RowKey' when typing one value then deleting it"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Add'.
3. Type one value into the 'Parti

[2021-11-02 10:02] v-xianya opened #5121 "There is an error when updating one entity with an empty partitionkey/rowkey value"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Add'.
3. Click 'Insert' on the 'Add Ent

[2021-11-02 10:10] g-spencer commented on #5095
Hi Matthew,
we have found that this issue is related to the azure devops release hosted agent not having access to the storage account during deployment if we are deploying with network rules default action 'deny'.

I wrongly assumed incorporating a network rules 'bypass' statement allowing 'AzureServices' would accommodate the necessary accesses during deployment, but experience has proven me wro

[2021-11-02 10:12] v-kellyluo opened #5122 "Miss the action 'Show in folder' next to the activity log when exporting entities"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211102.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Launch Storage Explorer -> Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3.

[2021-11-02 10:16] v-xianya opened #5123 "Fail to import entities that contain empty partitionkey/rowkey value"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Add an entity with the partitionkey/rowkey val

[2021-11-02 10:27] v-xianya opened #5124 "An error occurs when creating or opening one table under attached storage accounts"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Select one storage account -> Attach it via SAS.
2. Expand the attached storage account.
3. Right click '

[2021-11-02 10:44] v-xianya opened #5125 "The formats of the Timestamp value are inconsistent between the first added entity and other entities"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211102.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Right click 'Tables' node.
2. Create a table.
3. Add one entity -> Observe

[2021-11-02 10:45] v-kellyluo opened #5126 "An info bar 'name and key must be non-empty strings' prompts when attaching a table"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211102.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Launch Storage Explorer -> Expand one storage account -> Tables.
2. Select one table and try to attach i

[2021-11-02 10:46] v-kellyluo opened #5127 "There is a failed activity log when renaming/pasting one table"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211102.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Launch Storage Explorer -> Expand one storage account -> Tables.
2. Create a table -> Right click this t

[2021-11-02 10:48] v-kellyluo opened #5128 "An info bar prompts when opening/creating an emulator table"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211102.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**Emulator Version:** Azurite 3.14.3
**How Found:** From running test cases
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Install and run Azurite 3.14.3 -> Launch Storage Explorer.
2. Expan

[2021-11-02 12:09] hoppe42 commented on #4342
I was able to work around this by going to

chrome://net-internals/#hsts

Delete domain security policies

Entering 'localhost' and clicking delete

[2021-11-02 17:19] craxal opened #5129 "Handle "Check for Updates" differently for Snap versions"
Since updates are handled by the snap system for Linux snaps, we should handle the "Check for Updates" menu item differently. Some options we should consider:

1. Run `snap refresh storage-explorer` automatically.
2. Provide a dialog with instructions on how to update.
3. Remove the menu item entirely.

[2021-11-02 18:11] bamancio-futura opened #5130 "Call to get tags (?comp=tags) returns content instead of tags."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-11-02 18:14] bamancio-futura commented on #5130
This is a problem in the Azurite emulator. I'll create an issue there.

[2021-11-02 18:14] #5130 closed

[2021-11-02 18:46] craxal commented on #5119
Since the import work was moved to a job, there's no easy way to tell the table explorer when the job is finished. Therefore, getting this to work again may be difficult.

@MRayermannMSFT @JasonYeMSFT Thoughts?

[2021-11-02 18:49] craxal commented on #5120
Empty values for partition or row keys are valid. I'm not really sure why we invalidated this before.

@MRayermannMSFT @JasonYeMSFT Do we know if there was a reason we originally invalidated empty keys?

@v-xianya Assuming there are no other entities with the same partition and row key, does adding an entity with empty keys still succeed?

[2021-11-02 18:50] craxal commented on #5121
Related to #5120.

[2021-11-02 18:56] craxal commented on #5123
@v-xianya A few questions:
1. Please clarify what you mean by "default partition/row key value". What are the default values? If they are empty, this would seem to conflict with #5120 and #5121.
2. Please share the contents of the CSV file you tried to import. This will help isolate the problem more effectively.

[2021-11-02 19:00] craxal commented on #5126
This sounds like a duplicate of #5124.

[2021-11-02 19:00] #5126 closed

[2021-11-02 19:02] craxal commented on #5127
This is expected, as this requires creating a table, and creating tables has not been moved the v12 SDK yet. We're also going to change "Rename" to "Clone", because we want to avoid data loss situations.

[2021-11-02 20:01] MisterDoug99 opened #5131 "Can't access containers after upgrade due to "Cannot read property 'DeletedTime' of undefined""
After upgrading to 1.21.3, clicking on some containers displays "Cannot read property 'DeletedTime' of undefined" and won't show any folders in the container.

[2021-11-02 20:16] JasonYeMSFT commented on #5119
You can take a look at the ExitState of AzCopy copy state machine. It sends an event to the table explorer to trigger a refresh in the explorer when a job finishes.

[2021-11-02 20:19] JasonYeMSFT commented on #5120
I don't know. However, could you check if there is any side effect for entities whose partition key or row key is empty (like blobs with empty name). If it is valid and there is no side effect, we should stop validating it.

[2021-11-02 20:30] #5113 closed

[2021-11-02 20:30] #5100 closed

[2021-11-02 22:03] JasonYeMSFT commented on #5101
Now we don't refresh anything when switching panels if the tree is searching.

[2021-11-02 22:03] #5101 closed

[2021-11-02 22:21] JasonYeMSFT commented on #4854
I don't think the pausing make sense now. We can discuss whether to restore this feature or not.

[2021-11-02 22:34] MRayermannMSFT opened #5132 "List file explorer items with v12 SDK"

[2021-11-03 01:39] roxxette opened #5133 "User mode installer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-11-03 01:44] v-xianya commented on #5120
Hi @craxal

Yes, succeed to add an entity with empty partition/row keys.

[2021-11-03 02:16] v-xianya commented on #5123
@craxal
1. Click 'Add' then click 'Insert' button without any changes on the Add Entity.(as the screenshot)
![image](https://user-images.githubusercontent.com/41351993/140000720-08eada80-0469-4124-92c9-0e22cfbd4de2.png)
2. The .csv file to reproduce this issue.
[atabley.csv](https://github.com/microsoft/AzureStorageExplorer/files/7464932/atabley.csv)

[2021-11-03 02:54] v-xianya commented on #5047
Verified on the build 20211102.7. Fixed.(The action is disabled)
![image](https://user-images.githubusercontent.com/41351993/140003962-01ddca7b-b4b8-4015-aec4-377b56291441.png)

[2021-11-03 02:54] #5047 closed

[2021-11-03 06:11] Latha2564 commented on #4976
<img width="270" alt="Screenshot 2021-11-03 at 11 34 00 AM" src="https://user-images.githubusercontent.com/89508906/140015891-e2c6ce4e-ac01-475b-a6d7-46652b5c0b3e.png">

[2021-11-03 06:13] Latha2564 commented on #4976
The Bug is repro in latest Environment with  the same build number mentioned in the Screenshot.

[2021-11-03 06:25] Latha2564 commented on #4984
The bug is repro in the latest build version

[2021-11-03 08:08] v-xianya commented on #2746
Hi @MRayermannMSFT
On the latest build 20211102.7.  also reproduce on the release version 1.21.3.
Select 'Integrated Sign-in',
Sign in two accounts -> Remove one of the account -> Then both accounts are removed.

[2021-11-03 08:11] mgmage commented on #5107
I have a similar issue with the same error text. In the storage explorer I can connect to my azure subscription and I can also access the blob-container storage of my storage account but when I try to access the table-storage (within the same storage account) I get the "self signed certificate chain" error. (tried system proxy (preview) as well)

[2021-11-03 09:26] v-kellyluo opened #5134 "It would be better to disable the action 'Clone and Rehydrate…' when selecting an archived blob and a folder"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211102.7
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.5
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Bug Description ##
An error occurs when executing the action 'Clone and Rehydrate…' if selecting an archived blob and a folder, and this action is d

[2021-11-03 16:33] IvoGuerraAraujo opened #5135 ""The specified account is disabled.""
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-11-03 17:39] jinglouMSFT commented on #5135
If nothing has done on your part to cause this to happen, it's unlikely it was caused by Storage Explorer. A few things I suggest to check:
- The permission to the File Shares. Check to see if the name/key pair is still valid
- If you are running behind a proxy, is the proxy setting still valid
- If you can access to the Azure portal, check if you have access from the portal
Let us know it how goe

[2021-11-03 18:52] #5037 closed

[2021-11-03 18:53] #5036 closed

[2021-11-03 18:54] #5039 closed

[2021-11-03 18:57] #5040 closed, assigned to craxal

[2021-11-03 18:57] #5041 closed

[2021-11-03 18:58] #5038 closed

[2021-11-03 23:47] craxal commented on #5123
This appears to be due to some subtle differences in how keys are validated for `createEntity` vs `upsertEntity`. The platform definitely accepts entities with "" for partition or row keys, so it looks like a bug in the SDK. I've opened a new issue for them: Azure/azure-sdk-for-js#18521.

[2021-11-03 23:52] craxal commented on #5120
@JasonYeMSFT @v-xianya I double-checked that the platform accepts empty strings for keys when creating entities, and it does, so I'm closing this as by design.

[2021-11-03 23:52] #5120 closed

[2021-11-04 00:21] craxal commented on #5125
The difference comes from the fact that we're reading the `date` value of the insert result, which has a different precision than the value in the etag. Refreshing gets the actual timestamp. So looks like we should probably use the etag.

[2021-11-04 06:58] v-kellyluo commented on #5134
Verified this issue on the build main/20211103.7, it still reproduces.

[2021-11-04 06:58] v-kellyluo commented on #5122
Verified this issue on the build main/20211103.7, it still reproduces.

[2021-11-04 09:43] v-kellyluo opened #5136 "An error dialog pops up when detaching a file share"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211103.7
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Expand one storage account -> File Shares -> Create a file share.
2. Right click the file share -> Click

[2021-11-04 13:41] aliibraheemshash opened #5137 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to http://127.0.0.1:10000/devstoreaccount1?comp=list&include=metadata failed, reason: connect ECONNREFUSED 127.0.0.1:10000",
  "stack": "FetchError: request to http://127.0.0.1:10000/devstoreaccount1?comp=list&include=metadata failed, reason: connect ECONNREFUSED 127.0.0.1:10000\n    at ClientRequest.<ano

[2021-11-04 18:23] craxal commented on #5122
@v-kellyluo Yes, this issue is currently under "Verifying"; it's not closed yet. We still need to create an updated se-table-extension package. Once we've done that, we'll close as merged.

[2021-11-04 18:39] MRayermannMSFT opened #5138 "Track what producer namespaces are used by quick access manager"

[2021-11-04 18:44] MRayermannMSFT opened #5139 "Use V12 SDK for connect file share to VM"

[2021-11-04 19:18] JasonYeMSFT commented on #4854
We decided to not pause the search when the tree view gets hidden. I will clean up the code handling the pause.

[2021-11-04 20:09] mjpost opened #5140 "Navigate directly to blob resource by URL"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-11-04 20:13] mjpost commented on #5140
This is a repeat of an old issue (#3279), but that one seems to have been ignored.

This is the #1 pain point for me when using ASE. To me, the fact that you can't do this almost breaks the tool. An analogous situation is if someone gave you the URL `https://github.com/microsoft/AzureStorageExplorer/issues/5140`, and instead of typing it directly in the browser address bar, you had to:

* Go to th

[2021-11-04 20:29] emjotde commented on #5140
Same, hear our pleas.
That's one of those things that makes me wonder if the developer of AzureStorageExplorer are actually using it themselves for anything :)

[2021-11-04 20:57] JochemBoersma opened #5141 "'no data available' information for fileshares"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-11-04 21:32] #5091 closed, assigned to JasonYeMSFT

[2021-11-04 21:43] JasonYeMSFT commented on #3279
Thanks for voting for the feature request. We will definitely revisit this in our next milestone and consider adding it.

[2021-11-04 21:56] JasonYeMSFT commented on #3279
To help us better understand how "navigate by url" works:

Are you expecting to use a url (e.g. https://stgacct.blob.core.window.net/container) to navigate to a resource you already own, as opposed to manually navigate through subscriptions -> storage accounts ...? We have a feature called "direct link". If you right click on a container level node, select "Copy Direct Link to", you will get a url

[2021-11-04 21:59] JasonYeMSFT commented on #5140
Thanks for bringing this up. I have moved the mentioned feature request to a different milestone so it is guaranteed to be revisited in our next planning meeting. I am going to close this issue as a dup and continue the discussion there.

If possible, could you take a look at my follow up question in #3279 so we can better understand how the feature suppose to work?

[2021-11-04 22:00] #5140 closed

[2021-11-04 23:04] craxal commented on #5128
@v-kellyluo Looks like this is due to some differences in the table SDK vs the other SDKs. We have to explicitly allow HTTP connections when creating the client object.

Please note that, while testing a fix, the timestamps for entities in an Azurite table will look like "[object Object]". This is due to a bug in the SDK (Azure/azure-sdk-for-js#18543), so I need to wait on a fix before I can progr

[2021-11-04 23:56] emjotde commented on #3279
For me the first point would be important. We work a lot with command line tools like azcopy that naturally work with URLs and URLs with SAS. Seamless interaction between these tools would be uber-useful. The feature you mention still have a bunch of indirections, why not be able to do this in the actual tool?

[2021-11-05 00:00] amyk20011 commented on #5098
same

[2021-11-05 00:14] mjpost commented on #3279
Hi @JasonYeMSFT, thanks so much for this response! This is exciting.

Echoing @emjotde, it’s the first feature (access, not creation) that appeals to me and people on my team. Say I have a URL, like `https://mjpost.blob.core.windows.net/container/path/to/deeply/embedded/folder/or/file`. Ideally, I’d like to be able to paste this directly into an address bar *in* ASE, and it would take me to the fo

[2021-11-05 02:20] emjotde commented on #3279
Another good comparison is File Explorer on Windows that also has an "address bar" at the top which allows you to directly navigate to deeply nested paths like "C:\Users\marcinjd\Downloads\polonium-configs\enu-deu" and it works both ways. At the same time these paths are meaningful for other tools like for instance cmd or powershell or any other tool that uses paths.

[2021-11-05 02:21] MRayermannMSFT opened #5142 "Refactor all V2 SDK calls in AzCopy-based file share copy&clone to be V12"

[2021-11-05 07:07] v-xianya opened #5143 "No exported number of entities displays in the exported activity log"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211104.9
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Big Sur 11.6
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Export' -> Export the entities to a fil

[2021-11-05 18:51] MRayermannMSFT opened #5144 "Don't close explorers on clone/paste of containers"

[2021-11-05 19:00] JasonYeMSFT opened #5145 "Properly serialize error objects through RPC calls"
We have improperly serialized error objects, which gets logged in the console as "{}". They should be serialized so that the actual error message can be revealed.

[2021-11-05 19:21] kmitchell64 opened #5146 "Can't upload files"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2021-11-05 21:50] #5145 closed

[2021-11-05 21:51] #4854 closed

[2021-11-05 23:35] MRayermannMSFT opened #5147 "Bonus V12 File Share Items"
Doing as I have time:
- [x] move search filter declaration to package.json
- [x] try to update FIlE_SHARE_ATTACHED_SERVICE_NODE_TYPE value to not reference "SAS"
- [x] better broken experience for produceAttachedFileShareNode
- [x] investigate attribute load errors in console
- [x] add status of SAS expiry for SAS attached shares

[2021-11-05 23:35] #5078 closed

[2021-11-05 23:35] #5132 closed

[2021-11-05 23:35] #5139 closed

[2021-11-06 00:35] #5136 closed

[2021-11-06 00:35] #5115 closed

[2021-11-07 14:32] mechdeveloper commented on #4959
I am facing the same issue, subscription is selected but unable to see the storage account -

![image](https://user-images.githubusercontent.com/35438333/140649100-c9796bf8-bbc1-4ebd-837b-60c2c12627c1.png)

Storage account is not visible in storage explorer -
![image](https://user-images.githubusercontent.com/35438333/140649129-2d603864-df96-49d7-905b-53bd4d5bbe77.png)

Storage account is present

[2021-11-08 01:41] v-kellyluo commented on #5136
Verified this issue on the build main/20211106.4. Fixed.

[2021-11-08 05:51] v-kellyluo commented on #5134
Verified this issue on the build main/20211106.4. Fixed.

[2021-11-08 05:51] #5134 closed

[2021-11-08 06:12] v-xianya commented on #5143
Verified on the main build/20211106.4. Fixed.

[2021-11-08 06:12] #5143 closed

[2021-11-08 06:13] v-kellyluo commented on #5122
Verified this issue on the build main/20211106.4. Fixed.

[2021-11-08 06:13] #5122 closed

[2021-11-08 07:41] v-xianya opened #5148 "Fail to filter the matched items when typing a valid prefix to 'Search by prefix' box under the file shares explorer"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211106.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.0.1
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Open one file share -> Type one existing item prefix to

[2021-11-08 07:57] v-xianya opened #5149 "There is an extra slash at the beginning of the path for file share items"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211106.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one file (without changing

[2021-11-08 08:00] v-xianya opened #5150 "There is no slash next to the URL/Path for one folder under file shares"
**Storage Explorer Version**: 1.22.0-dev
**Build Number**: 20211106.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.0.1
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Create a folder.
3. Right click t

[2021-11-08 09:22] v-kellyluo opened #5151 "There is no successful activity log after applying the option 'Snapshot original blob then upload' if the ADLS Gen2 storage account doesn't support snapshots"
**Storage Explorer Version:** 1.22.0-dev
**Build Number:** 20211106.4
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Launch Storage Explorer (make sure the setting 'Enable ADLS Gen2 snapshots(Preview)' is enabled).
2.