[2022-11-11 07:36] v-xianya commented on #6176
Verified this issue on the build 20221111.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/201289757-40f9d362-43f5-46b4-bca5-1b80dbad31fc.png)

[2022-11-11 07:36] #6176 closed

[2022-11-11 08:30] v-kellyluo opened #6268 "The detached blob container/file share/table/storage account appears after manually refreshing"
**Storage Explorer Version:** 1.27.0-dev
**Build Number:** 20221111.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.26.1)

## Bug Description ##

1. The detached blob container/file share/table/storage account appears after manually refreshi

[2022-11-11 08:45] v-kellyluo opened #6269 "The 'Application' option is always selected when switching the options on the left side of the Settings panel"
**Storage Explorer Version:** 1.27.0-dev
**Build Number:** 20221111.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.26.1)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Click 'Data Explorers'.
3. Observe the opt

[2022-11-11 09:34] v-xianya opened #6270 "Fail to rename one attached file share/queue/table with a valid name"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221111.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Select one table -> Attach the table.
3. Right click the a

[2022-11-11 17:08] craxal commented on #6269
I noticed this was happening before the search feature was added. There doesn't appear to be any code to handle the change.

@JasoneYeMSFT Can you look into it?

[2022-11-11 20:23] richardMSFT commented on #6208
This should be closed now that the description removed any specific service/explorer in the description. The related bug [3430](https://github.com/microsoft/AzureStorageExplorer/issues/3430) should reflect the current description as well.

[2022-11-11 20:23] #6208 closed

[2022-11-12 00:54] #2819 closed

[2022-11-12 00:56] #6261 closed

[2022-11-12 00:56] #5561 closed

[2022-11-12 00:58] #6186 closed

[2022-11-12 16:38] PrabhakarAtla commented on #6258
No, was not using any proxys. The issue is now resolved. It looks like the private endpoints that were in place for the storage account were deleted accidentally which caused the connectivity issues. We created them back to resolve the issue.

[2022-11-12 16:38] #6258 closed

[2022-11-13 13:23] umido1 opened #6271 "Azure Storage Explorer does not start"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-13 13:59] Arithmomaniac opened #6272 "Lease operations are not supported on ADLS Gen2 directories"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-14 07:07] v-xianya commented on #6238
Verified this issue on the build main/20221113.2. Reproduce.
So, we are going to re-open it, will verify on a newer build and close it once it fixed.

[2022-11-14 07:16] v-xianya commented on #6261
Verified this issue on the build main 20221113.2.
1. This issue is fixed for one Attached file share/queue/table/storage account.
![image](https://user-images.githubusercontent.com/41351993/201596671-048e348f-546e-4a0b-a5d0-ff3edea1c6b0.png)
2. For one attached blob containers, It shows 'Rename connection...'.
![image](https://user-images.githubusercontent.com/41351993/201597700-430030ce-911b-4af0

[2022-11-14 07:38] v-xianya commented on #6270
Verified this issue on the build main 20221113.2. Fixed.
So, we are going to close it.

[2022-11-14 07:38] #6270 closed

[2022-11-14 07:40] v-xianya commented on #6268
Verified this issue on the build main 20221113.2. Fixed.
So, we are going to closed it.

[2022-11-14 07:40] #6268 closed

[2022-11-14 07:47] v-xianya commented on #6269
Verified this issue on the build main 20221113.2. Fixed. So, we are going to close it.

[2022-11-14 07:47] #6269 closed

[2022-11-14 09:34] v-xianya opened #6273 "Only one tab opens if trying to open two QA services with the same type & name which original services are located under different storage accounts"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221113.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.26.1)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container and named 'bc01' -> Pin t

[2022-11-14 09:48] v-xianya opened #6274 "Succeed to rename the QA item if an same service with the same name already exists and share the same original storage account with the renamed QA item"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221113.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create two blob containers -> Pin the two blob containers

[2022-11-14 10:02] v-xianya opened #6275 "The 'Rename' button is still enabled when there is a warning message on the 'Rename Connection' dialog"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221113.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Select one file share -> Attach the file share.
3. Attach the

[2022-11-14 17:30] MRayermannMSFT commented on #5899
@jis260 they did ever work things through with you?

[2022-11-14 17:32] MRayermannMSFT commented on #6087
Closing due to lack of response. If you are still encountering this issue, we recommend opening an Azure support ticket via the portal. Alternatively you can open a new issue here.

[2022-11-14 17:32] #6087 closed

[2022-11-14 17:32] MRayermannMSFT commented on #6163
Closing due to lack of response. If you are still encountering this issue, we recommend opening an Azure support ticket via the portal. Alternatively you can open a new issue here.

[2022-11-14 17:32] #6163 closed

[2022-11-14 17:32] MRayermannMSFT commented on #6165
Closing due to lack of response. If you are still encountering this issue, we recommend opening an Azure support ticket via the portal. Alternatively you can open a new issue here.

[2022-11-14 17:32] #6165 closed

[2022-11-14 17:41] MRayermannMSFT commented on #6267
Looks like standalone also has a dependency on v10.

[2022-11-14 17:50] #6273 closed

[2022-11-14 17:53] craxal commented on #6274
Marking as Won't Fix. There are essentially no reasons to restrict what users may rename their Quick Access items to, because the name they use is for display only. Blocking users from using certain names is really just a way from preventing them from confusing themselves, but we decided this was an extreme edge case that we don't need to concern ourselves over.

[2022-11-14 17:53] #6274 closed

[2022-11-14 18:11] MRayermannMSFT commented on #6271
Hi @umido1 since none of the interface is showing up we'll need you to do some more manual steps than normal:

1. Reinstall Storage Explorer (don't open yet)
3. Set an environment variable (user or system, doesn't matter) with name `STG_EX_LOG_LEVEL` and value `debug`
4. Open Storage Explorer
5. Once the issue reproduces go to `C:\Users\<your username>\AppData\Roaming\StorageExplorer\logs`
6. Look

[2022-11-14 18:17] JasonYeMSFT commented on #6203
@cliffeby Technically speaking the expired credential won't present any risk but it is a good practice to not revealing any credential at all. The dialog you saw in the 2nd screenshot is for connecting to a Table which requires the url to specific which table to connect to (e.g. `https://acct.table.core.windows.net/<table_name>`). What you did in the first screenshot is to connect to the parent st

[2022-11-14 18:17] craxal commented on #6275
Reproduces for all other service types.

[2022-11-14 18:29] cliffeby commented on #6203
Thanks for the help. Seems more difficult than most Azure interfaces.

Sent from my phone.

On Nov 14, 2022, at 1:17 PM, JasonYeMSFT ***@***.***> wrote:

﻿
@cliffeby Technically speaking the expired credential won't present any risk but it is a good practice to not revealing any credential at all. The dialog you saw in the 2nd screenshot is for connecting to a Table which requires the url to speci

[2022-11-14 18:34] #6253 closed

[2022-11-14 18:37] jis260 commented on #5899
Thank you, @MRayermannMSFT. Unfortunately, I have not had any follow-up from anyone at Microsoft apart from your comments on here. All rather disappointing really and a warning to anyone trying to utilise Microsoft Azure and associated products.

[2022-11-14 20:00] kuldeepmalhotra123 opened #6276 "error while copy large file"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-14 23:08] JasonYeMSFT commented on #6238
By switching to use resourceUID, the node-tab association will be preserved after renaming so we don't need to close the tab. The tooltip of the tab (nodePath) will be incorrect but that's a minor issue at this point so we will address it later.

[2022-11-14 23:09] JasonYeMSFT commented on #6136
I need to do the work for each type of service:
- [ ] blob
- [ ] file
- [ ] queue
- [ ] table
- [ ] storage account

[2022-11-14 23:26] #5110 closed

[2022-11-14 23:27] craxal commented on #6267
Merged update for Standalone.

[2022-11-14 23:27] #6267 closed

[2022-11-14 23:27] #6275 closed

[2022-11-14 23:27] craxal commented on #6261
Should be resolved for blob containers as well now.

[2022-11-15 00:16] craxal commented on #6080
@pilcherd Jobs are automatically restarted if the worker process fails to respond within a certain amount of time. It sounds likes, even though your job has been cancelled, the worker process isn't properly cleaning up and signaling that the job is done. The job is probably being resumed at least an hour later, because we give work-heavy jobs up to an hour to respond before trying again. Can you r

[2022-11-15 01:59] v-xianya commented on #6261
Verified on the new build main/20221114.4. Fixed for blob containers.

![image](https://user-images.githubusercontent.com/41351993/201807806-8301b25e-1f39-4738-917e-d7a1249d30aa.png)

[2022-11-15 02:22] v-xianya commented on #6274
@craxal Thank you for the updates!
One thing needs you confirm, according to this issue.
If there are two QA items that with the same name and same type, also share the same original storage account.
Only one tab is opened when trying to open the two QA items. Does this need attention?

[2022-11-15 08:31] v-xianya opened #6277 "The 'Quick Access' node is selected after renaming one attachment or QA item"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221114.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Right click one storage account -> Pin it to the 'Quick Access' node.
2. Right click the QA storage account

[2022-11-15 10:14] v-xianya opened #6278 "The secondary blob container of one leased blob container doesn't show as leased"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221114.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Bug Descriptions ##
The leased blob container's secondary blob container doesn't show as leased while a blob container which

[2022-11-15 14:04] alascheck opened #6279 "Error on download file from Azure Storage Exploerer"
I'm trying to download files from Azure Storage Explorer (1.26.1) to a local directory.

I get the error
{
  "message": "\"UnexpectedQuit\""
}
for every file and any directory specified for the download.

Any help on this is highly appreciated.

[2022-11-15 17:07] craxal commented on #6277
This is expected behavior. The tree has to recreate nodes; we do not modify an existing node.

@MRayermannMSFT Is it possible to preserve the selection between tree refreshes? With the resource UID, I'd think in theory it could be done.

[2022-11-15 17:10] craxal commented on #6274
@v-xianya Yes, that is a problem, but we already know about that. There's an issue opened for it, and we are addressing it.

[2022-11-15 17:10] ashkanaa opened #6280 "Opening container/folder when clicking on the blob URL"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-15 21:51] MRayermannMSFT opened #6281 "Per tenant reauth is broken"
Broken due to TS identity client not respecting the existence of the error store in the newest identity service.

[2022-11-15 23:08] craxal commented on #6105
Since this issue is technically resolved, I'm going to close this. See #1420 for tracking automatic dialog size adjustments.

[2022-11-16 01:23] JasonYeMSFT commented on #6278
I am pretty sure this is a timing issue. If you keep refreshing the secondary container node. After a few attempts it will show (leased).

[2022-11-16 01:56] MRayermannMSFT commented on #6265
Fix merged into main.

[2022-11-16 01:56] #6265 closed

[2022-11-16 03:16] v-xianya commented on #6265
Verified this issue on the build main 20221116.3. Fixed.

[2022-11-16 09:08] v-xianya opened #6282 "Can't download one searched file using 'Download All' (The letter filled in the search field is a different case with the file name's first letter)"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221116.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one file.
3. Type a letter which

[2022-11-16 13:53] matthiasdg opened #6283 "local network issues when using Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-16 14:28] RanjithMadathil opened #6284 "unable to retrieve child resources"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-16 17:08] #6105 closed

[2022-11-16 17:48] #6278 closed

[2022-11-16 18:03] umido1 commented on #6271
Hi @MRayermannMSFT ,
Thanks for the feedback. Here is the log file.
Hopefully it works.
[2022-11-16_180110.zip](https://github.com/microsoft/AzureStorageExplorer/files/10024524/2022-11-16_180110.zip)

[2022-11-16 18:09] #6223 closed

[2022-11-16 19:15] JasonYeMSFT commented on #6103
The strings are ready for 1.27.0.

[2022-11-16 19:15] #6103 closed

[2022-11-16 20:34] matthiasdg commented on #6283
Experimented some more, seems that the "File Concurrency" under Settings can help to solve this. What's the default? It starts a copy operation for every individual file, all simultaneously? I put it to 4 and I got transfer speeds over 500Mbps and no issues

[2022-11-16 22:37] MRayermannMSFT opened #6285 "Slow tree loading on 1.27-dev macOS"
Please list all situations you are able to check for repro/don't repro (OS version, processor type, package/build type, slow loading type (all tree UI vs nodes in the tree), tree type).

Example:

Also:
- Please make sure that you run a package/build type at least twice before claiming it repros. For example, if you download a signed build to check if you see slow tree loading, do not base "did/di

[2022-11-16 22:42] craxal opened #6286 "Tree view is slow to initialize"

[2022-11-16 22:42] craxal commented on #6286
I noticed this on macOS, Ventura (Intel based chip).

[2022-11-16 22:44] MRayermannMSFT commented on #6286
Duplicate of #6285

[2022-11-16 22:44] #6286 closed

[2022-11-16 22:48] craxal commented on #6285
Repro:
* macOS 13.0.1, Intel, dev build, nodes in the tree, daytona tree view

[2022-11-16 22:56] craxal commented on #6092
@Ricky-G Since it's been some time since we've heard from you, we are going to close this item. As mentioned earlier, we've made some changes that should help improve performance. If you are still experiencing issues after considering our suggestions here, please respond with answers to our previous questions, and we can reopen the investigation.

[2022-11-16 23:37] richardMSFT commented on #6285
Repro:
- macOS 12.6.1, Apple M1 Max, dev build, nodes in the tree, (i don't know if daytona?).
- Next couple instances where I start the app the tree loads instantly.

Logs from the repro:
[2022-11-16_153050.zip](https://github.com/microsoft/AzureStorageExplorer/files/10026457/2022-11-16_153050.zip)
[Auth Logs.zip](https://github.com/microsoft/AzureStorageExplorer/files/10026456/Auth.Logs.zip)

[2022-11-17 00:19] richardMSFT commented on #6285
Anecdotally there seems to be a pattern for me where this issue happens when I start the app after ~10 min of not having done it.

[2022-11-17 00:33] jinglouMSFT opened #6287 "Implement File Share OAuth support behind feature flag"
Jing has the email. Visit the topic in v1.28.0

[2022-11-17 00:40] jinglouMSFT opened #6288 "Change Access Tier request"
Jing has the email from Sumant. Consider for v1.28.0 or v1.29.0.

[2022-11-17 01:00] #6260 closed

[2022-11-17 06:23] v-xianya commented on #6105
Verified this issue on the build main 20221116.8. Fixed.

[2022-11-17 09:00] v-xianya opened #6289 "The 'Enable Soft Delete' button still displays on the 'Delete' dialog even though the checkbox was checked "Don't ask again about enabling soft delete""
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221117.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers. (Soft delete is disabled)
2. Create a blob container -> Uploa

[2022-11-17 09:11] v-xianya opened #6290 "It is better to remove the checkbox "Don't ask again about enabling soft delete" from the 'Delete' dialog if the soft delete is already enabled"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221117.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers. (Soft delete is enabled)
2. Create a blob container -> Upload

[2022-11-17 19:28] richardMSFT opened #6291 "Inconsistent Capitalization of Configuration Titles"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-17 23:00] MRayermannMSFT opened #6292 "Allow Storing Non-ASCII Metadata Values?"
Portal allows storing non-ASCII metadata values. It seems to be doing some sort of URL encoding perhaps. We could consider offering a similar capability.

[2022-11-18 00:47] richardMSFT commented on #6290
Should be corrected with the most recent changes in main branch.

[2022-11-18 00:47] #6290 closed

[2022-11-18 00:47] richardMSFT commented on #6289
Should be corrected with the most recent changes in main branch.

[2022-11-18 00:47] #6289 closed

[2022-11-18 01:15] #6281 closed

[2022-11-18 02:23] v-xianya commented on #6290
Verified this issue on the main build 20221118.3. Fixed.

[2022-11-18 02:24] v-xianya commented on #6289
Verified this issue on the main build 20221118.3. Fixed.

[2022-11-18 07:46] v-xianya opened #6293 "It is better to make the format of the subtitle on the 'Clone' dialog consistent between 'blob containers & file shares & tables'"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221118.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create one table -> Right click the table -> Click 'Clone...'.
3. O

[2022-11-18 09:00] v-xianya opened #6294 "The title of the undelete dialog for soft deleted ADLS Gen2 items is "Microsoft Azure Storage Explorer" instead of "Undelete""
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221118.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a fol

[2022-11-18 09:30] v-xianya opened #6295 "An error occurs when launching Storage Explorer on Windows"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221118.3
**Branch**: main
**Platform/OS**: Windows 10
**Architecture**: ia32
**How Found**: From running test cases
**Regression From**: Previous release (1.26.1)

## Steps to Reproduce ##
1. Install and launch Storage Explorer.
2. Check whether no error occurs.

## Expected Experience ##
No error occurs.

## Actual Experience ##
An erro

[2022-11-18 17:53] JasonYeMSFT commented on #6129
I set the log location to somewhere outside the /home/snap directory which is outside the FS segment where the snap app has access to. The behavior is by design.

[2022-11-18 17:53] #6129 closed

[2022-11-18 17:54] JasonYeMSFT commented on #6238
We will leave the tabs open after renaming quick access items.

[2022-11-18 17:54] #6238 closed

[2022-11-18 19:19] #6295 closed

[2022-11-18 19:19] MRayermannMSFT commented on #6295
Merged something I think will fix this?

[2022-11-18 21:56] JasonYeMSFT commented on #5846
- [ ] Tab session restoration

[2022-11-19 00:28] richardMSFT commented on #6285
Logs from normal load:
[2022-11-18_162031.zip](https://github.com/microsoft/AzureStorageExplorer/files/10045619/2022-11-18_162031.zip)
[Auth Log.zip](https://github.com/microsoft/AzureStorageExplorer/files/10045620/Auth.Log.zip)

[2022-11-21 02:26] v-xianya commented on #6282
Verified this issue on the build main/20221120.1. Fixed.
So, we are going to close it.

[2022-11-21 02:26] #6282 closed

[2022-11-21 02:31] v-xianya commented on #6266
Verified this issue on the build main/20221120.1. Fixed. So, we are going to close it.

[2022-11-21 02:31] #6266 closed

[2022-11-21 05:54] v-xianya commented on #6294
Verified this issue on the build main/20221120.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/202975607-28f1a294-b9a9-4ed9-b0cb-92936a608fa6.png)

[2022-11-21 05:54] #6294 closed

[2022-11-21 06:22] v-xianya commented on #6295
This issue doesn't reproduce on the new build 20221120.1.

[2022-11-21 07:34] v-xianya commented on #6136
@JasonYeMSFT
Verified this issue on the build main 20221120.1.
1. Fixed for blob/file/queue/table/disks.
2. Reproduced for app configurations.
Pin two app configurations to the Quick Access. Rename the app configurations using a same name. One tab is opened when trying to open the two QA app configurations.

[2022-11-21 14:40] WaltherWachenfeld opened #6296 "AzureStorageExplorer does not start due to authentification issues"
I had the AzureStorageExplorer installed on Win10 and was using it already.
Now when starting the application, I get this error message:

**German:**
_Die von Speicher-Explorer verwendete Authentifizierungsbibliothek konnte nicht ordnungsgemäß gestartet werden. Stellen Sie sicher, dass .NET Framework 4.7.2 oder höher installiert ist. Wenn .NET Framework 4.7.2 oder höher bereits installiert ist, fi

[2022-11-21 17:39] richardMSFT commented on #4562
Implemented and fix should be shipped with 1.27.0

[2022-11-21 18:16] MRayermannMSFT commented on #6185
Closing due to lack of response. If you are still encountering this issue we recommend that you go ahead and open a ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-11-21 18:17] MRayermannMSFT commented on #6188
Closing due to lack of response. If you are still encountering this issue we recommend that you go ahead and open a ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-11-21 18:17] #6188 closed

[2022-11-21 18:17] MRayermannMSFT commented on #6198
Closing due to lack of response. If you are still encountering this issue we recommend that you go ahead and open a ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-11-21 18:17] MRayermannMSFT commented on #6202
@Shirishshetty20 ?

[2022-11-21 18:17] #6203 closed

[2022-11-21 18:18] MRayermannMSFT commented on #6211
@RannyMeier ?

[2022-11-21 18:19] MRayermannMSFT commented on #6257
We let the Azurite team know of this issue and so far they do not see any alarm in the existing behavior. They will supposedly continue to discuss things though.

[2022-11-21 18:23] MRayermannMSFT commented on #6276
@kuldeepmalhotra123 how did you connect to your two containers? Did you attach each of them? Or for one/both of them, did you sign-in, and then go into a subscription?

[2022-11-21 18:24] #6277 closed

[2022-11-21 18:26] MRayermannMSFT commented on #6284
@RanjithMadathil do you know if you have access to the keys for the storage account you are trying to list file shares for?

[2022-11-21 18:27] MRayermannMSFT commented on #6279
@alascheck can you please share your AzCopy log file for the transfer? You can find them under `<your user directory>/.azcopy/`. If this failed transfer if the most recent one you did, then the log file will be the newest one in that directory. If you have done other transfers since this one, then it'd probably be best for you to try it again and then if it fails, grab the new log.

[2022-11-21 18:39] MRayermannMSFT commented on #6271
@umido1 do you ever see the storage explorer splash screen? This:
![image](https://user-images.githubusercontent.com/21112697/203133600-626270e0-96de-4e8a-bf79-75597dc31214.png)

Can you try installing VS Code and seeing if it works for you?

https://code.visualstudio.com/download

Please make sure to match the installation type to what you did for Storage Explorer. That is, if for Storage Explore

[2022-11-21 18:41] kuldeepmalhotra123 commented on #6276
via storage explorer. The files are at my machine, they are .5TB each.

On Mon, 21 Nov 2022 at 18:24, Matthew Rayermann ***@***.***>
wrote:

[2022-11-21 18:45] MRayermannMSFT commented on #6276
Yes, I know you are using Storage Explorer. But how did you connect Storage Explorer to the destination container?
![image](https://user-images.githubusercontent.com/21112697/203135096-ff3e1c00-b1b6-4489-b912-f6bde9b1ae3a.png)
Did you choose the first option I marked in red, or the second?

Also, any chance something else is writing to the destination blob at the same time? Is there already a blob

[2022-11-21 18:53] MRayermannMSFT commented on #6283
@matthiasdg AzCopy probably isn't opening a connection for every individual file right away, but it is for probably a large number of them. You can also try tweaking the Network Concurrency setting. Others have had success in similar situations after using "Adjust Dynamically" or a custom value.

[2022-11-21 19:12] umido1 commented on #6271
![Screenshot 2022-11-21 190903](https://user-images.githubusercontent.com/23086162/203139209-04a80a79-992a-488f-9c45-e91b4bcddfd2.jpg)

Hi @MRayermannMSFT,

Thanks for the feedback.
No, unfortunately I haven't seen that screen yet. Only I could see is a white screen as you can see.
VS works perfectly by the way.
Thanks,

[2022-11-21 21:26] MRayermannMSFT commented on #6293
Merged new resources, but am not doing any publishing. Will close once I see someone else do a publish.

[2022-11-21 21:47] MRayermannMSFT commented on #6296
@WaltherWachenfeld unfortunately the logs are pretty sparse....can you try uninstalling and installing for all users?

[2022-11-21 22:04] kuldeepmalhotra123 commented on #6276
I am using first option and there is no existing data.

[2022-11-21 23:08] DOH-SXN2303 opened #6297 "More File Types Support for File Preview in Azure Storage Explorer"
The following three file types don't seem to be currently supported by the File Preview feature in Azure Storage Explorer. We use these file types regularly on our blob containers and would like them supported by File Preview.

The file types are
.log
.hl7
.xml

[2022-11-22 01:20] RannyMeier commented on #6211
The issue with the Windows Explorer file select dialog scale on high DPI screen is no longer happening with the latest Azure Storage Explorer version 1.26.1.   I noticed that the issue has stopped about a week ago.  Should try earlier version before 1.25 anyway?

[2022-11-22 08:18] WaltherWachenfeld commented on #6296
@MRayermannMSFT thanks for the answer.

The goal would be to use it without admin rights and respectively only installed for the one user. Company consraints... And actually, it worked before. I can't recap if AzureStorageExplorer update or Win update or any other change lead to that issue.

Additionally, I also tried this one #4418 but it didn't help.

[2022-11-22 09:32] Ginginho opened #6298 "Don't default to all resource types when searching"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-22 18:05] DOH-SXN2303 opened #6299 "Log Manual Actions Taken by Users on Blobs using Azure Storage Explorer"
We would like to get the user's info captured in the logs along with the activity/operation performed when users perform those activities using Azure Storage Explorer. Some examples of the operations include.

1. Read
2. Write
3. Delete
4. Update

[2022-11-22 18:13] DOH-SXN2303 opened #6300 "Clicking Back Button in Azure Storage Explorer Doesn't Return to Last Spot"
With Pagination and after opening a blob folder on a specific page, either clicking the Back or Up button will bring users back to the first page of that container and focus on the first folder. We would like to go back to the same page and focus on the blob folder in the previous step.

[2022-11-22 19:45] JasonYeMSFT commented on #6280
You can try using direct link. It allows you to generate a link with a custom protocol which can point to a specific blob container. When you open the link in your browser, if Storage Explorer is installed, it will be launched and automatically navigate to that container if you have access to it.
https://learn.microsoft.com/en-us/azure/storage/common/storage-explorer-direct-link

[2022-11-23 07:22] ericfitskieolyslager opened #6301 "Quick Access empty on New Window"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-23 08:24] v-xianya opened #6302 "It is better to disable the action 'Download All' if there are only soft-deleted blobs under the context view 'Active and soft deleted blobs'"
**Storage Explorer Version**: 1.27.0-dev
**Build Number**: 20221122.31
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Ventura 13.0.1 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Soft del

[2022-11-23 11:53] vijayanallani commented on #2802
@MRayermannMSFT Can you please let us know if this feature is worked on and planning to rollout? please let us know the ETA. Its an important functionality

[2022-11-23 14:28] weber-chris commented on #134
Not an explorer solution, but you can list all entries via Azure CLI (Only tested with a few dozen entries, not 1000s).

`az storage blob list --container-name <container-name>  --account-name <account-name> --auth-mode login --query "sort_by([], &properties.lastModified)[*].{name: name, lastModified: properties.lastModified}"`

[Documentation of az storage blob list](https://learn.microsoft.com/e

[2022-11-23 16:30] gioce90 commented on #4665
This issue is still open?

[2022-11-23 22:42] MRayermannMSFT commented on #6302
Merged a change into main which removes the open in folder action if nothing is downloaded. Disabling the action to prevent this situation is not feasible.

[2022-11-23 22:42] #6302 closed

[2022-11-23 22:42] MRayermannMSFT commented on #6285
No one has been able to repro with a CI build, only dev builds.

[2022-11-23 22:42] #6285 closed

[2022-11-24 00:24] dweeb1937 opened #6303 "CSV import fails after 100 rows depending on sort order"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-24 07:06] v-kellyluo commented on #6302
Verified this issue on the build 20221124.8. Fixed. The 'Show in Folder' action is removed.
![image](https://user-images.githubusercontent.com/87792676/203716074-7cd5a6d7-a676-40fd-be81-cda17092456f.png)

[2022-11-24 09:19] v-kellyluo opened #6304 "Update 'Rename connection...' to 'Rename Connection...' in the description of the part 'Rename Attachments & Quick Access Items' on Release Notes page"
**Storage Explorer Version:** 1.27.0-dev
**Build Number:** 20221124.8
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0.1 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Click 'Help -> Release Notes'.
3. Go to the 'Rename Attachments & Qui

[2022-11-25 09:27] MikaelPorttila opened #6305 "Table CSV Import: Extended import options (Default values and ignore columns)"
https://github.com/microsoft/AzureStorageExplorer/issues/6305#tasklist-block-5bd53dbe-3b72-46ed-a9d0-0556421ac243

### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/s

[2022-11-28 06:26] richardhauer opened #6306 "Can't navigate past first page when displaying a Blob Storage container with a Tag Query in List Mode 'Flat'"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-28 09:19] v-xianya opened #6307 "The selected option on the original settings page is changed after splitting the settings tab"
**Storage Explorer Version**: 1.27.0
**Build Number**: 20221124.10
**Branch**: rel/1.27.0
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Ventura 13.0 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.26.1)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings'.
2. Select one option like: **Data Explorers** on the

[2022-11-28 17:35] JasonYeMSFT commented on #6306
I can reproduce this in our current build. It seems to be a bug.

[2022-11-28 17:41] MRayermannMSFT commented on #6211
No. I think if the issue has gone away then we can go ahead and say what you saw was probably due to something other than Storage Explorer. However, if you do see the behavior again, please feel free to open a new issue, and let us know if the behavior only reproduces with latest or Storage Explorer, or, latest and some set of old versions.

[2022-11-28 17:41] #6211 closed

[2022-11-28 17:45] MRayermannMSFT commented on #6297
Hi @DOH-SXN2303 ...

First, in the version of Storage Explorer you can currently download, you can enable previewing for all these file types by going to Settings (gear on the left) > Services > Storage Accounts > Text preview extensions, and adding your file extensions to the list. So like:
[code]

Second, in a very soon to be released version of Storage Explorer, file previewing will also be ena

[2022-11-28 17:47] MRayermannMSFT commented on #6299
@DOH-SXN2303 can you elaborate on what you mean by "user's info"? Thanks!

[2022-11-28 17:49] MRayermannMSFT commented on #6301
Hi @ericfitskieolyslager unfortunately this is a known issue. Thanks for the additional report though.

[2022-11-28 17:49] #6301 closed

[2022-11-28 17:49] MRayermannMSFT commented on #6301
Closing as duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/638

[2022-11-28 18:27] MRayermannMSFT commented on #6276
@kuldeepmalhotra123 can you:
1. Try again in Storage Explorer, and if it fails...
2. Click "copy azcopy command to clipboard"
3. Paste and save that somewhere
4. Download AzCopy: https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10
5. Run the command yourself via the command line
6. See if AzCopy spits out any other errors?
7. Regardless of step 6, if running on the comman

[2022-11-28 18:48] MRayermannMSFT commented on #6271
@umido1 are you an admin on your computer?

Couple different things for you to try:

First, if you are not an admin then both try (if possible):
1. Have an admin login and try running Storage Explorer
2. Yourself, run Storage Explorer as admin

Second, if neither of those work:
1. Go to `"C:\Users\your-username\AppData\Roaming\StorageExplorer\"` in file explorer
2. Look for a file called `appState

[2022-11-28 18:50] nidewa opened #6308 "Connection with SAS key is not working"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-28 18:52] MRayermannMSFT commented on #6298
@Ginginho which of these ideas do you prefer/not-prefer and why?

1. Storage Explorer remembering what checkboxes are checked across sessions
2. Having an "all" checkbox to un-check in one click
3. Not having any checkboxes checked by default at the start of each session

[2022-11-28 20:20] craxal commented on #6303
@dweeb1937 Thank you for providing the CSV files. I'm able to reproduce the issue as you described.

I notice that your CSV files contain no type annotations. Since success or failure depends on the sort order, this is likely due to a data type inference issue.

For CSV files with no data type annotations, the property data types need to be inferred from the data. Storage Explorer does this by loo

[2022-11-28 20:47] umido1 commented on #6271
Hi @MRayermannMSFT ,
Yes I am admin of my computer and I've tried to run as admin previously but didn't work.
I tried the second as well but unfortunately did not work again. Here is the log file.
[2022-11-28_203819.zip](https://github.com/microsoft/AzureStorageExplorer/files/10107358/2022-11-28_203819.zip)

[2022-11-28 21:20] DOH-SXN2303 commented on #6299
@MRayermannMSFT - Our organization grants various Azure Active Directory accounts the necessary access (Reader, Contributor) using (Access Control (IAM)) to specific Azure Storage Accounts and Containers. So, If a person (Azure Active Directory account) uses his/her rights and accesses a storage container using Azure Storage Explorer, and maybe manually deletes/updates a blob in that container, we

[2022-11-28 23:03] craxal commented on #1420
Dialog auto-sizing requires several cooperating mechanisms:
* The window manager in the main process needs to accept requests from the window's renderer process to change the window size.
* The window's renderer process needs to be able to send requests for window size changes.
* The window's renderer window needs an accurate measure of full content size.
* The content in the renderer window needs

[2022-11-28 23:17] JasonYeMSFT commented on #6153
For anyone interested in this feature, do you know what encoding scheme does your parquet file use? We are evaluating if we want to implement our own decoder for the rle/bit-pack hybrid scheme since the available library doesn't support it right now.

[2022-11-28 23:17] craxal commented on #6305
@MikaelPorttila These are some good suggestions. We might want to split this request into multiple feature requests, as they aren't all strictly related. Are you OK with that?

The easiest feature to add would be column mapping. This already exists when importing from CSV with no type annotations. The Import Entities dialog shows column names that can be modified. We can easily open the dialog for

[2022-11-29 01:33] v-kellyluo commented on #6304
Verified this issue on the build rel/20221128.3. Fixed.
![image](https://user-images.githubusercontent.com/87792676/204416513-0fb8e9dc-6292-4792-b42b-19127b45fc31.png)

[2022-11-29 07:53] MikaelPorttila commented on #6305
@craxal Sure split the features but all those are much needed together in the end for handling large CSV files without the need for external data transformation tools.

Regarding the GUIDs, in our specific use-case I wrote a simple import tool for myself instead and in that case a .Net Guid.NewGuid()-string was good enough for all of our tables. But sure there could be cases when people wants uppe

[2022-11-29 08:09] v-xianya opened #6309 "The ADLS Gen2 blob container under Quick Access node is selected when clicking 'Navigate to Blob Container' on the 'Open Direct Link' dialog"
**Storage Explorer Version**: 1.27.0
**Build Number**: 20221128.3
**Branch**: rel/1.27.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0.1 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.26.1)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Add the

[2022-11-29 08:42] Ginginho commented on #6298
@MRayermannMSFT With hindsight, I think option #2 is probably the best for all users, especially those who are unsure what type of resource they are looking for. I know that option #3 was what I actually asked for and saves me a click but maybe not best for the majority. I'm not sure that there is much value in option #1 unless a user is only ever accessing a certain resource type.

[2022-11-29 09:28] v-kellyluo opened #6310 "The table layout is unfriendly if moving the triangle under the query mode then clicking 'Refresh'"
**Storage Explorer Version:** 1.27.0
**Build Number:** 20221128.3
**Branch:** rel/1.27.0
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0.1 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.26.1)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Click '

[2022-11-29 10:18] v-xianya opened #6311 "The Quick Access node is selected after clicking 'Load more' under storage accounts tree view"
**Storage Explorer Version**: 1.27.0
**Build Number**: 20221128.3
**Branch**: rel/1.27.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0.1 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand Storage Accounts node -> Make sure there is 'Load more' under storage accounts tree view.
2. Clic

[2022-11-29 18:15] artrapp opened #6312 "Unable to Get Issuer Cert Locally"
How do I resolve this? I get this message when expanding Blob Containers

Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://ibazdevdls02.blob.core.windows.net/?comp=list&include=metadata failed, reason: unable to get local issuer certificate",
  "stack": "FetchError: request to https://ibazdevdls02.blob.core.windows.net/?comp=list&include=meta

[2022-11-29 18:33] craxal commented on #6310
@v-kellyluo I assume this is the triangle you're referring to? And when you say "drop down the triangle", do you mean "click and drag the triangle"?

<img width="41" alt="image" src="https://user-images.githubusercontent.com/3473026/204616033-1bedd3d9-af05-461e-9533-e602080d6b51.png">

[2022-11-29 19:18] craxal commented on #6305
@MikaelPorttila True, it sounds like a GUID is the safest approach, so perhaps a more sophisticated key generation mechanism isn't necessary at this time.

Another question that pops up is how do we determine _when_ to use fixed/auto keys? Do you find that you often want to import data where there are no "PartitionKey" and "RowKey" columns? Do you ever find yourself wanting to import data where so

[2022-11-29 19:34] craxal commented on #6303
@dweeb1937 Let us know if the above comment helped resolve your issue.

[2022-11-29 19:50] JasonYeMSFT commented on #6311
This will occur when loading the last batch of nodes. The current code selects the load more placeholder node which is soon removed. The tree view moves the selection to the first node (Quick Access) on its removal.

[2022-11-29 19:50] JasonYeMSFT commented on #6309
I had a fix for the bug. Since it is an edge case and we are close to 1.27.0 shipping, I am going to defer merging the bug fix for 1.28.0 release.

[2022-11-29 21:48] #6310 closed

[2022-11-29 23:41] JasonYeMSFT commented on #5990
The tree view is ready for building such association with resourceUid now. Will do the work in a future milestone.

[2022-11-29 23:42] JasonYeMSFT commented on #6218
As suggested by the loc team, added comments to provide guidance on translation.

[2022-11-29 23:43] #6222 closed

[2022-11-30 01:22] v-kellyluo commented on #6310
Verified this issue on the build rel/2022129.3. Fixed. The triangle is removed.

[2022-11-30 08:11] v-xianya opened #6313 "Update the content type 'image/jpeg' to 'image/jpg' in Release Notes 'File Preview Improvements' part"
**Storage Explorer Version**: 1.27.0
**Build Number**: 20221129.3
**Branch**: rel/1.27.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Ventura 13.0.1 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Click 'Help > Release Notes'.
2. Go to the 'File Preview Improvement

[2022-11-30 12:16] Arjun-Dinesh opened #6314 "Unable to create blob containers in Azure Iot Edge Blob storage"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-11-30 18:45] JasonYeMSFT commented on #6153
How do you feel about parsing the parquet data and display the data as a JSON document? Like in this screenshot (the data is fake data, not PII)
<img width="1234" alt="image" src="https://user-images.githubusercontent.com/39359541/204882159-1ace66bf-028f-4680-93a5-04b98b5a914c.png">

[2022-11-30 18:47] JasonYeMSFT commented on #6312
Could you see if this section in our troubleshooting guide help? https://learn.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows#ssl-certificate-issues

[2022-11-30 19:56] JasonYeMSFT commented on #6314
Given the error it's possible your computer cannot reach your edge device. Could you try ping the edge device (e.g the host IP) and see if it is reachable?

[2022-11-30 20:06] JoeEdwardsGitHub commented on #6153
@JasonYeMSFT that sounds like a great idea. For the purposes of a preview it's the data you are interested in rather than the layout. JSON can accommodate the same objects and arrays as appear in parquet structs, so that seems very suitable.

Thanks, Joe

[2022-11-30 21:21] craxal commented on #6308
@nidewa For clarity, it looks like you're using a storage account SAS. Is this correct? I assume you selected "Storage account" when you opened the Connect dialog? Do you know where you got your SAS token from? Are you able to reconnect with a new SAS?

[2022-11-30 21:24] craxal commented on #6307
@MRayermannMSFT @JasonYeMSFT @richardMSFT Do we know if this preserving selected category was ever intentional? If so, how was this done?

[2022-11-30 22:12] JasonYeMSFT commented on #6153
I have one more question before diving into the details. Could anyone share the average size of parquet file you would like to preview? I need to consider the memory consumption before deciding how to present the data.

[2022-11-30 23:12] JoeEdwardsGitHub commented on #6153
@JasonYeMSFT in our data lake we have millions of parquet files that are no more than a few kB, however as with any data file they can be any size you like. Most sources recommend they are no larger than 1GB before you split over multiple files.

I think in the scenario of previewing in ASE it is entirely reasonable to set at arbitrary upper limit of file size that can be previewed to a value that

[2022-11-30 23:47] JasonYeMSFT commented on #6307
I see what's happening now. The selected category is a passive reflection of what section is in the visible area in the settings panel. After splitting, since the space of visible area has changed, the selected category will be updated to reflect what is currently being displayed. This behavior is by design.

[2022-11-30 23:48] #6307 closed