[2022-05-13 06:57] v-kellyluo commented on #5698
Verified this issue on the build main/20220513.1. Fixed.

[2022-05-13 06:57] #5698 closed

[2022-05-13 07:40] felixsong0824 commented on #5690
@MRayermannMSFT It became normal after uninstall and re-install the storage explorer...

[2022-05-13 08:02] v-xianya opened #5719 "Succeed to create an emulator item with the same name of one item which is being deleted"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220513.1
**Branch**: main
**Platform/OS**: Windows 10
**Architecture** ia32\x64
**Azurite version** 3.17.1
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Install and run Azurite 3.17.1.
2. Expand (emulator -Default Ports) (Key) -> Tables.
3. Create a table -> De

[2022-05-13 08:06] v-xianya opened #5720 "The address bar is inconsistent between split tabs on the snapshots/version view for one blob which has parent folders under flat mode"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220513.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.3 (MacBook Air M1 2020)
**Architecture** ia32\x64
**Azurite version** 3.17.1
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container

[2022-05-13 08:08] v-xianya opened #5721 "The toolbar of one table/file share displays blank"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220513.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.3 (MacBook Air M1 2020)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables/File Shares.
2. Open one table/file share.
3.

[2022-05-13 09:05] v-xianya commented on #5465
Will verify this bug when the bug [5721](https://github.com/microsoft/AzureStorageExplorer/issues/5721) got fixed.

[2022-05-13 09:28] v-kellyluo opened #5722 "The 'Save' button is enabled if emptying the Id field in the 'Access Policies' dialog"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220513.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (MacBook Air M1 2020)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.1)

## Bug Description ##

1. The 'Save' button is enabled if emptying the Id field.
2. The 'Save' button is disab

[2022-05-13 09:32] v-xianya commented on #5536
Verified this issue on the build main/20220513.1 with the Azurite 3.17.1. Fixed.

[2022-05-13 09:34] v-kellyluo commented on #4970
Will verify this bug when the bug https://github.com/microsoft/AzureStorageExplorer/issues/5721 got fixed.

[2022-05-13 10:39] ManishaC1 opened #5723 "A11y_Azure Tools Storage Explorer_Manage Access Policies_Manage Access Policies_HeadingAndLabels:Access Policies looks like a heading but it is not defined using any heading level"
[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-nikpap%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847543876&sdata=6wiDneF0tmnVt4CroW43rkfVbB%2BL%2BAAdn0nD7xR5hQM%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fast

[2022-05-13 11:09] ManishaC1 opened #5724 "A11y_Azure Tools Storage Explorer_Queues_AddMessage_ScreenReader:When we edit the expire field and visibility timeout field and set a value that leads to appear of error message, the message is not read by the NVDA."
**GitHub Tags:**
#A11yMAS; #A11yTCS; #Win11; #DesktopApp; #A11ySev2; #BM_Azure Tools Storage Explorer_May2022; #Azure Tools Storage Explorer; #WCAG4.2.2; #ScreenReader; #NVDA; #FTP;

## Actual results:
When we edit the "Expire in" and "Visibility timeout" field, and a error message appears at the bottom of the window, same message is not read by the NVDA.
For example: If "Expire in" field set to 8

[2022-05-13 13:15] ManishaC1 opened #5725 "A11y_Azure Tools Storage Explorer_Settings_Application_ScreenReader:Narrator doesn't read heading "Proxy" and the first paragraph present under the heading "Proxy" in scan mode."
**GitHub Tags:**
#A11yMAS; #A11yTCS; #Win11; #DesktopApp; #A11ySev2; #Azure Tools Storage Explorer; #MAS1.3.1; #ScreenReader; #Narrator; #FTP; #Benchmark;

## Actual results:
Narrator is not reading the heading "Proxy" and the first paragraph present under the heading-"A list of hostname.... app proxy settings." in scan mode.

**Similar issues are seen in the following.**

- Transfers

1. Launch S

[2022-05-13 15:41] craxal commented on #5721
@v-xianya This is a known issue. I have been making changes to the toolbar that are not complete yet. You can forego reporting issues until I let you know.

[2022-05-13 18:03] craxal commented on #5721
@v-xianya I am unable to reproduce this issue in the current state of main. It's possible you got a build that did not have all the necessary changes in it. Please verify again.

[2022-05-13 18:39] MRayermannMSFT commented on #5674
@v-xianya have you ever seen this with the connect dialog? Once it happens, are all dialogs broken afterwards?

[2022-05-13 20:44] johnsblevins opened #5726 ""Error loading property" with version 1.24.0 when connecting to Azure Government Storage Accounts"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-13 21:40] MRayermannMSFT commented on #5591
Closing due to lack of response. If you're still running into this issue we recommend opening an Azure support ticket, or you can open a new issue here. Thanks.

[2022-05-13 21:40] #5591 closed

[2022-05-13 22:22] #5645 closed

[2022-05-13 23:16] #5683 closed

[2022-05-15 10:00] toastmastern commented on #5716
Hi, thanks for the quick reply, yes, we run this on Azure Virtual Desktop and they have their own version of windows AFAIK
We have been running on this environment since corona started with storage explorer so yes, several versions.

Will try downgrade early upcoming week + try 1.24.1. Also, one strange thing, did try running as administrator now and that did not throw exception, however have had

[2022-05-16 02:07] v-kellyluo commented on #5645
Verified this issue on the build main/20220516.1. Fixed.
![image](https://user-images.githubusercontent.com/87792676/168508000-15e33442-24c4-4f55-81fc-47710a709966.png)

[2022-05-16 02:09] v-kellyluo commented on #4970
Verified this issue on the build main/20220516.1 with Azurite 3.17.1. Fixed.

[2022-05-16 02:11] v-xianya commented on #5674
@MRayermannMSF I haven't seen this issue with the connect dialog. we'll check whether all dialogs are broken once this happens.

[2022-05-16 02:11] v-kellyluo commented on #5465
Verified this issue on the build main/20220516.1 with Azurite 3.17.1. Fixed.
Fail to add one entity when the value of the 'PartitionKey/RowKey' property is '#' in one emulator table.
![image](https://user-images.githubusercontent.com/87792676/168508364-7c6e9d24-972d-4daa-8ca7-55b0925c0c67.png)

[2022-05-16 02:12] v-xianya commented on #5721
Verified this issue on the build main/2022056.1. Fixed.

[2022-05-16 02:12] #5721 closed

[2022-05-16 07:16] ManishaC1 commented on #5715
This bug is not reproducing when NVDA screen reader is used. Hence closing the bug .

[2022-05-16 07:19] ManishaC1 commented on #5714
This bug is not reproduced on using NVDA. Hence closing it

[2022-05-16 07:19] #5714 closed

[2022-05-16 07:24] ManishaC1 commented on #5708
This bug is not reproducing on using NVDA. Hence closing the bug.

[2022-05-16 07:24] #5708 closed

[2022-05-16 07:26] ManishaC1 commented on #5706
This bug is not reproducing on using NVDA. Hence closing the bug.

[2022-05-16 07:26] #5706 closed

[2022-05-16 08:40] v-xianya opened #5727 "An error dialog pops up when clicking 'Change Access Tier…/Clone and Rehydrate…' for blobs"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220516.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.3 (MacBook Air M1 2020)
**Architecture** ia32\x64
**How Found**: From running test case
**Regression From**: Previous release (1.24.1)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload

[2022-05-16 09:19] ManishaC1 opened #5728 "A11y_Azure Tools Storage Explorer_Queues_AddMessage_ScreenReader:When focus is on "Expire in" edit field, NVDA is announcing it as "Time to live" field."
**GitHub Tags:**
#A11yMAS; #A11yTCS; #Win11; #DesktopApp; #A11ySev2; #BM_Azure Tools Storage Explorer_May2022; #Azure Tools Storage Explorer; #WCAG3.3.2; #ScreenReader; #NVDA; #FTP;

## Actual results:

When focus is on "Expire in" edit field, Screen Reader is announcing it as "Time to live" field.

## Expected results:
What label is visible to our eyes that label should be announced by the Screen

[2022-05-16 09:36] ManishaC1 commented on #5725
Closing this bug as it is not reproducing while using NVDA.

[2022-05-16 09:36] #5725 closed

[2022-05-16 10:19] v-xianya opened #5729 "The new created file share/table under QA storage account does not auto display under its original storage account node which is already expanded"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220516.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.3 (MacBook Air M1 2020)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Add the storage account to Quick Access.
2. Expand the QA storage accou

[2022-05-16 10:28] v-xianya opened #5730 "The new created blob container under Subscription storage account is opened from its Quick Access path"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220516.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.3 (MacBook Air M1 2020)
**Architecture** ia32\x64
**How Found**: AD-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Select one storage account -> Add it to Quick Access -> Expand the QA storage account.
2. Expand the

[2022-05-16 10:41] ManishaC1 opened #5731 "A11y_Azure Tools Storage Explorer_Accessible environment_Desired Storage Explorer theme_NonTextContrast:In System Default/Light theme Color Contrast of focus Indicator for "Search" button failing minimum Color Contrast ratio i.e., 3:1"
[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-nikpap%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847543876&sdata=6wiDneF0tmnVt4CroW43rkfVbB%2BL%2BAAdn0nD7xR5hQM%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fast

[2022-05-16 11:09] ManishaC1 opened #5732 "A11y_Azure Tools Storage Explorer_Accessible environment_Desired Storage Explorer theme_ColorContrast:"Explorer" text present in the Explorer Pane is having Color contrast less that 4.5:1"
[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-nikpap%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847543876&sdata=6wiDneF0tmnVt4CroW43rkfVbB%2BL%2BAAdn0nD7xR5hQM%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fast

[2022-05-16 13:41] ManishaC1 commented on #5713
Closing the bug as it is not reproing on using NVDA

[2022-05-16 13:41] #5713 closed

[2022-05-16 16:07] golaat opened #5733 "Manually checking for updates should do its best to get you an update (Update check from v1.23.1 states No Update Available)"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-16 16:44] JasonYeMSFT commented on #5727
The imported view model classes in DialogView.ts should now be imported from the renamed package @storage-explorer/ui-components.

[2022-05-16 16:47] manisrivastav opened #5734 "Azure storage tables : Unable to retrieve child resources"
Unable to retrieve child resources.

Details:
Network timeout error: connect ETIMEDOUT 52.239.214.134:443

![image](https://user-images.githubusercontent.com/26009285/168642824-3df6f3c6-11da-4471-8d26-038609d02b12.png)

[2022-05-16 17:04] JasonYeMSFT commented on #5719
I believe for emulators, the delete is almost instantaneous because everything happens in the same machine. So unlike the online service the subsequent create will immediately happen for emulators.

[2022-05-16 17:05] #5719 closed

[2022-05-16 17:16] MRayermannMSFT commented on #5734
@manisrivastav can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-05-16 17:20] MRayermannMSFT commented on #5733
@golaat thanks for being eager to update! As of when you posted your issue, although 1.24.1 was available via various channels (github releases page, azure.com page, snapstore), we hadn't yet sent out the in app update. It takes a few days for new releases to get propagated to all of the various download servers/CDNs so we delay sending out the in app update until a a few days after we upload the

[2022-05-16 17:22] MRayermannMSFT commented on #5726
@johnsblevins yes this was an issue with 1.24.0. We just shipped a hotfix on Friday that addresses it: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.24.1

Please download and use that version. Thanks.

[2022-05-16 17:24] MRayermannMSFT commented on #5709
@MiraliKPN can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-05-16 17:24] MRayermannMSFT commented on #5704
@riiikawang yes this was an issue with 1.24.0. We just shipped a hotfix on Friday that addresses it: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.24.1

Please download and use that version. Thanks.

[2022-05-16 17:27] #5638 closed

[2022-05-16 17:27] #5624 closed

[2022-05-16 17:28] #5615 closed

[2022-05-16 17:28] MRayermannMSFT commented on #5541
Closing due to lack of reply. If you are still running into this problem we suggest you open an Azure support ticket from the Azure portal. Alternatively you can open a new issue here.

[2022-05-16 17:38] MRayermannMSFT commented on #5716
@toastmastern have you tried downgrading yet? You can find old releases here: https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-16 17:44] MRayermannMSFT commented on #5695
@vansree so....
1. Can you confirm that the IP address of your machine is in the allowed range?
2. Did you sign in or attach the storage account? If you signed in, can you make sure that you have appropriate RBAC roles to read blob data (blob data reader, blob data contributor, blob data owner) or that you have access to the storage account's keys?

[2022-05-16 17:45] MRayermannMSFT commented on #5695
@ProphetManX FYI we shipped 1.24.1 and you can find it here: https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-16 18:10] MRayermannMSFT commented on #5729
Let's **not** support this behavior. Only the current instance of the account needs to be kept up to date.

[2022-05-16 18:18] MRayermannMSFT commented on #5703
Won't fix for now. The direct link feature is not intended to be used with soft deleted folders. Can revisit if a user asks for it.

[2022-05-16 18:18] #5703 closed

[2022-05-16 22:04] vansree commented on #5695
I downloaded 1.24.1 and same issues persists. (I do see that you fixed other issue, but clarifying the issue exists)

For 1. I work remote and behind VPN. Looks like per your notes, it is ip address block. Please let me know where exactly I have to check Or what to check...
(I already checked under Storage Account > Under Security + Networking > Networking > Firewalls and virtual networks)

For 2.

[2022-05-16 22:27] MRayermannMSFT commented on #5705
Related #4173

[2022-05-16 23:54] #5727 closed

[2022-05-16 23:54] #4571 closed

[2022-05-17 02:11] v-xianya commented on #5696
Verified this issue on the build main/20220517. Fixed.

[2022-05-17 02:11] #5696 closed

[2022-05-17 02:26] v-xianya commented on #5727
Verified this issue on the build main 20220517.3. Fixed.

[2022-05-17 05:57] ManishaC1 opened #5735 "[Azure Tools Storage Explorer - Platform]Update Accessibility Conformance Documentation"
**Github Tags**
#A11yAAT; #A11yMAS; #A11yTCS; #Azure Tools Storage Explorer; #BM_Azure Tools Storage Explorer_May2022; #Benchmark; #DesktopApp; #FTP; #Win11; #A11ySev3;

## Description:
This bug is to ensure that an AAT entry is created/updated with most recent test results. This would ensure that conformance documentation up to date.

**Product Name**: Azure Tools Storage Explorer
 STID:5e4cbb05-

[2022-05-17 05:57] ManishaC1 commented on #5735
Bug query-->https://github.com/microsoft/AzureStorageExplorer/issues?q=BM_Azure+Tools+Storage+Explorer_May2022

[2022-05-17 07:43] v-xianya opened #5736 "The descriptions are incorrect in the 'Undelete' dialog against one ADLS Gen2 folder"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220517.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a folder.
3. R

[2022-05-17 07:48] #5709 closed

[2022-05-17 08:04] toastmastern commented on #5716
Hi again, got reports from devs that it doesnt work.

Tested 1.23.1 (user installed) - works fine
Upgraded to 1.24.1 (user installed) - doesnt work (same error in event log as above)

Tried one more thing - started 1.24.1 in elevated (admin) mode - works(!)
Some kind of permission that has changed?

Let me know if i should try something else

[2022-05-17 16:39] MRayermannMSFT commented on #5726
Ok...closing as duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/5699

[2022-05-17 16:40] MRayermannMSFT commented on #5704
Ok...closing as duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/5699

[2022-05-17 16:40] #5704 closed

[2022-05-17 18:11] JasonYeMSFT opened #5737 "Release App-Config extension"
- [x] Add proxy, User Agent support
- [x] Azure China, Azure US Gov support
- [x] Finish test pass
- [x] Create App Config Extension GitHub repository
- [x] Update doc page for direct links added by extensions
- [x] Update the extension label to say (preview)
- [x] Update the feedback url
- [x] Update landing page
- [x] Upload bits to our extension container

[2022-05-17 19:57] zachdialwynnlasvegas opened #5738 "Unable to get local issuer certificate"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-18 07:29] v-xianya commented on #3792
Verified this issue on the build main/20220518.1. Fixed.

[2022-05-18 07:29] #3792 closed

[2022-05-18 08:18] nhsedcmichaelross commented on #5716
We are experiencing the same issue with AVD.  We have tried the current 1.24.0 and 1.24.1 on both SKU win10-21h1-avd-m365 and win10-21h2-avd-m365 (both gen 1) and are experiencing the same error.

I will roll it back to 1.23.1 today and get user feedback.

[2022-05-18 08:27] jfernandes2022 opened #5739 "error when access azure storage"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-18 08:35] v-xianya opened #5740 "No traffic for table actions when setting proxy to 'Use app proxy settings/Use environment variables'"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220518.1
**Branch**: main
**Platform/OS**: Windows 10
**Architecture** ia32
**How Found**: From running test case
**Regression From**: Previous release (1.24.1)

## Steps to Reproduce ##
1. Install and launch Fiddler -> Launch Storage Explorer.
2. Click 'Edit -> Configure Proxy' -> Select 'Use app proxy settings' -> Set the URL: 'http://

[2022-05-18 08:59] jfernandes2022 commented on #5739
reauthenticate also does not help

[2022-05-18 09:56] v-xianya opened #5741 "The state of the actions 'Acquire Lease & Break Lease...' on the context menu is not updated if acquiring/breaking lease for one ADLS Gen2 blob and clicking 'Yes' on the refresh prompt with 'Auto-refresh on change' unchecked"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220518.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> Click 'Data Explorers -> Uncheck the setting **Auto-r

[2022-05-18 16:23] SriKatakam21 opened #5742 "Unable to access storage account"
{
  "message": "\"{\\n  \\\"name\\\": \\\"Error\\\",\\n  \\\"message\\\": \\\"self signed certificate in certificate chain\\\",\\n  \\\"stack\\\": \\\"Error: self signed certificate in certificate chain\\\\n    at TLSSocket.onConnectSecure (node:_tls_wrap:1530:34)\\\\n    at TLSSocket.emit (node:events:394:28)\\\\n    at TLSSocket._finishInit (node:_tls_wrap:944:8)\\\\n    at TLSWrap.ssl.onhandsha

[2022-05-18 18:00] MRayermannMSFT opened #5743 "Update to net6 Identity Service for macOS and Linux"
- Requested by identity team
- We haven't updated in a long time
- Also requires moving to new servicehub
- This should be reflected in the release notes for Linux users

[2022-05-18 20:15] JasonYeMSFT commented on #5741
There is a bug causing the old item in the view before refreshing to be selected.

[2022-05-18 21:33] JasonYeMSFT opened #5744 "Remove inline style for svg icons"
In most cases we need to theme our svg icons and the inline styles may accidentally break the theming we apply elsewhere. These inline styles are almost of no use so we should remove them.

## Steps to convert to icon components

1. Where possible, swap out old usages of icons for icon components and registered icon names. Examples:

[code]

[code]

[code]

[code]

2. Duplicate or custom style rul

[2022-05-18 21:46] JasonYeMSFT commented on #5720
This is by design. The new address is computed from the address string of the current location, which will contain all the directories to the location. I am going to won't fix this for now since we don't necessarily need the two addresses to be exactly identical.

[2022-05-18 21:46] #5720 closed

[2022-05-18 21:56] BruntonAndrewL opened #5745 "order by size does not consider the unit"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-19 08:07] FrancoisM commented on #4135
Same issue here, suddenly after upgrading explorer to 1.24.1
@PlacidAug how did you solve it please?

[2022-05-19 08:20] Ginginho commented on #146
@MRayermannMSFT Hi Matthew. That's an unsympathetic take on things. Imagine a need to move 101 out of 200 files from one folder to another. Sure I can select those 101 files twice, once for the copy and once for the delete. Seems a bit poor though, wouldn't you agree? Could MSFT not take the view that it would improve the Storage Explorer UI with relative ease?

[2022-05-19 08:24] FrancoisM commented on #4135
I downgraded back to version 1.23.1 and it works as before.

[2022-05-19 10:03] v-kellyluo opened #5746 "An error info prompts when executing query in one emulator table if there is no queried clause"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220519.1
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**Azurite Version:** 3.17.1
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Install and run Azurite 3.17.1 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Defau

[2022-05-19 10:11] v-xianya opened #5747 "Temporary tab doesn't become permanent if clicking 'Open' or double clicking"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220519.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Click one blob container to open a temp

[2022-05-19 11:37] ladachris opened #5748 "Storage Explorer not showing data"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-19 12:56] SusheelKD opened #5749 "an unhandled win32 exception occured in [96280] storageExplore.exe"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-19 14:38] devsbryan opened #5750 "Copy Container does not copy version history"
We need to be able to copy a blob container from one account to another and retain the version history.

However when using Copy Container only the latest version of each blob is copied.

The same applies to the Clone Container option.

[2022-05-19 14:56] Storm-BE opened #5751 "Can not browse snapshot contents for some Azure Files shares"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-19 17:22] JasonYeMSFT commented on #5747
Our panel API doesn't have a way to programmatically promote a temporary tab. We should add that.

[2022-05-19 19:14] golaat commented on #5733
@MRayermannMSFT thanks for the detailed information. This explains the behavior we were seeing and fills the knowledge gaps I had.

[2022-05-19 21:22] MRayermannMSFT commented on #5724
@ManishC1 I cannot repro this bug. Can you let me know/reconfirm:
- What Storage Explorer version you are using?
- What version of NVDA you are using?

[2022-05-19 21:36] MRayermannMSFT commented on #5733
Yes, that is indeed good feedback. I will think about how we can make this happen, either with our current updating setup or with some changes. Will use this issue to track that.

[2022-05-20 02:12] v-kellyluo commented on #5746
@craxal ,
In a new created table, there is no default query clause after clicking query if no entity is added,
This issue also reproduces when executing query if removing all clauses.
Here is the record:
![tab](https://user-images.githubusercontent.com/87792676/169434509-b6342427-390a-4825-9515-9436f542c136.gif)

[2022-05-20 04:41] ManishaC1 commented on #5724
@MRayermannMSFT

- Storage Explorer version is 1.24.0
- NVDA version is 2021.3.5

[2022-05-20 07:13] DanielaZamoraUribe commented on #5684
I am facing the same issue, @sergey-rusakov were you able to fix it?.

[2022-05-20 07:27] v-xianya opened #5752 "The localized string and the search icon overlap in the 'Search by prefix' field for one file share"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220520.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 18.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Language**: Japanese
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '日本語' -> Resta

[2022-05-20 08:03] v-kellyluo opened #5753 "The error message is not localized in the 'Open Container/File Share by Name' dialog when typing '/' to search"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220520.5
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Architecture:** ia32\x64
**Language:** All languages
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings)

[2022-05-20 08:23] v-sunnysun opened #5754 "There is an extra scroll bar in the localized 'Shared Access Signature' dialog for one file share/queue"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220520.5
**Branch:** main
**Platform/OS:** Windows 10
**Architecture**: ia32
**Language**: Japanese
**How Found:** From running test cases
**Regression From:** Previous release (1.24.1)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '日本語' -> Restart Storage Explorer.

[2022-05-20 08:27] Denisjc commented on #4915
Based on the record of the retirement of tools and the utter disregard of what developers say.  It is little surprise that no one is reading this thread and no one cares.  Ah well we just uninstall your tools and build our own, and to quote Bender "with blackjack ... etc"

[2022-05-20 16:47] craxal commented on #5753
@v-kellyluo This message comes from the service, so we can't localize it.

[2022-05-20 16:47] #5753 closed

[2022-05-20 19:07] JasonYeMSFT opened #5755 "Investigate if our File Share folder stats may report inaccurate results"
This comes from a customer support thread. It seems in some situations, our folder statistics feature may report inaccurate results.

For example, when there are 192388 files in the folder and 144,573,325,353 bytes in total, our statistics report only 192271 files and 144,301,875,878 bytes in total.

We should try to reproduce it and see if there is a bug in our code.

[2022-05-20 22:01] ian-bowler commented on #5745
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABlCAYAAAAWP15YAAAHOklEQVR4Ae1cTU4jOxDmMslbz8sBRvPm6Z0CCbHgFEhZsBmxB4kDIAV2LLNBCkgIiWXYIySUA+QE9fTZLleV207oCQRmphZRd9x2/Xz1VXXHbmdnMBgSPl+//heO/P1PPO6w0w7GkByMlBkghYPhYMQ6ySWCj84MZ4YzY+2jg6eJp8l7psn4gm7v7tPngg4T2run13Q7Ga+lJ1fztz5++fI3ffv2T0c/2nCt1Ld5muyd0fROABjsndHJuI58qfw9v8PZh4cHen5+pu/f/82O4xxtuFYCsjkYYMUHRr8G6HD4F93d3dHV1RUdHR3R09NT

[2022-05-23 08:56] v-kellyluo opened #5756 "The QA attached storage account disappears after clicking 'Refresh All' if detaching the storage account"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220523.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.1)

## Steps to Reproduce ##

1. Select one storage account -> Attach the storage account.
2. Add the attached storage ac

[2022-05-23 12:39] StanUpply commented on #5616
It would be great if you add native arm64 support :)

[2022-05-23 16:34] MRayermannMSFT opened #5757 "AzCopy transfer activities need system formatting for item counts"
![image](https://user-images.githubusercontent.com/21112697/169866470-ec30afd6-ccba-434c-8dee-cb1e21c0f1fc.png)

[2022-05-23 16:54] MRayermannMSFT commented on #5756
Accidentally pushed a commit to main.

[2022-05-23 16:54] #5756 closed

[2022-05-23 17:02] MRayermannMSFT commented on #5647
Closing due to lack of response. If you are still encountering this problem we recommend opening an Azure support ticket from the portal. You can also open a new issue here.

[2022-05-23 17:02] MRayermannMSFT commented on #5652
Closing due to lack of response. If you are still encountering this problem we recommend opening an Azure support ticket from the portal. You can also open a new issue here.

[2022-05-23 17:02] #5652 closed

[2022-05-23 17:02] MRayermannMSFT commented on #5655
Closing due to lack of response. If you are still encountering this problem we recommend opening an Azure support ticket from the portal. You can also open a new issue here.

[2022-05-23 17:02] #5655 closed

[2022-05-23 17:05] #5690 closed

[2022-05-23 17:08] MRayermannMSFT commented on #5695
@vansree given it seems like this is an issue with your firewall, I would suggest opening an Azure support ticket and talking to them for help. They are much better at helping diagnose such issues. You can do that via here: https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview

[2022-05-23 17:11] MRayermannMSFT commented on #5738
@zachdialwynnlasvegas  can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-05-23 17:17] MRayermannMSFT commented on #5742
@SriKatakam21 can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-05-23 17:18] MRayermannMSFT commented on #5739
@jfernandes2022 can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-05-23 17:20] MRayermannMSFT commented on #5680
@v-susab unfortunately nothing sticks out as reasons we'd be getting this error. You have plenty of system resources, despite what the error says. Can you try running as admin maybe? 😕

[2022-05-23 17:25] MRayermannMSFT commented on #5666
Closing due to lack of response. If you are still encountering this problem we recommend opening an Azure support ticket from the portal. You can also open a new issue here.

[2022-05-23 17:29] JasonYeMSFT commented on #5519
Sorry for the late response. Unfortunately AzCopy team doesn't remember seeing this error so they don't know for sure what it is about. If you can reproduce it with azcopy command line tool, could you please open an issue in the AzCopy issue so they can triage it and assign someone to investigate? https://github.com/Azure/azure-storage-azcopy

[2022-05-23 17:37] MRayermannMSFT commented on #5751
@Storm-BE can you do the following:
1. Re-open Storage Explorer
2. Do the minimum steps to repro the issue (including viewing the share snapshots in the data table and then double clicking on one)
3. Go to Help > Open Logs Directory
4. In the file explorer window that opens, open the newest folder/the one named with the most recent date
5. Zip up all the files in that folder
6. Come to this issue

[2022-05-23 17:42] MRayermannMSFT commented on #5750
@devsbryan this isn't possible today. Blob versions are created at the point in time the change is made to a blob. So we cannot copy the version later than that point of time and have the same version timestamp.

[2022-05-23 17:43] #5750 closed

[2022-05-23 17:46] MRayermannMSFT commented on #5749
@SusheelKD do you know if Storage Explorer was installed for "all users" or "current user"?

[2022-05-23 17:54] MRayermannMSFT commented on #5748
@ladachris:

1. In quick access, are you selecting a blob container or a storage account > expanding it to blob containers > select a blob container?
2. If you open your container not from quick access does this still happen to you?
3. Do you see any errors?
4. What is the longest you have waited for your blobs to load?

Can you also:
1. Re-open Storage Explorer
2. Do the minimum steps to repro th

[2022-05-23 17:59] MRayermannMSFT commented on #5716
@toastmastern @nhsedcmichaelross did y'all install Storage Explorer for "all users" or only "current user"?

[2022-05-23 18:06] MRayermannMSFT commented on #5716
Turns out this is most likely an electron issue. If so, there is a fix in the version we are updating to in our next release. We will share a preview build of that later this week for you to try.

[2022-05-23 18:20] Storm-BE commented on #5751
@MRayermannMSFT , well, I tried to reproduce this again to gather the logs, and well...
I can browse all snapshots for this share without any issues now.
So can my colleagues.

Strange, but okay, I'll close the ticket :)

Thanks!

[2022-05-23 18:32] vansree commented on #5695
Thank you, will do that.

[2022-05-23 19:19] toastmastern commented on #5716
Tried both with same result

[2022-05-23 21:47] MRayermannMSFT opened #5758 "Investigate Updating azcopy-node targets"
Can we get rid of tslib? Should we update the typescript target?

[2022-05-23 23:26] vansree commented on #5695
**Here is the update:**
1. I am working remote and connected to a vpn. I am able to login to a sandbox server and using the Azure Storage Explorer, I am able to create a blob container and upload files successfully.

2. I can connect to the same files (which are uploaded) using Power BI Desktop from my local computer and also from the sandbox server. No issues in getting to the power bi desktop.

[2022-05-24 00:01] #5700 closed

[2022-05-24 00:02] MRayermannMSFT commented on #5616
@Slyrc @StanUpply @AdamCoulterOz and all others interested in this, right now the biggest blocker is probably going to be AzCopy. As long as they aren't shipping a native or universal binary you will need Rosetta 2 when running Storage Explorer. I recommend y'all go make your voices heard with them.

You can do so by:

- Opening an issue here: https://github.com/Azure/azure-storage-azcopy/issues
-

[2022-05-24 01:45] v-kellyluo commented on #5756
Verified this issue on the build main/20220524.5. Fixed.

[2022-05-24 05:59] nhsedcmichaelross commented on #5716
We are using All Users.

[2022-05-24 06:05] v-kellyluo commented on #5642
**Update:** the action 'View Error' displays in the context menu for one broken QA storage account, but the error details is not helpful.
![image](https://user-images.githubusercontent.com/87792676/169960128-32a43a60-3749-4874-a223-62d854e1c489.png)

[2022-05-24 07:16] sumanathenahealth opened #5759 "Error while connecting Azure account from Azure storage Explorer"
{
  "message": "\"{\\n  \\\"name\\\": \\\"Error\\\",\\n  \\\"message\\\": \\\"tunneling socket could not be established, cause=self signed certificate\\\",\\n  \\\"stack\\\": \\\"Error: tunneling socket could not be established, cause=self signed certificate\\\\n    at ClientRequest.onError (C:\\\\\\\\Users\\\\\\\\Administrator\\\\\\\\AppData\\\\\\\\Local\\\\\\\\Programs\\\\\\\\Microsoft Azure Sto

[2022-05-24 07:32] Slyrc commented on #5616
It looks like there is already a native version for AzCopy:

![image](https://user-images.githubusercontent.com/62191325/169974270-69f7ab09-7bba-4608-ac08-4c847a8cb687.png)

![image](https://user-images.githubusercontent.com/62191325/169974406-f53e675d-0c31-4774-a5d1-b22b5494d73c.png)

[https://formulae.brew.sh/formula/azcopy](https://formulae.brew.sh/formula/azcopy)

Are there any other dependenc

[2022-05-24 07:37] bbarik06 opened #5760 "A11y_Azure Tools Storage Explorer_Signing into Azure Storage_Toggle Explorer Pane - Tree View_ScreenReader: The voiceover incorrectly announces, 'Collapse All' and 'Refresh All' as links in the 'Explorer' tree view panel."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG4.1.2;#Voiceover;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voiceover

## Repro Steps:
1. Please do not close this bug. This bug should onl

[2022-05-24 07:37] bbarik06 opened #5761 "A11y_Azure Tools Storage Explorer_Signing into Azure Storage_Toggle Explorer Pane - Tree View_ScreenReader: When the voiceover focus lands on one of the 'Storage Accounts' such as 'locals and attached', the user has to press 'Control + Option + Space' two successive times to expand."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG4.2.9;#Voiceover;#AINotInScope;#External:VoiceOver;#A11ycaioh;#Closed;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voiceover

## Repro Steps:
1. Please do

[2022-05-24 07:38] bbarik06 opened #5762 "A11y_Azure Tools Storage Explorer_Signing into Azure Storage_Toggle Explorer Pane - Tree View_ScreenReader: When the voiceover focus lands on local and attached dropdown item that contains child items the screen reader announces 0 items."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;#Regressed:06-17-22;#External:VoiceOver;#A11ycaioh;#Closed;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voiceover

## Repro

[2022-05-24 07:39] bbarik06 opened #5763 "A11y_Azure Tools Storage Explorer_Get Shared Access Signature_Keyboard: When the user closes the 'Calendar' control using keyboard 'esc' key, the dialog 'Shared access signature' closes automatically."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG2.1.1;#Keyboard;#AINotInScope;#closed;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1

## Repro Steps:
1. Please do not close this bug. This bug should only be closed by TCS

[2022-05-24 07:39] bbarik06 opened #5764 "A11y_Azure Tools Storage Explorer_Get Shared Access Signature_ScreenReader: The user is unable to use the spinner function using up/down arrow keys when the voiceover tab focus lands on date and time inside 'Start time' and 'Expiry time'."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG4.2.9;#Voiceover;#AINotInScope;#Regressed:06-17-22;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voice over

## Repro Steps:
1. Please do not close this bug

[2022-05-24 07:39] bbarik06 opened #5765 "A11y_Azure Tools Storage Explorer_Blob Container Table_Table_ScreenReader: When the voiceover is turned on and the user uses arrow key to move across the column headers, its being announced twice."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;#External:VoiceOver;#A11ycaioh;#Closed;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voice over

## Repro Steps:
1. Please do

[2022-05-24 07:39] bbarik06 opened #5766 "A11y_Azure Tools Storage Explorer_Blob Container Table_Table_ScreenReader: When the voiceover arrow focus moves to table data, the table data that is being announced are not associated with their column headers, row numbers and column numbers."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG4.2.3;#Voiceover;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voice over

## Repro Steps:
1. Please do not close this bug. This bug should on

[2022-05-24 07:39] bbarik06 opened #5767 "A11y_Azure Tools Storage Explorer_Properties_Blob Container Properties tab_ScreenReader: Voiceover announces 'Clickable' for all the non-interactive text edit fields associated with 'Properties' tab while using voiceover tab keys which is incorrect."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;#CEACCApproved;#A11yCAIOH;#Closed;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voice over

## Repro Steps:
1. Please do not

[2022-05-24 07:40] bbarik06 opened #5768 "A11y_Azure Tools Storage Explorer_Properties_Blob Container Properties tab_Usability:The user is able to tab through non interactive text element associated with 'Properties' tab."
**GitHubTags:** #A11yUsable;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#Keyboard;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1

## Repro Steps:
1. Please do not close this bug. This bug should only be closed by TCS, C+AI Accessibi

[2022-05-24 07:40] bbarik06 opened #5769 "A11y_Azure Tools Storage Explorer_Activities_Activities tab_ScreenReader: When the voiceover is turned on and the user uses Control + Option + Arrow keys on successful message notification, the focus is moving to 'tick' mark decorative image."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voiceover

## Repro Steps:
1. Please do not close this bug. This bug should onl

[2022-05-24 07:41] bbarik06 opened #5770 "A11y_Azure Tools Storage Explorer_Activities_Activities tab_ScreenReader: When the voiceover is turned on and the user uses Control + Option + Arrow keys on successful message notification, the user has to press Control + Option + Arrow keys three successive times to move to next item."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1

## Repro Steps:
1. Please do not close this bug. This bug should only be closed by TCS, C+AI

[2022-05-24 07:41] bbarik06 opened #5771 "A11y_Azure Tools Storage Explorer_Settings_Transfers_ScreenReader: When the voiceover tab focus lands on 1st radio button under 'Network Concurrency' it's not read as group begin network concurrency, radio button, 1 of 3, followed by the name of the button. Same issue is seen when shift + Tab to 3rd radio button in the same radio group."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voiceover

## Repro Steps:
1. Please do not close this bug. This bug should onl

[2022-05-24 07:46] bbarik06 opened #5772 "A11y_Azure Tools Storage Explorer_Settings_Disk_DiskToolbar_Keyboard: The user is unable to see any functional changes after the user hits return key on 'Create Snapshot' button using keyboard."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG2.1.1;#Keyboard;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1

## Repro Steps:
1. Please do not close this bug. This bug should only be closed by TCS, C+AI A

[2022-05-24 07:48] v-xianya commented on #5741
Verified this issue on the build main/20220524.5. Fixed. so close it.

[2022-05-24 08:44] v-xianya opened #5773 "The option 'Navigate to Container' displays in the 'Open Direct Link' dialog when opening the container's direct link if there is only its SAS attachment"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220524.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> SAS attach the blob c

[2022-05-24 14:10] thgossler opened #5774 "Select tenant and then only few hundred subscriptions is cumbersome"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-24 16:13] MRayermannMSFT commented on #5616
Whatever that is, it is not an official release of AzCopy v10. The official bits can be found here:

<img width="338" alt="image" src="https://user-images.githubusercontent.com/21112697/170083091-c9ddd5df-31e2-4036-ad03-923a920664c4.png">

[2022-05-24 16:30] MRayermannMSFT commented on #5773
@v-xianya can you explain why you expect what you expect?

[2022-05-24 17:58] MRayermannMSFT opened #5775 "Update to new ServiceHub host names"

[2022-05-24 19:00] JasonYeMSFT opened #5776 "Save and restore tab session"

[2022-05-24 19:06] jinglouMSFT commented on #5772
@bbarik06 "Create Snapshot" should bring up a dialog. Did you see a dialog at all?  If you use mouse instead, do you get a dialog after clicking on "Create Snapshot"?  I am trying to have you verify the functionality first on your machine.

[2022-05-24 19:18] jinglouMSFT commented on #5768
@bbarik06 If we don't tab through non interactive text element, how would you expect the user to get to know all the available properties?  Some properties can be customized, some just can't be customized, but all info could be important to the users.  Am I missing something to understand this bug?

[2022-05-24 19:34] mrw3050 opened #5777 "No Subscription Found after Successful Sign-In"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-24 20:32] daviburg opened #5778 "unable to retrieve child resources EAI_AGAIN"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-25 01:30] v-xianya commented on #5773
@MRayermannMSFT
Hi Matthew, if there is no attachment for blob containers. Select to 'Attach Container' in 'Open Direct Link' dialog will create an Azure AD attachment. So, I guess it only navigates to Azure AD attachment. 😐

[2022-05-25 10:01] bbarik06 opened #5779 "A11y_Azure Tools Storage Explorer_Settings_Disk_Settings_Transfers_ScreenReader: When the voiceover tab focus lands on radio buttons 'Adjust Dynamically', 'Based on number of CPU cores' and 'Limit to' voiceover announces them all as '1 of 1' which is incorrect as there are 3 listed items in one list."
**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#BM_AzureToolsStorageExplorer_May2022;#Azure Tools Storage Explorer;#MAC;#FTP;#DesktopApp;#WCAG1.3.1;#Voiceover;#AINotInScope;

## Environment Details:
Application Name: Azure Tools Storage Explorer
Application Version: 1.24.0
Mac Version: macOS Monterey 12.3.1
Screen Reader: Voiceover

## Repro Steps:

1. Please do not close this bug. This bug should on

[2022-05-25 10:06] v-kellyluo opened #5780 "Fail to upload more than one file at the same time on Storage Explorer which is installed by snap"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220525.1
**Branch:** main
**Platform/OS:** Linux Ubuntu 20.04
**Architecture:** ia32
**How Found:** From running test cases
**Regression From:** Previous release (1.23.1)

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Click 'Upload -> Upload Files'.
3. Click 'No files selected'

[2022-05-25 11:26] bbarik06 commented on #5768
@jinglouMSFT for keyboard users they would be able to see the content and get all the information and for the screen reader users they can use the (Control + Option + Right/Left Arrow keys) to read next/previous text.

Tab or shift+Tab is used to go to next/previous focusable item (link, button, input, etc.)

Is the 'Properties' tab customizable. I could not find anything which I can change for th

[2022-05-25 11:29] bbarik06 commented on #5772
@jinglouMSFT I tried using mouse to click on 'Create Snapshot' but I don't see any dialog appearing.

[2022-05-25 20:25] MRayermannMSFT commented on #5716
Hi @toastmastern and @nhsedcmichaelross , we are preparing to ship a hotfix to address this issue. Can you please try using this release candidate and see if it resolves the issue for you? All users on the shared machine will need to be using this version. Thanks! https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.24.2-rc1/StorageExplorer-ia32.exe

[2022-05-25 20:57] mkfrey commented on #3606
I've created a flatpak manifest for Storage Explorer, which you may use as a base for flatpak support: https://github.com/mkfrey/com.microsoft.AzureStorageExplorer

[2022-05-25 23:08] MRayermannMSFT commented on #5772
@bbarik06, can you please:
1. After clicking the "Create Snapshot" button, right click on Storage Explorer in your app dock, and make sure there is not a "Create Snapshot" window in the list: ![image](https://user-images.githubusercontent.com/21112697/170383661-d0f63f58-abc9-4973-92d9-ed3476e3fdcf.png)
If there is, then let us know, but also, please test the dialog after clicking on it.
2. If ther

[2022-05-25 23:19] MRayermannMSFT commented on #5769
@bbarik06 can you clarify what you would expect voice over to read as you press the various possible arrow keys, starting from voice over focusing "Clear completed".

So for example, in your reply I am looking for something like:

2. "Clear completed" focused
3. ctrl + option + right arrow
4. "Clear successful" focused
5. ctrl + option + right arrow
6. etc.
7. etc.
8. etc.

[2022-05-25 23:43] MRayermannMSFT commented on #5764
@bbarik06 why do you not just:
1. focus the date time control
2. use up and down arrow keys to adjust stepper values
3. use left and right arrow keys or tab to move between steppers

???

[2022-05-25 23:47] MRayermannMSFT commented on #5763
Maybe related? https://bugs.chromium.org/p/chromium/issues/detail?id=980751

[2022-05-25 23:50] MRayermannMSFT commented on #5762
@bbarik06 we cannot reproduce this. Can you please elaborate on what key presses you used to get into this state?

[2022-05-25 23:57] MRayermannMSFT commented on #5780
@v-kellyluo does this repro with 1.24.0 or 1.24.1?

[2022-05-25 23:58] MRayermannMSFT commented on #5777
@mrw3050 do you have any other tenants listed? They would be at the same logical level as the "Microsoft account (home tenant)". If so, is it possible your subscription is in one of those tenants? If so, please click on the checkboxes for those tenants.

[2022-05-26 00:03] MRayermannMSFT commented on #5774
@thgossler I think we understand the oversight you are pointing out. To make sure though, are you talking about "deselect all" for your home tenant, a non-home tenant, or all types of tenants? For home tenant, you should be able to just click the checkbox for that tenant and all subscriptions would un-select. However, for non-home tenants you are correct that there is not an easy way to deselect a

[2022-05-26 08:23] v-kellyluo commented on #5780
@MRayermannMSFT Yes, this issue reproduces with 1.24.1😢.

[2022-05-26 09:28] AlexJPawlak opened #5781 "Checkbox to select all permissions in SAS token generator"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-26 09:48] nhsedcmichaelross commented on #5716
Had four people test it at the same time on the same machine using win10 multisession on AVD and it seems to be working fine :)  Will do some more testing and report back shortly.

[2022-05-26 10:43] bbarik06 commented on #5772
Performed the suggestion (1) and I don't see "Create Snapshot" button and therefore adding the log file for the latest date.
[2022-05-26_160320.zip](https://github.com/microsoft/AzureStorageExplorer/files/8778375/2022-05-26_160320.zip)

[2022-05-26 11:34] bbarik06 commented on #5764
@MRayermannMSFT Under normal keyboard functioning, all the arrow keys work for the stepper but when the voiceover is turned on the function doesn't work even if we use the keyboard arrow keys.

[2022-05-26 11:37] bbarik06 commented on #5769
I would suggest you not to bring focus to the 'Decorative image' since the information that you want to attach with it such as 'Clear successful' is already present with the text message beside it in the form of text 'completed'. From accessibility point of view, focus should not move decorative image.

[2022-05-26 11:41] bbarik06 commented on #5770
@MRayermannMSFT, I think your comment here is same as on the bug #5769. Here, the issue is that while moving from one text element to another where user has to press 3 times [Control + Option + Arrow] on text element to move to next instead of one keyboard stroke.

[2022-05-26 11:45] bbarik06 commented on #5761
@MRayermannMSFT, Here the issue is with screen reader and not with the normal keyboard usage. It works fine for a normal keyboard user and not for the screen reader user.

[2022-05-26 11:49] bbarik06 commented on #5762
@MRayermannMSFT First collapse all the tree view > bring focus to 'Refresh All' button and tab and use (Shift + Control + Option + Down arrow key) > Open 'Local & Attached' tree > Now move back and forth screen reader focus between the contents to see it announcing as 'Zero items enclosed'

[2022-05-26 18:43] NephorLabs opened #5782 "How to build storage explorer extensions"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-26 20:45] JasonYeMSFT opened #5783 "ADLS Gen2 explorer sort size are sorting by string value instead of number"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-26 22:31] JasonYeMSFT commented on #5780
This is due to an external bug in a library snap uses. https://forum.snapcraft.io/t/wrong-file-path-of-opened-files-in-snap-apps/22982

People on more recent versions of the library won't have this issue. Since the team is backporting the fix, we are going to make this a known issue without making any code change for now.

[2022-05-26 23:04] JasonYeMSFT commented on #439
It seems like they do now. We can prioritize adding these columns.

[2022-05-27 16:19] #5783 closed

[2022-05-27 18:19] craxal opened #5784 "Fix/test column sorting for Int32, Int64, Double, and DateTime columns (provide data comparer function)"
Verify if sorting in the extension-based table explorer still works correctly.

[2022-05-27 18:20] craxal opened #5785 "Override data table styles to match current table explorer"
The table explorer applies a different style from that of the other explorers, so we need to copy those styles over when migrating the explorer to the extension.

[2022-05-27 18:21] craxal opened #5786 "Factor out sections of query builder to simplify interactions and migration"
The query builder classes pretty messy and have a lot of interdependencies between each other and other view models that are obsolete in the extension.

For example, there are a lot of references to `TableEntityListViewModel` which will not translate well to the extension, as the view model serves only as a data source to the data table component. Factoring out this direct dependency will be diffi

[2022-05-27 18:28] craxal opened #5787 "Get Select All commands working in table explorer in extension"

[2022-05-27 22:20] sergey-rusakov commented on #5684
I tried the suggested workaround once, and it appears to work for me, when working remotely today.
Will try more on Tuesday, but for now it works - big thanks !

[2022-05-28 18:53] sekarjntu opened #5788 "unable to access storage explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-28 19:07] sekarjntu commented on #5788
when i click on reauthenticate going to below link and no page found coming
http://[localhost](http://localhost:54071/?code=0.AREAsoGr54Qe90udy7b-wB7ROJV3sATbjRpGu-4C-eG_e0YRAI0.AgABAAIAAAD--DLA3VO7QrddgJg7WevrAgDs_wQA9P9oHB_LwhXvrzQJpSP6HUt8dU2PP319WEFgFbc9-SCvtxJiViEBkaItWiKHZqe-L2TvAswWgRz6gVkUSqxDahVNgZbQzc0EhRNs4MXBKgDcj4zvnOp-WXwhxxX6j1WVdG7h2dm0kNpCVn735wEpN_GhFWhbst3j13I4xS1tFiEqS5Z3lkJQPs

[2022-05-29 18:54] thgossler commented on #5774
You are right, my problem is with a non-home tenant. I think the behavior should be the same for all tenants independent of whether it is the home tenant or not.

[2022-05-30 05:15] ManishaC1 commented on #5735
Closing the AAt bug, as one should not log AAT bug when the repository is Github.

[2022-05-30 05:15] #5735 closed

[2022-05-30 09:11] synsun opened #5789 "Error loading property within a Korean Resource Group."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-05-30 15:05] RheaZuo commented on #5519
Hi Jason, thank you for your update. After diving into AzCopy cmd, we found that it was the issue of our proxy setting and it works fine after we disabled AzCopy Proxy Usage.
But this was really not foreseeable, I was mainly testing proxy configurations on the **Application** section in Settings and barely strolled down to the **Transfer** section.  It would be nice if you can add a redirect link

[2022-05-30 15:05] #5519 closed

[2022-05-31 08:28] v-xianya opened #5790 "An error occurs when clicking 'Column Options' on table toolbar"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220531.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Column Options'.
3. Chec

[2022-05-31 08:36] v-kellyluo opened #5791 "Fail to launch Storage Explorer by using tar.gz"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220531.1
**Branch:** main
**Platform/OS:** Linux Ubuntu 20.04
**Architecture:** x64
**How Found:** From running test case
**Regression From:** Previous release (1.24.2)

## Steps to reproduce ##

1. Open a clean Linux machine with OS version Ubuntu 20.04.
2. Download Linux build as tar.gz file then extract it.
3. Open terminal -> Navigat

[2022-05-31 14:26] MRayermannMSFT commented on #5791
@v-kellyluo how did you try to install .net 6?

[2022-05-31 20:07] #5790 closed

[2022-06-01 01:43] v-kellyluo commented on #5791
@MRayermannMSFT ,

I tried to install .net 6 by the below commands:
[code]
The running result is as below:
![image](https://user-images.githubusercontent.com/87792676/171309999-ab1e6af3-ad16-4434-987a-602c871409ab.png)

[2022-06-01 02:32] v-xianya commented on #5790
Verified this issue on the build 20220531.3. Fixed,

[2022-06-01 08:32] v-xianya opened #5792 "There is no action 'Connect to Azure Storage...' on the context menu of the 'Storage Accounts' under subscriptions node"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220531.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Right click the 'Storage Accounts' under subscriptions node.
2. Check wh

[2022-06-01 18:18] MRayermannMSFT commented on #5791
@v-kellyluo can you try `sudo apt-get install -y dotnet-runtime-6.0` instead? I believe you need the `.0` at the end:
<img width="902" alt="image" src="https://user-images.githubusercontent.com/21112697/171474676-c67c5ad8-f127-401b-af4e-9650b1d5aac5.png">

[2022-06-01 21:29] JasonYeMSFT commented on #5760
This is a duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/5702

[2022-06-01 21:32] jinglouMSFT commented on #5559
- [ ] Fixes for Blobs and Files (in Cloudhub)
- [ ] Fixes for Storage accounts (components)
- [ ] Fixes for Tables (components)
- [ ] Fixes for Queues (components)
- [ ] Fixes for Disks (components)
- [ ] Fixes in cloud-explorer, app-config\components

[2022-06-01 21:56] JasonYeMSFT commented on #5767
Voice Over announces all read-only text boxes as "clickable" which isn't something we should be fighting against. Besides, we do have custom click handlers on those elements so they are indeed clickable anyway. I don't think we should do make any changes to these elements.

[2022-06-01 22:19] #5743 closed

[2022-06-01 22:58] JasonYeMSFT commented on #5765
I can reproduce the same bug using a minimum table element in chrome.

[code]

Save the snippet into an html file and open it in a browser. Using screen reader such as Voice Over or NVDA to announce the table headers and we can see the contents being announced twice.

I this this is a bug in the screen reader. Could you verify the repro case and file a bug against them?

[2022-06-02 02:11] v-kellyluo commented on #5791
@MRayermannMSFT , Thank you for the updates, .NET 6 is installed successfully after using` sudo apt-get install -y dotnet-runtime-6.0`, and succeed to launch Storage Explorer.

[2022-06-02 06:50] v-xianya opened #5793 "The query builder is not opened when clicking 'Query' on the toolbar of one empty table"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220602.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> Click 'Query' on the table toolbar.

[2022-06-02 08:55] Storm-BE commented on #5751
@MRayermannMSFT , this is happening again for my team and I, but for some other file shares now.
Here are the requested logs:
[2022-06-02_105011.zip](https://github.com/microsoft/AzureStorageExplorer/files/8822260/2022-06-02_105011.zip)

[2022-06-02 09:45] AKEA46 opened #5794 "I can't open the File Shares"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [x] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-02 15:55] craxal commented on #5793
@v-xianya I am only able to reproduce this with a table that is empty. Can you verify if this still happens:
* With a non-empty table
* After at least one entity has been added or imported to an empty table
* After at least one entity has been added or imported and refreshing
* After at least one entity has been added or imported and opening a new tab

This due to the fact that the query builder i

[2022-06-02 16:49] craxal opened #5795 "Update `macos-keychain` dependencies in AzCopy packages"
Attempting to install Storage Explorer packages without legacy peer dependencies results in a dependency conflict. AzCopy has a peer dependency on `@storage-explorer/macos-keychain@2.0.0`, but Storage Explorer provides 3.0.0, which does not satisfy the dependency. AzCopy packages should be updated so that they have a dependency on at least `@storage-explorer/macos-keychain@^3.0.0` to resolve this

[2022-06-02 17:51] #5583 closed

[2022-06-02 17:51] #5786 closed

[2022-06-02 23:52] #5791 closed

[2022-06-03 11:38] juliensmiths opened #5796 "Unable to retrieve child resources, unable to get local issuer certificate on windows 10"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-03 18:21] #5787 closed

[2022-06-03 22:43] JasonYeMSFT commented on #5745
I see the bug now. We are trying to parseInt from the number string including the units. A number string "1.4 MiB" will become 1 after parse int causing it to appear smaller than "8 B" whose parse result is 8.

[2022-06-03 22:48] JasonYeMSFT commented on #5794
@AKEA46 Could you try the steps in this section to see you can re-add the potentially corrupted custom connection?https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#error-occurred-while-adding-new-connection-typeerror-cannot-read-property-version-of-undefined

[2022-06-03 23:06] craxal commented on #5784
Seems to be working correctly. Numeric values are sorted in the expected order. One thing we should keep in mind is that entities can use different types for the same property name, so handling sorting specifically for certain types may not be the right way to go if something needs to be modified.

[2022-06-03 23:06] #5784 closed

[2022-06-03 23:07] #5785 closed

[2022-06-06 02:10] v-xianya commented on #5793
@craxal Hi Craig,
Verified this issue on the build main 20220605.1. This issue still reproduces.

- With a non-empty table -> Not reproduce
- After at least one entity has been added or imported to an empty table -> Not reproduce
- After at least one entity has been added or imported and refreshing -> Not reproduce
- After at least one entity has been added or imported and opening a new tab -> Not

[2022-06-06 06:04] v-xianya commented on #2746
This issue doesn't reproduce on the build 20220605.1. So, we are going to close it.

[2022-06-06 06:04] #2746 closed

[2022-06-06 15:55] MRayermannMSFT commented on #5673
amusant can you try going to Help > Reset, and then only have authentication checked, click reset, restart the app, and then try again?

[2022-06-06 15:57] MRayermannMSFT commented on #5676
Closing due to lack of response. If you are still encountering this issue, we recommend you either open a ticket via the Azure Portal or you can open a new issue here.

[2022-06-06 15:57] #5676 closed

[2022-06-06 15:57] #5684 closed

[2022-06-06 15:57] MRayermannMSFT commented on #5694
Closing due to lack of response. If you are still encountering this issue, we recommend you either open a ticket via the Azure Portal or you can open a new issue here.

[2022-06-06 15:58] MRayermannMSFT commented on #5759
@sumanathenahealth can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-06-06 16:06] MRayermannMSFT commented on #5773
@v-xianya, ah ok. Ya for now it will recognize an existing attachment of any type. I can see how your thinking makes sense tho.

[2022-06-06 16:06] #5773 closed

[2022-06-06 16:08] MRayermannMSFT commented on #5774
@thgossler there should be any easy way to deselect all for the non-home tenants. Unfortunately our UI design has trouble with that as it would mean the top level checkbox has two purposes: tenant enabled & select/don't select all. We will need to revisit our UI design for this.

[2022-06-06 16:12] MRayermannMSFT commented on #5789
@synsun yes this is an issue that another user raised with us via another channel. There is an issue with RGs that have unicode characters in their names. For now you should rollback to 1.23: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.23.1

[2022-06-06 16:13] MRayermannMSFT commented on #5796
Can y'all give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-06-06 16:16] MRayermannMSFT commented on #5695
Was this a person at your company or a Microsoft support engineer?

[2022-06-06 16:23] MRayermannMSFT commented on #5751
@Storm-BE are the number of snapshots for this share (share-devchili) changing frequently? Could the number have been different 14 vs 4 days ago?

[2022-06-06 16:24] MRayermannMSFT commented on #5778
@daviburg  can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-06-06 16:34] vansree commented on #5695
@MRayermannMSFT ... This is from my company. (i.e., NOT Microsoft support engineer)

[2022-06-06 17:05] MRayermannMSFT commented on #5782
@NephorLabs can you tell us more about what you'd like to build?

Right now, extensibility is more limited than people seem to expect. So it would be helpful for us to know what you want to do.

[2022-06-06 17:18] MRayermannMSFT commented on #5772
@bbarik06 how long did you:
- Wait before getting the log files
- Wait before giving up and closing storage explorer?

And, is is possible for you to try this on a Windows machine and see if the same thing happens to you?

[2022-06-06 17:24] MRayermannMSFT commented on #5772
@bbarik06 no need to do any of that. This is an issue on our end for sure. Will get you a new build soon. Thanks.

[2022-06-06 17:37] MRayermannMSFT commented on #5764
@bbarik06 so to confirm, if you have VoiceOver turned on, you focus the date control, and the only keys you use are tab or arrow keys, it does not work for you? Can you please provide a screen recording of this?

[2022-06-06 17:44] MRayermannMSFT commented on #5762
@bbarik06 can you provide a full, end to end, screen recording of your reproducing this? Thanks.

[2022-06-06 22:01] craxal commented on #5221
This may have been fixed while migrating the explorer to the extension. Will verify.

[2022-06-06 22:47] craxal commented on #5731
@ManishaC1 I've merged fixes for screenshots 1-4. I'm still working on screenshots 5-8.

[2022-06-07 02:27] v-kellyluo commented on #5221
This issue still reproduces on the build main/20220607.2.

[2022-06-07 03:31] rollsch opened #5797 "Auto snapshot files when replacing a file via UI"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-07 06:07] ManishaC1 commented on #5732
Please re-open this bug as the issue is still repro'ing in the latest environment version:1.24.2.
"Explorer" text has color contrast of 4.499:1 which is less than 4.5:1 in System Default/Light Theme.
"Explorer" text has CC of 4.494:1 which is less than 4.5:1 in Dark Theme.

[2022-06-07 06:53] nhsedcmichaelross commented on #5716
Reports back are saying that all is well and it appears to be working normally again.

[2022-06-07 08:35] v-kellyluo opened #5798 "The attached service tab is not auto opened when attaching one service if the (Attached Containers) node is not expanded"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220607.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Make sure the (Attached Containers) node is not expanded.
3.

[2022-06-07 08:48] v-xianya opened #5799 "There is an extra scrollbar if clicking the link 'Learn more about access tiers' on the 'Clone and Rehydrate' dialog with an error message for 'Destination blob container' field"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220607.2
**Branch**: main
**Platform/OS**: Windows 10
**Architecture** ia32
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob -> Change the access tier to 'Archive'.
3. Right click the blob -> Click

[2022-06-07 08:55] v-xianya opened #5800 "The azure account expires if deleting the environment custom whose associated account is the same with the azure account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220607.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open the connect dialog -> Click 'Subscription' -> Select 'Azure' -> Click 'Next

[2022-06-07 15:25] Storm-BE commented on #5751
@MRayermannMSFT
Yes, we have automation jobs that create new snapshots and manage retention for existing ones.
The number of snapshots can fluctuate a little bit.

[2022-06-07 16:33] craxal commented on #5732
@ManishaC1 Can you please share the build number of the build you last used to verify this? We normally close bugs when a merge has been made to our master branch and is available in our internal daily builds, which we don't usually distribute.

[2022-06-07 17:16] #5749 closed

[2022-06-07 17:16] #5716 closed

[2022-06-07 18:22] craxal commented on #4636
Still have the problem with high contrast themes and `<body>` backgrounds on Electron 19.0.3.

[2022-06-07 21:23] MRayermannMSFT commented on #5540
<img width="767" alt="image" src="https://user-images.githubusercontent.com/21112697/172485206-1ed5c6df-22f7-4137-be87-c915e7baff92.png">
:)

[2022-06-07 22:42] v-susab commented on #5680
Unfortunately the error still persists with running the tool as admin.

![image](https://user-images.githubusercontent.com/104790691/172495136-99d1e662-8530-49bd-9470-9a7d017b3770.png)

[2022-06-07 23:08] #5540 closed

[2022-06-08 01:55] v-xianya commented on #5688
Verified this issue on the build main 20220608.1. This issue only reproduces against tables now.

[2022-06-08 02:12] v-xianya commented on #5793
Verified this issue on the build main/20220608.1. Fixed. So close it.

[2022-06-08 02:12] #5793 closed

[2022-06-08 04:58] ManishaC1 commented on #5732
@craxal I have updated the application to the latest version v1.24.2 Build number:20220527.5. Don't know how to get the earlier version and build number.

[2022-06-08 06:36] v-xianya opened #5801 "Double clicking a table cannot make its temporary opened tab permanent"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Select one table -> Click it to open a temporary

[2022-06-08 06:42] v-xianya opened #5802 "Update the tooltip of the 'Refresh' to 'Ctrl+R' on tables toolbar"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Hover over the 'Refresh' on the

[2022-06-08 06:42] v-xianya opened #5803 "No delete dialog pops up when pressing 'Delete' to delete entities"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Select the e

[2022-06-08 06:43] v-xianya opened #5804 "The editor can't be refreshed if using 'Ctrl+R' to refresh the table editor"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Press 'Ctrl+R'.
3. Check whethe

[2022-06-08 06:44] v-xianya opened #5805 "There is no border for the Timestamp's value field under Query builder"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Query'.
3. Click 'Add ne

[2022-06-08 06:45] v-xianya opened #5806 "Top of table explorer is cut off when opening query builder after refresh"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Import the [test.csv](https://g

[2022-06-08 07:18] AKEA46 commented on #5794
Thank you. This fixed the issue!

[2022-06-08 07:18] #5794 closed

[2022-06-08 07:46] v-kellyluo opened #5807 "The table tab is not auto closed when deleting one table"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220608.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create one table -> A table tab is opened.
3. D

[2022-06-08 07:46] v-kellyluo opened #5808 "No 'Edit Entity' dialog pops up when double clicking one entity"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220608.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Double cli

[2022-06-08 07:47] v-kellyluo opened #5809 "No warning 'At least one column should be selected' displays in the 'Column Options' dialog when no column is selected"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220608.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Click 'Column Options' -> Unc

[2022-06-08 08:02] v-xianya opened #5810 "The action items on the context menu of one SAS attached storage account are incorrect"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Select one storage account -> SAS attach one storage account.
2. Right click the attached

[2022-06-08 08:23] v-kellyluo opened #5811 "The table explorer is always loading when the value of the 'Show top results' field is less than the number of all entities"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220608.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add at least two entities.
3.

[2022-06-08 08:25] v-xianya opened #5812 "Can't detach one attached storage account whose display name is different from account name"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Select one storage account -> Attach the storage account (Make the display name different

[2022-06-08 08:57] v-kellyluo opened #5813 "An error dialog pops up when detaching one broken Azure AD attached table whose associated account is removed"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220608.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Azure AD attach the table.
3. Switch to 'ACCOUN

[2022-06-08 09:10] v-xianya opened #5814 "An error dialog pops up when clicking 'Detach' for one attached file share"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share then right click it -> C

[2022-06-08 09:12] v-kellyluo opened #5815 "Nothing happens when pressing F5 to execute query in one table"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220608.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add some entities.
3. Click '

[2022-06-08 09:58] v-xianya opened #5816 "The context menu of the node '(Emulator - Default Ports) (Key)' is incorrect"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220608.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand 'Local & Attached' -> Storage Accounts.
2. Right click '(Emulator - Default Ports)

[2022-06-08 15:14] Sriharikatakam opened #5817 "Could not access resources for the tenant"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-08 18:37] MRayermannMSFT commented on #5817
Can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-06-08 20:52] craxal commented on #5732
Yeah, that's doesn't contain the fix. However, I'll keep the issue open and assign to Verifying until you get a build containing the fix and can verify it's resolved.

[2022-06-08 21:03] JasonYeMSFT commented on #5482
Integrated the official 10.15.0 for mac, Linux, Windows 64 and a private build for Windows 32 due to an alignment bug in the Windows 32 bit exe.

[2022-06-08 21:16] JasonYeMSFT commented on #5799
The extra space taken by the border on the link causes the scrollbar to show up.

[2022-06-08 21:22] JasonYeMSFT commented on #5797
@rollsch There is a service feature called blob versioning you might be interested in. Mutations to your blobs will automatically create blob versions, which you can later access as backup data. https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview. I believe using of blob versioning would be easier than manually managing the snapshots.

[2022-06-08 23:00] #5792 closed

[2022-06-08 23:00] #5798 closed

[2022-06-08 23:00] #5810 closed

[2022-06-08 23:00] #5812 closed

[2022-06-08 23:09] #5551 closed

[2022-06-08 23:55] #5677 closed

[2022-06-08 23:57] JasonYeMSFT commented on #5814
I have switched to use a new provider for detaching File Share connections. This bug should have been fixed by that.

[2022-06-09 00:06] #5776 closed

[2022-06-09 01:20] v-xianya commented on #5814
Verified this issue on the build main/20220609.2. Fixed. So close it.

[2022-06-09 01:20] #5814 closed

[2022-06-09 01:40] v-xianya commented on #5812
Verified this issue on the build main/20220609.2. Fixed.

[2022-06-09 01:43] v-xianya commented on #5810
Verified this issue on the build main 20220609.2. Fixed.

[2022-06-09 01:45] v-xianya commented on #5798
Verified this issue on the build main/20220609.2. Fixed.

[2022-06-09 01:49] v-xianya commented on #5816
@MRayermannMSFT Hi Matthew, Verified this issue on the build main/20220609.2.
There are two extra actions on the node context menu. So re-open this issue.
![image](https://user-images.githubusercontent.com/41351993/172746862-d18f2e99-be80-487b-b55f-cb2f64e22350.png)

[2022-06-09 02:37] v-kellyluo commented on #5642
Verify this issue on the build main/20220609.2. Fixed.

[2022-06-09 02:37] #5642 closed

[2022-06-09 06:57] v-xianya opened #5818 "There are extra action items 'Get Shared Access Signature... & Copy Primary Key' in the context menu of one Name & Key attached storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220609.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Right click one storage account -> Click 'Copy Primary Key'.
2. Open the connect dialog ->

[2022-06-09 06:58] v-xianya opened #5819 "No string displays in the context view for one regular blob container"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220609.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container ->

[2022-06-09 07:59] v-xianya opened #5820 "The actions on the toolbar are incorrect in the split tab if the original file share explorer contains a non-empty folder"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220609.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Create a new folder -

[2022-06-09 08:00] v-xianya opened #5821 "There is no '…' next to the 'Clone' action for items in the file share explorer"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220609.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Create a new folder.

[2022-06-09 08:01] v-xianya opened #5822 "Double clicking a file share cannot make its temporary opened tab permanent"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220609.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Click one file share to open a temporary tab

[2022-06-09 08:04] v-kellyluo opened #5823 "The file share snapshot doesn't auto display when creating a snapshot under the snapshots view"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220609.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'View Share S

[2022-06-09 09:51] v-xianya opened #5824 "It would be better to add '...' next to the action 'Adjust Bandwidth Limit' append to AzCopy transfer activity log"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220609.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Container.
2. Open one blob container -> Upload one blob.
3. Obs

[2022-06-09 10:42] A30007165 opened #5825 "Not able to expand blob container in storage explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-09 10:42] A30007165 commented on #5825
Please fix it asap

[2022-06-09 12:16] TTWill opened #5826 "When uploading a complete drive, driveletter is created as directory incl. colon as %3A"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-09 13:31] Sriharikatakam commented on #5817
@MRayermannMSFT, Thank you so much it worked by following the document.
Thanks alot for your help.
SK

[2022-06-09 13:31] #5817 closed, assigned to nobody

[2022-06-09 13:32] Sriharikatakam commented on #5817
Issue resolved by following this document.  https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-06-09 16:03] jsivaprakasam opened #5827 "Unable to establish connection"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-09 16:19] MRayermannMSFT commented on #5816
My apologies Kristine, I meant to leave a comment here yesterday. I tested those to actions against the node and they both seem to work. If your testing shows the same, I don't see any reason for us not to show those actions here. I'm going to close this issue, but if you see any problems with those actions agains the emulator node, please feel free to reopen this issue or open a new issue to shar

[2022-06-09 16:19] #5816 closed

[2022-06-09 16:41] #5582 closed

[2022-06-09 16:43] #5589 closed

[2022-06-09 16:46] JasonYeMSFT commented on #5822
This is a duplicate of issue https://github.com/microsoft/AzureStorageExplorer/issues/5747. We will need to add that support for all the new type of explorers as a separate task.

[2022-06-09 16:47] #5692 closed, assigned to MRayermannMSFT

[2022-06-09 16:51] #5822 closed

[2022-06-09 18:07] jinglouMSFT commented on #5825
Have you tried any suggestions in here:  https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal? Thanks.

[2022-06-09 18:13] jasonhorner opened #5828 "Enhance Folder statistics functionality"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-09 18:29] jasonhorner commented on #3762
@MRayermannMSFT  sorry to bring this one back from the dead but it looks like the copy provides the blob url if an account has HNS enabled it should provide the abfss path:

![image](https://user-images.githubusercontent.com/7981510/172917231-6ba526a7-1431-4ea8-b7cc-c5950c9c373b.png)

https://XXXX.blob.core.windows.net/dls/demo/GL00201.snappy.parquet

should be

https://XXXX.dfs.core.windows.net/d

[2022-06-09 18:45] JasonYeMSFT commented on #3762
@jasonhorner Could you open a separate issue as a feature request? We do have lots of users who don't care about the dfs url of the blobs so we are going to add that, it's going to be on top of what we have instead of replacing it.

[2022-06-09 19:06] jsivaprakasam commented on #5827
Found the resolution. Altered proxy setting

[2022-06-09 19:06] #5827 closed

[2022-06-09 23:32] craxal commented on #5731
Changes have been merged, but packages still need to be updated to pick up the toolbar changes.

[2022-06-10 00:45] #5818 closed

[2022-06-10 00:55] MRayermannMSFT commented on #5800
@v-xianya I am unable to repro this. Can you please:

- Set your Storage Explorer log level env var to debug
- Enable the "Verbose Authentication Logging" setting

And then share your Storage Explorer and ServiceHub logs with me via Teams?

Thanks.

[2022-06-10 01:31] v-xianya commented on #5589
Verified this issue on the build main/20220610.4. Fixed.

[2022-06-10 02:07] v-kellyluo commented on #5582
Verified this issue on the build main/20220610.4. Fixed.

[2022-06-10 02:15] v-xianya commented on #5818
@MRayermannMSFT Hi Matthew, for those two actions, do we need to test them works well or just need to test there is no error when clicking them?
For the action 'Get Shared Access Signature'.
There is an error when pasting the URL created by clicking 'Get Shared Access Signature' against key attached account.
![image](https://user-images.githubusercontent.com/41351993/172976574-7dd6edb6-ff31-48b8-a

[2022-06-10 02:41] v-xianya commented on #5800
@MRayermannMSFT Got it.

[2022-06-10 03:08] v-xianya commented on #5821
Verified this issue on the build main/20220610.4. Fixed. So close it.

[2022-06-10 03:08] #5821 closed

[2022-06-10 03:11] v-xianya commented on #5820
Verified this issue on the build main/20220610.4. Fixed. So close it.

[2022-06-10 03:11] #5820 closed

[2022-06-10 03:15] v-xianya commented on #5823
Verified this issue on the build main/20220610.4. Fixed. So close it.

[2022-06-10 03:15] #5823 closed

[2022-06-10 06:33] v-xianya commented on #5819
Verified this issue on the build main/20220610.4. Fixed. So close it.

[2022-06-10 07:55] v-xianya opened #5829 "The restored tabs display empty and in a wrong place if restarting MAC/Ubuntu then opening Storage Explorer"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220610.4
**Branch**: main
**Platform/OS**: MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings -> Data Explorers' -> Enable the setting 'Preserve Explorer Session'.
2. Open one tab -> Restart the

[2022-06-10 07:56] v-xianya opened #5830 "There is no expand icon for one attached storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220610.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Make sure there is no attached storage account.
2. Select one s

[2022-06-10 08:01] v-xianya opened #5831 "It would be better to keep order of the dropdown actions of 'Upload' button same between the new and old file share explorers"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220610.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'Upload'.
3. Ob

[2022-06-10 10:03] v-kellyluo opened #5832 "The file still displays in the explorer when using a mismatched prefix to search in one file share"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220610.4
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.2)

## Steps to Reproduce ##

1. Expand one storage account -> File Shares.
2. Create a file share -> Create a folder ->

[2022-06-10 10:09] v-xianya commented on #5816
@MRayermannMSFT There is no error when clicking 'Get Shared Access Signature... & Copy Primary Key'.
If trying to SAS attach the "devstoreaccount", Fail to expand its service node with errors.
Here is the screenshot when expanding Blob Containers.
![image](https://user-images.githubusercontent.com/41351993/173043406-3c8c5a08-2f4a-4a65-9d8b-a8afa84183a1.png)

[2022-06-10 16:44] JasonYeMSFT commented on #5831
Hmmm. I always thought file is above folder so I did that without looking at the old code. I'll revert that.

[2022-06-10 17:20] MRayermannMSFT commented on #4799
Cannot repro this. If I had to guess, this was caused by either a Node issue, a Windows issue, or not having the right build tools installed. If it was the last one then here's my advice...

Since VS is only available for non-ARM, I think it is defaulting to installing the x64/x86 C++ tooling. So what you'll want to do is:
1. Install the normal C++ workload for VS
2. After that is done, go to indi

[2022-06-10 17:20] #4799 closed

[2022-06-10 17:22] v-susab commented on #5680
A rebuild to the OS cleared the issue. Issue resolved.

[2022-06-10 17:48] #5577 closed

[2022-06-10 18:02] JasonYeMSFT commented on #5829
I only have an Intel mac so I tried it and it doesn't seem to reproduce there. Does this bug reproduce on Intel macs for you?

[2022-06-10 18:28] JasonYeMSFT commented on #5745
We will switch to use a new implementation of File Explorer which will have this issue fixed.

[2022-06-10 18:43] #4754 closed

[2022-06-10 21:30] #5815 closed

[2022-06-10 21:30] #5808 closed

[2022-06-10 21:30] #5803 closed

[2022-06-10 21:30] #5802 closed

[2022-06-10 21:34] craxal commented on #5492
This appears to be fixed now. I am seeing translated strings for Spanish and Portuguese.

[2022-06-10 21:36] craxal commented on #5369
Closing due to lack of further activity.

[2022-06-10 21:36] #5369 closed

[2022-06-10 21:43] MRayermannMSFT opened #5833 "Add Storage Explorer log level setting"

[2022-06-10 22:35] #5701 closed

[2022-06-10 22:36] #5600 closed

[2022-06-10 22:36] #5614 closed

[2022-06-10 22:36] #5754 closed

[2022-06-10 22:51] MRayermannMSFT opened #5834 "Allow for /'s at end of URLs when attaching directories"
As requested by CSS team.

[2022-06-11 00:16] craxal commented on #5763
I posted a new Chromium issue, as I was able to repro this on a standard webpage.

https://bugs.chromium.org/p/chromium/issues/detail?id=1335590

[2022-06-11 00:41] #5833 closed

[2022-06-12 17:15] huyaoyu opened #5835 "Upload fails with UnexpectedCancel error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-13 01:30] v-xianya commented on #5792
Verified this issue on the build 20220613.1. Fixed. (Not verify this issue timely due to the new feature testing)

[2022-06-13 01:32] v-xianya commented on #5819
Verified this issue on the build main/20220613.1. Fixed. So close it.

[2022-06-13 01:32] #5819 closed

[2022-06-13 01:34] v-xianya commented on #5831
Verified this issue on the build main/20220613.1. Reproduce. Will verify on the newer build.

[2022-06-13 01:35] v-xianya commented on #5802
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:35] v-xianya commented on #5803
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:36] v-xianya commented on #5804
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:36] v-xianya commented on #5808
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:36] v-xianya commented on #5815
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:39] v-xianya commented on #5600
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:41] v-xianya commented on #5701
Verified this issue on the build main/20220613.1. Fixed.
![image](https://user-images.githubusercontent.com/41351993/173264700-214bfc69-752a-4185-86c8-2cf3859639df.png)

[2022-06-13 01:44] v-xianya commented on #5754
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:45] v-xianya commented on #5614
Verified this issue on the build main/20220613.1. Fixed.

[2022-06-13 01:46] v-kellyluo commented on #5832
Verified this issue on the build main/20220613.1. Reproduce. Will verify it on the newer build.

[2022-06-13 01:50] v-xianya commented on #5492
Verified this issue on the build main/20220613.1. Still reproduces on Portuguese (Brazil).
So we are going to reopen it.
![image](https://user-images.githubusercontent.com/41351993/173265431-058af96b-28ca-440a-a53f-dbfa57f030c0.png)

[2022-06-13 06:29] v-xianya commented on #5829
@JasonYeMSFT
Verified this issue on an intel Mac (MacBook Air Retina, 13-inch,2020), reproduce.
1. This issue doesn't repro if the preserve tab session setting is disabled
2. Here are the logs collected on M1:
[2022-06-12_230442.zip](https://github.com/microsoft/AzureStorageExplorer/files/8888466/2022-06-12_230442.zip)
[2022-06-12_231829.zip](https://github.com/microsoft/AzureStorageExplorer/files

[2022-06-13 16:30] craxal commented on #5492
@v-xianya "Clone" in Portuguese is "Clone". This is translated correctly.

[2022-06-13 16:30] #5492 closed

[2022-06-13 16:51] MRayermannMSFT commented on #5695
Ok, you should open a ticket from the Azure Portal to start a ticket with a Microsoft support engineer. They will be able to best help dive into this issue.

[2022-06-13 16:52] MRayermannMSFT commented on #5734
Closing due to lack of response. If you are still encountering this issue, we recommend opening an azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-06-13 17:15] MRayermannMSFT commented on #5751
@Storm-BE what I think is going on is that the service is sometimes returning 0 file share snapshots to Storage Explorer in the first call for listing snapshots for your file share. This would explain the context menu being empty and the data table not, as the context menu makes no effort to follow continuation tokens. It also explains not being able to double click on a share snapshot in the data

[2022-06-13 17:23] JasonYeMSFT commented on #5829
Our existing logs doesn't give any information on what is causing this. I will add more detailed logging and hopefully the next time you reproduce it, it will tell us what is causing it.

[2022-06-13 17:28] scrainic opened #5836 "Unable to import entity with partition key '...' and row key '...'"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-13 17:29] JasonYeMSFT commented on #5835
This type of error sometimes indicates internal AzCopy error that we don't recognize. If you use the "Go to AzCopy Log" action on the activity, you can find the log files matching the start time of the job and see if there is any error reported in them. You can either check it yourself or share the log file with us. Your credentials have already been redacted by AzCopy before writing to the logs.

[2022-06-13 17:33] MRayermannMSFT commented on #5836
@scrainic this was already fixed in later versions of storage explorer. Please update to the latest storage explorer, either by going to https://storageexplorer.com or https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-13 17:36] MRayermannMSFT commented on #5826
@TTWill if you want the behavior you are expecting, then you should go into File Explorer, go into the drive you are working with, select all, and then drag and drop that into Storage Explorer. Alternatively, you can use Storage Explorer's upload dialog, and when selecting files & folders, go into the drive you are working with, select all and then click "Open" in the file picker.

[2022-06-13 17:55] MRayermannMSFT commented on #5751
@Storm-BE right now we're thinking we'll ship a fix for this as part of our 1.25 release. In the meantime if you are blocked you can view and explore snapshots in the portal:
![image](https://user-images.githubusercontent.com/21112697/173414896-9c7e5afb-3d0b-4764-b311-388bb2689e9d.png)

[2022-06-13 18:17] scrainic commented on #5836
Thanks. Indeed my first reflex was to check for upgrade, but I didn't check on web, I checked
![image](https://user-images.githubusercontent.com/7140676/173418357-ed8d7086-4c7c-4d67-9613-1c3385f80e01.png)
it's working OK in latest version 1.24.2

[2022-06-13 18:17] #5836 closed

[2022-06-13 21:42] #5834 closed

[2022-06-14 05:51] v-xianya commented on #5831
Verified this issue on the build main/20220614.2. Fixed. so close it.

[2022-06-14 05:51] #5831 closed

[2022-06-14 05:54] v-xianya commented on #5832
Verified this issue on the build main/20220614.2. Fixed. So close it.

[2022-06-14 05:54] #5832 closed

[2022-06-14 06:25] syspro-chrisvogt opened #5837 "Unable to expand storage account within a subscription whose name contains umlaut character(s)"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-14 08:13] v-xianya opened #5838 "There is an error '404 The specified parent path does not exist'' when pasting one file which has a parent folder"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220614.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Create a folder -> Up

[2022-06-14 09:05] v-xianya opened #5839 "There is an extra action 'Detach' for one storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220614.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Right click one storage account.
2. Check there is no extra action 'Detach'.

## Expected

[2022-06-14 09:35] v-xianya commented on #5830
Verified this issue on the build main/20220614.2. Fixed. So close it.

[2022-06-14 09:35] #5830 closed

[2022-06-14 13:06] TTWill commented on #5826
Sure, thanks for the hints, but I am not looking for a work-around, I'm doing a service to report an obvious issue. The fact is more serious, that you leave a folder with an inconsistent name "Z%3A" (in itself an encoding bug), making it very impractical to correct the error since the folder is invisible from SMB and neither Storage Explorer nor Azure portal allows renaming/moving the folder - an

[2022-06-14 13:14] alindguptawc4u opened #5840 "HOT: Storage is throwing an error"
Hi, we are facing this issue, we are not able to view or upload anything on our storage account, this is a production storage, please help ASP

Unable to retrieve child resources.

Details:
getaddrinfo ENOTFOUND etypestorage.file.core.windows.net

[2022-06-14 16:26] MRayermannMSFT commented on #5837
@syspro-chrisvogt unfortunately there is an issue with the Azure SDK we're using which is breaking storage accounts for users with unicode containing resource group names. For now you should rollback to 1.23: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.23.1

[2022-06-14 16:26] MRayermannMSFT commented on #5840
Can you try using the system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-06-14 16:48] JasonYeMSFT commented on #5766
Could you try using the normal keyboard to navigate in the table? Voice Over doesn't recognize the table element in html nor the aria-label we give to the element so there is nothing we can do to make it announce the correct content.

[2022-06-14 16:58] craxal commented on #5769
The green checkmark is not decorative. It is used to convey the state of the activity (success), so we need to see if we have an appropriate alt text.

[2022-06-14 18:42] #5740 closed

[2022-06-14 18:54] DStradley opened #5841 "Sub-Folders not always showing up"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-14 19:14] #5248 closed

[2022-06-14 21:14] MRayermannMSFT commented on #5707
Went to accessibility office hours. Both of these should end being closed as not-a-bug/won't fix.

[2022-06-15 00:51] MRayermannMSFT commented on #5782
@NephorLabs ?

[2022-06-15 01:43] v-xianya commented on #5805
Verified this issue on the build main/202206154. Reproduce.

[2022-06-15 01:48] v-xianya commented on #5740
Verified this issue on the build main/20220615.4. Fixed.

[2022-06-15 03:24] JasonYeMSFT commented on #5829
I believe this is the root cause of the bug: https://wiki.keyboardmaestro.com/assistance/Translocation_Problem#:~:text=In%20macOS%20Sierra%2C%20Apple%20added,!)%2C%20the%20application%20will%20be

[2022-06-15 04:41] ManishaC1 commented on #5707
Closing the bug.

[2022-06-15 04:41] #5707 closed

[2022-06-15 05:49] v-xianya commented on #4173
Verified this issue on the build main/20220615.4. Fixed. so closed.
![image](https://user-images.githubusercontent.com/41351993/173752073-78254f74-968e-48d1-97ac-40d0e0a6fd8b.png)

[2022-06-15 05:49] #4173 closed

[2022-06-15 07:11] v-kellyluo commented on #5722
Verified this issue on the build main/20220615.6. Fixed.

[2022-06-15 07:11] #5722 closed

[2022-06-15 10:05] v-xianya opened #5842 "There is a conflict dialog when pasting one file share which contains a non-empty folder"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220615.6
**Branch**: main
**Platform/OS**: Windows 10
**Architecture** ia32
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'Upload -> Upload Files...'.
3. Select files -> Type '/folder1/folder2' t

[2022-06-15 11:01] Shivamd1 commented on #5769
@craxal  this issue is specifically to screen reader users, if you provide alt text to the image then the announcement will be redundant, as the same text is available beside the image. So we will request you to keep the alt-text blank and not to have focus move to the tick image.

[2022-06-15 11:49] huyaoyu commented on #5835
Our IT engineer thinks this might be a billing error on our side. After contacting the support of Azure, we can upload again.

[2022-06-15 15:20] danielmartind opened #5843 "Importing a CSV file to table storage is not working. Shows a duplicate PartitionKey column"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-15 15:24] danielmartind commented on #5843
I have just found that if I change the duplicate PartitionKey name to something and leave the cell red box goes and the import button is enabled. I can then change the name back to PartitionKey and the import works

[2022-06-15 17:17] MRayermannMSFT opened #5844 "Change default emulator connection ID"

[2022-06-15 17:57] MRayermannMSFT commented on #5751
@Storm-BE we're going to try and do a 3rd hotfix of 1.24, which will include a fix for your issue. If you have time, please try this release candidate and let us know if this issue still reproduces: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.24.3-rc-1-build/StorageExplorer-ia32.exe

Note, since this is a release candidate, I do not recommend using this build extensively w

[2022-06-15 18:10] MRayermannMSFT commented on #5772
@bbarik06 can you please try using this build to test the "create disk snapshot" scenario? Let me know if you run into the same issue (nothing happening after clicking the create snapshot button): https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.24.3-rc-1-build/StorageExplorer-darwin-x64.zip

[2022-06-15 20:13] craxal commented on #5801
This issue is not specific to table nodes. Marking as duplicate of #5747.

[2022-06-15 20:13] #5801 closed

[2022-06-15 20:23] craxal commented on #5809
I forgot to put the alert piece back in. 🤦

[2022-06-15 20:51] craxal commented on #5805
The change is in a new package version which has not been integrated into Storage Explorer yet.

[2022-06-15 21:12] craxal commented on #5769
@Shivamd1 Activities have a "status" property as well as a "message" property. The image reflects the value of the "status" property, which is independent of the "message" value. Therefore, it can, in theory, convey information that is not in "message". Therefore, this information should not be discarded for screen reader users. Visual users can quickly verify the status of an activity by looking

[2022-06-15 22:26] #5809 closed

[2022-06-15 23:36] JasonYeMSFT commented on #5842
Could you please get us the AzCopy log if you can reproduce it one more time? I suspect it's due to AzCopy ordering the transfers incorrectly.

[2022-06-16 02:56] v-xianya commented on #5842
Got it. Will share the AzCopy log if this issue reproduces again.

[2022-06-16 05:51] v-kellyluo commented on #5809
Verified this issue on the build main/20220616.8. Fixed.

[2022-06-16 05:56] v-xianya opened #5845 "The file share explorer displays blank"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220616.8
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.2)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Open one file share.
3. Observe the file sha

[2022-06-16 08:56] v-kellyluo commented on #5829
@JasonYeMSFT , this issue also reproduces on Ubuntu 20.04, it is the first time met this issue on Linux.

[2022-06-16 11:04] alindguptawc4u commented on #5840
Thanks, but this is coming when we are trying to upload files on Storage using our .NET C# code using Azure storage API.

[2022-06-16 12:21] bbarik06 commented on #5767
This is an expected behavior and thus, closing the bug.

[2022-06-16 12:31] #5767 closed

[2022-06-16 16:34] JasonYeMSFT commented on #5829
@v-kellyluo Are you running from a tar.gz or a snap? When that happens, could you please open the dev tools and enter "process.execPath" in the console tab and see what it prints? I am working on a workaround for this issue which I believe will prevent this from happening.

[2022-06-16 16:50] JasonYeMSFT opened #5846 "Investigate places affected by OSX App Translocation or snap upgrade"
OSX since High Sierra introduced the App Translocation feature. Due to this feature, launching applications that aren't moved after downloaded or unarchived will be intercepted by the system and the system will make the application think it launches from a random location. That random location will change after the computer reboots. We should investigate if we are storing any local paths and fix t

[2022-06-17 00:37] MRayermannMSFT commented on #5789
@synsun we're going to end up shipping a 3rd hotfix of 1.24. Included in it is a fix for this issue. If you have a moment, could you let us know if this release candidate resolves the issue for you?

https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.24.3-rc.2/StorageExplorer-ia32.exe

Please note that since this is a release candidate, we do not recommend using it with productio

[2022-06-17 00:37] MRayermannMSFT commented on #5837
@syspro-chrisvogt  we're going to end up shipping a 3rd hotfix of 1.24. Included in it is a fix for this issue. If you have a moment, could you let us know if this release candidate resolves the issue for you?

https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.24.3-rc.2/StorageExplorer-ia32.exe

Please note that since this is a release candidate, we do not recommend using it wit

[2022-06-17 02:11] craxal commented on #4451
@beroder Blob explorers have quite a few columns as is. We could combine `ArchiveStatus` with `AccessTier` and `AccessTierInferred` such that the "Access Tier" column would display values such as:
* Hot (inferred)
* Cool
* Archive
* Archive (rehydrating to Cool)
* Archive (rehydrating to Hot)

Does that work for you? Or would you rather have a separate column for the archive status?

[2022-06-17 03:10] v-kellyluo commented on #5829
@JasonYeMSFT ,
I installed Storage Explorer by tar.gz, here is the print on Linux: [print.txt](https://github.com/microsoft/AzureStorageExplorer/files/8924259/print.txt)

[2022-06-17 03:12] v-xianya commented on #5845
Verified this issue on the build main/20220617.3. Fixed. So close it.

[2022-06-17 03:12] #5845 closed

[2022-06-17 03:13] v-xianya commented on #5838
Verified this issue on the build main/20220617.3. Fixed. So close it.

[2022-06-17 03:13] #5838 closed

[2022-06-17 07:23] bbarik06 commented on #5764
@MRayermannMSFT Yes if I have voiceover is turned on, I am using the tab keys to the control, and it does not work. I would like to know if it's working fine on your side. Please refer the attachment.

![5764](https://user-images.githubusercontent.com/98393966/174246302-9172b342-1c2d-4b71-8d46-dde16eb14b44.gif)

 **Note:** Please do not close the bug. This bug should only be closed by TCS, C+AI Ac

[2022-06-17 07:32] bbarik06 commented on #5762
@MRayermannMSFT Please find the full attachment.

![5762_New](https://user-images.githubusercontent.com/98393966/174248802-ab8d35e3-dcd7-421f-907e-0fc14b255c8c.gif)

[2022-06-17 08:20] v-xianya opened #5847 "No 'Upload VHD' dialog pops up if clicking 'Upload' for one resource group which name contains non-ENU characters"
**Storage Explorer Version**: 1.24.3
**Build Number**: 20220617.2
**Branch**: hotfix/1.24.3
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Create a resource group with name contains non-ENU characters. (Like 'CTI-Kristine颜')
2. Launc

[2022-06-17 11:28] bbarik06 commented on #5766
@JasonYeMSFT   This bug is specifically for screen reader users. Hence, we need to use keyboard + Screen readers to check the accessibility issue.

[2022-06-17 15:34] #5805 closed

[2022-06-17 15:34] #5807 closed

[2022-06-17 15:34] #5811 closed

[2022-06-17 17:40] #5824 closed

[2022-06-17 19:20] JasonYeMSFT commented on #5829
@v-kellyluo Do you follow exactly the same steps to reproduce this issue on Ubuntu? If you can reproduce it one more time, could you share a VM with me so I can take a look at it?

[2022-06-17 21:18] jinglouMSFT commented on #5559
Strings have been changed to "Pin to Quick Access" and "Unpin from Quick Access" in all occurrences. Component version numbers need to be upped and the components need to be published together with other changes in these components.

[2022-06-17 21:38] JasonYeMSFT commented on #5847
This bug shares the same root cause with https://github.com/microsoft/AzureStorageExplorer/issues/5789, except that the bug lives in a different SDK package. I also verified that this is not a regression from 1.23.x so we currently decide to leave it out of 1.24.3.

[2022-06-17 21:41] JasonYeMSFT commented on #5829
I have merged a code change to mitigate this issue. Basically the change will detect such "invalid" tab session data and remove them so that they won't interfere with the start up. For scenarios where this bug occur, it should now work as if there is no previous tab session and Storage Explorer starts from fresh.

[2022-06-18 20:56] tonibgd opened #5848 "Storage Explorer crashes on startup with ICU version 71"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-20 01:26] v-xianya commented on #5824
Verified this issue on the build main/20220620.1. Fixed.

[2022-06-20 01:27] v-xianya commented on #5807
Verified this issue on the build main/20220620.1. Fixed.

[2022-06-20 01:28] v-xianya commented on #5805
Verified this issue on the build main/20220620.1. Fixed.

[2022-06-20 01:29] v-kellyluo commented on #5829
@JasonYeMSFT , Yes, this issue reproduces after restarting Ubuntu, I will share the VM on teams.

[2022-06-20 01:29] v-xianya commented on #5811
Verified this issue on the build main/20220620.1. Fixed.

[2022-06-20 01:44] v-xianya commented on #5829
Tried to repro this issue on the latest main build 20220620.1. The current behavior keeps the same as the [comment](https://github.com/microsoft/AzureStorageExplorer/issues/5829#issuecomment-1159246089) tells.

[2022-06-20 08:14] v-xianya opened #5849 "There is a successful activity log when undeleting a soft deleted blob under snapshots view with an active blob already exists"
**Storage Explorer Version**: 1.24.3
**Build Number**: 20220617.2
**Branch**: hotfix/1.24.3
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob

[2022-06-20 15:49] JasonYeMSFT commented on #5766
I have double checked the expected behavior of Voice Over. It will announce the row index when it navigates to the beginning of a row and will announce the cell content, column name and column index while navigating to each cell.

[2022-06-20 16:24] #5680 closed

[2022-06-20 16:26] MRayermannMSFT commented on #5739
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket from the Azure portal. Alternatively you can open a new issue here.

[2022-06-20 16:26] #5739 closed

[2022-06-20 16:27] MRayermannMSFT commented on #5742
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket from the Azure portal. Alternatively you can open a new issue here.

[2022-06-20 16:27] #5742 closed, assigned to nobody

[2022-06-20 16:28] MRayermannMSFT commented on #5777
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket from the Azure portal. Alternatively you can open a new issue here.

[2022-06-20 16:28] #5777 closed, assigned to nobody

[2022-06-20 16:30] MRayermannMSFT commented on #5778
Also, @daviburg, what Azure cloud is your data in. Is it in the old Azure Germany/Blackforest cloud? Asking because I see the `.de` on your endpoints. As an FYI, that Azure cloud has been shutdown....

[2022-06-20 16:32] #5835 closed

[2022-06-20 16:33] MRayermannMSFT commented on #5840
@alindguptawc4u if that is the case then we cannot help you here. Issues here are for issues related to the use of Azure Storage Explorer. I'd suggest either opening a support ticket from the Azure portal or asking on stack overflow.

[2022-06-20 16:33] #5840 closed

[2022-06-20 16:52] MRayermannMSFT commented on #5841
@DStradley, unfortunately this is by design. The list files & folders API for file shares lists:
- alphabetically
- no preference for folders first

See remarks: https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files#remarks

Improving the loading of data in the explorers has always been something we want to do, but the current APIs very much limit us. Additional cust

[2022-06-20 16:52] #5841 closed

[2022-06-20 16:59] daviburg commented on #5778
Updated storage explorer to the new current latest. Getting a better error message now:

Unable to retrieve child resources.

[code]
Which is consistent with the unexpected endpoint suffix from a defunct cloud.

I removed the old connection and re-added it. This time it picks the right cloud. I wonder if the portal was temporarily pointing to Blackforest a month ago? Maybe internal outage tracking

[2022-06-20 17:11] tonibgd commented on #5848
I am not blocked by the issue, setting the environment variable allows ASE to start.

I am not sure about .NET 6, but i think it doesn't have ICU version limitation.

[2022-06-20 17:39] JasonYeMSFT commented on #5849
The behavior here is by design. ADLS Gen2 soft delete works differently from the Blob soft delete. The new active blob is independent from the one soft deleted. If you switch to "Active and Deleted items", you can see the soft deleted item with a unique "deletion ID" and you will need to undelete that item to recover the data. Besides, you will need to get rid of the active item so it can be undel

[2022-06-20 17:39] #5849 closed

[2022-06-20 18:13] MRayermannMSFT commented on #5848
Ok. I'm going to close this as mitigated then.

[2022-06-20 18:13] #5848 closed

[2022-06-20 18:14] #5778 closed

[2022-06-20 18:14] #5738 closed

[2022-06-20 20:03] JasonYeMSFT opened #5850 "Officially support raw svg contents in IconBinding"
We don't need to log in console when loading raw SVGs in IconBinding

[2022-06-20 23:28] craxal opened #5851 "Move activity related string resources to activity log extension"

[2022-06-21 00:14] jinglouMSFT opened #5852 "Supporting file preview"
Per popular requests, let's prioritize the file preview feature.  Related issues are: #2116, #2427, and #4543.

Commonly requested file types:
- txt (CSV/TSV)
- parquet
- avro
- json
- orc

[2022-06-21 01:30] v-xianya commented on #5849
@JasonYeMSFT Thank you for the update! For this scenario, I'd expect there is a failed activity log indicating that the blob already exists.
Switch to "Active and soft deleted blobs", The current behavior:
Under blob view, Undelete the soft deleted blob. There is a failed activity log.
Under snapshots view. Undelete the soft deleted blob. There is a successful activity log.

**The behaviors are di

[2022-06-21 09:02] v-kellyluo opened #5853 "There is a failed activity log when cloning one emulator table if the cloned table name is same as the first few characters of the original table name"
**Storage Explorer Version:** 1.24.3
**Build Number:** 20220617.2
**Branch:** hotfix/1.24.3
**Platform/OS:** Windows 10
**Architecture:** ia32
**Azurite Version:** 3.17.1
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Install and run Azurite 3.17.1 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Default P

[2022-06-21 09:25] sharmi-19 opened #5854 "Export entities to a file is not working"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-21 12:31] bbarik06 commented on #5764
@MRayermannMSFT Could you please post the same video here.

[2022-06-21 12:31] bbarik06 commented on #5766
@JasonYeMSFT Could you please post the video recording the same here for to see!

[2022-06-21 14:20] Sriharikatakam commented on #5742
Thank you so much for the providing the documents and apologies for delay in response. My issue resolved after following the document.

[2022-06-21 15:55] gscorrea opened #5855 "The authentication library used by Storage Explorer has failed to start properly."
OS:
` Edition	Windows 11 Pro
Version	22H2
Installed on	‎5/‎16/‎2022
OS build	22621.160
Experience	Windows Feature Experience Pack 1000.22632.1000.0
`
ASE: 1.24.2
.Net: 4.8
[ASE logs.zip](https://github.com/microsoft/AzureStorageExplorer/files/8950481/ASE.logs.zip)

[2022-06-21 16:43] JasonYeMSFT commented on #5766
https://user-images.githubusercontent.com/39359541/174853552-2a8560e9-48b7-4635-88c1-fdd2377a0ab6.mov

[2022-06-21 17:28] JasonYeMSFT opened #5856 "Set role="img" and aria-label for icon container elements in DataTable"
As suggested by https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/img_role.

Data tables that may need this to be done include
- Queue
- Blob (non-HNS)
- Disks
- App Config
- Gen 1

[2022-06-21 18:50] JasonYeMSFT commented on #5829
@v-xianya Could you please clarify if you mean that my workaround works as expected or Storage Explorer still run into a broken state after I made the code change?

[2022-06-21 22:53] MRayermannMSFT commented on #5844
Closing as won't fix. We store the emulator connection ID for quick access. Changing it doesn't seem worth it given we'd have to handle that.

[2022-06-21 22:59] #5020 closed

[2022-06-22 02:39] v-xianya commented on #5806
Verified this issue on the build main/20220622.1. Fixed. So close it.

[2022-06-22 07:06] Shani-Sharma opened #5857 "Facing Issue while uploading dataset in Azure Explorer blob container, below are details:"
Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "{\"name\":\"RestError\",\"code\":\"ETIMEDOUT\",\"request\":{\"url\":\"https://management.azure.com//subscriptions/5c7ccb25-ac91-4a4b-8c03-5eebffd370fb/resources?api-version=2014-04-01&$filter=resourceType%20eq%20%27Microsoft.ClassicStorage%2FstorageAccounts%27%20or%20resourceType%20eq%20%27Microsoft.Storage%2Fstor

[2022-06-22 07:36] bbarik06 commented on #5766
@JasonYeMSFT Could you please provide video sample of test being conducted in the live application and also please provide us the sample app you used to test for us to verify!

[2022-06-22 07:46] bbarik06 commented on #5769
@craxal Please join office hour call for further clarification:  https://outlook.office365.com/owa/calendar/microsoft2779007@microsoft.onmicrosoft.com/bookings/s/liYlILD8qUK6LE24eXV-Vg2

[2022-06-22 08:04] v-xianya opened #5858 "There is an extra option 'Timestamp' in the 'Column Options' dialog for one empty table"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220622.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> Click 'Column Options'.
3.

[2022-06-22 08:05] v-xianya opened #5859 "An error occurs when trying to save query for tables"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220622.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables,
2. Create a table -> Click 'Query' -> Click 'Save qu

[2022-06-22 09:00] v-kellyluo opened #5860 "The new added entity doesn't display if PartitionKey and RowKey are null and no custom property"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220622.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Bug Description ##

1. The new added entity doesn't display if PartitionKey and RowKey are null and no custom prop

[2022-06-22 16:52] JasonYeMSFT commented on #5766
@bbarik06 We are still in the progress of fixing other the bugs and we will provide you the build when that's done.

[2022-06-22 17:25] JasonYeMSFT commented on #5829
Cool. I checked the Ubuntu repro and it seems to be sharing the root cause of the mac bug. Closing this issue.

[2022-06-22 17:25] #5829 closed

[2022-06-22 18:04] MRayermannMSFT commented on #5751
@Storm-BE we've shipped the hotfix. Please install from here (even if you've installed the release candidate build): https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.24.3

Since we haven't been able to reproduce this, I will keep this issue open and track it for the remainder of our 1.25 milestone. If you don't respond by the time we ship that we'll consider this fixed.

[2022-06-22 18:04] MRayermannMSFT commented on #5837
@syspro-chrisvogt we've shipped the hotfix. Please install from here (even if you've installed the release candidate build): https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.24.3

[2022-06-22 18:05] MRayermannMSFT commented on #5789
@synssun we've shipped the hotfix. Please install from here (even if you've installed the release candidate build): https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.24.3

If you still see your issue with that, then please open a new issue.

[2022-06-22 18:05] #5789 closed

[2022-06-22 18:14] #4451 closed

[2022-06-22 21:57] craxal commented on #5761
I've been able to reproduce this issue on a relatively simple `tree` in an HTML file running in Edge. The problem seems to crop up once I introduce the `aria-expanded` attributes. That is, VoiceOver only starts saying "0 items enclosed" when `aria-expanded` is defined. Otherwise VoiceOver says nothing about the number of child items.

However, I'm pretty darn sure we're implementing the tree corre

[2022-06-22 22:05] craxal commented on #5761
I'm not entirely sure why this is happening. But since the user only needs to press Spacebar to expand/collapse, I'll take this to offices hours to check whether we need to do anything.

[2022-06-22 22:55] craxal commented on #5859
Ah, this is because it can't find the referenced string, which is in an unloaded namespace. I think I just forgot to move the necessary strings to the extension.

[2022-06-22 23:10] craxal commented on #5860
Yeah, so the entity is in the table. The problem is the keys are "" (empty string). Since whitespace is normally collapsed, the whole row gets collapsed. Strange, though, because I was expecting those values to be "null"...

[2022-06-23 01:04] jinglouMSFT commented on #5556
Change to:  "Emulator & Attached" per discussion.

[2022-06-23 09:05] v-kellyluo opened #5861 "The action 'Edit Tags…' is enabled on the context menu for one emulator blob"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220623.3
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Install and run Azurite 3.17.1 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Default Ports) (Key)' ->

[2022-06-23 15:35] MRayermannMSFT commented on #5760
@JasonYeMSFT  we don't treat this as duplicate, as for accessibility we do 1 bug per OS.

[2022-06-23 16:04] MRayermannMSFT opened #5862 "Support extended locations for disk snapshots"

[2022-06-23 16:53] JasonYeMSFT commented on #5702
We have switched to use real button elements for the "Collapse All" and "Refresh All" buttons.

[2022-06-23 16:53] JasonYeMSFT commented on #5760
We have switched to use real button elements for the "Collapse All" and "Refresh All" buttons.

[2022-06-23 17:13] JasonYeMSFT commented on #5765
I have verified that our layout are semantically correct. It's an external bug in Voice Over to announce the column headers twice.

[2022-06-23 18:49] JasonYeMSFT commented on #5766
I have switched to make the table use "grid" role, which is meant for interactive table elements. Now Voice Over should announce the "column x of y" together with the cell contents when navigating through the cells.

[2022-06-23 20:09] JasonYeMSFT commented on #5861
We removed the feature flag which used to be controlling the tags feature since it is GA now. I will add a special check for emulator containers.

[2022-06-23 20:29] JasonYeMSFT opened #5863 "Direct link support for App Config extension"
Brought up while demoing the extension to some other engineers. By supporting its direct link, it would make it easier for other applications to add shortcuts to open App Config resources in Storage Explorer.

[2022-06-23 23:47] JasonYeMSFT commented on #5710
I was able to reproduce this problem in a Linux Mint VM. Based on my finding, the application eventually closes. However, since we have a few clean up logic to execute on quit, it may not immediately close and some initialization code can still have a chance to run after the button is clicked.

As for the clipboard issue, I believe it was due to the design of Linux Mint's clipboard manager. On lin

[2022-06-24 02:00] v-kellyluo commented on #5853
This issue doesn't reproduce after installing Azurite 3.18.0. So close it.

[2022-06-24 02:00] #5853 closed

[2022-06-24 02:04] v-kellyluo commented on #5860
Verified this issue on the build main/20220624.2, it still reproduces.

[2022-06-24 02:37] v-xianya commented on #5747
Verified this issue on the build main 20220624.2. Fixed. So close it.

[2022-06-24 02:37] #5747 closed

[2022-06-24 02:40] v-xianya commented on #5859
Verified this issue on the build main/20220624.2. Fixed. So close it.

[2022-06-24 02:40] #5859 closed

[2022-06-24 05:20] dhanya-e opened #5864 "Microsoft Speech Corpus (Indian languages)"
I am not able to download the dataset from this location:
https://msropendataset01.blob.core.windows.net/microsoftspeechcorpusindianlanguages

I receive the below error:

<Error>
<Code>BlobNotFound</Code>
<Message>The specified blob does not exist. RequestId:b00318a7-601e-00db-0689-873e30000000 Time:2022-06-24T05:18:02.4337185Z</Message>
</Error>

[2022-06-24 06:12] ahmad-beshr opened #5865 "Error uploading CSV file to the blob.error: UnexpectedCancel (used Azure AD, discovery completed)"
![image](https://user-images.githubusercontent.com/9280940/175473499-73f202c9-028e-4bb9-95c3-14be139fc3cf.png)

This error occurs in versions from 1.24.0 and above.

[2022-06-24 09:44] v-xianya opened #5866 "There is a missed property 'DFS Endpoint' and an extra property 'Permissions' for one storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220624.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Select one normal GPV2 storage account -> Observe its 'Properties' panel.
2. Check whether there is

[2022-06-24 09:47] v-kellyluo opened #5867 "The property 'Support Tags' doesn't display on the Properties panel for blob containers under one attached storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220624.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Select one storage account -> Right click it -> Click 'Get Shared Access Signature...'.

[2022-06-24 10:14] bbarik06 commented on #5766
@JasonYeMSFT Is the bug fixed? If fixed, please provide the latest build.

[2022-06-24 11:04] bbarik06 commented on #5772
@MRayermannMSFT It works now.
<img width="1440" alt="5772_Fixed" src="https://user-images.githubusercontent.com/98393966/175522315-ef8c4304-79dd-4f26-8e27-745861152a70.png">

[2022-06-24 11:52] #5772 closed

[2022-06-24 15:51] StefanGfK commented on #1372
It would be extremely useful to rename the items in quick access.  This would not be renaming the blob/share itself, just giving it a distinguish name to know what it is.  Something like Project 1 (main) - where 'main' is the actual name

[2022-06-24 16:20] JasonYeMSFT commented on #5867
This is by design. Blob Tags has been GA so we decided to stop checking for it by polling some of the tags APIs. This would reduce the chance that we incorrectly disable the features for some users.

[2022-06-24 16:21] #5867 closed

[2022-06-24 17:56] craxal commented on #5860
I still can't get this to reproduce on my end. I created a brand new table and added a new entity with no custom properties and no values for the keys. The new entity renders just fine. By default, the table adds the Timestamp column, but even after modifying the column settings to hide that column, the row still renders normally.

Let me get a new version of the table extension merged. It might b

[2022-06-24 18:26] MRayermannMSFT commented on #5702
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:27] MRayermannMSFT commented on #5705
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:27] MRayermannMSFT commented on #5712
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:27] MRayermannMSFT commented on #5723
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:28] MRayermannMSFT commented on #5728
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:28] MRayermannMSFT commented on #5731
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:28] MRayermannMSFT commented on #5732
Hi @ManishaC1

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-ia32.exe

[2022-06-24 18:29] MRayermannMSFT commented on #5771
Hi @bbarik06

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-darwin-x64.zip

[2022-06-24 18:29] MRayermannMSFT commented on #5770
Hi @bbarik06

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-darwin-x64.zip

[2022-06-24 18:29] MRayermannMSFT commented on #5769
Hi @bbarik06

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-darwin-x64.zip

[2022-06-24 18:29] MRayermannMSFT commented on #5766
Hi @bbarik06

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-darwin-x64.zip

[2022-06-24 18:30] MRayermannMSFT commented on #5763
Hi @bbarik06

Please verify that this bug is fixed using the Storage Explorer build at: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/20220624.3-accessibility-testing/StorageExplorer-darwin-x64.zip

[2022-06-25 05:45] satishdecintell opened #5868 "Column Option Input Box"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-25 05:54] satishdecintell commented on #5868
![image](https://user-images.githubusercontent.com/74163939/175760361-46e033e5-e8f3-495d-ab74-8f3220754cc1.png)
adding Move-To-Top / Move-To-Bottom buttons to this dialog box will be very useful. specially when there are a lot of properties (columns) and you want to get one last column to the front to check the data...

[2022-06-25 11:12] erfannariman commented on #2952
+1 would be nice to have the same custom grouping as in Azure Data Studio https://docs.microsoft.com/en-us/sql/azure-data-studio/server-groups?view=sql-server-ver16

[2022-06-27 03:24] v-kellyluo commented on #5860
@craxal ,I have installed the latest build main 20220627.1, it still reproduces😢, could you please take a look?
![one](https://user-images.githubusercontent.com/87792676/175854108-5d374934-058c-4fe6-9492-c995bc35a192.gif)

[2022-06-27 04:45] ManishaC1 commented on #5712
Issue is not reproducing in the given environment. Hence closing the bug. Please see the below attachment.
![5712_Issue not repro](https://user-images.githubusercontent.com/105198219/175861735-cd16deb2-46da-4727-a782-76e64d23aa63.png)

[2022-06-27 04:45] #5712 closed

[2022-06-27 04:50] ManishaC1 commented on #5705
Issue is not reproducing in the provided environment (ver 1.25.0). Hence closing the bug. Please see the below attachments.

In "Shared Access Signature" dialog box.
![5705_Issue not repro_Get shared signature](https://user-images.githubusercontent.com/105198219/175862114-4ac1c7f3-c65f-4824-a20d-4aee9137f9c8.png)

In "Manage Access Policies" dialog box.
![5705_Issue not repro_Manage Access Policie

[2022-06-27 04:50] #5705 closed

[2022-06-27 04:51] ManishaC1 commented on #5702
Issue is not reproducing in the provided environment (ver 1.25.0). Hence closing the bug. Please see the below attachment.
![5702_Issue not repro](https://user-images.githubusercontent.com/105198219/175862432-48e089f4-9ec7-43c4-a045-8e8d292f46ed.png)

[2022-06-27 04:51] #5702 closed

[2022-06-27 05:07] ManishaC1 commented on #5723
Issue is resolved in the provided environment(ver 1.25.0). Hence closing the bug.
![5723_Issue not repro](https://user-images.githubusercontent.com/105198219/175864059-a5e101c7-77f5-4651-b430-6aabd37c24b7.png)

[2022-06-27 05:07] #5723 closed

[2022-06-27 05:15] ManishaC1 commented on #5728
Issue is resolved in the provided environment (ver. 1.25.0). Hence closing the bug.
![5728_Issue not repro](https://user-images.githubusercontent.com/105198219/175864891-b2134671-9cfb-4c47-b9f5-7e239f7f5364.png)

[2022-06-27 05:15] #5728 closed

[2022-06-27 06:12] ManishaC1 commented on #5731
Except one scenario, rest all scenarios have minimum Color contrast ratio.

Color contrast issue resolved for the scenarios shown in the attachments.

![5731_search button_1](https://user-images.githubusercontent.com/105198219/175870497-0a835007-0117-4b60-a3b9-8635ff7e66ac.png)
![5731_fiter button_2](https://user-images.githubusercontent.com/105198219/175870490-da0ab6d0-61aa-4ddc-bc75-53d38df382ab

[2022-06-27 06:27] ManishaC1 commented on #5732
@MRayermannMSFT
CC for "explorer text" in system default theme is having specified minimum Color contrast but failing in dark theme. Attachments are provided below.
![5732_Issue not repro](https://user-images.githubusercontent.com/105198219/175873357-97f8c8a6-284a-4224-9253-b613c070cf2d.png)

Below attachment shows the "explorer" text in dark them falls below minimum specified CC ratio i.e., 4:5:1

[2022-06-27 06:41] ManishaC1 commented on #5724
Issue is resolved in the provided environment (ver 1.25.0). Hence closing the bug.
![5724_Issue not repro](https://user-images.githubusercontent.com/105198219/175875688-78f56283-4ef8-4454-bc47-cc90b080f98e.png)

[2022-06-27 06:41] #5724 closed

[2022-06-27 07:20] pintmil commented on #5854
Hi, a have the same issue, with the same error details. I can dowload blobs, just the export from tables is not working.
Storage Exporer About:
Version 1.24.3
AzCopy Version: 10.14.1

Platform: Linux
Architectur: x64
Build Number: 20220617.2
Commit: 3ccc8329e
Support ID: e86469b3-d13e-92ac-cbc8-071e9b19543f

-------------- Env ---------------
$snap list storage-explorer
Name              Version

[2022-06-27 07:36] v-kellyluo commented on #5861
Update: This issue also reproduces in regular blob containers under one attached storage account without 'Filter' permission.

[2022-06-27 08:16] v-xianya commented on #5839
Verified this issue on the build main/20220627.1. Fixed. So, we close it.

[2022-06-27 08:16] #5839 closed

[2022-06-27 08:58] v-xianya opened #5869 "The warning message will display in the text editor if narrowing the table explorer horizontally under the query mode"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220627.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create one table -> Click 'Query' -> Click 'Text editor'.

[2022-06-27 09:22] v-xianya opened #5870 "A loading icon displays if pressing 'F5' in one table explorer"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220627.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> The new created table auto opens.
3.

[2022-06-27 13:11] syspro-chrisvogt commented on #5837
Apologies for not replying, I was on leave. 1.4.3 was available for installation so installed this and the issue is now resolved. Thanks for the quick turnaround on this!

[2022-06-27 15:30] bakoontz2 opened #5871 "File Share explorer window not showing all metadata column headers, and there appear to be no options to enable them"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-27 15:36] MRayermannMSFT commented on #5865
@ahmad-beshr is there a button/link for the AzCopy log file? If so, can you share that with us by dragging and dropping it into the issue response text box?

[2022-06-27 15:42] MRayermannMSFT commented on #5855
@gscorrea can you try:
1. Run storage explorer as admin
2. Uninstall and reinstall

[2022-06-27 15:48] craxal commented on #5870
This is by design. F5 triggers the current query to run. If you hover over the Run button in the query builder in both the old and new explorers, you should see the keyboard shortcut in the tooltip. For some reason, in the old explorer, the shortcut wasn't wired up.

[2022-06-27 15:48] #5870 closed

[2022-06-27 15:52] craxal commented on #5869
@v-xianya Can you explain the additional context more? I don't see any overlapping text under the Advanced Options.

[2022-06-27 15:59] MRayermannMSFT commented on #5748
Closing due to lack of response. If you are still encountering this problem, we recommend opening a support ticket from the Azure portal. You can also open a new issue here.

[2022-06-27 16:27] JasonYeMSFT commented on #5861
For the public Azure services, we are going to always enable the features. In some situations we cannot know which exact permissions the user have so we leave it for the user to figure it out. If they don't have enough permission, the service will give permission errors. However, emulators are more unpredictable if you attempt to use non-supported features in it so we decided to disable the option

[2022-06-27 17:30] craxal commented on #5860
@v-kellyluo I can produce with the same build. I haven't merged a package update for tables yet. I will let you know when it's ready.

[2022-06-27 17:36] MRayermannMSFT commented on #5871
Hi @bakoontz2 . Thanks for opening an issue. Yes, the service recently added quite a bit of extra data to what it returns when listing files & directories. We have an issue open for adding these already. Please see here: https://github.com/microsoft/AzureStorageExplorer/issues/439 Feel free to comment on that issue with any additional information or context you would like to add. Thanks!

[2022-06-27 18:22] craxal commented on #5854
@sharmri-19 @pintmil Does the error have any more details you can share (is there a "Details..." action you can click on)?

[2022-06-27 18:47] MRayermannMSFT commented on #3943
Dupe of #2142

[2022-06-27 18:47] #3943 closed

[2022-06-27 20:21] sanjaybhujbal opened #5872 "Unable to retrieve child resources issue on Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-27 20:36] MRayermannMSFT commented on #5826
@TTWill I just tried this all out for myself. Here's what I found:
1. Yes, the ":" is encoded to "%3A". This has to happen because the drive is turned into a folder with a name like "C:", but ":" is not a valid character for file share folders.
2. Storage Explorer can see the resulting uploaded folder.
3. Storage Explorer can clone the folder to have a different name (just not "C:").

I am having

[2022-06-27 22:09] craxal commented on #5746
This appears to be a problem with the emulator and not Storage Explorer. I believe trying to run a query with no clauses is an edge case that not many users will run into. I will file a bug (https://github.com/Azure/Azurite/issues/1573), but I consider this a lower priority to get fixed.

[2022-06-28 00:31] MRayermannMSFT commented on #5064
We no longer will be shipping nedb.

[2022-06-28 00:31] #5064 closed

[2022-06-28 00:44] jsuddsjr opened #5873 "Open file and add extension to trusted extensions."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-28 01:41] v-xianya commented on #5870
@craxal thank you for the update. 'F5' is the shortcut of 'Execute query' with the query builder is opened.

 F5 works without opening the 'query builder'. Is this also by design?

[2022-06-28 01:58] v-xianya commented on #5869
@craxal For the Advanced Options. this issue only reproduces if the 'Text editor' is opened.
Here is the record:
![0628](https://user-images.githubusercontent.com/41351993/176072242-a93ccc53-ad44-4bc7-9d6b-48bf6d05f393.gif)

[2022-06-28 03:23] ahmad-beshr commented on #5865
Hi, it appears to be a permission issue. We can close the case :)

[2022-06-28 03:23] #5865 closed

[2022-06-28 03:23] pladee42 opened #5874 "Error during updating the new version of Azure Storage Explorer"
I'm using Azure Storage Explorer V.1.2.3 and when I try to update the new version it shows this popup below.

![image](https://user-images.githubusercontent.com/75304546/176084979-616a6fdd-ba36-4c03-aa3d-f464151a945d.png)

[2022-06-28 08:21] v-xianya opened #5875 "The default access tier for one blob is not localized"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220628.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language**: All languages
**How Found**: From running test case
**Regression From**: Previous releases (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select

[2022-06-28 08:23] v-xianya opened #5876 "The string 'Adjust Bandwidth Limit…' is not localized on the Activities panel"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220628.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language**: All languages
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文（简体）'

[2022-06-28 08:24] v-xianya opened #5877 "The characters on the toolbar are not localized for tables"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220628.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language**: All languages
**How Found**: From running test case
**Regression From**: Previous releases (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select

[2022-06-28 08:32] v-xianya opened #5878 "The 'Preserve Explorer Session' part is not localized on 'Settings' page"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220628.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Language**: All languages
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文（简体）'

[2022-06-28 08:36] TTWill commented on #5826
Sure, you can close the folder - although that is kind of hard if you copied 3 TB data to a folder, which you cannot clone, because the capacity limit is 4 TB. But let's close it at that, although I see a bright future for someone keen on bringing in some competition here.

[2022-06-28 08:36] #5826 closed

[2022-06-28 08:37] v-kellyluo opened #5879 "The action 'Pin/Unpin to Quick Access' on the context menu is not localized"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220628.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language:** All languages
**How Found:** From running test case
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文（简体）'

[2022-06-28 08:40] v-kellyluo opened #5880 "The 'Application -> Logging' part is not localized on 'Settings' page"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220628.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language:** All languages
**How Found:** From running test case
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open Settings -> Application (Regional Settings) -> Select '中文（简体）' -

[2022-06-28 08:48] v-kellyluo opened #5881 "The action 'Detach' is not localized on the context menu for one attached storage account"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220628.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language:** All languages
**How Found:** From running test case
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select

[2022-06-28 08:49] v-kellyluo opened #5882 "The action 'Connect to Azure Storage…' is not localized for the Storage Accounts node"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220628.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language:** All languages
**How Found:** From running test case
**Regression From:** Previous release (1.23.1)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select

[2022-06-28 09:02] v-kellyluo opened #5883 "The 'Emulator & Attached' node is not localized"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220628.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Language:** All languages
**How Found:** From running test case
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select

[2022-06-28 14:26] deepakiim opened #5884 "Local blob container not opening"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-28 15:46] MRayermannMSFT commented on #5837
Hope you had a good leave! Thanks for replying. Always feel free to come open new issues if you have any other bugs or features you'd like us to addresss.

[2022-06-28 15:48] #5866 closed

[2022-06-28 16:05] craxal commented on #5875
This is due to an intentional string change to address #4451. This will be translated in due time.

[2022-06-28 16:42] JasonYeMSFT commented on #5876
The strings are localizable but will need for the translators to replace them with localized strings.

[2022-06-28 17:35] craxal commented on #5870
@v-xianya Hard to say, since it wasn't hooked up properly in the older explorer. But I wouldn't normally expect the query to run if the query builder was closed. I'll fix that. No need to open another issue for it.

[2022-06-28 21:11] jinglouMSFT opened #5885 "[Documentation] Add a page on storage explorer extensions"
Let's consider adding a page on storage explorer extension to the documentation.  Mostly touch base on the extension ecosystem and the extensions we currently have.

![image](https://user-images.githubusercontent.com/10081483/176288729-2844c04b-5443-4fcb-9008-d77d350ca42b.png)

[2022-06-28 21:23] TonyGrayCanada opened #5886 "Retrieve blobs in reverse date order, most recent first"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-28 21:25] TonyGrayCanada commented on #5886
I should have added - I like the Storage Explorer and am glad you made it.  I used it all the time, so please don't take this request as a complaint!

[2022-06-29 01:30] v-xianya commented on #5866
@MRayermannMSFT Thank you for the updates.

For storage account that doesn't have HNS enabled. There is a 'Secondary DFS Endpoint' property. Is this intentional?
![image](https://user-images.githubusercontent.com/41351993/176331480-f732e8a6-cd84-4338-96f3-ae79e71cba12.png)

[2022-06-29 01:39] v-xianya commented on #5861
Verified this issue on the build main/20220629.2. Fixed.

[2022-06-29 01:40] #5861 closed

[2022-06-29 02:18] v-xianya commented on #5858
Verified this issue on the build main/20220629.2. Fixed. So close it.

[2022-06-29 02:18] #5858 closed

[2022-06-29 02:20] v-kellyluo commented on #5860
Verified this issue on the build main/20220629.2. Fixed. So close it.

[2022-06-29 02:20] #5860 closed

[2022-06-29 05:09] syspro-chrisvogt opened #5887 "Expand list of subscriptions"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-29 15:47] MRayermannMSFT commented on #5866
No, that is wrong! Thank you for pointing that out.

[2022-06-29 18:19] MRayermannMSFT opened #5888 "Track macOS ARM Usage"

[2022-06-29 22:06] craxal commented on #5731
For the color that's failing, according to the dev tools windown, it should be #007ACC. The color #0776AC is not defined or used in code anywhere that I can tell, so not sure where that color is coming from. I'll need to verify on my Windows machine.

[2022-06-29 22:23] KenLoewen opened #5889 "Attached Storage Account Error"
My storage accounts are not loading. Msg received is Unable to load attached Storage Account. Error: Cannot read properties of undefined (reading 'version')

[2022-06-29 23:47] #5863 closed

[2022-06-30 00:15] craxal commented on #5813
@v-kellyluo Does this still reproduce for you in newer builds? I'm not able to reproduce.

[2022-06-30 00:25] jinglouMSFT commented on #3085
CosmosDB support in Storage Explorer has been retired. Closing this feature request.

[2022-06-30 00:25] #3085 closed

[2022-06-30 00:44] jinglouMSFT commented on #2960
We have done some optimization work for the left hand side search in the latest releases. Search should be more performant. @iatodoro does the new search work ok for your scenario?

[2022-06-30 01:05] roxxette commented on #3428
I don't get it. Normally we use ACL to add additional permission upon RBAC. So enable copy/paste button by RBAC won't fail many people. Am I right?
At least, we should add an option to let user decide...

[2022-06-30 02:08] v-xianya commented on #5866
Verified this issue on the build main/20220630.8. Fixed.

[2022-06-30 02:16] v-xianya commented on #5869
Verified this issue on the build main/20220630.1. The overlap issue has been fixed. So we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/176578387-d2e67cc4-3caf-4e08-ae02-4ccf4cadeafd.png)

[2022-06-30 02:16] #5869 closed

[2022-06-30 02:42] wangkenpu opened #5890 "403 Server faild to authenticated the request"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-30 03:09] v-kellyluo commented on #5813
This issue doesn't reproduce on the latest build main/20220630.8. So close it.

[2022-06-30 03:09] #5813 closed

[2022-06-30 06:04] novarun opened #5891 "Table cannot be deleted from Azure Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-06-30 06:23] v-xianya commented on #1625
Verified this issue on the build main/20220630.8. Fixed. So closed it.

[2022-06-30 06:23] #1625 closed

[2022-06-30 06:32] v-xianya commented on #5870
Verified this issue on the build main/20220630.8. Fixed.

[2022-06-30 06:51] v-xianya commented on #5804
@craxal This issue reproduces on the build main/20220630.8. So we are going to re-open it.

[2022-06-30 08:07] v-xianya opened #5892 "The action 'Move Messages' is enabled for one SAS attached queue"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220630.8
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Queues.
2. Create a queue -> Add one message.
3. SAS attach the queue -> Observe the to

[2022-06-30 10:58] bbarik06 commented on #5760
Issue is not repro now. Hence, closing the bug. Please refer the attachment.
![5760_Fixed](https://user-images.githubusercontent.com/98393966/176660970-86a9f79c-b77b-41af-a79c-a38d135a8fb8.gif)

[2022-06-30 10:59] #5760 closed

[2022-06-30 11:00] #5763 closed

[2022-06-30 11:12] bbarik06 commented on #5766
Issue is not repro now. Hence, closing the bug. Please refer the attachment.
Version: 1.25.0-dev
<img width="1440" alt="5766_Fixed" src="https://user-images.githubusercontent.com/98393966/176663526-e78f3460-b87d-4448-bed3-4e9a080f042e.png">

[2022-06-30 11:12] #5766 closed

[2022-06-30 11:15] #5769 closed

[2022-06-30 11:16] bbarik06 commented on #5770
Issue is not repro now. Hence, closing the bug. Please refer the attachment.
Version: 1.25.0-dev
![5770_Fixed](https://user-images.githubusercontent.com/98393966/176664284-eca32d17-a960-43ab-b819-9e2267ef7a89.gif)

[2022-06-30 11:18] bbarik06 commented on #5771
Issue is not repro now. Hence, closing the bug. Please refer the attachment.
Version: 1.25.0-dev
<img width="1440" alt="5771_Fixed" src="https://user-images.githubusercontent.com/98393966/176664572-a440d813-2538-491f-a1e4-39d4106aa5e1.png">

[2022-06-30 11:18] #5771 closed

[2022-06-30 11:19] #5779 closed

[2022-06-30 15:50] craxal commented on #5804
@v-xianya When you made the temporary tab permanent, was focus actually in the table explorer? When I tabbed into the explorer, Ctrl+R worked just fine.

@MRayermannMSFT Is focus supposed to go into the panel when clicking on the "Keep Open" button in the tab?

[2022-06-30 16:37] MRayermannMSFT commented on #5764
@bbarik06 have you had a chance to review the video? Where should we go from here?

[2022-06-30 17:03] MRayermannMSFT commented on #5892
Issue is that the default action for the dropdown, move all messages, is always enabled.
Thoughts:
- Fix the move all messages can execute
- Maybe chance default to move selected as well?

[2022-06-30 18:11] MRayermannMSFT commented on #2142
@mikkoc were/are you working with VMs that have user or system assigned managed identities?

[2022-06-30 20:06] babyharidelo opened #5893 "Unable to authenticate after successful sign-in Storage Acct"
{
  "message": "\"{\\n  \\\"name\\\": \\\"Error\\\",\\n  \\\"message\\\": \\\"self signed certificate in certificate chain\\\",\\n  \\\"stack\\\": \\\"Error: self signed certificate in certificate chain\\\\n    at TLSSocket.onConnectSecure (node:_tls_wrap:1530:34)\\\\n    at TLSSocket.emit (node:events:390:28)\\\\n    at TLSSocket._finishInit (node:_tls_wrap:944:8)\\\\n    at TLSWrap.ssl.onhandsha

[2022-06-30 20:43] craxal commented on #5762
Spoke with Ryan Shugart and Scott O'Hara at Accessibility office hours. This is due to the fact that Apple and VoiceOver don't support tree semantics; trees simply don't exist in Apple systems. Therefore, there's nothing we can do to fix this.

[2022-06-30 20:45] craxal commented on #5761
Spoke with Ryan Shugart and Scott O'Hara at Accessibility office hours. This is due to the fact that Apple and VoiceOver don't support tree semantics; trees simply don't exist in Apple systems.  Therefore, there's nothing we can do to fix this.

[2022-06-30 23:48] MRayermannMSFT commented on #3943
@jotterson FYI I have asked a question for the author of #2142 regarding managed identity support in storage explorer. If you'd like to answer that question as well, feel free to come on over to that issue and do so. Thanks.

[2022-07-01 01:47] v-xianya commented on #5804
@craxal The tab is focused if making the temporary tab permanent. If switching the focus to table explorer, 'Ctrl+R' works well. we are going to close it.

[2022-07-01 01:47] #5804 closed

[2022-07-01 04:43] xuyuji9000 commented on #1279
May I ask how is development of this feature going?

My non-dev colleague was asking me about this pause and resume feature of `Microsoft Azure Storage Explorer`.

Much appreciated if there is some feedback on this.

[2022-07-01 05:02] JainRah opened #5894 "Unable to expand Tables of the storage Account"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-01 09:59] v-xianya opened #5895 "There is no property 'SKU Tier' for one Classic storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220701.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Select one Classic storage account ->Observe its properties.
3. Check there is a property 'SKU Tier'.

## Expected Ex

[2022-07-01 15:35] #5888 closed

[2022-07-01 16:53] craxal commented on #2960
@iatodor To add to @jinglouMSFT, we've added search features that let you filter on the resource types of your search to only blob containers. Also, if you don't need to search across multiple storage accounts, you can right-click the "Blobs" node under a storage account node and use the "Open by Name" feature. Here you can search for a container by name and select a container to open from a list

[2022-07-01 17:00] craxal commented on #5854
@pintmil This is an error message I've seen before, though I haven't been able to narrow down of the cause as of yet. Are you using the .tar.gz or the snap? What location are you trying to save the export file to? Does the export succeed if you save somewhere within your user home directory?

[2022-07-01 17:51] brian-miller2019 opened #5896 "[sprintf] expecting number but found string"
I'm getting this error now anytime I filter blob storage results -> select all cached-> delete. This was working fine prior to the current version which I just upgraded to. This is on a classic storage account. I can still delete a single page worth of objects.

[2022-07-01 19:06] jinglouMSFT commented on #5890
Replied in email with the following questions:
Couple of questions:
-	How do you connect to Azure storage?  Do you sign into Azure to access the container?  Or do you use a SAS URL to attach to the container?  If SAS URL, has it been expired?
-	What permissions do you have on this container?  Are you a “contributor”?
-	Do you go through a firewall or VPN or such?  You can that on the storage accou

[2022-07-01 21:02] craxal commented on #5892
@MRayermannMSFT Actually, the "Move Selected" command is the default action, which is always enabled. We just need to add the same enable logic to that command as the "Move All" command.

[2022-07-01 21:08] #5895 closed

[2022-07-01 21:31] jinglouMSFT commented on #2427
Closing this one.  We use #5852 to track the feature request.

[2022-07-01 21:31] #2427 closed

[2022-07-01 21:50] #2116 closed

[2022-07-01 22:33] jinglouMSFT commented on #1835
CosmosDB support has been removed from Storage Explorer.

[2022-07-01 22:33] #1835 closed

[2022-07-01 22:42] jinglouMSFT commented on #1535
CosmosDB has been removed from Storage Explorer.

[2022-07-01 22:42] #1535 closed

[2022-07-01 22:55] jinglouMSFT commented on #1279
Thank you all for the requests. Once our dependencies support pause and resume, we will add it in Storage Explorer. We know that this is one of the highly asked features. We will prioritize it in our backlog.  Thanks again!

[2022-07-01 23:04] jinglouMSFT commented on #1045
CosmosDB support has been removed from Storage Explorer.

[2022-07-01 23:04] #1045 closed

[2022-07-01 23:06] jinglouMSFT commented on #1032
CosmosDB support has been removed from Storage Explorer.

[2022-07-01 23:06] #1032 closed

[2022-07-01 23:07] jinglouMSFT commented on #1031
Storage Explorer support have been removed from Storage Explorer.

[2022-07-01 23:07] #1031 closed

[2022-07-01 23:10] jinglouMSFT commented on #869
CosmosDB has been removed from Storage Explorer.

[2022-07-01 23:10] #869 closed

[2022-07-01 23:52] jinglouMSFT commented on #376
CosmosDB have been removed from Storage Explorer.

[2022-07-01 23:52] #376 closed

[2022-07-01 23:57] jinglouMSFT commented on #361
Dup of #852 https://github.com/microsoft/AzureStorageExplorer/issues/852

[2022-07-01 23:57] #361 closed

[2022-07-01 23:58] jinglouMSFT commented on #337
CosmosDB has been removed from Storage Explorer.

[2022-07-01 23:58] #337 closed

[2022-07-01 23:59] jinglouMSFT commented on #297
CosmosDB has been removed from Storage Explorer.

[2022-07-01 23:59] #297 closed

[2022-07-02 00:02] jinglouMSFT commented on #280
Due of https://github.com/microsoft/AzureStorageExplorer/issues/2547

[2022-07-02 00:02] #280 closed

[2022-07-02 00:03] jinglouMSFT commented on #234
CosmosDB has been removed from Storage Explorer.

[2022-07-02 00:03] #234 closed

[2022-07-02 00:05] jinglouMSFT commented on #219
CosmosDB has been removed from Storage Explorer.

[2022-07-02 00:05] #219 closed

[2022-07-02 04:36] alexmarshall132 commented on #219
Thank you!

[2022-07-04 02:00] v-xianya commented on #5895
Verified this issue on the build main 20220704.1. Fixed.

[2022-07-04 08:27] v-xianya opened #5897 "The action 'Paste File Share' is always enabled on the context menu for 'File Shares' node"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220704.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Expand one storage account.
2. Right click the 'File Shares' node -> Observe the context m

[2022-07-04 10:01] v-xianya opened #5898 "The resource group under Quick Access node displays as broken if its name contains non-ENU characters"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220704.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Create one resource group which name contains non-ENU characters in Portal. Like: Cti-kristine颜
2. Launch Storage Explorer -> Exp

[2022-07-04 13:55] jis260 opened #5899 "decompression worker exited early. When Flushing file"
I am downloading files in bulk from a single azure blob storage container using Azure Storage Explorer.

I have connected to the container using a SAS URL.

However, for some files (100 out of 4000) I see the following error in the logs:

2022/07/04 11:49:28 ERR: [P#0-T#4131] DOWNLOADFAILED: <file_URL_redacted>: decompression worker exited early. When Flushing file. X-Ms-Request-Id:

I am able to

[2022-07-05 07:23] v-xianya opened #5900 "There is a prompt dialog when pasting one local emulator blob container"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220705.1
**Branch**: main
**Platform/OS**: Windows 10
**How Found**: Regular testing
**Azurite Version**: 3.18.0
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Install and run Azurite 3.18.0 -> Launch Storage Explorer.
2. Expand 'Emulator & Attached -> Storage Accounts -> (Emulator - Default Ports) (Key)'.
3.

[2022-07-05 08:37] v-kellyluo opened #5901 "The deleted table displays after manually refreshing Tables node if cloning the table then deleting the original table"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220705.1
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**Azurite Version:** 3.18.0
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Install and run Azurite 3.18.0 -> Launch Storage Explorer.
2. Expand 'Emulator & Attached -> Storage Accounts -> (Emulator - Default Por

[2022-07-05 09:07] wangkenpu commented on #5890
Replied in email (more details can be found by emails).

1.	How do you connect to Azure storage?  Do you sign in to Azure to access the container?  Or do you use a SAS URL to attach to the container?  If SAS URL, has it been expired?
I used my Microsoft account to log in to the Azure storage. After login, I get permission to access the resources automatically.

2.	What permissions do you have on t

[2022-07-05 15:45] TDroogers opened #5902 "Download url down https://www.storageexplorer.com/"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-05 16:58] JasonYeMSFT commented on #5765
I went to the accessibility office hour and we agreed that this is an external bug to either Voice Over or Chromium.

[2022-07-05 17:08] MRayermannMSFT commented on #5902
@TDroogers it works well for us? Can you try going to https://azure.microsoft.com/en-us/features/storage-explorer/ and seeing if that works? The https://www.storageexplorer.com redirects to there. If the URL I suggested works, can you try the https://www.storageexplorer.com one more time? If it still doesn't work, can you take a screenshot of the error page and share it? Thanks.

[2022-07-05 17:13] MRayermannMSFT commented on #5894
@JainRah, using the Azure portal, can you check what RBAC permissions you have for this table?

[2022-07-05 17:14] MRayermannMSFT commented on #5891
@novarun using the Azure portal, can you check what RBAC permissions you have for this table?

[2022-07-05 17:18] MRayermannMSFT commented on #5886
Hi @TonyGrayCanada thanks for the kind words. I'm also glad to see that you are aware of the API limitations we are constrained by. Unfortunately, at this time the platform team has not set a timeline for when the API will support additional ways to order the listing of blob. We will pass along your additional request to them, but I encourage you to reach out to Azure/Microsoft with whatever other

[2022-07-05 17:19] MRayermannMSFT commented on #5883
Due to moving of strings. I will keep an eye on this.

[2022-07-05 17:20] MRayermannMSFT commented on #5882
Due to moving of strings. I will keep an eye on this.

[2022-07-05 17:20] MRayermannMSFT commented on #5881
Due to moving of strings. I will keep an eye on this.

[2022-07-05 17:20] MRayermannMSFT commented on #5880
Will keep an eye and make sure these get translated.

[2022-07-05 17:20] MRayermannMSFT commented on #5879
Due to moving of strings. I will keep an eye on this.

[2022-07-05 17:20] MRayermannMSFT commented on #5878
Jason, please keep an eye on this!

[2022-07-05 17:23] #5871 closed

[2022-07-05 17:24] MRayermannMSFT commented on #5893
@babyharidelo can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-05 17:24] MRayermannMSFT commented on #5872
@sanjaybhujbal can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-05 17:25] MRayermannMSFT commented on #5825
Closing due to lack of response. If you are still encountering this issue, we recommend opening a support ticket via the Azure Portal. Alternatively, you can open a new issue here.

[2022-07-05 17:25] #5825 closed

[2022-07-05 17:26] MRayermannMSFT commented on #5797
Closing due to lack of response. If you are still encountering this issue, we recommend opening a support ticket via the Azure Portal. Alternatively, you can open a new issue here.

[2022-07-05 17:26] #5797 closed

[2022-07-05 17:26] MRayermannMSFT commented on #5796
Closing due to lack of response. If you are still encountering this issue, we recommend opening a support ticket via the Azure Portal. Alternatively, you can open a new issue here.

[2022-07-05 17:26] #5796 closed

[2022-07-05 17:27] MRayermannMSFT commented on #5874
@pladee42 it seems like for some reason you're going to either:
- Run Storage Explorer as admin and then click "Install"
- Download and install the update yourself from https://www.storageexplorer.com

[2022-07-05 17:28] MRayermannMSFT commented on #5884
Since you're using https with Azurite please either:
1. Try using system proxy (can be found under Settings (gear on the left hand side -> application -> proxy)
2. Following what this user did: https://github.com/microsoft/AzureStorageExplorer/issues/2598#issuecomment-616765993

[2022-07-05 17:30] MRayermannMSFT commented on #5887
@syspro-chrisvogt thanks for opening this issue. We had someone else already raise an issue for this, so I'm going to close this as a duplicate: https://github.com/microsoft/AzureStorageExplorer/issues/5774

[2022-07-05 17:42] craxal commented on #5731
@ManishaC1 I am unable to reproduce this issue. The focus color I am reading is #007ACC, which is the color we have coded for toolbar buttons, and it has a contrast ratio of 3.395:1. Can you please check this again?

Also, can you be more specific about how you sampled the color? Be advised, the eye dropper tool is highly dependent on where you sample the color and is not the best tool for gatheri

[2022-07-05 18:29] #5637 closed

[2022-07-05 18:33] #5479 closed

[2022-07-05 18:33] #5868 closed

[2022-07-05 18:38] craxal commented on #5843
@danielmartind Did the above suggestion about changing the file format work for you?

Also, we have made modifications such that Storage Explorer will account for the BOM. These changes will be available in a future release.

[2022-07-05 19:24] craxal commented on #5901
Yet another problem with Azurite and not Storage Explorer. See https://github.com/Azure/Azurite/issues/1584.

[2022-07-05 19:48] zezha-msft commented on #5899
Thanks @jis260 for reaching out.

Are you able to repro the problem with a single file?

[2022-07-05 20:12] jis260 commented on #5899
I cannot replicate on only a single file. And files that had the error in the logs can be downloaded without any issue, so it is not a problem with the decompression.

I have tried reducing the concurrency settings for the network concurrency and open files. This has helped, but the issue still occurs and this causes the transfer to fail after several hours. Previously it was failing after less th

[2022-07-05 20:27] #5887 closed