[2022-07-05 20:35] MRayermannMSFT commented on #5774
@syspro-chrisvogt @thgossler how would you feel if the behavior was this:

1. Have non-home tenant
2. Click the checkbox for the tenant
3. Subscriptions for the tenant load - all are selected - the checkbox for the tenant is set to checked (☑️)
4. Click the checkbox for the tenant
5. All subscriptions for the tenant are deselected - the checkbox for the tenant is set to indeterminate (⏹️)

From th

[2022-07-05 21:06] thgossler commented on #5774
Sounds OK. I also first thought that this is not usual checkbox behavior. But should be intuitively understandable.

Possible other option: Don't unload subscriptions/filter-out the tenant when unchecking the checkbox, just show it unchecked as usual. If somebody wants to unload subscription/filter-out the tenant, they would need to right-click on the item and select this from the content menu.

[2022-07-05 21:47] JasonYeMSFT commented on #5900
We also incorrectly show this prompt when copying an account SAS attached container to some storage account. Could you please help verify that scenario to make sure it doesn't prompt?

I will disable copy/paste from emulator containers or to emulator since it won't work due to emulator limitations.

[2022-07-05 21:55] danielmartind commented on #5843
@craxal Hadn't needed to import anything as managed with my workaround. Just given it a go and using that format and all working fine. Thanks for taking the time to look into this and get back to me.

[2022-07-05 22:23] jinglouMSFT commented on #5890
1. From the Storage Explorer screenshot you included in the original email (below), it looks like the folder you tried to download is a part of the “Local & Attached”.  If this indeed is the case, you were accessing the blob container/folder using a SAS URL.  In this screenshot, the “Local & Attached” includes all access using the SAS URL and/or using a local emulator.  The “AzureTest…..@microsoft

[2022-07-06 01:27] wangkenpu commented on #5890
Thanks, @jinglouMSFT. The folder I tried to download is not a part of "Local & Attached", I just add quick access of this folder to "Quick Access".
With your hint, I detect the shortcut or the folder in "Quick Access" and re-add it again. Then, everything seems OK. So I think the folder in the "Quick Access" may not get the latest SAS token, i.e., the SAS token maybe not be synced for the folder i

[2022-07-06 01:30] v-xianya commented on #5900
@JasonYeMSFT The issue only reproduces when pasting one local emulator blob container.
Verified this issue on build # 20220705.1 #20220706.1
There is no prompt when pasting one account SAS attached container.
![0706](https://user-images.githubusercontent.com/41351993/177447871-fc252b94-a977-4822-bcad-a4478d8a2281.gif)

[2022-07-06 01:50] v-xianya commented on #5892
@craxal
Verified this issue on the build main/20220706.1.
The action 'Move Messages' is disabled. The little arrow is enabled. Is this intentional?
![image](https://user-images.githubusercontent.com/41351993/177450280-93e7ff99-c560-4f8e-857c-03ae9f800991.png)

[2022-07-06 07:11] v-xianya opened #5903 "The 'Upload' button displays empty for one ADLS Gen1 account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220706.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand 'Data Lake Storage Gen1 (Preview)' -> Open one ADLS Gen1 account.
2. Observe the toolbar.
3. Check whether all

[2022-07-06 09:03] v-kellyluo opened #5904 "The cloned blob container displays as non-HNS blob container if cloning one HNS blob container"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220706.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test case
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container .
3. Right cli

[2022-07-06 09:04] v-kellyluo opened #5905 "There is a failed activity log when pasting one regular blob container"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220706.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test case
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Right click

[2022-07-06 13:40] pablospe commented on #4607
@schrollm Could you provide more details how you fixed it?

[2022-07-06 15:00] jis260 commented on #5899
We have replicated the issue using an azcopy command with the --decompress flag. This was on Linux this time, whereas the above was on Windows.

Out of 16451 files, 221 failed. There are 124313 files to download, but we have stopped the process now.
The errors look like this:
---
2022/07/06 12:16:59 ERR: [P#0-T#109] DOWNLOADFAILED: <url_removed> : 000 : decompression worker exited early. When Flus

[2022-07-06 16:09] Hosna878 opened #5906 "Microsoft Azure Storage Explorer (Issue with access)"
I do not know why today I could not access my data using the desktop app and I could not even reauthorize as it would open many web pages with one line of text and no fix.

{
  "message": "\"{\\n  \\\"message\\\": \\\"\\\\\\\"AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2022-04-04T14:46:41.9039376Z and was inactive for 90.00:00:00.\\\\\\\\r\\\\\\\\nTrace I

[2022-07-06 16:46] MRayermannMSFT commented on #5906
That's very odd. Can you try going to Help -> Reset, and then in that dialog, have only Authentication checked, and then click Reset. After that, try signing in again.

[2022-07-06 16:47] #5886 closed

[2022-07-06 16:48] MRayermannMSFT commented on #5788
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-07-06 16:48] #5788 closed

[2022-07-06 16:49] MRayermannMSFT commented on #5759
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-07-06 16:49] #5759 closed

[2022-07-06 16:49] MRayermannMSFT commented on #5673
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-07-06 16:49] #5673 closed

[2022-07-06 16:49] MRayermannMSFT commented on #5107
Closing due to lack of response. If you are still encountering this issue we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-07-06 16:49] #5107 closed

[2022-07-06 17:27] JasonYeMSFT opened #5907 "Make ADLS Gen1 Tab use abs path for its source files"
Using relative paths is causing the tabs to be not restored properly.

[2022-07-06 17:34] JasonYeMSFT commented on #5905
Could you please check the following things from 1.24.3 and the current build and make a comparison list?

- Does the source container has key credential?
- Does the source container has auth credential?
- Does the source container has SAS credential?
- If you look at the text on clipboard after copying the source container, what credentials are there in the connection object on the clipboard?

Th

[2022-07-06 17:41] #5890 closed

[2022-07-06 17:47] MRayermannMSFT commented on #5873
At the same time we do this, let's also fix the `defaultValue` for `stringArray` settings to not be the textbox placeholder but actual text. That way it is easier to manually edit the list without losing the default list of trusted file extensions.

[2022-07-06 18:47] JasonYeMSFT commented on #5900
That meets my expectation. My fix will also stop the key attached account's container from giving such prompt.

[2022-07-06 19:01] craxal commented on #5892
@v-xianya Yes, this intentional. The dropdown part should always be enabled, even if the menu options it shows are all disabled.

[2022-07-06 20:47] #5843 closed

[2022-07-06 23:08] craxal commented on #5221
@v-kellyluo I've merged several table extension updates over the last few weeks. Last I checked, the message was localized again. Can you please verify?

[2022-07-07 01:46] v-xianya commented on #5900
Verified this issue on the build main/20220707.4. Fixed. so, we are going to close it.
1. The action 'Copy/Past Blob Container' has been disabled for Emulator blob container.
2. There is no prompt when pasting one key attached account's container.

[2022-07-07 01:46] #5900 closed

[2022-07-07 01:48] v-xianya commented on #5897
Verified this issue on the build main 20220707.4. Fixed. So close it.

[2022-07-07 01:48] #5897 closed

[2022-07-07 02:05] v-kellyluo commented on #5221
@craxal , this issue still reproduces on the lasted build main/20220707.4.😢
![image](https://user-images.githubusercontent.com/87792676/177674397-3ac5ed62-7ec0-499b-bc41-2076601bb19c.png)

[2022-07-07 02:32] v-kellyluo commented on #5905
@JasonYeMSFT ,

1. Verified this issue on the latest build main/20220707.4, it doesn't reproduce, and no matter pasting ADLS Gen2 blob containers or regular blob containers, there is no need to assign rbac role to source blob containers.
2. And I have no idea to check the following issues, could you please give some guides?

![image](https://user-images.githubusercontent.com/87792676/177677262-146

[2022-07-07 02:37] satishdecintell commented on #5868
Great! thanks for adding this feature. i look forward to seeing this 1.25.0 update soon 👍

[2022-07-07 05:13] ManishaC1 commented on #5731
@craxal I couldn't capture #007ACC color. How i sampled the color is that, usually we take the screenshot of the visible focus indicator and then we use color contrast because we cannot use color contrast analyzer just like that for focus indicator.

[2022-07-07 06:52] jis260 commented on #5899
Without the --decompress flag over 40,000 files have been downloaded without any errors.
Obviously, this is not ideal because the files need to be decompressed as a separate step.
But this likely shows that the issue is with the deflate routine in azcopy and the workers being used for decompression.

[2022-07-07 06:53] v-xianya opened #5908 "Display 'More' on the toolbar for the restored ADLS Gen1 explorer if there are at least two tabs"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220707.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings -> Data Explorers' -> Enable the setting 'Preserve Explorer Session'.
2. Open one se

[2022-07-07 06:53] v-xianya opened #5909 "The dropdown action 'Move All…'  is disabled for one non-empty queue"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220707.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Queues.
2. Create a queue -> Add one message.
3. Click the arrow next to the button 'Mo

[2022-07-07 07:44] v-xianya opened #5910 "There is no icon for the action 'Open in Portal' against one ADLS Gen1 account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220707.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand 'Data Lake Storage Gen1 (Preview)' node -> Select one ADLS Gen1 account.
2. Observe its actions on the 'Action

[2022-07-07 07:45] v-xianya opened #5911 "There is no icon for the action 'Search From Here' on the 'Actions & Properties' panel"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220707.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: From running test case
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Click the 'Quick Access' node.
2. Observe its action on the 'Actions & Properties' panel.

[2022-07-07 08:08] TDroogers commented on #5902
Today the url works again, could be a temporary problem.

[2022-07-07 08:32] v-xianya opened #5912 "There is a prompt info bar if refreshing the emulator blob container explorer when transferring page/append blobs"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220707.4
**Branch**: main
**Platform/OS**: Windows 10
**Architecture**: ia32
**Azurite Version** 3.18.0
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Install and run Azurite 3.18.0 -> Expand 'Emulator & Attached -> Storage Accounts -> (Emulator - Default Ports) (Key)'.
2. Create

[2022-07-07 09:54] v-xianya opened #5913 "It would be better to add '...' next to the dropdown actions 'Export Selected/Export All' for tables"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220707.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Click the dropdown arrow of the 'Export'.
3. Observe whether there is '...'

[2022-07-07 16:57] craxal commented on #5731
@ManishaC1 I don't think taking a screenshot and sampling the color is a great method, because the results may be wildly inconsistent due to a number of factors:
* App's zoom level, size of the color sample, antialiasing, blending, etc.
* Monitor resolution
* App color space, system color space
* Screenshot image format and compression

Just as an example, I took a screenshot myself and pasted it

[2022-07-07 17:25] #5907 closed

[2022-07-07 17:29] #5710 closed

[2022-07-07 20:30] #5911 closed

[2022-07-07 22:42] #5909 closed

[2022-07-07 23:09] craxal commented on #5731
@ManishaC1 On second thought, never mind. It looks like the managed disks explorer wasn't using the latest toolbar version. I've updated that package, so you should be able to verify again using the next available build.

[2022-07-07 23:10] #5903 closed

[2022-07-07 23:10] #289 closed

[2022-07-08 01:06] v-xianya commented on #5903
Verified this issue on the build main/20220708.4. Fixed.

[2022-07-08 01:14] v-xianya commented on #5910
Verified this issue on the build main/20220708.4. Fixed.

[2022-07-08 01:17] v-xianya commented on #5909
Verified this issue on the build main/20220708.4. Fixed.
![image](https://user-images.githubusercontent.com/41351993/177897094-d07a6917-1967-4444-8f6d-80bb7ad77552.png)

[2022-07-08 02:23] v-xianya commented on #5912
@JasonYeMSFT
Verified this issue on the latest build. This issue reproduces if uploading 'Page/Append blobs'.

Here is the log: [log.txt](https://github.com/microsoft/AzureStorageExplorer/files/9068415/log.txt)

[2022-07-08 02:38] v-kellyluo commented on #5905
@JasonYeMSFT ,
This issue doesn't reproduce on the build main/20220708.4. I compared the same source blob container between these two builds, on the build main/20220708.4, the source blob container has 'sas' and 'auth' credentials, on the build main/20220706.1, the source blob container only has 'auth' credential, so this error should be expected.
Not sure what changed, on the reproduced build, I

[2022-07-08 04:42] ManishaC1 commented on #5731
@craxal Please let us know when the next build is released.

[2022-07-08 06:26] syspro-chrisvogt commented on #5774
Sounds OK from my end too.

My ideal outcome for this would be to make it a more "normal" or intuitive approach, something like:

- All tenants are listed
- The subscriptions underneath are populated when the respective tenant is expanded (much like expanding the Tables in SQL Management Studio would then list the tables within the database); at this point no subscription is selected
- If selectin

[2022-07-08 08:11] v-xianya opened #5914 "There is no clue message in the initial PartitionKey and RowKey Value boxes"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220708.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> Click 'Add'.
3. Check whet

[2022-07-08 08:12] v-xianya opened #5915 "Update the subtitle 'Add Entity' to 'Edit Property Value' if clicking 'Edit property' on 'Add Entity' dialog"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220708.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Click 'Add' -> Click 'Add Prop

[2022-07-08 08:28] v-xianya opened #5916 "It would be better to update the default property type to 'Binary'"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220708.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Add' -> Click 'Add Prop

[2022-07-08 16:33] #5905 closed, assigned to JasonYeMSFT

[2022-07-08 16:37] #5914 closed, assigned to craxal

[2022-07-08 16:41] craxal commented on #5916
@v-xianya I disagree. Binary types are not used very often. String values, by contrast, are very common and much more flexible and permissive in the values they can hold. Plus, the types are merely in alphabetical order; there isn't really an issue with defaulting to a value lower in the list.

[2022-07-08 16:41] #5916 closed

[2022-07-08 17:33] JasonYeMSFT commented on #5912
I have reproduced the error and I think I know why it occurs. I have filed an Azurite bug for this issue.
https://github.com/Azure/Azurite/issues/1592

[2022-07-08 17:36] #5912 closed

[2022-07-08 20:07] JasonYeMSFT commented on #5842
Given it's been long enough that this issue hasn't be reproduced. Let's close this issue. If it reproduces, we can open a new one and investigate.

[2022-07-08 20:07] #5842 closed

[2022-07-09 07:12] zezha-msft commented on #5899
Thank you @jis260 for the detailed description.

It sounds like this problem only occurs when downloading with lots of concurrency. For such performance related problems, I'll rely on @nakulkar-msft to take a look.

[2022-07-09 07:30] jis260 commented on #5899
Thank your reply, @zezha-msft.

Just to add that we did try setting both concurrency settings in Azure Storage Explorer to 4 and the issue still occurred when using --decompress flag.

![image](https://user-images.githubusercontent.com/7260931/178096199-f7e67d3f-15de-486d-9eb4-aa2ad3cd5417.png)

There is currently no way that the transfer can be completed using Azure Storage Explorer or azcopy whe

[2022-07-11 02:10] v-xianya commented on #5908
Verified this issue on the build main/20220711.1. Fixed.

[2022-07-11 02:10] #5908 closed

[2022-07-11 04:24] nakulkar-msft commented on #5899
@jis260 Can you forward the logs to my email? Though most relevant logs are here, I'd like to take a look what led to those events?

[2022-07-11 05:46] v-kellyluo commented on #5904
Verified this issue on the build main/20220711.1. Fixed.

[2022-07-11 05:48] #5904 closed

[2022-07-11 06:16] AnaHdez9650 opened #5917 "Cannot log in the Blob System"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-11 07:53] venkatx5 opened #5918 "Unable to import entity without a partition key and row key."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-11 08:14] v-xianya opened #5919 "An error dialog pops up when opening one service by using its direct link at the first time"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220711.1
**Branch**: main
**Platform/OS**: Windows 10/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Expand one storage account -> Blob Containers.
2. Select one blob container -> Ri

[2022-07-11 08:16] v-xianya opened #5920 "The little arrow for the 'Undelete' action is disabled on one blob container's toolbar"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220711.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Open one blob container -> Observe its toolbar.
3. Check

[2022-07-11 08:19] v-xianya opened #5921 "The 'Select All' button and the little arrow haven't been separated on one ADLS Gen1 account's toolbar"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220711.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: AD-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand 'Data Lake Storage Gen1 (Preview)' -> Open one ADLS Gen1 account.
2. Observe its toolbar.
3. Check w

[2022-07-11 10:09] chetana-cloud opened #5922 "Unable to retrieve child resources."
Details:
{
  "name": "FetchError",
  "message": "request to https://stgreltmineu001.blob.core.windows.net/?comp=list&include=metadata failed, reason: unable to get local issuer certificate",
  "stack": "FetchError: request to https://stgreltmineu001.blob.core.windows.net/?comp=list&include=metadata failed, reason: unable to get local issuer certificate\n    at ClientRequest.<anonymous> (C:\\Users\

[2022-07-11 12:12] Storm-BE commented on #5751
Thanks for following up on this, @MRayermannMSFT!
We haven't been able to reproduce this issue myself yet since the update to 1.24.3
If it were to happen again, I'll update the ticket.

[2022-07-11 17:11] MRayermannMSFT commented on #5922
@chetana-cloud can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-11 17:12] MRayermannMSFT commented on #5917
@AnaHdez9650 can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-11 17:45] MRayermannMSFT commented on #5918
@venkatx5 did you create the CSV file in Excel, and if so did you save as CSV UTF-8 or just CSV?
![image](https://user-images.githubusercontent.com/21112697/178325581-4f31f4c2-fe6b-4377-9ab0-d3900457f87b.png)

If you don't remember, can you try explicitly save as just CSV?
![image](https://user-images.githubusercontent.com/21112697/178325672-8b7cff39-8d52-4d40-b6c2-cb81499ea944.png)

[2022-07-11 18:19] #5921 closed

[2022-07-11 18:20] #5221 closed

[2022-07-11 18:20] #5913 closed

[2022-07-11 18:20] #5915 closed

[2022-07-11 21:41] MRayermannMSFT commented on #5751
Thanks @Storm-BE. Since you haven't reproduced yet, I'm going to close this. Please open a new issue if it happens again. We don't normally look at closed issues. :)

[2022-07-11 21:41] #5751 closed

[2022-07-11 21:54] MRayermannMSFT commented on #5896
@brian-miller2019 can you give/show an example of how you are filtering? Are you filtering by prefix or by tag? Please feel free to share screenshots. I am asking because I am so far unable to reproduce this. Thanks!

[2022-07-11 22:05] MRayermannMSFT commented on #5919
@v-xianya I'm having a hard time reproducing this? Can you please set the storage explorer log level to debug, repro the issue, and share the logs with me? Thanks!

[2022-07-11 23:04] brian-miller2019 commented on #5896
Hi~

I'm filtering by prefix:
[image: image.png]

After the filter is applied I make sure I've gone to the very last page:
[image: image.png]

And then I 'select all cached'
[image: image.png]

then when I click on the 'Delete' button I see this screen:
[image: image.png]

instead of what I'd expect to see, such as this:
[image: image.png]

I'm guessing that it's having some problem passing in the

[2022-07-12 01:12] v-xianya commented on #5920
@JasonYeMSFT The arrow icon for the 'Move Messages' is always enabled.
Refer to the comments: https://github.com/microsoft/AzureStorageExplorer/issues/5892#issuecomment-1176570547
![image](https://user-images.githubusercontent.com/41351993/178386456-0488d85c-9b62-4a1d-8a66-d4a548ddcb6e.png)

[2022-07-12 01:13] v-xianya commented on #5921
Verified this issue on the build main/20220712.2. Fixed.

[2022-07-12 01:55] Conguyen12 opened #5923 "can not see the data"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-12 02:29] v-kellyluo commented on #5221
Verified this issue on the build main/20220712.1. Fixed.

[2022-07-12 02:33] v-kellyluo commented on #5913
Verified this issue on the build main/20220712.2. Fixed.
![image](https://user-images.githubusercontent.com/87792676/178395891-58a29313-8d9f-45f8-9304-cd7a167b7f8c.png)

[2022-07-12 02:34] v-kellyluo commented on #5915
Verified this issue on the build main/20220712.2. Fixed.

[2022-07-12 05:05] ManishaC1 commented on #5731
Focus indicator for the disk tools have color contrast more than 3:1. Proof attached below. Since all the scenarios issue mentioned in this bug is resolved, thus closing the bug.
![Screenshot (525)](https://user-images.githubusercontent.com/105198219/178412659-e9676c83-b1b6-4474-bcce-6d60afdda33a.png)

[2022-07-12 05:05] #5731 closed

[2022-07-12 05:12] venkatx5 commented on #5918
@MRayermannMSFT I initially saved on CSV UTF-8 format.
Now I just tried as "Comma Separated Values (.csv)" and the file went thru. The import works fine.
Thanks a lot for the solution.

[2022-07-12 05:12] #5918 closed

[2022-07-12 07:53] v-xianya commented on #5919
@MRayermannMSFT Somehow, we failed to reproduce this issue on the build #20220711.1, #20220712.2.😶

[2022-07-12 08:11] v-xianya opened #5924 "It would be better to add '...' next to the action 'Download' for blobs/files"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220712.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Right clic

[2022-07-12 08:24] v-kellyluo opened #5925 "The tab is not auto closed after detaching one broken Azure AD attached blob container/queue"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220712.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Azure AD attach the blob cont

[2022-07-12 12:37] bbarik06 commented on #5765
@JasonYeMSFT A mail has been sent to log the external bug against the Voice Over, meanwhile please send the sample app for the apple team to check.

[2022-07-12 12:47] #5764 closed

[2022-07-12 16:08] formula349 commented on #5896
I'm getting the same error. Filtering by prefix, selecting all cached, delete. Trying to delete the first 1,000 cached.

[2022-07-12 16:48] MRayermannMSFT commented on #5919
@v-xianya Ok. 🤷‍♀️If it happens again, please share the debug logs!

[2022-07-12 16:48] #5919 closed

[2022-07-12 17:19] brian-miller2019 commented on #5896
I updated my comment, not sure why the images aren't showing in-line for me at the moment, but at least you can click on the links to view the screen grabs. Let me know if you need any others.

[2022-07-12 17:21] craxal commented on #5918
@venkatx5 Thanks for letting us know! And so you know, we've made some improvements such that Storage Explorer will be able to handle this format. These changes will be available in 1.25.0.

[2022-07-12 17:22] craxal commented on #5918
Duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/5843.

[2022-07-12 17:41] JasonYeMSFT commented on #5765
@bbarik06 Using our app to repro the bug won't be efficient. The best way for them to repro it is to download chrome and open an local html file with the code snippet I shared above. Then they can use Voice Over to navigate the page and see the bug.

[2022-07-12 18:08] pintmil commented on #5854
@craxal I installed the StorageExplorer from snap. I tried to save the export csv file into different folders, to my home directory too, but the same error happend in every case.

[2022-07-12 18:41] brian-miller2019 commented on #5896
I'm good with waiting until 1.25, I've no rush on this, thank you!

On Tue, Jul 12, 2022 at 11:30 AM Matthew Rayermann ***@***.***>
wrote:

[2022-07-12 20:34] rickrain opened #5926 "Add support for Ubuntu 22.04 LTS"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-13 01:02] v-xianya commented on #5919
@MRayermannMSFT Ok, will do.

[2022-07-13 01:19] v-xianya commented on #5920
@JasonYeMSFT Verified this issue on the build main/20220713.1.
1. This issue has been fixed for regular blob containers.
2. This issue **reproduces** for ADLS Gen2 blob containers.

[2022-07-13 10:19] bbarik06 commented on #5765
Closing this bug as it was discussed in office hours call to be closed as its external.

[2022-07-13 10:19] #5765 closed

[2022-07-13 10:21] bbarik06 commented on #5762
Closing this bug as per above comment received.

[2022-07-13 10:21] #5762 closed

[2022-07-13 10:22] bbarik06 commented on #5761
Closing this bug as per above comment received.

[2022-07-13 10:22] #5761 closed

[2022-07-13 16:59] craxal commented on #5854
@pintmil Interesting. Based on some of my searching, it's possible this may be a hardware issue. What kind of hardware are you running Ubuntu on? Also, what file system format is your system using?

[2022-07-13 20:52] prasadvaze opened #5927 "error connecting from company laptop"
i am using storage explorer from company laptop and network. I am able to auth successfully to my company azure subscription but then it does not show storage accounts , instead gives below error
{
  "message": "\"{\\n  \\\"name\\\": \\\"Error\\\",\\n  \\\"message\\\": \\\"unable to get local issuer certificate\\\",\\n  \\\"stack\\\": \\\"Error: unable to get local issuer certificate\\\\n    at TL

[2022-07-13 21:13] JasonYeMSFT commented on #5920
Sorry, I forgot that one. I merged a similar fix for the Gen2 undelete commands.

[2022-07-14 01:45] #5920 closed

[2022-07-14 08:15] v-xianya opened #5928 "Fail to paste one Classic blob container"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220714.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one Classic storage account -> Create a blob container.
2. Copy the blob container

[2022-07-14 08:19] v-xianya opened #5929 "There is an extra action 'Undelete' on the toolbar of one public connected blob container"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220714.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Select one blob container.
3. Right cli

[2022-07-14 21:02] JasonYeMSFT opened #5930 "Stop using Function to evaluate string as JavaScript"

[2022-07-14 21:18] craxal commented on #5732
@ManishaC1 Sorry, this was unassigned from me, and it fell off my radar. Please verify that this is fixed using [this new build](https://cralvordtest02.blob.core.windows.net/customer-share/internal/accessibility-1.25.0.1/StorageExplorer-ia32.exe?sv=2021-04-10&st=2022-07-14T21%3A02%3A15Z&se=2022-07-23T23%3A59%3A00Z&sr=b&sp=r&sig=SFQBoacwmcjSUAl0zibeOo1CZp6XaRLb9Dm7I9Xondk%3D).

[2022-07-14 21:49] JasonYeMSFT opened #5931 "Suppress false positives during security scanning"

[2022-07-15 01:53] v-xianya commented on #5929
@JasonYeMSFT Verified this issue on the build main/20220715.7.
1. The 'Undelete' action has been removed from the toolbar of one public connected blob container.
2. The 'Undelete' action displays on the context menu of items in one public connected regular blob container.
![image](https://user-images.githubusercontent.com/41351993/179128249-5d171cd9-e9a1-44be-8fee-ef71dcbcecf5.png)

[2022-07-15 05:01] ManishaC1 commented on #5732
The issue is resolved in the provided environment. Hence closing the bug. Please refer the attachment.
![Screenshot (535)](https://user-images.githubusercontent.com/105198219/179154067-59e53074-a2c3-4a16-bc2d-4a7a0645aee7.png)

[2022-07-15 05:01] #5732 closed

[2022-07-15 06:31] v-xianya opened #5932 "The refresh icon is missed on the toolbar of one ADLS Gen2 blob container"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220715.7
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Re

[2022-07-15 07:01] kiran021993 opened #5933 "{ "message": "\"UnexpectedCancel\"" }"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-15 07:21] v-xianya opened #5934 "There are values for 'File, Queue, Table Endpoint' on the properties panel against one SAS attached premium storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220715.7
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Select one premium storage account -> Right click the storage account.
2. Click 'Get Shar

[2022-07-15 08:25] v-xianya opened #5935 "It would be better to remove the actions 'Clone.. & Copy Blob Container' for one blob container if the setting 'Disable Usage of Keys' is checked"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220715.7
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Go to 'Settings -> Services' -> Check 'Disable Usage of Keys'.

[2022-07-15 12:52] RashdaM opened #5936 "Creating table in Azurite with Azure Storage Explorer"
Hi
I am getting the following error when trying to create a Table Storage in Azurite using the Azure Storage Explorer

![azurite](https://user-images.githubusercontent.com/75433987/179226204-97c1a3d6-c5e4-4f2e-b202-8c21f7dee6c2.PNG)

[2022-07-15 14:13] jis260 commented on #5899
Hopefully, my email containing the logs was received? I used the email address published on your profile.

[2022-07-15 23:15] JasonYeMSFT opened #5937 "Onboard CodeQL static analysis to our build pipeline"

[2022-07-16 21:23] guidovbrakel opened #5938 "Last modified date in Azure Storage Explorer explorer view Azure File Share"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-16 21:25] guidovbrakel commented on #5938
<img width="650" alt="image" src="https://user-images.githubusercontent.com/38886380/179372371-2a9c7663-0fb3-4588-9c52-81ec41168313.png">
Next to this I would like to add date and sort on it

[2022-07-17 20:35] Cloudmersive commented on #3109
Why is this issue closed?  This is super broken

[2022-07-18 02:26] v-xianya commented on #5932
Verified this issue on the build main/20220718.1. Fixed. So, we are going to close it.

[2022-07-18 02:26] #5932 closed

[2022-07-18 05:49] v-xianya commented on #5929
Verified this issue on the build 20220718.1. Fixed. So, we are going to close it.

[2022-07-18 05:49] #5929 closed

[2022-07-18 05:59] v-xianya commented on #5928
Verified this issue on the build main/20220718.1. Fixed. So, we are going to close it.

[2022-07-18 05:59] #5928 closed

[2022-07-18 17:15] MRayermannMSFT opened #5939 "Update to Electron 21"
Some things that need to be resolved/done as part of this:
- This electron bug needs to be resolved: https://github.com/electron/electron/issues/35193 / this nan PR needs to be merged: https://github.com/nodejs/nan/pull/943
- Need to upgrade native packages to whatever new version of nan is released (includes select-cert and keytar!)
- Need to make sure native packages target c++17 wherever we cur

[2022-07-18 17:16] MRayermannMSFT opened #5940 "Update to Electron 21"

[2022-07-18 17:16] MRayermannMSFT opened #5941 "Update to Electron 22"

[2022-07-18 17:16] MRayermannMSFT opened #5942 "Update to Electron 23"

[2022-07-18 17:20] MRayermannMSFT commented on #5923
@Conguyen12 can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-18 17:21] MRayermannMSFT commented on #5927
@prasadvaze can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-18 17:26] MRayermannMSFT commented on #5936
@RashdaM Since you're using https with Azurite please either:
1. Try using system proxy (can be found under Settings (gear on the left hand side -> application -> proxy)
2. Following what this user did: https://github.com/microsoft/AzureStorageExplorer/issues/2598#issuecomment-616765993
3. Switch to using Azurite with http

[2022-07-18 17:34] MRayermannMSFT commented on #5926
@rickrain thanks for opening this issue. We're in the process of verifying Storage Explorer working with 22.04. Have you ran into any issues with Storage Explorer on 22.04?

[2022-07-18 18:07] MRayermannMSFT commented on #5782
@NephorLabs ?

[2022-07-18 18:24] MRayermannMSFT commented on #5883
@v-kellyluo it looks like these strings are now localized. I'm going to close this issue.

[2022-07-18 18:25] #5880 closed

[2022-07-18 20:31] JasonYeMSFT commented on #5878
The strings have been checked in.

[2022-07-18 21:58] craxal commented on #5935
Yes, Clone works for tables. Therefore, we should not be removing Clone or Copy menu items.

[2022-07-19 03:01] v-kellyluo commented on #5883
@MRayermannMSFT, verified this issue on the build main/20220719.8:

1. The 'Emulator & Attached' node is localized.
2. The nodes (Attached Containers) and (Emulator-Default Ports) (key) are not localized.
![image](https://user-images.githubusercontent.com/87792676/179654984-d462e630-c9e5-4935-aea2-9f5941ed4c08.png)

[2022-07-19 03:09] v-kellyluo commented on #5878
Verified this issue on the build main/20220719.8. Fixed.

[2022-07-19 03:09] v-kellyluo commented on #5880
Verified this issue on the build main/20220719.8. Fixed.

[2022-07-19 08:24] v-xianya opened #5943 "The action 'Reset Column Order' doesn't take effect for tables"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220719.8
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Change the

[2022-07-19 09:00] v-xianya opened #5944 "The column order on the 'Column Options' dialog is not changed if changing the column order on the table"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220719.8
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Change the

[2022-07-19 16:50] MRayermannMSFT commented on #5883
The strings are now translated and I've updated the package.

[2022-07-19 16:50] #5883 closed

[2022-07-19 16:51] MRayermannMSFT commented on #5882
Published new package. Updated strings are available.

[2022-07-19 16:51] #5882 closed

[2022-07-19 16:51] MRayermannMSFT commented on #5881
Published new package. Updated strings are available.

[2022-07-19 16:51] #5881 closed

[2022-07-19 16:51] MRayermannMSFT commented on #5879
Published new package. Updated strings are available.

[2022-07-19 16:51] #5879 closed

[2022-07-19 16:54] #4972 closed

[2022-07-19 16:54] MRayermannMSFT commented on #4972
Closing this group issue. Separate work item exists for the tree view and we've moved to our fork. No need for this group issue.

[2022-07-19 16:55] MRayermannMSFT commented on #5085
We reviewed names and have a shared understanding of what names should be going forward.

[2022-07-19 16:55] #5085 closed, assigned to craxal, MRayermannMSFT, JasonYeMSFT

[2022-07-19 17:02] #5556 closed

[2022-07-19 17:02] #5559 closed

[2022-07-19 17:03] #5537 closed

[2022-07-19 17:17] dfaivre-pcs opened #5945 "Blob Container Access using Azure AD and RBAC - The request is not authorized to perform this operation using this permission"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-19 17:28] MRayermannMSFT commented on #5896
Merged everything needed to fix this.

[2022-07-19 17:28] #5896 closed

[2022-07-19 18:05] JasonYeMSFT commented on #5110
The work is done to keep the prototype feature up-to-date with the in-prod toolbar.

[2022-07-19 18:41] #5934 closed

[2022-07-19 18:47] craxal commented on #5085
@MRayermannMSFT Can you please document those names here? That'll prevent that "shared understanding" from getting lost over time.

[2022-07-19 20:45] #5555 closed

[2022-07-19 20:45] #4819 closed

[2022-07-19 21:23] JasonYeMSFT commented on #5445
The work has been done. Directory paths will have a trailing slash while blob paths will have no trailing slash. Our code will actively reject dealing with no name blobs (blobs whose full name ends with slash) in all scenarios.

[2022-07-19 21:23] #5445 closed

[2022-07-19 22:20] craxal commented on #5944
This was in part due to the fact we don't get notified about column order changes via drag. This can be solved by getting the column order from the data table component and mapping the indices to "column manager indices".

[2022-07-19 22:21] craxal commented on #5943
Mistyped command ID was used, and so the reset command wasn't actually running.

[2022-07-20 01:19] JamesJia666 opened #5946 "can not access resources for this tenant"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-20 02:04] v-xianya commented on #5934
Verified this issue on the build main/20220719.17. Fixed.

[2022-07-20 02:06] v-kellyluo commented on #5883
Verified this issue on the build main/20220719.17. Fixed.

[2022-07-20 02:27] v-kellyluo commented on #5881
Verified this issue on the build main/20220719.17. Fixed.

[2022-07-20 02:27] v-kellyluo commented on #5879
Verified this issue on the build main/20220719.17. Fixed.

[2022-07-20 02:27] v-kellyluo commented on #5882
Verified this issue on the build main/20220719.17. Fixed.

[2022-07-20 07:45] v-xianya opened #5947 "The option 'Quick Access' is missed on the 'Reset Storage Explorer' dialog"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220719.17
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Click 'Help -> Reset'.
2. Observe the 'Reset Storage Explorer

[2022-07-20 08:36] v-kellyluo opened #5948 "An error 'Invalid initialization vector' occurs when launching Storage Explorer"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220719.17
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Bug Description ##

1. An error occurs when launching Storage Explorer.
2. An error occurs when executing 'Pin to

[2022-07-20 08:37] v-kellyluo opened #5949 "The access tier value for page blobs displays empty under one Premium storage account"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220719.17
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Expand one Premium storage account -> Blob Containers.
2. Create a blob container -> Up

[2022-07-20 09:09] v-xianya opened #5950 "The value of each service endpoint displays empty on the Properties panel for one Name & Key attached storage account"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220719.17
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Select one storage account -> Right click the storage account.
2. Click 'Copy Primary Ke

[2022-07-20 09:14] v-xianya commented on #4612
Update:
On the latest build main 20220719.17.(V1.25.0)
There is no error when clicking 'Copy'.

[2022-07-20 09:56] v-xianya opened #5951 "The selected blob is not copied when clicking 'Copy' under one public connected blob container's explorer"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220719.17
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Open one blob container

[2022-07-20 14:04] rickrain commented on #5926
No issues.

[2022-07-20 14:05] hanssens commented on #1058
@MRayermannMSFT I would like to second what @chryton mentions; specifically on macOS the update process downloads a .zip in, what appears to be in a deeply nested (cache?) location. You have to then locate the .zip file, extract it manually and copy it over to for example the Apps folder (overwriting the existing one).

It's not the end of the world but I concur it's quite tedious and, indeed anno

[2022-07-20 21:07] craxal opened #5952 "Column order is not preserved after dragging columns then loading more entities that add new columns"
When loading more entities in a large table, sometimes the new entities add new columns to the data table. However, if the existing columns have been reordered via drag and drop (_not_ using the Custome Columns dialog), the previous column order is lost.

## Repro Steps ##
1. Create a CSV file using the following Node script:
[code]
1. Create a new table.
2. Import the CSV file (this may take a mi

[2022-07-21 01:18] #5947 closed

[2022-07-21 01:18] v-xianya commented on #5948
Verified this issue on the build main 20220721.9. Fixed. So, we are going to close it.

[2022-07-21 01:18] #5948 closed, assigned to JasonYeMSFT

[2022-07-21 01:26] v-xianya commented on #5951
Verified this issue on the build main 20220721.9. Fixed. So, we are going to close it.

[2022-07-21 01:26] #5951 closed

[2022-07-21 01:26] v-xianya commented on #5949
Verified this issue on the build main 20220721.9. Fixed. So, we are going to close it.

[2022-07-21 01:26] #5949 closed

[2022-07-21 01:55] v-xianya commented on #5944
Verified this issue on the build main/20220721.9. Fixed. So, we are going to close it.

[2022-07-21 01:55] #5944 closed

[2022-07-21 01:55] #5943 closed, assigned to craxal

[2022-07-21 08:32] v-xianya opened #5953 "The red border is incomplete for property name field against entities"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220721.9
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Click 'Add' -> Click 'Add Prop

[2022-07-21 08:59] taiyokato opened #5954 "FilterBlob request sent upon opening blob container without user operation"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-21 09:09] v-kellyluo opened #5955 "Only the selected columns display in the 'Column Options' dialog"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220721.9
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Click 'Column Options'.
3. Un

[2022-07-21 09:14] v-xianya opened #5956 "There is no prompt indicating the extension could not be verified when opening one extension bundle without setting environment variable"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220721.9
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Do not set environment variable.
2. Click 'File -> Open Extens

[2022-07-21 14:37] g7cnp opened #5957 "Bottom of Table"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-21 16:35] craxal commented on #5953
@v-xianya This is a known issue. It is a result of addressing #5555.

[2022-07-21 16:55] MRayermannMSFT commented on #5956
Fixed a remote configuration value for this.

[2022-07-21 16:55] #5956 closed

[2022-07-21 19:01] MRayermannMSFT commented on #5268
Cutting out running tests in parallel. Introduces way too much complexity into tests, especially existing ones which may already rely on the fact tests are run sequentially.

[2022-07-21 21:47] JasonYeMSFT commented on #5954
We send that request to determine if the user has the capability to do blob tag query. That's why we know whether to disable the controls for sending tag queries. Would you expect the controls to send tag queries to be always enabled instead?

[2022-07-21 21:53] #5937 closed

[2022-07-21 22:00] JasonYeMSFT commented on #5945
It might take a while for the rbac roles to be propagated among the data centers. Does this keep happening even after long enough? If so, could you share the request ID with us so we can ask someone for help to see what goes wrong?

[2022-07-22 00:11] #5665 closed

[2022-07-22 00:11] #5755 closed

[2022-07-22 00:11] #5950 closed

[2022-07-22 00:11] MRayermannMSFT commented on #5665
The container will show up starting in version 1.25

[2022-07-22 00:11] MRayermannMSFT commented on #5950
Hi @v-xianya I have merged a fix which hides the empty endpoints for name & key attached accounts.

[2022-07-22 00:12] MRayermannMSFT commented on #5755
We investigated manually and found no issues. I have also added an initial automated test to help verify the correctness of the file share statistics.

[2022-07-22 00:44] taiyokato commented on #5954
D'oh! That sounds about right... Although I was a little more inclined to expecting the controls to be always enabled and return 403 Permission error when user tries to actually use it. Or at least sending filter blob requester with descriptive tag and value names such as "filterPermissionCheck: storagexplorer" instead of just "fakeTagKey: fakeTagValue".

Anyways, understood. Thanks.

[2022-07-22 00:44] #5954 closed

[2022-07-22 01:20] v-xianya commented on #5950
Verified this issue on the build 20220722.2. Fixed.
The service endpoint has been hidden for name & key attached accounts.

[2022-07-22 01:23] v-xianya commented on #5956
Verified this issue on the build main/20220722.2. Fixed.

[2022-07-22 08:03] v-xianya opened #5958 "The selected entities are not highlighted if using 'Select All' action"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220722.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one non-empty table -> Click 'Select All'.

[2022-07-22 08:03] v-xianya opened #5959 "There is a prompt indicating the extension bundle could not be verified even if the environment variable has been set"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220722.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Add environment variable
2. Launch Storage Explorer -> Click 'File -> Open Extension'.
3.

[2022-07-22 08:57] v-kellyluo opened #5960 "No refresh notification prompts when deleting file share snapshots without checking 'Auto-refresh on change'"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220722.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Click 'Settings -> Data Explorers' -> Uncheck setting 'Auto-refresh on change'.
2. Expand one sto

[2022-07-22 14:09] dfaivre-pcs commented on #5945
@JasonYeMSFT  - that was it! Sorry, I was confused since the portal seems to have picked up the RBAC permissions quicker. Thank you so much for taking the time to point me in the right direction.

[2022-07-22 14:09] #5945 closed

[2022-07-22 16:32] craxal commented on #5958
@v-xianya Actually, all of the items are highlighted. The only difference is the table doesn't have focus. The color used for selected, unfocused items is different for selected, focused items. I don't think swapping focus to the table is a good idea, especially for keyboard users, because they usually want to perform some action on those items, but focusing on the table moves users away from the

[2022-07-22 16:33] JasonYeMSFT commented on #5958
I need to check if this is due to us not setting the class on selection update.

[2022-07-22 16:56] JasonYeMSFT commented on #5958
The selection class name is updated correctly but the we are not initializing the state of "current active explorer" correctly.

[2022-07-22 17:40] craxal commented on #4420
Brian and his team do not have a good way of correlating the number of cases with then error message other than watching to see if there are fewer cases where adjusting firewall settings resolves issues. I'm going to close this, but we can revisit whenever we get more data.

[2022-07-22 17:40] #4420 closed

[2022-07-22 20:42] craxal commented on #5564
Still reproducing as of Azurite 3.18.0. Pinging the dev team again, as the related issue is still closed.

[2022-07-22 21:11] craxal commented on #5955
This was due to some more discrepancies between how the table component and the column manager track columns. When updating the displayed columns, the column manager filters out the hidden columns. This gets passed to the component such that the column is entirely absent. Since the fix for #5944, this missing column translates to the dialog.

This is fixed by not filtering out hidden columns and s

[2022-07-22 22:31] MRayermannMSFT commented on #5268
Merged a change for tests timing out. Tried to do a not huge change for partial results. Didn't like what I came up with. I think for now just punting this to future is fine.

[2022-07-22 22:34] #5631 closed

[2022-07-22 23:55] bryanbcook opened #5961 "Importing CSV to Table is slow"
I have a simple CSV with 3 columns and 20,000 rows (PartitionKey,RowKey,Integer)

When I import using version 1.24.3 it imports about 2-3 rows per second.
When I import using version 1.20.0 it imports about 500 rows per second.

Azure details:
- Performance: Standard
- Replication: Read-access geo-redundant storage (RA-GRS)
- Account kind: StorageV2 (General purpose v2)

[2022-07-25 02:50] v-xianya commented on #5958
Verified this issue on the build 20220725.1. Fixed. So, we close it.

[2022-07-25 02:50] #5958 closed

[2022-07-25 02:53] v-kellyluo commented on #5955
This issue still reproduces on the build main/20220725.1, so we are going to reopen it.

[2022-07-25 09:57] v-xianya commented on #5799
Verified this issue on the build main 20220725.1. This issue doesn't reproduce. So we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/180750562-46219778-5ccc-4608-8777-22c38dbcd0ed.png)

[2022-07-25 09:57] #5799 closed

[2022-07-25 15:07] bakoontz2 opened #5962 "All storage account keys deleted upon application restart"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-25 15:45] craxal commented on #5955
The fix must have got gobbled up in a bad merge with all the other changes we were trying to get in.

[2022-07-25 16:02] #5953 closed

[2022-07-25 16:50] MRayermannMSFT commented on #5946
@JamesJia666 can you try using system proxy setting? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-07-25 16:52] MRayermannMSFT commented on #5864
Closing due to lack of response. If you are still facing this issue we recommend opening an Azure support ticket from the portal. Alternatively you can open a new issue here.

[2022-07-25 16:53] MRayermannMSFT commented on #5857
Closing due to lack of response. If you are still facing this issue we recommend opening an Azure support ticket from the portal. Alternatively you can open a new issue here.

[2022-07-25 16:53] #5857 closed

[2022-07-25 16:53] MRayermannMSFT commented on #5855
Closing due to lack of response. If you are still facing this issue we recommend opening an Azure support ticket from the portal. Alternatively you can open a new issue here.

[2022-07-25 16:53] #5855 closed

[2022-07-25 16:53] #5695 closed

[2022-07-25 17:16] MRayermannMSFT opened #5963 "Enable C++ hardening flags during native component build"
See VSTS task TASK 1525568 and the attached liquid task for more information.

[2022-07-25 17:43] MRayermannMSFT commented on #5962
@bakoontz2 we have some clarifying questions for you:
1. When you say "Create a storage account using Key 1", does that mean you are going to the connect dialog in Storage Explorer and attaching a storage account? When I say connect dialog I am referring to this:
![image](https://user-images.githubusercontent.com/21112697/180840447-60645915-2730-49b4-85f8-c179fe2fe3c8.png)
2. Under additional cont

[2022-07-25 17:46] MRayermannMSFT commented on #5957
@g7cnp right now the storage APIs do not make it possible for us to immediately jump you to the most recent table entries. Some things you could do which would be similar:

1. You can click "Load more" in the table explorer until all pages are loaded and then sort by the Timestamp column
2. If you know roughly how old the newest entities are, you can run a query in your table where you say "timest

[2022-07-25 17:55] MRayermannMSFT opened #5964 "Move to .NET 6 IdentityService/ServiceHub on Windows"
Identity team has asked us to move to the .NET 6 identity service. This is doable for us, however first we'll need the ServiceHub team to create a .NET 6 release for us. It should be a new package.

[2022-07-25 18:30] MRayermannMSFT opened #5965 "Fix default value of network concurrency"
On the settings page the default value is said to be "Limit to" with no value in the input box. It should be one of the normal radio buttons.

[2022-07-26 01:48] v-xianya commented on #5953
Verified this issue on the build main/20220725.3. Fixed.
![image](https://user-images.githubusercontent.com/41351993/180904921-c76beb0a-aab4-40ed-bbc7-dadc7745435c.png)

[2022-07-26 02:29] v-kellyluo commented on #5877
Verified this issue on the build main/20220725.3. Fixed. So close it.

[2022-07-26 02:29] #5877 closed

[2022-07-26 02:37] v-kellyluo commented on #5876
Verified this issue on the build main/20220725.3. Fixed. So close it.

[2022-07-26 02:37] #5876 closed

[2022-07-26 02:38] v-kellyluo commented on #5875
Verified this issue on the build main/20220725.3. Fixed. So close it.

[2022-07-26 02:38] #5875 closed

[2022-07-26 07:25] v-xianya commented on #5219
Verified this issue on the build main/20220725.3.  Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/180948004-a29e994b-878a-4cd4-b2d6-01298871b204.png)

[2022-07-26 07:25] #5219 closed

[2022-07-26 07:38] v-xianya commented on #5959
Close due to not reproduce.

[2022-07-26 07:38] #5959 closed

[2022-07-26 08:59] v-xianya opened #5966 "The item 'Get Started' under 'Help' menu is not localized"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220725.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Reproduce Languages**: All languages
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Application

[2022-07-26 08:59] v-xianya opened #5967 "The 'Quick Access' option is the second option not the last one on the 'Reset Storage Explorer' dialog"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220725.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Reproduce Languages**: Spanish/French/Hungarian /Italy/Japanese/Korea/polish/Portuguese (Brazil)/Portuguese (Portugal)/Russian/Turkish/Chinese (ZH-CN/Chinese (ZH-TW)
**Architecture**: ia32/x64
**How Found**: From running test cas

[2022-07-26 09:01] v-xianya opened #5968 "The red border is incomplete when typing invalid id on the 'Access Policies' dialog which contains at least two access policies"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220725.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Reproduce Languages**: All
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob conta

[2022-07-26 09:02] v-xianya opened #5969 "The value of the 'Timestamp' selected from 'Custom Timestamp Query' dialog doesn't display under the query builder"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220725.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one non-empty table -> Click 'Query'.
3. Se

[2022-07-26 09:06] v-xianya opened #5970 "There is an extra scroll bar on the 'Custom Timestamp Query' dialog"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220725.3
**Branch**: main
**Platform/OS**: Windows 10
**Reproduce Languages**: Spanish/Polish/Portuguese (Brazil)/Portuguese (Portugal)/Russian
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Application ->

[2022-07-26 09:36] v-kellyluo opened #5971 "The strings 'true' and 'false' are localized in the error message when typing an invalid value for the Boolean property"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220725.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.3 (Apple M1 Pro)
**Language:** Spanish/Swedish/Polish/Portuguese
**Architecture:** ia32/x64
**How Found:** From running test case
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Open 'Settings' -> Application (Regional

[2022-07-26 09:43] v-xianya opened #5972 "There is '...' next to the localized string 'Attach to a resource' on the Get Started panel"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220725.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Reproduce Languages**: Chinese (zh-TW)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Applicatio

[2022-07-26 16:41] craxal commented on #5972
@cristianosuzuki77 Can we get this fixed for zh-TW? The ellipses need to be removed.

[2022-07-26 16:43] craxal commented on #5971
@cristianosuzuki77 I will commit a comment. Can we get this fixed right away?

[2022-07-26 17:25] craxal commented on #5969
@v-xianya Did you not get an error message? I did, which indicated there was a binding error, which is why the text doesn't show.

[2022-07-26 17:27] craxal commented on #5970
The title is forcing elements down, so we just need to widen the dialog a bit.

[2022-07-26 17:58] JasonYeMSFT commented on #5967
We sort these options by their names so the order may change depending on the locale.

[2022-07-26 18:55] JasonYeMSFT opened #5973 "Build a access control system for extensions"
We need to have some kind of access control system for extensions before accepting any 3rd party extensions. Currently extensions can call arbitrary provider functions in the app, may receive user credentials and can access file system at will from the extension process. We need to be careful with 3rd party extensions and make sure we can easily limit its capabilities through our inspection proces

[2022-07-26 20:49] JasonYeMSFT commented on #5962
The storage accounts under "Local & Attached" are the ones attached by entering the credentials (e.g. name and key) while the ones under subscription nodes are listed under your signed-in azure account. They are technically not duplicates since you can attached a storage account that is not under any of your subscriptions and they may be using different types of credentials.

I am not sure why we

[2022-07-26 20:49] #5962 closed

[2022-07-26 20:53] #5864 closed

[2022-07-26 21:05] bakoontz2 commented on #5962
It's unclear from the documentation why I would have to sign in to access the accounts under "Local & Attached", or why even if I do sign in I'm unable to access certain accounts under the subscriptions.  There's something not quite syncing up here, and it's not very-well documented.

Nevertheless, I'm able to access using one of the two entries for storage accounts, so that will do for now.  When

[2022-07-26 22:55] #5955 closed

[2022-07-26 23:20] jinglouMSFT opened #5974 "Stop the file-changes-detected dialog"
A common request from the survey.

[2022-07-27 00:46] kjbecker85 opened #5975 "Azure Storage Account - Unable to Connect"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-27 00:57] jinglouMSFT commented on #5975
Are you using Storage Explorer behind a proxy server?  If yes, please take a look at this section in the Storage Explorer troubleshooting guide: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#proxy-issues to see if any suggested solutions there are helpful. Thanks.

[2022-07-27 01:13] kjbecker85 commented on #5975
I don't understand the first thing about a proxy server.  I've adjusted my proxy settings to: "Use app proxy settings" and "Do not use proxy".

I tried following the article you linked to.  Over my head.

![image](https://user-images.githubusercontent.com/68037987/181138920-c7b04f02-cc3d-42ea-a175-4166a0728322.png)

[2022-07-27 01:46] v-xianya commented on #5969
@craxal I did not see any error message when reproducing this issue.

Verified this issue on the build main/20220727.2. Fixed. So, we are going to close it.

[2022-07-27 01:46] #5969 closed

[2022-07-27 02:04] v-xianya commented on #5968
Verified this issue on the build main/20220727.2. Fixed. So, we are going to close it.

[2022-07-27 02:04] #5968 closed

[2022-07-27 02:49] v-kellyluo commented on #5955
Verified this issue on the build main/20220727.2. Fixed.

[2022-07-27 09:01] v-kellyluo opened #5976 "The 'App config' is mentioned in the error dialog when opening one App Configuration store"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220727.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Create an App Configuration store on portal -> Don't assign rbac role to it.
2. Launch Storage Ex

[2022-07-27 09:02] v-kellyluo opened #5977 "The value of the property Resource Group displays as lowercase on the App Configuration store Properties panel"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220727.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Create an App Configuration store under the 'CTI-Kelly' resource group.
2. Launch Storage Explore

[2022-07-27 09:03] v-kellyluo opened #5978 "A new App Configuration store tab opens when clicking 'Open' even though there is already a restored App Configuration store tab"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220727.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Create an App Configuration store in portal.
2. Launch Storage Explorer -> Open 'Settings -> Data Explorer

[2022-07-27 09:35] v-xianya opened #5979 "The string 'View Azure resources' is translated incorrectly on the Get Started Panel in Chinese (zh-CN)"
**Storage Explorer Version**: 1.25.0-dev
**Build Number**: 20220727.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Reproduce Languages**: Chinese (zh-CN)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Applicatio

[2022-07-27 16:34] JasonYeMSFT commented on #5978
This is by design. The restored tabs lose the association with the node so opening the node will open a new tab.

[2022-07-27 16:34] #5978 closed

[2022-07-27 16:42] JasonYeMSFT commented on #5977
This is fine. Azure resource group names are case insensitive.

[2022-07-27 16:42] #5977 closed

[2022-07-27 17:20] #5961 closed

[2022-07-27 18:08] jinglouMSFT commented on #5975
There is a section in the Troubleshooting guide that discusses in details about the proxy settings.  Here is the link https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network.  The error on tunneling socket usually indicates that Storage Explorer can't talk to your Azure services, commonly caused by some network communication problems. Proxy settings and/or SSL certificates a

[2022-07-27 20:10] JasonYeMSFT commented on #5979
This should have been fixed.

[2022-07-27 20:14] JasonYeMSFT commented on #26
This has been fixed in latest version of Storage Explorer.

[2022-07-27 20:14] #26 closed

[2022-07-27 20:18] JasonYeMSFT commented on #63
The problem is fixed in the latest version of Storage Explorer.

[2022-07-27 20:18] #63 closed

[2022-07-27 20:45] JasonYeMSFT commented on #372
Some basic support will be added in 1.25.0 for restoring opened tabs from the previous session. https://github.com/microsoft/AzureStorageExplorer/issues/1504

We are not supporting restoring table query results this time. If you would like to see additional state information being carried between sessions, please open a new feature request with more details about what you would like to see.

[2022-07-27 20:45] #372 closed

[2022-07-27 20:47] JasonYeMSFT commented on #218
This issue will be fixed in the 1.25.0 release.

[2022-07-27 20:47] #218 closed

[2022-07-27 20:51] JasonYeMSFT commented on #387
Closing since this is not a common use case and there is a easy enough workaround.

[2022-07-27 20:51] #387 closed

[2022-07-27 21:59] JasonYeMSFT commented on #1131
We are now using consistent icon at both places.

[2022-07-27 21:59] #1131 closed

[2022-07-27 22:11] JasonYeMSFT commented on #1320
This has been fixed in the latest build.

[2022-07-27 22:11] #1320 closed

[2022-07-27 22:16] JasonYeMSFT commented on #2179
The "Clone..." (what replaces Rename) action has been supported by ADLS Gen2 now.

[2022-07-27 22:16] #2179 closed

[2022-07-27 22:27] JasonYeMSFT commented on #2904
This has been added during the table rework.

[2022-07-27 22:27] #2904 closed

[2022-07-27 22:28] helensui opened #5980 "Azure storage connect error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-27 22:28] JasonYeMSFT commented on #2888
We have added the in-progress activity for creating share snapshot.

[2022-07-27 22:28] #2888 closed

[2022-07-27 22:41] JasonYeMSFT commented on #3593
We have added code to manually raise a "resize" event to recalculate the layout of the toolbar items while working on https://github.com/microsoft/AzureStorageExplorer/issues/5908. The same code change will also fix this issue.

[2022-07-27 22:41] #3593 closed

[2022-07-27 22:43] JasonYeMSFT commented on #3992
Related to https://github.com/microsoft/AzureStorageExplorer/issues/5242
We have implemented Azure AD based copy/paste/clone features for ADLS Gen2 for our next 1.25.0 release.

[2022-07-27 22:43] #3992 closed

[2022-07-28 02:00] v-kellyluo commented on #5976
Verified this issue on the build main/20220728.2. Fixed. So close it.

[2022-07-28 02:00] #5976 closed

[2022-07-28 06:23] v-xianya commented on #3593
Verified this issue on the build main/20220728.1. Fixed.

[2022-07-28 06:29] v-xianya commented on #2904
Verified this issue on the rel build 20220728.1.
![image](https://user-images.githubusercontent.com/41351993/181436130-6339f92c-769e-4d6a-8018-f317265f13c4.png)

[2022-07-28 06:35] v-xianya commented on #1131
Verified this issue on the rel build main 20220728.1 Fixed.
![image](https://user-images.githubusercontent.com/41351993/181437003-3ba9b631-b6ca-428d-99c0-b0cf11cb7d68.png)

[2022-07-28 06:38] v-xianya commented on #5979
Verified this issue on the latest rel and main build. Reproduced.
Will keep eyes on this issue.

[2022-07-28 06:40] v-xianya commented on #63
Verified this issue on the rel build 20220728.1. Fixed.

[2022-07-28 13:42] craxal commented on #406
A start page has been designed for 1.25.0 in response to #5555.

[2022-07-28 13:42] #406 closed

[2022-07-28 14:42] jlmarino702 opened #5981 "This request is not authorized to perform this operation."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-07-28 16:18] craxal commented on #5971
See https://ceapex.visualstudio.com/CEINTL/_workitems/edit/679758 for tracking.

[2022-07-28 17:15] JasonYeMSFT commented on #5980
This is a network error indicating that some network requests timeout without getting any response. Are you behind a proxy? Could you go to the settings panel and try enabling "use system proxy" under "Settings" -> "Application" -> "Proxy"

[2022-07-28 17:22] JasonYeMSFT commented on #5981
Having the "Owner" role on the resource only grants you the permissions to manage it (e.g. setting the access control) but does not grant you the permission to read/write data in it. You will need to add yourself a "Storage Blob/File/Queue/Table Contributor" or some other role like that to grant you the permission to read/write data. Could you also check if you have "Allow storage account key acce

[2022-07-29 02:20] v-kellyluo commented on #5971
This issue still reproduces on the latest build main/20220729.2.
BTW, the string 'true' in the placeholder is also localized.
![image](https://user-images.githubusercontent.com/87792676/181669152-b10b2765-c42b-4f2d-8710-9a5e9438557f.png)

[2022-07-29 10:13] v-xianya commented on #5970
@craxal Verified this issue on the rel build 20220729.1.
1. This issue is fixed on Spanish/Russian.
2. This issue still reproduces on Polish/Portuguese (Brazil)/Portuguese (Portugal). So, we are going to reopen it.
Here is the screenshot on Polish.
![image](https://user-images.githubusercontent.com/41351993/181737652-4f61fae8-fa64-45f6-9344-dfe111374fe9.png)

[2022-07-29 13:42] Davidsv commented on #3008
Any news on this? This makes the process of browsing storage explorer a lot more tedious than it should be.

[2022-07-29 17:01] craxal commented on #5971
@v-kellyluo Yes, we know. The issue has not bee closed yet, and the status is still "Verifying", meaning the devs are still working on it. We're waiting for a translation fix.

[2022-07-29 21:50] JasonYeMSFT opened #5982 "Update Storage Explorer to the list of Azure tools that use Shared Keys"
https://docs.microsoft.com/en-us/azure/storage/common/shared-key-authorization-prevent?tabs=portal#consider-compatibility-with-other-azure-tools-and-services

We now support Azure AD for queues and tables. The existing entry says we don't.

[2022-07-29 22:31] MRayermannMSFT opened #5983 ""Field" dropdown in query builder is not sorted"
1.24:
![image](https://user-images.githubusercontent.com/21112697/181853776-14a0bf72-1789-47d8-ab8c-d5e7bc80a41f.png)

1.25 RC:
![image](https://user-images.githubusercontent.com/21112697/181853818-8b4e0947-14b7-472c-8645-7c64b033abeb.png)

[2022-07-29 22:33] jinglouMSFT opened #5984 "Conditionally showing the release notes vs the Get Started page"
Let's investigate if the following is possible:
- if Storage Explorer install is an upgrade, we open the release notes tab by default.
- if Storage Explorer is a new install, meaning manually launch the install executable, we open the Get Started page by default.

As of in 1.25.0, we open the Get Started page by default, which may not be as useful for our experienced users.

[2022-07-29 22:50] MRayermannMSFT opened #5985 "Keyboard shortcuts listed under View menu aren't working consistently"
Unknown when regression happened. Also we should probably change to just say "tab" instead of editor since we have non-explorer tabs now.

[2022-07-29 23:05] MRayermannMSFT opened #5986 "Table nodes not hooked up to nodes in tree"
1. Open a table
2. Open some other container
3. Go back to table explorer

Table node should be selected

[2022-07-29 23:06] MRayermannMSFT opened #5987 "Disk RG nodes not hooked up to nodes in tree"
1. Open a disk RG
2. Open a blob container
3. Go back to disk RG explorer

Disk RG node should be selected

[2022-07-29 23:08] MRayermannMSFT opened #5988 "App config nodes not hooked up to nodes in tree"
1. Open an app config
2. Open a blob container
3. Go back to app config explorer

App config node should be selected

[2022-07-29 23:14] MRayermannMSFT opened #5989 "Non active table explorer can be slow to update theme"
1. Open a large table (lots of columns/entities)
2. Open a blob container
3. Change theme
4. Go back to table explorer

Expect: theme is right
Actual: theme is wrong for a delay and then updates

[2022-07-29 23:15] JasonYeMSFT opened #5990 "Restored explorers lose their association with the node"
Activating restored tabs won't auto-select the node associated with them even if those nodes are already in the tree.

[2022-07-29 23:20] JasonYeMSFT opened #5991 "Property with type Int32 is incorrectly sorted"
<img width="272" alt="image" src="https://user-images.githubusercontent.com/39359541/181859726-e829b9a5-eab0-4cef-88b0-82915279fa38.png">

We should check other number types e.g. Int64 or Double as well.

[2022-07-29 23:34] JasonYeMSFT opened #5992 "Canceled Table statistics activity is blank"
<img width="891" alt="image" src="https://user-images.githubusercontent.com/39359541/181860528-6fbbdd38-bf6d-4316-aa6e-dae380d49b45.png">

[2022-07-30 12:08] venu564 opened #5993 "Unable to view the containers in storage explorer under storage account which I created"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-01 07:12] c0nfl1ct opened #5994 "Error Copy disks"
Storage Explorer was unable to get access a disk.
Disk 'NH-TS-HR_OsDisk_1' in 'NHAzure-VMPortugal' was likely created. You may need to delete this disk before retrying this operation.

Service response: {
  "name": "Error",
  "message": "Access not permitted because disk NH-TS-HR_OsDisk_1_4205d0bbd899436e9ad842dc73ee5175 is currently attached to running VM /subscriptions/7c66e049-990b-484e-bea9-55

[2022-08-01 08:00] michasacuer commented on #5681
Any updates?

[2022-08-01 09:16] v-kellyluo opened #5995 "The layout of the 'Add Entity' dialog is unfriendly when pulling down the scrollbar"
**Storage Explorer Version:** 1.25.0-dev
**Build Number:** 20220731.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity with many custom proper

[2022-08-01 09:58] kimjamia commented on #4560
This just happened to me. My account is in multiple tenants where I don't even have access to any subscriptions. It's very annoying to uncheck them all again. Naturally the UI complains that "one or more accounts require reauthentication". Related to #5774.

[2022-08-01 16:17] dev0nizer commented on #4959
Hi there, I'm on 1.24.3 and experiencing the same issue. I have added two new storage accounts and none of them is showing in the explorer. The older ones that were added months before work fine.
I tried cheching this on another computer and everything shows up fine, so I have no idea what's wrong. Tried reinstalling the app and re-login about 99999 times.

[2022-08-01 17:27] JasonYeMSFT commented on #5993
@venu564 How did you connect to the storage account in Storage Explorer? Did you connect to it as a local attachment or from your signed-in azure account? What error did you get when trying to access it?

[2022-08-01 17:29] JasonYeMSFT commented on #5979
The translated strings are fixed but we need to update the package one more time to take them.

[2022-08-01 17:38] JasonYeMSFT commented on #5994
@c0nfl1ct The error message indicates that the disk is used by an existing VM, could you check if that's the case? Also, to help us better diagnose the cause of the issue, could you provide the basic information such as the platform (OS info), Storage Explorer version, steps you take before running into this issue, and so on?

[2022-08-01 20:07] kokanogl opened #5996 "error when trying to establish connection"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-01 21:40] MAkhtarHossain opened #5997 "Need to Access ACL metadata for Azure File Share"
[akhtar-hossain.txt](https://github.com/microsoft/AzureStorageExplorer/files/9237544/akhtar-hossain.txt)
I have a storage account and a fileshare. I have tied this storage account with AD DS (installed on a Azure VM). I have then setup ACLs on the share. I need a way to access the metadata on the fileshare to see what is saved as the ACL permissions. Trying to get the ACL permission on the filesha

[2022-08-02 01:53] v-kellyluo commented on #5995
Verified this issue on the build rel/20220802.4. Fixed.

[2022-08-02 01:53] #5995 closed

[2022-08-02 04:41] c0nfl1ct commented on #5994
@JasonYeMSFT, thanks for the reply. i solved the problem. i stop and deallocated the vm. now i able to copy the hdd.
Thanks again.

[2022-08-02 04:41] #5994 closed

[2022-08-02 09:33] v-xianya opened #5998 "The deleted custom property column doesn't disappear even though manually refreshing"
**Storage Explorer Version**: 1.25.0
**Build Number**: 20220802.4
**Branch**: rel/1.25.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Click 'Add' -> Add one entity which c

[2022-08-02 10:16] v-kellyluo opened #5999 "SAS token generated in 1.25.0 fails to authenticate IoT blobs"
**Storage Explorer Version:** 1.25.0
**Build Number:** 20220802.4
**Branch:** rel/1.25.0
**Platform/OS:** Windows 10
**Architecture:** ia32
**How Found:** From running test cases
**Regression From:** Previous release (1.24.3)

## Bug Description ##

1. Fail to upload IoT blobs.
2. Fail to download IoT blobs.
3. Fail to open IoT blobs.
4. Fail to delete IoT blobs.

## Steps to Reproduce ##

1. Laun

[2022-08-02 17:34] JasonYeMSFT commented on #5999
The blob storage module on IoT edge device is running the service at a much lower level than the main application. Our latest upgrade of the service version introduced a new service version that the module cannot handle. A workaround is to enable "targeting Azure Stack API" which will force our code to use a lower API version.

[2022-08-02 17:50] JasonYeMSFT commented on #5999
It was also recommended to use "Target Azure Stack API" in previous Storage Explorer versions to avoid getting server internal errors which affects the performance. https://github.com/microsoft/AzureStorageExplorer/issues/4099

[2022-08-02 17:59] #5999 closed

[2022-08-02 18:38] #5991 closed

[2022-08-02 18:38] #5983 closed

[2022-08-02 20:01] #5986 closed

[2022-08-02 20:01] #5992 closed

[2022-08-02 21:25] #5982 closed

[2022-08-02 22:49] jinglouMSFT commented on #2586
Let's discuss if this can be done in v1.26.0

[2022-08-03 02:04] v-xianya commented on #5998
Verified this issue on the rel build 20220803.6. Fixed. So, we are going to close it.

[2022-08-03 02:04] #5998 closed

[2022-08-03 02:23] v-xianya commented on #5979
Verified this issue on the build rel 20220803.6. Fixed. So, we close it.
![image](https://user-images.githubusercontent.com/41351993/182510433-f8169e9a-6540-436b-af5c-a1be55ce6381.png)

[2022-08-03 02:23] #5979 closed

[2022-08-03 02:49] v-xianya commented on #5971
Verified this issue on the rel build  20220803.6.
This issue reproduces on the languages Spanish/Swedish/Polish/Portuguese (Brazil). Will keep eyes on this issue.
Here is the screenshot on Portuguese (Brazil).
![image](https://user-images.githubusercontent.com/41351993/182513356-33219efd-195f-40b2-9893-22b980df79fc.png)

[2022-08-03 07:42] v-xianya opened #6000 "The order of the property columns can be reset by manually refreshing"
**Storage Explorer Version**: 1.25.0
**Build Number**: 20220803.6
**Branch**: rel/1.25.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Reorder the proper

[2022-08-03 07:43] v-xianya opened #6001 "The unchecked property columns display in the table editor after manually refreshing"
**Storage Explorer Version**: 1.25.0
**Build Number**: 20220803.6
**Branch**: rel/1.25.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Click 'Column Opti

[2022-08-03 16:35] craxal commented on #6000
This behavior is a consequence of fixing #5998. However, this is not a regression. Contrary to what is mentioned here, I observe the same behavior in the previous release. Therefore, this is by design.

[2022-08-03 16:41] craxal commented on #6001
This behavior is a consequence of fixing #5998. However, this is not an easy fix. Because we need to remove old columns (columns where every entity has `null`), we need to rebuild the column definitions, and adding behavior to track the previous state of each column is risky at this stage for 1.25.0.

[2022-08-03 16:43] craxal commented on #5971
@v-xiany To be more precise, you are still seeing translated strings in the placeholder, not the error message, correct?

[2022-08-03 16:44] craxal commented on #5971
For reference, this issue was a result of addressing #289.

[2022-08-03 17:06] craxal commented on #5970
Should be resolved now. Please verify.

[2022-08-03 17:06] #5970 closed

[2022-08-03 23:25] #5971 closed

[2022-08-03 23:26] JasonYeMSFT commented on #5971
We have merged local string fixes to the 1.25.0 release. We will make sure the translator team give us updated strings to the main branch later.

[2022-08-04 02:11] v-xianya commented on #6000
@craxal
For the step2, **Reorder the columns by changing the column order on 'Column Options' dialog.** not drag the column in the editor to reorder. Sorry for not pointing this out.

The updated steps:

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Open 'Column Options' dialog -> Move the column order -> Click 'OK'.
4. The column order in the editor is changed.

[2022-08-04 02:48] v-xianya commented on #5971
@craxal Yes. The translated strings in the placeholder.

[2022-08-04 07:25] v-xianya opened #6002 "The 'Timestamp' and custom property columns will display blank on the 'Column Options' dialog if delete all entities then manually refresh the editor"
**Storage Explorer Version**: 1.25.0
**Build Number**: 20220803.8
**Branch**: rel/1.25.0
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
![image](https://user

[2022-08-04 09:42] v-kellyluo commented on #5970
Verified this issue on the build rel/20220803.8. Fixed.

[2022-08-04 09:59] v-kellyluo commented on #5971
Verified this issue on the build rel/20220803.8. Fixed.

[2022-08-04 16:50] JasonYeMSFT commented on #5242
The support to copy data with Azure AD only credentials have been added in our 1.25.0 release.

[2022-08-04 16:50] #5242 closed

[2022-08-04 16:50] JasonYeMSFT commented on #5745
This bug has been fixed in our 1.25.0 release.

[2022-08-04 16:50] #5745 closed

[2022-08-04 16:50] JasonYeMSFT commented on #3121
The support to dynamically change the max transfer rate for each transfer is added to our 1.25.0 release.

[2022-08-04 16:50] #3121 closed

[2022-08-04 16:54] JasonYeMSFT commented on #1504
The support to preserve tab sessions have been added to our 1.25.0 release. It's an opt-in feature. If you would like to start using it, please enable the setting at "Settings" -> "Data Explorers" -> "Preserve Explorer Session".

[2022-08-04 16:54] #1504 closed

[2022-08-04 16:57] JasonYeMSFT commented on #5737
The extension has been released at https://github.com/microsoft/azure-app-configuration-se-extension. The remaining work will need to be done in 1.26.0.

[2022-08-04 17:05] JasonYeMSFT commented on #5997
@MAkhtarHossain The error your get is a network error. It is common seen if your client cannot resolve the hostname of the file share service to its IP address. Are you behind a proxy when using Storage Explorer? Are you running Storage Explorer on your local computer or an Azure VM?

[2022-08-04 20:49] drobisonoh opened #6003 "Issue accessing Blob Containers in Azure Storage"
this issue started today (8/4/22).  No issues with same access last night.

Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://nsspace.blob.core.windows.net/?comp=list&include=metadata failed, reason: getaddrinfo EAI_AGAIN nsspace.blob.core.windows.net",
  "stack": "FetchError: request to https://nsspace.blob.core.windows.net/?comp=list&include

[2022-08-04 21:50] JasonYeMSFT commented on #5996
@kokanogl Are you behind a proxy when using Storage Explorer? Certain proxy servers use self-signed certificates that we cannot verify with the public CAs. We have sections in our troubleshooting guide describing how to find and import the certificates https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#import-ssl-certificates. If you cannot resolve

[2022-08-04 23:16] JasonYeMSFT commented on #6003
@drobisonoh The getaddrinfo EAI_AGAIN is a DNS related issue meaning that your DNS server cannot resolve the given hostname of your file share service. Are you running Storage Explorer behind a proxy? If not, please contact your network administrator to see if there is anything wrong with your DNS server configuration.

[2022-08-05 03:09] drobisonoh commented on #6003
Thanks....this helped and I was able to resolve.

[2022-08-05 03:09] #6003 closed

[2022-08-05 03:09] drobisonoh commented on #6003
Thanks....this helped and I was able to resolve.

[2022-08-05 05:45] ajayg233 opened #6004 "Attached Storage Account Error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-05 14:58] matthiasdg commented on #1099
Noticed  this same internet trashing with ASE 1.25.0 (snap on ubuntu 22.04) with the default settings when copying files/blobs within a storage account (so no uploading from local). Was thinking local bandwidth should not be important then. This is weird; if I monitor my network, bandwidth usage is way below the limit I set, and the limit is apparently used for the remote transfer (transfer speed

[2022-08-05 16:03] craxal commented on #1099
@matthiasdg If your network connection is getting thrashed, that would suggest a copy is not happening server-side. Can you examine your network traffic confirm whether that's actually true? Do you see lots of Get Blob and/or Put Blob requests?

[2022-08-05 16:50] JasonYeMSFT commented on #6004
This usually means some connection data has been corrupted. Could you follow the steps here to clean up the corrupted connections [troubleshoot guide](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#error-occurred-while-adding-new-connection-typeerror-cannot-read-property-version-of-undefined)?

[2022-08-05 22:32] jsuddsjr opened #6005 "Map root folder, or how to mirror folder structure locally"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-05 23:29] JasonYeMSFT commented on #6005
@jsuddsjr AzCopy has two flags named "include-pattern" and "include-regex" (or equivalent flags for exclusion) to let you filter at the root of your directory on what files to transfer. We haven't integrated them yet. You can construct an AzCopy command and manually execute it to do the work. Filtering by file size is not supported at the moment.

[2022-08-08 03:01] v-xianya commented on #5497
Verified this issue on the build main/20220808.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/183329796-1e8fcd9a-5f8e-4b9e-97a2-c04a5eb713cd.png)

[2022-08-08 03:01] #5497 closed

[2022-08-08 06:50] v-xianya commented on #5269
Verified this issue on the build main/20220808.1. Fixed. So, we are going to close it.

[2022-08-08 06:50] #5269 closed

[2022-08-08 08:04] v-xianya opened #6006 "A loading icon always displays in the editor of one non-empty blob container/queue against the language 'Hungarian'"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220808.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Reproduce Languages**: Hungarian
**Architecture**: ia32/x64
**How Found**: Verifying bug 5269
**Regression From**: Previous release (1.24.3)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Application

[2022-08-08 08:31] v-kellyluo opened #6007 "The delete icon of custom environment displays empty when pressing 'Tab' to focus it"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220808.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer -> Open the connect dialog.
2. Click 'Subscription -> Custom Environment -> Manage

[2022-08-08 09:06] v-xianya commented on #3822
Verified this issue on the build main 20220808.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/183382070-b53da4d1-ee3f-4e66-aa40-398fb2043d09.png)

[2022-08-08 09:06] #3822 closed

[2022-08-08 17:09] JasonYeMSFT commented on #6006
There is a typo in the hu localized string that causes errors to be thrown.

[2022-08-08 17:16] MRayermannMSFT commented on #5872
Closing due to lack of response. If you are still having problems, we recommend opening an Azure support ticket from the Azure portal. Alternatively you can open a new issue here.

[2022-08-08 17:16] #5872 closed

[2022-08-08 17:35] MRayermannMSFT commented on #5984
Hold off on doing this until Jing gives the go ahead.

[2022-08-08 21:41] MartinWilkerson opened #6008 "Unable to view folder containing blob created from Azure Function using [Blob] output to Azurite"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-08 22:00] JasonYeMSFT commented on #6008
This is a known issue to us. The root cause is a combination of Azurite doesn't return empty MD5 hash values and the JavaScript SDK we use assumes the MD5 hash value is always returned. To workaround this issue, you can write some code to commit the correct MD5 hash of the blob in Azurite. The JavaScript SDK has made a fix in their latest version to gracefully handle missing MD5 hash values but we

[2022-08-09 07:46] v-xianya opened #6009 "It would be better to make the error info helpful if the restored tabs contain Azure AD attached tab whose associated account has been removed"
**Storage Explorer Version**: 1.25.0
**Build Number**: 20220808.4
**Branch**: hotfix/1.25.1
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Azure AD attach the blo

[2022-08-09 09:54] v-xianya commented on #6006
Verified this issue on the build main/20220808.4. Fixed. So, we are going to close it.

[2022-08-09 09:54] #6006 closed

[2022-08-09 17:06] MRayermannMSFT commented on #5632
`archiver` ultimately responded to the security issue in just 5 days. I think that's pretty good.
https://github.com/archiverjs/node-archiver/issues/583

Moving this to future...

[2022-08-09 18:34] #5795 closed

[2022-08-09 18:34] JasonYeMSFT commented on #5795
The work has been done by Craig.

[2022-08-09 18:36] JasonYeMSFT commented on #5931
The work has been done. The only remaining warnings are the ones from Cloud Explorer's bower packages which aren't correctly recognized as external dependencies. They will be gone when we get rid of the Cloud Explorer component.

[2022-08-09 18:36] #5931 closed

[2022-08-09 20:20] MRayermannMSFT commented on #5926
We've updated our docs to indicated that 22.04 is ok.

[2022-08-09 20:20] #5926 closed

[2022-08-09 22:50] thalesx opened #6010 "Unable to retrieve child resources - "The specifed resource name contains invalid characters""
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-09 23:41] #5965 closed

[2022-08-10 05:58] v-xianya opened #6011 "An error occurs when clearing queue on one restored queue explorer with the language changed after restarting Storage Explorer"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220810.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Queues.
2. Create a queue -> Add messages.
3. Open 'Settings' -> Application

[2022-08-10 09:18] agungputra123 opened #6012 "Azure Storage Explorer copy paste failed between different tenants"
Trying to copy a disk from one RG to another RG, its works in a same tenant. But when trying to copy disk from tenant A to another tenant B, it fails when nearing completion (its taking a couple hours). is there any advice where i could go wrong?

**Bug Description**:
AzCopy failed to complete the transfer: %s
Disk 'data_node1' in 'POC-RG' was likely created. You may need to delete this disk befor

[2022-08-10 17:19] MRayermannMSFT commented on #6010
@thalesx what emulator are you using and what version of it as well?

[2022-08-10 18:28] #5862 closed

[2022-08-10 18:39] MRayermannMSFT commented on #5441
We're going to break this up by service type.

- [ ] Blob (incl Gen2) -> 1.26
- [ ] Table -> 1.27
- [ ] Queue -> 1.28

[2022-08-10 19:11] craxal commented on #2547
@leroibeukes Since entities require unique partition/row keys, we'd need some way for you to specify the new key. How do you envision the flow of cloning an entity? Right-clicking and selecting a command menu is a good first step. From there we could go in several different directions:
- **Option 1: Auto-generate** - Storage Explorer could try auto-generating the new keys. This could be difficult

[2022-08-10 19:25] dfran02 opened #6013 "Error on launch: Configuration system failed to initialize"
Windows 10 Enterprise
Microsoft .NET Framework 4.8.1/4.8/4.7.2
Storage Explorer 1.25.0/1.24.0/1.24.3

Hi,
When I try to open Storage Explorer, I receive the error:

When I close the error, Storage Explorer also closes.

I've tried different versions of ASE and installed different versions of the .NET SDK, but get the same error every time.

I tried closing ASE and Visual Studio, clearing logs, the

[2022-08-10 20:03] JasonYeMSFT commented on #5852
We will add support to text preview and basic image preview in 1.26.0

[2022-08-10 20:03] JasonYeMSFT opened #6014 "Support generating user delegation SAS and attaching with it for Blob/Gen2"

[2022-08-10 22:20] MartinWilkerson commented on #6008
It turned out to be barely even any code to do it - changing to using a `BlobClient` instead of a `Stream` as the bound parameter and using `UploadAsync`. For any who hit this issue and find this, I found the workaround through [Azure Blob storage output binding for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-output?tabs=in-process%2Cexte

[2022-08-10 23:13] #5963 closed

[2022-08-10 23:13] #5679 closed

[2022-08-10 23:29] MRayermannMSFT commented on #5874
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:29] #5874 closed

[2022-08-10 23:29] MRayermannMSFT commented on #5884
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:29] #5884 closed

[2022-08-10 23:29] MRayermannMSFT commented on #5889
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:29] #5889 closed

[2022-08-10 23:29] MRayermannMSFT commented on #5891
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:29] #5891 closed

[2022-08-10 23:30] MRayermannMSFT commented on #5893
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:30] #5893 closed

[2022-08-10 23:30] MRayermannMSFT commented on #5894
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:30] #5894 closed

[2022-08-10 23:30] MRayermannMSFT commented on #5906
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:30] #5906 closed

[2022-08-10 23:30] MRayermannMSFT commented on #5917
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:30] #5917 closed

[2022-08-10 23:30] MRayermannMSFT commented on #5922
Closing due to lack of response. If you're still running into this problem we recommend opening an Azure support ticket via the Azure Portal. Alternatively you can open a new issue here.

[2022-08-10 23:30] #5922 closed

[2022-08-10 23:32] MRayermannMSFT commented on #6008
@JasonYeMSFT do we can to dedicate this issue (or a separate one) to making sure we update our blob SDK in 1.26?

[2022-08-10 23:34] MRayermannMSFT commented on #6010
Two of us tested this today against Azurite 3.18.0 and we couldn't reproduce. Let us know if you see different. Though if you're using an older version of Azurite, we would ask that you update to the newest version. :)

[2022-08-10 23:51] MRayermannMSFT commented on #6013
I've passed your logs onto the responsible team. Will get back to you as soon as possible.

[2022-08-10 23:55] JasonYeMSFT commented on #6008
@MRayermannMSFT Yes. I will make sure to upgrade the blob SDK in 1.26.0

[2022-08-11 07:20] deepakiim commented on #5884
in the storage explorer there is a option to disable proxy for copy. selecting that solved this issue.

[2022-08-11 07:46] v-xianya opened #6015 "The size value displays blank for one ADLS Gen2 blob with 0 B size"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220811.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.24.1)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one

[2022-08-11 08:35] Leotwsystex opened #6016 "Lost after moving folder"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-11 10:09] Leotwsystex commented on #6016
It's waitting for long time, but move file is done

[2022-08-11 10:09] #6016 closed

[2022-08-11 13:49] itsme-sk opened #6017 "Azure Storage Explorer is not working on WVD"
The authentication library used by storage explorer is failed to start properly.

Windows 10 operating system
The version of Azure storage Explorer is 1.19.1
The .Net framework version is 4.8

![Azure storage explorrer error](https://user-images.githubusercontent.com/58106698/184147727-03991715-4b51-4243-b04f-694556f72067.png)

[2022-08-10_223543_main.log](https://github.com/microsoft/AzureStorage

[2022-08-11 16:07] thalesx commented on #6010
Thanks! Yes we are using an older emulator (Windows Azure Storage Emulator 5.10.0.0). I'll have to check our plans for upgrading to Azurite. Meanwhile I tested with Azure Storage Emulator 1.11.0 and it worked fine. As such we can close this issue as resolved.

[2022-08-11 16:07] #6010 closed

[2022-08-11 16:32] craxal opened #6018 "Use `fs.watch` and `FSWatcher` in file watcher module"
Node documentation states that `fs.watch()` is more efficient and should be used instead of `fs.watchFile()` and `fs.unwatch()`. Furthermore, `fs.watch()` returns an `FSWatcher` object that can be saved instead of the listener function and be used to detach.

[2022-08-11 16:50] MRayermannMSFT commented on #6013
@dfran02 have you installed mono on your machine?

[2022-08-11 16:52] MRayermannMSFT commented on #6017
@itsme-sk can you please try using the latest version of Storage Explorer (1.25)? If that still doesn't work, then please get us the [authentication logs ](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#authentication-logs)after reproducing with 1.25.

[2022-08-11 17:24] dfran02 commented on #6013
No, but perhaps some other frameworks I have installed may clash:
![image](https://user-images.githubusercontent.com/51128776/184195241-6eefd2e3-6273-49c3-87e9-5f5fc314cac3.png)

[2022-08-11 17:26] MRayermannMSFT commented on #6013
Hmmmmmmmmmmm. Can you check `C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config\machine.config` (if you don't have a `v4.0.30319` then look for some other `v4` folder) and look for any proxy entries? It should have just this
[code]

[2022-08-11 18:45] dfran02 commented on #6013
yes, I see that entry.

[2022-08-11 21:40] raeesgillani commented on #2905
Hi, I have the same issue as above, using ADLS Gen2 Blob Container and attempting to delete a folder inside it using dbutils.fs.rm("/mnt/axisDataLake/Delta Lake/Temp/CE/Cases/",recurse=True) inside Databricks Python defaulted Notebook and it comes up with the error:

`shaded.databricks.org.apache.hadoop.fs.azure.AzureException: hadoop_azure_shaded.com.microsoft.azure.storage.StorageException: This

[2022-08-11 22:19] MRayermannMSFT commented on #6013
And no other proxy entries? Ok well then let's just try:
1. Open to `<Storage Explorer install dir>\resources\app\ServiceHub\MSAL-Services\IdentityService\Microsoft.Developer.IdentityService.exe.config`
2. Delete the line with `defaultProxy`
3. Try running Storage Explorer again
4. If it fails, share the new set of authentication logs with us

[2022-08-11 22:22] JasonYeMSFT opened #6019 "Properties dialog fail to show certain properties when using system proxy"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-11 23:55] MRayermannMSFT commented on #6019
Opened a bug against Azure SDK to try and hash out a solution: https://github.com/Azure/azure-sdk-for-js/issues/22881

[2022-08-12 00:38] MRayermannMSFT commented on #6012
Sorry about this bit:

That's definitely an unrelated bug.

In the meantime, can you go to `<home/user directory>/.azcopy`, and then either:
1. Find the log file from your disk copy that failed. It should have the URL you pasted (https://md-impexp-zmnqnqmtbb44.z31.blob.storage.azure.net/rlbnq00pkrm5/abcd)
2. Try the transfer again, and when it fails, the newest log file will be the right one

Eith

[2022-08-12 00:39] MRayermannMSFT opened #6020 "User saw ErrorDetailsAzCopyLogFileMessage with `undefined` log location"
Figure out why and fix? Maybe just add an open log file action?

As reported here: https://github.com/microsoft/AzureStorageExplorer/issues/6012

[2022-08-12 08:53] blueww opened #6021 "Performance regression when copying big blob (e.g. 1TB) inside same account"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-12 08:54] v-kellyluo opened #6022 "The soft deleted blob still displays with strikethrough after successfully undeleting it"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220812.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.25.0)

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one

[2022-08-12 10:32] vidamaghami opened #6023 "Microsoft azure file storage error undefined reading 'version'"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-12 16:50] etrianaGIT commented on #277
I'm experiencing the same issue described by @AndrewCraswell.  In some cases the folder and subfolders are uploaded and in other cases they are not.  No errors are displayed, just the number of files processed is less than expected.  I have successfully uploaded the same folder name in another folder in the same blob container and it worked (i.e., uploaded the folder, files in it and subfolders).

[2022-08-12 16:57] dfran02 commented on #6013
That worked! Any chance you could explain _why_ it worked?

[2022-08-12 17:29] MRayermannMSFT commented on #5800
@v-xianya did you send me those? I couldn't find them when I tried looking this morning. Perhaps they've been lost to teams scrolling history.

Could you try to repro this on latest main, and if it still repros then send me the logs again? Both authentication and Storage Explorer logs. Please make sure to set Storage Explorer log level to `debug` and enable verbose authentication logging. Personal

[2022-08-12 18:10] s4758598 opened #6024 "Error during opening a folder inside a blob where a .zip should be stored. Error message: "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined""
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-12 18:13] MRayermannMSFT commented on #6019
Merged a temp workaround that filters our header name casing respecting to just headers starting with x-ms-meta.

[2022-08-12 20:24] JasonYeMSFT commented on #6024
I believe this is a duplicate of this issue https://github.com/microsoft/AzureStorageExplorer/issues/6008.

To workaround it, you can add the Content MD5 to the blob by script and make sure in the future your upload code also handles setting the Content MD5 value on the blob after each upload.

[2022-08-12 21:52] MRayermannMSFT commented on #6013
To be honest....nope! Something somewhere didn't like that section in the config. 🤷

[2022-08-15 02:01] v-xianya commented on #5800
@MRayermannMSFT I reproduced this issue on the latest main build 20220815.1 and sent the log on teams.

[2022-08-15 03:08] v-xianya commented on #6022
Verified this issue on the main build 20220815.1. Fixed. So, we are going to close it.

[2022-08-15 03:08] #6022 closed

[2022-08-15 06:01] v-xianya commented on #6009
Verified this issue on the main build 20220815.1.
1. This issue has been fixed for blob containers/tables.
2. This issue also reproduces for **queues.**

[2022-08-15 09:35] v-kellyluo opened #6025 "There is no traffic in Fiddler when executing the action ''Reset Column Order' for tables"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220815.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04
**Architecture:** ia32/x64
**How Found:** From running test case
**Regression From:** Previous release (1.24.3)

## Steps to Reproduce ##

1. Install and launch Fiddler -> Launch Storage Explorer.
2. Click 'Edit -> Configure Proxy' -> Select 'Use app proxy settings'

[2022-08-15 15:47] craxal commented on #6025
Network traffic is not a requirement to reset columns. Storage Explorer already has the column data it needs to reset column order without going to the server.

[2022-08-15 15:47] #6025 closed

[2022-08-15 16:01] craxal opened #6026 "Build and integrate table explorer in React"
[code]

[code]

[2022-08-15 17:20] MRayermannMSFT commented on #5899
@jis260 did you ever get in contact with @nakulkar-msft over email?

[2022-08-15 17:20] MRayermannMSFT commented on #5923
Closing due to lack of response. If you are still encountering this problem we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here. Thanks.

[2022-08-15 17:20] #5923 closed

[2022-08-15 17:21] MRayermannMSFT commented on #5854
@pintmil any response to @craxal 's question? Your bug is interesting to say the least.

[2022-08-15 17:21] MRayermannMSFT commented on #5927
Closing due to lack of response. If you are still encountering this problem we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here. Thanks.

[2022-08-15 17:21] #5927 closed

[2022-08-15 17:21] MRayermannMSFT commented on #5933
Closing due to lack of response. If you are still encountering this problem we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here. Thanks.

[2022-08-15 17:21] #5933 closed

[2022-08-15 17:21] MRayermannMSFT commented on #5936
Closing due to lack of response. If you are still encountering this problem we recommend opening a support ticket via the Azure Portal. Alternatively you can open a new issue here. Thanks.

[2022-08-15 17:21] #5936 closed

[2022-08-15 17:23] MRayermannMSFT commented on #6013
Going to close this as mitigated now. Please open a new issue if something else comes up. We don't look at closed issues very frequently.

[2022-08-15 17:23] #6013 closed

[2022-08-15 17:42] MRayermannMSFT commented on #6021
We're waiting on AzCopy to deliver us a flag which would allow us to use the server-side copy API. Once we have this flag we can investigate how we expose this flag. We'll put this in 1.27 for now, and at that time we'll re-evaluate where AzCopy is at with the flag.

Related to: https://github.com/microsoft/AzureStorageExplorer/issues/4464

[2022-08-15 17:46] MRayermannMSFT commented on #6005
@jsuddsjr to be clear are you using blob containers? Because if you are instead using file shares, those can be mounted as drives over SMB. So something for you to consider?

Also, if you need additional help with constructing AzCopy commands, we would recommend working directly with the AzCopy team here: https://github.com/Azure/azure-storage-azcopy/issues

[2022-08-15 20:34] jis260 commented on #5899
I sent an email to the email address on @nakulkar-msft GitHub profile, but I never received a reply. That's why I asked for confirmation above on 15 July.

[2022-08-15 21:03] JasonYeMSFT commented on #6023
@vidamaghami Could you please follow the instructions in our [troubleshooting guide](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#error-occurred-while-adding-new-connection-typeerror-cannot-read-property-version-of-undefined) to clear the corrupted connection?

[2022-08-16 01:12] fhryo-msft opened #6027 "Cold tier support on Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-16 01:21] hmeijer2 opened #6028 "Storage Explorer won't show Azure resources such as my storage accounts"
All good now, but for a while I wondered if a locally stored credential on my dev pc is corrupted after attempts to rename my profile folder (and in registry).

Solution: In Storage Explorer simple attach the resource and be sure to click Refresh All.

Until I found the solution above, the steps were:
1. Storage Explorer shows both my account **and** my subscription, **but** no resources.
2. I am

[2022-08-16 01:27] v-xianya commented on #6009
Verified this issue on the main build 20220816.1. Fixed. So, we are going to close it.

[2022-08-16 01:27] #6009 closed

[2022-08-16 01:28] Conguyen12 commented on #5923
Hi Matthew Rayermann

The issue is still happening, Can I book a meeting with you by MS team? please provide your suitable time.
[cid:278a83a6-7553-410e-9c25-60d5bbee0e37]

Thank and best regards

Co Nguyen
QE Lead

Cell:+84 <tel:%2B84%2093%20275%204422> 909088246

JABIL VIETNAM COMPANY LIMITED
Lot I8-1, Saigon Hi-Tech Park, Tan Phu Ward,
Thu Duc City , Ho Chi Minh City, Vietnam

_________________

[2022-08-16 06:20] leighghunt commented on #4641
Just to add data points, I was experiencing the same issue, ran the command above, and issue resolved without even having to restart Storage Explorer. Thanks :-)

[2022-08-16 07:12] chindris-mihai-alexandru opened #6029 "Authentication Error. Unable to access child resources"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-16 07:20] chindris-mihai-alexandru commented on #6029
Unable to establish connection using current proxy settings. Please verify current settings by accessing the proxy dialog in the toolbar.
<img width="625" alt="Screenshot_2" src="https://user-images.githubusercontent.com/12643176/184820817-eeba59f1-1eea-49ca-8284-72ae440f052b.png">

[2022-08-16 07:26] #6029 closed

[2022-08-16 07:49] hithisiskathirvel opened #6030 "Unable to retrieve child resources when working with .NET Windows storage emulator."
Hi Team,
 I have faced below issue, Please help me out,

TIA

![image](https://user-images.githubusercontent.com/104485020/184826500-d562c32c-ab6b-40d3-bc20-8c96857ee8f0.png)

[2022-08-16 08:14] jinglouMSFT commented on #6027
Once SDK is ready for consumption, we will add the support.

[2022-08-16 10:47] pwehland commented on #5131
This repro's on 1.25.1

[2022-08-16 11:22] sfrohreich83 commented on #6030
I am seeing this same issue

[2022-08-16 11:23] hithisiskathirvel commented on #6030
did u find  any solution

[2022-08-16 12:41] sophiegonzalez3 commented on #6030
same here

[2022-08-16 12:53] #6028 closed

[2022-08-16 12:54] hmeijer2 commented on #6028
All good now, see my update, thanks.

[2022-08-16 16:13] guruizzy commented on #5996
@JasonYeMSFT, I too am having this issue. Just installed Az Storage Explorer today (8/16/22) and tried to authenticate. I'm receiving the same SELF_SIGNED_CERT_IN_CHAIN error that @kokanogl was receiving. I checked the Proxy settings under "Configure Proxy" in the Edit menu and it is set to "Do not use proxy".

![image](https://user-images.githubusercontent.com/28577281/184928066-feee5fcb-f758-47d

[2022-08-16 16:14] guruizzy commented on #5996
Here is my error details:

`{
  "message": "\"{\\n  \\\"name\\\": \\\"Error\\\",\\n  \\\"message\\\": \\\"self signed certificate in certificate chain\\\",\\n  \\\"stack\\\": \\\"Error: self signed certificate in certificate chain\\\\n    at TLSSocket.onConnectSecure (node:_tls_wrap:1530:34)\\\\n    at TLSSocket.emit (node:events:526:28)\\\\n    at TLSSocket._finishInit (node:_tls_wrap:944:8)\\\\n

[2022-08-16 17:16] JasonYeMSFT commented on #5131
@pwehland We were told that the service issue was fixed in a previous major release except for pre-prod storage accounts. Are you using a pre-prod storage account? We are heavily relying on the service to return us the properties of the blobs/directories otherwise quite a few features won't work in Storage Explorer. If you can capture a Fiddler trace demonstrating the fact that the service is not

[2022-08-16 17:25] JasonYeMSFT commented on #5967
The sorting behavior is by design.

[2022-08-16 17:25] #5967 closed

[2022-08-16 17:27] JasonYeMSFT commented on #6030
Could you provide more details about the platform you are on, Storage Explorer version and what steps it takes for you to run into this issue? As the error messages suggests, you may have invalid characters in your resource name. What resource are you trying to access? Did you sign-in or attach to it?

[2022-08-16 17:29] JasonYeMSFT commented on #439
This will be added in 1.26.0.

[2022-08-16 17:29] #439 closed

[2022-08-16 17:51] sfrohreich83 commented on #6030
I have restarted app and appears to be working now

[2022-08-16 22:27] JasonYeMSFT opened #6031 "Theme of Eula dialog is incorrect"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-16 23:15] JasonYeMSFT commented on #4997
@keen85 It used to be due to us not being able to us auth credentials for the copy source. Now the limitation is gone and we have added clone/copy to gen2 storage accounts.

[2022-08-17 03:02] v-xianya commented on #6019
@MRayermannMSFT
Verified this issue on the build main 20220817.4.
1. This issue doesn't reproduce for blobs.
2. This issue reproduces for files.
![image](https://user-images.githubusercontent.com/41351993/185025011-074c0423-c57e-4323-92c1-0d08713faf1e.png)

[2022-08-17 04:03] hithisiskathirvel commented on #6030
Azure storage explorer Version: 1.25.0

While creating a blob container it is created successfully. But once we give an refresh in the blob. The above mentioned error came.

Container Name: docrepo

[2022-08-17 07:12] v-xianya opened #6032 "The border of one tab is incomplete when pressing 'Tab' to focus it"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220817.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Press 'Tab' to focus the Activities tab.
2. Check whether the border is

[2022-08-17 07:39] v-xianya opened #6033 "The path in the address bar is incorrect when quickly clicking 'Open' several times for one blob folder"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220817.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container named 'blob'-> Crea

[2022-08-17 09:09] hakeemmissa opened #6034 "Unable to connect to edge storage blob on eflow from storage explorer"
Deployed eflow on windows 10 pro and confirmed edgeblobstorage modules running in docker with no errors

Connection string :
DefaultEndpointsProtocol=https;BlobEndpoint=http://xx.xxx.24.254:11002/hmedgestoragesync;AccountName=hmedgestoragesync;AccountKey=sdgxoINCAKTMurbldr_UT17trog_6KdnvWM4ubskRBCLMGjQDa3yAW-Z2Xv2IhM3fsG7K8TL4SRhRO99pF6Wiw

Disabled firewall on windows host

Error
Unable to retrie

[2022-08-17 09:39] hakeemmissa commented on #6034
Storage explorer version is 1.25.

[2022-08-17 10:47] keen85 commented on #4997
Hi @JasonYeMSFT ,
First of all: that's great news! Thank you!

However, I am still missing the "**Clone**" button as mentioned above by @MRayermannMSFT:
!(Clone)[https://user-images.githubusercontent.com/21112697/135895804-e8811650-7150-4103-9447-181e62a2e13f.png]

Yes I can **_copy_** and **_paste_** files. But I can copy and paste (= duplicate/clone) it to the same location.

[2022-08-17 11:36] Arash-Sabet opened #6035 "Azure Storage Explorer fails to enlist files in a blob container pre-existing folder by issuing "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined" error message"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-17 14:26] SindhuSami opened #6036 "Facing issue: Unable to retrieve blob containers"
Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://mapssharedsthstorage01.blob.core.windows.net/?sv=2020-02-10&ss=bfqt&srt=sco&sp=rwlacuptfx&se=2030-06-22T16:45:28Z&st=2021-06-22T08:45:28Z&spr=https&SAS Token Redacted%E2%80%8B%E2%80%8B%E2%80%8B%E2%80%8B%E2%80%8B&comp=list&include=metadata failed, reason: unable to get local issuer certificate",

[2022-08-17 16:50] JasonYeMSFT commented on #6032
I'll see if I can fix it while working on https://github.com/microsoft/AzureStorageExplorer/issues/5985

[2022-08-17 17:59] MRayermannMSFT opened #6037 "Include snapshots, soft deleted, and version blobs in statistics"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-17 18:10] JasonYeMSFT commented on #4997
I see. Apparently our user study went a little off. We thought people would always want to use the atomic "Rename" and "Move" command in ADLS Gen2 since they are efficient and don't involve copying data. I will try to add it in 1.26.0 so it can be available together with Rename and Move.

[2022-08-17 18:36] MRayermannMSFT commented on #6035
@Arash-Sabet what version of Azurite are you using?

[2022-08-17 19:03] Arash-Sabet commented on #6035
@MRayermannMSFT The azurite instance exists in the docker and it has to be the latest version per the following yaml entry:

[code]

Issuing `azurite --version` through the docker's console reveals version 3.16.0

[2022-08-17 19:07] MRayermannMSFT commented on #1221
@yaohualibin yes we have plans for this feature. We will be:
- adding a checkbox to the prompt dialog to always use your answer going forward for the file being asked about
- adding a global setting to disable the feature entirely
- not prompting you if the file is deleted

[2022-08-17 19:10] MRayermannMSFT commented on #5974
Duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/1221

[2022-08-17 19:10] #5974 closed

[2022-08-17 19:43] JasonYeMSFT commented on #6034
ECONNREFUSED error usually indicates there is no service listening to the port at 11002. If you have access to the edge device, could you log into it and check if the IoT blob storage module is still running?

[2022-08-17 19:59] hakeemmissa commented on #6034
The service is indeed running on port 11002. the logs are fine and so is the result of inspecting the container
![image](https://user-images.githubusercontent.com/18409701/185231166-52f0a726-0d8a-4107-98a5-8346975e5662.png)

[2022-08-17 20:03] hakeemmissa commented on #6034
First line is a custom module that is writing to edge blob storage module on second line, that is synched with cloud blob storage

[2022-08-17 20:10] hakeemmissa commented on #6034
And maybe a related question is how do you copy a file out of eflow to the windows host?
I am unable to mount a share in eflow linux console because, apparently the "filesystem is readonly"

[2022-08-17 22:35] #5850 closed

[2022-08-18 12:24] byvalentino opened #6038 "Access error to Storage Account from Microsoft Storage Account Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-18 19:07] philkloose opened #6039 "Download to Root of Local Drive Fails"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-19 07:43] klachoo commented on #4912
@MRayermannMSFT I know this has been closed however I have investigated it recently and will post my findings for the sake of completeness.
I noticed that these null characters (rendered as 'boxes' in Azure Storage Explorer) appear only for the messages that are put in a DeadLetterQueue. Inspecting the code for construction of a dead letter queue message revealed that these null characters appear

[2022-08-19 08:51] v-kellyluo opened #6040 "The ADLS Gen1 explorer displays empty under the 'Light' theme"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220818.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous release (1.25.1)

## Steps to Reproduce ##

1. Launch Storage Explorer -> Change the theme to "Light".
2. Expand 'Data Lake Storage Gen

[2022-08-19 09:29] menozz commented on #6030
same problem
![image](https://user-images.githubusercontent.com/339491/185588540-3cfe596e-9403-4b90-89d8-450f2c2f4f25.png)

`  "name": "RestError",
  "message": "The specifed resource name contains invalid characters.\nRequestId:fb61c327-b595-40c8-8f1c-67034d15f503\nTime:2022-08-19T09:19:41.7299470Z",
  "stack": "RestError: The specifed resource name contains invalid characters.\nRequestId:fb61c32

[2022-08-19 14:56] rene-medina opened #6041 "Unable to retrieve child resources - after upgrade to the latest version"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-19 16:35] JasonYeMSFT commented on #6040
May be related to https://github.com/microsoft/AzureStorageExplorer/issues/6031

[2022-08-19 18:09] MRayermannMSFT commented on #1221
I've just merged those 3 things, so they'll definitely be in our 1.26 release which is currently targeting end of September. I'll leave this issue open a few more days incase y'all have any extra feedback for us to consider.

[2022-08-19 21:04] JasonYeMSFT commented on #6041
Could you try these steps to see if you can use system proxy or re-add the missing certificates? https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#ssl-certificate-issues

[2022-08-19 21:10] JasonYeMSFT commented on #6038
Could you try these steps to see if you can use system proxy or re-add the missing certificates? https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#ssl-certificate-issues

[2022-08-19 21:12] JasonYeMSFT commented on #6035
I believe this is a duplicate issue of https://github.com/microsoft/AzureStorageExplorer/issues/6008. You can workaround it by manually setting the content MD5 on the problematic blob.

[2022-08-19 21:12] #6024 closed

[2022-08-19 21:12] #6035 closed

[2022-08-19 21:14] JasonYeMSFT commented on #6036
Could you try these steps to see if you can use system proxy or re-add the missing certificates? https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#ssl-certificate-issues

[2022-08-20 00:22] jinglouMSFT commented on #12
Keyboard shortcuts are listed here: https://docs.microsoft.com/en-us/azure/vs-azure-tools-storage-explorer-accessibility?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json.  Editor refresh: Ctrl+R
Also, we now support small size toolbar buttons. Chances of buttons being hidden under "More" became smaller.  This is configurable under the settings page:  Auto, Large, Small.  You can do this under Settings->D

[2022-08-20 07:31] Mike-E-angelo commented on #12
Hi @jinglouMSFT `F5` is typically used for refreshing a web page and a good number of applications use it to refresh any state as well.

[2022-08-22 08:25] v-xianya opened #6042 "The 'File Changes Detected' dialog pops up again when saving files with changes even if the checkbox is checked at its first change"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220822.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. O

[2022-08-22 12:15] robinstauntoncollins opened #6043 "Unable to load blob containers from Emulator - after upgrade to latest version"
## Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X]  I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-22 12:43] robinstauntoncollins commented on #6043
After a quick look, appears to be same issue as #6030

[2022-08-22 13:12] robinstauntoncollins commented on #6043
Issue doesn't seem to appear with Azurite but with only Storage Emulator

[2022-08-22 16:08] MRayermannMSFT commented on #5946
Closing due to lack of response. If you are still encountering this issue, we recommend opening a support ticket via the Azure portal. Alternatively you can open a new issue here.

[2022-08-22 16:08] #5946 closed

[2022-08-22 16:09] MRayermannMSFT commented on #5957
Closing due to lack of response. If you have further questions about table queries to help you get to the newest entities, feel free to open a new issue.

[2022-08-22 16:09] #5957 closed

[2022-08-22 17:12] MRayermannMSFT commented on #6030
@robinstauntoncollins @menozz @hithisiskathirvel @sophiegonzalez3 @sfrohreich83 yes this is likely due to you using the deprecated .NET based storage emulator. You'll either need to migrate to Azurite or use a version 1.24 of Storage Explorer for now.

Can y'all enlighten us as to why you have not yet moved to Azurite? Doing so will help us understand how we treat this issue. Thanks.

[2022-08-22 17:13] MRayermannMSFT commented on #6043
Closing as dupe of #6030. Thanks for including all the extra helpful on this issue by the way. Makes a big difference when we know an issue is specific to emulator vs live Azure.

[2022-08-22 17:13] #6043 closed

[2022-08-22 17:16] MRayermannMSFT commented on #6042
@v-xianya for clarification, in step 5, are you saying that you double clicked on the blob again in Storage Explorer? If so then this is expected. Every time you double click/use the open command on a blob, Storage Explorer will:
1. Download the blob to a unique location
2. Open it in the default editor
3. Watch that specific file for changes

The checkbox only applies to that specific file repres

[2022-08-22 17:24] MRayermannMSFT commented on #5996
@guruizzy please try enabling system proxy as @JasonYeMSFT suggested. Thanks.

[2022-08-22 21:20] JasonYeMSFT commented on #6039
@philkloose Do you have Windows installed on the drive you are trying to download data to? I can only reproduce this error if I download data to my drive with Windows installed.

[2022-08-22 22:59] jinglouMSFT commented on #12
F5 currently is associated with the Run command for querying Tables.  If majority of our users prefer F5 for Refresh, we certainly can consider making the change.

[2022-08-22 23:37] #5985 closed

[2022-08-23 01:12] JasonYeMSFT opened #6044 "Update the rehydrate priority description to be more clear on cost"
The 15 hour measurement is for blobs with 10 GB of data. We should make it clear that for larger amounts of data, the rehydration time may be longer.

[2022-08-23 03:13] v-xianya commented on #6042
@MRayermannMSFT Thanks for the clarification. It makes sense.
We are going to close this issue.

[2022-08-23 03:13] #6042 closed

[2022-08-23 04:07] michaelo-numerik commented on #6010
I'm getting the same error on Storage Explorer 1.25.1 when connecting to the same version of [Azure Storage Emulator](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) as thalesx (5.10.0.0).

While Azure Storage Emulator is deprecated in favor of Azurite, the Storage Explorer docs state that it is [still a supported emulator](https://docs.microsoft.com/en-us/azure/vs-azur

[2022-08-23 07:56] Mike-E-angelo commented on #12
Thank you for the reply @jinglouMSFT.  To be certain, I am specifically referring to list views when viewing common components such as queues and storage containers.  I am pressing F5 in these views and nothing is happening, so it appears this key is available in this scenario.  Thank you for any further consideration.

[2022-08-23 08:33] benjarongn opened #6045 "error and can't reauthen to mystroageaccount using"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-23 13:32] j-c-servier commented on #6036
That worked for me!  I had same issue ("unable to get local issuer certificate") for File Shares.  Used system proxy and now I can access file shares.  Thank you, Jason.

[2022-08-23 14:57] philkloose commented on #6039
@JasonYeMSFT I do not have Windows installed on the destination drive.  It was my H: drive and my Windows install lives on my C: drive.

[2022-08-23 16:11] donpare opened #6046 "Attached Blob Container Error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-23 18:22] #1221 closed

[2022-08-23 21:57] MRayermannMSFT commented on #2586
- [ ] Create new queries after changing event names
- [ ] Try to de-dupe the skip & save code
- [ ] Clean up strings
- [ ] Clean up blob transfer code

[2022-08-23 23:01] JasonYeMSFT commented on #6034
I did a little bit research and the container config looks correct to me. I think you can look at your docker host's network to see if there is any clue. Let's try pinging the host ip to see if it is reachable. Is you hosted machine a VM or a physical machine with an assigned public ip? If it's a VM maybe the ip address has changed (e.g. rebooted VM on Azure may get a different ip). Another potent

[2022-08-24 08:03] v-kellyluo opened #6047 "There is a successful activity log when deleting one empty folder in one attached file share which SAS URL is created by an access policy (List, Read)"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220824.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> File Shares.
2. Create a file share -> Create a folder.
3. Right click the f

[2022-08-24 10:26] v-xianya opened #6048 "Bypass doesn't take effect for 'Table Statistics'"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220824.2
**Branch**: main
**Platform/OS**: Windows 10
**Architecture**: ia32
**How Found**: From running test case
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Install and launch Fiddler -> Launch Storage Explorer.
2. Click 'Edit -> Configure Proxy' -> Select 'Use app proxy settings' -> Set the URL: 'http:/

[2022-08-24 11:34] alvipeo opened #6049 "Please add "Do not show again" for "Enable Soft Delete""
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-24 13:45] kjhf opened #6050 ""Add an account..." is misleading for account management"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-24 13:59] Arash-Sabet commented on #6035
The blob is not problematic and the issue is that a pre-existing folder in a blob container cannot be viewed to browse its contents. I don't if your solution is right.

[2022-08-24 14:43] DanBer39 commented on #1678
Just try to check one of the boxes listed on account tab of the Azure storage explorer to show your ayure subscription listed on Azure storage explorer

[2022-08-24 16:26] MRayermannMSFT commented on #5331
@machowsk can you please try using Storage Explorer 1.26 and let me know if this still reproduces for you? We upgraded the version of the component that was causing your issue.

[2022-08-24 17:00] JasonYeMSFT commented on #6035
@Arash-Sabet Could you write a script to list the blobs in the affected folder and check if all the blobs in it have their Content-MD5 set? This is a common issue that can be caused by writing with scripts because the script author sometimes forgets to set the Content-Md5 after committing the content of the blob.

[2022-08-24 17:36] davsta90 commented on #6038
I have a related issue with the same build.
1. On Server 2022, the explorer lists the storage accounts of my group subscriptions, but on a PIM subscription I receive this error Unable to retrieve child resources.
Details:
{
  "message": "{}"
}
2. On Win11, instead, the storage accessed via PM is not listed and no error is triggered when I try to refresh.

[2022-08-24 17:48] davsta90 commented on #6041
I have a related issue with the same build.

On Server 2022, the explorer lists the storage accounts of my group subscriptions, but on a PIM subscription I receive this error Unable to retrieve child resources.
Details:
{
"message": "{}"
}
On Win11, instead, the storage accessed via PM is not listed and no error is triggered when I try to refresh.

importing the certificate did not help.
![image](

[2022-08-24 17:51] Arash-Sabet commented on #6035
@JasonYeMSFT I'm afraid that I won't be able to make time to write a script.

Just as a background, this is how the folder created in the blob container in our docker project:

- We defined the environment variable of `WEBSITE_SITE_NAME=myfolder` in the `.env` file
- We build our azure function image like the following pattern *(I removed unnecessary environment variables)*:

[code]

When the dock

[2022-08-24 17:55] JasonYeMSFT commented on #6011
I fixed a few potential race conditions that may trigger this error. I am going to close this bug. If this ever reproduces, please reopen it and let us know.

[2022-08-24 17:55] #6011 closed

[2022-08-24 18:06] #5758 closed

[2022-08-24 18:17] JasonYeMSFT commented on #6047
AzCopy attempts to list the directory to delete, get an 404 because it doesn't have enough permission and assumes it has been deleted. There is no way we can tell whether the access policy has the required permission. We'll keep this behavior as by design for now.

[2022-08-24 18:17] #6047 closed

[2022-08-24 18:41] MRayermannMSFT commented on #5800
Closing this as won't fix. This behavior is a result of the fact that within the MSAL cache, these are the same accounts. Identity team does not see this behavior being worth changing.

[2022-08-24 18:41] #5800 closed

[2022-08-24 23:47] MRayermannMSFT opened #6051 "Reintroduce Chromium credits file"

[2022-08-25 02:16] v-kellyluo commented on #6047
@JasonYeMSFT ,thank you for the update, but this issue doesn't reproduce for ADLS Gen2 folder, there is a failed activity log when deleting one empty ADLS Gen2 folder, is there any difference?
![image](https://user-images.githubusercontent.com/87792676/186558636-0872c5a4-35e1-48cf-a11f-76bafe683c71.png)

[2022-08-25 02:24] v-xianya commented on #6015
Verified this issue on the build main/20220825.4. Fixed. So, we are going to close it.

[2022-08-25 02:24] #6015 closed

[2022-08-25 05:57] v-xianya commented on #6011
Verified this issue on the build main 20220825.4. Fixed.

[2022-08-25 08:18] v-xianya opened #6052 "The value of the 'sr' is 'c' in the URL against one ADLS Gen2 folder/blob"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220825.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5.1 (Apple M1 Pro)
**Architecture**: ia32/x64
**How Found**: From running test cases
**Regression From**: Previous release (1.25.1)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container ->

[2022-08-25 08:32] HassanBadir opened #6053 "Accessing Storage Emulator Blob Containers Error: Unable to retrieve child"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-25 09:30] v-xianya opened #6054 "There is an extra scrollbar in the 'Shared Access Signature' dialog for ADLS Gen2 folder/blob when selecting one access policy"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220825.4
**Branch**: main
**Platform/OS**: Windows 10
**Architecture**: ia32
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.23.1)

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Right click one blob container -> Click 'Manage Access Policies...'.
3. Add one access policy ->

[2022-08-25 09:51] vanillajonathan opened #6055 "Download an entire blob container"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-25 15:01] rene-medina commented on #6041
Thank you Jason, I'll give it a try and let you know, 
Thanks,
-RM

    On Friday, August 19, 2022 at 05:04:12 PM EDT, JasonYeMSFT ***@***.***> wrote:

Could you try these steps to see if you can use system proxy or re-add the missing certificates? https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#ssl-certificate-issues

—
Reply to this emai

[2022-08-25 15:23] dipalikorat commented on #6053
I am getting the same issue. would you please give an estimate when this will be fixed? It's a blocker for my work.

[2022-08-25 19:26] jinglouMSFT commented on #6053
Thanks for the report. From the two attached log files, the "invalid" container was the $blobchangefeed container.  We added the support of this container in v1.25.0.  One question for you all, are you using Azurize as your emulator or the Windows storage emulator?  If Windows storage emulator, since it has already been deprecated (see here:
https://docs.microsoft.com/en-us/azure/storage/common/st

[2022-08-25 21:01] #6031 closed

[2022-08-25 21:01] #6040 closed

[2022-08-25 23:46] jinglouMSFT commented on #6055
Dup of #5050

[2022-08-25 23:46] #6055 closed

[2022-08-26 01:26] v-xianya commented on #6052
Verified this issue on the build main/20220826.1. Fixed. So, we are going to close it.

[2022-08-26 01:26] #6052 closed

[2022-08-26 01:56] v-kellyluo commented on #6040
Verified this issue on the build main/20220826.1. Fixed.

[2022-08-26 07:37] v-xianya opened #6056 "There is an extra scrollbar in the 'Shared Access Signature' dialog for one table/storage account"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220826.1
**Branch**: main
**Platform/OS**: Windows 10
**Architecture**: ia32
**How Found**: From running test cases
**Regression From**: Previous release (1.25.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create one table -> Right click it.
3. Click 'Get Shared Access Signature...'.
4. Check there is no extra

[2022-08-26 08:55] v-xianya commented on #6033
Verified this issue on the build main/20220826.1. Fixed. So, we are going to close it.

[2022-08-26 08:55] #6033 closed

[2022-08-26 13:22] winseros commented on #6053
I was using the [Azure Storage Emulator](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) when faced the issue.

[2022-08-26 14:10] dipalikorat opened #6057 "Load Storage Account Error"
When I try to get access to any of the storage account, it gives me this error
Unable to establish connection using current proxy settings. Please verify current settings by accessing the proxy dialog in the toolbar.
The custom connection with ID 'storage account name' cannot be found.

This issue has started after I updated my storage explore version to v1.25.1.

[2022-08-26 18:12] jinglouMSFT commented on #6053
@winseros Have you tried Azurite, a cross platform Azure storage emulator?

[2022-08-26 18:57] dipalikorat commented on #6053
I am using Azurite and still not working. It doesn't give me any error but not showing any containers either.

[2022-08-26 19:08] #6051 closed

[2022-08-26 19:16] jinglouMSFT commented on #6053
Dup of #6030. Please follow #6030 for the latest update of the issue. Thanks.

[2022-08-26 19:18] jinglouMSFT commented on #6053
@dipalikorat If you just switched to Azurite from the Windows storage emulator, your existing content in the Windows storage emulator would exist in Azurite. Unfortunately the emulators don't have the export/import features.

[2022-08-26 21:27] JasonYeMSFT opened #6058 "Investigate enabling promote blob version in Azure AD attached containers"
Related to https://github.com/microsoft/AzureStorageExplorer/issues/4626.

We might be able to do it now since AzCopy added support to share azure ad credential between src and dst.

[2022-08-26 22:17] #5852 closed

[2022-08-26 23:47] #6053 closed

[2022-08-27 05:16] pbabahajur commented on #2680
Hi, how did you solve it? What permission do you require? In my case, I have been uploading files, however, just during the upload it failed and now it's giving the "UnexpectedCancel" error.

[2022-08-29 03:13] v-xianya commented on #5924
Verified this issue on the build main 20220829.1.
1. This issue is fixed for regular blobs.
![image](https://user-images.githubusercontent.com/41351993/187115791-e5e71e47-bd91-499d-bf89-494311e1e888.png)

2. This issue still reproduces for files & ADLS Gen2 blobs.

[2022-08-29 07:07] v-xianya opened #6059 "There is no action 'Preview...' for blobs under the Snapshots/Versions view"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220829.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload o

[2022-08-29 07:27] v-xianya opened #6060 "It would be better to remove the '...' next to the action 'Preview'"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220829.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Ri

[2022-08-29 07:35] Smallbos2020 opened #6061 "not refreshing"
This request is not authorized to perform this operation.

This storage account's 'Firewalls & virtual networks' settings may be blocking access to storage services. Try adding your client IP address to the firewall exceptions, or by allowing access from 'all networks' instead of 'selected networks'. To learn more about Azure Storage firewalls and virtual networks, visit http://go.microsoft.com/fw

[2022-08-29 08:12] winseros commented on #6053
For me everything works fine with Azurite,

[2022-08-29 08:27] unknowndpi opened #6062 "Unable to authenticate to Azure"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-29 08:29] unknowndpi commented on #6062
Note no proxy is in use

[2022-08-29 09:11] unknowndpi commented on #6062
Switching settings from the recommended 'Default Web Browser' (Edge 104.0.1293.70) to 'Integrated Sign-in' is a workaround

[2022-08-29 09:50] v-kellyluo opened #6063 "The error message is localized incompletely when typing an invalid query in the table text editor"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220829.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Languages:** All languages
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Previous build (20220712.2)

## Steps to Reproduce ##

1. Launch Storage Explorer -> Open 'Settings' -> 'Applicatio

[2022-08-29 09:51] v-kellyluo opened #6064 "The value of Attributes column is not localized in one file share"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220829.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Languages:** All languages
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer -> Open 'Settings' -> 'Application -> Region

[2022-08-29 13:17] TimothyFerrelli commented on #6046
I had this same issue, I opened up Microsoft Azure Storage Explorer and Detached the ingestiondata blob storage. I then Connect to Azure resources
![image](https://user-images.githubusercontent.com/98750473/187210030-d5d1a9c3-f717-4b57-85de-fdb456f5fea6.png)

Blob Container
![image](https://user-images.githubusercontent.com/98750473/187209976-61af4081-3c50-4691-9f9d-f95c54f9b295.png)

Shared acces

[2022-08-29 16:22] #6063 closed

[2022-08-29 16:57] JasonYeMSFT commented on #5975
Closing due to lack of response. If you still have issue, please open a new issue with the additional information.

[2022-08-29 16:57] #5975 closed

[2022-08-29 16:58] JasonYeMSFT commented on #5980
Closing due to lack of response. If you still have issue, please open a new issue with the additional information.

[2022-08-29 16:58] #5980 closed

[2022-08-29 16:59] JasonYeMSFT commented on #5981
Closing due to lack of response. If you still have issue, please open a new issue with the additional information.

[2022-08-29 16:59] #5981 closed

[2022-08-29 17:00] JasonYeMSFT commented on #5993
Closing due to lack of response. If you still have issue, please open a new issue with the additional information.

[2022-08-29 17:00] #5993 closed

[2022-08-29 17:03] JasonYeMSFT commented on #6036
Closing as mitigated.

[2022-08-29 17:03] #6036 closed

[2022-08-29 17:06] JasonYeMSFT commented on #6045
Are you behind a proxy? If you are, you will need to go to Settings and choose "Use app proxy" and enter your proxy settings or choose "Use system proxy".

[2022-08-29 17:09] JasonYeMSFT commented on #6046
@donpare Could you try these steps to remove the potentially corrupted connection data and re-attach it? https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2204#error-occurred-while-adding-new-connection-typeerror-cannot-read-property-version-of-undefined

[2022-08-29 17:11] JasonYeMSFT commented on #6049
The main purpose of the dialog is to let you confirm the delete action. Even if we hide the button we will still prompt every time in case you accidentally pressed Delete key.

[2022-08-29 17:15] JasonYeMSFT commented on #6064
These strings directly come from the service. There is no way we can localize them.

[2022-08-29 17:15] #6064 closed

[2022-08-29 17:20] JasonYeMSFT commented on #6062
What did you see in step 5 when it attempts to load from the localhost? Does the browser gives any error message or it doesn't respond?

[2022-08-29 17:22] JasonYeMSFT commented on #6061
Did you check if the storage account has firewall enabled and if your user account has the rbac role that grants you permissions to list blob containers?

[2022-08-29 17:23] unknowndpi commented on #6062
The connection for this site is not secure.
localhost sent an invalid response.
ERR_SSL_PROTOCOL_ERROR

[2022-08-29 17:23] JasonYeMSFT commented on #6059
I think this would be good to have for this feature.

[2022-08-29 17:26] JasonYeMSFT commented on #6057
Have you tried enabling proxy in the proxy settings?

[2022-08-29 17:52] JasonYeMSFT commented on #6039
@philkloose Could you check if there is any protection bit set on the drive you are trying to download to? Does it have bitlocker enabled?

[2022-08-29 18:49] JasonYeMSFT commented on #6062
The cause might be something forcing the localhost to use https, which isn't supported yet. Could you take a look at this issue and see if you can find anyone describing your situation? https://github.com/microsoft/AzureStorageExplorer/issues/4342

[2022-08-29 22:37] alvipeo commented on #6049
Confirmation is fine! But asking to enable feature every time I just need to delete a blob - annoying really.

[2022-08-30 03:06] v-xianya commented on #6056
This issue also reproduces for storage account.
![image](https://user-images.githubusercontent.com/41351993/187339720-7c48538e-26bb-4eef-920c-fe667fb722ac.png)

[2022-08-30 06:46] v-xianya opened #6065 "Fail to clone/paste one blob under the attached blob container which SAS URL is created by 'User delegation key' (full permissions)"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220830.1
**Branch**: main
**Platform/OS**: Windows 10
**Architecture** ia32
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Select one storage account -> Give the account with 'Storage Blob Data Contributor' rbac role.
2. Expand the storage account -> Blob Containers.
3. Create on

[2022-08-30 07:55] v-xianya opened #6066 "An error occurs when creating SAS URL by selecting 'User delegation key & access policy'"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220830.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Right click one blob container -> Click 'Manage A

[2022-08-30 16:35] craxal commented on #6007
This only reproduces in the Light theme. The bug is due to a mistyped color value missing the "#".

[2022-08-30 16:53] JasonYeMSFT commented on #6066
If generating SAS with user delegation key, it cannot use an access policy. I am working on the UI change to hide and ignore the access policy if generating SAS with user delegation key.

[2022-08-30 17:28] JasonYeMSFT commented on #6065
AzCopy uses Get Account Information API during the s2s copy if it is set to preserve access tier. and it doesn't support user delegation SAS at the moment. https://docs.microsoft.com/en-us/rest/api/storageservices/get-account-information#authorization. A workaround could be disabling preserve access tier.

[2022-08-30 18:36] philkloose commented on #6039
@JasonYeMSFT Nope, no BitLocker or protection bit that I'm aware of.  It's an Azure VM with a disk attached.  The H: drive is a GPT (primary) partition, Basic, single volume, NTFS.

[2022-08-31 01:33] v-xianya commented on #6007
Verified this issue on the build main/20220831.1. Fixed. So, we are going to close it.

[2022-08-31 01:33] #6007 closed

[2022-08-31 01:37] v-xianya commented on #5960
Verified this issue on the build main/20220831.1. Reproduce.

[2022-08-31 14:01] avn2006 opened #6067 "error on opening Blob Containers or File Shares"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-08-31 15:42] NiyiAdekunle opened #6068 "Error on opening Storage Explorer"
Unable to retrieve child resources.

Details:
Invalid initialization vector

![image](https://user-images.githubusercontent.com/88796954/187720948-c012eded-3981-4d23-850e-67ba9c31f79d.png)

[2022-08-31 16:33] craxal commented on #5901
@v-kellyluo This appears to be fixed as of Azurite 3.19.0.

[2022-08-31 16:33] #5901 closed

[2022-08-31 16:43] craxal commented on #6050
@kjhf Actually, "account" in this context is meant to refer to an Azure user account. This panel is meant only to manage signed in Azure accounts, tenants, and subscriptions. What we can do is modify the behavior of the "Add an account..." link to open the Connect dialog to the appropriate starting panel to prevent confusion.

[2022-08-31 18:02] JasonYeMSFT opened #6069 "Disable preview command if selected blob is in archive tier"

[2022-08-31 19:00] JasonYeMSFT commented on #4115
This will be done in 1.26.0

[2022-08-31 19:01] JasonYeMSFT commented on #4115
https://github.com/microsoft/AzureStorageExplorer/issues/5441

[2022-08-31 19:42] richardcho-msft commented on #4562
@JasonYeMSFT I think you assigned to wrong person :)

[2022-08-31 20:21] JasonYeMSFT commented on #4562
@richardcho-msft Sorry, I fixed it.

[2022-08-31 20:32] JasonYeMSFT commented on #3938
In 1.25.0 we added our own Getting Started panel, like the VSCode one in the screenshot above. In the Getting Started panel there is a checkbox that allows you to dismiss the panel so that it won't show up.

[2022-08-31 20:32] #3938 closed

[2022-08-31 20:34] JasonYeMSFT commented on #6065
Talked to AzCopy about this issue and they said they will improve the error reporting for this scenario. Other than that, the result is expected.

[2022-08-31 20:34] #6065 closed

[2022-08-31 21:34] craxal commented on #6048
From what I can gather, the correct proxy settings are getting passed to the constructor for the Azure table client. So it seems that the table client is not picking up the new proxy settings. I'm following up with the table client SDK team.

[2022-09-01 01:24] v-kellyluo commented on #5901
Verified this this issue after installing Azurite 3.19.0. Fixed.

[2022-09-01 01:32] v-kellyluo commented on #5960
Verified this issue on the build main/20220901.1. Fixed.

[2022-09-01 01:32] #5960 closed

[2022-09-01 02:16] v-xianya commented on #3405
Verified this issue on the build main/20220901.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/187817981-4c687f09-21b0-4e6e-9470-ac465915ed5b.png)

[2022-09-01 02:16] #3405 closed

[2022-09-01 02:30] v-xianya commented on #6066
Verified this issue on the build main 20220901.1.
 The 'Access policy' option is hided when selecting 'User delegation key'. The issue got fixed. So, we are going to close it.

![image](https://user-images.githubusercontent.com/41351993/187819244-bd6e746b-e1bb-4ab2-979a-7b71fb6eceb3.png)

[2022-09-01 02:30] #6066 closed

[2022-09-01 02:51] v-xianya commented on #6060
Verified this issue on the build main/20220901.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/187821797-32d187ba-3b78-44e1-be79-bcb35ec99366.png)

[2022-09-01 02:51] #6060 closed

[2022-09-01 02:54] v-xianya commented on #6059
Verified this issue on the build main 20220901.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/187822089-065908b0-c0d0-4d25-86f6-06911df29b19.png)

[2022-09-01 02:54] #6059 closed

[2022-09-01 08:00] v-xianya commented on #6054
Verified this issue on the build main/20220901.1. Fixed. So, we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/187863173-058df926-7813-45a6-9ff0-f27b9b294e4c.png)

[2022-09-01 08:00] #6054 closed

[2022-09-01 09:07] v-xianya commented on #6056
Verified this issue on the build main/20220901.1.
1. There is no extra scrollbar for tables.
2. There is an extra scrollbar for storage accounts.

[2022-09-01 10:22] unknowndpi commented on #4342
Adding comments to both issue numbers in case someone searches it.

Disabling following flag is the solution in MS Edge (tested in version 104) - edge://flags/#edge-automatic-https

Cache needs to be cleared otherwise HSTS will report 'localhost' domain with flag _dynamic_upgrade_mode: FORCE_HTTPS_
You can query HSTS by going to edge://net-internals/#hsts

Alternative workaround is as mentioned pr

[2022-09-01 10:22] unknowndpi commented on #6062
Adding comments to both issue numbers in case someone searches it.

Disabling following flag is the solution in MS Edge (tested in version 104) - edge://flags/#edge-automatic-https

Cache needs to be cleared otherwise HSTS will report 'localhost' domain with flag _dynamic_upgrade_mode: FORCE_HTTPS_
You can query HSTS by going to edge://net-internals/#hsts

Alternative workaround is as mentioned pr

[2022-09-01 10:55] syspro-chrisvogt opened #6070 "Separate Event Viewer log"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-01 13:54] pintmil commented on #5854
@craxal @MRayermannMSFT sorry i was on holiday. I use the software on a HP Zbook g4 laptop my linux partition is on a nvme ssd with xfs filesystem, nothing special. Everything else of my softwares work fine. Also i can save the blobs with the AzureStorageExplorer, just the csv export fails.

[2022-09-01 16:12] TurakKatase commented on #6030
My team is impacted by this issue as well. The reason we hadn't yet moved to Azurite was due to the lack of support for table storage in v3 and some other needed feature missing from v2. That appears to have been solved.

[2022-09-01 16:38] craxal commented on #5854
@pintmil The only difference I can think of between blobs and tables as far as file system access is concerned is Blobs uses AzCopy, whereas Tables uses Node's `fs` module. Can you upload or download .csv blobs? Have you tried the .tar.gz distribution to see if it has the same problem?

[2022-09-02 05:05] arneshchopra opened #6071 "{ "message": "\"UnexpectedCancel\"" }"
Trying to upload a file but keep getting the same error. It's a critical issue as an important daily use case depends on it.  I hope for a good and early reply.

Thank you

[2022-09-02 05:43] v-kellyluo commented on #3343
Verified this issue on the build main/20220902.1. Fixed. So, we are going to close this issue.

[2022-09-02 05:43] #3343 closed

[2022-09-02 06:16] v-xianya commented on #6019
Verified this issue on the build main/20220902.1. Fixed.

[2022-09-02 07:04] prayaas-a opened #6072 "Add native Arm64 support on Windows"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-02 14:59] jarens777 opened #6073 "Unable to access any Blob Containers using Storage explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-02 15:33] jarens777 commented on #6073
Turns out it's our company web filtering, please archive this case

[2022-09-02 15:33] #6073 closed

[2022-09-02 20:10] craxal commented on #5711
@v-kellyluo Does this still reproduce for you? I've seen the prompt before, but I can't get it to reproduce at all on my Ubuntu 20.04 machine. Are you using the snap or the .tar.gz distribution?

[2022-09-05 06:36] v-kellyluo commented on #5711
@craxal, Verified this issue on the build main/20220904.1, it still reproduces on my Ububtu 20.04 machine.

1. When Storage Explorer is installed by snap, it reproduces consistently.
2. When Storage Explorer is installed by .tar.gz, this issue doesn't reproduce when firstly uploading files.

[2022-09-05 09:45] fratiigrimm opened #6074 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "getaddrinfo ENOTFOUND sastaticypii2ymfqcrzy.table.core.windows.net",
  "stack": "RestError: getaddrinfo ENOTFOUND sastaticypii2ymfqcrzy.table.core.windows.net\n    at ClientRequest.<anonymous> (C:\\Users\\frati\\AppData\\Local\\Programs\\Microsoft Azure Storage Explorer\\resources\\app\\node_modules\\se-table-exte

[2022-09-05 19:18] lizzbazan commented on #6074
Same issue, please solve this, this started after I installed the last version 1.25.1

[2022-09-06 06:11] v-kellyluo commented on #5385
Verified this issue on the build main/20220904.1. Fixed. So, we are going to close it.

[2022-09-06 06:11] #5385 closed

[2022-09-06 08:15] Beginner045 opened #6075 "Authentication library failed to start properly. .NET Framework 4.7.2 or greater already installed. Error:connect EPERM \\?\pipe\10a592c808b64f95ac8c2f5d0a3737fc"
I downloaded the latest version of Azure Storage Explorer for Windows 10 from: [Azure Storage Explorer downloads pages](https://azure.microsoft.com/en-us/products/storage/storage-explorer/).
My machine has all the prerequisites met.
1. Windows 10 enterprise version installed
2. Storage Explorer Version installed 1.25.1
3. .NET ver 4.8.04084 ( above 4.7.2) already installed.
4. Please find below th

[2022-09-06 09:18] v-kellyluo opened #6076 "An info bar prompts when attaching one secondary blob container which SAS URL is created by 'User delegation key'"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220904.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture:** ia32/x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Select one storage account -> Give the account with 'Storage Blob Data Contributor' rbac role.
2.

[2022-09-06 12:05] ilyaploshchik commented on #6074
Same issue persists! I hvae 1.25.1 installed as well.

[2022-09-06 13:04] LightDiode commented on #6074
The same issue. Cannot get any blobs from the emulated storage (the only way to get them - by the name)

[2022-09-06 15:47] oskargonz commented on #6074
I have the same without installing 1.25.1

[2022-09-06 17:42] vidamaghami commented on #6074
Same issue persists! I have 1.25.1 installed as well.

[2022-09-07 03:16] OzBob opened #6077 "Query Builder cut in half and can not see Table top menu"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-07 06:57] abitosh-ac opened #6078 "Unable to retrieve child resources."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-07 09:46] JusticeForBeyonce commented on #134
This is all absolute nonsense "Oh we can't fix it because of the API".

There's a very simple solution - give us a load all button.

Even better, the option to change how many files are initially loaded and how many extra files are loaded when the Load More button is pressed. That way those of us who need the sort function don't have to keep clicking load more dozens of times, and everyone else is

[2022-09-07 09:59] v-xianya opened #6079 "Hide the "Preview" action if no blob is selected in the blob container view"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220907.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.4 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous build (20220829.1)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Open one empty file share.
3. Right click

[2022-09-07 13:06] pilcherd opened #6080 "Cancelled Classic Storage Table Export self-restarts"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-07 17:08] MRayermannMSFT commented on #5997
Closing due to lack of response. If you are still encountering this problem, we recommend opening a support ticket via the Azure portal alternatively you can open a new issue here.

[2022-09-07 17:08] #5997 closed

[2022-09-07 17:08] MRayermannMSFT commented on #6004
Closing due to lack of response. If you are still encountering this problem, we recommend opening a support ticket via the Azure portal alternatively you can open a new issue here.

[2022-09-07 17:08] #6004 closed

[2022-09-07 17:08] MRayermannMSFT commented on #6005
Closing due to lack of response. If you are still encountering this problem, we recommend opening a support ticket via the Azure portal alternatively you can open a new issue here.

[2022-09-07 17:08] #6005 closed

[2022-09-07 17:09] MRayermannMSFT commented on #6012
Closing due to lack of response. If you are still encountering this problem, we recommend opening a support ticket via the Azure portal alternatively you can open a new issue here.

[2022-09-07 17:09] #6012 closed

[2022-09-07 17:09] MRayermannMSFT commented on #6017
Closing due to lack of response. If you are still encountering this problem, we recommend opening a support ticket via the Azure portal alternatively you can open a new issue here.

[2022-09-07 17:09] #6017 closed

[2022-09-07 17:11] #6046 closed

[2022-09-07 17:12] MRayermannMSFT commented on #6049
@alvipeo so to be clear, you are ok with there being a dialog to confirm deleting, you  just don't want it to have the 3rd button for enabling soft delete?

[2022-09-07 17:14] #6062 closed

[2022-09-07 17:15] MRayermannMSFT commented on #6067
@avn2006 can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-09-07 17:16] MRayermannMSFT commented on #6070
@syspro-chrisvovgt can you give us some examples of what you are seeing in event viewer?

[2022-09-07 17:17] MRayermannMSFT commented on #6072
@prayaas-a thanks for the request. Windows 10 ARM is on the backlog. We'll use this issue as the main issue for that work.

[2022-09-07 17:19] MRayermannMSFT commented on #6071
@arneshchopra can you please share the AzCopy log file with us from the upload that failed? If you do not know which log file it is, you can:

1. Try the upload again
2. If it fails, go to `<your home directory>/.azcopy`
3. Drag and drop the newest log file to a reply to this issue

[2022-09-07 17:22] MRayermannMSFT commented on #6074
@fratiigrimm does not appear to be having an issue with their emulator.

@lizzbazan @ilyaploshchik @LightDiode @oskargonz @vidamaghami if you are having emulator issues and are using the old .NET emulator (aka, not Azurite) that is a known issue which you can learn more about here: https://github.com/microsoft/AzureStorageExplorer/issues/6030

Can each of you confirm if you are working with an emu

[2022-09-07 17:24] MRayermannMSFT commented on #6077
@OzBob if you resize the window, or resize the tab by dragging on the divider between the right and left hand sides of the app, does the issue fix iteself?

[2022-09-07 17:25] MRayermannMSFT commented on #6078
@abitosh-ac please try enabling system proxy: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-09-07 17:31] co-dax commented on #6074
Hey guys, I just had this issue today and found out that it worked after I uninstalled Azure Storage Emulator and and used Azurite instead of it (instead of Azure Storage Emulator).
It seems that latest version of Azure Storage Explorer is no compatible with Azure Storage Emulator but on only with Azurite. At the [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?tabs

[2022-09-07 17:49] #6050 closed

[2022-09-07 18:21] jinglouMSFT commented on #6074
@co-dax Just FYI, Azure Storage Emulator has been deprecated if you are not aware of.  See the official doc here: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator

[2022-09-07 18:26] co-dax commented on #6074
@jinglouMSFT Yeah that's what I just discovered as mentioned in my last comment above. The point is that people, just like me, could still be using Azure Storage Emulator in combination with Azure Storage Emulator 1.25.1 which turned out to be creating the error from this thread for me. I had no more this error with Azure Storage Emulator 1.25.1 once I switched to Azurite.

[2022-09-07 18:36] alvipeo commented on #6049
@MRayermannMSFT  yes, the delete confirmation is a must! But it has nothing to do with enabling features

[2022-09-07 18:41] craxal commented on #6050
Changes for the dialog that opens and clarifying the meaning of the link have been merged.

[2022-09-07 19:01] jinglouMSFT commented on #6074
@co-dax The error you were experiencing with the Azure Storage Emulator is likely caused by the $blobchangefeed container, which is new and is not supported by the deprecated Storage Emulator.  We are thinking about filtering out this container when emulators are used in our next major release to unblock those customers who can't move from the Azure Storage Emulator to Azurite.  However, at some p

[2022-09-07 23:47] co-dax commented on #6074
@jinglouMSFT great, thanks.

[2022-09-08 03:08] Jasonlhy commented on #6008
I also encounter this issue, when writing blob using .NET SDK 12, and connect to the local blob storage

[2022-09-08 07:22] v-xianya commented on #2883
Verified this issue on the build main/20220908.1.
1. This issue is fixed for File Shares/Queues/Tables.
2. This issue is reproduced for blob containers/ADLS Gen2 blob containers.
3. There is still one queue tab keeps open when deleting one queue which has serval tabs and locate in split views.

[2022-09-08 07:42] Jiawei-Tang opened #6081 "Make searching experience similar to ms.portal.azure.com/"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-09-08 09:55] v-xianya opened #6082 "It is better to make a same state for the 'Preview' action against one 0B item between blob containers and file shares"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220908.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one .txt file with 0B s

[2022-09-08 13:29] syspro-chrisvogt commented on #6070
Below is an extract from the Application logs in Event Viewer. You'll note that the filter is on this specific source and accounts for 5892 of 7420 entries in there (a touch under 80% of the log).
![2022-09-08 15_23_41-Event Viewer](https://user-images.githubusercontent.com/102591762/189133780-50bb3396-f221-4be9-ba99-b645b29b516f.png)

1. The volume of entries is extremely verbose
2. The entries a

[2022-09-08 13:37] naemus opened #6083 "Azure copy paste between tenants failing"
When I attempt to copy a disk from one tenant to another it fails at end of the operation.
I've tried using a fix seen in issue 2048 by replacing the diskcopy folder but no success - the versioning of the releases is likely too major to work with my current storage explorer diskcopy.

AzCopy failed to complete the transfer: %s
Disk 'vmprdrafmap003_OsDisk_1_f93f9e06aa1f4e248d976cc958c1daf6' in 'rg-

[2022-09-08 16:34] craxal opened #6084 "Move duplicate panel swapping code into dialog panel components"

[2022-09-08 18:25] jinglouMSFT commented on #4998
Design in 1.27.0 and implement in 1.28.0 (1.27.0 if the design fits the schedule in 1.27.0)

[2022-09-08 18:48] MRayermannMSFT commented on #4998
@keen85 if adding this feature just means that Storage Explorer is just doing this:

Is that acceptable? Or are you wanting it all to happen on the server side?

[2022-09-08 18:52] jtucker commented on #4998
Adding on to this request, I'd like to see additional features if possible:

- Creating compressed files within Azure instead of locally. This could save time for some that have limited bandwidth or if the zip files are large. My use case are zip files delivered to storage containers that are greater than a GB.
- Multi-volume support in both creating of compressed files and unzipping files (e.g. m

[2022-09-08 21:26] craxal commented on #5560
Adding an activity when adding or removing Quick Access items is super easy. There seems to be a problem, however, with the action that selects the newly added Quick Access item. The node IDs returned by the query used to find the node to select don't coincide with the IDs of the actual Quick Access child nodes, meaning we can't use the find result to actually select the node. Looking into this fu

[2022-09-09 07:04] v-xianya opened #6085 "The deleted share snapshots do not auto disappear when deleting more than one share snapshot at one time"
**Storage Explorer Version**: 1.26.0-dev
**Build Number**: 20220909.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.25.1)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Select one file share -> Create two snapshot

[2022-09-09 07:24] v-kellyluo opened #6086 "The imported entities don't display automatically when successfully canceling the import activity"
**Storage Explorer Version:** 1.26.0-dev
**Build Number:** 20220909.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 22.04/MacOS Monterey 12.5 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Import the below csv file.
[table.csv](https://