[2020-07-15 07:24] hmeijer2 opened #3236 "Error Details dialog (having just installed) is unfortunately modal and so prevents issue resolving while open."
**Is your feature request related to a problem? Please describe.**
Yes, the Error Details dialog (which appeared after having just installed AzureStorageExplorer) is unfortunately modal and therefore, contrary to to the dialog's own advice, I was **unable** to "attempt resolving the issue" (which btw was to reenter my credentials) **without also forgoing the ability to copy-and-report the details*

[2020-07-15 07:51] v-xianya commented on #2824
This issue also reproduces for folders **copy&paste** between **file shares.**

[2020-07-15 09:18] ravishankar54 opened #3237 "Not able to see the text typed in Cosmos DB filter criteria text box in Dark theme mode"
**Storage Explorer Version**: 1.14.1
**Build Number**: 20200711.2
**Platform/OS**: Windows
**Architecture**: ia32
**Regression From**:

## Bug Description ##
For Cosmos DB Accounts(Preview) option in dark theme not see the text in filter criteria text box as it becoming white in color.

![image](https://user-images.githubusercontent.com/13334733/87527265-7e5cb900-c6a9-11ea-8c26-2eea2c450f28.png)

[2020-07-15 09:49] v-xianya opened #3238 "Show different icons for group and sub activity logs against one skipped activity"
**Storage Explorer Version:** 1.14.2
**Build**: 20200714.24
**Branch**: hotfix/1.14.2
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ macOS High Sierra
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand 'Data Lake Storage Gen1(Preview)' node -> Open one file system.
2. Upload one file to it -> Upload the same file.
3. Select 'Do not upload' on 'Upl

[2020-07-15 10:05] v-xianya opened #3239 "No related bug shows for the second hotfix in release notes Hotfixes part"
**Storage Explorer Version:** 1.14.2
**Build**: 20200714.24
**Branch**: hotfix/1.14.2
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ macOS High Sierra
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Launch Storage Explorer -> Go to 'Help' -> Click 'View Release Notes'.
2. Check the second hotfix  in Hotfixes part.

**Expect Experience:**
Show a relate

[2020-07-15 10:54] manjudna commented on #3234
Facing same issue with Azure Storage Explorer, when try to create new table

[2020-07-15 12:02] LeifAndreasOberg opened #3240 "I have to login 3 times every time"
Everyone in my team have to login 3 times every time we use the software.
It says that our user needs to be verified. We do it 3 times and then we can login as usual. Frustrating!

[2020-07-15 13:38] irishmaninusa opened #3241 "ssl error"
**Storage Explorer Version**: 1.14.1
**Build Number**: 20200711.2
**Platform/OS**: Windows
**Architecture**: ia32
**Regression From**:

## Bug Description ##
SSL is not being recognised

[8:54 AM] Daly, J
    Subscriptions for the follwowing tenants could not be retrieved:
Tenant Id: 0b5ac31e-e17a-4021-9d04-550f86320765, Error: {
  "name": "Error",
  "message": "self signed certificate in certific

[2020-07-15 13:38] irishmaninusa commented on #3241
And I have followed the steps on this page and no luck

https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-07-15 14:28] lukapril opened #3242 "Unable to launch AzureStorageExplorer 1.14.1 on MacOS 10.15.5"
**Storage Explorer Version**: 1.14.1
**Build Number**: 20200711.2
**Platform/OS**: MacOS 10.15.5
**Architecture**: x64
**Regression From**:  1.12

## Bug Description ##
AzureStorageExplorer was working fine yesterday, today seems like something went wrong and the whole window closed. So I went and download the latest version 1.14.1. Launch AzureStorageExplorer and it just sits there, there's no pr

[2020-07-15 17:44] ckraulerson commented on #3233
I was able to resolve this on my own.

[2020-07-15 17:44] #3233 closed

[2020-07-15 17:56] JasonYeMSFT commented on #3206
Since there is no response, I am going to close this issue. Please open another one if you are still seeing the problem.

[2020-07-15 17:56] #3206 closed

[2020-07-15 17:57] JasonYeMSFT commented on #3222
Unfortunately due to some issue of our build pipeline, our build containing the actual fix for 1.14.1 wasn't able to finish. We will include the actual fix in 1.14.2.

[2020-07-15 18:28] JasonYeMSFT commented on #3199
@ppanyukov I am experimenting with a denser toolbar design such that we may be able to fit more items in the toolbar. Here is a mock up (Please ignore the Test Error button)

![image](https://user-images.githubusercontent.com/39359541/87581572-05039d00-c68e-11ea-9d46-40e1f583fe6b.png)

It would be great if you can provide feedback about which part do you like it or not like it.

[2020-07-15 18:30] JasonYeMSFT commented on #3196
You will need to explicitly generate a container level SAS from the container node in the tree view instead of from the explorer.

We found it misleading to expose container level SAS from the explorer because either the list permission doesn't apply if you are generating a blob level SAS or the SAS grants access to items beyond you selection.

[2020-07-15 18:34] #3196 closed

[2020-07-15 19:14] JasonYeMSFT commented on #3234
@t-dipeke The tutorial gives you a connection string with storage account key. It is likely that the account key has been rotated so that the key provided in the tutorial is no longer valid. Please contact the author of the tutorial to see if it is the case.

@manjudna, are you also following the tutorial like t-dipeke did? If not, it is very likely you are seeing a different issue, please conside

[2020-07-15 19:19] JasonYeMSFT commented on #3242
Maybe related to https://github.com/microsoft/AzureStorageExplorer/issues/3086. Could you try installing 1.13.0/1.13.1 to see if can launch? We would like to know starting from which version this happens.

[2020-07-15 19:20] JasonYeMSFT commented on #3235
Duplicate of https://github.com/microsoft/AzureStorageExplorer/issues/3095.

[2020-07-15 19:45] t-dipeke commented on #3234
Hi Jason,

Thanks for getting back to me. It seems as though the document I was working off of had an outdated connection string. Thank you for your help nevertheless.

Best,
Dina

From: JasonYeMSFT <notifications@github.com>
Sent: Wednesday, July 15, 2020 1:14 PM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Dina Pekelis <t-dipeke@microsoft.com>; Mention <mentio

[2020-07-16 01:27] JasonYeMSFT commented on #3231
Do you have a system proxy configured?

[2020-07-16 01:28] #3232 closed

[2020-07-16 02:05] v-xianya commented on #3239
This issue is fixed on build 20200715.2. So close it.

[2020-07-16 02:05] #3239 closed

[2020-07-16 04:21] narfanar opened #3243 "Clone with New Name can misbehave on folders on storageV2"
**Storage Explorer Version**: 1.31.1
**Build Number**: 20200515.1
**Platform/OS**: Windows 10 v1909
**Architecture**: x64
**Regression From**: Unknown

## Bug Description ##
When "cloning" a folder with a new name on a storageV2 account container, a weird blob is created with the new name and the size of the last file that was added to the folder being cloned.

There's no new folder created.

And

[2020-07-16 06:45] saranshgoel opened #3244 "Unable to retrieve child resources. Details: ["Error:Unable to retrieve authentication token."]"
Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

[2020-07-16 08:08] v-xianya opened #3245 "Add an activity log for the action 'Configure CORS Settings…' against Blob Containers"
**Storage Explorer Version:** 1.14.2
**Build**: 20200715.2
**Branch**: hotfix/1.14.2
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account.
2. Right click the Blob Containers node -> Select 'Configure CORS Settings...'.
3. Check whether there shows an activity log or no

[2020-07-16 08:19] ppanyukov commented on #3199
@JasonYeMSFT I think this looks very nice!

[2020-07-16 08:28] mbacon-edocs opened #3246 "Updates keep dropping my Quick Access list"
**Storage Explorer Version**: All
**Build Number**: Multiple
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  n/a

## Bug Description ##
Every time I update this application my quick access list gets dropped

## Steps to Reproduce ##
1. Add things to quick access
2. Wait for an update
3. Install update
4. Quick access is now blank

## Expected Experience ##
Quick access link

[2020-07-16 08:39] v-xianya opened #3247 "An error occurs when removing one account from which added via Azure and Custom environment with MSAL enabled"
**Storage Explorer Version:** 1.14.2
**Build**: 20200715.2
**Branch**: hotfix/1.14.2
**Platform/OS:** Windows 10/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Launch Storage Explorer (Make sure setting 'MSAL' is applied).
2. Sign in with one azure account via Azure environment.
3. Sign in with the same account via Custom environment (A

[2020-07-16 09:25] untilted-document commented on #3230
And bizarrely... today I find that pressing CTRL+SHIFT+CURSOR in that "search prefix" box causes ASE to navigate up and down the "folder hierarchy", pressing LEFT goes to parent dir, pressing RIGHT goes to the subdir I was in before I pressed LEFT

Some key combo overriding default text box behaviour? Had I not navigated anywhere yesterday and hence no nav was possible so my pressing was a non op?

[2020-07-16 09:49] v-xianya opened #3248 "The editor doesn't auto close when trying to delete one opened queue from Quick Access node"
**Storage Explorer Version:** 1.14.2
**Build**: 20200715.2
**Branch**: hotfix/1.14.2
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**
1. Expand one storage account -> Queues.
2. Create one queue and keep its editor open.
3. Add the queue to Quick Access -> Delete the queue from Quick A

[2020-07-16 10:12] v-limu opened #3249 "The error link append to one failed activity log isn't match with its opened dialog's title when creating snapshot for disks"
**Storage Explorer Version:** 1.14.2
**Build**: 20200715.2
**Branch**: hotfix/1.14.2
**Platform/OS:** Windows 10/  Linux Ubuntu 18.04 / macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Open one resource group -> Upload one disk to it.
2. Click 'Create Snapshot' on toolbar-> Type an empty name in dialog.
3. Click 'Create Snapshot Error' in

[2020-07-16 12:25] mbaserdem commented on #3233
Hello ckraulerson.    I encountered same problem.  How did you resolve yours?

[2020-07-16 14:12] joappleMSFT opened #3250 "Wrong files are deleted"
**Storage Explorer Version**: 1.14.1
**Build Number**: 20200711.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  Yes

## Bug Description ##
I selected 31 files, right-clicked and chose "Delete", and the wrong 31 files were deleted.

## Steps to Reproduce ##
1.) Write to Blob from Spark.
2.) Attempt to delete the zero byte files in a directory.

## Expected Experience ##
Ze

[2020-07-16 16:38] JasonYeMSFT commented on #3250
@joappleMSFT If I guess correctly, those 0 byte blobs are stub blobs to represent the folders, which have the metadata "hdi_isFolder=true". If it is the case, it is by design to delete the actual folder when deleting their stub blobs (the blob with the same name and the "hdi_isFolder=true" metadata). You are supposed to treat these blobs as the folders themselves. Having only the 0 byte stub blob

[2020-07-16 16:47] joappleMSFT commented on #3250
Hmm. If that's true, is it better to not show them at all? It makes it very easy to shoot yourself in your foot.
Note that when you copy a directory with them, the copied folder either doesn't have them or they are hidden.
Just my $0.02!

[2020-07-16 17:49] JasonYeMSFT opened #3251 "Blob explorer switch directory unexpectedly even if not editing blob path"
**Storage Explorer Version**: 1.15.0-dev
**Platform/OS**: Windows 10/macOS/Ubuntu
**Regression From**:  N/A

## Steps to Reproduce ##
1. Open a blob explorer with a "<no_name>" folder at the root level.
2. Click the address bar to enter edit mode.
3. Without editing, click away to exit the edit mode.

## Expected Experience ##
The explorer stays at the root level.

## Actual Experience ##
The expl

[2020-07-16 22:30] dhmuralikrishna commented on #3231
Machine has proxy setup.

![image](https://user-images.githubusercontent.com/17012246/87729021-5a28d700-c792-11ea-880a-04d8cb4b202c.png)

[2020-07-16 23:07] MRayermannMSFT commented on #3156
@v-xianya I can only repro this by clicking very fast on the settings button, and only the first time you attempt to open the settings panel. Therefore we're going to won't fix. If you're able to reproduce it another way, please ping me on teams. Thanks!

[2020-07-16 23:07] #3156 closed

[2020-07-16 23:08] MRayermannMSFT commented on #2954
I don't think SDK team is going to get to this in time for 1.15, so moving to 1.16. If they are able to get a fix in though then I'll gladly move this back.

[2020-07-17 01:07] v-xianya commented on #3156
Hi @MRayermannMSFT Ok, got it.

[2020-07-17 02:09] Plasma commented on #2528
Hi @MRayermannMSFT this is re-occurring in the latest build, 1.14.2 azcopy 10.5.0:

![image](https://user-images.githubusercontent.com/229209/87740657-1384bc80-c826-11ea-83ed-2830b5ea03ba.png)

The Activities pane just says: `Transfer from 'my-container/my-folder/' to 'c:\download' starting (using SAS)`

Ahead of time I cleared the logs and deleted the plans folder from `C:\Users\username\.azcopy\

[2020-07-17 02:53] Plasma commented on #2528
@MRayermannMSFT it kind of also happens when downloading a single page. I wonder if its because the directory in /my-folder has many items, and the 'download this page' logic is trying to scan the entire (unfiltered) directory, to find each file listed in the page, instead of just getting the files directly as were selected?

Feels like its an issue something like that.

[2020-07-17 03:08] v-xianya commented on #3030
Verified this issue on build 20200717.1. The Properties dialog shows as below. So we close it.
![image](https://user-images.githubusercontent.com/41351993/87744300-b84ecc00-c81d-11ea-98b9-fada020dcfdf.png)

[2020-07-17 03:08] #3030 closed

[2020-07-17 08:01] v-xianya opened #3252 "The editors of one file share and ADLS Gen2 blob container always show blank"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Check its editor.
3. Try to create one folder or upload one file.
4. Check its edit

[2020-07-17 08:13] v-xianya opened #3253 "No action 'Properties...' shows for one new created blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Right click it.
3. Check whether there shows 'Properties...' on the context menu.

[2020-07-17 08:29] v-xianya opened #3254 "Fail to save properties for one blob container connected via public blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Right click it -> Click 'Set Public Access Level...'.
3. Select 'Public read acces

[2020-07-17 08:42] v-xianya opened #3255 "Nothing happens when selecting 'Snapshot original blob then upload' for one file under Public connected blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Upload one text file
3. Right click it -> Click 'Set Public Access Level...'.
3. S

[2020-07-17 08:50] v-xianya opened #3256 "It is better to auto fill the display name after pasting container URL on 'Connect to public blob container' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Select one blob container which 'Public Read Access' is container.
3. Copy its URL -> Open connect dialog -> Se

[2020-07-17 09:05] v-limu opened #3257 "Miss 'Change Access Tier…' action for one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Upload one blob to it -> Open its context menu.
3. Check whether the 'Cha

[2020-07-17 09:07] v-limu opened #3258 "No error displays when typing empty Metadata values in blob container 'Properties' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Click 'Properties...' -> Add Metadate -> Type an empty metedata value.
3. Check t

[2020-07-17 09:11] v-limu opened #3259 "No error information displays when typing other service's URL in 'Connect to public blob container' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Copy the URL of one queue.
2. Open connect dialog -> Select  'Connect to public blob container' -> Paste the URL to 'Container URL

[2020-07-17 09:12] v-limu opened #3260 "'Delete' dialog pops up when using keyboard shortcuts for blobs under connected public blob containers"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container which 'Public Read Access' is container -> Attach it via 'Connect to public blob con

[2020-07-17 09:16] v-xianya opened #3261 "Display values for 'Access Tier Last Modified' against emulator blobs with inferred access tier"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10
**Architecture**: ia32/x64
**Azurite Version** : 3.8.0
**Emulator Version**: 5.10.0.0
**Regression From:** Not a regression

**Steps to reproduce:**
1. Install and run Azurite 3.8.0 -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts -> (Emulator - Default Ports) (Ke

[2020-07-17 09:18] v-limu opened #3262 "Show a failed activity log when clicking 'Properties…' for one SAS attached blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Attach it via SAS.
3. Click 'Properties...' for the attached blob container.
4. C

[2020-07-17 09:35] v-limu opened #3263 "Show a failed activity log when clicking 'Folder Statistics' for one attached emulator public blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200717.1
**Branch**: master
**Platform/OS:** Windows 10
**Emulator**: (5.10.0.0)
**Azurite Version**: 3.8.0
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Install and run Emulator -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts-> (Emulator - Default Ports) (Key) -> Blob C

[2020-07-17 17:08] #3222 closed

[2020-07-17 17:14] JasonYeMSFT commented on #2528
@Plasma, there is no special 'download this page' logic. We send all your selected items to AzCopy. Only when there are directories among your selection, AzCopy may attempt to list blobs under those directories before it starts performing the transfer.

Could you check your settings for Transfers -> AzCopy -> Network Concurrency and Transfers -> AzCopy -> Maximum transfer rate? We have seen transf

[2020-07-17 20:30] #3065 closed

[2020-07-17 20:33] JasonYeMSFT commented on #2694
AzCopy has merged a fix for this issue.

[2020-07-17 20:33] #2694 closed

[2020-07-17 20:40] #3194 closed

[2020-07-17 21:21] JasonYeMSFT commented on #3255
We should not be prompting at all since it is not possible to upload/snapshot to a public blob container.

[2020-07-18 00:32] JasonYeMSFT commented on #3263
Let's wait until customers are asking for supporting this scenario, like SAS attached local emulator account/containers.

[2020-07-18 11:58] ROBINLEI opened #3264 "Try to connect Azure Resource get failure"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-19 00:23] Fcakiroglu16 opened #3265 "Unable to retrieve child resources."
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-19 15:35] bhatt-yash opened #3266 "I am creating directories but they are getting disappeared if I don't save some file in it. Why so?"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-19 22:36] duezito opened #3267 "Unable to retrieve children. socket hang up"
Details:
["FetchError:request to http://127.0.0.1:10000/devstoreaccount1/?include=metadata&comp=list failed, reason: socket hang up"]

I´m trying to create a blob container on a local Storage account.
I created a localDB and I tried clearing up %appData%/StorageExplorer but to no avail.

Could you help me?

[2020-07-20 06:03] v-limu commented on #3252
Verified on build 20200718.3. This issue has been fixed. So close it.

[2020-07-20 06:03] #3252 closed

[2020-07-20 09:51] v-limu opened #3268 "Snapshots View doesn't show after clicking the 'View Share Snapshots' action for file shares"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200718.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**

1. Expand one storage account -> File Shares.
2. Select one file share -> Click 'Create Snapshot'.
3. Open the file share -> Click 'View Share Snapshots'

[2020-07-20 09:53] v-limu opened #3269 "'Change Access Tier…' is enabled when selecting all ADLS Gen2 blobs and folders"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200718.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**

1. Expand one ADLS Gen2 account -> Blob Containers.
2. Create a new blob container -> Upload folders and blobs to it -> Click 'Select All'.
3. Check wheth

[2020-07-20 09:53] v-limu opened #3270 "Default key for new metadata in adls gen2 is wrong"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200718.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Open one blob container -> Select one folder -> Click 'Properties...'.
3. Check the Properti

[2020-07-20 10:44] lucapierobon opened #3271 "Queue item preview is not showing real content"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: ia32
**Regression From**:  1.14.1

## Bug Description ##
I have a queue item which contains a json object.
One string property of this object contains an xml string, properly escaped in order to fit.
When I look at the "grid" view of the items in the queue, I see the xml as I expect.
But

[2020-07-20 10:54] rohitkumarjs opened #3272 "Unable to retrieve child resources. Details: ["FetchError:request to https://sajsatosnprdtdmercury01.blob.core.windows.net/?include=metadata&comp=list failed, reason: self signed certificate in certificate chain"]"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-20 10:55] #3272 closed

[2020-07-20 11:01] manishjha2088 commented on #3209
@MRayermannMSFT  Any update ?

[2020-07-20 17:40] MRayermannMSFT commented on #3267
Do you have proxy settings enabled?

[2020-07-20 17:44] MRayermannMSFT commented on #3266
@bhatt-yash I'll assume you're working in a Blob Container. If not, let me know.

The reason it goes away is because for Blobs, folders are virtual. This means that they don't really exist. Storage Explorer treats /'s in Blob names as delimiters which indicate the existence of a folder. So if there are no blobs with the name /a/b/<something else> then Storage Explorer won't show folders "a" and "b

[2020-07-20 17:45] MRayermannMSFT commented on #3265
@Fcakiroglu16 could you please fill out the information in the issue template?

[2020-07-20 17:45] craxal commented on #3110
@v-xianya

[2020-07-20 17:45] MRayermannMSFT commented on #3264
@ROBINLEI could you please fill out the information in the issue template?

[2020-07-20 17:46] MRayermannMSFT commented on #3263
Ya we're not worried about attaching emulator containers.

[2020-07-20 17:46] #3263 closed

[2020-07-20 17:48] MRayermannMSFT commented on #3261
It looks like inferred access tier is not supported by the .NET emulator. By design.

[2020-07-20 17:48] #3261 closed

[2020-07-20 17:53] MRayermannMSFT commented on #3254
By design. Cannot write (make changes to) public containers or their contents.

[2020-07-20 17:53] #3254 closed

[2020-07-20 17:58] bhatt-yash commented on #3266
Yes I am working in a blob container, but I want to create a directory using R commands in databricks, so that I can put my data files in it. How can I do that if I can't make a folder without having a file in it?

[2020-07-20 17:59] MRayermannMSFT commented on #3250
@JasonYeMSFT please investigate this. We might need AzCopy to support this.

As for hiding the stub files, this isn't something we'd look to do right now.

[2020-07-20 18:01] MRayermannMSFT commented on #3249
Low pri. Won't fix.

[2020-07-20 18:01] #3249 closed

[2020-07-20 18:01] MRayermannMSFT commented on #3246
@mbacon-edocs
1. What version were you on previously and to what version did you upgrade to?
2. What types of resources did you have in Quick Access?

[2020-07-20 18:04] MRayermannMSFT commented on #3245
Show queue service CORS rules for Storage Account 'abcgen2'

[2020-07-20 18:11] MRayermannMSFT commented on #3234
Closing since original issue was mitigated.

[2020-07-20 18:11] #3234 closed

[2020-07-20 18:16] MRayermannMSFT commented on #3231
@dhmuralikrishna did this work for you before/in the past?

- Maybe your system proxy is affecting the emulator, thus maybe you do need to setup the proxy settings in Storage Explorer?
- Alternatively can you try using Azurite?

[2020-07-20 18:29] MRayermannMSFT commented on #3227
@mikazo777 as Jason explained, the removal of generating container level SAS's while working with blobs was intentional.

For now, you can generate a SAS at the container level, and then use the SAS token with the specific blob URL. For example, you would get this:

`https://myaccount.blob.core.windows.net/container?<SAS token>`

And if your blob URL is:

`https://myaccount.blob.core.windows.net/c

[2020-07-20 18:31] MRayermannMSFT commented on #3224
If you have soft delete enabled then maybe it's possible that databricks considers soft deleted blobs to affect whether or not a folder exists. You should check with the databricks team about if this is true or not. Does that make sense?

[2020-07-20 19:04] JasonYeMSFT commented on #3269
The error was for attempting to change access tier for blobs with lease. The blobs without lease will be changed to the target access tier regardless of the error. The command is supposed to be enabled in this scenario.

[2020-07-20 19:04] #3269 closed

[2020-07-20 19:59] jinglouMSFT commented on #3266
If you are working with Blobs, folders/directories are virtual, meaning they don't exist.  Storage Explorer just uses the '/' to visually display them as folders.  This is why when you try to create a folder, the creation experience is different from the normal folder creation experience. As a workaround in your case, you can try to first upload an arbitrary file/blob with the folder structure you

[2020-07-20 20:20] bhatt-yash commented on #3266
Yes, it was really helpful. Thanks a lot.

[2020-07-20 20:24] #3266 closed

[2020-07-20 20:45] JasonYeMSFT commented on #3243
@narfanar I have tried the same steps from 1.13.1 to 1.14.2 but cannot reproduce this issue. Could you tell us the name of the folder you are trying to clone?

[2020-07-20 20:52] #3260 closed

[2020-07-20 21:06] #3255 closed

[2020-07-20 21:07] JasonYeMSFT commented on #2908
Get a response from the internal Electron team. They aren't going to sign those dll's so we need to sign them ourselves.

[2020-07-20 21:17] JasonYeMSFT commented on #3116
I tried several combinations around and found you would encounter "unexpected quit" if you set decimal values for file concurrency instead of maximum transfer rate.

[2020-07-20 21:40] JasonYeMSFT commented on #1001
We have made sure that when performing FolderStatistics, the folder name used as prefix will end with a trailing slash while supporting <no_name> blobs/folders. That ends up fixing this issue.

[2020-07-20 21:40] #1001 closed

[2020-07-20 21:49] craxal commented on #3111
@v-xianya Not able to reproduce from master branch. Can you try again using a more recent master branch build? A blue border should also appear when hovering your cursor over the breadcrumb.

![image](https://user-images.githubusercontent.com/3473026/87990084-28688680-ca98-11ea-98bb-a0493d352826.png)

[2020-07-20 22:15] craxal commented on #3245
String can be updated, but I will create separate work items for the other services.

[2020-07-20 23:36] duezito commented on #3267
No. I didn´t..

Em seg., 20 de jul. de 2020 às 14:41, Matthew Rayermann <
notifications@github.com> escreveu:

[2020-07-21 01:37] v-xianya commented on #3111
Hi @craxal
Verified this issue on build master/20200720.3.
1. This issue doesn't reproduce for one regular blob container.
2. **It reproduces for one ADLS Gen2 blob container,** Could you help to take a look?

[2020-07-21 01:47] v-xianya commented on #3257
Verified this issue on master build 20200720.3. Reproduce.

[2020-07-21 02:15] v-xianya opened #3273 "No 'Custom Domain' shows for one new created blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200720.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create a new blob container.
3. Check whether there shows 'Custom Domain' on its properties panel.

**Expect Ex

[2020-07-21 02:17] v-xianya commented on #3110
Hi @craxal Thanks for the updates
1. Yes, It needs to refresh 'Blob Containers' node to show the 'Custom Domain' for one new created blob container.
(New bug: [3110](https://github.com/microsoft/AzureStorageExplorer/issues/3273))

[2020-07-21 02:23] v-limu commented on #3257
Hi @JasonYeMSFT  Verified on build 20200720.3.

1. This issue reproduces for one blob under one **new created regular v2 blob container**.
2. This issue reproduces when cloning/ pasting one blob container.

This action appears after manually refreshing Blob Containers node.

[2020-07-21 04:30] narfanar commented on #3243
Some more details:

- The source folder was not at root level
- Source folder had only binary/non-text files
- Source folder and files were created through a blobfuse mount of the container
- Mount was on Ubuntu 18.04 be the creation steps were:
  - mkdir the nested path (**important**)
  - cp files to leaf folder

Just a hunch, but the mkdir seems like a good starting point.

I'll try to repro it

[2020-07-21 06:11] v-limu commented on #3066
Verified on build 20200720.3. This issue has been fixed. So close it.

[2020-07-21 06:11] #3066 closed

[2020-07-21 07:26] v-xianya opened #3274 "A conflict dialog pops up when cloning one file share contains a folder which named ';'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200720.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release(1.12.0)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a new file share -> Create a folder with name ';'.
![image](https://user-images.githubusercontent.co

[2020-07-21 07:45] mbacon-edocs commented on #3246
1. In this case it was to 1.14.2, from 1.14.1 - although as I said, this seems to be an ongoing issue
2. I had a mix of queues, blob containers and tables. Possibly worth mentioning that they were mostly, if not all, from a classic blob account

[2020-07-21 08:35] koljada opened #3275 "Unable to retrieve child resources"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  It was working earlier but I don't know in which version

## Bug Description ##
I cannot use local emulator. When I'm trying to expand Tables or Blob Containers it gives me next error:

I believe it's also a reason why I can't run my azure functions locally. It'

[2020-07-21 08:46] SeshagiriSriram opened #3276 "Azure Storage Explorer - Cannot connect to IoT Edge Local Blob Storage"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10 Professional
**Architecture**: x64
**Regression From**:  unsure

## Bug Description ##
Storage Explorer throws exception when navigating to Blob Containers and File shares.

## Steps to Reproduce ##
Installed Azure IoT Blob on Ubuntu 18.04 server per https://docs.microsoft.com/en-us/azure/iot-edge/how-to-

[2020-07-21 08:51] v-xianya opened #3277 "Display a successful activity log when pasting one deleted blob to another blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200720.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release(1.14.0)

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Upload one file.
3. Copy the file then delete it -> Paste the file to anot

[2020-07-21 08:52] SeshagiriSriram commented on #3276
For reference I am also adding the deployment manifest json file
[deployment.manifest.txt](https://github.com/microsoft/AzureStorageExplorer/files/4952334/deployment.manifest.txt)

[2020-07-21 09:40] v-limu opened #3278 "Disable the 'Download' action when selecting all ADLS Gen2 blob snapshots"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200720.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 account -> Select one blob container.
2. Create snapshots for one blob -> Select all snapshots.
3. Check the state of the 'Download' action

[2020-07-21 09:50] v-xianya commented on #3175
Verified this issue on build 20200720.3. Reproduce. So we re-open it.

[2020-07-21 09:54] v-limu commented on #3269
Hi @JasonYeMSFT Got it.Thanks for your updates😃.
But. The error details is so strange when trying to change access tier for all blobs which contains leased blob.

[2020-07-21 10:03] v-xianya commented on #2829
Verified this issue on the build  20200720.3. The behaviors as below:
1. Display a successful  Activity log.
![image](https://user-images.githubusercontent.com/41351993/88040975-4c04fd00-cb7c-11ea-8300-f0cfa12b2c24.png)

2. The cloned folder displays after manually refresh.

[2020-07-21 14:16] munael opened #3279 "Navigate by URL to a nested resource in a storage account"
**Is your feature request related to a problem? Please describe.**
It's cumbersome to navigate back to a nested resource directory after restarting the app as you have to do it all the way down.
Same with navigating to a position shared with you by colleagues.

**Describe the solution you'd like**
- Some way to quick open a nested resource by providing a partial URL.
- Optional: detect if the URL

[2020-07-21 15:01] sravani4801 opened #3280 "Azure storage explorer"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-21 16:52] JasonYeMSFT commented on #3280
@sravani4801, could you fill the template to explain what issue you encountered?

[2020-07-21 16:58] JasonYeMSFT commented on #3275
@koljada, are you using the .Net storage emulator or Azurite? which version are you using? From the error details, it says that server encountered an internal error so it is possible that the problem is in your local emulator's configuration.

[2020-07-21 17:18] craxal commented on #3273
Related to #3110.

[2020-07-21 18:32] JasonYeMSFT commented on #3274
We do receive a conflict prompt from AzCopy, we should ask why AzCopy thinks there is a conflict.

[2020-07-21 19:03] JasonYeMSFT commented on #3274
Reported in https://github.com/Azure/azure-storage-azcopy/issues/1107

[2020-07-21 20:53] JasonYeMSFT commented on #3070
We are currently not modifying the urls except when comparing against the known azure domain endpoint strings, which don't have the trailing slash character.

[2020-07-21 20:53] #3070 closed

[2020-07-21 23:33] craxal opened #3281 "Unify new/list blob node logic in blob extension"
Logic for creating new blob container nodes and for listing blob containers follows to divergent paths, one in Cloud Explorer (old), and the other in the blob extension (new). As part of the migration to the blob extension, we need to make sure these different actions use the same code to avoid weird bugs and missing functionality.

[2020-07-22 00:50] JasonYeMSFT commented on #3116
The updated description for "concurrency files" setting is checked in.

[2020-07-22 00:50] #3116 closed

[2020-07-22 02:36] v-xianya commented on #3212
This issue is fixed on master build 20200722.6. So we close it.

[2020-07-22 02:36] #3212 closed

[2020-07-22 02:39] v-limu commented on #2785
Verified on build 20200722.6. This issue has been fixed. So close it.

[2020-07-22 02:39] #2785 closed

[2020-07-22 05:51] v-xianya commented on #3253
Verified this issue on build master 20200722.6. Fixed. So we close it.

[2020-07-22 05:51] #3253 closed

[2020-07-22 07:19] v-xianya commented on #3257
Verified this issue on build master/20200722.6. Fixed.

[2020-07-22 07:19] #3257 closed

[2020-07-22 07:23] ralphke commented on #153
### Persisted Subscription Filter
I would like to see the capability to filter on a selected list of subscriptions, which I regularly work with, aka provide a persistent filter for subscriptions. Listing all subscriptions, I have access to is nice, but filtering the relevant subs with every restart of the Explorer is a boring task.

[2020-07-22 07:40] koljada commented on #3275
I'm using the latest version of Azure Storage Emulator. And it seems like the issue was related to emulator: for some reason schema in LocalDB was no created. After I reinstalled SqlServer it's working. If it's not related to Azure Storage Explorer then this issue can be closed. The error message is not very helpful anyway.

[2020-07-22 07:52] v-xianya opened #3282 "No action 'Copy Direct Link to Blob Container' displays for one new created blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200722.6
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Created a new blob container -> Check its context menu.

**Expect Experience:**
The action 'Copy Direct

[2020-07-22 09:27] v-limu opened #3283 "The blob name is not surrounded by quotes in 'Promote Snapshot' activity log"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200722.6
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Upload one blob to it -> Create snapshots for the blob -> Manage Snapshots.
3. Se

[2020-07-22 10:55] Brondahl commented on #3116
Ugh. 🤦 Sorry to waste your time on that, if that's what I'd been doing :(

[2020-07-22 16:21] craxal commented on #3282
Related to #3273. Code that generates new blob nodes is different than code that lists blob nodes. New node code needs to be moved to the blob extension.

[2020-07-22 16:22] #3273 closed

[2020-07-22 16:43] #3278 closed

[2020-07-22 16:54] JasonYeMSFT commented on #3175
We have merged the fix back to master. This should not reproduce anymore.

[2020-07-22 17:02] craxal commented on #3111
There's still a PR out got ADLS Gen2 that should address this issue, and I am unable to reproduce with the change in that PR.

[2020-07-22 19:38] Sherlocco opened #3284 "failed to perform copy command due to error: cannot start job due to error: cannot list files"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  1.14.1

## Bug Description ##
when i try to download a file from a storage, it uses a lot of time and doesn't complete and i receive this error message

{
  "message": "\"failed to perform copy command due to error: cannot start job due to error: cannot list fil

[2020-07-23 00:38] JasonYeMSFT commented on #3243
I have tried the blobfuse . My repro steps:
1. Mount a container via blobfuse
2. mkdir "newFolder"

What I see then is that a binary blob with name "newFolder" and metadata "hdi_isFolder=true" is created. This is a stub blob for an empty folder.

3. cp "some_file" "path_to_mounted_directory"

What I see is that there will be a folder with name "newFolder" next to the "newFolder" stub blob.
If I "c

[2020-07-23 00:55] sudhaguda opened #3285 "storage Explorer issue"
Unable to retrieve child resources.

Details:
["Error:connect ENOENT \\\\?\\pipe\\51fe928aee3946a0ada30c54055ff8f3"]

[2020-07-23 02:08] v-limu commented on #3175
Verified this issue on build 20200723.3. Fixed. So close it.

[2020-07-23 02:08] #3175 closed

[2020-07-23 09:27] NaanKaran opened #3286 "Storage Explorer Error"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-07-23 09:32] v-limu opened #3287 "Keep a consistent order of the options in 'Rest Storage Explorer' dialog between ENU and non-ENU"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200723.3
**Branch**: master
**Language**: All
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer using the command 'StorageExplorer.exe --lang=zh-CN'.
2. Click localized 'Help' -> Click localized 'Reset'.
3. Check t

[2020-07-23 09:33] NaanKaran opened #3288 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
["FetchError:request to http://127.0.0.1:10000/devstoreaccount1/?include=metadata&comp=list failed, reason: connect ECONNREFUSED 127.0.0.1:10000"]

[2020-07-23 09:43] v-limu opened #3289 "Update the localized action 'Clone with New Name' to 'Clone' for file shares in non-EUN"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200723.3
**Branch**: master
**Language**: All
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '한국어' -> Restart Storage Explorer.
3. Expand one stor

[2020-07-23 11:36] gokul2018 opened #3290 "Please include "Cut" option"
**Is your feature request related to a problem? Please describe.**
Yes, we are replacing Azure storage explorer with our Fileserver VM. This is simple to use tool which has copy paste but it would be ideal if we have the cut, copy and paste

**Describe the solution you'd like**
We are able to copy and paste between folders however, if we wish to move the data or cut and paste, it does not support

[2020-07-23 14:21] reddevil7nine commented on #578
This may not apply but it is a change to how the app used to work; maybe it will be helpful.

I've currently got 1.14.2 installed via [scoop](https://scoop.sh/).

For those that are unfamiliar, scoop extracts the app to a version-named folder and then creates a symbolic link named "current" to that same folder. Running Storage Explorer through the symbolic link path doesn't work (it used to). Runn

[2020-07-23 17:20] JasonYeMSFT commented on #3195
It seems you are having two different issues.
Issue 1. Could you verify that only the emulator is running at port 10000. This type of error sometimes show when the port is occupied.
Issue 2. The log tells us that you are trying to upload a file to the blob container as a Block Blob but the storage account doesn't support this type of blob. Could you find out what type of storage account the "vivne

[2020-07-23 17:36] JasonYeMSFT commented on #3162
Closing since the cause is not in Storage Explorer.

[2020-07-23 17:36] #3162 closed

[2020-07-23 17:57] JasonYeMSFT commented on #2529
- [ ] Add activity for create container
- [ ] Add activity for delete container

[2020-07-23 18:20] JasonYeMSFT commented on #2676
Craig has finished the Queue work.

[2020-07-23 21:47] MRayermannMSFT commented on #3126
Closing due to lack of response. If you continue to see this problem, please open a new issue. Thanks!

[2020-07-23 21:47] #3126 closed

[2020-07-23 21:49] MRayermannMSFT commented on #3119
We need to figure out if this is our problem or AzCopy's problem before bringing it up with them.

[2020-07-23 22:31] MRayermannMSFT commented on #2841
Related to https://github.com/Azure/azure-storage-azcopy/issues/821

[2020-07-24 00:30] JasonYeMSFT commented on #3014
The has been a Chromium behavior change introduced since Electron 5.0.0. When a title="" (tooltip) is provided to to the input element, the element will privilege the tooltip instead of showing a built-in error message.

Incomplete date time value is equivalent to empty date time. For us, this is by design since we now allow the start/expiry time to be empty because of #764. So we won't add an err

[2020-07-24 00:30] #3014 closed

[2020-07-24 02:39] v-xianya commented on #3282
Verified this issue on build master/20200724.1. Fixed.

[2020-07-24 02:39] #3282 closed

[2020-07-24 03:06] v-xianya opened #3291 "No information bar pops up after switching to one deleted directory for ADLS Gen2 blob containers"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 202000724.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a new folder -> Open the folder.
3. Click 'Back' -> Delete the fol

[2020-07-24 09:10] JKamsker commented on #1527
Any updates? @JasonYeMSFT

[2020-07-24 09:19] v-limu opened #3292 "The action 'Open in Portal' isn't translated completely for one resource group in Korean"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200724.1
**Branch**: master
**Language**: Korean
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '한국어' -> Restart Storage Explorer.
3. Expand Disks

[2020-07-24 09:20] v-limu opened #3293 "The 'Copy' action is enabled for one blob under Azure AD attached blob containers"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200724.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Select one blob container.
2. Give RBAC access to the blob container 'Blob Data Owner Role'.
3. Attach this blob container via Azure Active Directory (A

[2020-07-24 10:47] JaviBonilla opened #3294 "Storage Explorer issue in openSUSE Tumbleweed"
**Storage Explorer Version**: 1.14.2
**Build Number**: I have no access to the UI
**Platform/OS**: openSUSE Tumbleweed
**Architecture**: x64
**Regression From**:  -

## Bug Description ##
The program automatically closes when executed in the terminal or keeps executing but no UI is shown.

## Steps to Reproduce ##
1. I installed it using Snap and the following instructions.
https://snapcraft.io/in

[2020-07-24 11:00] harshithjv commented on #3153
@MRayermannMSFT

Hey Rayermann,

I wasn't aware of this being moved to as a new issue until today. I had placed it on VM(thereby accessing through IP address like a remote resource) as I had installed dependencies for the project on Windows system. Also wanted to test if we could do this such that multiple developers can access this storage service on a LAN while developing and connect to actual s

[2020-07-24 16:00] CarterLooseCC opened #3295 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\nRequestId:7904affb-301e-0005-42d2-61c2de000000\nTime:2020-07-24T15:54:13.9677602Z</Message></Error>"]

[2020-07-24 16:01] #3295 closed

[2020-07-24 16:23] MRayermannMSFT commented on #1064
@orofino @twoelfer @ZombiesWithCoffee
The current plan is to simply let you pick from other queues in the storage account:

<img width="509" alt="image" src="https://user-images.githubusercontent.com/21112697/88412802-f8b6c880-cd8e-11ea-9866-7d2a5982d5ac.png">

Is there a desire to be able to customize the new TTL of the moved messages, or is it ok to just use the same TTL as each message has on t

[2020-07-24 16:39] ZombiesWithCoffee commented on #1064
The same TTL will be fine.  The entire point of my desire is so that I can go to the poison queue, fix my bug, and retry.  So this fulfills that need.

[2020-07-24 16:47] twoelfer commented on #1064
Same TTL is fine.

[2020-07-24 16:49] #3111 closed

[2020-07-24 16:50] #3203 closed

[2020-07-24 17:05] MRayermannMSFT commented on #2746
The library must have regressed.

[2020-07-24 17:05] JasonYeMSFT commented on #2829
This should have been fixed now.

[2020-07-24 17:06] MRayermannMSFT commented on #2548
@jorgklein are you still having issues? I'd be down to teams call about this.

[2020-07-24 17:06] MRayermannMSFT commented on #2545
@yuttakon-cvx are you still having problems?

[2020-07-24 17:07] MRayermannMSFT commented on #1827
No longer repros.

[2020-07-24 17:07] #1827 closed

[2020-07-24 17:10] MRayermannMSFT commented on #578
@reddevil7nine can you open a specific issue for that? :)

[2020-07-24 17:13] MRayermannMSFT commented on #176
Rehydration status is now available in the properties dialog.

[2020-07-24 17:13] #176 closed

[2020-07-24 17:16] MRayermannMSFT commented on #1064
Awesome. Thanks for the fast replies. 🙂

[2020-07-24 17:16] #3082 closed

[2020-07-24 17:30] jorgklein commented on #2548
Hi Matthew,

Didn’t try anymore since I was tracking this issues and the releases and I noticed it wasn’t fixed yet. If a fix was implemented, I would be more than happy to test! Do I understand that is the case?

Regards,
Jorg Klein

Outlook voor iOS<https://aka.ms/o0ukef> downloaden
________________________________
Van: Matthew Rayermann <notifications@github.com>
Verzonden: Friday, July 24, 202

[2020-07-24 17:31] orofino commented on #1064
Same TTL good here as well. We try not to modify the messages in any way, so it is actually preferred.

[2020-07-24 18:32] #3268 closed

[2020-07-24 18:58] MRayermannMSFT commented on #3158
Find root causes, then move to 1.16

[2020-07-24 19:04] #2482 closed

[2020-07-24 19:08] MRayermannMSFT commented on #2308
Related to #2103. Fix at same time. Rename should not let you move. Move should only be available via move.

[2020-07-24 19:09] MRayermannMSFT commented on #2238
@Jehoel  are you still reproducing this?

[2020-07-24 19:12] #2122 closed

[2020-07-24 20:31] MRayermannMSFT commented on #2859
@jongio , can you ping me with an update on what you'd like done about this?

[2020-07-25 01:29] Jehoel commented on #2238
@MRayermannMSFT Yup:

Screenshot taken just now, running Azure Storage Explorer 1.14.2 on Windows 10 version 1809.

My pinned taskbar shortcut is generated from the official start-menu shortcut via "Pin to Taskbar" and is still repros when I create a manual `*.lnk` to the Storage Explorer program.

![image](https://user-images.githubusercontent.com/1693078/88446006-756f9400-cddb-11ea-9e51-dcd264ad

[2020-07-25 23:20] alukyan opened #3296 "Scenario: Make it easy to store large library of media files in archive blobs"
**Is your feature request related to a problem? Please describe.**
I have a large library of media files - personal photos and videos - which I would like to archive in the cloud.
This library contains tens of thousands files organized in folders and its size if few hundreds GBs
Currently I am using Amazon Glacier but I would like to move my cloud archive to Azure because archive blob prices are w

[2020-07-27 02:23] v-xianya commented on #2829
Verified this issue on build master 20200715.1.

**Current behavior:**
Show a successful activity log and the cloned empty folder displays on the editor.

[2020-07-27 02:23] #2829 closed

[2020-07-27 02:25] v-xianya commented on #3082
@JasonYeMSFT This issue reproduces on build master/20200715.1.

[2020-07-27 08:54] JarroVGIT opened #3297 "Show storage account name in open tabs"
**Is your feature request related to a problem? Please describe.**
When having multiple tabs open (for example blob containers) from different storage accounts, and the blob containers have the same name, there is no way of knowing for sure in which storage account you are currently working. Especially if you deselected the container name in the explorer-tree to use a sub-menu on a different stora

[2020-07-27 09:11] Triamus opened #3298 ""Device authentication is required" error when trying add account with MFA on Ubuntu 16.04"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Linux Ubuntu 16.04
**Architecture**: x64
**Regression From**:  No

## Bug Description ##
When trying to add Azure account in storage explorer UI it directs me to corporate page where I sign in and MFA is triggered and approved on mobile device. Following error is thrown:

[code]

## Steps to Reproduce ##
Go to `Mana

[2020-07-27 09:23] v-xianya opened #3299 "Show an extra '/' in 'Destination directory' text box on upload dialog when uploading files to one ADLS gen2 folder"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200725.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Create a new folder.
3. Open the created folder -> Click 'Uplo

[2020-07-27 09:47] v-limu opened #3300 "The URL of one queue shows incorrectly in 'Properties' panel"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200725.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one storage account -> Queues.
2. Select one queue -> Check its URL in 'Properties' panel.

**Expect Experience:**
The URL shows correctly.

**Ac

[2020-07-27 09:47] v-xianya opened #3301 "Display 'off' for 'BlobPublicAccess' on blob container's properties dialog when 'Public Read Access' is off"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200725.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create one blob container then right click it  -> Select 'Set Public Access Level...' -> Select 'No public acce

[2020-07-27 09:54] v-limu opened #3302 "Nothing happens after selecting 'Enable overwrite' to retry one conflict blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200725.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a new blob container -> Upload one blob to it -> upload the blob to same destination again.
3.

[2020-07-27 14:12] jongio commented on #2859
We are still trying to find an existing package that can convert from pfx to pem - but have been unable to do so.  It's still on radar.  We don't have an ETA at the moment.

[2020-07-27 17:42] MRayermannMSFT commented on #3298
@Triamus, this is a requirement from your organization (who you work for, who owns a tenant you're signing into). The default sign in library used by Storage Explorer doesn't support this scenario, but our next library (currently in preview) does. You can enable it by going to Settings -> Application -> Sign In -> Enable Microsoft Authentication Library (preview).

A big caveat to this though. **I

[2020-07-27 17:44] MRayermannMSFT commented on #3297
Duplicate of #4

[2020-07-27 17:44] #3297 closed

[2020-07-27 17:52] craxal opened #3303 "Remove `jQuery-contextMenu` package"
We switched to using Electron native context menus some time ago. `jQuery-contextMenu` is no longer used.

[2020-07-27 17:55] MRayermannMSFT commented on #3294
@JaviBonilla are there any other messages? Or literally just only "No protocol specified"?

[2020-07-27 17:56] MRayermannMSFT commented on #3293
By design.

[2020-07-27 17:56] #3293 closed

[2020-07-27 17:56] craxal opened #3304 "Add secure configuration documentation"

[2020-07-27 18:01] MRayermannMSFT commented on #3291
The service doesn't return an error if we browse to a directory that doesn't exist. This is similar to the blobs experience, which ADLS Gen2 is related to. Additionally, once at a nonexistent directory, the user is able to do things like uploading files.

[2020-07-27 18:01] #3291 closed

[2020-07-27 18:03] MRayermannMSFT commented on #3290
@gokul2018 we're confused. You said y'all are "replacing Azure storage explorer with our Fileserver VM"? That sounds like you are stopping using Storage Explorer? So are you asking for us to add cut to Storage Explorer or Fileserver VM? Are you trying to say that if we add cut then you'll keep using Storage Explorer? 😕

[2020-07-27 18:05] MRayermannMSFT commented on #3286
Duplicate of #3288?

[2020-07-27 18:05] #3286 closed

[2020-07-27 18:07] MRayermannMSFT commented on #3267
@duezito can you please answer all questions? Thanks!

[2020-07-27 18:08] MRayermannMSFT commented on #3288
Hi @NaanKaran
1. Do you have proxy settings enabled in Storage Explorer?
2. Do you have proxy settings enabled for your OS?
2. Have you tried more than once?
3. Which emulator are you using?
4. If you are using the .NET Emulator can you try using Azurite?
4. Which version of the emulator are you using?
5. What version of Storage Explorer are you using?
6. Are you on Windows, macOS, or Linux?

[2020-07-27 18:12] MRayermannMSFT commented on #3285
@sudhaguda

Can you give us some more info like:
1. What OS are you on?
32352. What version of Storage Explorer are you using?
235. At what point in the tree did you get this error message? Expanding a subscription, Storage Account, Blob Containers?

[2020-07-27 18:17] MRayermannMSFT commented on #3284
@Sherlocco we didn't change anything in 1.14.2 that could break this. Could you go try 1.14.1 again and see if it still actually works in that version? You can download it from this page: https://github.com/microsoft/AzureStorageExplorer/releases

In the meantime, we'll try to get someone from the AzCopy team over here to figure out why AzCopy thinks there is a proxy when you say there isn't.

[2020-07-27 18:20] MRayermannMSFT commented on #3280
@sravani4801 please open a new issue with the template filled out. Thanks!

[2020-07-27 18:22] MRayermannMSFT commented on #3279
@narfanar

- Restoring tabs on restart is an existing issue: https://github.com/microsoft/AzureStorageExplorer/issues/1504
- We're making the breadcrumbs editable in version 1.15! This is our next release.

As for your main request at the top, we'll try to consider something like that in the future.

[2020-07-27 18:27] JaviBonilla commented on #3294
@MRayermannMSFT Literally just only "No protocol specified", can I provide any other information to track this issue?

[2020-07-27 18:28] MRayermannMSFT commented on #3275
Thanks!

[2020-07-27 18:28] #3275 closed

[2020-07-27 18:29] MRayermannMSFT commented on #3294
Are you connecting over SSH/X11? Or is this your local running OS?

[2020-07-27 18:30] JaviBonilla commented on #3294
It is my local running OS

[2020-07-27 18:30] MRayermannMSFT commented on #3264
@ROBINLEI please open a new issue with the template filled out.

[2020-07-27 18:30] #3264 closed

[2020-07-27 18:34] MRayermannMSFT commented on #3250
@joappleMSFT we are not able to repro the stub files not being copied. Can you please connect with @JasonYeMSFT over teams and show him what you're talking about? If you can't find him in teams then I'd suggests looking at my org chart.

[2020-07-27 18:42] JasonYeMSFT commented on #2829
@v-xianya the current behavior is the expected behavior.

[2020-07-27 23:36] #2908 closed

[2020-07-27 23:50] ToledoEM commented on #1227
Any update for this?

[2020-07-28 00:30] #2763 closed

[2020-07-28 01:23] v-xianya commented on #2829
Hi @JasonYeMSFT Thank you for the confirmation!

[2020-07-28 02:15] gokul2018 commented on #3290
Hi, I am using the Azure storage explorer and I wish to continue using this great tool. Only thing this is missing is "cut" option. There is a copy and paste button, but "Cut" isn't.

Attaching a screenshot for reference. I am requesting if this can be added in the future.

![azstorageexplorer](https://user-images.githubusercontent.com/35128200/88611251-450f4a80-d0a6-11ea-90b9-3dd97e923be5.JPG)

[2020-07-28 06:47] v-xianya commented on #3299
**More Info:**
The upload dialog for **File Shares**.
![image](https://user-images.githubusercontent.com/41351993/88628852-1d89a380-d0e1-11ea-9587-c3050688c01a.png)

[2020-07-28 07:55] Triamus commented on #3298
@MRayermannMSFT sorry I didn't get it. What is the org requirement that you are talking about? The MFA of course is a requirement and I also perform it. It just errors. The preview might be an option but I'm not too keen to use it at this stage.

[2020-07-28 08:16] v-xianya opened #3305 "No error detail shows in the activity log when pasting one deleted file share"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200728.2
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Copy the file share then delete it.
3. Paste the file share to another storage accou

[2020-07-28 09:30] v-xianya opened #3306 "Keep a consistent behavior between services when creating one service with an existing name"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200728.2
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a new file share named 'fs1'.
3. Create a new file share named 'fs1'.
4. Check whether an activity log shows

[2020-07-28 11:40] bdthai81 opened #3307 "Added new property to existing table does not sort"
**Storage Explorer Version**:
Version: 1.13.1 and updated to Version: 1.14.2

**Build Number**:
Build Number: 20200715.2

**Platform/OS**:
macOS Catalina

**Architecture**:
x64

**Regression From**:
Did not work in previous version

## Bug Description ##

When we try to sort the table by with a newly added property, it times out.

## Steps to Reproduce ##

After creating an Azure Storage Table and

[2020-07-28 13:46] Sherlocco commented on #3284
@MRayermannMSFT you're right, in fact also 1.14.1 didn't work.

other than "proxy settings", can i search in other points for some other proxy configuration?

[2020-07-28 16:13] ariefalibwl opened #3308 "Cannot find module"
**Storage Explorer Version**:
1.4.2
**Build Number**:
**Platform/OS**:
Windows 10
**Architecture**:
x64
**Regression From**:

## Bug Description ##

Unable to retrieve child resources.

Details:
["Error:Cannot find module '@azure/storage-queue'\nRequire stack:\n- C:\\users\\arisyed\\appdata\\local\\programs\\microsoft azure storage explorer\\resources\\app\\node_modules\\se-queue-extension\\dist\\

[2020-07-29 00:53] craxal commented on #2348
With the implementation of editable address bars, the current state of the code doesn't easily allow us to display "Snapshots for ...". Investigating potential solutions.

[2020-07-29 02:40] v-limu commented on #3302
Verified on build 20200729.1. This issue has been fixed. So close it.

[2020-07-29 02:40] #3302 closed

[2020-07-29 05:54] v-xianya commented on #3299
Verified this issue on build master/20200729.1. Fixed. So we close it.

[2020-07-29 05:54] #3299 closed

[2020-07-29 07:51] JaviBonilla commented on #3294
@MRayermannMSFT Now, it is working. I deleted the default password keyring in Seahorse, so it was created again when executing the storage explorer for the first time.

[2020-07-29 07:51] #3294 closed

[2020-07-29 07:52] yoktan opened #3309 "1Gb large file fails to upload"
**Storage Explorer Version**: 1.14.2
**AZCopy Version**: 10.5.0
**AZCopy Settings**: all NULL except for SAS Duration which is set to 30
**Build Number**: 20200715.2
**Platform/OS**: macOS
**Architecture**: I guess x64 (recent Mac)

## Bug Description ##
Uploading a 1Gb file into a blob container fails: shows activity but never finishes

## Steps to Reproduce ##
I tried 2 methods:
A1. Upload direc

[2020-07-29 08:22] v-xianya opened #3310 "The action 'Change Access Tier…' is enabled for blobs under Classic storage accounts"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200729.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**

1. Expand one **Classic** storage account -> Blob Containers.
2. Create a new blob container -> Upload one **Block** blob.
3. Check the blob's context menu.

**Expect Exp

[2020-07-29 08:48] v-xianya opened #3311 "It would be nice to remove the 'Target Access Tier' option from the upload dialog for one Classic blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200729.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one **Classic** storage account -> Blob Containers.
2. Create a new blob container -> Click 'Upload' -> Select 'Upload Folder...' or 'Upload Files...'.
3. Check the uplo

[2020-07-29 12:10] jsutes commented on #2584
I also have this issue

[2020-07-29 12:12] jeromewir commented on #3244
I'm also having this issue

This message is shown when opening Azure storage explorer.
I already accessed storage explorer with success in the past and I can't use it any more cause the message is shown and no window is opened after that.

Tried to update to latest 1.14.2 and the issue is still there.

Mac OSX Catalina (10.15.5 (19F101))

![image](https://user-images.githubusercontent.com/5878807/

[2020-07-29 12:15] jsutes commented on #971
Here's the link to the new issue for MongoDB: https://github.com/microsoft/AzureStorageExplorer/issues/2584

[2020-07-29 15:30] shibashish13999 opened #3312 "Issue while opening containers in storage explorer"
The requested action could not be completed.

Details:
["FetchError:request to https://azureermmachinelestorage.blob.core.windows.net/?include=metadata&comp=list failed, reason: unable to get local issuer certificate"]

[2020-07-29 16:09] MrKoster opened #3313 "Error while opening blob containers. Local storage with Azurite."
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  not working in previous versions

## Bug Description ##
I have a docker Azurite image set up locally with Desktop Docker (wIndows 10).
Everything set up according to official Azurite docs: https://github.com/Azure/Azurite.
Everything works correctly when i try t

[2020-07-29 17:28] JasonYeMSFT commented on #3310
This is a side effect of enabling batch change access tier. I don't want to disable the action when the user have blobs that don't support access tier among their selection because currently there is no way to easily filter out those blobs in a select all scenario. The error detail is clear that access tier is not supported.

[2020-07-29 17:42] jinglouMSFT commented on #3312
Could you try to follow the troubleshooting guide here to see if you can isolate and fix the issue?  https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-07-29 17:47] #2844 closed

[2020-07-29 22:10] JasonYeMSFT opened #3314 "Combine stub blobs with metadata hdi_isFolder=true and their folder contents"
**Is your feature request related to a problem? Please describe.**
Currently association between stub blobs and their folder contents is poor, which causes
1. It is hard to figure out that a folder has a stub blob associated with it.
2. Operations on the folder in Storage Explorer won't have effects on the stub blob, which is not expected by users who understand the stub blob feature. For example,

[2020-07-30 00:28] GaleMacp opened #3315 "Get Subscriptions Failure Details"
Subscriptions for the follwowing tenants could not be retrieved:
Tenant Id: f2baf195-6705-441b-912a-3b2997d976fd, Error: {
  "name": "Error",
  "message": "self signed certificate in certificate chain",
  "stack": "Error: self signed certificate in certificate chain\n    at TLSSocket.onConnectSecure (_tls_wrap.js:1331:34)\n    at ZoneDelegate.invokeTask (C:\\Program Files (x86)\\Microsoft Azure St

[2020-07-30 00:50] v-xianya commented on #3310
Hi @JasonYeMSFT Thank you for the update!
1. For blobs under Classic storage accounts. The error detail tells that access tier is not supported.
2. For blobs under **BlockBlobStorage** accounts. The error details like below.
`<Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:bf60c28c-501e-00a4-7e0a-66ceb6000000\nTime:2020-07-30T00:43:28.7464550Z</Me

[2020-07-30 01:03] navin2108 opened #3316 "Unable to connect"
**Storage Explorer Version**: 1.14.2
**Build Number**:  20200715.2
**Platform/OS**: Windows 10
**Architecture**: x64?
**Regression From**:  I am not sure. Encountered this issue for the first time

## Bug Description ##
Getting an error "Cannot read property 'uids' of undefined"
## Steps to Reproduce ##
1. Open Storage explorer and try connecting to a storage account using Access key and account n

[2020-07-30 01:59] lrh-albert opened #3317 "issue when opening containers in storage explorer"
After being connected into azure storage using SAS, error below occurred when I was opening Blob Containers inside of this azure storage. There should be 2 blob containers there, yet, either of them was listed in storage explorer.

`"FetchError:request to https://albpjsain01template50.blob.core.windows.net/?sv=2019-12-12&ss=bfqt&srt=sco&sp=rwdlacupx&se=2020-07-30T09:51:49Z&st=2020-07-30T01:51:49Z&

[2020-07-30 02:49] miaoichi opened #3318 "Move folders or files to others"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
JM: We have many files keeping to upload on ASE. Few weeks later, the files or folders getting more.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
JM: I need a feature that can move file o

[2020-07-30 08:01] v-limu commented on #3305
**More Info:**
This issue also reproduces when pasting one existing file share.
![image](https://user-images.githubusercontent.com/54055206/88897382-bbb27080-d27d-11ea-8b16-3028153e1838.png)

[2020-07-30 08:48] v-xianya opened #3319 "The size of one ADLS Gen1 folder is displayed as 0 B"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200730.1
**Branch**: master
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ macOS High Sierra
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand 'Data Lake Storage Gen1(Preview)' node -> Open one file system.
2. Upload one folder contains files (make sure the files are not 0 B).
3. Check the siz

[2020-07-30 09:16] v-limu opened #3320 "'Download' action is enabled under a new path which created in one file share's address bar"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200730.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ macOS High Sierra
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> File Shares.
2. Open one file share -> Upload folders and files to it.
3. Type a new name in address bar -> Press 'Enter' -> Cl

[2020-07-30 09:21] Karthik-Nagendiran opened #3321 "Unable to retrieve child resources"
Whenever opening Azure storage explorer getting the following error, even though my credentials are already saved in it.

Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

[2020-07-30 09:46] v-limu opened #3322 "Miss 'Public Read Access' in 'Properties' panel for one connected public blob container under Quick Access"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200730.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ macOS High Sierra
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container which 'Public Read Access' is container -> Attach it via 'Connect to public blob

[2020-07-30 09:57] v-limu opened #3323 "'Snapshots View' doesn't display when clicking 'View Share Snapshots' under one folder"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200730.1
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ macOS High Sierra
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one storage account -> File Shares.
2. Open the file share -> Create a new folder.
3. **Open the folder** -> **Click 'View Share Snapshots' un

[2020-07-30 09:58] v-xianya opened #3324 "Show an activity log on the 'Activities' panel after cancelling the download action from 'File Explorer' window"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200730.1
**Branch**: master
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**
1. Expand 'Data Lake Storage Gen1(Preview)' node -> Open one file system.
2. Upload one folder -> Click 'Download' -> Click 'Cancel' button on the opened '

[2020-07-30 12:44] jorgklein commented on #2548
Hi @MRayermannMSFT just tested and the issue is still there:

﻿_<?xml version="1.0" encoding="utf-8"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission. RequestId:5c8af546-a01e-0107-3f69-66db45000000 Time:2020-07-30T12:02:40.2268534Z</Message></Error>_

Can we schedule a teams call to resolve this?

[2020-07-30 13:20] TamasSzerb opened #3325 "Unable to retrieve child resources (proxy issue)"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  first version tried

## Bug Description ##

## Steps to Reproduce ##

launching azurite installed from npm install -g azurite in WSL then:
`$ azurite --location $HOME/azurite --debug $HOME/log/azurite.log`
`Azurite Blob service is starting at http://127.0.0.1:10

[2020-07-30 13:50] TamasSzerb commented on #3325
We need a proxy settings, where Storage Explorer does not inherit the Windows10's system settings for proxy, because now we cannot turn off completely the use of proxy.

[2020-07-30 17:15] jinglouMSFT commented on #3317
The error message indicated that the connection was refused.  What permissions do you have?

[2020-07-30 17:19] shueybubbles opened #3326 "Unable to expand a subscription (module not found)"
**Storage Explorer Version**:1.14.2
**Platform/OS**: Windows 10 x64
**Regression From**:
I don't know, this is the first time I've used the app

## Bug Description ##
Unable to view containers in a subscription

## Steps to Reproduce ##
Open storage explorer
Pick a subscription
expand it

Unable to retrieve child resources.

Details:
["Error:Cannot find module 'tslib'\nRequire stack:\n- I:\\apps\\

[2020-07-30 17:32] craxal commented on #2107
Unable to reproduce this issue on 1.14.2. When I try right-clicking an item different than the current selection, the current selection is set to that item as expected.

@cliffeby Can you reproduce on the latest version (1.14.2) of Storage Explorer?

@v-xianya Can you try reproducing this issue as well?

[2020-07-30 17:41] BenyErnest opened #3327 "Elapsed time uploaded file"
**Describe the solution you'd like**
Hi there, It ill be nice to see the elapsed time to upload a file to blob storage, Greets.

[2020-07-30 17:55] shueybubbles commented on #3326
I tried using both "just for me" and machine-wide install options. Same result for both.

[2020-07-30 18:47] #3271 closed

[2020-07-30 18:55] craxal commented on #1918
@gdignard I was unable to reproduce this in the latest version (1.14.2). Does this issue still reproduce for you?

@v-xianya Can you reproduce this issue?

[2020-07-30 21:39] #3300 closed

[2020-07-31 01:51] lrh-albert commented on #3317
this issue just fixed after changing tenant id, thanks!

[2020-07-31 03:15] cliffeby commented on #2107
![ASE073020a](https://user-images.githubusercontent.com/1431998/88995915-d9053000-d2b9-11ea-9a82-075a7aca7c9e.png)
I still get the same behavior but less consistently.  About half the time only one line is highlighted.  When only one line is highlighted and then deleted, a new cell is highlighted at the top of the page.  The jump and highlighting is disconcerting/unexpected.  @craxal  @v-xianya

[2020-07-31 06:14] v-limu commented on #3114
Verified on build 20200731.3. This issue has been fixed. So close it.
![image](https://user-images.githubusercontent.com/54055206/89005880-1a3c2500-d338-11ea-8fdd-0c764554102f.png)

[2020-07-31 06:14] #3114 closed

[2020-07-31 06:16] v-limu commented on #3322
Verified on build 20200731.3. This issue has been fixed. So close it.
![image](https://user-images.githubusercontent.com/54055206/89006024-638c7480-d338-11ea-81bc-58f5f1934c4e.png)

[2020-07-31 06:16] #3322 closed

[2020-07-31 09:33] v-limu opened #3328 "Pop up an error when clicking 'Manage Access Policies…' action for one QA blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200731.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one Non-ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Add the blob container to Quick Access.
3. Click 'Manage Access Policies.

[2020-07-31 09:33] v-limu opened #3329 "An extra action 'Clone…' shows on the context menu of the QA blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200731.3
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one Non-ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Add the blob container to Quick Access.
3. Check the context menu of the

[2020-07-31 17:24] gdignard commented on #1918
Craig -

I'm using v1.14.2 and this issue appears to be resolved.

I presume it was solved at the same time as issue #1851 (
https://github.com/microsoft/AzureStorageExplorer/issues/1851)

I was surprised to see them get different milestones, though my own work is
currently on a module that's not related to Azure at the moment, so while I
did check #1851 when v1.14 was released, I didn't think to

[2020-07-31 18:31] craxal commented on #2179
@swums Platform is currently working on a container rename API. Moving to an upcoming milestone so we can make use of it.

[2020-07-31 19:20] cliffeby commented on #2107
[IMG_3752.zip](https://github.com/microsoft/AzureStorageExplorer/files/5008693/IMG_3752.zip)

This is a video showing both issues.

[2020-08-01 17:46] hassanhub commented on #1887
I still have this issue. Followed every single step mentioned here.
Every time I reboot my computer this happens. I can't even find any login keys using seahorse.
This error has wasted a lot of my time as an intern at Microsoft so far.

[2020-08-01 21:51] maninderjitsinghdhaliwal opened #3330 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\nRequestId:71ead8f0-f01e-0117-7f4d-683cd2000000\nTime:2020-08-01T21:46:11.7295001Z</Message></Error>"]

[2020-08-03 02:09] lhf552004 opened #3331 "Failed to create blob containers"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**:  Windows 10
**Architecture**:  x64
**Regression From**:  First time to use

## Bug Description ##
Failed to create blob container.
Zscaler makes the internet safe for businesses by protecting their employees from malware, viruses, and other security threats

## Steps to Reproduce ##
1.  Launch Azurite via command li

[2020-08-03 02:42] lhf552004 opened #3332 "Unable to retrieve child resources"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**:  Windows 10
**Architecture**:  x64
**Regression From**:  First time to use

## Bug Description ##
Unable to retrieve child resources.

Details:
["FetchError:request to http://127.0.0.1:10000/devstoreaccount1/?include=metadata&comp=list failed, reason: tunneling socket could not be established, statusCode=403"]

## W

[2020-08-03 06:03] v-limu commented on #3328
Verified on build 20200801.4. This issue has been fixed. so close it.

[2020-08-03 06:03] v-limu commented on #3329
Verified on build 20200801.4. This issue has been fixed. so close it.

[2020-08-03 06:31] v-xianya opened #3333 "It would be better to update 'OK' to 'Move' on the 'Move Files' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200801.4
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one file -> Click 'Move'.
3. Check the 'Move Files' dialog.

**E

[2020-08-03 06:32] v-xianya opened #3334 "Show an activity log against creating action when deleting one blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200801.4
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Delete the blob container.
3. Check its activity log.

**Expect Experience:**
Sho

[2020-08-03 06:32] v-xianya opened #3335 "Disable the 'OK' button on 'Move Files' dialog when the destination directory is not valid"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200801.4
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one file -> Click 'Move'.
3. Check the 'OK' button on the Move F

[2020-08-03 06:32] v-xianya opened #3336 "Add a colon mark next to the string 'Destination directory' on the 'Move Files' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200801.4
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one file -> Click 'Move'.
3. Check whether a colon mark shows ne

[2020-08-03 06:49] #3329 closed

[2020-08-03 08:50] y-dima opened #3337 "Minor GUI issue: Black Font in Dark Theme (Gremlin) - hard to read"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: ia32

## Bug Description ##
When I run Gremlin queries in Storage Explorer with Dark Theme, the results are partly shown in black font on a dark background which is hard to read.

## Steps to Reproduce ##
Run any Gremlin query that returns result, e.g.: g.V()

## Expected Experience ##
F

[2020-08-03 09:34] v-limu opened #3338 "The descriptions of the error details are incorrect when moving one file to an invalid directory"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200801.4
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one file -> Click '**Move**'.
3. Type an invalid path in the 'De

[2020-08-03 09:45] y-dima opened #3339 "some GUI issues with Input box for Gremlin code (CosmosDB Graph) in Storage Explorer"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: ia32

## Bug Description ##
Input box for Gremlin code is too small and its size dose not change with the change of the Storage Explorer window size.
Input box is a singe line and I cannot see my code even if it is relatively short.
There are no scroll bars to see the code comfortably.
T

[2020-08-03 16:32] craxal commented on #1887
@hassanhub If you're still having problems, can you open a new bug and fill out the bug template as completely as you can?

[2020-08-03 17:15] JasonYeMSFT commented on #3326
This means a library named "tslib" is not found. Could you go to directory "I:\apps\storageexplorer\resources\app\node_modules" to see if there is a folder named "tslib" in it? If it is there, there might be some corner case bugs in our path resolution logic. By the way, the location you are installing Storage Explorer is not the default location (e.g. machine wide C:\Program Files (x86)\Microsoft

[2020-08-03 17:26] JasonYeMSFT commented on #3318
Are you using file share, ADLS Gen2 or regular blob storage?
I guess what you mean by "move" is the server side atomic move instead of data copy. We are planning to add a moving feature to ADLS Gen2 (service side atomic move within same container) in 1.15.0. If you are using blob storage or file share, or if you are moving data between different blob containers for ADLS Gen2, you'll have to select

[2020-08-03 17:33] shueybubbles commented on #3326
[code]
I can try the default location. I usually avoid using the default because my C drive is a smallish SSD and it's nearly full.

[2020-08-03 17:35] MRayermannMSFT commented on #3338
Both are errors returned by the service. Won't fix for nwo

[2020-08-03 17:35] #3338 closed

[2020-08-03 17:35] MRayermannMSFT commented on #3337
duplicate of #3339

[2020-08-03 17:35] #3337 closed

[2020-08-03 17:42] shueybubbles commented on #3326
Works fine with the default location

[2020-08-03 17:45] MRayermannMSFT commented on #3332
@lhf552004 can you check your Windows environment variable setting and see if you have a environment variable/s called HTTP_PROXY or HTTPS_PROXY?

[2020-08-03 17:45] MRayermannMSFT commented on #3325
@ TamasSzerb can you check your Windows environment variable setting and see if you have a environment variable/s called HTTP_PROXY or HTTPS_PROXY?

[2020-08-03 17:50] MRayermannMSFT commented on #3331
@lhf552004 do you have proxy settings enabled? If you don't then, can you check your Windows environment variable setting and see if you have a environment variable/s called HTTP_PROXY or HTTPS_PROXY?

[2020-08-03 17:53] MRayermannMSFT commented on #3330
@maninderjitsinghdhaliwal  how are you connecting to your storage?
- Sign in and then look at resources under a subscription?
- Attach with SAS?
- Attach with key?
- Attach with Azure AD?

Also, what type of resources are you trying to work with?

[2020-08-03 17:55] MRayermannMSFT commented on #3327
@BenyErnest do you mean before you upload it, while you're uploading it, or after you've uploaded it?

[2020-08-03 18:02] MRayermannMSFT commented on #3326
@shueybubbles are you ok with having Storage Explorer installed on your C: drive or do you want us to keep investigating this?

If you'd like us to figure out what's going wrong, then I'd ask you to reinstall on your I: drive by uninstalling, re-downloading the installer, and then rerunning the installer.

Couple of extra questions as well:

- When you install on your I drive, are you doing that b

[2020-08-03 18:03] BenyErnest commented on #3327
Hi @MRayermannMSFT,
This would be what I need:
- how long it took for a finished upload to finish

But if you can add all those features it would be better.

[2020-08-03 18:06] MRayermannMSFT commented on #3324
@v-xianya are you sure this isn't a regression, can you check against say version 1.10 of Storage Explorer?

[2020-08-03 18:11] MRayermannMSFT commented on #3321
@Karthik-Nagendiran at what point in the tree are you getting the error? Or in other words, after expanding what node are you seeing this error?

[2020-08-03 18:17] #3317 closed

[2020-08-03 18:19] MRayermannMSFT commented on #3316
@navin2108 can you try restarting and seeing if your account shows up under local and attached stoage accounts?

[2020-08-03 18:21] MRayermannMSFT commented on #3315
@galemacp can you try following this guide and let us know if it helps?

https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-08-03 18:27] MRayermannMSFT commented on #3314
In 1.16 let's:
- make sure all operations are maintaining the link between the stub and the folder
- figure out if deleting the folder should delete the stub
- figure out if we can create a setting to hide stubs by default

[2020-08-03 18:30] #3311 closed

[2020-08-03 18:35] MRayermannMSFT commented on #3309
@yoktan
- how fast is your network's upload speed?
- can you try changing AzCopy concurrency to be "Adjust dynamically" and make sure all other settings are blank except for SAS duration.
- if the upload still doesn't finish in a reasonable time after trying that, can you share your AzCopy log with us? You can find it under `~/.azcopy/logs`. The most recent log will be for the most recent operatio

[2020-08-03 18:52] mbialecka commented on #3276
@seshagc What is the connection string you used in Storage Explorer to connect to blob storage container? Side note - only "Blob Containers" option should work.

[2020-08-03 19:47] JasonYeMSFT commented on #3313
As the error message suggests, the cert you generated have "wrong version number" and thus cannot be used by Azurite. Could you share your exact steps about how you generated the certificate, what parameters do you use during the process. When I learned how to setup Azurite with https, there are pitfalls in the cert generation process so it would be helpful to know these details.

By the way, in o

[2020-08-03 20:13] navin2108 commented on #3316
Hello Matthew,

I have restarted the app multiple times but to no avail. I had shut down the machine and restarted it today and storage explorer opened in a clean state. No accounts are visible or the storage account which was added using key also does not seem to be connected. But when I try to add the account, it also says that connection name with 'Az300navin' already exists(screenshot attached

[2020-08-03 20:32] craxal commented on #3323
Duplicate of #3268.

[2020-08-03 21:00] maninderjitsinghdhaliwal commented on #3330
I am using Azure Storage explorer. I use to work few days ago.

[2020-08-03 21:28] #3251 closed

[2020-08-03 21:50] craxal commented on #3320
In the past, we would kill the editor entirely if the user tried navigating to a nonexistent folder. This is not a good experience. However, we don't yet have a mechanism for communicating whether the current path is valid or not. We'll need to investigate for a potential solution.

[2020-08-03 23:13] #3303 closed

[2020-08-03 23:17] craxal commented on #1918
#1851 was closed by mistake. But since this doesn't repro for you, we'll go ahead and close. Open a new bug if this happens again.

[2020-08-03 23:17] #1918 closed

[2020-08-03 23:18] craxal commented on #1851
Bug was closed by mistake.

@gdignard Does this issue not reproduce for you anymore? If not, we'll go ahead and close properly.

[2020-08-03 23:57] craxal commented on #2107
@cliffeby The jump to the top of the page is by design. All of our editors do that.

As far as the double-selection is concerned, I finally got it to repro. I think I know what's happening. The Delete command, of course, opens a confirmation dialog before proceeding. There's often a (very) short delay between when the command is triggered and the dialog opens. During that delay, the editor can sti

[2020-08-04 02:06] v-xianya commented on #3324
Hi @MRayermannMSFT
1. This issue doesn't reproduce on version 1.10, then I continue with the verification and figure out it is a regression from **version 1.13.1**. Sorry for confusing the regression.😟
2. For the issue: the activity log always display **Downloading Group: Complete:0**. Download is not finished.

[2020-08-04 02:06] v-limu commented on #3323
Hi @craxal
Snapshot View shows when directly clicking the 'View Share Snapshots' action. But it doesn't show when clicking the action **under one folder.**

[2020-08-04 02:10] v-limu commented on #3334
Verified on build 20200804.5. This issue has been fixed. so close it.

[2020-08-04 02:10] #3334 closed

[2020-08-04 02:13] v-limu commented on #3333
Verified on build 20200804.5. This issue has been fixed. so close it.

[2020-08-04 02:13] #3333 closed

[2020-08-04 02:27] SupJoeeeeeey commented on #3314
Hi, in data explorer, I cannot delete an empty folder. The error message would be "failed to perform remove command due to error: nothing found to remove". Is it related to this issue?

The folder used to contain some files, but after using "azcopy.exe rm {resouceUrl}" to delete the folder, the files are gone but the folders still exist in the container...

[2020-08-04 02:29] v-limu commented on #3335
Verified on build 20200804.5. This issue has been fixed. so close it.

[2020-08-04 02:29] #3335 closed

[2020-08-04 02:31] v-limu commented on #3336
Verified on build 20200804.5. This issue has been fixed. so close it.

[2020-08-04 02:31] #3336 closed

[2020-08-04 02:51] v-xianya commented on #3305
Verified this issue on build master 20200804.6. Fixed

[2020-08-04 02:51] #3305 closed

[2020-08-04 05:09] SeshagiriSriram commented on #3276
https://localblobstorage.blob.core.windows.net
I have a windows host. I have an Ubuntu Box running on Vagrant and local blob storage is created on this Ubuntu box.

[2020-08-04 05:51] v-xianya opened #3340 "It would be better to update 'OK' to 'Rename' on the rename dialog of ADLS Gen2 blobs"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.6
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one file -> Right click the file -> Select 'Rename...'.
3. Check

[2020-08-04 07:28] v-limu commented on #3262
Verified on build 20200804.5. The 'Properties...' action has removed from the context menu. So close it.
![image](https://user-images.githubusercontent.com/54055206/89265446-1295bc80-d667-11ea-80e7-83fc87c21205.png)

[2020-08-04 07:28] #3262 closed

[2020-08-04 07:41] v-xianya opened #3341 "It would be nice to update the title of move dialog from 'Move Files' dialog to 'Move'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.6
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one file to the blob container.
3. Create a new folder.
4. Selec

[2020-08-04 07:43] v-xianya opened #3342 "It would be better to update the tooltip of 'Move' button from 'Move files or directories 'to 'Move selected items'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.6
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Open one blob container -> Check the tooltip of the 'Move' button on the toolbar.

**Expect Experien

[2020-08-04 08:45] TamasSzerb commented on #3325
@MRayermannMSFT thank you, this workaround is working for me. When we can expect the fix for "Do not use proxy" to indeed not use proxy? Now, it's misleading.

[2020-08-04 10:26] v-xianya opened #3343 "Display a duplicate folder after selecting 'Do not upload' on the pasting conflict dialog for ADLS Gen1 file systems"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.6
**Branch**: master
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand 'Data Lake Storage Gen1(Preview)' node -> Open one file system.
2. Upload one folder which contains files.
3. Copy the folder and paste it to the same des

[2020-08-04 12:36] reitzec opened #3344 "Subscriptions won't load after logon"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: 64bit
**Regression From**:  Yes for a little bit then broke, updating didn't help

## Bug Description ##
Subscriptions won't load after logon

## Steps to Reproduce ##
1. add account
2. pick add an azure account
3. logon
4. error
5. delete account and start over
6. error

## Expected Exp

[2020-08-04 13:09] shueybubbles commented on #3326
I: is a local drive. I try to install apps on it because my C drive is small.
I just type the path into the edit control and click Next.
![image](https://user-images.githubusercontent.com/2224906/89297408-c7ad8200-d631-11ea-9ef2-fa459199d3ce.png)

uninstall/download/reinstall led to the same error.
For now I can live with the default location but I imagine I'm not the only person who installs to o

[2020-08-04 16:36] cliffeby commented on #2107
@craxal   @jinglouMSFT @MRayermannMSFT @JasonYang-MSFT

Regarding options, I'd prefer style/color difference as long as it's obvious which is going to be deleted..  For the second possible solution, if the confirmation dialog notes one row to be deleted and two are highlighted, which one is it?

Regarding standard editor behavior, I'm not sure why a jump to the top of the page is desired.  Why wou

[2020-08-04 16:36] mbialecka commented on #3276
@SeshagiriSriram This doesn't seem correct. Plese follow these instructions: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#connect-to-your-local-storage-with-azure-storage-explorer

[2020-08-04 16:58] JasonYeMSFT commented on #3314
@SupJoeeeeeey What service are you using (e.g. Blob, File Share, ADLS Gen2)? What are the arguments that you passed to AzCopy?

[2020-08-04 17:06] #3281 closed

[2020-08-04 17:19] MRayermannMSFT commented on #3330
@maninderjitsinghdhaliwal, please answer my questions from above. Without this information I cannot help you. 🙂

How are you connecting to your storage?
- Sign in and then look at resources under a subscription?
- Attach with SAS?
- Attach with key?
- Attach with Azure AD?

Also:
- what type of resources are you trying to work with?
- what version of Storage Explorer are you using?

[2020-08-04 17:28] JasonYeMSFT commented on #3308
@ariefalibwl Could you help us check the following things?

- In directory "C:\Users\arisyed\appdata\local\programs\Microsoft Azure Storage Explorer\resources\app\node-Modules\", could you find a directorie named "@azure"? If so, open it and could you see two directories named "storage-queue" and "storage-blob" in them?
- Do you select the "install for all user" or "install for yourself" when inst

[2020-08-04 17:46] JasonYeMSFT commented on #3310
We made a mistake by not saving classic account information for legacy quick access blob container nodes. Disabling this command by that will cause all quick access container nodes to lose this command. Move for re-triage.

[2020-08-04 17:48] jinglouMSFT commented on #3310
Let's fix this in 1.15.0.

[2020-08-04 17:57] craxal commented on #3215
The problem is the promote job handler passes an `IBlobContainerRef` argument with the `refresh` event, but the handler is expecting an `IBlobContainerConnection`. So, the `isMatchingContext` function doesn't return true, and the editor refresh doesn't occur.

[2020-08-04 18:06] craxal commented on #3214
The problem is the promote job handler passes an `IBlobContainerRef` argument with the `refresh` event, but the handler in the explorer view model is expecting an `IBlobContainerConnection`. So, the `isMatchingContext` function doesn't return true, and the editor refresh doesn't occur.

[2020-08-04 18:34] MRayermannMSFT commented on #3258
@v-limu turns out blank is fine! If you try to save metadata with blank values, it works, and when looking again, the blank values are still there.  I'm going to close this as by design.

[2020-08-04 18:34] #3258 closed

[2020-08-04 18:35] MRayermannMSFT commented on #2548
Sure, I'm pretty easy to find on teams. :)

[2020-08-04 18:36] JasonYeMSFT commented on #2103
A move feature has been added for ADLS Gen2 containers and will be included in 1.15.0.

[2020-08-04 18:36] MRayermannMSFT commented on #756
The work for this has been merged into master. Will be available in 1.15.0

[2020-08-04 18:36] #756 closed

[2020-08-04 18:36] #2103 closed

[2020-08-04 18:37] #2529 closed

[2020-08-04 18:40] nedwardsesha opened #3345 "Another Unable To Retrieve Child Resources Error when Expanding"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  Was working in all previous versions

## Bug Description ##
Like others on here I get met with an Unable to Retrieve Child Resources Error in the new version I have checked for Environment variable and there are no proxy variables. Also Edit -> Configure Proxy i

[2020-08-04 20:29] JasonYeMSFT commented on #2238
@Jehoel There is a work around for it. You can open Storage Explorer and on the running instance's taskbar tab, right click and select "pin to taskbar". And then you can remove the original taskbar tab pinned from the Start Menu. If you open Storage Explorer (or open new window for Storage Explorer) from the new taskbar tab, the tabs will be correctly stacked.

[2020-08-04 21:20] JasonYeMSFT commented on #3316
@navin2108 your screenshots aren't uploaded. They show up as cid's.

[2020-08-04 22:19] MRayermannMSFT commented on #1064
If y'all have time, it'd be great if you could give the new move messages feature. You can download a private build* of our upcoming release from the below URLs. You'll find move in the queue explorer toolbar. Let me know if y'all have any feedback. Also, do note that the move icon is likely to change before release.

- macOS: https://storageexplorerpublish.blob.core.windows.net/privatebuilds/1.15

[2020-08-04 22:21] twoelfer commented on #1064
Well it’s 00:20 over here, but I’ll check this out tomorrow.

[2020-08-05 00:07] Jehoel commented on #2238
@JasonYeMSFT

That doesn't work for me because Windows reports that the *second* Azure Storage Explorer shortcut is already pinned:

![image](https://user-images.githubusercontent.com/1693078/89357330-031d7000-d675-11ea-8835-2edecc610632.png)

[2020-08-05 01:57] v-limu commented on #3258
Hi @MRayermannMSFT

An error displays and save button is disabled when typing blank values in file properties dialog for **one file share.** Is it different from the blob containers?
![image](https://user-images.githubusercontent.com/54055206/89362790-50dfba00-d701-11ea-9362-2d95e34898a4.png)

[2020-08-05 07:41] v-limu commented on #3328
Verified on build 20200814.19. This issue reproduces for **one emulator blob container under Quick Access.** So re-open it.

[2020-08-05 07:56] twoelfer commented on #1064
Hi Matthew.

Looks good to me. I cannot test under “real” conditions, because I don’t have a way to actually generate these… I need to wait until one of the jobs actually break and tons of messages and up in “poison”. However, I did create some msgs manually and moved them, which worked just fine.

WM_THX
-thomas

Von: Matthew Rayermann <notifications@github.com>
Gesendet: Mittwoch, 5. August 2020

[2020-08-05 08:32] v-limu opened #3346 "Miss the account name in the URL of the QA emulator blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.19
**Branch**: master
**Platform/OS:** Windows 10
**Emulator**: 5.10.0.0
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Install and run Emulator -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts -> (Emulator - Default Ports) (Key) -> Blob Containers.
3. Create

[2020-08-05 09:01] v-limu opened #3347 "Show the duplicate messages after moving messages to the source queue and clicking columns"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.19
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Queues.
2. Create a new queue -> Add a message.
3. Click 'Move Message' -> 'Move Selected...' -> Move the message to the sou

[2020-08-05 09:44] v-limu opened #3348 "Keep a consistent behavior in the 'Move Messages' dialog between SAS attached queues and Azure AD attached queues"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.19
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Queues.
2. Create a new queue -> Attach it via SAS -> Open the attached queue -> Click 'Move Message' -> Check the dialog.
3

[2020-08-05 10:03] v-xianya opened #3349 "The action 'Change Access Tier...' is enabled when selecting more than one Append blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.19
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Upload two blobs as **Append** blob.
3. Select the two **Append** bl

[2020-08-05 10:12] v-limu opened #3350 "It is better to update the error dialog when using an existing name to clone one emulator blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200804.19
**Branch**: master
**Platform/OS:** Windows 10
**Emulator**: 5.10.0.0
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Install and run Emulator -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts -> (Emulator - Default Ports) (Key) -> Blob Containers.
3. Created a new

[2020-08-05 14:18] gdignard commented on #1851
Craig -

I've been making use of it for the past few days and it certainly has every
appearance of working as intended.

Close away!

- Gilles

On Mon, Aug 3, 2020 at 7:18 PM Craig Alvord <notifications@github.com>
wrote:

[2020-08-05 15:50] orofino commented on #1064
This is really great. Does exactly what I was hoping for. I used the MacOS version.

Tested:
- moving single message
- moving arbitrary group of messages
- moving entire queue "Move All..." (with hundreds in there thanks to dev environments)

Would love to understand the cases for "When moving messages, the dequeue count of some messages in the source queue may go up, even if they are not being mo

[2020-08-05 16:34] craxal opened #3351 "Add Delete and Update commands for queues"

[2020-08-05 16:35] #1851 closed

[2020-08-05 17:19] MRayermannMSFT commented on #1064
@orofino

Yes, as you guessed it will happen when moving "selected" messages. That feature is implemented by:
1. you select messages you want to be moved
2. Storage Explorer makes a note of those IDs
3. Storage Explorer gets up to the first 32 messages
4. messages which are supposed to be moved are moved, messages which are not to be moved are put back (visibility timeout reset to 0), but when tho

[2020-08-05 17:29] MRayermannMSFT commented on #3241
@irishmaninusa which steps have you tried from the troubleshooting? Have you not been able to identify where the cert is coming from?

[2020-08-05 17:34] MRayermannMSFT commented on #3209
When you say files are "moved" do you mean that the files are copied to the new folder ("Import")
 and then deleted from the original folder ("DAMdrop")?

[2020-08-05 17:37] #3235 closed

[2020-08-05 17:43] MRayermannMSFT commented on #3298
@Triamus the error "Device authentication is required" means that your organization (the company you work for, whoever owns the tenant your account belongs to) requires your device to be domain joined. Also, I did some more research, I don't think checking domain joined status is supported on Linux. So you'll either need to use a different OS or talk to your organization admins to figure out how y

[2020-08-05 17:45] MRayermannMSFT commented on #3290
@gokul2018 we try to avoid doing things like "cut" or "rename" which involve deleting your data in a non-atomic operation. So if the platform ever supports a cut, we'd be happy to onboard it. Until then, I recommend you use copy&paste, verify that your data has pasted as desired, and then manually delete the data.

[2020-08-05 17:46] MRayermannMSFT commented on #3265
Closing due to lack of information. Please open a new issue if you are still having problems, and please fill out the template when you do so. Thanks!

[2020-08-05 17:46] #3265 closed

[2020-08-05 17:46] ahughes584 opened #3352 "Storage Explorer unable to open File Shares"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-08-05 18:35] MRayermannMSFT commented on #3348
Move messages is going to be disabled if the queue is attached with a SAS URI.

[2020-08-05 18:57] JasonYeMSFT commented on #3345
@nedwardsesha The error says you don't have sufficient permission to list the resources. How are you connecting to your resources (e.g. signed-in, attached storage account via key or SAS)? What RBAC role or permission you have that you are aware of?

[2020-08-05 19:05] JasonYeMSFT commented on #3163
@snowman907 I just noticed that in the error message, it points out that your SAS has expired since the "Current" time is after the "Expiry" time.

[2020-08-05 19:06] nedwardsesha commented on #3345
Connecting to resource via signed in account, it can browse to other storage accounts just not this particular one which is the main one used.

I have Contributor/Storage Account Contributor Permissions on the resource and Owner on the Subscription

I have an older version of Azure Storage Explorer (1.12.0) on another machine with the same credentials I can browse.

[2020-08-05 22:15] JasonYeMSFT commented on #3345
@nedwardsesha I don't recall us making changes that would affect the authentication. Could you check if you are losing the ability to list storage account keys in Storage Explorer across the upgrade? To check that, you can select the problematic storage account node and look at the properties panel (bottom left corner), looking for the "Primary Key" field. You can also check the Storage Explorer s

[2020-08-05 22:19] craxal commented on #3323
@v-limu Understood. I'll reopen, but I have a PR out that should fix this.

[2020-08-05 22:29] MRayermannMSFT commented on #3324
Fix merged into master.

[2020-08-05 22:29] #3324 closed

[2020-08-05 22:29] MRayermannMSFT commented on #3270
Fix merged into master.

[2020-08-05 22:30] MRayermannMSFT commented on #3301
Fix merged into master.

[2020-08-05 22:30] #3301 closed

[2020-08-05 23:10] #3348 closed

[2020-08-05 23:10] #3347 closed

[2020-08-05 23:15] JasonYeMSFT commented on #3345
I have forwarded your request id to look for the service log. It turns out that for that problematic storage account, your administrator have set some security policy that only grant access from a certain group IP addresses, which your machine doesn't belong to [storage network security doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security). The cause of the error has

[2020-08-06 00:21] navin2108 commented on #3316
Hi Jason,

PFA screenshots
________________________________
From: JasonYeMSFT <notifications@github.com>
Sent: Wednesday, August 5, 2020 2:50 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Navin Menezes <navin2108@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Unable to connect (#3316)

@navin2108<https://github

[2020-08-06 02:44] v-xianya commented on #3348
@MRayermannMSFT Is it actionable to disable 'Move Messages' for  Azure AD attached queue?
The current screenshot of Move Messages dialog for one Azure AD attached queue.
![image](https://user-images.githubusercontent.com/41351993/89484695-9c619900-d7d1-11ea-911e-21dbc849e690.png)

[2020-08-06 03:00] v-limu commented on #3270
Hi @MRayermannMSFT

Verified on build 20200806.6. The button has been fixed. But the **metadata Key** doesn't match. Can you take a look?😃
![image](https://user-images.githubusercontent.com/54055206/89485644-d0d65480-d7d3-11ea-9583-8a8c645640fa.png)

[2020-08-06 06:58] gldraphael opened #3353 "Azure Storage Explorer Stuck at loading when installed with scoop"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10
**Architecture**: ia32
**Regression From**:  -

## Bug Description ##

Azure Storage Explorer loads forever. Easy to reproduce this one.

## Steps to Reproduce ##

1. Install scoop.
1. `scoop install storageexplorer`

## Expected Experience ##

The app should start, when running from: `C:\Users\username\s

[2020-08-06 08:24] v-xianya opened #3354 "The path on one file share's snapshot view is changed after clicking the 'Restore Down' button"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'View Share Snapshots' button on its toolbar -> Observe the path.
3. Clic

[2020-08-06 08:31] v-xianya opened #3355 "Put the error message in the activity log when dragging and dropping files to the file share snapshot's editor"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'View Share Snapshots' button on its toolbar.
3. Drag and drop one file to the cu

[2020-08-06 08:49] v-xianya opened #3356 "Show an incorrect message after pasting one file's URI into the connect dialog and changing 'sr' value from 'f' to 's'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.12.0)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one file.
3. Right click the file -> Click 'Get Shared Access Signature

[2020-08-06 09:04] v-limu opened #3357 "The URL of the ADLS Gen2 folder shows incorrectly in the 'Properties' dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Create a new folder -> Click 'Properties' in the toolbar.
3. Che

[2020-08-06 09:22] v-limu opened #3358 "Succeed to paste one deleted table"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Tables.
2. Create a new table -> Copy the table then delete it -> paste the table to another account.
3. Check the result.

*

[2020-08-06 09:31] KaraboM2 opened #3359 "Unable to Import or delete files within Azure Storage Explorer"
**Storage Explorer Version**:  10.5.0
**Build Number**:  20200715.2 (Help > About) version 1.15.2
**Platform/OS**:  Windows 10 -- 1909
**Architecture**: -- i86
## Bug Description ##
{
  "message": "\"Authentication Failed. The SAS is not correct or expired or does not have the correct permission ->
 github.com/Azure/azure-storage-blob-go/azblob.newStorageError,
/home/vsts/go/pkg/mod/github.com/!az

[2020-08-06 09:49] v-xinda opened #3360 "Fail to rename the blob when entering a name contains " ' ""
**Storage Explorer Version:** 1.15.0-dev
**Build:** 20200806.6
**Branch:** master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Upload one blob -> Right click the blob -> Select 'Rename...' -> Enter

[2020-08-06 10:02] v-xianya opened #3361 "Disable the 'Clone' action when using "." as the new name for one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> Blob containers.
2. Create a blob container -> Upload one blob.
3. Clone the blob with name '.' -> Check the result.

[2020-08-06 10:02] v-limu opened #3362 "The table auto refresh after canceling the file import"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Tables.
2. Create a new table -> Click 'Import' action in the toolbar -> Click 'Cancel' button in the file explorer.
3. Check

[2020-08-06 10:20] v-xianya opened #3363 "Don't allow people to rename/clone blobs with "." at the end of the name"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200806.6
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> Blob containers.
2. Create a blob container -> Upload one blob (make sure in the root directory).
3. Clone the blob

[2020-08-06 11:58] stephenplant commented on #3345
Also just got this issue using my Visual Studio Enterprise subscription:

Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

Other accounts seem to be working OK.

[2020-08-06 13:58] orofino commented on #1064
Thanks for the explanation. No, I don't think so. As you say, you'll still get some 'non-selected' incrementing of the dequeue count, which means there is little difference. This is the same as what we have to do today anyway. Generally we move all the messages out of the queue to a holding queue if we're working on live queues.

Thanks again for this great addition!

[2020-08-06 17:59] jinglouMSFT commented on #3359
The error indicated that your authentication failed. So several things to check.  Make sure you actually have the permission to delete, your proxy settings are set correctly. Most likely you didn't have the delete permission when you attached using SAS URL. Can you double check?  Thanks.

[2020-08-06 18:22] MRayermannMSFT commented on #1064
Awesome. I'm going to go ahead and close this issue now. You'll see this feature come out in our 1.15.0 update. Thanks for all of the feedback and patience.

[2020-08-06 18:22] #1064 closed

[2020-08-06 18:40] MRayermannMSFT commented on #3353
Hey @gldraphael, I just looked into this and I think the root cause is that the .exe is being launched from a folder which is a shortcut. This scenario broke because of a fix we made for a security issue. We'll look into seeing how we can fix this side effect though.

[2020-08-06 19:00] craxal commented on #3356
@v-xianya The original behavior is actually a bug. You should not be able to use a SAS URI pointing to a file to connect to a share. We'll fix the error message.

[2020-08-06 19:17] craxal commented on #3354
There is a PR already in the works that addresses this issue.

[2020-08-06 19:45] #3304 closed

[2020-08-06 19:46] #3323 closed

[2020-08-06 20:20] #3344 closed

[2020-08-06 21:39] JasonYeMSFT commented on #3359
@KaraboM2 To check your SAS permissions, look for the "d" permission in the "sp" parameter in your SAS url.
What do you mean by "import"? Do you mean "upload"? Are you saying that you aren't able to import files or you are not seeing the imported files?

[2020-08-06 22:55] navin2108 commented on #3316
![Storage explorer 2](https://user-images.githubusercontent.com/63617882/89590646-0166ce80-d866-11ea-9994-0ef42db10ea1.jpg)
![Error](https://user-images.githubusercontent.com/63617882/89590648-0297fb80-d866-11ea-8171-3177d9f5e833.jpg)
![Storage explorer](https://user-images.githubusercontent.com/63617882/89590649-0297fb80-d866-11ea-993d-4d41376af1fb.jpg)

Attaching files directly on github.com

[2020-08-07 00:46] nedwardsesha commented on #3345
Adding my ip to the firewall seemed to take care of it. Thanks!

[2020-08-07 00:46] #3345 closed

[2020-08-07 01:48] v-xianya commented on #3356
Hi @craxal Thanks for the updates.
Verified this issue on build master/20200807.4. The error message makes sense now.
![image](https://user-images.githubusercontent.com/41351993/89599754-ff673480-d892-11ea-95be-1555dda3d4bc.png)

[2020-08-07 01:48] #3356 closed

[2020-08-07 03:42] krishjag commented on #3326
I have been long time user of the storage explorer and started getting this error after updating to 1.14.2.

Storage Explorer Version:1.14.2
Platform/OS: Windows 10 x64
Regression From: After I updated the storage explorer to the above version.

Install location: Default (C:\Program Files (x86)\Microsoft Azure Storage Explorer)

![image](https://user-images.githubusercontent.com/24848674/89606048-

[2020-08-07 06:33] v-xianya commented on #3354
Verified this issue on build master/20200807.6. Fixed.

[2020-08-07 06:33] #3354 closed

[2020-08-07 06:36] v-xianya commented on #3048
Verified this on build master/20200807.6. Fixed.
![image](https://user-images.githubusercontent.com/41351993/89616586-38b39a80-d8bb-11ea-946b-2357da2a2694.png)

[2020-08-07 06:36] #3048 closed

[2020-08-07 07:12] vkuehn opened #3364 "Copy Paste RAW Names from Tree view"
**Is your feature request related to a problem? Please describe.**
Sometimes in a Dialog with Colleges just the Name of a container is needed but there is no context menu for that

**Describe the solution you'd like**
Right click "copy Name as text" or even as az cli command list or what ever programing tool is currently wanted

**Describe alternatives you've considered**
copy direct link but that

[2020-08-07 07:39] v-xianya commented on #2348
Verified this issue on build master/20200807.6. Fixed.

[2020-08-07 07:39] #2348 closed

[2020-08-07 08:36] v-xinda opened #3365 "The 'Conflict' dialog doesn't pop up after uploading an existing blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200807.6
**Branch**: master
**Platform/OS:** Windows 10 / CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob to it -> Upload the blob to same destination again.
3.

[2020-08-07 08:51] v-xinda opened #3366 "The added metadata is not preserved in Properties dialog for the cloned blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200807.6
**Branch**: master
**Platform/OS:** Windows 10 / CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one regular storage account -> Blob Containers.
2. Right click the Blob Containers -> Click 'Properties...' -> Add metadata -> Save.
3. Clone this b

[2020-08-07 09:32] v-limu opened #3367 "Keep a consistent result when using a name ended with whitespaces to clone one blob for the emulator and regular blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200807.6
**Branch**: master
**Platform/OS:** Windows 10
**Emulator**: 5.10.0.0
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Install and run Emulator -> Launch Storage Explorer.
2. Open one emulator blob container -> Clone one blob -> Add whitespaces append to the default blob name in the clone

[2020-08-07 09:38] v-xianya opened #3368 "There are a part of strings not localized in Services part of Settings panel"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200807.6
**Branch**: master
**Language**: Chinese(ZH-CN)/ Turkish/ Russian/ Portuguese (Portugal)/Japanese/ Italian/ French/ Czech
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Applicatio

[2020-08-07 09:39] v-xianya opened #3369 "The strings in the information bar which prompted after expiring the account are not localized completely"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200807.6
**Branch**: master
**Language**: All
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer -> Expire the account.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文（简体）' -> Restart Storage Exp

[2020-08-07 11:40] Sandeepjhanwar opened #3370 "Facing issue while Upload and Downlaod of data from Storage explorer."
**Storage Explorer Version**: <1.13.1>
**Build Number**: <20200515.1>
**Platform/OS**: < Windows 10?>
**Architecture**: <x64>
**Regression From**:  <Was working in same version but issue started recently >

## Bug Description ##
Issue while downloading and uploading file from storage explorer

## Steps to Reproduce ##
1. Select any file/folder from container
2. Press download

## Expected Experien

[2020-08-07 15:25] KaraboM2 commented on #3359
@jinglouMSFT funny thing is I do have the permission to delete - I was able to delete some objects within the blob storage a few days back

@JasonYeMSFT  I can confirm that I do have the proper permission - I have read, write & delete permission for an administrator.  Import = Upload, I'm not see any  files I'm importing into Microsoft Azure Storage Explorer. Privously I was I able to all my impor

[2020-08-07 15:31] KaraboM2 commented on #3359
@jinglouMSFT funny thing is I do have the permission to delete - I was able to delete some objects within the blob storage a few days back. My proxy does allow communication between Microsoft Azure and my on prem environment

@JasonYeMSFT I can confirm that I do have the proper permissions - I have read, write & delete permissions for an administrator. Import = Upload, I'm not seeing any 'new' fil

[2020-08-07 16:58] craxal commented on #3320
The affected commands rely on changes to the list view model, but for some reason, those updates aren't triggered if an error is caught while fetching items in `FileListViewModel`. It seems the codepath that handles errors in `FileListViewModel` interrupts the normal page refresh flow.

[2020-08-07 17:33] maninderjitsinghdhaliwal commented on #3330
i open Azure Storage Explorer.
It ask to sign in so i sign in with microsoft account.
it loads subscriptions then i am trying to open blobs in my MSDN subscription and it do not let me and the error i pasted in the original message

[2020-08-07 18:32] #3320 closed

[2020-08-07 19:56] Hundet opened #3371 "Can MAC use RBAC to login to Azure fileshare"
I'm trying to connect Mac 10.12 and 10.15 to an Azure File Share using RBAC authentication.  Everything works perfectly on Windows 10 PC's so I know the RBAC setup is correct and working.

I can connect to the Azure share with the master key, but that of course circumvents my user permissions.  I've had a ticket open with MS for over 2 weeks, but we are not getting anywhere.  I'm looking for any i

[2020-08-07 21:25] dirkackerman commented on #3294
I had the same issue only with OpenSUSE Tumbleweed running KDE instead of GNOME. I've tried:

- Running Storage Explorer from snap packages and get the same error as reported by @JaviBonilla above
- Downloading the tar.gz and executing Storage Explorer locally for both 1.13.1 and 1.14.2. They both bring a modal over the splash screen stating "Microsoft Azure Storage Explorer requires a password ma

[2020-08-09 02:18] boe1 opened #3372 "Can't delete or copy files using Microsoft Azure Storage Explorer"
**Storage Explorer Version**:
1.14.2
**Build Number**:
20200715.2
**Platform/OS**:
Windows 10 1903
**Architecture**:
ia32
**Regression From**:

## Bug Description ##
Can't download, upload or delete using microsoft storage explorer

## Steps to Reproduce ##
Open Storage explorer
Open Connect Dialog
Click the button for use a shared access signature URL
Paste in the address from protection.office.c

[2020-08-09 20:44] SoftwareRat opened #3373 "File Shares dont allow to load"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**:  Windows 10
**Architecture**: x64
**Regression From**:  It worked before reinstallation of Windows 10

## Bug Description ##
If i want to get access to my file shares i get this:
Unable to list resources in account due to inadequate permissions. Permission to list containers or to list account keys is required.

Con

[2020-08-10 02:17] v-limu commented on #3365
Verified on build 20200807.13. This issue has been fixed.

[2020-08-10 02:17] #3365 closed

[2020-08-10 09:08] jorgklein commented on #2548
Hi @MRayermannMSFT I am not able to find you on teams/email. How can I contact you?

[2020-08-10 09:30] v-xianya opened #3374 "Succeed to clone one file using '\uE000' as the new name under one file share"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200807.13
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.13.1)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one file and right click it -> Click 'Clone...'.
3. Enter the new name

[2020-08-10 12:20] nspiteri opened #3375 "Make it possible to rename a local/attached storage account"
**Is your feature request related to a problem? Please describe.**
If you attach to a storage account and afterwards you want to change the name, you're unable to do it

**Describe the solution you'd like**
I'd like to be able to right click and change the storage account name

**Describe alternatives you've considered**
Detaching and attaching the storage account

[2020-08-10 17:25] MRayermannMSFT commented on #3296
Hey @alukyan, this is going to be a long reply, so bear with me!

In 1.15 we will be shipping the ability to right click on multiple files/folders and change their access tiers all at once.

This isn't something we would add at this time. I suggest you look into AzCopy v10 and their "sync" feature. It may be of help to you.

I think we already offer this? Maybe I'm confused by what you mean. Feel

[2020-08-10 17:26] MRayermannMSFT commented on #3284
You can look at your windows environment variable settings for either HTTP_PROXY or HTTPS_PROXY. If those are there, then Storage Explorer is most likely picking them up silently in the background.

[2020-08-10 17:27] MRayermannMSFT commented on #3132
Thanks. Can you please:
- upgrade to the lastest version
- go through the steps in our troubleshooting guide to try and resolve this issue: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-08-10 17:37] MRayermannMSFT commented on #3374
We shouldn't allow people to use /'s in file and folder names. Especially for file shares.

[2020-08-10 17:39] MRayermannMSFT commented on #3373
@SoftwareRat because file shares do not support data plane RBAC access you have the following options for accessing them:
- Obtain an RBAC role which allows you to list account keys. If you do this and wish to keep using blob/queues via RBAC, you can disable key usage for those under Settings -> Services -> Storage Accounts -> Disable Usage of Keys
- Attach your storage account or file share with

[2020-08-10 17:43] MRayermannMSFT commented on #3372
@boe1, can you please share your SAS with us?

**IMPORTANT**: **PLEASE REDACT THE SIG BEFORE SHARING THE SAS WITH US**

So we're looking for this:

sv=2019-02-02&ss=btqf&srt=sco&st=2020-08-10T17%3A26%3A01Z&se=2020-08-11T17%3A26%3A01Z&sp=rl&sig=REDACTED

**IMPORTANT**: **PLEASE REDACT THE SIG BEFORE SHARING THE SAS WITH US**

Also to confirm, you're saying that even if there is not a file with the

[2020-08-10 17:49] MRayermannMSFT commented on #3371
@Hundet the answer kind of depends on what you mean by RBAC. All storage services support RBAC at the management layer. As in, you can have an RBAC role which grants you access to the account key, and then you can use the key to authenticate against the data layer.

Only blobs and queues support RBAC at the data layer. As in, you can have an RBAC role which grants you access to blob container/s.

[2020-08-10 17:51] MRayermannMSFT commented on #3367
Won't fix because:
- this is an emulator exclusive issue
- for clone, emulator is still using our JS code path
- adding whitespaces to the end of a blob name is a bit of an edge case

[2020-08-10 17:51] #3367 closed

[2020-08-10 17:54] MRayermannMSFT commented on #3366
1. Determine if actually not a regression. Use the portal to test against old versions of storage explorer. The portal also has the ability to look at container metadata. So validate if on container clone we have always not preserved if.
2. If not a regression, remove milestone to triage again.
3. If regression, fix for 1.15.

[2020-08-10 17:56] MRayermannMSFT commented on #3364
@vkuehn for now, I'd recommend looking in the properties grid in the bottom left. Some resource types have a dedicated "name" property, while others have a URL, which you can pretty easily extract the name from.

[2020-08-10 18:02] MRayermannMSFT commented on #3362
Won't fix. Minor table issue.

[2020-08-10 18:02] #3362 closed

[2020-08-10 18:03] MRayermannMSFT commented on #3361
Related to #3363

[2020-08-10 18:05] MRayermannMSFT commented on #3360
@v-xinda can you still repro this? We're having a hard time doing so. Also, can you share with us the error details?

[2020-08-10 18:07] MRayermannMSFT commented on #3359
@KaraboM2 it sounds most likely that your SAS has expired. Can you check the expiration time of the SAS. It should be near something like `se=<date time here>`.

[2020-08-10 18:10] MRayermannMSFT commented on #3358
Ideally we would split out activities showing that creating the new table was successful, but that copying the entities over failed. Or before attempting anything we could double check that the source table still exists.

For now, the failure in the activity log is good enough for tables.

[2020-08-10 18:10] #3358 closed

[2020-08-10 18:20] MRayermannMSFT commented on #3357
gen2 apis -> use dfs endpoint -> folders only real in gen2 apis
blob apis -> use blob endpoint -> folders not real in blob apis

So for a folder, showing dfs endpoint makes sense.

Once interop supports folder properties, we can move the impl of "show folder properties" to using the blob SDK, and this URL will change to be a blob endpoint URL.

@craxal should check with platform team if interop su

[2020-08-10 18:27] MRayermannMSFT commented on #3352
@ahughes584 please fill out the issue template and describe your issue. Thanks!

[2020-08-10 18:31] #3350 closed

[2020-08-10 21:03] boe1 commented on #3372
I'd love to give my info but not sure how to set it for redacted.
My sas looks something like
sv=2015-04-05&sr=c&si=IngestionSasForAzCopy202007251302322396&sig=hcdubpTQpiTG4zmRD0fvTNrKlauXXXXXXXXXXXXXXXXXXXX&se=2020-09-04T19%XXXX%XXXXX

My url looks something like - https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXX.blob.core.windows.net/ingestiondata

(this is according to the properties listed at the bottom

[2020-08-11 00:16] craxal commented on #3366
The issue appears to be that `canCopyProperties` is not defined when `Azure.Storage.BlobContainer.renameContainer` is called. I don't think this is a regression, but the fix is small.

[2020-08-11 01:42] v-xianya commented on #3369
Verified this issue on build master/20200811.2. Fixed. So we close it.

[2020-08-11 01:42] #3369 closed

[2020-08-11 02:20] v-xinda commented on #3360
Hi @MRayermannMSFT
This issue also reproduces on the build 20200811.2. Error details as below.
Error Details:
[code]

[2020-08-11 07:25] Sherlocco commented on #3284
neither HTTP_PROXY or HTTPS_PROXY are setted in my environment variables setup, sorry

[2020-08-11 07:50] KaraboM2 commented on #3359
@MRayermannMSFT I have restarted my machine and all services running on it, also I logged out of my Azure portal then logged back in - I still get "The SAS is not correct or expired or does not have the correct permission" - error every time

[2020-08-11 08:10] GeeWee opened #3376 "Azure Storage Explorer is leaking X11 clients"
**Storage Explorer Version**: 1.14.0
**Build Number**: 20200624.3
**Platform/OS**: Fedora 32
**Architecture**: x64
**Regression From**: Potentially a regression. It seems to be a new bug that I only started encountering over the last few months.

## Bug Description ##
Azure Storage Explorer leaks Xorg connections. This means that after using it for a little while, the xorg connections will continu

[2020-08-11 08:31] v-xianya opened #3377 "Show a folder named '&amp;' after creating a folder with the name '&'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200811.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.12.0)

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create a file share -> Click 'New Folder' -> Input '&' as the new folder name -> Click 'OK'.
3. Check

[2020-08-11 08:32] xiaowuhu opened #3378 "Cannot explore container"
**Storage Explorer Version**: 1.14.2
**Build Number**:
**Platform/OS**: Windows 10
**Architecture**:  x64

## Steps to Reproduce ##
1. install and open for the first time
2. connect to a container with valid connection string
3. explore the container

Unable to retrieve child resources.

Details:
["Error:Cannot find module '@azure/storage-queue'\nRequire stack:\n- D:\\Program Files (x86)\\Microsof

[2020-08-11 08:42] v-xianya opened #3379 "Keep a same state of the action 'Selection Statistics' between an empty file share and blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200811.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> File Shares and Blob Containers.
2. Create a file share and a blob container.
3. Right click the string 'No data available in

[2020-08-11 08:43] v-xianya opened #3380 "Show a timestamp in the activity log of the action 'Table Statistics'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200811.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Tables.
2. Create a table -> Click 'Table Statistics' on the toolbar.
3. Check the activity log.

**Expect Experience:**
Show

[2020-08-11 09:59] v-xianya opened #3381 "Keep a consistent behavior between file shares and ADLS Gen2 blob containers when using the name 'a/b/c' to create a new folder"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200811.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> File Shares and Blob Containers.
2. Create a file share and a blob container.
3. Click 'New Folder' both in

[2020-08-11 11:27] andreacassioli opened #3382 "Search box in storage container tab does not support copy&paste"
I have noticed that the search box in the storage Blob containers tab does not support standard copy and paste operations (including select all for instance). This is quite annoying and limiting.

In my use case, I often paste a UUID from an application deeplink to retrieve data from a blob storage folder, whose name is the UUID. If I need to search twice, tthe search box force me to manually dele

[2020-08-11 11:49] lucferbux commented on #3244
I have the same Issue.

Version 1.14.2 and macOS Catalina 10.15.6.

Screenshot:

<img width="521" alt="Screenshot 2020-08-11 at 13 48 19" src="https://user-images.githubusercontent.com/16117276/89893854-6c533500-dbd9-11ea-8ad6-c9661c8502ed.png">

[2020-08-11 17:52] navin2108 commented on #3316
Can I get an update on this?

Regards,
Navin
________________________________
From: JasonYeMSFT <notifications@github.com>
Sent: Wednesday, August 5, 2020 2:50 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Navin Menezes <navin2108@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Unable to connect (#3316)

@navin2

[2020-08-11 18:44] JasonYeMSFT commented on #3376
@GeeWee Could you try upgrading to 1.14.2 to see if it fix the problem. I have checked in a fix to properly close XServer connections in our 1.14.1 hotfix.

Related to #3206.

[2020-08-11 18:46] MRayermannMSFT commented on #2238
@Jehoel , ok I was able to reproduce by:
1. search in start menu
2. click pin to start
![image](https://user-images.githubusercontent.com/21112697/89935805-9f8cc880-dbc7-11ea-88f9-a4929300cba9.png)
I'm not sure why doing it that way causes this issue. There's nothing odd about the shortcut, it looks correct.

But anyways, to do @JasonYeMSFT's suggestion, you'll need to:
1. Unpin whatever you have

[2020-08-11 18:47] MRayermannMSFT commented on #2238
(also, nice desktop background 😀)

[2020-08-11 18:59] #3366 closed

[2020-08-11 18:59] JasonYeMSFT commented on #3316
Sorry, I wasn't able to reproduce what you have seen. Could you please get us some more information to help us figure out what is going on?

1. The reason why we show "az300navin" is already used is because we store an identifier of your custom connection (e.g. display name of this account connection) in local storage. You can try clearing the corrupted connection and re-attaching it. [Trouble sho

[2020-08-11 19:06] craxal commented on #3223
- [x] Blobs
- [ ] ADLS Gen2 blobs
- [ ] Files
- [ ] Queues
- [ ] Tables
- [ ] Managed disks

[2020-08-11 20:29] MRayermannMSFT commented on #2548
Since your email is in your profile I'll reach out. Thought you were internal MSFT. :P

[2020-08-11 21:07] ericsson007 commented on #3161
I have the same problem but as a workaround I added ' OFFSET 0 LIMIT 100' to the end of the query. You may have to set LIMIT to a smaller nr....

[2020-08-11 23:28] MRayermannMSFT commented on #3370
@Sandeepjhanwar has downloading with Storage Explorerr worked before the past for you?

Can you please do the following:

0. close storage explorer
1. win + r
2. type in `rundll32.exe keymgr.dll,KRShowKeyMgr` then hit enter
3. look for any entries like `azcopy/aadtoken/...`
4. remove those entries

And then try doing the operation again?

[2020-08-12 00:34] navin2108 commented on #3316
Hi Jason,

I did see 3-4 connections in the credential manager. I did clear/remove all connections but I am still getting the same error message.

Regards,
Navin
________________________________
From: JasonYeMSFT <notifications@github.com>
Sent: Wednesday, August 12, 2020 12:30 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Navin Menezes <navin2108@hotmail.com>

[2020-08-12 02:22] v-limu commented on #3346
Verified on build 20200812.2. This issue has been fixed. So close it.

[2020-08-12 02:22] #3346 closed

[2020-08-12 02:25] v-limu commented on #3328
Verified on build 20200812.2. The QA emulator blob container has been fixed. So close it.

[2020-08-12 02:25] #3328 closed

[2020-08-12 02:55] v-xianya commented on #3349
Hi @JasonYeMSFT
Verified this issue on build master/20200812.2.

The action 'Change Access Tier...' is enabled when selecting one Page/ (Append) blob and one Block blob.
This issue also reproduces when selection Page/ (Append) blobs and Folders.
![image](https://user-images.githubusercontent.com/41351993/89969842-f8249a00-dc89-11ea-847b-937c7a5eff9c.png)

[2020-08-12 03:08] v-limu commented on #3310
Hi @JasonYeMSFT

 Verified on build 20200812.2. This issue has been fixed for the blobs. But it reproduces for **the folders**.
![image](https://user-images.githubusercontent.com/54055206/89970625-d1676300-dc8b-11ea-8893-f094176495f3.png)

[2020-08-12 03:12] v-xianya commented on #3215
Hi @craxal Verified this issue on build  master/20200812.2. Reproduce. So we are going to re-open it.

[2020-08-12 03:13] v-xianya commented on #3214
Hi @craxal Verified this issue on build master/20200812.2. Still reproduce. So we are going to re-open it.

[2020-08-12 07:13] manishjha2088 commented on #3209
@MRayermannMSFT  its a move operation , the files does not deleted but gets moved

At this point of time, I tried a workaround, I created another folder ( lets say "Demo" ) in Azure files and then I am dropping the files at this location, used a scheduled task to pick the files from this folder and then drop it in the original  folder where it should have been  ("DAMdrop") from where the applicati

[2020-08-12 07:45] v-limu commented on #3256
Verified on build 20200812.2. This issue has been fixed. So close it.

[2020-08-12 07:45] #3256 closed

[2020-08-12 07:45] v-limu commented on #3259
Verified on build 20200812.2. This issue has been fixed. So close it.

[2020-08-12 07:45] #3259 closed

[2020-08-12 08:31] GeeWee commented on #3376
It does fix the overarching issue. I didn't try upgrading because I didn't see anything in the patch notes.

The socket usage is still very high, and it does rise, (I've managed to get it up to 281)
[code]
It seems to open new sockets when opening new functionality, and when closing all tabs it goes down to 229 again. So the socket usage is still high, but it doesn't grow uncontrollably anymore.
D

[2020-08-12 09:14] v-xianya opened #3383 "Fail to move one ADLS Gen2 blob which name contains '#'"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200811.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Select one blob container -> Select one blob -> Rename it with a name contains '#' (like: '**te#

[2020-08-12 09:16] v-limu opened #3384 "An extra action 'Set Public Access Level...' shows for one premium blob container under Quick Access"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200812.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one premium storage account -> Blob containers.
2. Create a blob container -> Check its context menu.
3. Add the blob container to Quick Access -> C

[2020-08-12 09:16] v-limu opened #3385 "Keep a consistent 'Public Read Access' value between one pasted and cloned blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200812.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob containers.
2. Create a blob container -> Set the 'Public Read Access' to 'container'.
3. Copy the blob container -> Pas

[2020-08-12 16:39] JasonYeMSFT commented on #3349
@v-xianya The current behavior is by design. The intention is to not block users when their selection include blobs that don't have access tier. If they change access tier on them, those blobs will be ignored.

[2020-08-12 16:43] craxal commented on #3215
@v-xianya The Cloud Explorer reference was not up to date for 20200812.2. Please verify again with a newer build.

[2020-08-12 16:43] craxal commented on #3214
@v-xianya The Cloud Explorer reference was not up to date for 20200812.2. Please verify again with a newer build.

[2020-08-12 17:08] JasonYeMSFT commented on #3310
@v-limu, I am going to fix the block blob storage account scenario. For the classic storage account scenario, since the accountKind of blob containers in classic accounts are `undefined`, there is no way for us to distinguish them with the blob containers in Quick Access or local attachment that supports access tier. So that won't. be fixed.

[2020-08-12 17:33] MRayermannMSFT commented on #3385
It looks like this was fixed when https://github.com/microsoft/AzureStorageExplorer/issues/3366 was fixed

[2020-08-12 17:33] #3385 closed

[2020-08-12 17:54] MRayermannMSFT commented on #578
We're fixing the scoop issue, but since @mhammons  hasn't replied to my question, I'm going to go ahead and close this. If anyone is still having startup problems, please open a new issue. Thanks.

[2020-08-12 17:54] #578 closed

[2020-08-12 17:57] MRayermannMSFT commented on #3158
@v-xianya I cannot repro this. Are you still able to reproduce it?

[2020-08-12 18:38] mhammons commented on #578
Sorry...I don't recall where the logs came from...might have been from a previous install. I had deleted and re-installed.

I now have 1.13 and it now loads a bit slowly, but no where near the issues reported earlier. So as of now, it's working and no longer seeing the hangs and long delays as before.

Mike

[2020-08-12 20:04] gantta commented on #3378
Same issue for me. First time install and connected to my storage account with access key.

Unable to retrieve child resources.

Details:
["RestError:request to https://<accountName>.core.windows.net/?include=metadata&comp=list failed, reason: getaddrinfo ENOTFOUND <accountName>.blob.core.windows.net"]

[2020-08-12 23:06] MRayermannMSFT commented on #2398
@JCKodel if you resize the window does the UI fix itself?

[2020-08-12 23:11] JCKodel commented on #2398
Yes

[2020-08-12 23:34] rawatsudhir1 opened #3386 "Unable to retrieve child resources."
**Storage Explorer Version**: 1.14.2
**Build Number**:
**Platform/OS**: windows 10
**Architecture**: x64
**Regression From**:  No

![image](https://user-images.githubusercontent.com/32550309/90078408-e958e880-dd58-11ea-9e24-af94e84800a5.png)

## Bug Description ##
Unable to retrieve child resources.

Details:
["Error:Cannot find module 'tslib'\nRequire stack:\n- D:\\Microsoft Azure Storage Explore

[2020-08-13 00:49] MRayermannMSFT commented on #3383
Fix merged into master.

[2020-08-13 00:49] #3383 closed

[2020-08-13 01:27] v-xianya commented on #3158
Hi @MRayermannMSFT Verified this issue on build master/20200813.4. Do not reproduce. So we are going to close it.

[2020-08-13 01:27] #3158 closed

[2020-08-13 01:27] v-limu commented on #3310
Hi @JasonYeMSFT Got it. Thanks for your updates!

[2020-08-13 01:44] v-xianya commented on #3215
Hi @craxal Thanks for the updates. Verified this issue on build master/20200813.4. Fixed.

[2020-08-13 01:44] #3215 closed

[2020-08-13 01:44] v-xianya commented on #3214
Hi @craxal Thanks for the updates. Verified this issue on build master/20200813.4. Fixed.

[2020-08-13 01:44] #3214 closed

[2020-08-13 01:52] v-xianya commented on #3349
@JasonYeMSFT OK, thank you for the clarifying. We are going to close this issue.

[2020-08-13 01:52] #3349 closed

[2020-08-13 07:49] v-limu commented on #3384
**More Info:**
This issue also reproduces under one Name & Key attached premium storage account.

[2020-08-13 07:56] v-xianya commented on #3119
@MRayermannMSFT This issue also reproduces when ADLS Gen2 blob folder name contains **'?'**.

One difference: The folder and its contents '?' can be deleted.
![image](https://user-images.githubusercontent.com/41351993/90108837-7a41bb00-dd7d-11ea-8bf7-9a74f289f077.png)

Same behaviors:
1. Failed to **rename & move** folder and blobs inside it.
![image](https://user-images.githubusercontent.com/4135

[2020-08-13 09:13] vkuehn commented on #3364
Thanks adding it to the list !

[2020-08-13 09:37] v-limu opened #3387 "The editor of one file share shows blank"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.4
**Branch**: master
**Platform/OS**: Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Previous release(1.14.2)

**Steps to reproduce:**

1. Expand one storage account ->File Shares.
2. Open one file share -> Check the editor.

**Expect Experience:**
The editor shows well.

**Actual Expe

[2020-08-13 09:39] v-limu opened #3388 "The copied URL is different from the URL in the 'Properties' dialog for one blob under SAS attached blob containers"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.4
**Branch**: master
**Platform/OS**: Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Previous release(1.12.0)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob to it -> Attach the blob container via SAS.
3. Open th

[2020-08-13 09:52] v-xianya opened #3389 "Display '<no name>' in the path of the blob when setting '//' as the uploaded blob's destination directory"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Previous release(1.14.2)

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Click 'Upload' -> Select 'Upload Files...'.
3. Select one

[2020-08-13 10:06] v-xianya opened #3390 "The path is incorrect when clicking 'Manage Snapshots' on the toolbar with the placeholder in the path box"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one file.
3. Click the path box -> Click 'Manage History -> Manage Snaps

[2020-08-13 10:09] v-xianya opened #3391 "It would be better to filter out the duplicate directories under the 'Recent locations' dropdown list"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one folder.
3. Open the folder for several times.
4. Click the 'Recent l

[2020-08-13 12:17] reddevil7nine commented on #578
Sorry, just saw this. Thanks @gldraphael

[2020-08-13 14:44] tedvanderveen commented on #2630
For our custmers (who do not have Azure / AAD login accounts) it would be great if we can simple supply a deep link that includes a SAS token, like the example provided by @averhaegen.

[2020-08-13 16:31] #3388 closed

[2020-08-13 16:35] MRayermannMSFT commented on #3388
I would consider the current behavior to be more correct.

[2020-08-13 17:08] JasonYeMSFT commented on #3389
This is by design. Blob storage supports no name directories so we removed the logic to trim the duplicated "/" characters. The user needs to ensure there is no extra "/" characters which indicate no name directories.

[2020-08-13 17:08] #3389 closed

[2020-08-13 17:23] JasonYeMSFT commented on #3384
For Quick Access container nodes, since we don't store the skuTier information of its account, we always enable the action. For Name & Key attached storage accounts, we are not loading its skuTier which is a bug we can fix.

[2020-08-13 17:29] MRayermannMSFT commented on #3376
@GeeWee

Sorry about that, we had a hard time 100% verifying the fix, and the reporter of the other issue never confirmed if the fix worked for him. We tend to only put things in the release notes if we know they fix the issue.

I think that viewpoint might be worth reconsidering. We shouldn't be so afraid to say "There's this issue and we think we've fixed it, please let us know if you still see

[2020-08-13 23:12] Joshua33333 commented on #3242
I have the same issue. It was working normally, then I accidentally pressed a key combination on the keyboard and since then I am unable to see the app, but it is running. I believe is hidden somewhere.

[2020-08-13 23:32] superstator opened #3392 "Unable to download to ZFS mount using snap install"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Ubuntu 20.04
**Architecture**: x64
**Regression From**:  unknown

## Bug Description ##
Azure Storage Explorer snap install is unable to access zfs mounts

## Steps to Reproduce ##
Create a ZFS pool and mount, and verify access to it via other apps (terminal, GUI apps, etc)
Install storage-explorer via Snap Store
Se

[2020-08-14 02:57] v-xianya commented on #2926
@JasonYeMSFT Verified this issue on build 20200813.10.
The current behaviors:
1. The permission 'Delete version' displays on Connect Summary dialog.
![image](https://user-images.githubusercontent.com/41351993/90208811-4d90b080-de1c-11ea-9aef-5b7baf9027ef.png)
2. The permission 'Delete version' doesn't display on the Properties panel for the attached storage account.
![image](https://user-images.gi

[2020-08-14 06:11] v-limu commented on #3310
Verified on build 20200813.0. This issue has been fixed for one  BlockBlobStorage storage account. So close it.

[2020-08-14 06:11] #3310 closed

[2020-08-14 06:40] v-xianya commented on #3389
@JasonYeMSFT Thank you for the sharing.
Colud you help to take a look at the below scenarios? Are these also by design?
1. When typing '\\' in the Destination directory:
![image](https://user-images.githubusercontent.com/41351993/90220110-1e893780-de3a-11ea-8b13-ad3fa9f4cd4f.png)
Show two layers directory <no name> against the uploaded blob.
![image](https://user-images.githubusercontent.com/41351

[2020-08-14 06:54] GeeWee commented on #3376
Yeah that makes sense - it's definitely a tradeoff, but in a project like this the cost of upgrade isn't that high, so you're right that it might make sense to add in "maybe fixes" as well.

Honestly I wish I had a good answer for you on that one. I think my spider sense is just tingling because it's straigt up using 2-3x as many sockets as anything else.

I mean, in this case I'm just trying to r

[2020-08-14 07:48] v-xianya opened #3393 "Can't change the access tiers for blobs on its folder level"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.10
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous build (20200813.4)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Create one folder -> Upload files as block blob to it.
3. Right click

[2020-08-14 09:24] v-xianya opened #3394 "Fail to paste one folder from a public connected blob container to another blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200813.10
**Branch**: master
**Platform/OS:** Windows 10/ Linux Ubuntu 18.04/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Create one blob container -> Set its public read access to 'Container' -> Upload one folder to it.
3. Attach

[2020-08-14 16:45] #3381 closed

[2020-08-14 17:35] MRayermannMSFT commented on #3376
Ok, we'll look at some other popular programs to try and get a decent baseline.

And thanks for the additional numbers! We'll keep looking into this for sure. :)

[2020-08-14 18:53] emimassa opened #3395 "azure storage explorer"
**Storage Explorer Version**: 1.14.2
**Build Number**:
**Platform/OS**:  Windows 10
**Architecture**:
**Regression From**:

## Bug Description ##
No se pueden recuperar los recursos secundarios.

Detalles:
["Error:connect ENOENT \\\\?\\pipe\\19dbeeaa71444ef4877103921c1506cc"]

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-08-14 19:10] JasonYeMSFT commented on #587
Closed due to lack of response. Please open a new issue if you are still having the issue. Thanks.

[2020-08-14 19:12] JasonYeMSFT commented on #3353
We have merged a fix for this issue for our 1.15.0 release. Unfortunately we don't manage the Storage Explorer bits on scoop so you may need to wait for someone to upload it so you can upgrade.

[2020-08-14 19:14] JasonYeMSFT commented on #3243
Closed due to lack of response. If you are still having issue with it, please open a new issue and share your thoughts/findings if what you see is different from my investigation result. Thanks.

[2020-08-14 19:14] #3243 closed

[2020-08-14 20:31] #3223 closed

[2020-08-14 21:03] JasonYeMSFT commented on #3393
There seems to be some unpublished change for this code path. I will re-publish the package and it should be fixed.

[2020-08-14 21:37] MRayermannMSFT commented on #2398
Fix merged into master for 1.15 development

[2020-08-14 21:37] #2398 closed

[2020-08-14 21:37] MRayermannMSFT commented on #3387
Fix merged into master.

[2020-08-14 21:37] #3387 closed

[2020-08-14 21:50] MRayermannMSFT commented on #3394
known issue, AzCopy will fix in future release

[2020-08-14 23:14] MRayermannMSFT commented on #3258
@v-limu can you open up a new bug for me to track for investigating if we should also allow blank metadata for file shares? Thanks!

[2020-08-14 23:57] #3353 closed

[2020-08-15 00:20] SeshagiriSriram opened #3396 "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature"
**Storage Explorer Version**:  1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows 10 Professional
**Architecture**:  X64
**Regression From**:  Not sure

## Bug Description ##
I created an IOT Edge device and deployed the Blob Storage as listed in below links:
**Install Azure IOT Edge on Linux:**
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux
**Deploy Blob o

[2020-08-15 11:20] GeeWee commented on #3376
Thank you for the quick response!

[2020-08-15 21:45] Joshua33333 commented on #3242
I tried 1.13.1 and it does not work either.

[2020-08-16 22:30] schenardie commented on #2632
Can this be chosen during silent install?? A switch like /noupdates or something like it?? For companies who keep track of versioning not having the app prompt the user every time it opens would be great.

[2020-08-17 02:06] v-xianya commented on #3381
@craxal Verified this issue on build master/20200816.2. Fixed.
Could you help to take a look a this scenario?

When using name 'a\b\c' to create a new folder.
1. For ADLS Gen2 blob containers, succeed to create a folder.
![image](https://user-images.githubusercontent.com/41351993/90350829-e1f35100-e070-11ea-88f0-24806717e859.png)

2. For File shares, fail to create a folder.
![image](https://user-

[2020-08-17 02:20] v-xianya commented on #2928
This issue has been fixed on build master/20200816.2.
![image](https://user-images.githubusercontent.com/41351993/90351525-10722b80-e073-11ea-8cc1-a124427686f0.png)

[2020-08-17 02:27] richaverma01 opened #3397 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\nRequestId:ff7999a6-801e-0041-653d-742939000000\nTime:2020-08-17T02:24:49.1632346Z</Message></Error>"]

[2020-08-17 05:27] yanniekhoo opened #3398 "blob container"
cant seem to create a blob container

[2020-08-17 07:24] kturngan opened #3399 "Azure Storage Explorer connection error"
Hi,

I am getting the error below while others in my organization have managed to access the File Shares using the same connection string:

Unable to retrieve child resources.

Details:
The provided account key <deleted> is not a valid base64 string.

Apparently it is also supposed to prompt for a password but I am not being prompted.

Thanks
Karl

[2020-08-17 08:59] pepicesVeloz opened #3400 "Cannot connect to Azure storage explorer for MacOS"
{
  "message": "\"AADSTS50097: Device authentication is required.\\r\\nTrace ID: f3d1be59-470b-4cbc-975d-f54538b78200\\r\\nCorrelation ID: 9c1d444f-e52d-4cab-9bf3-6318e2a806fc\\r\\nTimestamp: 2020-08-17 08:53:12Z\""
}

**Any help?**

### Note: About Storage Explorer

Version: 1.14.2
AzCopy Version: 10.5.0

Platform: macOS
Architecture: x64
Build Number: 20200715.2
Commit: c8e3bc3d2
Support ID: bd1

[2020-08-17 09:03] v-xianya opened #3401 "The layout of the editor shows unfriendly for one ADLS Gen2 blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Check the layout of the editor.

**Expect Experience:**
The

[2020-08-17 09:33] v-xianya opened #3402 "Show a successful activity log when dragging and dropping one file to 'Versions' view for one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob -> Right click the blob -> Click 'Manage History -

[2020-08-17 09:39] v-xianya opened #3403 "The displayed folder name is not complete when searching under 'Active blobs and blobs without current version' view"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one folder.
3. Type the first character of the folder's name to the 'Sear

[2020-08-17 09:39] AdrianPaulCarrieres commented on #1887
@hassanhub
Same as you, but when I started again storage-explorer (after or while seahorse was open) it asked for password for a Default Keyring and started normally (I'm on Manjaro KDE)

[2020-08-17 09:41] v-xianya opened #3404 "The action 'Delete' is disabled for one blob under 'Versions' view"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Right click the blob -> Click 'Manage History

[2020-08-17 09:48] v-xianya opened #3405 "Add the permission 'Delete version' to 'Access Policies' dialog for one blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Select one blob container then right click it -> Click 'Mange Access Policies...'.
3. Click '

[2020-08-17 09:56] v-limu opened #3406 "Pop up an error when clicking 'Manage version' for one premium blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one premium storage account -> Blob Containers.
2. Create one blob container -> Upload one blob to it.
3. Right click the blob -> Click 'Manage Histo

[2020-08-17 09:58] v-xianya opened #3407 "Update the string 'Promote version' to 'Promote Version' for one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture:** ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Right click the blob -> Click 'Manage History

[2020-08-17 10:06] v-limu opened #3408 "Allow the empty metadata values for one file under file shares"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> File Shares.
2. Create one file share -> Upload files and folders to it -> Right click one file -> Click 'Properties...'.
3. A

[2020-08-17 10:07] v-limu opened #3409 "The word 'versions' doesn't show in the descriptions of the Undelete dialog"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200816.2
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core)/ macOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one Non-ADLS Gen2 storage account -> Blob Containers.
2. Select one blob container -> Select one soft deleted blob -> Right click it -> Click 'Undele

[2020-08-17 10:09] v-limu commented on #3258
Hi @MRayermannMSFT 😃 I has logged a new bug for the file share: [3408](https://github.com/microsoft/AzureStorageExplorer/issues/3408)

[2020-08-17 13:44] Danlough96 opened #3410 "Cannot access my internal tables"
Unable to retrieve child resources.

Details:
Network timeout error: connect ECONNREFUSED 127.0.0.1:10002

Tried to access an internal storage table. I've tried creating a new table but for some reason it wont allow me to acess any of them

[2020-08-17 16:34] JasonYeMSFT commented on #3405
I have check the access policy API in our SDK, it still doesn't support "Delete version" yet.

[2020-08-17 16:45] JasonYeMSFT commented on #3404
We intentionally disable the Delete action on the current version. If you select a previous version (an item with a timestamp next to the blob name), the delete action will be enabled.

[2020-08-17 16:51] JasonYeMSFT commented on #3406
I have tried the action in BlockBlobStorage, BlobStorage, classic accounts and StorageV2 and haven't seen this issue. Could you please share a connection to the storage account offline with us?

[2020-08-17 17:01] MRayermannMSFT commented on #45
This will be included in 1.15!

[2020-08-17 17:01] #45 closed

[2020-08-17 17:04] #1298 closed

[2020-08-17 17:29] MRayermannMSFT commented on #3405
If the final non-beta SDK allows for this maybe add it? Consider risk once we know if it is possible please.

[2020-08-17 17:30] Joshua33333 commented on #3242
I solved the issue by deleting the application support directory
.../Library/Application Support/StorageExplorer/
Then start the storage explorer and it works fine. Even version 1.14.2.

[2020-08-17 17:30] MRayermannMSFT commented on #3402
Should disable drag and drop, same as snapshots.

[2020-08-17 17:33] MRayermannMSFT commented on #3410
@Danlough96 do you have proxy settings enabled in the app? Alternatively, do you have either of these environment variables set?
- HTTP_PROXY
- HTTPS_PROXY

Also, what OS are you on and what version of Storage Explorer are you running?

[2020-08-17 17:35] MRayermannMSFT commented on #3400
@pepicesVeloz this is a requirement from your organization (who you work for, who owns a tenant you're signing into). The default sign in library used by Storage Explorer doesn't support this scenario, but our next library (currently in preview) does. You can enable it by going to Settings -> Application -> Sign In -> Enable Microsoft Authentication Library (preview).

A big caveat to this though.

[2020-08-17 17:36] MRayermannMSFT commented on #3399
@kturngan how are you accessing your resources? It looks like you are probably using name and key? If so, please make sure your key is correct, or check if they key for the account has been rotated. If it is wrong or if they key has been rotated, you'll need to re-attach using the correct value.

[2020-08-17 17:37] Danlough96 commented on #3410
Hi sorry wasted your time. Didnt set up my environment properly be a it usually does it automatically. Human error! My bad

[2020-08-17 17:37] MRayermannMSFT commented on #3398
@yanniekhoo can you please give us more details about your issue? Specifically:
- the information from the issue template (Storage Explorer version, OS, etc.)
- how you are connecting to your resources
- any error messages you are seeing

[2020-08-17 17:38] MRayermannMSFT commented on #3397
@richaverma01 how are you connecting to your resource/s? If it is Azure AD attach, please make sure you selected the correct tenant when attaching.

[2020-08-17 17:42] MRayermannMSFT commented on #3395
Similar to #3285?

[2020-08-17 17:43] MRayermannMSFT commented on #3392
@superstator if you try downloading a file in Chrome/Chromium, does the ZFS pool show up?

[2020-08-17 17:46] MRayermannMSFT commented on #3391
The inclusion of duplicate locations is intentional. Not only are we trying to show places the user recently viewed, we're also trying to provide an exact history of what they've viewed.

[2020-08-17 17:46] #3391 closed

[2020-08-17 17:51] MRayermannMSFT commented on #3326
@krishjag when you say:

Are you implying that after some period of time an install of 1.14.2 that was working, stops working?

[2020-08-17 17:54] craxal commented on #3381
@v-xianya This looks like a separate issue. Can you open a new bug, try it with forward slashes, try it on multiple platforms, etc.?

[2020-08-17 17:57] MRayermannMSFT commented on #3382
@andreacassioli are you trying to copy and paste via context menu or keyboard shortcut?

On our end, on macOS, using shortcuts (cmd+c, cmd+v, cmd+x) works fine. We did notice that select all (cmd+a) isn't working. Also on our end, we confirm that right clicking doesn't bring up a context menu.

[2020-08-17 18:02] #3379 closed

[2020-08-17 18:15] MRayermannMSFT commented on #3372
@boe1 for the log you shared, it looks like you chose to check for conflicts. Based on the log though, the access policy used by your SAS does not have read permissions, which means AzCopy cannot check for conflicts.

Can you please try the upload again, and when you see the "Storage Access Policy Detected" dialog, pick the option that doesn't check for conflicts. Then if the upload fails, share t

[2020-08-17 18:17] MRayermannMSFT commented on #3371
@Hundet are you using Storage Explorer? This GitHub repo is for issues with the Storage Explorer desktop tool.

[2020-08-17 18:21] MRayermannMSFT commented on #3359
@KaraboM2 it sounds most likely that your SAS has expired. Can you check the expiration time of the SAS. It should be near something like se=<date time here>. For example:

https://someaccount.blob.core.windows.net/bc13?sv=2019-07-07&st=2020-08-17T18%3A04%3A38Z&**se=2020-08-18T18%3A04%3A38Z**&sr=c&sp=rl&sig=E%2FcQFDAFSsefsBGkHfe%2FBDea%2BF4to40kRk%3D

That bold part is what we are looking for. If

[2020-08-17 18:22] MRayermannMSFT commented on #3352
@ahughes584 since you haven't filled out the template we are going to close this. Please open a new issue if you are still having problems.

[2020-08-17 18:22] #3352 closed

[2020-08-17 18:28] MRayermannMSFT commented on #3330
@maninderjitsinghdhaliwal, at what point in the tree are you seeing the error? Is it:
- after expanding the subscription
- after expanding "Storage Accounts"
- after expanding a specific storage account
- after expanding "Blob Containers"

?

[2020-08-17 18:31] MRayermannMSFT commented on #3327
Ok, thanks for the clarification.

Let's also think about if there's any other stats about uploads/downloads people might want to see once the operation is done.

[2020-08-17 18:31] maninderjitsinghdhaliwal commented on #3330
Here

[A screenshot of a social media post  Description automatically generated]

From: Matthew Rayermann <notifications@github.com>
Sent: Monday, August 17, 2020 11:29 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Maninder Jit Singh Dhaliwal <mansingh@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Unable to

[2020-08-17 18:57] biconix commented on #587
I certainly responded to this, but I never received a response from you.
I am attaching my response to your previous request….

_____________________________________________________________________
Moshe Raab, Ph.D.
Microsoft Certified Professional
Microsoft Certified Technology Specialist – Microsoft Dynamics CRM
Biconix, Inc., mailto:raab@biconix.com,
(USA)  +1 (561) 208-3858
(Israel) +972( 2) 5

[2020-08-17 19:08] JasonYeMSFT commented on #587
@biconix, could you please make sure your response is visible from the GitHub issue page? I still cannot see your response in the issue thread.

[2020-08-17 20:18] andreacassioli commented on #3382
Hi @MRayermannMSFT
thanks for getting back. I confirm your findings: cmd+a and right click not working, while cmd+c, cmd+v, cmd+x do.

[2020-08-17 20:41] JasonYeMSFT commented on #3386
Similar to #3326. Unfortunately we haven't figured out what is causing this. Could you please help us by doing the following things?
1. Check if a "tslib" directory does exist at `D:\Microsoft Azure Storage Explorer\resources\app\node_modules\`. If it doesn't, it clearly explains the error.
2. Try uninstall and re-install Storage Explorer at the default location (e.g. `C:\Program Files (x86)\Micro

[2020-08-17 20:44] JasonYeMSFT commented on #3378
@gantta Since the error you are seeing is different from the original one, please open another issue so we can investigate and track it there. The discussion here will be focusing on the original issue.

@xiaowuhu Could you please try installing 1.14.0 to see if the issue reproduces? I have made some changes to the node module loading logic. It would be good to know if that might be relevant. Than

[2020-08-17 20:46] JasonYeMSFT commented on #3308
@ariefalibwl Could you please try installing 1.14.0 to see if the issue still reproduces? I made some code change in 1.14.1 to the module loading logic. It would be good to know if it is relevant. Thanks.

[2020-08-17 21:00] JasonYeMSFT commented on #3360
@v-xinda The error message says the failure is due to missing permission. For rename (move) in ADLS Gen2, you will see such error details if you miss the "write" permission on the directory you are moving you blob into.

However, this doesn't seem to be the case. According to the issue description, you can upload a blob into the directory, meaning that you have "write" permission on that directory

[2020-08-17 21:13] MRayermannMSFT commented on #3341
Won't fixing.

[2020-08-17 21:13] #3341 closed

[2020-08-17 21:15] softcraftsman opened #3411 "Pre-filter Orgs to support in Storage Explorer to avoid multiple reauthentications"
**Is your feature request related to a problem? Please describe.**
As a CSA, I belong to many orgs. When one of those orgs require a reauthentication. SE cycles over ALL orgs and demans that I put in credentials. With MFA that can be a VERY long time.

**Describe the solution you'd like**
Provide an optional selection of orgs to choose.

**Describe alternatives you've considered**
Pin a default or

[2020-08-17 21:21] superstator commented on #3392
Yes, other apps show the ZFS pool in the file dialog and can save files there.

[2020-08-17 22:05] kturngan commented on #3399
Thanks @MRayermannMSFT I am accessing via a connection string provided to me. Should I just contact the administrators and ask for a new key? If I do this, would it affect everyone else who currently have access?

[2020-08-17 22:54] JasonYeMSFT commented on #3405
Put in 1.17.0 and we'll revisit when this is supported.

[2020-08-17 22:56] JasonYeMSFT commented on #3384
I just found that the Account level API for getting accountKind doesn't support using just account name and account key. Move to 1.16.0 to see if we can support it via the blob SDK.

[2020-08-17 22:59] xiaowuhu commented on #3378
I have another computer installed 1.14.0 and it works well.

[2020-08-17 23:03] JasonYeMSFT commented on #3378
Could you please try the same computer? That would be more convincing since at this point not everyone is seeing this issue. If it involves different machines, the cause might be some machine specific configuration instead of the change.

[2020-08-17 23:07] xiaowuhu commented on #3378
now on the original machine, the storage explorer is 1.14.0, it can works well.
![image](https://user-images.githubusercontent.com/19218188/90452734-72896a00-e121-11ea-842c-e1379eeda06a.png)

[2020-08-18 00:41] MRayermannMSFT commented on #3386
I have additional troubleshooting steps to help out.

## Try patching Storage Explorer to fix what we think is the problem
First, we have a theory to what the issue is. I have a patch for you to try applying to the product:

0. Close Storage Explorer
1. Download this file: [NodeProcessHostProxy.txt](https://github.com/microsoft/AzureStorageExplorer/files/5087442/NodeProcessHostProxy.txt)
2. After

[2020-08-18 00:41] MRayermannMSFT commented on #3378
I have additional troubleshooting steps to help out.

## Try patching Storage Explorer to fix what we think is the problem
First, we have a theory to what the issue is. I have a patch for you to try applying to the product:

0. Close Storage Explorer
1. Download this file: [NodeProcessHostProxy.txt](https://github.com/microsoft/AzureStorageExplorer/files/5087442/NodeProcessHostProxy.txt)
2. After

[2020-08-18 00:43] MRayermannMSFT commented on #3326
I have additional troubleshooting steps to help out.

## Try patching Storage Explorer to fix what we think is the problem
First, we have a theory to what the issue is. I have a patch for you to try applying to the product:

0. Close Storage Explorer
1. Download this file: [NodeProcessHostProxy.txt](https://github.com/microsoft/AzureStorageExplorer/files/5087442/NodeProcessHostProxy.txt)
2. After

[2020-08-18 00:43] MRayermannMSFT commented on #3308
I have additional troubleshooting steps to help out. These are intended to be used with Storage Explorer 1.14.2.

## Try patching Storage Explorer to fix what we think is the problem
First, we have a theory to what the issue is. I have a patch for you to try applying to the product:

0. Close Storage Explorer
1. Download this file: [NodeProcessHostProxy.txt](https://github.com/microsoft/AzureStora

[2020-08-18 01:23] VishalCodingNinja opened #3412 "Not able to open my blob containers for local storage accounts"
**Storage Explorer Version**: latest version
**Build Number**:
**Platform/OS**:  Windows 10
**Architecture**:  x64
**Regression From**:  Yes

## Bug Description ##

Not able to access the local storage blob containers
## Steps to Reproduce ##

## Expected Experience ##

It should show local storage blob containers
## Actual Experience ##

not able to load local storage blob containers
## Additiona

[2020-08-18 01:40] #3340 closed

[2020-08-18 01:40] #3342 closed

[2020-08-18 01:40] #3402 closed

[2020-08-18 02:14] v-xianya commented on #3401
This issue has been fixed on build master/20200818.4. Close it.

[2020-08-18 02:14] #3401 closed

[2020-08-18 02:41] tranboelsterli opened #3413 "Cannot read property 'version' of undefined"
**Storage Explorer Version**:  1.9.0
**Build Number**:  20190701.8
**Platform/OS**:  Windows 10
**Architecture**:  x64
**Regression From**:   This is the only installation.

## Bug Description ##
 Unable to expand Storage Accounts

## Steps to Reproduce ##
- Install Azure Storage Explorer 1.9.0
- Launch it
- Expand Storage Accounts, get error:
Cannot read property 'version' of undefined
- Right-cl

[2020-08-18 03:00] v-xinda commented on #3360
@JasonYeMSFT  Hi
Verified this issue on build master/20200818.4. Still reproduces.
More details please see the record: [https://msit.microsoftstream.com/video/5517a1ff-0400-8385-52b4-f1eae0fd4a23](https://msit.microsoftstream.com/video/5517a1ff-0400-8385-52b4-f1eae0fd4a23)

[2020-08-18 06:58] yanniekhoo commented on #3398
Hello, I cant seem to create blob container
[cid:image003.jpg@01D6756F.FF5EC970]

From: Matthew Rayermann <notifications@github.com>
Sent: Tuesday, August 18, 2020 1:38 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Khoo, Yannie <Yannie.Khoo@bp.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] blob container (#3398)

@yann

[2020-08-18 07:07] pepicesVeloz commented on #3400
@MRayermannMSFT thank you for your support. As you mentioned, it doesn't work on macOS, same answer, so I'll ask my subscription administrator.

Thank you very much for your support! keep in touch.
Juan

[2020-08-18 07:57] v-xianya commented on #3393
@JasonYeMSFT Verified this issue on build master/20200818.4. Reproduce.

[2020-08-18 07:59] v-xianya commented on #2926
Verified this issue on build master/20200818.4. Fixed.

[2020-08-18 07:59] #2926 closed

[2020-08-18 08:46] igitur commented on #3312
We have a proxy that intercepts and replaces the certificates. I'm pretty sure I imported all the required certificates as per the instructions mentioned in that link. But I still get the error.

Firstly, it would be nice if Azure Storage Explorer could show the certificate chain and where exactly in the chain the failure is. That would help me narrow down if I have to reimport or am missing any c

[2020-08-18 08:52] igitur commented on #3312
Here are the first few lines op my openssl output:
[code]
I can paste the full output, but I'm unsure whether that contains sensitive information.

[2020-08-18 09:06] shary-sharath opened #3414 "Unable to retrieve child resources"
I recently updated my Storage Explorer and getting following error:

**Unable to retrieve child resources.

Details:
Invalid IV length**
![image](https://user-images.githubusercontent.com/51996588/90493609-30334d80-e160-11ea-9115-a1acc904d556.png)

Storage explorer details:
Version: 1.14.2
AzCopy Version: 10.5.0

Platform: Windows
Architecture: ia32
Build Number: 20200715.2
Commit: c8e3bc3d2
Suppo

[2020-08-18 10:03] v-xianya opened #3415 "Keep a consistent behavior between file shares and ADLS Gen2 blob containers when using the name 'a\b\c' to create a new folder"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.14.2)

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> File Shares and Blob Containers.
2. Create a file share and a blob container.
3. Click 'New Folder' both in

[2020-08-18 10:05] v-xianya commented on #3381
@craxal Verified the issue on 3 platform, the behaviors are the same.
The new opened bug: https://github.com/microsoft/AzureStorageExplorer/issues/3415

[2020-08-18 10:16] anmmok commented on #3326
I had exactly the same issue after installing storage explorer into the custom path.
The solution above has worked fine for me.

[2020-08-18 10:42] v-xianya opened #3416 "Keep a consistent behavior when uploading one blob to one folder named '/' or '\' under one regular blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create a folder -> Input '/' as the folder name.
3. Upload or pas

[2020-08-18 10:51] v-xianya commented on #3404
@JasonYeMSFT This issue is fixed on build master/20200818.4. so we are going to close it.
![image](https://user-images.githubusercontent.com/41351993/90504516-ca58bd00-e183-11ea-9bea-14733e41e9bf.png)

[2020-08-18 10:51] #3404 closed

[2020-08-18 11:04] v-limu opened #3417 "An error pops up when uploading blobs to the original blob container with the 'Public Read Access' is off which has been connected to public blob container"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Select one blob container -> Set its property 'Public Read Access' to **'container'.**
3. Attach it via 'C

[2020-08-18 11:11] v-xianya opened #3418 "Fail to promote version for a non-current version of one blob"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Select one non-ADLS Gen2 storage account (make sure the blob versioning is enabled).
2. Expand the storage account -> Blob Containers.
3. Upload one blob ->

[2020-08-18 11:16] v-xianya opened #3419 "It would be better to pop up a dialog when executing 'Promote version' action"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Select one non-ADLS Gen2 storage account (make sure the blob versioning is enabled).
2. Expand the storage account -> Blob Containers.
3. Upload one blob ->

[2020-08-18 11:35] v-limu opened #3420 "The deleted blob doesn't show under 'Active and soft deleted blobs' view with the Blob versioning enabled"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account (Blob versioning enabled) -> Blob Containers (Make sure the soft delete policy enabled).
2. Create one blob container -> Upload o

[2020-08-18 11:42] v-xianya opened #3421 "Fail to delete multiple non-current versions at a time"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Select one non-ADLS Gen2 storage account (make sure the blob versioning is enabled).
2. Expand the storage account -> Blob Containers.
3. Upload one blob ->

[2020-08-18 11:56] v-xianya opened #3422 "No blob shows in the editor of the destination blob container after pasting one version without current version"
**Storage Explorer Version:** 1.15.0-dev
**Build**: 20200818.4
**Branch**: master
**Platform/OS:** Windows 10/ CentOS 7.6.1810 (Core) / MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Select one non-ADLS Gen2 storage account (make sure the blob versioning is enabled).
2. Expand the storage account -> Blob Containers.
3. Upload one blob ->

[2020-08-18 16:24] JasonYeMSFT commented on #3420
This is by design. When versioning is enabled, the base blob will become a non-current version instead of a soft deleted blob. The 'Active and soft deleted blobs' view doesn't show non-current versions.

[2020-08-18 16:24] #3420 closed

[2020-08-18 17:40] jinglouMSFT commented on #3413
The build you are using is over a year old.  We have since fixed many issues.  Could you please try to upgrade to the latest version and give it a try?  The latest is v1.14.2.  Thanks.

[2020-08-18 18:02] JasonYeMSFT commented on #3422
This is not something we intend to support right now. I will disable the copy command on non-current versions.

[2020-08-18 18:21] JasonYeMSFT commented on #3406
I see what the problem is. There are still regions where the versioning feature is not supported. See [doc](https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview?tabs=powershell#about-the-preview). In those regions, the parameters for versioning won't be recognized.