[2020-09-29 09:50] v-limu opened #3626 "The selected sorted column is changed after manually refreshing one table"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20200929.1
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Tables.
2. Open one table -> Select one arbitrary column to sort (like 'Timetamp').
3. Click 'Refresh' on the toolbar -> Check whethe

[2020-09-29 13:47] pranshu512 commented on #3466
Still,this bug is not fixed.Refer attachment.
here, Expectation is that heading should be assigned to "View Message"

[3466_Reopened.zip](https://github.com/microsoft/AzureStorageExplorer/files/5299344/3466_Reopened.zip)

[2020-09-29 16:39] JasonYeMSFT commented on #3619
If both way succeeds, then that is expected.

[2020-09-29 16:46] #3619 closed

[2020-09-29 17:46] Sherlocco commented on #3284
A couple of colleagues have no issue and are still able to access it with no problem

[2020-09-29 17:54] JasonYeMSFT commented on #3245
The work for this feature request has been merged.

[2020-09-29 17:54] #3245 closed

[2020-09-29 17:54] MRayermannMSFT commented on #2238
@Jehoel it's been well over a month since you last replied. I'm going to go ahead and close this issue now.

[2020-09-29 17:54] #2238 closed

[2020-09-29 17:55] #2545 closed

[2020-09-29 18:00] JasonYeMSFT commented on #3486
@RohitJadhav-TCS The fix for this bug has been merged. Could you please verify it?

[2020-09-29 18:49] JasonYeMSFT commented on #2870
The work for this feature has been merged.

[2020-09-29 18:49] #2870 closed

[2020-09-29 18:49] JasonYeMSFT commented on #2361
The work for this feature has been merged.

[2020-09-29 18:49] #2361 closed

[2020-09-29 19:45] MikeFerreira opened #3627 "Change Access Tier from archive to cool not working"
Azure Storage Explorer
### Version: 1.15.1
### AZCopy Version: 10.6.0

**Change access tier from archive to cool not working but azcopy command displays as successful**

1. Tried a single file access tier archive to cool, did not work
2. Tried multiple files change access tier archive to cool, did not work

Did the access tier change in the Azure Portal, it worked.

[2020-09-29 22:20] MRayermannMSFT commented on #3071
@nilabjaball as of 1.15.0, the tier last modified time and rehydration status are available in a variety of places:

- tier last modified time: blob explorer data table, properties dialog for blob
- rehydrration status: properties dialog for the blob

[2020-09-29 22:21] MRayermannMSFT commented on #3071
<img width="313" alt="image" src="https://user-images.githubusercontent.com/21112697/94622628-638cf000-0267-11eb-9b7e-484aca1f848f.png">
<img width="166" alt="image" src="https://user-images.githubusercontent.com/21112697/94622649-6c7dc180-0267-11eb-93ac-02c3f9d842ef.png">

[2020-09-29 22:21] #3071 closed

[2020-09-30 01:31] lhdmkoch opened #3628 "Can't view folder with error"
Unable to retrieve child resources.

Details:
["FetchError:request to https://pdwmigrationstore.blob.core.windows.net/?include=metadata&comp=list failed, reason: connect ETIMEDOUT 52.239.232.68:443"]

[2020-09-30 01:53] v-xianya commented on #3614
Verified this issue on build 20200930.3. Fixed.

[2020-09-30 01:53] #3614 closed

[2020-09-30 01:54] miaoichi commented on #3318
Hi Rayermann,
 Yes, I can move files to other folder now, but It can't move by dragging files to folder, and only can use "move" icon.

[2020-09-30 01:55] v-xianya commented on #3603
Verified this issue on build 20200930.3. Fixed.

[2020-09-30 01:55] #3603 closed

[2020-09-30 02:03] v-limu commented on #3616
Verified on build 20200930.3. This issue has been fixed. So close it.

[2020-09-30 02:03] #3616 closed

[2020-09-30 02:42] v-limu opened #3629 "Update the string 'Add tag' to 'Add Tag' in the Blob Tags dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20200930.3
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account (make sure the 'blob tags' feature is enabled) -> Blob Containers.
2. Open one blob container -> Right click one blob -> Click 'Edit Ta

[2020-09-30 08:45] igitur commented on #3312
Hi, yes, proxy settings are populated correctly.

[2020-09-30 10:17] YvainRaeymaekers opened #3630 "Cloning a block blob does not preserve its break down in multiple blocks."
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: Windows
**Architecture**: ia32

## Bug Description ##
After cloning a block blob, the newly created blob does not have the same blocks and blockIDs as the source blob. It appears that all the blocks have been merged into a single one with a random GUID as BlockID.
Copying a blob through the C++ REST API works fine t

[2020-09-30 12:55] ytsruh commented on #3596
I can confirm I get the same issue. Storage Explorer for Max v1.15.1

I get the error whenever I open or reopen the application. I am logged out of my account and I need to re-authenticate 3 times before I can access my account.

I've tried removing my account and re-adding without any success. I've also tried to uninstall & re-install the application without any success

[2020-09-30 13:46] kshah-mindovermachines commented on #1268
This functionality would be extremely helpful!

[2020-09-30 18:32] MRayermannMSFT commented on #3144
The following feature areas had secrets obscured:

- subscription storage accounts
- attached storage accounts
- attached containers
- cosmos db accounts

[2020-09-30 18:32] #3144 closed

[2020-09-30 19:31] alexpilon666 commented on #3240
Bumping this up as we have the same issue.
I'm either a member or guest of multiple tenants, and due to the admin rights I have, I'm required to use 2FA.
Every single account requires me to login 2-3 times...No joke, it takes me about 10-15 minutes to authenticate to all my tenants....simply to add or remove a subscription from my list, or because my token expires at some point.
And since we have

[2020-09-30 20:22] craxal commented on #3466
@pranshu512 Please share the build number used to verify. We need to make sure you used the build containing the fix.

[2020-09-30 21:51] craxal commented on #3622
The `se-storage-explorer-sdk` package version wasn't updated in Standalone. `SystemLocation` is defined in a newer version.

[2020-09-30 22:44] #3622 closed

[2020-09-30 22:50] craxal opened #3631 "Inject host in SDK loader"
## Summary

SDK loader should be refactored such that environment-specific hosts can be injected instead of pulled from old SDK.

## Benefits

- Removes hard-to-see dependency on a globally defined host
- Enables earlier use of the SDK in any environment; good for startup logging

## Tasks

- [ ] Provide general-purpose SDK implementations that accept an `IHost` when constructed
- [ ] Abstract the

[2020-10-01 00:05] #3582 closed

[2020-10-01 00:05] #810 closed

[2020-10-01 00:05] #2486 closed

[2020-10-01 00:05] #2531 closed

[2020-10-01 00:06] #3548 closed

[2020-10-01 03:23] asgoe opened #3632 "Configure Soft Delete Policy fails on Emulator"
I am getting the following error while trying to set the soft delete on Azure storage emulator. This is happening with 2 versions of emulator 1.12 and 1.15.1

{
  "name": "StorageError",
  "message": "XML specified is not syntactically valid.\nRequestId:046520c8-e84c-45fe-86bd-3a144bcad2b7\nTime:2020-10-01T03:18:01.6645487Z",
  "stack": "StorageError: XML specified is not syntactically valid.\nReq

[2020-10-01 11:56] crisar19 opened #3633 "Cannot open blob container or datalake"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows
**Architecture**: ia32 (I took it from Help > About)
**Regression From**:  yes, in the same version

## Bug Description ##

at the moment to open a blob container or datalake I get this message:

this when trying to open datalake :unable to get local issuer certificate

this when trying to open blob containe

[2020-10-01 15:00] Canis-Lupis opened #3634 "Unable to delete files and folders"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: x64?
**Regression From**:

## Bug Description ##
After uploading folders using AzCopy, I am unable to delete them.  Error message is
{
  "message": "\"Authentication Failed. The SAS is not correct or expired or does not have the correct permission -> github.com/Azure/azure-storage-blob-g

[2020-10-01 20:57] 829555 opened #3635 "Get Subscriptions Failure Details in Storage explorer"
[code]

[2020-10-01 21:00] JasonYeMSFT commented on #3634
@Canis-Lupis How do you connect to the blob container? Are you signed-in, attaching with Azure AD or attaching with SAS?
The error message says you are missing the delete permission. There should be a "sp=rdl" parameter in the url "https://df9f4bfffd684d4cbc84f60.blob.core.windows.net/ingestiondata/aagular/archive2.pst?se=2020-10-31t14%3A51%3A36z&si=ingestionsasforazcopy202008281621210729&sig=-RED

[2020-10-01 21:09] Canis-Lupis commented on #3634
Attaching with SAS per the instructions on importing psts:  https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide

[https://docs.microsoft.com/en-us/media/logos/logo-ms-social.png]<https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide>
Use network upload to import your orga

[2020-10-01 21:32] JasonYeMSFT commented on #3634
Oh, I see. Your SAS is using an access policy which specifies your permissions (in the 'si=ingestionsasforazcopy202008281621210729'). It is possible that the access policy didn't grant you delete permission, could you check with the provider of the SAS to see if delete permission is granted?

[2020-10-02 01:07] Joaveinz opened #3636 "How long does it take for a blob to update in Azure Blob Storage?"
I am using Azure Blob storage to store images for my new website. The access tier is "Hot".

When I have an image called background.jpg and replace it with a different image, but with the same name (background.jpg) it can take up to a week to actually change to the new image on the website.

The only way to test it is to either visit the website through a VPN or use someone else's machine (who's n

[2020-10-02 07:23] hzpc-joostk commented on #3571
On Mac, since a recent Azure Storage Explorer update the <kbd>Cmd ⌘</kbd> key is bound to opening a context menu. This is also triggered when switching windows with <kbd>Cmd ⌘</kbd> + <kbd>tab</kbd> or <kbd>Cmd ⌘</kbd> + <kbd>`</kbd>.

An improvement would be to disable this. 😉

[2020-10-02 13:36] #3586 closed

[2020-10-02 13:45] Canis-Lupis commented on #3634
Microsoft is the provider.  There's nothing listed about what the permissions are.  Please see link I sent previously.  Also, below is a screenshot from protection.office.com where I'm getting the SAS:
[cid:7b2325cd-a033-4606-9781-72235c137a97]
________________________________
From: JasonYeMSFT <notifications@github.com>
Sent: Thursday, October 1, 2020 4:33 PM
To: microsoft/AzureStorageExplorer <A

[2020-10-02 16:38] anuragrepaka21 commented on #3613
Thanks, faced same issue. Running Azure storage emulator worked.

[2020-10-02 17:53] JasonYeMSFT commented on #3634
The instruction says the SAS "provides you with the necessary permissions to upload PST files to your Azure Storage location". Delete permission is not needed for upload. If you want to delete those files/folders in Storage Explorer, you'll need to either
- sign-in to get the subscription of the blob container "df9f4bfffd684d4cbc84f60"
- Attach to the blob container with Azure AD
- Find the contai

[2020-10-02 21:35] MRayermannMSFT commented on #2921
@johndowns, I just tried this and it looks like that is already the shortcut on macOS, and it's been that way since summer of 2018. You can see it in the File menu:

[2020-10-02 22:02] JasonYeMSFT commented on #3376
I did a control group testing with our 1.15.1 release version of Storage Explorer and here is my finding:
1. The original socket leakage issue is fixed. Storage Explorer is no longer exhausting the sockets of the system.
2. Our iframe based explorers (e.g. Blob Container, File Share, Table, ADLS Gen1, ADLS Gen2) uses 23 sockets for each type of explorer.
3. Our webview based explorers uses 11 sock

[2020-10-02 22:02] #3376 closed

[2020-10-02 23:00] JasonYeMSFT commented on #3360
I still cannot reproduce the issue. Renaming a blob with name containing single quote ' just works fine.
![image](https://user-images.githubusercontent.com/39359541/94975999-57539d80-04c8-11eb-8268-6d3070d21b46.png)

[2020-10-02 23:05] johndowns commented on #2921
That shows it’s Command-W, not Control-W.

________________________________
From: Matthew Rayermann <notifications@github.com>
Sent: Saturday, October 3, 2020 10:35:42 AM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: John Downs <John.Downs@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Support standard Ctrl+W ke

[2020-10-02 23:47] craxal commented on #399
Core logging work is merged, but logs may be sparse until we convert old diagnostic messages.

[2020-10-02 23:47] #399 closed

[2020-10-02 23:48] #2107 closed

[2020-10-03 21:59] johndowns commented on #2921
@MRayermannMSFT You're correct - on macOS it works correctly (note this is Command-W rather than Ctrl+W though). This feedback is specifically about the Windows version. I have just verified this on v1.15.1 of the Windows build - on there, the 'Close Editor' menu item is linked to Ctrl+F4, which is not standard.

[2020-10-04 06:17] GeeWee commented on #3376
I think that sounds sensible. Thanks so much for looking into it.

[2020-10-05 05:53] JasonYeMSFT opened #3637 "Show full error information when AzCopy fail to start a job"
**Is your feature request related to a problem? Please describe.**
Storage Explorer doesn't show full error information in the error prompt if AzCopy fails to start the job.

**Describe the solution you'd like**
Show the full error information that is available in the AzCopy log.

**Additional context**
Example of why this is a problem:
1. Try to upload a file locked by another process.
2. It fail

[2020-10-05 09:22] vijaimohan-accenture opened #3638 "Error on storeage explorer"
Error message:
The requested action could not be completed.

Details:
getaddrinfo ENOTFOUND accenture.com.file.core.windows.net

**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows
**Architecture**: x64
**Regression From**:

## Bug Description ##
The requested action could not be completed.

Details:
getaddrinfo ENOTFOUND accenture.com.file.core.windows.net

[2020-10-05 17:24] MRayermannMSFT commented on #3636
@Joaveinz do you know if you are using Azure CDN? Alternatively, what geo replication setting is currently set for your storage account?

Note: you might have better luck with this issue by opening a support ticket via the portal:
<img width="292" alt="image" src="https://user-images.githubusercontent.com/21112697/95111746-ce6d7980-06f4-11eb-9113-68226e20228b.png">
In general, this page is for rai

[2020-10-05 17:26] MRayermannMSFT commented on #3632
@asgoe soft delete is not supported by either storage emulator. You can open a feature request against azurite here: https://github.com/Azure/Azurite

[2020-10-05 17:26] #3632 closed

[2020-10-05 17:28] #3610 closed

[2020-10-05 17:28] JasonYeMSFT commented on #3632
Storage Emulator doesn't support it at all. Azurite is on the way supporting it. You can see Azurite respond to the configure soft delete policy requests but the policy doesn't have any effect.

[2020-10-05 17:31] MRayermannMSFT commented on #3481
Yep. We agree. Doing that is on our backlog.

[2020-10-05 17:31] #3481 closed

[2020-10-05 17:34] MRayermannMSFT commented on #3638
@vijaimohan-accenture the storage endpoint `accenture.com.file.core.windows.net` is a little odd. Normally that type of URL is something like:

<storage account name>.file.core.windows.net

I don't think you have have "accenture.com" as a Storage Account name. How are you connecting to this storage account/file share? Sign in or some sort of attach?

[2020-10-05 17:37] MRayermannMSFT commented on #3635
@829555 are you working with an emulator or Azure?

If an emulator, are you trying to use HTTPS with the emulator?

If Azure, are you behind a proxy which is maybe like HTTP only or maybe you had to import an HTTPS cert for it?

We've only seen this error when something is wrong with an HTTPS cert/things of that nature.

[2020-10-05 17:38] MRayermannMSFT commented on #3633
Please see our troubleshooting guide on cert errors: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-10-05 17:39] MRayermannMSFT commented on #3630
@YvainRaeymaekers would you be able to give us an example blob you see this happening for?

Also, what APIs/tools are you using to create the initial blob?

[2020-10-05 17:41] MRayermannMSFT commented on #3628
@lhdmkoch are you behind a proxy?

[2020-10-05 17:42] MRayermannMSFT commented on #3627
@MikeFerreira there should be something like "Error details" or "Details" after the change access tier fails. Can you click on that and share the error with us?

[2020-10-05 17:46] MRayermannMSFT commented on #3625
@v-xianya we think this is to be expected. Can you share some more information:

- can you make an example table
- repro the bug with that table
- let us know what restrictions you used when generating the SAS
- let us know what values you used when creating the new entity

Thanks.

[2020-10-05 17:48] MRayermannMSFT commented on #3534
@chandanka90 when opening an issue, please fill out the issue template.

[2020-10-05 17:48] #3534 closed

[2020-10-05 17:48] MRayermannMSFT commented on #3488
Closing due to lack of response. If you are still having problems, please open a new issue.

[2020-10-05 17:48] #3488 closed

[2020-10-05 17:49] MRayermannMSFT commented on #3482
Closing due to lack of response. If you are still having problems, please open a new issue.

[2020-10-05 17:49] #3482 closed

[2020-10-05 17:49] MRayermannMSFT commented on #3478
Closing due to lack of response. If you are still having problems, please open a new issue.

[2020-10-05 17:49] #3478 closed

[2020-10-05 17:51] MRayermannMSFT commented on #3444
@pardhivchunduri we're going to go ahead and close this. If you ever have an update, please open a new issue and include a link back to this one. Thanks!

[2020-10-05 17:51] #3444 closed

[2020-10-05 17:58] MRayermannMSFT commented on #3312
Agreed. Unfortunately NodeJS doesn't tell us what cert is causing problems.

You can email the full output to sehelp at microsoft.com. Please include your issue number in the subject line. Thanks!

[2020-10-05 17:59] MRayermannMSFT commented on #3298
We're going to go ahead and close this issue now. As we said, device authentication is not supported for Ubuntu. If you'd like more help, we'd recommend either raising an Azure support ticket or talking to your tenant admin.

[2020-10-05 17:59] #3298 closed

[2020-10-05 18:03] MRayermannMSFT commented on #3284
@Sherlocco can you check for OS proxy settings? There's 2 common places in windows to look for those:

1. Start menu -> search for internet settings -> go to connections tab -> for each of the things in the list box, click on settings, and see if you have any proxy servers set for them
2. Windows settings -> Network and Internet -> Proxy -> see if you have anything there

[2020-10-05 18:06] MRayermannMSFT commented on #3248
Let's make sure Delete is not available in Quick Access queues.

[2020-10-05 18:13] MRayermannMSFT commented on #3246
@mbacon-edocs ok thanks. We'll test out that upgrade a few times, but in general this isn't something we've ever been able to consistently reproduce. We'll keep investigating and see if there's anything we can do to increase the reliability of the QA settings not getting lost.

[2020-10-05 18:19] MRayermannMSFT commented on #3242
@lukapril

First can you try deleting `~/Library/Application Support/StorageExplorer/appState.json` and then run Storage Explorer.

And then if that doesn't work, delete everything in ~/Library/Application Support/StorageExplorer/` and then run Storage Explorer.

[2020-10-05 18:20] MRayermannMSFT commented on #3241
@Surbhi23916  which steps did you try?

[2020-10-05 18:24] #3236 closed

[2020-10-05 18:29] dxkaufman opened #3639 "Can no longer access storage"
Version: 1.15.1
AzCopy Version: 10.6.0

Platform: macOS
Architecture: x64
Build Number: 20200902.9
Commit: 2e31227ac
Support ID: d78b3fe4-29ad-cfee-b44f-c41ec5bd8062

**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Mac OS 10.14.6
**Architecture**: Intel Core i7
**Regression From**:  1.14.2

## Bug Description ##
I just installed 1.15.1 (by having it download the

[2020-10-05 18:34] JasonYeMSFT commented on #3209
I have looked at the log files. The actual failure is that "the specified resource doesn't exist". All other errors are false alarms and don't matter. If the files do exist there, there might be something wrong with our listing logic.

[2020-10-05 18:37] kkennett opened #3640 "Unexpected Cancel?"
Files are not uploading.

{
  "message": "\"UnexpectedCancel\""
}

Very unhelpful error message
![Capture](https://user-images.githubusercontent.com/10833689/95118444-2ad59680-06ff-11eb-8454-e0d5216d5290.PNG)

[2020-10-05 19:08] JasonYeMSFT commented on #3502
@MayuriNaik Could you please verify and close this issue if it is fixed?

[2020-10-05 19:08] craxal commented on #3477
Duplicate of #2618.

[2020-10-05 19:08] #3477 closed

[2020-10-05 19:08] JasonYeMSFT commented on #3506
@MayuriNaik Could you please verify and close this issue if it is fixed?

[2020-10-05 19:09] JasonYeMSFT commented on #3501
@MayuriNaik Could you please verify and close this issue if it is fixed?

[2020-10-05 19:09] JasonYeMSFT commented on #3500
@MayuriNaik Could you please verify and close this issue if it is fixed?

[2020-10-05 19:09] JasonYeMSFT commented on #3485
@RohitJadhav-TCS Could you please verify and close this issue if it is fixed?

[2020-10-05 19:09] JasonYeMSFT commented on #3458
@prasadaps Could you please verify and close this issue if it is fixed?

[2020-10-05 19:09] JasonYeMSFT commented on #2610
@Shivamd1 Could you please verify and close this issue if it is fixed?

[2020-10-05 19:10] JasonYeMSFT commented on #2608
@vinodbk197 Could you please verify and close this issue if it is fixed?

[2020-10-05 23:04] MRayermannMSFT commented on #2921
Ah, yes. My apologies. I'm using a mac while WFH. 🙃 I'll get onto a Windows machine and fix this right up!

[2020-10-06 10:32] prasadaps commented on #3469
I have verified the bug in latest version of the application this issue is not reproducing there. this issue is fixed.
hence closing the bug.
please refer the attachment - https://microsoftapc-my.sharepoint.com/:i:/g/personal/v-prphat_microsoft_com/EUl5TIuQAHhOkbJvobmY_ocBOVOB7rPjVc8z0pUf0bQB-Q?e=RF0Zsr

[2020-10-06 10:32] #3469 closed

[2020-10-06 11:30] prasadaps commented on #3458
@JasonYeMSFT I have verified the issue in application version 1.15.1. the issue is still reproducing.

[2020-10-06 14:22] anupdg opened #3641 "Cannot open $web folder of storage account, access denied for root account"
**Storage Explorer Version**: 1.15.1
**Platform/OS**: Windows 10
**Architecture**: x64?

I am getting this error-

Unable to retrieve child resources.
Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\nRequestId:9976121b-101e-003a-4de9-9ba4310000

[2020-10-06 14:27] lhdmkoch commented on #3628
Hi Matthew,
Thanks for your email. The issue has been fixed.

Regards
Lin

Lin De Mello Koch
IT Data Architect

T: +27 11 780 7000
F:
C: +27 78 019 8144
E:lin.dmkoch@suninternational.com
W: www.suninternational.com
Disclaimer (http://mail76.mimecast.co.za/mimecast/site?account=CSA38A3&code=b1f368d342399b8e6c4ffab5687a67b8)

-------- Original Message --------
Subject: Re: [microsoft/AzureStorageExp

[2020-10-06 15:35] davejhahn commented on #2584
I am also having an issue where I cannot see the Documents...

[2020-10-06 16:51] raviabhiram commented on #3640
I get the same error

[2020-10-06 17:08] JasonYeMSFT commented on #3458
@prasadaps Oh we haven't shipped a new version containing the fixes. Is there a way for you to access our latest build so you can test the fix without us actually shipping it?

[2020-10-06 18:37] MRayermannMSFT commented on #3180
Going to won't fix this. Super edge case, bug is either in OS or electron itself (I'd say most likely OS). If customer raises this issue then we can open a bug in Electron.

[2020-10-06 18:37] #3180 closed

[2020-10-06 20:23] craxal commented on #1534
See #3573 for another, short-term implementation.

[2020-10-06 20:24] craxal commented on #3573
I'm going to close this, as the point of this issue is to detect system proxy settings, and we have a work item for that already.

[2020-10-06 20:24] #3573 closed

[2020-10-06 23:31] cristianosuzuki77 opened #3642 "[loc] Assistance with translation: "TitleAdlsGen2BlobSnapshots""
**String Resource ID**: 0; "TitleAdlsGen2BlobSnapshots"
**Source String**: Enable ADLS Gen2 snapshots (preview)
**Filename**: src\Standalone\resources\Shell.json
**Question**: Please let us know current Dev Comment is outdated or not.

[2020-10-06 23:31] cristianosuzuki77 commented on #3642
VCQ 307486

[2020-10-06 23:39] cristianosuzuki77 opened #3643 "[loc] Asistance with translation: "ConfigureFileCorsFailure""
**String Resource ID:** 0; "ConfigureFileCorsFailure"
**Source String:** Failed to configure File Share service CORS rules for storage account '%1$s'
**Filename:** Standalone\resources\Azure.json
**Question:** Is this entry translatable? Due to context (also mentions "Blob service, File service... which are nontranslatable) we leave this service in English by now as well. Please, confirm.

[2020-10-06 23:39] cristianosuzuki77 commented on #3643
VCQ 313658

[2020-10-07 05:26] MayuriNaik commented on #3508
Closing this bug as it is discussed that it’s a regular occurrence for screen readers to read headers two times. It is likely to screen readers are reading the ARIA label and the content, which is why we get multiple readings.

[2020-10-07 07:03] prasadaps commented on #3458
@JasonYeMSFT I have checked the issue in application version 1.15.1 it was reproducing there. and had download this application from the link publicly available.
Also are you looking for me to check this bug is local build or test build. if so could you please provide me a link to download the build.

[2020-10-07 08:30] lxalln commented on #3639
I am receiving the same error, using the same version, on Linux.

[2020-10-07 13:40] payalpatel-source opened #3644 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

[2020-10-07 15:10] YvainRaeymaekers commented on #3630
Here some code I used to create an example blob for which the problem arises when copied with the Azure Storage Explorer.
The API is Azure Storage Client Library for C++ v7.0.0 (https://github.com/Azure/azure-storage-cpp)

[code]

[2020-10-07 20:21] #3565 closed

[2020-10-07 20:52] craxal commented on #3508
This bug was closed mistakenly. The bug that should have been closed is #3509.

[2020-10-07 22:16] #2891 closed

[2020-10-07 22:16] #2889 closed

[2020-10-07 22:17] #3574 closed

[2020-10-08 01:56] miok-jung opened #3645 "["Error:Unable to retrieve authentication token."]"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-10-08 02:33] MayuriNaik commented on #3509
Closing this bug as it is discussed that it’s a regular occurrence for screen readers to read headers two times. It is likely to screen readers are reading the ARIA label and the content, which is why we get multiple readings.

[2020-10-08 02:33] #3509 closed

[2020-10-08 02:48] MayuriNaik commented on #2614
Closing this bug as it is fixed in application Version: 1.16.0-dev.

[2020-10-08 03:34] SaberDynCD commented on #3644
Unable to retrieve child resources.

Details:
This request is not authorized to perform this operation.
RequestId:XXXXXXXX-XXXX-XXXX-XXXX-XXXXXX000000
Time:2020-10-08T03:31:45.3481966Z

[2020-10-08 04:30] Shivamd1 commented on #2614
Verified the bug in Version: 1.16.0-dev the issue does not reproduces so closing the bug

[2020-10-08 04:30] #2614 closed

[2020-10-08 06:26] pcmann commented on #2553
@MRayermannMSFT, i have the same issue as @milehighjustin - The latest Azure Storage Explorer installs on Surface Por X but uploading and downloading does not work, activities just get stuck in the queue
Is there a workaround or fix in the works?

[2020-10-08 07:28] pranshu512 commented on #3465
@JasonYeMSFT I tested this issue with NVDA 2020.2 and Storage Explorer 1.16.0 and it not reproducing.Hence,Closing this bug.
Refer attachment
[3465_Closed.zip](https://github.com/microsoft/AzureStorageExplorer/files/5346012/3465_Closed.zip)

[2020-10-08 07:28] #3465 closed

[2020-10-08 07:32] pranshu512 commented on #3466
@craxal I tested this issue with NVDA 2020.2 and Storage Explorer 1.16.0 and it not reproducing.Hence,Closing this bug.
Refer attachment

[3466_Closed.zip](https://github.com/microsoft/AzureStorageExplorer/files/5346040/3466_Closed.zip)

[2020-10-08 07:32] #3466 closed

[2020-10-08 07:56] #3485 closed

[2020-10-08 08:05] prasadaps commented on #3458
Verified the issue in latest build the issue is fixed hence closing the bug.

[2020-10-08 08:05] #3458 closed

[2020-10-08 08:31] MayuriNaik commented on #3501
The keyboard users are now able to use arrow keys to navigate navigate within the "Tab" control. The bug is fixed and hence closing the bug. Verified in application version Version: 1.16.0-dev AzCopy Version: 10.6.0

[2020-10-08 08:31] #3501 closed

[2020-10-08 08:34] MayuriNaik commented on #3502
For screen reader users, only the currently selected tab is announced with 'selected' sate while navigation. The bug is fixed and hence closing the bug. Verified in application version Version: 1.16.0-dev AzCopy Version: 10.6.0

[2020-10-08 08:34] #3502 closed

[2020-10-08 08:35] Psuban commented on #3645
I'm experiencing the same error with my work azure account

[2020-10-08 08:37] MayuriNaik commented on #3500
For keyboard users the heading text now does not receive keyboard focus while navigation using 'Tab' key. The bug is fixed and hence closing the bug.Verified in application version Version: 1.16.0-dev AzCopy Version: 10.6.0.

[2020-10-08 08:37] #3500 closed

[2020-10-08 09:02] MayuriNaik commented on #2609
A11ySev4 bugs do not have any SLA defined and do not impact compliance. Having that said, these bugs do not require verification to be closed. Additionally, this bug does bot reproduce verified in application version: 1.16.0-dev.

[2020-10-08 09:57] Shivamd1 commented on #2610
Verified the bug in Version: 1.16.0-dev the issue does not reproduces so closing the bug

[2020-10-08 09:57] #2610 closed

[2020-10-08 11:52] pranshu512 commented on #2608
I verified this issue on Version 1.16.0-dev
[2608_Closed.zip](https://github.com/microsoft/AzureStorageExplorer/files/5347592/2608_Closed.zip)
 and found that it is not reproducing .
Refer attachment

[2020-10-08 12:39] aureole82 opened #3646 "Unable to retrieve child resources. Details: ["Error:Unable to retrieve authentication token."]"
Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

![grafik](https://user-images.githubusercontent.com/4819891/95459582-25cd4d00-0974-11eb-80b7-651932b6004e.png)

[2020-10-08 12:46] Tjianke opened #3647 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
["RestError:{\"info\":\"Invalid request!\"}"]

[2020-10-08 16:38] #2609 closed

[2020-10-08 16:59] #2608 closed

[2020-10-08 17:15] MRayermannMSFT commented on #3244
For all facing this issue, if you are not using Disks, then you should be able to work around this issue by going to Settings -> Services -> Disks, and un checking the checkbox. If are you trying to use Disks, please try removing and re-adding your Azure account. If that doesn't work then let me know.

[2020-10-08 17:25] JasonYeMSFT commented on #3486
@craxal Since you are changing this component, please make sure the accessibility bug is addressed in the new design.

[2020-10-08 17:36] MRayermannMSFT commented on #3165
@v-xianya please reverify this bug. I can no longer repro it.

[2020-10-08 17:52] JasonYeMSFT commented on #3514
A fix has been merged.

[2020-10-08 17:52] #3514 closed

[2020-10-08 17:54] JasonYeMSFT commented on #3578
A fix has been merged.

[2020-10-08 17:54] #3578 closed

[2020-10-08 17:54] JasonYeMSFT commented on #3579
A fix has been merged.

[2020-10-08 17:54] #3579 closed

[2020-10-08 17:57] JasonYeMSFT commented on #2975
A fix to change the error to say "Attaching to development account is not supported" is merged.

[2020-10-08 17:57] #2975 closed

[2020-10-08 18:42] #3549 closed

[2020-10-08 18:59] MRayermannMSFT commented on #2921
New file menu on Windows:
<img width="202" alt="image" src="https://user-images.githubusercontent.com/21112697/95501305-f0693500-095c-11eb-8be7-9bfcba953c8a.png">

Menus on mac still the same:
<img width="220" alt="image" src="https://user-images.githubusercontent.com/21112697/95501698-8ef59600-095d-11eb-8466-d2b59408a24d.png">
<img width="194" alt="image" src="https://user-images.githubuserconten

[2020-10-08 19:29] johndowns commented on #2921
Awesome! Thank you @MRayermannMSFT, that is perfect.

[2020-10-08 20:22] #2921 closed

[2020-10-08 20:22] MRayermannMSFT commented on #2921
Merged into main for 1.16

[2020-10-09 01:48] MayuriNaik commented on #3506
@JasonYeMSFT Closing this bug per the discussion with the SMEs. This is an exception since the tooltips are provided by the browser’s title attribute.

[2020-10-09 01:48] #3506 closed

[2020-10-09 03:59] Joaveinz commented on #3636
@MRayermannMSFT Thanks.

I am using LRS without a CDN.

This "issue" is not mission critical, but I was really just curious about how this works as the documentation is not so straight forward

Thanks for pointing me in the right direction though.

I'll close this issue

[2020-10-09 03:59] #3636 closed

[2020-10-09 06:22] v-xianya commented on #3612
Verified this issue on build 20201009.1. Fixed.
![image](https://user-images.githubusercontent.com/41351993/95550010-cc7c2100-0a3a-11eb-95a8-7704ac5a4de8.png)

[2020-10-09 06:22] #3612 closed

[2020-10-09 06:53] v-xianya commented on #3165
@MRayermannMSFT Verified this issue on build 20201009.1. Not reproduce.

[2020-10-09 06:53] #3165 closed

[2020-10-09 06:56] v-xianya commented on #3166
Verified this issue on build 20201009.1. Fixed.

[2020-10-09 06:56] #3166 closed

[2020-10-09 08:36] v-xianya commented on #3625
@MRayermannMSFT More information see the record, Please!
Record: https://msit.microsoftstream.com/video/8f0fa1ff-0400-9fb2-dde4-f1eb0a08bc2c

[2020-10-09 09:29] v-xianya commented on #3604
@JasonYeMSFT  Verified this issue on build 20201009.2.
The current behavior: The tags for the current version **shows empty** after promoting version.
Details please see the record:
https://msit.microsoftstream.com/video/e868a1ff-0400-9fb2-4566-f1eb0a1092f5

[2020-10-09 09:48] v-limu opened #3648 "Miss the button name in the 'Fie Changes Detected' dialog for one blob"
**Storage Explorer Version**: 1.16.0-dev
**Build**: 20201009.2
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Open one blob container -> Upload one blob -> Open this blob and make changes -> Save the blob.
3. Check t

[2020-10-09 09:56] v-xianya opened #3649 "Show an odd string '%1$s' in the descriptions on the blob's delete dialog when soft delete is disabled"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201009.2
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers (Make sure the soft delete is disabled).
2. Create one blob container -> Upload one blob -> Try to delete t

[2020-10-09 10:00] v-xianya opened #3650 "Pop up an error dialog when trying to delete one blob when the soft delete is enabled"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201009.2
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers -> Enable the soft delete.
2. Create one blob container -> Upload one blob -> Try to delete the blob.
3. Ch

[2020-10-09 11:08] 12-shweta commented on #1904
GitHubTags: #Win32;

[2020-10-09 11:17] 12-shweta commented on #1890
GitHubTags: #Win32;

[2020-10-09 17:07] MRayermannMSFT commented on #3628
@lhdmkoch how did you fix your issue?

[2020-10-09 17:07] #3628 closed

[2020-10-09 17:10] MRayermannMSFT commented on #3623
@escobarjj @a1spareparts for your error message, please go to Settings (gear on the left) -> Services -> Disks, uncheck the checkbox, and then restart storage explorer. If you're still having issues after that, please open a new issue.

Since barmanroys fixed his is problem, I'm going to close his issue.

[2020-10-09 17:10] #3623 closed

[2020-10-09 17:13] MRayermannMSFT commented on #3596
@rcmatos and @ytsruh can you please try going to Settings (gear on the left) -> Services -> Disks, uncheck the checkbox, and then restart storage explorer?

[2020-10-09 17:15] MRayermannMSFT commented on #3586
@BrunnaMaiaradaSilva were you able to fix the issue? If so, can you share your resolution?

[2020-10-09 17:24] MRayermannMSFT commented on #3412
@VishalCodingNinja did you restart storage explorer or the emulator?

[2020-10-09 17:26] JasonYeMSFT commented on #3604
The standard copy api requires us to specify which tags to set instead of copying the tags over.
![image](https://user-images.githubusercontent.com/39359541/95613447-d2153f00-0a19-11eb-9e00-599a0144e989.png)

I will add this support for this when AzCopy supports uploading with tags.

[2020-10-09 19:10] shali-sly5 commented on #3633
I have encountered the same issue above. Can you please let me know how you resolved this issue?

[2020-10-09 19:36] crisar19 commented on #3633
Hi,

I found out that issue is coming from my company network. They implemented a new security protocol, where bassically they block some websites as malicious URL.

Also I tried to include the SSL certificates (look the link above) but still not working

[2020-10-09 21:44] MRayermannMSFT commented on #3505
Fix for this was merged:
<img width="530" alt="image" src="https://user-images.githubusercontent.com/21112697/95634069-e2d7ac00-0a3d-11eb-87d7-7f7b54335c66.png">

[2020-10-10 02:05] v-limu commented on #3629
Verified on build 20201010.4. This issue has been fixed. So close it.
![image](https://user-images.githubusercontent.com/54055206/95643173-1e2ab700-0ae0-11eb-9087-2d09fb5701c5.png)

[2020-10-10 02:05] #3629 closed

[2020-10-10 02:36] v-limu commented on #3648
Verified on build 20201010.4. This issue has been fixed. So close it.

[2020-10-10 02:36] #3648 closed

[2020-10-10 02:51] v-limu commented on #3649
Verified on build 20201010.4. This issue has been fixed. So close it.

[2020-10-10 02:51] #3649 closed

[2020-10-10 05:02] sambhavpandey opened #3651 "Unable to list or upload into containers"
I am the owner of the azure account. I have created a container but I am not able to upload or list the items into the containers. I tried through Azure portal and from storage explorer as well. Below is the error.

The requested action could not be completed.

Details:
["FetchError:request to https://sambhavstorage1.blob.core.windows.net/?include=metadata&comp=list failed, reason: connect ETIMEDO

[2020-10-10 05:52] v-xianya commented on #3650
Verified this issue on build 20201010.4. Fixed.

[2020-10-10 05:52] #3650 closed

[2020-10-10 08:05] v-xianya opened #3652 "Nothing happens when clicking the icon 'Open Connect Dialog'"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Install and launch Storage Explorer.
2. Click the 'Open Connect Dialog' icon -> Check the result.

**Expect Experience:**
The 'Connect to Azure Storage' d

[2020-10-10 08:06] v-xianya opened #3653 "The 'Connect to Azure Storage' dialog doesn't pop up when first launching Storage Explorer"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Install and launch Storage Explorer.
2. Check whether the 'Connect to Azure Storage' dialog pops up.

**Expect Experience:**
The 'Connect to Azure Storage

[2020-10-10 08:06] v-xianya opened #3654 "An error dialog pops up when clicking the action 'Connect to Azure storage...' on the Storage Accounts node"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Install and launch Storage Explorer.
2. Right click the 'Storage Accounts' node -> Click the action 'Connect to Azure storage...'.
3. Check the result.

*

[2020-10-10 08:15] v-limu opened #3655 "Pop up an error infor bar when clicking 'Configure Proxy' in 'Edit' menu"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201010.4
**Branch**: main
**Platform/OS**: Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**

1. Lanuch Storage Explorer.
2. Click 'Edit' menu -> Click 'Configure Proxy'.
3. Check the result.

**Expect Experience:**
The 'Configure Proxy' dialog pops up

[2020-10-10 08:18] v-xianya opened #3656 "An error dialog pops up when clicking 'Configure CORS Settings…' for services"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Expand one normal storage account.
2. Configure and save the CORS rules for the Blob/ File Share/ Queue/ Table services.
3. Check the result.

**Expect Ex

[2020-10-10 08:30] v-limu opened #3657 "Nothing happens when clicking the action 'Upload' for one blob container and file share"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201010.4
**Branch**: main
**Platform/OS**: Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers.
2. Open one blob container -> Try to click 'Upload -> Upload Folder...' in the toolbar.
3. Check the result.

[2020-10-10 08:30] v-limu opened #3658 "Pop up an error dialog when clicking 'Get Shared Access Signature…' for one storage account"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201010.4
**Branch**: main
**Platform/OS**: Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**

1. Select one Non-ADLS Gen2 storage account -> Click 'Get Shared Access Signature...'.
2. Check the result.

**Expect Experience:**
Pop up the 'Shared Access

[2020-10-10 08:35] v-xianya opened #3659 "Nothing happens when clicking 'Move Messages -> Move Selected…' for one queue"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Expand one storage account -> Queues.
2. Select one queue with messages -> Select one message -> Click 'Move Messages -> Move Selected...'.
3. Check the r

[2020-10-10 08:36] v-xianya opened #3660 "An error dialog pops up when clicking the icon 'Add Message' for one queue"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Expand one storage account -> Queues.
2. Create a queue -> Click the icon 'Add Message' on the toolbar.
3. Check the result.

**Expect Experience:**
The '

[2020-10-10 08:47] v-limu opened #3661 "Show a failed activity log when clicking 'Manage Access…' for one ADLS Gen2 blob container"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Right click it -> Click 'Manage Access...'.
3. Check the result.

[2020-10-10 09:09] v-xianya opened #3662 "Pop up an error information bar when clicking 'Apply Filters' with the default filter"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.4
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create one blob container -> Click 'Show Filter Panel' -> Select the option 'Filters' -> Click 'App

[2020-10-10 11:13] Sherlocco commented on #3284
@MRayermannMSFT
I've no OS proxy specified.
In both the location you suggested, i've nothing as proxy setting.

[2020-10-10 14:01] infopipe opened #3663 "Secondary Drive won't upload with AzCopy 10.60"
**Storage Explorer Version**: Microsoft Azure Storage Explorer 1.15.1  AzCopy 10.6.0
**Build Number**:
**Platform/OS**: Windows 10
**Architecture**: x64?

**Regression From**:

## Bug Description ##
## Process Failed ##
message": "The specified cookie value in VHD footer indicates that disk 'abcd' with blob https://md-impexp-zlq4pdrgffcm.blob.core.windows.net:8443/mrtwhbmsxwlg/abcd is not a suppor

[2020-10-11 10:57] ariehf opened #3664 "Add droplist of recent filters (query predicates) in CosmosDB Documents Filter edit line"
After selecting CosmosDB Documents, and then "Filter", one is presented with "SELECT * FROM c" and an edit line with the example text "Type a query predicate (e.g. WHERE c.id = '1')".
After entering a query predicate for a certain collection and pressing Apply, and then entering a different query predicate (in the same collection or different collection, but without pressing "Keep Open"), then the

[2020-10-12 07:18] v-xianya opened #3665 "An error dialog pops up when clicking the icon 'New Folder' on the toolbar of one ADLS Gen1 account"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.6
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1.  Expand 'Data Lake Storage Gen1(Preview)' node -> Open one account.
2. Click 'New Folder' on the toolbar -> Check the result.

**Expect Experience:**
The

[2020-10-12 08:57] shibashish13999 opened #3666 "Event Based Trigger not working as Expected"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**:  Windows 10
**Architecture**: ia32
**Regression From**:  Not sure

Hello All,

 I have created a event based trigger for triggering some pipelines. So the issue is when i try to add csv files manually through storage explorer to designated blob location my trigger is working perfectly, but when an external source li

[2020-10-12 09:04] v-limu opened #3667 "Show a successful activity log when pasting one existing empty emulator blob container"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201010.6
**Branch**: main
**Platform/OS**: Windows 10
**Emulator**: 5.10.0.0
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Install and run Emulator -> Launch Storage Explorer.
2. Expand Local & Attached -> Storage Accounts -> (Emulator - Default Ports) (Key) -> Blob Containers.
3. Create a new blo

[2020-10-12 09:31] v-xianya commented on #3360
@JasonYeMSFT

Verified this issue on build 20201010.6 and 1.15.1 release. Reproduce.
![image](https://user-images.githubusercontent.com/41351993/95729951-2e918c00-0cb0-11eb-88ba-75ab4fa06401.png)

[2020-10-12 10:44] AsiaKosim opened #3668 "Unable to retrieve child resources -> This request is not authorized to perform this operation"
Error when clicking on Blob Containers -> Unable to retrieve child resources -> This request is not authorized to perform this operation

![image](https://user-images.githubusercontent.com/61511941/95737720-713f6e00-0c88-11eb-8231-9564ceafddb2.png)

![image](https://user-images.githubusercontent.com/61511941/95737681-5e2c9e00-0c88-11eb-9794-cacedcd3844e.png)

[2020-10-12 11:22] v-xianya opened #3669 "Succeed to upload one file to a file share that includes a folder with the same name as the file"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201010.6
**Branch**: main
**Platform/OS:** Windows 10/ Fedora release 29/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.12.0)

**Steps to reproduce:**
1.  Expand one storage account -> File Shares.
2. Create a file share -> Create a new folder.
3. Upload one file with the same name of the created folder.
4.

[2020-10-12 11:29] StargazerNC commented on #3668
Here, when I try to expand the tree, I get this:

Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

[2020-10-12 11:32] gantta commented on #3436
Ended up resolving the issue by removing the storage account and adding it again.

[2020-10-12 16:33] JasonYeMSFT commented on #2289
@shibashish13999 AzCopy did some work to associate content types with certain file extensions. If you want the same behavior, you need to handle that in the python code.

[2020-10-12 17:08] JasonYeMSFT commented on #3666
Copied from #2289. AzCopy did some work to associate content types with certain file extensions. If you want the same behavior, you need to handle that in the python code.

[2020-10-12 17:15] MRayermannMSFT commented on #3541
@go-shinyashiki

Is it possible that you still have/your users still have access to the keys of the Storage Account? Click on the node for the account and then look in the bottom left for primary and secondary key. If they are still there then that'll explain it. Storage Explorer always attempts to list keys (unless you disable that in settings). And if it can get the keys, it'll let you do things

[2020-10-12 17:17] MRayermannMSFT commented on #3624
@abatishchev this isn't possible today I think. Are you internal/work at MSFT?

[2020-10-12 17:20] MRayermannMSFT commented on #3605
Glad it eventually worked. Sorry you had to go through such a frustrating experience. We'll keep working on this scenario.

[2020-10-12 17:20] #3605 closed

[2020-10-12 17:20] #3596 closed

[2020-10-12 17:24] MRayermannMSFT commented on #3668
@AsiaKosim that error messages means you don't have the right permissions needed to access whatever it is you are trying to access. How are you connecting to your resources? Sign in and then via subscription? Attach with SAS? Attach with Azure AD? Attach with connection string?

@StargazerNC can you go to Settings -> Services -> Disks, uncheck the checkbox and then restart? That should unblock you

[2020-10-12 17:25] abatishchev commented on #3624
@MRayermannMSFT hi, yes, I am (alexbat).

[2020-10-12 17:26] MRayermannMSFT commented on #3651
@sambhavpandey ETIMEDOUT indicates some sort of network issue.

1. Are you behind a proxy and if so have you setup proxy settings in Storage Explorer?
2. Does your storage account have any networking restrictions on it, like a firewall?
3. Have you tried this from another machine or network?

[2020-10-12 17:27] MRayermannMSFT commented on #3647
@Tjianke can you give some more context about what you were doing at the time of this error?

[2020-10-12 17:28] MRayermannMSFT commented on #3646
@aureole82 can you go to Settings -> Services -> Disks, uncheck the checkbox and then restart? That should unblock you (assuming you don't need to work with disks).

[2020-10-12 17:28] MRayermannMSFT commented on #3645
can y'all go to Settings -> Services -> Disks, uncheck the checkbox and then restart? That should unblock you (assuming you don't need to work with disks).

[2020-10-12 17:37] MRayermannMSFT commented on #3669
This is probably due to a change in azcopy behavior. The new behavior does make about the same amount of sense as the previous. It is probably ambiguous to azcopy if the expected result is to put the file named "X" under the folder also named "X", or if the expected result is to replace the folder named "X" with the file named "X". Will wait on user feedback for this scenario as it seems like an e

[2020-10-12 17:38] MRayermannMSFT commented on #3667
edge case won't fix

[2020-10-12 17:38] #3667 closed

[2020-10-12 17:40] MRayermannMSFT commented on #3666
@shibashish13999 what JasonYeMSFT has said is most likely true. Since what you're having issues with is uploading with the python functions SDK, we would recommend going to their repo for further help. Thanks!

[2020-10-12 17:40] #3666 closed

[2020-10-12 17:55] MRayermannMSFT commented on #3641
@anupdg ﻿AuthorizationPermissionMismatch means there's is some issue with your permissions/level of access.

1. Is it possible your trial had already expired?
2. Are you certain that static websites are supported for trial subscriptions?
3. Can you try give yourself a roles like "Blob Data Owner" at the Storage Account level?

[2020-10-12 17:56] MRayermannMSFT commented on #3641
Also, we don't see any built in Service Administrator role: https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

So that's probably the issue. It sounds like maybe that is a classic role?

[2020-10-12 17:58] MRayermannMSFT commented on #3640
@kkennett @raviabhiram

A couple of starter questions:

1. Storage Explorer version?
2. Operating system?
3. What are you transferring to and from?

Finally, after you see this error message, can you check your azcopy logs directory (<user dir>/.azcopy) for a log file which has a date created at about the same time you started the transfer? If so can you please share that log file here.

[2020-10-12 18:04] MRayermannMSFT commented on #3639
@dxkaufman and @lxalln

Do y'all have access to any other storage accounts? If yes, does this repro with them as well?
Are y'all able to access the troublesome storage accounts from other machines?
If you single click on the node for the storage account, do you see any properties in the bottom left/do any of the properties have an error/bad looking value?

[2020-10-12 18:06] MRayermannMSFT commented on #3633
@crisar19 did you convert the certs to base64 encoded as described in the link?

[2020-10-12 18:09] MRayermannMSFT commented on #3625
@v-xianya this is expected. Since you tried inserting an entity outside the range of the SAS restriction, the server returns an error.

[2020-10-12 18:09] #3625 closed

[2020-10-12 18:11] MRayermannMSFT commented on #3562
Closing due to lack of response. If you are still having problems please open a new issue.

[2020-10-12 18:11] #3562 closed

[2020-10-12 18:11] MRayermannMSFT commented on #3558
Closing due to lack of response. If you are still having problems please open a new issue.

[2020-10-12 18:11] #3558 closed

[2020-10-12 18:12] MRayermannMSFT commented on #3496
Closing due to lack of response. If you are still having problems please open a new issue.

[2020-10-12 18:12] #3496 closed

[2020-10-12 18:12] MRayermannMSFT commented on #3495
Closing due to lack of response. If you are still having problems please open a new issue.

[2020-10-12 18:12] #3495 closed

[2020-10-12 18:18] MRayermannMSFT commented on #3197
@dpetrek are you still seeing this issue? Are you getting this error with other files as well?

[2020-10-12 18:21] MRayermannMSFT commented on #3128
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:21] #3128 closed

[2020-10-12 18:24] MRayermannMSFT commented on #3118
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:24] #3118 closed

[2020-10-12 18:24] MRayermannMSFT commented on #3093
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:24] #3093 closed

[2020-10-12 18:24] MRayermannMSFT commented on #3084
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:24] #3084 closed

[2020-10-12 18:25] dxkaufman commented on #3639
@MRayermannMSFT It is happening with 2 storage accounts, both accessed with the same Azure user ID. Single clicking looks fine. I'll have to check on the other machine later.

[2020-10-12 18:26] MRayermannMSFT commented on #3033
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:26] #3033 closed

[2020-10-12 18:26] MRayermannMSFT commented on #3029
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:26] #3029 closed

[2020-10-12 18:30] MRayermannMSFT commented on #2818
Closing due to lack of response. If you are still having issues, please open up a new issue, thanks.

[2020-10-12 18:30] #2818 closed

[2020-10-12 20:04] dxkaufman commented on #3639
@MRayermannMSFT I installed 1.15.1 on a Mac laptop, and it seems to be working there.

[2020-10-12 20:15] JasonYeMSFT commented on #3662
Blob tags is in preview. Please refer to https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal on how to enable the feature.

[2020-10-12 20:39] SpeedeonGreg opened #3670 "Storage Explorer no longer works after private links implementation"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200909.9
**Platform/OS**: Windows 10
**Architecture**: x64

## Bug Description ##
We have implemented private endpoint links on a storage account however when trying to enumerate the file shares tied to this storage account in storage explorer it fails with a network timeout error.

Unable to retrieve child resources.

Details:
Network timeo

[2020-10-13 00:25] go-shinyashiki commented on #3541
Thanks for the reply. I will refer to it.

[2020-10-13 00:25] #3541 closed

[2020-10-13 03:02] #3662 closed

[2020-10-13 03:44] mutjay commented on #3668
Hi I am connecting from Azure VM within the same Virtual Network. Do I need to apply any changes on the VM.

[2020-10-13 04:47] sguha-v opened #3671 "Azure Storage Explorer is failing to connect to Cloud with AD"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  Never worked

## Bug Description ##
Azure Storage Explorer is failing to connect to Cloud with AD

## Steps to Reproduce ##
Steps:
Microsoft Azure Storage Explorer >  Add an account >  Add an Azure account > sguha@company.com >
Pick an account: Picked up my Azur

[2020-10-13 04:50] sguha-v commented on #3671
Subscriptions for the follwowing tenants could not be retrieved:
Tenant Id: e796cf6d-fb86-4621-99b5-6764cafeee58, Error: {
  "name": "Error",
  "message": "self signed certificate in certificate chain",
  "stack": "Error: self signed certificate in certificate chain\n    at TLSSocket.onConnectSecure (_tls_wrap.js:1331:34)\n    at ZoneDelegate.invokeTask (C:\\Program Files (x86)\\Microsoft Azure St

[2020-10-13 08:12] crisar19 commented on #3633
@MRayermannMSFT hi,

Yes I did it, but the issue is from my company network. When I work from home I don't have any issues on it. Right now they solve the Blob containers access, but now still having issues with Datalake storage access.

Thanks for your info

[2020-10-13 08:21] lxalln commented on #3639
@MRayermannMSFT I have added an additional Microsoft account with storage accounts, and I get the same error on all storage accounts, in all subscriptions.

I can get to the storage accounts/containers from within the Azure Portal.

I can see the properties of the storage accounts, nothing looks to be strange:
![image](https://user-images.githubusercontent.com/2781908/95834758-43fcc980-0d35-11eb-9

[2020-10-13 08:35] v-xianya opened #3672 "The layout of the descriptions in the 'Sign In' dialog is unsightly when using device code flow sign-in"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201012.5
**Branch**: main
**Platform/OS:** Windows 10/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Launch Storage Explorer -> Open 'Settings -> Application' -> Enable the setting 'Use device code flow sign-in'.
2. Open connect dialog -> Click 'Next' -> Check the popped di

[2020-10-13 08:46] v-xianya opened #3673 "Show a red border for the URL text box in 'Proxy Settings' dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201012.5
**Branch**: main
**Platform/OS:** Windows 10/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release (1.15.1)

**Steps to reproduce:**
1. Open Storage Explorer -> Click 'Edit -> Configure Proxy'.
2. Check the popped dialog.

**Expect Experience:**
No red border shows for the URL text box.
![image](https://user

[2020-10-13 08:55] StargazerNC commented on #3668
@MRayermannMSFT Actually, after a while I just closed and reopened Azure Storage Explorer,  and magically it all worked as always have been. It's worth noting that yesterday, around 4 pm (GMT) all kinds of strange stuff was happening on our Azure services (Functions, Databases, DevOps...), so I'll just blame that. 🤣

[2020-10-13 16:14] bigdatamnl opened #3674 "Self signed certificate error"
I have already tried the troubleshooting steps in this link, but still faces the same issue.

https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004

Unable to retrieve child resources.

Details:
["FetchError:request to https://appsproductsupply.blob.core.windows.net/?include=metadata&comp=list failed, reason: self signed certificate in certifica

[2020-10-13 18:28] raholland79 opened #3675 "Crashes a table with the error rowA[col]._.toLowerCase is not a function"
I have a particular Blob Storage table that I can not open.  I get the error

`rowA[col]._.toLowerCase is not a function`

Nothing loads, blank tab.

Version `1.15.1`

I Physically deleted and re-created the table, no dice.

Accessing the table via .NET core in an Azure Function works fine.  It's just the Storage Explorer.

[2020-10-13 18:48] craxal opened #3676 "Upgrade Electron"

[2020-10-13 21:09] #3659 closed

[2020-10-13 21:09] #3657 closed

[2020-10-13 21:09] #3654 closed

[2020-10-13 21:09] #3653 closed

[2020-10-13 21:10] #3652 closed

[2020-10-13 21:31] JasonYeMSFT commented on #3360
I managed to reproduce this issue. It only occurs when we use account name and key to authorize the rename action.

[2020-10-13 22:53] craxal opened #3677 "Add setting to control API version"
Sometimes the hard-coded API versions we use to communicate don't work for some users, usually because their accounts or services have not been updated. Providing a setting that allows them to set the API version they need should help alleviate problems in the future.

This feature request is in response to recent customer feedback and service requests.

[2020-10-13 23:01] craxal commented on #3643
Yes, this string should be translated. We understand that terms like "File Share service" or "File service" are not translated, and that's fine.

[2020-10-13 23:02] #3643 closed

[2020-10-13 23:41] craxal commented on #3642
Yes, this comment is still valid. The string is in relation to a temporary setting. Once the feature becomes generally available, the string will no longer be needed.

[2020-10-13 23:41] #3642 closed

[2020-10-14 02:10] v-xianya commented on #3672
@JasonYeMSFT Verified this issue on build 20201014.3. The current dialog as below. Is it by design to add a Sub-title 'Sign In' to the dialog?
![image](https://user-images.githubusercontent.com/41351993/95935105-09626200-0e05-11eb-8392-1ab8e764e427.png)

[2020-10-14 02:36] v-xianya commented on #3655
Verified this issue on build 20201014.3. Fixed.

[2020-10-14 02:36] #3655 closed

[2020-10-14 02:41] v-xianya commented on #3656
Verified this issue on build 20201014.3. Fixed.

[2020-10-14 02:41] #3656 closed

[2020-10-14 02:45] v-xianya commented on #3658
Verified this issue on build 20201014.3. Fixed.

[2020-10-14 02:45] #3658 closed

[2020-10-14 02:48] v-xianya commented on #3665
Verified this issue on build 20201014.3. Fixed.

[2020-10-14 02:48] #3665 closed

[2020-10-14 02:51] v-xianya commented on #3661
Verified this issue on build 20201014.3. Fixed.

[2020-10-14 02:51] #3661 closed

[2020-10-14 02:53] v-xianya commented on #3660
Verified this issue on build 20201014.3. Fixed.

[2020-10-14 02:53] #3660 closed

[2020-10-14 06:40] ooakley opened #3678 "problem with storage explorer's system time retrieval"
**Storage Explorer Version**: 1.15.1
**Build Number**:  20200902.9
**Platform/OS**: macOS Catalina 10.15.6 (19G2021)
**Architecture**:  x64?
**Regression From**: Summer 2019

## Bug Description ##
Upon attempting to connect to a storage account's blob container I get a RestError, where the server fails to authenticate the request. The date & time output at the bottom of the error is always behind

[2020-10-14 09:18] v-xianya opened #3679 "The blobs under folders are not counted when using 'Folder Statistics' for one emulator blob container"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201014.3
**Branch**: main
**Platform/OS:** Windows 10
**Architecture**: ia32
**Azurite:** 3.9.0
**Regression From:** Not a regression

**Steps to reproduce:**
1. Install and start Azurite -> Launch Storage Explorer.
2. Expand Local & Attached -> (Emulator - Default Ports) (Key) -> Blob Containers.
3. Create a blob container -> Upload one folde

[2020-10-14 16:44] JasonYeMSFT commented on #3672
@v-xianya Yes, this is expected.

[2020-10-14 19:42] ashok624443 opened #3680 "Unable to copy disk from one region to another using Storage Explorer"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

![image](https://user-images.githubusercontent.com/10362602/96037536-98ae5a80-0e83-11eb-98a9-47ea244f19d4.png)

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-10-14 19:43] ashok624443 commented on #3680
![image](https://user-images.githubusercontent.com/10362602/96037569-a2d05900-0e83-11eb-9777-1145d8f11a90.png)

[2020-10-14 20:17] #3526 closed

[2020-10-14 23:31] craxal commented on #3450
I can no longer reproduce. I believe this is due to the fix for #3479. The table no longer has an assertive live region.

[2020-10-15 05:40] Rohitkulkarni77 opened #3681 "Azure Storage explorer"
Hello Team,

I am trying to access the container in storage account at that time i getting error :
Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\nRequestId:3403ffb8-101e-0075-04b3-a26029000000\nTime:2020-10-15T05:28:07.3698027Z</Message></Error>"]

Regards
Rk

[2020-10-15 05:42] v-xianya commented on #3672
got it. we are going to close this issue.

[2020-10-15 05:42] #3672 closed

[2020-10-15 06:40] timzhan opened #3682 "Unable to retrieve child resources"
**Storage Explorer Version**:  v1.15.1
**Build Number**:  Aug 2020
**Platform/OS**:  Windows 10
**Architecture**:  x64
**Regression From**:   Yes.

## Bug Description ##
 Unable to retrieve child resources while using connection string to connect to a local blob storage. Was suggested to open an issue on Github.

## Steps to Reproduce ##

Local & Attached -> Storage Accounts -> Right Click -> Conn

[2020-10-15 07:54] v-xianya opened #3683 "The selected permissions 'Tag' and 'Filter' do not display on one SAS attached storage account's properties panel"
**Storage Explorer Version:** 1.16.0-dev
**Build**:  20201014.18
**Branch**: main
**Platform/OS:** Windows 10/Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Select one normal storage account -> Attach it via SAS (Select full permissions).
2. After successfully attached -> Check the permissions on the attached storage accoun

[2020-10-15 09:01] RaijinDS opened #3684 "Unable to sign in: La méthode 'get_SerializationSettings' du type 'Microsoft.Azure.Management.ResourceManager.SubscriptionClient' de l'assembly 'Microsoft.Azure.Management.ResourceManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' n'a pas d'implémentation."
**Storage Explorer Version**: 1.15.1
**AzCopy Version**: 10.6.0
**Build Number**: 20200902.9
**Platform/OS**: Windows 10 Enterprise v1903
**Architecture**: x64

## Bug Description ##
I installed Microsoft Azure Storage Explorer. I tried to connect to my azure account. After typing my credential (only my mail, ADFS makes the authentication),  Microsoft Azure Storage Explorer fired an exception :

{

[2020-10-15 09:29] #3678 closed

[2020-10-15 10:33] v-limu opened #3685 "Show inconsistent descriptions of the proxy option between in 'Proxy Settings' dialog and 'Settings' panel"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201014.18
**Branch**: main
**Platform/OS:** Windows 10/Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Click 'Edit' menu -> Click 'Configure Proxy' -> Check the descriptions of the option in the 'Proxy Settings' dialog.
3. Click 'Settings' ->

[2020-10-15 10:45] v-limu opened #3686 "Pop up an information bar when switching from 'Use custom proxy settings' to 'Do not use proxy' in the ‘Proxy Settings’ dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201014.18
**Branch**: main
**Platform/OS:** Windows 10/Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**
1. Launch Storage Explorer.
2. Click ‘Edit’ menu -> Click ‘Configure Proxy’ -> Select ‘Use custom proxy settings’ -> Type `‘http://localhost:8888’` in the ‘Proxy Se

[2020-10-15 12:43] arijitdeb022 opened #3687 "Not able to connect to cosmosDB using Azure storage explorer"
Unable to retrieve child resources.

Details:
connect ECONNREFUSED 127.0.0.1:443

[2020-10-15 14:22] cnovel opened #3688 "Detach all SAS Uri connection at once"
**Is your feature request related to a problem? Please describe.**
When uploading/downloading data, we sometimes use Postman to get a SAS Uri and then connect to the blob using the SAS Uri. These connections are temporary and will be outdated after one hour (duration of the SAS Uri).
![image](https://user-images.githubusercontent.com/5690282/96142436-5f68ff80-0f02-11eb-9cd2-6a729c3a1f32.png)
We ge

[2020-10-15 18:48] craxal commented on #3508
@MayuriNaik Please provide more information on how you navigated to the table and in the table. I am having trouble understanding and reproducing this issue.

[2020-10-15 19:03] MRayermannMSFT commented on #3459
![image](https://user-images.githubusercontent.com/21112697/96174668-7dbd0400-0ede-11eb-8069-bf60539f891d.png)

[2020-10-15 19:08] MRayermannMSFT commented on #3462
![Uploading image.png…]()

[2020-10-15 19:10] MRayermannMSFT commented on #3463
![image](https://user-images.githubusercontent.com/21112697/96175188-5fa3d380-0edf-11eb-9a48-048b3e49a7bf.png)

[2020-10-15 19:11] MRayermannMSFT commented on #3457
![image](https://user-images.githubusercontent.com/21112697/96175274-84984680-0edf-11eb-9751-f132d1ec768a.png)

[2020-10-15 19:13] MRayermannMSFT commented on #3474
See screenshot from bug #3463

[2020-10-15 19:13] MRayermannMSFT commented on #3461
See screenshot from bug #3457

[2020-10-15 22:23] JasonYeMSFT commented on #3575
AzCopy is going to ship a fix for this bug in their 10.6.1 release.

[2020-10-15 22:32] JasonYeMSFT commented on #3416
This is a very rare use case and we are not going to support creating resources with such names (/s and \s).

[2020-10-15 22:32] #3416 closed

[2020-10-15 22:36] JasonYeMSFT commented on #3630
@YvainRaeymaekers We had a talk with the AzCopy team and this turns out to be the by-design behavior. Neither AzCopy nor us have seen people requesting such fine-grained management over block blobs. Could you share with us the scenario where you want to preserve block structures?

[2020-10-15 22:37] JasonYeMSFT commented on #3453
This is expected. In file share, a real folder is created while in blob containers, no folder persists since no real folder exists.

[2020-10-15 22:37] #3453 closed

[2020-10-16 00:09] JasonYeMSFT commented on #2100
We are moving our features depending on V2 to V12 SDK. When all are moved, this will be supported.

[2020-10-16 00:09] JasonYeMSFT commented on #2821
Move to 1.17.0 since AzCopy don't have the capacity to fix this.

[2020-10-16 00:10] JasonYeMSFT commented on #2824
Move to 1.17.0 since AzCopy don't have the capacity to support this.

[2020-10-16 00:10] JasonYeMSFT commented on #2252
Move to 1.17.0 since we haven't figured out how to support attaching Gen2 accounts via SAS.

[2020-10-16 00:12] JasonYeMSFT commented on #2618
Moving out of 1.16.0 since WCAG bugs have a later deadline.

[2020-10-16 00:14] JasonYeMSFT commented on #3384
Move to 1.17.0 since this is not feasible with the current SDK.

[2020-10-16 06:01] v-xianya commented on #3683
Verified this issue on build 20201016.4. Reproduce. We will verify this issue on a newer build.

[2020-10-16 09:00] v-xianya commented on #3453
@JasonYeMSFT
Yes, In file share, a real folder is created while in blob containers, no folder persists since no real folder exists.
But in ADLS Gen2 blob containers, the folders are real. why the behaviors are different for ADSL Gen2 blob containers and file shares? Could you help to elaborate?

[2020-10-16 10:33] YvainRaeymaekers commented on #3630
Yes of course:
We are writing a software that works a bit like Git. We store in a block blob a list of revisions. Each block containing the revision data. We designed it like that rather than to store the revisions in separate blobs since each revision does not take much space ( ~1KByte) and we also need to be able to append revisions to the list.
When we want to navigate in our history, we use th

[2020-10-16 17:48] jeremymeng commented on #2954
@zelon we are still testing a fix to https://github.com/Azure/azure-sdk-for-js/issues/9171.  Meanwhile, is the workaround of not using underscore as metadata key good enough for you?

[2020-10-16 18:37] #3572 closed

[2020-10-16 18:38] #2507 closed

[2020-10-16 18:43] craxal commented on #3564
@longtimeago I notice your emulator endpoint is http://azurite:10000, which isn't actually a local endpoint. Have you tried http://localhost:10000? Also, we have a node in the tree view that connects to the default local endpoints automatically. Do those nodes work with your emulator?

[2020-10-16 19:07] zezha-msft commented on #3630
Hi @YvainRaeymaekers, thanks for reaching out! I work on the AzCopy project.

I've logged an item to look into your requirement. In the meantime, I have a few questions:

1. Is there any other reason why the revisions have to be inside one blob? There is always the risk of using a tool that copies the blobs and loses the block list, so for your customers, even if we fixed it in AzCopy, this may st

[2020-10-16 22:12] MRayermannMSFT commented on #1198
Fix merged into main.

[2020-10-16 22:12] #1198 closed

[2020-10-17 13:21] dpetrek commented on #3197
Its OK now, thanks.

[2020-10-17 19:01] IvNen opened #3689 "Unable to retrieve child resources"
**Storage Explorer Version**:1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows
**Architecture**: is32
**Regression From**:

## Bug Description ##

Attempt to access Local Storage Emulator and getting and error:

The requested action could not be completed.

Details:
Network timeout error: connect ECONNREFUSED 127.0.0.1:10002

## Steps to Reproduce ##
Attempt 1: Updated Storage Explorer

[2020-10-18 12:49] longtimeago commented on #3564
@craxal well, yea, it's _local_ comparing to a _cloud_ version but in fact is running in a docker container on a local machine.
The proper connection string was
`DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=xxx;BlobEndpoint=http://172.18.0.30:10000/devstoreaccount1;` where `172.18.0.30` is a container address with azurite simulator running.

yes, when I run azurite on via

[2020-10-18 17:06] hologerry opened #3690 "Auto light/dark mode based on system (macOS)"
**Describe the solution you'd like**
Update the appearance by reading the system light/dark mode api.
I am not familiar with the implementation, but I think it can be implemented as some applications already have this feature.
Thanks a lot!

[2020-10-18 21:17] IvNen commented on #3689
Have managed to recreate this with a
ElementaryOS 5.1.7 Hera
Built on Ubuntu 18.04.4 LTS
Linux 4.15.0-36-generic
GTK+ 3.22.30

Installed using following commands:
sudo apt install snapd
sudo snap install storage-explorer
sudo snap connect storage-explorer:password-manager-service :password-manager-service

Upon starting and attempting to access local tables or blobs receive the same error message

[2020-10-19 09:41] AsiaKosim commented on #3668
@MRayermannMSFT I was connecting via subscription based on my Azure account. So I would assume it will automatically show all the resources to which I have access. So, after successful authentication, it shown the resources tree correctly (as on the screen shot), but I get the error on the lowest level, when I try to open the Blob:
![image](https://user-images.githubusercontent.com/61511941/964275

[2020-10-19 10:46] 12-shweta commented on #3462
Verified the bug in the version 1.16.0-dev
The issue is Fixed and does not reproduce.
Hence closing this issue.
Please find the below link for Closing screenshot
https://microsoftapc-my.sharepoint.com/:i:/g/personal/v-shwarh_microsoft_com/EU7dOyBvHO5EihbpvRyCJ-kByv56t-se7ir5Pq5h_KIfag?e=MBepZO

[2020-10-19 10:46] #3462 closed

[2020-10-19 10:46] 12-shweta commented on #3463
Verified the bug in the version 1.16.0-dev
The issue is Fixed and does not reproduce.
Hence closing this issue.
Please find the below link for Closing screenshot
https://microsoftapc-my.sharepoint.com/:i:/g/personal/v-shwarh_microsoft_com/EfFyQ_jdl-BIokFTY48gUVYBw6KRGiIGGrxCYFppbo18uQ?e=TYSefa

[2020-10-19 10:46] #3463 closed

[2020-10-19 11:05] RohitJadhav-TCS commented on #3486
Verified in Microsoft Azure Storage Explorer Version 1.16.0-dev Issue is no longer reproducing hence closing bug. Attached screenshot for reference.
![image](https://user-images.githubusercontent.com/52035395/96442635-13cb9400-1229-11eb-9a96-8d66a0d19aae.png)

[2020-10-19 11:05] #3486 closed

[2020-10-19 11:38] pranshu512 commented on #3460
I verified this issue and found that it is not reproducing
hence,closing this bug
![image](https://user-images.githubusercontent.com/64009219/96445516-a9692280-122d-11eb-97f0-622cd862fdd6.png)

[2020-10-19 11:38] #3460 closed

[2020-10-19 11:51] shreyashi227 commented on #3459
Verified the issue and the issue is fixed as color contrast ratio of focus border is greater than 3:1. So closing this bug.

![image](https://user-images.githubusercontent.com/60881447/96447389-73c53900-122f-11eb-8fce-90744cbd651c.png)

[2020-10-19 11:51] #3459 closed

[2020-10-19 11:55] 12-shweta commented on #3468
@MRayermannMSFT
Here the issue is that when we edit the text in the "Connection string" edit box, there is a one error message appears on the screen stating  "The connection string is missing an account key or SAS token" but this error message is not announced by the JAWS but NVDA does.
So here the expected is that the JAWS should announce the status message as soon as it is thrown.

[2020-10-19 11:57] shreyashi227 commented on #3474
Verified the issue and the issue is not reproducing now so closing this bug.

![Screenshot (276)](https://user-images.githubusercontent.com/60881447/96447983-5ba1e980-1230-11eb-8510-7abe3d9b67de.png)

[2020-10-19 11:57] #3474 closed

[2020-10-19 12:00] prasadaps commented on #3457
Verified the issue in latest version of azure tool storage explorer application. the issue is not reproducing  so closing the bug. please refer the closing attachment. https://microsoftapc-my.sharepoint.com/:i:/g/personal/v-prphat_microsoft_com/EQvUDWQfyjVCqzGBKUdMB88BsRWYJYdMFDsLXK-ePV_Ffw?e=8arUh3

[2020-10-19 12:00] #3457 closed

[2020-10-19 12:02] prasadaps commented on #3450
Verified the issue in latest version of Azure tool storage explorer application the issue is no longer reproducing so closing the bug.
please refer the closing attachment.
https://microsoft-my.sharepoint.com/:v:/p/v-rojad/EXfIy1VtNNdLnFP7eu9liSQBPETiZVi_oatRbbs01kr8hA?e=SEACLK

[2020-10-19 12:02] #3450 closed

[2020-10-19 12:10] 12-shweta commented on #2615
Verified the bug in the version 1.16.0-dev
The issue is Fixed and does not reproduce.
Hence closing this issue.
Please find the below link for Closing attachment:
https://microsoftapc-my.sharepoint.com/:v:/g/personal/v-shwarh_microsoft_com/EXoatkLi8MNGhoa9ZIQpElYBBFZXCbSP5Bx0mLU7lz-pfQ?e=qeZWbA

[2020-10-19 12:12] MayuriNaik commented on #3505
Verified the bug in application version: 1.16.0, ios: 10.15.7. The bug is fixed and hence closing the bug.
<img width="899" alt="3505_Closed" src="https://user-images.githubusercontent.com/52036772/96449415-6c535f00-1232-11eb-99a1-dd1ea1ed2a09.png">

[2020-10-19 12:12] #3505 closed

[2020-10-19 13:20] ytsruh commented on #3596
Hi all, sorry to report that this didn't resolve the issue for me. However it did take the number of times that I had to re authenticate from 3 down to 2.

Any other suggestions?

[2020-10-19 13:38] eclausengit commented on #3689
Same issue.  Doesn't matter which storage space I attempt to open.

[2020-10-19 14:46] YvainRaeymaekers commented on #3630
Hi thanks for looking into this.
About question 1: I don't think there is another reason. The main reason we designed things this way was to avoid having a huge quantity of small blobs. Is it truly fine to have thousands of small 1Ko blobs in a blob container ? And about the the risk of having an azure tool losing the blob list during a copy is why I submitted this bug report. In order to consider

[2020-10-19 16:11] JasonYeMSFT commented on #3453
We use blob endpoints for upload in Gen2 containers, where the service doesn't have the capability to tell whether it is HNS enabled or not. Thus it won't preserve empty folders. Let's re-prioritize this issue if customers ask for it.

[2020-10-19 16:32] Olatunji-Longe commented on #3689
Same issue here ... Same version as @IvNen on a windows machine ... even though it was previously working fine just before restarting my windows machine.

[2020-10-19 16:44] #3461 closed

[2020-10-19 16:45] MRayermannMSFT commented on #3461
Chitrarupa said this was fixed in email from 10/19.

[2020-10-19 16:45] MRayermannMSFT commented on #2625
Chitrarupa said this was fixed in email from 10/19.

[2020-10-19 16:46] MRayermannMSFT commented on #2615
Chitrarupa said this was fixed in email from 10/19.

[2020-10-19 16:46] #2615 closed

[2020-10-19 16:47] #2625 closed

[2020-10-19 16:54] zelon commented on #2954
I could access via portal.azure.com and remove the key

[2020-10-19 17:11] MRayermannMSFT commented on #3689
@IvNen  @Olatunji-Longe  @eclausengit did y'all start your emulators?

[2020-10-19 17:17] MRayermannMSFT commented on #2244
@thereforeattila the reason we ask you to open a new issue is because in general, once an issue is closed, we don't look at it. We spend time every week going through open issues, making sure we're all staying on top of replying to y'all, brainstorming solutions as a team, discussing priority of issues, etc. And if an issue opener doesn't reply after 30 days, then we make the decision to assume th

[2020-10-19 17:17] MRayermannMSFT commented on #3684
@RaijinDS we had another user open a similar issue a few months ago. I'm going to direct you over to that issue.

[2020-10-19 17:17] #3684 closed

[2020-10-19 17:18] MRayermannMSFT commented on #3684
See issue #2244

[2020-10-19 17:19] MRayermannMSFT commented on #2244
@RaijinDS please try each of the following:

Initial troubleshooting step:

And if that fails:

 ![image](https://user-images.githubusercontent.com/21112697/73561397-c6df2d80-440d-11ea-9dbd-0a549e400c07.png)

[2020-10-19 17:21] MRayermannMSFT commented on #3682
@timzhan are you connecting to an emulator or something else? If an emulator, is it azurite or the .net emulator? If something else, what is it?

[2020-10-19 17:23] MRayermannMSFT commented on #3624
Talked to @abatishchev offline. He's ok for now but will reach back out to me if needed.

[2020-10-19 17:23] #3624 closed

[2020-10-19 17:23] MRayermannMSFT commented on #3587
Closing due to lack of response/known workaround.

[2020-10-19 17:23] #3587 closed

[2020-10-19 17:25] MRayermannMSFT commented on #3276
Closing due to lack of response from issue opener. Please open a new issue if you still need help.

[2020-10-19 17:25] #3276 closed

[2020-10-19 17:34] MRayermannMSFT commented on #3690
Duplicate of #2626 and will rename the title of that issue to include macOS/all OS's

[2020-10-19 17:34] #3690 closed

[2020-10-19 17:35] MRayermannMSFT commented on #2626
Should make this work on as many OS's as possible.

[2020-10-19 17:37] MRayermannMSFT commented on #3681
@Rohitkulkarni77 means that the credentials you are using to connect probably don't have the needed permissions to access what you want to access.

What type of credentials are you using to access your resources?

- Have you signed in and are looking under a subscription?
- Attached with Azure AD?
- Attach with connection string, and if so, SAS or key?
- Attach with SAS URI?
- Attach with name and

[2020-10-19 17:38] MRayermannMSFT commented on #3680
@ashok624443 what error are you getting when you attempt the copy?

[2020-10-19 17:41] MRayermannMSFT opened #3691 "Rewrite folder statistics using v12 SDK"
- rewrite the feature using v12 SDK instead of v2
- refine user experience to eliminate issues such as do we count snapshots/versions?

[2020-10-19 17:42] MRayermannMSFT commented on #3679
Won't fix. We need to re-implement statistics in v12 SDK, and this bug does not meet the bar for immediately fixing.

[2020-10-19 17:42] #3679 closed

[2020-10-19 17:43] IvNen commented on #3689
Yes I did

[2020-10-19 17:45] MRayermannMSFT commented on #3675
@raholland79 is it possible for you to share the table with us, maybe via a SAS URI?

Also, to be clear, are you talking about "tables" like this?
![image](https://user-images.githubusercontent.com/21112697/96492192-211c5a80-11f8-11eb-823a-bafc2f9d2345.png)

[2020-10-19 17:46] MRayermannMSFT commented on #3674
@bigdatamnl which steps from the troubleshooting guide have you tried so far?

[2020-10-19 17:46] MRayermannMSFT commented on #3671
@sguha-v please see our troubleshooting guide for help with this issue: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-10-19 17:50] MRayermannMSFT commented on #3668
@AsiaKosim are you running storage explorer on a VM which is in a VNet?

 @mutjay have you enabled storage firewall? If so, then you will need to add the VNet as an allowed network to the firewall?

[2020-10-19 17:59] MRayermannMSFT commented on #3639
@dxkaufman @lxalln can y'all try doing a clean install of storage explorer on the affected machines?

For macOS, you should:
- delete the .app from the Applications folder
- re-download from https://storageexplorer.com
- unzip
- drag and drop into the Applications folder

For linux, if you used .tar.gz package, this should mean:
- delete all files you extracted from the package
- redownload packag

[2020-10-19 18:03] MRayermannMSFT commented on #3633
@crisar19 when you say "they solve the Blob containers access, but now still having issues with Datalake storage access" do you mean that after adding the certs, you were able to access your blobs but not your datalake?

What datalake version are you using? Gen1 or Gen2? Or in other words, this is Gen1:
![image](https://user-images.githubusercontent.com/21112697/96494109-bfa9bb00-11fa-11eb-824f-4a

[2020-10-19 18:04] MRayermannMSFT commented on #3627
@MikeFerreira additional question, are you by chance trying to change access tier of blob versions?

[2020-10-19 18:05] MRayermannMSFT commented on #3595
Closing due to lack of response. Please open a new issue if you are still encountering this problem.

[2020-10-19 18:05] #3595 closed

[2020-10-19 18:05] MRayermannMSFT commented on #3594
Closing due to lack of response. Please open a new issue if you are still encountering this problem.

[2020-10-19 18:05] #3594 closed

[2020-10-19 18:06] MRayermannMSFT commented on #3590
Closing due to lack of response. Please open a new issue if you are still encountering this problem.

[2020-10-19 18:06] #3590 closed

[2020-10-19 18:06] MRayermannMSFT commented on #3543
Closing due to lack of response. Please open a new issue if you are still encountering this problem.

[2020-10-19 18:06] #3543 closed

[2020-10-19 18:07] MRayermannMSFT commented on #3520
@rolanddb ? Are you still seeing this issue? Can you answer the questions in my previous reply. Thanks!

[2020-10-19 18:11] MRayermannMSFT commented on #3197
Ok.

[2020-10-19 18:11] #3197 closed

[2020-10-19 18:13] MRayermannMSFT commented on #3191
@RogerioXavierSouzaAguiar are you still encountering this issue?

If so, are you perhaps behind a proxy? If so you'll need to setup proxy settings in Storage Explorer via Settings (gear on the left) -> Application -> Proxy?

[2020-10-19 18:14] MRayermannMSFT commented on #3104
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-10-19 18:14] #3104 closed

[2020-10-19 18:15] MRayermannMSFT commented on #3097
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-10-19 18:15] #3097 closed

[2020-10-19 18:15] MRayermannMSFT commented on #3096
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-10-19 18:15] #3096 closed

[2020-10-19 18:16] MRayermannMSFT commented on #3032
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-10-19 18:16] #3032 closed

[2020-10-19 18:16] MRayermannMSFT commented on #2980
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-10-19 18:16] #2980 closed

[2020-10-19 18:17] MRayermannMSFT commented on #2968
Closing due to lack of response. Please open a new issue if you are still having problems. Thanks.

[2020-10-19 18:17] #2968 closed

[2020-10-19 18:18] MRayermannMSFT commented on #157
@v-xianya does this still reproduce on latest builds from main? :P

[2020-10-19 18:21] dxkaufman commented on #3639
@MRayermannMSFT I'm now getting this error message:
[code]

[2020-10-19 18:34] crisar19 commented on #3633
@MRayermannMSFT I'm using datalake Gen1. Now this is solved. In the first fix they only included blobs, but now they fix DataLake Gen1 too.

Thanks for your replies, I really appreciate it

[2020-10-19 18:53] JasonYeMSFT commented on #1199
The button now has a description announcing why it is disabled.

[2020-10-19 18:53] #1199 closed

[2020-10-19 19:41] wwlorey opened #3692 "Error when uploading a page blob could be improved"
**Storage Explorer Version**: 1.15.1
**Build Number**: 10.6.0
**Platform/OS**: macOS
**Architecture**: x64
**Regression From**:  N/A

## Bug Description ##
Attempting to upload a page blob that is not aligned to a 512-byte boundary results in an ambiguous error:
<img width="861" alt="Screen Shot 2020-10-19 at 12 30 17 PM" src="https://user-images.githubusercontent.com/22795803/96503033-80359b80-12

[2020-10-19 20:21] craxal commented on #3564
@longtimeago Ah, yeah, then none of the default stuff is going to work. Sorry, I missed the Docker context detail you mentioned. Running an emulator from a Docker container is not a scenario we've designed or tested for. Two questions for you:
- Does it work if the emulator is truly running on locahost?
- Are you running the emulator in a container to meet certain requirements? In other words, wha

[2020-10-19 20:23] JasonYeMSFT commented on #3439
Update: Up to now, the only way to restore data from an archived blob version is through an asynchronous copy. https://github.com/microsoft/AzureStorageExplorer/issues/3439. We need to support this scenario later utilizing this approach.

[2020-10-19 20:29] JasonYeMSFT commented on #3546
"Archive" is also a valid word in French which has the same meaning as "archive" in English.

[2020-10-19 20:30] zezha-msft commented on #3630
Hi @YvainRaeymaekers, thanks for the additional context!

We may certainly log an item to add the functionality of preserving block list in AzCopy, but I'm afraid that it won't be possible to ensure that all tools interacting with Storage can behave the way you want it to. The reason is that in addition to the official tools like AzCopy and StgExp, there are a variety of other data transferring to

[2020-10-19 20:44] #3225 closed

[2020-10-19 21:31] shali-sly5 commented on #3633
I imported x509.js certificate but still getting the same issue "Unable to locate delete retention policy properties: unable to get local issuer certificate"

[2020-10-19 22:30] craxal commented on #3468
@12-shweta I am unable to repro the issue. When I start typing in the Connection String input, I immediately hear “alert” from the screen reader. Granted, if I keep typing rapidly, I won’t hear the actual error message, but I still hear the “alert” part. I observe this same behavior in NVDA and JAWS.

[2020-10-19 22:31] craxal commented on #3479
@pranshu512 I am unable to reproduce the issue with NVDA or VoiceOver. The screen reader does not announce the entire contents of the table, just the contents of the currently selected cell as well as the number of items displayed. Please verify again. If the bug is still reproducing, please update the bug with more details.

[2020-10-19 22:32] #3686 closed

[2020-10-19 22:32] #3685 closed

[2020-10-19 22:32] #3673 closed

[2020-10-20 01:04] fishtoo opened #3693 "Cannot access blob"
Unable to retrieve child resources.

Details:
["FetchError:request to https://outputstorage.blob.core.windows.net/?include=metadata&comp=list failed, reason: connect ETIMEDOUT 52.239.236.228:443"]

[2020-10-20 01:57] v-limu commented on #3683
Verified this issue on build 20201020.3. This issue has been fixed. So close it.

[2020-10-20 01:57] #3683 closed

[2020-10-20 02:37] v-xianya commented on #157
@MRayermannMSFT  This issue still reproduces on build main/20201020.3.  （The Default access tier updated after manually refreshing the account node）
![image](https://user-images.githubusercontent.com/41351993/96533215-13320c80-12c0-11eb-934f-489692c47989.png)

[2020-10-20 02:49] v-xianya commented on #3546
@JasonYeMSFT There are two translations for the 'Archive' in French 'Archiver' and 'Archive'.
Does it need to keep a consistent translation?

![image](https://user-images.githubusercontent.com/41351993/96533963-72445100-12c1-11eb-83ef-a5c82db37500.png)

[2020-10-20 05:33] longtimeago commented on #3564
yes, it works :+1:

About motivation for running the emulator in a container
1) We use it in integration tests; the app we are working on depends on Azure (as well as Amazon S3 and Google) blob stores. Thus, it's very convenient to run entire stack including Azure emulator in separate containers
2) From (backend) developer's POV it's cool to have portable environment with minimum prerequisites to

[2020-10-20 05:57] MayuriNaik commented on #3508
Verified the bug in app version: 1.16.0, iOS: 10.15.7. The bug is fixed and hence closing the bug. PFA
[3508_Closed.mov.zip](https://github.com/microsoft/AzureStorageExplorer/files/5406469/3508_Closed.mov.zip)

[2020-10-20 05:57] #3508 closed

[2020-10-20 07:00] AngshumanNayakMSFT opened #3694 "Better user experience for ADLSGen2 ACLs"
VSO Item - https://msazure.visualstudio.com/One/_workitems/edit/8495558

****Is your feature request related to a problem?** Please describe.**
Lot of users today open support cases with Storage for ADLSGen2 ACL help as the required R/W ACL permission seems to be not working. In many scenarios the cause is users are not familiar with the POSIX like ACL implementation and that the user needs to hav

[2020-10-20 08:11] RaijinDS commented on #2244
Hello Matthew,

Thanks for your reply 👍

Here the informations asked :
![image](https://user-images.githubusercontent.com/57623002/96558760-6efa9680-12bc-11eb-848c-c61e5d3c632c.png)

See in attachment the list of the content of C:\Windows\GAC_MSIL.
Which assembly am I suppose to delete ?

[list_gac_msil.txt](https://github.com/microsoft/AzureStorageExplorer/files/5407200/list_gac_msil.txt)

[2020-10-20 08:35] pranshu512 commented on #3460
I verified this issue and found that it is not reproducing
hence,closing this bug

![image](https://user-images.githubusercontent.com/64009219/96561491-433bd880-12dd-11eb-8977-306bed680f16.png)

[2020-10-20 08:36] pranshu512 commented on #3461
![image](https://user-images.githubusercontent.com/64009219/96561676-81d19300-12dd-11eb-8247-4f5dd09501db.png)

[2020-10-20 09:02] pranshu512 commented on #3479
I verified this issue on version 1.16.0-dev and it is not repro. Hence, Closing this bug

[3479_Closed.zip](https://github.com/microsoft/AzureStorageExplorer/files/5407626/3479_Closed.zip)

[2020-10-20 09:02] #3479 closed

[2020-10-20 12:03] 12-shweta commented on #3468
Verified the bug in the version 1.16.0 - dev
The issue is no longer reproduce and hence closing the bug.
Attachment:
https://microsoftapc-my.sharepoint.com/:v:/g/personal/v-shwarh_microsoft_com/EXDAkMfJk_BIgHLEl1W3ftEBphwlCMSiV8_-8Y4T26o3lg?e=Kh0tDF

[2020-10-20 12:03] #3468 closed

[2020-10-20 12:35] rolanddb commented on #3520
@MRayermannMSFT This is with ADLS gen1. Firewall setup was done in another team. I no longer work for the company where this occured, so unfortunately I am unable to recover more details. Sorry!

[2020-10-20 18:50] craxal commented on #3564
@longtimeago Thank you, yes, that is very helpful.

Looks like #3153 could be related. We will look into scheduling some time to investigate this further.

[2020-10-20 19:32] ashok624443 commented on #3680
This issue resolved.

Thank you.

On Mon, Oct 19, 2020 at 11:08 PM Matthew Rayermann <notifications@github.com>
wrote:

[2020-10-20 23:15] MRayermannMSFT opened #3695 "Support Gen2 Recursive ACLs"
- Example: https://github.com/azure/azure-sdk-for-js/blob/24f3325e8894694cfc15a1e7069bf73cbf15409c/sdk/storage/storage-file-datalake/test/node/pathclient.spec.ts#L339
- SDK preview version 12.1.1-preview was published to our internal feed on 9/24
- Current design approach: add checkbox to manage access dialog which will switch from non-recursive to recursive ACL

[2020-10-21 05:26] longtimeago commented on #3564
@craxal sweet, thanks a lot!

[2020-10-21 08:50] lxalln commented on #3639
@MRayermannMSFT I removed the package and re-installed. Same error.
However, I was still authenticated, are there more files I should remove in order to test this? The files in ~ perhaps?

[2020-10-21 09:56] v-limu opened #3696 "The icon of the button is unclear when clicking the button of one extension in 'High Contrast -Black' theme"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201021.4
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Click 'File -> Open Extension' -> Choose an extension bundle -> Restart Storage Explorer.
3. Click ‘View’ menu -> Click ‘Theme -> High

[2020-10-21 09:56] v-limu opened #3697 "It is better to use quotes to surround the extension path in the prompt dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201021.4
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Click 'File -> Open Extension' -> Choose one unknown extension bundle.
3. Check the prompt dialog.

**Expect Experience:**
The extensi

[2020-10-21 10:16] v-xianya opened #3698 "It would be better to use 'Send Feedback' instead of 'Give Feedback' in the extensions panel"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201021.4
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer -> Make sure one or more extensions are installed.
2. Go to 'INSTALLED EXTENSIONS' panel.
3. Click the extension button -> Check the actio

[2020-10-21 11:40] DiptiChauhan opened #3699 "Search not working, when you have multiple pages and have a file that start with G, search does not find any files with G, you need to go to the pages that have files beginning with G to find the file"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-10-21 11:41] DiptiChauhan opened #3700 "Search not working, when you have multiple pages and have a file that start with G, search does not find any files with G, you need to go to the pages that have files beginning with G to find the file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-21 17:01] JasonYeMSFT commented on #3700
Closed since this is a duplicate of #3699

[2020-10-21 17:01] #3700 closed

[2020-10-21 17:16] MRayermannMSFT commented on #3247
Fix merged into main. @v-xianya please confirm this bug was fixed. Thanks!

[2020-10-21 17:28] craxal commented on #3574
Storage Explorer has replaced the "Use Proxy" setting with the new "Proxy Configuration" setting. This setting lets you choose from where Storage Explorer will retrieve its configuration setting. The options are:

- **Do not use proxy** - disables the use of a proxy. This has the same functionality as the old disabled "Use Proxy" setting, except that Storage Explorer will ignore proxy environment

[2020-10-21 20:21] raholland79 commented on #3675
"table" like that, exactly.

Can I send you the SAS URI privately?

It seems to be a column setting .  I can fire up a vm and open the dataset just fine with a fresh install.

So I think we would need to examine those settings, wherever they are stored.

[2020-10-21 21:12] craxal commented on #3564
@longtimeago So, I just verified that Storage Explorer can, in fact, connect to an emulator hosted on a non-local machine on the same local network using the following connection string:
[code]

Next, I'll be setting up a Docker image. I'm assuming you've been using the [documented Azurite Docker image](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite#install-and-run-the-a

[2020-10-21 21:36] JasonYeMSFT commented on #3699
In which storage type did you encounter this issue (e.g. Blob, File Share, ADLS Gen1)?

[2020-10-21 23:14] craxal commented on #3564
@longtimeago I've now just verified that Storage Explorer can connect to an emulator running in a local Docker container. I didn't have to use a special connection string at all when Azurite was configured with the default ports. The "(Emulator - Default Ports)" node successfully connected.

When starting the container, did you do this command?
[code]

[2020-10-22 01:14] MRayermannMSFT commented on #3696
Fix merged into main.

[2020-10-22 01:14] #3696 closed

[2020-10-22 02:37] jsgoupil opened #3701 "Add message for a Storage Queue Encoding is backward"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  don't know

## Bug Description ##
The encoding for sending a message on the queue is backward.
When you pick Base64, it sends as UTF8. When you pick UTF8 it sends as base64.

![image](https://user-images.githubusercontent.com/808649/96817637-a197b280-13d4-11eb-8

[2020-10-22 03:14] v-xianya commented on #3247
@MRayermannMSFT Verified this issue on build main/20201022.3. Reproduce.

The current behaviors:
1. The two accounts are removed when trying to remove one account.
2. No error dialog pops up.

[2020-10-22 06:12] longtimeago commented on #3564
yes

@craxal we use docker-compose but that shouldn't matter.

IMO, the main reason it works for you is because of exposing ports to a localhost `-p 10000:10000 -p 10001:10001`
We don't do that because that would prevent running more than one azurite container on the same host (which we need)

Try to remove `-p 10000:10000 -p 10001:10001` from your command and use the same connection string as in

[2020-10-22 06:12] longtimeago commented on #3564
noup, just stock config, nothing fancy :)

[2020-10-22 08:51] v-xianya opened #3702 "The tags that added in the upload dialog are not preserved after uploading"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201022.3
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Select one blob container (make sure it supports tags)-> Click 'Upload -> Upload Files...'. -> Select one file th

[2020-10-22 08:54] v-xianya opened #3703 "It would be better to use a faster way to remove the added tags in the upload dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201022.3
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Select one blob container (make sure it supports tags)-> Open one upload dialog -> Add several tags.
3. Try to re

[2020-10-22 08:56] v-xianya opened #3704 "The value of the property 'Supports Tags' is empty for one SAS attached blob container"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201022.3
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Open one storage account -> Blob Containers.
2. Select one blob container -> Attach it via SAS with full permissions.
3. Check the properties for the SAS attached

[2020-10-22 09:36] v-limu opened #3705 "Show a failed activity log when changing access tier for one ADLS Gen2 folder with subfolder"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201022.3
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a new blob container -> Create a new folder -> Open the folder -> Upload one folder with blobs

[2020-10-22 09:37] v-limu opened #3706 "Nothing happens after clicking 'Upload' button in the 'Upload Files' dialog with the tags feature is disabled"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201022.3
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**

1. Expand one storage account (make sure the tags feature is disabled)-> Blob Containers.
2. Create a new blob container -> Click 'Upload -> Upload Files...'

[2020-10-22 09:37] v-limu opened #3707 "The file selected for the first time doesn't show in the 'Upload Files' dialog with the tags feature is disabled"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201022.3
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.15.1)

**Steps to reproduce:**

1. Expand one storage account (make sure the tags feature is disabled)-> Blob Containers.
2. Create a new blob container -> Click 'Upload -> Upload Files...'

[2020-10-22 15:51] jsgoupil commented on #3701
Now this will sound weird. But my staging queue, that box works correctly. However, that local queue, that box does not work correctly.
I consume the queue with an Azure Function v3.

[code]

Both local and staging uses the same code.

I do not know why it would work one way in local and another in staging. I'm open to try things if necessary to make you understand better why this is happening.

[2020-10-22 16:21] #3701 closed

[2020-10-22 17:05] MRayermannMSFT commented on #3247
@v-xianya I've been told for now that in this specific case, the removing of both accounts is expected. To the auth library we are using, the accounts are identical due to the fact they are the same user from public azure. If you'd like to keep testing this scenario you could try:

- sign in with two accounts from different Azure environments (e.g. public Azure and Azure China)
- sign in with an a

[2020-10-22 17:05] #3247 closed

[2020-10-22 17:10] JasonYeMSFT commented on #3704
For SAS attached blob container, that value is undefined because we may not know whether the feature is actually supported or not.

[2020-10-22 17:13] MRayermannMSFT commented on #3704
So let's put "Unknown" then.

[2020-10-22 17:16] #2885 closed

[2020-10-22 17:28] #271 closed

[2020-10-22 17:32] MRayermannMSFT commented on #3705
@v-limu I'm not able to repro this issue. Can you share:

- Did you access the container via: sign-in, attach with azure AD, attach with SAS URI, or attach with connection string?
- What access tier did you try to set the folder to?
- Are you able to reproduce this again?
- Can you take a video please?
- If you do repro, instead of taking a screenshot of the error dialog, please copy and paste the

[2020-10-22 17:38] craxal commented on #3564
@longtimeago Yes, that would cause an error, but I would expect that; you have to connect the ports up. I'm not really sure how you can send requests to an emulator inside of a container without connecting the container ports to the local host.

Using multiple emulators on one machine should be easy, though. You just have to connect different ports up, so the host knows to which emulator to send r

[2020-10-22 17:42] JasonYeMSFT commented on #3702
We haven't integrated the AzCopy bits to do this. When that is done,  I will test it and close this issue.

[2020-10-22 18:03] #3680 closed

[2020-10-22 18:16] abrugh opened #3708 "Editing path and pressing enter results in download of currently selected file"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: ia32
**Regression From**:

## Bug Description ##
If you edit the path by double clicking and changing the path, from something like `this/is/a/path/2020-10-04` to `this/is/a/path/2020-10-05` and press enter, whatever file was selected in the view below the path bar will start downloading

[2020-10-22 19:40] JasonYeMSFT opened #3709 "Remote feature flags"
By adding feature flags that can be controlled remotely, we can:
- Gradually enable preview features as they roll out to more regions
- Fallback to old behavior without hotfix
- A/B testing

[2020-10-22 23:35] JasonYeMSFT commented on #3703
I changed to use explicit "X" buttons to handle removing entries.

[2020-10-22 23:36] JasonYeMSFT commented on #3706
A fix has been merged.

[2020-10-22 23:36] JasonYeMSFT commented on #3707
A fix has been merged.

[2020-10-23 02:02] v-limu commented on #3705
Hi @MRayermannMSFT. This issue still reproduces in the build 20201023.5. Details show as below:

**Rero steps:**

1. Select one ADLS Gen2 blob container -> Create a new folder -> Open the folder -> Create a folder with blobs.
2. Right click the new folder -> Click ‘Change Access Tier…’ -> Select ‘Hot’ tier -> Apply.

**Actual:**
Show a failed activity log.
![blob-adls](https://user-images.githubus

[2020-10-23 03:51] v-xianya commented on #3704
This issue is fixed on build 20201023.5. So close it.
![image](https://user-images.githubusercontent.com/41351993/96954484-10385580-1526-11eb-9e1b-ed2c40f6b388.png)

[2020-10-23 03:51] #3704 closed

[2020-10-23 03:54] v-xianya commented on #3703
This issue is fixed on build 20201023.5. So close it.
![image](https://user-images.githubusercontent.com/41351993/96954679-73c28300-1526-11eb-884a-1ed60580f12b.png)

[2020-10-23 03:54] #3703 closed

[2020-10-23 03:56] v-xianya commented on #3707
This issue is fixed on build 20201023.5. So close it.

[2020-10-23 03:56] #3707 closed

[2020-10-23 03:57] v-xianya commented on #3706
This issue is fixed on build 20201023.5. So close it.

[2020-10-23 03:57] #3706 closed

[2020-10-23 04:04] v-xianya commented on #3698
@MRayermannMSFT
Verified on build 20201023.5. Show 'Send Feedback' in the Extensions panel.
![image](https://user-images.githubusercontent.com/41351993/96954983-285ca480-1527-11eb-82c9-04d777f0f57d.png)
In addition, is there a plan to update the link for the below icon 'Send Feedback'?
![image](https://user-images.githubusercontent.com/41351993/96955177-943f0d00-1527-11eb-97fd-8f21ab1470ec.png)

[2020-10-23 04:31] MRayermannMSFT commented on #3698
Oh my apologies. I merged a change in for this to main.

[2020-10-23 04:31] #3698 closed

[2020-10-23 04:32] MRayermannMSFT commented on #3697
Fix merged into main.

[2020-10-23 04:32] #3697 closed

[2020-10-23 04:39] MRayermannMSFT commented on #3705
Thank you for the additional help! I can reproduce this now. 👍

[2020-10-23 05:43] longtimeago commented on #3564
@craxal there are 2 downsides of this approach
1) It pollutes localhost with occupied ports, which is definitely a bad thing if I run many other containers
2) Instead of tracking just ip addresses per docker container we have to track IP address AND ports

@craxal every docker container has IP address in docker network. This network is bridged to localhost. It means knowing the container IP I can

[2020-10-23 09:56] v-limu opened #3710 "An extra 'Tags' shows in the 'upload Files' dialog for one new created blob container with the tags feature is disabled"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201023.5
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Expand one storage account (**make sure the tags feature is disabled**)-> Blob Containers.
2. Create a new blob container -> Click 'Upload -> Upload Files...'.
3.

[2020-10-23 12:27] dhir78 commented on #3689
Same issue on Windows as well as on MAC OS.

[2020-10-23 13:29] braxxi opened #3711 "Unable to retrieve child resources."
**Storage Explorer Version**: 1.15.1
**Platform/OS**: Win10
**Architecture**: x64
**Regression From**:  didnt work on previous version too
## Bug Description ##

## Steps to Reproduce ##
With Azure Storage Explorer open the blob storage

## Expected Experience ##
be able to open blob storage to view the content

## Actual Experience ##
Cant open blob storage, cant do anything there

## Additional

[2020-10-23 13:56] mikenewman1 opened #3712 "Encounted unexpected error"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: MacOS 10.15.7

## Bug Description ##
`TypeError: Cannot read property 'forEach' of undefined`

## Steps to Reproduce ##
Just browsing through my Azure storage

## Expected Experience ##

## Actual Experience ##
Attached screenshot popped up
<img width="1733" alt="error" src="https://user-images.githubusercontent.com

[2020-10-23 19:43] ShirleyVA opened #3713 "Azure Storage Explorer -- Get Subscriptions Failure Details"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-10-23 23:41] MRayermannMSFT commented on #3705
Fix merged into main.

[2020-10-23 23:41] #3705 closed

[2020-10-24 04:43] pluo2000 opened #3714 "unable to load Tables on Storage Explorer"
Unable to retrieve child resources.

Details:
self signed certificate in certificate chain

[2020-10-26 02:52] t105362506 opened #3715 "Can't not link azure account ,click no response"
![image](https://user-images.githubusercontent.com/54572002/97129170-343fa500-1779-11eb-94c3-890101ba189a.png)

click add new account , no response

tool version V1.15.1

[2020-10-26 03:11] t105362506 commented on #3715
![image](https://user-images.githubusercontent.com/54572002/97130203-b204b000-177b-11eb-8f5b-a78bb0f1cdcc.png)

Not available ,Keep stuck on this screen

[2020-10-26 13:54] mortenf commented on #964
+1

[2020-10-26 14:25] ahmaibr commented on #3711
https://social.technet.microsoft.com/wiki/contents/articles/53393.azure-storage-explorer-troubleshooting-unable-to-retrieve-child-resources-or-the-request-action-could-not-be-completed.aspx

tried as per above link and its still not working

[2020-10-26 14:55] ahmaibr commented on #3711
https://social.msdn.microsoft.com/Forums/en-US/41b077a6-3c47-4da4-8ecc-a5a91848ffb5/microsoft-azure-storage-explorer-unable-to-retrieve-child-resources?forum=windowsazuredata

tried as per above link and its still not working

[2020-10-26 17:35] MRayermannMSFT commented on #3715
@t105362506 in your 1st post you have a screenshot of the app window, but then in your 2nd you have the splash window. Are you now unable to get past the splash screen?

If you are still able to get to the app window, can you please:

1. try clicking on the plug icon (above the gear icon) on the left hand side of the window
2. go to Help -> Toggle Developer Tools -> Console, and look for any red t

[2020-10-26 17:35] MRayermannMSFT commented on #3714
@pluo2000 please see our troubleshooting guide for help with this issue:

https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C1804#error-self-signed-certificate-in-certificate-chain-and-similar-errors

[2020-10-26 17:37] MRayermannMSFT commented on #3713
@ShirleyVA can you please fill out the information in the template. Most importantly:
**Storage Explorer Version**: In which Storage Explorer version was the bug encountered?
**Build Number**: What is the build number (Help > About)
**Platform/OS**: Linux Ubuntu? macOS High Sierra? Windows 10?
**Regression From**:  Was this working in a previous version? If so, which one?
**Any error messages you

[2020-10-26 17:40] MRayermannMSFT commented on #3712
@mikenewman1 this is due to a bug in the feature set for CosmosDB. If you are not using cosmos db, then you can work around this issue by going to: Settings (gear icon on the left) -> Services -> CosmosDB -> uncheck the checkbox, and then restart Storage Explorer.

If you are a user of CosmosDb and you need to leave it on, let us know.

[2020-10-26 17:43] MRayermannMSFT commented on #3711
@ahmaibr we think this is most likely a storage firewall issue. Do you have a firewall enabled for any of the storage accounts that are causing you issues? Does this error consistently reproduce only from certain machines/networks?

Alternatively this could be an issue with your permissions. Are you using RBAC or do you have permissions to list account keys?

[2020-10-26 17:50] ShirleyVA commented on #3713
Thanks for contacting me. Our sys administrator has fixed my connection problem

From: Matthew Rayermann <notifications@github.com>
Sent: Monday, October 26, 2020 1:38 PM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Zhou, Shirley <Shirley.Zhou@bea.gov>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Azure Storage Explorer -- G

[2020-10-26 17:51] MRayermannMSFT commented on #3693
@fishtoo this looks like Storage Explorer is trying to connect to a proxy and failing. Do you have proxy settings set:

- At the app level? You can verify by checking Settings (gear icon on the left hand side) -> Application - > Proxy.
- At an OS level via environment variables? To verify this, look for environment variables HTTPS_PROXY or HTTP_PROXY.

[2020-10-26 17:54] MRayermannMSFT commented on #3689
@IvNen in your screenshot you are on Windows, and in a late comment you say you are on Linux.

This is important because in your screenshot you are trying to access Tables for the emulator storage account. Only the older, Windows only, .NET emulator currently supports tables. So if you are using Azurite, then this is basically expected.

[2020-10-26 17:57] MRayermannMSFT commented on #3675
@raholland79 maybe it is this issue that we just fixed for our next release? https://github.com/microsoft/AzureStorageExplorer/issues/271

Could we send you a private/preview build of 1.16.0 and you see if you can still repro your problem in that version?

[2020-10-26 18:02] MRayermannMSFT commented on #3644
@payalpatel-source can you please try:

1. Make sure all of your accounts are in a good state/don't need to be reauthenticated. To check, go to the account panel -> look at your accounts, if any say to reenter credentials, then do so
2. If you continue having issues despite doing that, then go to Settings -> Services -> Disks and uncheck the checkbox, then restart storage explorer

@SaberDynCD ple

[2020-10-26 18:05] MRayermannMSFT commented on #3639
@lxalln are you installing via Snap or .tar.gz?

[2020-10-26 18:09] MRayermannMSFT commented on #3633
@shali-sly5 can you please open a new issue specific for your issue/scenario? Thanks!

[2020-10-26 18:09] #3633 closed

[2020-10-26 18:10] MRayermannMSFT commented on #3613
Closing due to lack of reply. Please open a new issue if you continue having problems. Thanks.

[2020-10-26 18:10] #3613 closed

[2020-10-26 18:11] #3520 closed

[2020-10-26 18:12] MRayermannMSFT commented on #3494
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-10-26 18:12] #3494 closed

[2020-10-26 18:12] MRayermannMSFT commented on #3316
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-10-26 18:12] #3316 closed

[2020-10-26 18:14] lxalln commented on #3639
@MRayermannMSFT AUR. But I'll try the tar.gz directly next.

[2020-10-26 18:25] raholland79 commented on #3675
That issue very well could be the cause, we have booleans that may be null.

I would gladly try the preview build.

[2020-10-26 23:33] MRayermannMSFT commented on #3165
Fixed when I changed "changed access tier" to refresh the current view instead of doing a manual insert.

[2020-10-26 23:33] MRayermannMSFT commented on #3166
Fixed when I changed "acquire lease" to refresh the current view instead of doing a manual insert.

[2020-10-27 09:25] v-xianya opened #3716 "Fail to upload files to one blob container"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201027.2
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Previous build (20201023.5)

**Steps to reproduce:**
1. Expand the Subscription 'StorageExplorer' -> Storage Accounts -> Expand the storage account 'aytestissue'.
2. Select one blob container -> Upload one fi

[2020-10-27 19:04] craxal commented on #3708
@abrugh I have tried this with an ADLS Gen2 account, but I can't get any files to download. Does this reproduce consistently for you?

If you're comfortable working with the developer window, can you do the following to help us get some more info:

1. Open Storage Explorer and navigate to the blob container and folder in which you're encountering the problem.
2. Press F12 to open the developer win

[2020-10-27 19:18] craxal commented on #3675
@raholland79 I'm assuming you're on Windows? You can download the preview build [right here](https://cralvordtest02.blob.core.windows.net/customer-share/release/20201027.6/StorageExplorer-ia32.exe).

[2020-10-27 19:33] raholland79 commented on #3675
Preview build solved the issue.

Thanks a lot!

[2020-10-27 19:33] #3675 closed

[2020-10-27 21:29] craxal commented on #3708
@abrugh Thanks for jumping onto a call and reproing for me. I still wasn't able to repro on my end, but here's what I think is happening:

1. User presses Enter. Since the address bar has focus, it triggers the address bar input's `keydown` event handler.
2. The event handler updates the address bar and calls `FlobListViewModel.navigateToItem()` twice (not sure why it's called twice).
3. The first

[2020-10-27 23:21] MRayermannMSFT commented on #2244
@RajinDS unfortunately the person who was guiding me, guide y'all, to figure out this problem, is on vacation till next week. I'm not sure what he was going to do with this information! I'll keep researching but we may have to wait for him to come back.

[2020-10-28 03:06] t105362506 commented on #3715
@MRayermannMSFT

Now I can’t even enter the window

Run Microsoft Azure Storage Explorer.exe but haven't response

[2020-10-28 10:13] v-xianya opened #3717 "Keep a consistent case for the property 'Etag' in the properties dialog between one blob and one file"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201028.3
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Expand one storage account -> File Shares.
2. Create one file share -> Upload one file -> Check its properties.
3. Expand one storage account -> Blob Containers.
4

[2020-10-28 10:35] RaijinDS commented on #2244
Hello @MRayermannMSFT,

Don't worry, i'm on vacation too :)
I can wait for its return ^^

[2020-10-28 17:56] andriysavin opened #3718 "Timestamp query filter for Comos DB Table doesn't work"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**:  Windows 10
**Architecture**: x64
**Regression From**:  N/A

## Bug Description ##
I have a Cosmos DB Table with some records. When I try to filter the records by the Timestamp column I alwas get 0 records regardles of timestamp filter settings. I tried the same functioinality at the Azure portal Data Eplorer, and i

[2020-10-28 18:00] MRayermannMSFT commented on #2938
This is being done as part of 1.16

[2020-10-28 18:00] #2938 closed

[2020-10-28 20:44] JasonYeMSFT commented on #3209
I did some investigation using that 1.14.0 and our latest 1.15.1 but unfortunately I wasn't able to reproduce this issue. From the AzCopy log, the error shows up under this condition:
1. AzCopy sends an initial PUT request to create the blob at the destination
2. AzCopy thinks it is done and then send another PUT request to upload the data
3. Somehow step 1 isn't done yet so the 2nd request gets a

[2020-10-28 22:23] craxal opened #3719 "Basic auth credentials for proxy are not always preserved between sessions"
**Storage Explorer Version**: 1.16.0
**Build Number**:
**Platform/OS**: Windows 10
**Architecture**: i86
**Regression From**:  Not a regression

## Bug Description ##
When saving a username and password to use for basic auth against a proxy, sometimes that username and password is not preserved between sessions.

## Steps to Reproduce ##
1. Launch Storage Explorer and open the Proxy Configuration

[2020-10-28 23:49] JasonYeMSFT opened #3720 ""Clone blob container" doesn't include directories in emulator blob containers"
**Storage Explorer Version**: ^1.12.0
**Platform/OS**: macOS/Windows
**Regression From**:  Not sure

## Bug Description ##
As titled.

## Steps to Reproduce ##
1. Create an emulator blob container
2. Upload blobs a/b.txt, c.txt to it, producing "c.txt" and "a/" at the root level
3. Clone that container

## Expected Experience ##
The cloned container contains a/b.txt and c.txt.

## Actual Experienc

[2020-10-29 07:30] v-xianya opened #3721 "No warning message shows when adding tags with the same key in the upload dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201029.1
**Branch**: rel/1.16.0
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Select one blob container (make sure the 'Supports Tags' is True) -> Click 'Upload -> Upload Files'.
3. Add

[2020-10-29 07:30] v-xianya opened #3722 "It would be better to limit the number of the added tags in the upload dialog"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201029.1
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Expand one storage account -> Blob Containers.
2. Select one blob container (make sure the 'Supports Tags' is True) -> Click 'Upload -> Upload Files'.
3. Add more

[2020-10-29 09:26] v-limu opened #3723 "The 'Edit Tags…' action of the blob is disabled for one cloned blob container with the 'Supports Tags' is 'True'"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201029.1
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one storage account -> Blob Containers (make sure the 'Supports Tags' is True).
2. Select one blob container with blobs -> Right click the blob container -

[2020-10-29 10:03] v-limu commented on #3702
Verified on build 20201029.1. This issue has been fixed. So close it.

[2020-10-29 10:03] #3702 closed

[2020-10-29 10:03] v-limu commented on #3716
Verified on build 20201029.1. This issue has been fixed. So close it.

[2020-10-29 10:03] #3716 closed

[2020-10-29 10:06] v-xianya opened #3724 "The property 'Support Tags' is 'Unknown' for one blob container under one SAS attached storage account without the 'Filter' permission"
**Storage Explorer Version:** 1.16.0-dev
**Build**: 20201029.1
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Select one storage account which supports tags -> Attach it via SAS with full permissions except the 'Filter' permission.
2. Expand the attached storage account ->

[2020-10-29 14:20] MikeYeager commented on #3608
I have the same issue, although I sometimes do eventually get it to show everything logged in. It would be great if I could choose which tenant(s) I want to log into. I rarely need to log into more than two at a time. I don't really care about the rest. In addition to Richard's issue, I have 2 emails and each of them has multiple tenants. One tenant requires I enter a code and that one pops up eve

[2020-10-29 16:42] JasonYeMSFT commented on #3724
The property "Supports Tags" is supposed to show whether the service is available. Our detection logic attempts to filter by tags to see if the service returns error like "invalid header". The reason why we leave it as unknown is that it is still possible that the user has "t" permission or the permission maybe changed later such as from roles.

[2020-10-29 17:44] michelvankessel commented on #3693
funny enough it is not trying to connect to a proxy in my case, but is should. I had to add the proxy to the system:

netsh winhttp set proxy proxy:port

But I also have the same proxy defined in the settings. Why does Blob storage access not follow the application proxy settings?

[2020-10-29 17:57] michelvankessel commented on #3651
I have the same issues, using version 1.15.1 build 20200902.9

To answer your questions:
Are you behind a proxy and if so have you setup proxy settings in Storage Explorer? Yes I am behind a proxy and have the proxy set inside the application. I **don't** have the system proxy set. (netsh winhttp set proxy)
Does your storage account have any networking restrictions on it, like a firewall? No, I am

[2020-10-29 21:39] MRayermannMSFT commented on #3575
We'll be shipping a new version of AzCopy in our 1.16.0 release, and that version will have the fix as well.

[2020-10-29 22:35] teknoraver commented on #3522
I have the same error on Fedora 33, even with .NET 2.1 installed:

[code]

[2020-10-29 23:21] cristianosuzuki77 opened #3725 "[loc] Assistance with translation of ErrorUninstallExtensionDoesntExist"
String Resource ID | 0; "ErrorUninstallExtensionDoesntExist"
-- | --
Source String | Failed to uninstall extension with ID %1$s No such extension is installed.
Filename | loc\en\src\Standalone\resources\ExtensionManager.json
Question | Source seems to be consising of two sentences, but there is no period in between. Can we translate as below? Failed to uninstall extension with ID %1$s. No such ext

[2020-10-29 23:21] cristianosuzuki77 commented on #3725
VCQ 325375

[2020-10-29 23:43] cristianosuzuki77 opened #3726 "[Loc] Placeholder: Does the placeholder stand for the row number?"
String Resource ID | 0; "AriaLabelTagDelete"
-- | --
Source String | Delete tag entry row %1$d
Filename | loc\en\src\components\se-az-copy-extension\resources\UploadBlobsDlg.json
Question | Does the placeholder stand for the row number? We assumed so for now, please advise. Similar strings: Tag key row %1$d Tag value row %1$d 0; "AriaLabelTagKey" 0; "AriaLabelTagValue"

[2020-10-29 23:43] cristianosuzuki77 commented on #3726
vcq 328650

[2020-10-30 05:57] v-xianya commented on #3604
This issue is fixed on build rel/1.16.0 20201030.5. so close it.

[2020-10-30 05:57] #3604 closed

[2020-10-30 05:58] v-xianya commented on #3722
This issue is fixed on build rel/1.16.0_20201030.5. so close it.

[2020-10-30 05:58] #3722 closed

[2020-10-30 06:18] v-xianya commented on #3723
This issue is fixed on build rel/1.16.0 20201030.5. so close it.

[2020-10-30 06:18] #3723 closed

[2020-10-30 06:46] v-xianya commented on #3724
@JasonYeMSFT ok, got it.

[2020-10-30 06:46] #3724 closed

[2020-10-30 06:49] v-xianya commented on #3710
This issue is fixed on build rel/1.16.0_20201030.5. so close it.

[2020-10-30 06:49] #3710 closed

[2020-10-30 08:41] v-xianya opened #3727 "Display 'undefined' instead of 'version id' in the group activity log of the promote version action"
**Storage Explorer Version:** 1.16.0
**Build**: 20201030.5
**Branch**: rel/1.16.0
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04
**Architecture**: ia32/x64
**Regression From**: Previous build (20201029.1)

**Steps to reproduce:**
1. Select one storage account -> Enable blob versioning.
2. Expand the storage account -> Blob Containers.
3. Create a blob container -> Upload one blob -> Modify its me

[2020-10-30 09:12] v-xianya opened #3728 "The layout of the release notes shows unfriendly"
**Storage Explorer Version:** 1.16.0
**Build**: 20201030.5
**Branch**: rel/1.16.0
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**
1. Open Storage Explorer -> Go to 'Help -> View Release Notes'.
2. Observe the layout of the release notes.

**Expect Experience:**
The layout shows well.

**Actual Experience:**

[2020-10-30 09:19] v-limu opened #3729 "Show inconsistent AzCopy version in 'Releases Notes' and 'About' dialog"
**Storage Explorer Version:** 1.16.0
**Build**: 20201030.5
**Branch**: rel/1.16.0
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04
**Architecture**: ia32/x64
**Regression From**: Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Click 'Help -> View Releases Notes' -> Check the AzCopy version.
3. Click 'Help -> About' -> Check the AzCopy version.

**Expect Experience:**
Keep

[2020-10-30 13:42] chadwillson opened #3730 "Unable to retrieve authentication token"
**Storage Explorer Version**: Version: 1.15.1
**Build Number**: 20200902.2
**Platform/OS**: Windows
**Architecture**: x64
**Regression From**:  worked before

## Bug Description ##
Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

## Steps to Reproduce ##
open application

## Expected Experience ##
able to connect to multiple storage accounts

## Act

[2020-10-30 16:42] JasonYeMSFT commented on #3729
This is the private build we use for testing. We will be replacing it with a public release when we ship.

[2020-10-30 17:35] MRayermannMSFT opened #3731 "ToDo list for logging"
Meta issues:
- [x] #3735
  Log files need to have descriptive words in titles, e.g., the log file with activities should have ActivityLog in the file name
- [x] #3817
  Old log files should be cleaned up

Components/modules/things that need to be logged, in priority order:
- [x] #3732
   ActivityLog - new activities and final updates (as of 1/4/2021, does not include: long running table ops, file

[2020-10-30 17:36] MRayermannMSFT opened #3732 "Log ActivityLog - new activities and final updates"

[2020-10-30 17:36] MRayermannMSFT opened #3733 "Log Azure API requests and responses"
- [x] Blob (infrastructure)
   - [x] Queue (infrastructure)
   - [x] File (infrastructure)
   - [x] Table (infrastructure)
   - [x] Disks
   - [x] Storage Accounts
   - [x] Subscription listing

[2020-10-30 17:37] MRayermannMSFT opened #3734 "Log Information about new process startup"

[2020-10-30 17:45] MRayermannMSFT opened #3735 "Log files need to have descriptive words in titles"
For example, the log file with activities should have ActivityLog in the file name

[2020-10-30 18:10] MRayermannMSFT commented on #3728
Fixed the heading level, removed the sentence about regions.

[2020-10-30 18:10] #3728 closed

[2020-10-30 18:42] JCKodel commented on #138
Please, don't! The authentication process is a living hell, it barely works. Most of the time I'm forced to use Storage Explorer in Azure Portal because MASE in MacOS is VERY unstable (and most of the issues are on authentication)

This is a fracking joke: https://github.com/microsoft/AzureStorageExplorer/issues/3605#issuecomment-696458017

[2020-10-31 21:17] dianweih73 opened #3736 "unable to retrieve child resource in version 1.15.1"
**Storage Explorer Version**: 1.15.1
**Build Number**:
**Platform/OS**: windows 10
**Architecture**:i86
**Regression From**: First time use it

## Bug Description ##
When I click Blob containers trying to list all resources, I see error "unable to retrieve child resorces".
I used connection string to connect my storage account. It worked for a couple of hours. After I closed it and re-started expl

[2020-11-01 14:35] ytsruh commented on #3596
Just a quick note to say that enabling "Microsoft Authentication Library (Preview)" appears to have resolved this issue for me

[2020-11-02 10:53] th0ger commented on #2359
I enabled the settings, but could not get it decompress on download.

My content type is "application/x-gzip" as displayed in the "Content Type" column of ASE.
The files were created with 7z (windows) and gzip (linux), and both create x-gzip.
I've read that x-gzip and gzip should be equivalent.

Is the x-gzip encoding unsupported, or am I missing something else?

[2020-11-02 17:57] pharring commented on #2359
Works for me with ContentEncoding gzip

Just to clear up any confusion: This doesn't work with .zip or .tar archives. It works for individual files compressed with the "gzip" or "deflate" algorithms.

Also, I don't think it matters for decompression, but really you should set the ContentType to the type of the original, decompressed file (e.g. text/plan, application/json, application/octet-stream,

[2020-11-02 18:19] MRayermannMSFT commented on #3160
@jain6968 are you still having problems? If so, I can try to get someone from the IoT team here to help you. Also, please note that you'll need to use Storage Explorer 1.14 with IoT for now. The IoT software is a bit behind on API versions, and newer versions of Storage Explorer have moved to later API versions.

[2020-11-02 18:39] MRayermannMSFT commented on #3639
It seems like y'all are most likely having issues with the library we use for auth/the process that hosts that library. So let's see if we can diagnose that. I'm going to give you some steps.

So the steps for both of y'all will be the same, the difference is the value for the term "ServiceHub logs directory".

For snap, this is going to be: ~/snap/storage-explorer/current/.ServiceHub/logs
For mac

[2020-11-02 18:45] MRayermannMSFT commented on #3736
@dianweih73 was there any additional error info other than "unable to retrieve child resources"?

At what point did the error pop up? Like was it when it you expanded your Storage Account node or something else?

[2020-11-02 18:47] MRayermannMSFT commented on #3726
Yes, it does refer to the row number.

[2020-11-02 18:49] MRayermannMSFT commented on #3725
@cristianosuzuki77 this is a bug on our part. The period is supposed to be there. Thanks for catching this. We'll fix the english version. :)

[2020-11-02 18:52] MRayermannMSFT commented on #3715
@t105362506 so how far are you getting? Just to the splash window, or does nothing pop up?

[2020-11-02 18:54] MRayermannMSFT commented on #3713
@ShirleyVA that is great to hear. If by chance you know how your sys admin fixed it, feel free to let us know here. It may be of help to other people in the future. 🙂

[2020-11-02 18:54] #3713 closed

[2020-11-02 18:54] MRayermannMSFT commented on #3711
@braxxi what we said to @ahmaibr applies to you as well.

[2020-11-02 18:58] dianweih73 commented on #3736
Hi Matt,

FetchError:request to https://***/&include=metadata&comp=list<https://fsidls0012prdftsmrt01.blob.core.windows.net/?sv=2019-12-12&ss=b&srt=sco&sp=rwlac&se=2022-11-03T00:01:48Z&st=2020-11-02T17:01:48Z&spr=https&sig=y5j7E6fwH9phv0otLunwp%2FfJV7w5i%2FGNgBqXkJ%2FVQKA%3D&include=metadata&comp=list> failed, reason: connect ETIMEDOUT 52.239.184.42:443"]

When I tried to expand the folders under

[2020-11-02 19:00] MRayermannMSFT commented on #3693
@michelvankessel what version of storage explorer are you using?

Do you know what all that command does? Is it possible that for the machine you are on, without running that command, the proxy address was blocked? As far as our testing can show, setting the app proxy settings will result in storage explorer using that proxy address.

[2020-11-02 19:06] MRayermannMSFT commented on #3693
@michelvankessel we just read your comment on another issue. Can you try accessing queues without having run the netsh command?

[2020-11-02 19:08] MRayermannMSFT commented on #3638
Closing due to lack of response. If you're still encountering this problem, please open a new issue. Thanks!

[2020-11-02 19:08] #3638 closed

[2020-11-02 19:08] MRayermannMSFT commented on #3635
Closing due to lack of response. If you're still encountering this problem, please open a new issue. Thanks!

[2020-11-02 19:08] #3635 closed

[2020-11-02 19:08] MRayermannMSFT commented on #3634
Closing due to lack of response. If you're still encountering this problem, please open a new issue. Thanks!

[2020-11-02 19:09] #3634 closed

[2020-11-02 19:10] MRayermannMSFT commented on #3242
Closing due to lack of response. If you're still encountering this problem, please open a new issue. Thanks!

[2020-11-02 19:10] #3242 closed

[2020-11-02 19:10] MRayermannMSFT commented on #3241
Closing due to lack of response. If you're still encountering this problem, please open a new issue. Thanks!

[2020-11-02 19:10] #3241 closed

[2020-11-02 19:12] MRayermannMSFT opened #3737 "Run test pass on partitioned DNS storage account and fix issues"
We need to run a test pass against storage account/s with partitioned DNS, see what is broken, and figure out when we'll fix those issues.

[2020-11-02 19:36] JasonYeMSFT commented on #3314
We have added a setting to hide those stub blobs to prevent accidental operations. Move this to future.

[2020-11-02 19:49] MRayermannMSFT opened #3738 "Folder level SAS for Gen2"

[2020-11-02 22:27] MRayermannMSFT commented on #3715
@t105362506 regardless of your answer to that question, I think likely the issue is related to our auth library/the process that manages that. Can you do the following for me?

1. Delete ~/.ServiceHub/logs
2. Open ~/Library/Application Support/StorageExplorer/settings.json (if the file doesn't exist, create it with the contents just as `{ "application.signIn.verboseLogging": true }`.
3. Assuming y

[2020-11-02 23:19] alejjime commented on #3736
Hi, I have the same error in the same situation, trying to expand blob containers from storage account.
I attach the message below, it says failure because authorizations, but I have tried assigning all the auths I think my account needs and nothing works.

Message when error:

[2020-11-03 00:07] JasonYeMSFT commented on #3721
I have merged the PR for validating duplicate keys.

[2020-11-03 00:08] JasonYeMSFT commented on #3727
I have merged the fix for this issue.

[2020-11-03 00:40] dxkaufman commented on #3639
At some point, I was forced to change my Azure password, and then Storage Explorer wanted me to log in again, and since I did, it's working fine.

[2020-11-03 02:12] linyu220 opened #3739 "failed: error: UnexpectedQuit (used Azure AD, discovery not completed)"
**Storage Explorer Version**:   1.10.0/ 1.15.0
**Build Number**:
**Platform/OS**:  windows 10 x64
**Architecture**:  x64
**Regression From**:

## Bug Description ##

Can't download and upload file from Azure storage server ,
failed: error: UnexpectedQuit (used Azure AD, discovery not completed)
But same account login other computer , it download and upload normal

## Steps to Reproduce ##

select

[2020-11-03 02:18] linyu220 commented on #3739
Error message
{
  "message": "\"UnexpectedQuit\""
}

[2020-11-03 02:33] v-xianya commented on #3727
Verified on build rel/1.16.0 20201103.2. Fixed

[2020-11-03 02:33] #3727 closed

[2020-11-03 02:34] v-xianya commented on #3721
Verified on build rel/1.16.0 20201103.2. Fixed.

[2020-11-03 02:34] #3721 closed

[2020-11-03 04:01] vamsikt opened #3740 "Unable to Open Azure storage explorer"
Unable to retrieve child resources.

Details:
["Error:Hub Controller process exited prematurely with signal 'SIGABRT'."]

<img width="551" alt="Screen Shot 2020-11-02 at 11 01 46 PM" src="https://user-images.githubusercontent.com/9420290/97948720-62b41600-1d5f-11eb-9539-d955dc02cee9.png">

Version: 1.15.1
AzCopy Version: 10.6.0

Platform: macOS
Architecture: x64
Build Number: 20200902.9
Commit: 2e

[2020-11-03 06:40] th0ger commented on #2359
Thanks @pharring . I simply do:
`gzip file.log` (ContentType `text/plain; charset=utf-8`) -> `file.log.gz` (ContentType `application/x-gzip`)
I don't see any flags for setting ContentType or ContentEncoding for gzip. The same goes for 7z.

I've tried to set  ContentType `text/plain; charset=utf-8` and ContentEncoding `gzip` after upload to Storage Explorer, as per your suggestion. No luck.

Btw, I

[2020-11-03 09:48] v-limu opened #3741 "The layout of the 'Undelete' dialog shows unfriendly for one blob"
**Storage Explorer Version:** 1.16.0
**Build**: 20201103.2
**Branch**: rel/1.16.0
**Platform/OS**: Windows 10
**Architecture**: ia32
**Regression From:** Not a regression

**Steps to reproduce:**

1. Expand one Non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one folder to it.
3. Right click the folder -> Click 'Undelete -> Undelete Selected'.
4. Check the dia

[2020-11-03 14:19] michelvankessel commented on #3693
For some reason it didn't work immediately. the steps I took
- open storage explorer (first time)
- add Azure AD account from dialog, account is added but cannot list subscriptions,
message": "connect ETIMEDOUT 13.69.114.0:443", which makes sense, because I don't have a proxy set.
- Set proxy and apply settings. This will show my subscriptions
- At this point I can scroll most storage objects, but

[2020-11-03 16:46] pharring commented on #2359
Well, it works for me using the same set-up as long as I set the ContentEncoding to gzip after upload. Are you sure you set the "Decompress Files" option in Storage Explorer's settings? (In the "Transfer" section)
![image](https://user-images.githubusercontent.com/9952654/98014804-f06c2180-1db0-11eb-940c-3c31ba761306.png)

[2020-11-03 16:49] lxalln commented on #3639
@MRayermannMSFT  Here you go:

[servicehub-logs.zip](https://github.com/microsoft/AzureStorageExplorer/files/5482750/servicehub-logs.zip)

[2020-11-03 20:39] jonmcco commented on #3613
I am also being affected by this. I get the following error:

Then about 10 seconds later I get another pop up that says this:
![image](https://user-images.githubusercontent.com/45805678/98037805-fbcf4500-1dd0-11eb-94b4-8920b1d0793a.png)

**Reproduction Steps:**
I open Azure Storage Explorer, extend "Local & Attached" -> "Storage Accounts" -> "Blob Containers" and it will take a long time, then fa

[2020-11-03 21:48] NathanS-Microsoft opened #3742 "Feature request: Option to play a sound at the end of a transfer"
Some transfers are large (minutes). I'd like the ability for the system to play a sound when a transfer completes or blocks so I can minimize and go on to other things.

[2020-11-03 22:03] jinglouMSFT commented on #3742
That's an interesting idea.  We probably need to do more than just a sound to be accessibility compliant however.  Good idea. We'll think about how we can do this.  Thanks.

[2020-11-03 22:15] NathanS-Microsoft commented on #3742
Blink a taskbar icon or minimized task.

From: jinglouMSFT <notifications@github.com>
Sent: Tuesday, November 3, 2020 2:04 PM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Nathan Sherman <nathans@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/AzureStorageExplorer] Feature request: Option to play a sound at the end of a transfer (#3742)

[2020-11-03 23:43] MRayermannMSFT commented on #3742
This is very possible, I've seen the Electron docs before on how to do it. Thanks for the feature request!

[2020-11-04 02:24] dianweih73 commented on #3736
Hi All,

We already figured out the issue.

  1.  Add SAS key at local & attached, storage account.
  2.  Set up proxy. Using login username and password.
Hope it helps.

Best,
Dianwei

From: Alejandro J. <notifications@github.com>
Sent: Monday, November 2, 2020 6:20 PM
To: microsoft/AzureStorageExplorer <AzureStorageExplorer@noreply.github.com>
Cc: Han, Dianwei <Dianwei.Han@flightsafety.com>; Men

[2020-11-04 09:39] eugenegous opened #3743 "Selecting multiple containers (feature request)"
I'd just like the option to select multiple containers at once and delete them instead of writing a script.

![Capture](https://user-images.githubusercontent.com/8994511/98094680-45339900-1e92-11eb-9341-2f536ae44968.PNG)

[2020-11-04 09:53] v-xianya opened #3744 "It would be better to forbid renaming one ADLS Gen2 blob with a name include a slash"
**Storage Explorer Version:** 1.16.0
**Build**: 20201103.3
**Branch**: rel/1.16.0
**Platform/OS**: Windows 10/ Linux Ubuntu 18.04/ MacOS Catalina
**Architecture**: ia32/ x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Rename the blob with a name include a slash -> Check

[2020-11-04 14:15] rokanshakil opened #3745 "AzureStorageExplorer Error"
**Storage Explorer Version**:
**Build Number**:
**Platform/OS**:
**Architecture**:
**Regression From**:

## Bug Description ##

## Steps to Reproduce ##

## Expected Experience ##

## Actual Experience ##

## Additional Context ##

[2020-11-04 14:42] cclague commented on #3160
I'm still having an issue with this too - are you able to point me to where I can get storage explorer 1.14 for Mac too to help diagnose, thanks

[2020-11-04 17:59] JasonYeMSFT commented on #3739
@linyu220 There is an AzCopy log in its logs directory (C:/Users/username/.azcopy). Could you clear the directory, reproduce the failed transfer and share the log file with us? The log file already have credentials redacted.

Given that the error only occur on one PC, it may be related to firewall setting. Does the storage account you are accessing have firewall enabled? Is your computer within th

[2020-11-04 18:01] JasonYeMSFT commented on #3745
@rokanshakil Could you fill the bug template to tell us what exactly error you encountered?

[2020-11-04 18:30] MRayermannMSFT commented on #3744
Similar to other bugs in 1.17

[2020-11-04 19:31] craxal commented on #3735
To do this, we need to be able to:
- Create a Log module implementation that uses a custom file name. The current implementation already allows this.
- Allow customization in how SDK module implementations are created by the SDK loader. The current SDK loader creates SDK module instances the exact same way regardless of environment. This makes it very difficult to customize the log file name depen

[2020-11-05 01:21] stevenhurwitt opened #3746 "How to change directories?"
**Storage Explorer Version**: 1.14.2
**Build Number**: 20200715.2
**Platform/OS**: macOS High Sierra

## Bug Description ##
I can authenticate with Azure but cannot switch directories after that.

## Steps to Reproduce ##
1. Azure authentication
2. Unable to change directory

[2020-11-05 06:28] c2company opened #3747 "Azure Storage Explorer 1.15.1 is missing "List" permission when creating SAS on a VHD"
**Storage Explorer Version**: 1.15.1
**Build Number**:  20200902.9
**Platform/OS**: MacOS 10.15.7
**Architecture**: x64
**Regression From**:    Not sure. Updated maybe a month ago.

## Bug Description ##
The partner portal requires r and l options when creating Shared Access Signatures when sharing images for Marketplace submission.  I now get the error:
Permissions (sp) must include read "r" and

[2020-11-05 09:53] mwgroenewald opened #3748 "Blob Access via AAD Group Not working"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  Unknown

## Bug Description ##
When a user has Reader and Storage Blob Data Contributor roles assigned via Azure AD **Group** Membership he is unable to access the blobs using AAD Auth. This however works when he has the roles directly assigned on the Storage Ac

[2020-11-05 10:44] v-xianya opened #3749 "Pop up an error dialog when trying to rename one adls gen1 file which name contains ":""
**Storage Explorer Version:** 1.16.0
**Build**: 20201105.3
**Branch**: rel/1.16.0
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/ x64
**Regression From:** Not a regression

**Steps to reproduce:**
1. Expand 'Data Lake Storage Gen1(Preview)' node -> Open one file system.
2. Upload one file -> Rename it with a name contains ":".
3. After renaming successfully

[2020-11-05 11:15] v-limu opened #3750 "No traffic shows in the Fiddler when executing 'Column Options' for one table with entities"
**Storage Explorer Version:** 1.16.0
**Build**: 20201105.3
**Branch**: rel/1.16.0
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04
**Architecture**: ia32/x64
**Regression From:** Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Click 'Edit -> Configure Proxy' -> Select 'Use app proxy settings' -> Set 'http_proxy=http://localhost:8888'.
3. Restart Storage Explorer.
4. Expand

[2020-11-05 11:41] avnerms commented on #1227
+1.
This is really bothering. It keeps on showing and hiding the tabs you want to click.
Please make this option configurable.

[2020-11-05 12:11] rkaczka-st opened #3751 "Listing blob containers does not work"
**Storage Explorer Version**: 1.15.1 (same on 1.16.0)
**Build Number**: 20200902.9
**Platform/OS**: Linux (can also be reproduced for windows)
**Architecture**: x64
**Regression From**:  not sure, may be caused by increased number of blob containers?

## Bug Description ##
going into `Local & attached/StorageAccounts/<account>/Blob Containers/Load more` Displays an error
[code]
I cannot see any co

[2020-11-05 13:19] benederke commented on #2742
Same issue here, please fix this 👍

[2020-11-05 15:25] acrov opened #3752 "CosmosDB Stored Procedure Tab will not execute without partition key"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:  No

## Bug Description ##
In the CosmosDB Stored Procedure Tab entering a partition key is mandatory and the procedure cannot be executed without one.  This makes it impossible to run cross partition queries and IMHO is not correct as the partition key should al

[2020-11-05 17:39] saurabh2335 commented on #3739
@JasonYeMSFT ,
Did we got any resolution here? I am also getting same exception, I have also tried with different version(Old and latest), still no luck, And surprisingly, It was working before, only recently this issue occurred.
Please suggest any resolution for this.

[2020-11-05 17:52] JasonYeMSFT commented on #3739
@saurabh2335 Unfortunately no resolution so far. We use AzCopy's output to show the error. The "Unexpected quit" will be shown when AzCopy fails to give a legitimate output before quitting. Please try to get the log file or use "Copy command to clipboard" and run the command on command line using AzCopy to see what the actual error is.
You can download AzCopy from here: https://docs.microsoft.com/

[2020-11-05 18:08] saurabh2335 commented on #3739
@JasonYeMSFT,
I only got this details in project explorer.
[code]

[2020-11-05 18:26] craxal commented on #3750
By design. The Columns Options operation doesn't make any network requests, so you won't see anything in Fiddler. I suspect you're seeing a separate network request to retrieve entities when no entities are visible, which is also expected.

[2020-11-05 18:26] #3750 closed

[2020-11-05 18:27] JasonYeMSFT commented on #3739
@saurabh2335 I believe it is caused by your sas resource type "sr=c". Please try creating a SAS with at least "sr=co".

[2020-11-05 18:35] saurabh2335 commented on #3739
@JasonYeMSFT , Also tried with sr=co, still no output.
This might be because I tried to login with SAS url with sr=c and I copied the command from "Copy AzCopy Command to Clipboard"
I also tried to login with account name and key, still getting the same error.

[2020-11-05 18:41] JasonYeMSFT commented on #3739
@saurabh2335 Could you share the command when using account name and key? Also, could you do me a favor to add an argument "--output-type=json" to the end of the command and share the json output with us?

For account level SAS, we expect you to choose "Use a connection string" to connect to the storage account with account level SAS. If your resource type is "c", we don't allow you to move forwar

[2020-11-05 18:46] saurabh2335 commented on #3739
This command I got with account name and account key, but still no output.

`$env:AZCOPY_CRED_TYPE = "Anonymous";
$env:AZCOPY_CONCURRENCY_VALUE = "AUTO";
./azcopy.exe copy "https://**********.blob.core.windows.net/data-cps/*****/activityfile/ID/archive/activity_file_0000110005_1192735_20200723071953.csv?sv=2019-10-10&se=2020-12-05T18%3A37%3A10Z&sr=c&sp=rl&sig=HanAPNgvk1uE8PxbtW%2BekKl%2F6JLuZvRHXs

[2020-11-05 18:55] JasonYeMSFT commented on #3739
Are you saying that there is no output at all? Like when you execute the command, the command line looks like:
[code]

If that is the case, could you schedule a call with us so we can investigate it together? You can send your preferred way of contact to sehelp at microsoft dot com.

[2020-11-05 18:55] amtsha09 opened #3753 "not able to get into blob storage"
Not able to get into blob storage.

<img width="203" alt="Screen Shot 2020-11-05 at 12 51 55 PM" src="https://user-images.githubusercontent.com/26030918/98283815-d0ca2a00-1f65-11eb-94b5-0d061347313b.png">

Unable to retrieve child resources.

Details:
["RestError:﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform th

[2020-11-05 19:00] jinglouMSFT commented on #3753
The error indicated that you might not have access to the blob container. How do connect to the source? Sign-in? Attach?  Is this working against an emulator?

[2020-11-05 19:17] saurabh2335 commented on #3739
@JasonYeMSFT,  I think we are one step closer to resolution,

I downloaded AzCopy 32 bit(previously using 64 bit), Now at least I am getting  some output,

So I tried below command in AzCopy (without any parameter), files is downloaded successfully,
`azcopy.exe copy "https://*********.blob.core.windows.net/****/database/activityfile/ID/archive/activity_file_0000110005_1192735_20200723071953.csv?sv

[2020-11-05 19:21] saurabh2335 commented on #3739
@JasonYeMSFT , I think it has something to do with that parameter which are part of query from Storage Explorer (Same with AzCopy), as it is not able to parsed that and failing in between. But not sure why it occurs recently.

[2020-11-05 19:45] saikongara opened #3754 "Unable to use Azure Storage Explorer on my Mac"
Here is the error I am getting while opening Azure Storage explorer

Unable to retrieve child resources.

Details:
["Error:Unable to retrieve authentication token."]

[2020-11-05 20:09] JasonYeMSFT commented on #3739
@saurabh2335 Good to know that the command itself works. The error you mentioned is caused by AzCopy thinks "json;" or "prompt;" are the argument value instead of "json" and "prompt". The ; is used to separate commands. Not sure why it happens since the cmd tool should be able to tell and exclude it when passing arguments to the executable. The only way I can reproduce is to pass the argument like

[2020-11-06 00:19] southpolesteve commented on #3752
This is expected. Stored procedures require a partition key and do in the portal too. https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-write-stored-procedures-triggers-udfs

[2020-11-06 00:28] #3752 closed

[2020-11-06 01:02] linyu220 commented on #3739
@JasonYeMSFT Because it prevent download and upload file from Azure storage . and the Azure storage work normal at other PC .
So I try to reinstall image and Azure storage , issue gone ,

[2020-11-06 01:56] saurabh2335 commented on #3739
@linyu220 , Can you please elaborate the meaning of reinstall image? Because I also tried reinstall Azure Storage several times, but it doesn't works in my case.

[2020-11-06 02:50] linyu220 commented on #3739
@saurabh2335 I get this failure in my surface studio 2 .And I also try to reinstall Azure storage explorer 1.10 or 1.15.1 when issue happen . Issue still happen
I try to reinstall customer image for my set .  It work normal now.

[2020-11-06 03:14] AnnyLang opened #3755 "个别文件上传失败"
无法检索子资源。

详细信息:
["RestError:request to https://amp4ruat.blob.core.windows.net/?include=metadata&comp=list failed, reason: getaddrinfo ENOTFOUND amp4ruat.blob.core.windows.net"]

上传文件时只有部分个别文件上传失败，
文件名：14394_wuliujiaodan.jpg

cloudBlobContainer = cloudBlobClient.GetContainerReference(“31013”);

  CloudBlockBlob cloudBlockBlob = cloudBlobContainer.GetBlockBlobReference(“31013_70758ab859484be4b06eb1f

[2020-11-06 04:17] southpolesteve commented on #3664
The Cosmos team recently deprecated our integration with Azure Storage Explorer. [Here is the full deprecation notice from the 1.15.1 Storage Explorer release notes:](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.15.1)

Currently, we are not prioritizing new features or bug fixes for Cosmos in Azure Storage Explorer. If you the issue you are reporting also applies to the Azure

[2020-11-06 04:17] #3664 closed

[2020-11-06 04:18] southpolesteve commented on #3718
The Cosmos team recently deprecated our integration with Azure Storage Explorer. [Here is the full deprecation notice from the 1.15.1 Storage Explorer release notes:](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.15.1)

Currently, we are not prioritizing new features or bug fixes for Cosmos in Azure Storage Explorer. If you the issue you are reporting also applies to the Azure

[2020-11-06 04:18] #3718 closed

[2020-11-06 04:19] southpolesteve commented on #3122
The Cosmos team recently deprecated our integration with Azure Storage Explorer. [Here is the full deprecation notice from the 1.15.1 Storage Explorer release notes:](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.15.1)

Currently, we are not prioritizing new features or bug fixes for Cosmos in Azure Storage Explorer. If you the issue you are reporting also applies to the Azure

[2020-11-06 04:19] #3122 closed

[2020-11-06 04:27] southpolesteve commented on #3161
The Cosmos team recently deprecated our integration with Azure Storage Explorer. [Here is the full deprecation notice from the 1.15.1 Storage Explorer release notes:](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.15.1)

Currently, we are not prioritizing new features or bug fixes for Cosmos in Azure Storage Explorer. If you the issue you are reporting also applies to the Azure

[2020-11-06 04:27] #3161 closed

[2020-11-06 04:36] southpolesteve commented on #2979
The Cosmos team recently deprecated our integration with Azure Storage Explorer. [Here is the full deprecation notice from the 1.15.1 Storage Explorer release notes:](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.15.1)

Currently, we are not prioritizing new features or bug fixes for Cosmos in Azure Storage Explorer. If you the issue you are reporting also applies to the Azure

[2020-11-06 04:36] #2979 closed

[2020-11-06 04:37] southpolesteve commented on #2335
The Cosmos team recently deprecated our integration with Azure Storage Explorer. [Here is the full deprecation notice from the 1.15.1 Storage Explorer release notes:](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.15.1)

Currently, we are not prioritizing new features or bug fixes for Cosmos in Azure Storage Explorer. If you the issue you are reporting also applies to the Azure

[2020-11-06 04:37] #2335 closed

[2020-11-06 06:26] #3755 closed

[2020-11-06 09:15] acrov commented on #3752
Apologies for not realising this.  I am just getting started and the local cosmos emulator web interface does allow this.  Sorry for wasting your time.

[2020-11-06 18:02] th0ger commented on #2359
After some debugging, we found that the "Decompress Files" flag is not always saved correctly. We saw this on another pc as well, but could not reproduce it consistently.

When the setting is saved, and we set ContentEncoding to gzip, it works.

[2020-11-06 19:15] MRayermannMSFT opened #3756 "Investigate possible startup perf improvements"
Analyze current state of startup perf, determine if there are any places we can find improvements that we do not yet already know about.

[2020-11-06 19:35] MRayermannMSFT commented on #3473
Not for us to fix. Whenever they support blob versions is when they do.

[2020-11-06 19:35] #3473 closed

[2020-11-06 19:36] MRayermannMSFT commented on #3405
If by 1.18 we still don't have an ETA for when the SDK/service will support this, then move to future.

[2020-11-06 19:39] MRayermannMSFT commented on #3363
Duplicate of #3361

[2020-11-06 19:39] #3363 closed

[2020-11-06 19:41] MRayermannMSFT commented on #3360
Jason, please open an issue against the SDK, and then move this to 1.18.

[2020-11-06 19:42] MRayermannMSFT commented on #3357
Related to #3056

[2020-11-06 19:49] MRayermannMSFT commented on #2942
Just figure out what the root cause is please @craxal.

[2020-11-06 19:51] MRayermannMSFT commented on #2881
Not closing the tab is now by design. Though we still need to work on the overall experience of "error happens while navigating in a tab"

[2020-11-06 19:51] #2881 closed

[2020-11-06 19:58] MRayermannMSFT commented on #2845
The service has rolled out a fix for this. No action is required by users.

[2020-11-06 19:58] #2845 closed

[2020-11-06 20:04] MRayermannMSFT commented on #2530
Determine if the root cause of this bug is affecting anything other than snapshots. If yes, then fix, if no then won't fix.

[2020-11-06 20:05] MRayermannMSFT commented on #2513
Won't fix. Snapshots is no longer primary backup scenario.

[2020-11-06 20:05] #2513 closed

[2020-11-06 20:16] MRayermannMSFT commented on #517
@craxal, please notify all commenters on this issue that this should be fixed in 1.16, after we ship.

[2020-11-06 20:17] MRayermannMSFT commented on #258
In 1.17, make a list of all places we need to fix, and then we can evaluate the size of work.

[2020-11-06 21:55] marshgm opened #3757 "Search Function"
Search Bar to search any key word. Not the exact string.

[2020-11-07 00:12] JasonYeMSFT commented on #3360
The issue is in the preview SDK and won't get fixed there. We need to upgrade to the public SDK to fix this issue.

[2020-11-07 13:38] rakesh-shrivastav commented on #3613
**Storage Explorer Version: ** 1.15.1
**Storage Emulator Version: ** 5.10.0.0

This is what worked for, and hope helps others.
I found few other links, though they didn't work for me. For example: [https://stackoverflow.com/questions/54176192/unable-to-connect-to-local-azure-storage-account](url)

Here's what I did:
1. Use connect to storage option
![image](https://user-images.githubusercontent.co

[2020-11-08 15:56] amtsha09 commented on #3753
@jinglouMSFT
No, it is not the authentication issue.
I log-in with same azure account into windows storage explorer and i can access everything there.

[2020-11-09 05:43] v-limu commented on #3729
Verified on build 20201107.1. This issue has been fixed. So close it.
![image](https://user-images.githubusercontent.com/54055206/98504237-772d6c80-2291-11eb-83d5-c83a8ac10da7.png)

[2020-11-09 05:43] #3729 closed

[2020-11-09 08:56] lu2Github opened #3758 "Enable copy message from queue to a specific queue"
**When we test some function**
We need to fill the queue with the same messages repeatedly.

**Enable copy message/messages**
It should be nice to enable copy selected message or all messages from the queue to a specific queue.

[2020-11-09 09:08] lu2Github opened #3759 "Enable grouping storages in Storage Accounts tree"
**We have a lot of storages**
We have a lot of subsystems storages with DEV TEST PROD suffix.
Some storages have different names. It is confusing to find related storages.

**Enable grouping storages**
It should be nice to enable grouping storages to group

**subsystem1 (group)**

- storage account DEV
- storage account TEST
- storage account PROD
- ...

[2020-11-09 14:03] TechWatching commented on #3645
This workaround worked for me. But if it wasn't this GitHub issue, I would have never solved my problem. And it's a shame it does not work in Azure portal.

[2020-11-09 15:46] TheLeftMoose opened #3760 "Embedded Chrome runs 80.0.3987 which is catched in Conditional Access as outdated browser"
**Storage Explorer Version**: 1.15.1
**Build Number**: 20200902.9
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:

## Bug Description ##
When logging into Azure it seems like Storage Explorer opens up an embedded browser that is running chrome. In my organization we have marked "old" versions of chrome as unsecure. When logging into an azure account, what seems like a embedd

[2020-11-09 15:55] TheLeftMoose commented on #3760
After enabling MSAL in settings, the login workflow works as intended.

[2020-11-09 15:55] #3760 closed

[2020-11-09 16:20] igitur commented on #3312
I think I've managed to solve this. I did a few things and I'm not sure exactly which (if not all of them) are required:

- The steps outlined [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#error-self-signed-certificate-in-certificate-chain-and-similar-errors) mentions only the `*.microsoft.com` domain (and subdomains). I also had

[2020-11-09 17:47] vrnmthr opened #3761 "Could not load subscriptions from Azure account"
**Storage Explorer Version**:  1.15.1
**Build Number**:  202009092.9
**Platform/OS**:  Windows 10
**Architecture**:  ia32
**Regression From**:

## Bug Description ##
Tried to add an Azure account but subscriptions could not be loaded
![image](https://user-images.githubusercontent.com/23667587/98577066-673d7900-22e1-11eb-8ae4-03472db652e1.png)

## Steps to Reproduce ##
Added an azure account and su

[2020-11-09 18:08] MRayermannMSFT commented on #3160
Most old versions can be found at https://github.com/microsoft/AzureStorageExplorer/releases

[2020-11-09 18:10] MRayermannMSFT commented on #2244
@thereforeattila @RaijinDS so can you share with me the file at the path?

It looks for both of y'all, that path is: `C:\Program Files (x86)\Microsoft Azure Storage Explorer\resources\app\ServiceHub\ADAL-Services\IdentityService\Microsoft.Azure.Management.ResourceManager.dll`

You can upload directly to this github issues by dragging and dropping the file into the comment text box.

[2020-11-09 18:12] MRayermannMSFT commented on #3754
Can you go to Settings -> Services -> Disks, uncheck the checkbox and then restart? That should unblock you (assuming you don't need to work with disks).

Also, please check the account panel for any accounts which are asking you to re-enter your credentials, and if there are any, then do so.

[2020-11-09 18:12] MRayermannMSFT commented on #3730
Can you go to Settings -> Services -> Disks, uncheck the checkbox and then restart? That should unblock you (assuming you don't need to work with disks).

Also, please check the account panel for any accounts which are asking you to re-enter your credentials, and if there are any, then do so.

[2020-11-09 18:13] MRayermannMSFT commented on #3646
Closing due to lack of response. If you are still having problems, please open a new issue. Thanks.

[2020-11-09 18:13] MRayermannMSFT commented on #3244
Closing due to lack of responses. For anyone still having problems, please open a new issue. Thanks.

[2020-11-09 18:13] #3244 closed

[2020-11-09 18:14] MRayermannMSFT commented on #3645
Closing due to lack of response by original issue opener. For anyone still having this problem, please try the advised steps, and then if you are still blocked, please open a new issue. Thanks.

[2020-11-09 18:14] #3645 closed

[2020-11-09 18:14] MRayermannMSFT commented on #3644
Closing due to lack of response by original issue opener. For anyone still having this problem, please try the advised steps, and then if you are still blocked, please open a new issue. Thanks.

[2020-11-09 18:14] #3644 closed

[2020-11-09 18:21] MRayermannMSFT commented on #3639
@lxalln I looked at the logs and nothing stood out to me. I'm pretty stumped on this one. :( Did you every try using a different machine? Doing that will rule out either install/machine issue vs Azure account issue.

[2020-11-09 18:24] MRayermannMSFT commented on #3523
@the-data-detective the error from the server is pretty clear. The size of VHD file you are using is not compatible. I think you'll need to resize the VHD.

[2020-11-09 18:24] MRayermannMSFT commented on #3746
@stevenhurwitt as of today, by default you are signed into all directories. There is no directory switching. Does that make sense?

[2020-11-09 18:26] MRayermannMSFT commented on #3740
Can you please do the following?

2. In Storage Explorer, go to Settings (gear on the left) -> Application -> Sign In -> check "Enable verbose authentication logging"
3. Close Storage Explorer
1. Delete ~/.ServiceHub/logs
4. Start Storage Explorer
5. Repro your issue
6. Zip up ~/.ServiceHub/logs and share the zip here.

Thanks!

[2020-11-09 18:38] MRayermannMSFT commented on #3757
@marshgm, what search feature are you referrring to? Blobs, file shares, gen2, tree view, something else?

[2020-11-09 18:42] thereforeattila commented on #2244
@MRayermannMSFT sure, please find it attached. Hope this helps 👍
[Microsoft.Azure.Management.ResourceManager.dll.zip](https://github.com/microsoft/AzureStorageExplorer/files/5512624/Microsoft.Azure.Management.ResourceManager.dll.zip)

[2020-11-09 20:00] stevenhurwitt commented on #3746
yeah i'll have to try it out now, awesome!

[2020-11-09 20:00] #3746 closed

[2020-11-09 23:33] MRayermannMSFT commented on #3761
@vrnmthr an error in the 5xx range typically indicate the request reached the server, so I don't think there's anything wrong with where you are.

A 500 error is pretty general, and there's not much here to go on. Can you restart storage explorer and try again?

[2020-11-09 23:37] MRayermannMSFT commented on #3759
Duplicate of #2952

[2020-11-09 23:37] #3759 closed

[2020-11-09 23:38] MRayermannMSFT commented on #2952
Might also be good to think about groupings outside of quick access as talked about in #3759

[2020-11-09 23:40] MRayermannMSFT commented on #2632
@schenardie we don't typically look back at closed issues in this repo unless there's a reason to do so. Thankfully today I was looking for this issue and saw your comment. Please open a new feature request for what you are asking for and we'll triage it. Thanks!

[2020-11-09 23:43] MRayermannMSFT commented on #1380
Hi y'all, the storage service added an API that will allow us to do this. Thought I'm not sure if it'll be in a way that'll make y'all happy.

https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=azure-powershell

We'll be adding a feature which uses this API in version 1.17. You can track that work here: #3695

I'm going to leave this issue open for a while in-

[2020-11-09 23:48] MRayermannMSFT commented on #3758
@lu2Github we currently have two features which may be of interest to you.

The first feature is requeue message.
<img width="152" alt="image" src="https://user-images.githubusercontent.com/21112697/98609611-7d781480-22a2-11eb-8eeb-deb0ad92a8ff.png">

While selecting a message, you can use that to put a new message with the same contents and expiration duration onto the same queue.

The next featu

[2020-11-09 23:51] MRayermannMSFT commented on #3312
@igitur thank you so much for the detailed write-up. These cert issues are the hardest ones for us to help y'all fix, and unfortunately switching our networking stack to help reduce these errors is still just slightly out of reach.

We'll probably incorporate some of what you've said into our troubleshooting guide.

Thank you again so much, truly. 😊

[2020-11-09 23:51] MRayermannMSFT commented on #3640
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-11-09 23:51] #3640 closed

[2020-11-09 23:52] MRayermannMSFT commented on #3641
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-11-09 23:52] #3641 closed

[2020-11-09 23:52] MRayermannMSFT commented on #3647
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-11-09 23:52] #3647 closed

[2020-11-09 23:52] MRayermannMSFT commented on #3663
Closing due to lack of response. Please open a new issue if you are still having problems.

[2020-11-09 23:52] #3663 closed

[2020-11-09 23:56] MRayermannMSFT commented on #3751
@rkaczka-st how many containers do you have in your emulator?

[2020-11-10 00:39] #3736 closed

[2020-11-10 00:40] MRayermannMSFT commented on #3743
Duplicate of #852

[2020-11-10 00:40] #3743 closed

[2020-11-10 00:41] MRayermannMSFT commented on #3753
@amtsha09 is it possible your storage has a firewall/network restrictions that make it not possible for you to access the account from the network your mac machine is on?

[2020-11-10 01:05] jasonhorner opened #3762 "Enhanced support for copying and pasting file paths from user interface"
As a user I often need to quickly get file and folder path information from storage explorer this is more difficult than it needs to be and not intuitive. by clicking inside the dialog and choosing CTRL-A you can grab the path.

I'd like the Properties U/I to show a copy icon similar to the design in azure portal
![image](https://user-images.githubusercontent.com/7981510/98614165-1748bd00-22b5-11e

[2020-11-10 02:16] mmohl opened #3763 "Storage is running but not showing the dialog on Catalina 10.15.7 (19H15)"
Hi, I cannot see the dialog explorer but it running on the process.

[2020-11-10 03:24] liangrui-online opened #3764 "无法检索子资源。"
无法检索子资源。

详细信息:
["RestError:request to https://lins.blob.core.windows.net/?include=metadata&comp=list failed, reason: getaddrinfo ENOTFOUND lins.blob.core.windows.net"]

[2020-11-10 05:32] alexcui2010 commented on #3757
Is your feature request related to a problem?
Yes, Azure Storage explorer can not search blob file by name with wildcard . Now it only have prefix search function.

Describe the solution you'd like A clear and concise description of what you want to happen.
In Azure Storage explorer search function, we can use blob list function to list all the object to local cache and then filter it locally.
Som

[2020-11-10 07:30] RaijinDS commented on #2244
Hello,

Here my dll :)

[Microsoft.Azure.Management.ResourceManager.dll.zip](https://github.com/microsoft/AzureStorageExplorer/files/5515523/Microsoft.Azure.Management.ResourceManager.dll.zip)

Regards,

[2020-11-10 09:45] v-limu opened #3765 "Show a successful activity log when pasting one deleted folder and file at the same time"
**Storage Explorer Version:** 1.16.0
**Build**: 20201109.5
**Branch**: rel/1.16.0
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From:** Previous release(1.13.1)

**Steps to reproduce:**

1. Expand one storage account -> File Shares.
2. Create a file share -> Upload one folder and one file to it.
3. Copy the folder and file then delete them.

[2020-11-10 18:20] edtiong commented on #3711
Facing the same issue. Didn't have issues before - came up suddenly.

![image](https://user-images.githubusercontent.com/53787081/98714933-7bbc5880-2357-11eb-8df6-dd881e4e0faa.png)

[2020-11-10 18:21] edtiong commented on #3711
@MRayermannMSFT  Can you provide me with concrete steps to debug? how to check permission/firewall etc

[2020-11-10 18:31] edtiong commented on #3754
this worked for me

[2020-11-10 19:14] braxxi commented on #3711
Finally got this resolved by setting up a proxy.  It was matter of a local settings. No changes in a firewall

[2020-11-11 18:32] JasonYeMSFT commented on #3360
A blocking issues in the public SDK has been fixed here https://github.com/Azure/azure-sdk-for-js/issues/11849.

[2020-11-11 19:31] prashantjoge opened #3766 "Storage Explorer does not list blobs locally or from the azure portal"
**Storage Explorer Version**:
1.16.0
**Build Number**:
20201109.5
**Platform/OS**:
5.9.6-arch1-1
**Architecture**:
x64
**Regression From**:
Did not notice this issue before. Do not remember the older version
## Bug Description ##

Blob containers are not being displayed under the blob storage account. Issue noticed both from portal and azurite
## Steps to Reproduce ##

created a storage account in

[2020-11-11 22:45] RibbonFish opened #3767 "New Issue trying to access Blob on Azure"
Issue just started out of the blue

Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "This request is not authorized to perform this operation using this permission.\nRequestId:4f4010b3-601e-00ee-3f7b-b8399d000000\nTime:2020-11-11T22:40:50.2409167Z",
  "__zone_symbol__error": {
    "originalStack": "Error: This request is not authorized to perform this operation

[2020-11-11 23:26] JasonYeMSFT commented on #3766
Someone has seen a similar error in #3639. Could you try doing a clean re-install?

For macOS, you should:
- delete the .app from the Applications folder
- re-download from https://storageexplorer.com
- unzip
- drag and drop into the Applications folder

For linux, if you used .tar.gz package, this should mean:
- delete all files you extracted from the package
- redownload package
- extract and in

[2020-11-12 03:20] v-xianya opened #3768 "Show traffic for some operations after switching the proxy from 'Use app proxy settings' to 'Do not use proxy'"
**Storage Explorer Version**: 1.16.0
**Build Number**: 20201111.5
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04
**Architecture**: ia32/x64
**Regression From**:  Not a regression

## Bug Description ##
When switching the proxy setting from ‘Use app proxy settings’ to ‘Do not use proxy’, show traffic for some actions.

## Steps to Reproduce ##
1.	Launch Fiddler.
2.	Launch Storage

[2020-11-12 04:07] ATidmore opened #3769 "Storage Explorer reports: "Download of Blob Successful" Despite "0 items Transferred""
After having established a connection to my Azure Storage Container using a SAS URI, I am able to browse the container but cannot download any blobs/files. I am trying to download JPG files specifically which are about 4 MB in size.

After clicking "download" on a single file and specifying the location, Storage Explorer reports `Transfer of '....<file URI>...' complete: 0 items transferred (using

[2020-11-12 06:09] v-xianya opened #3770 "Show azcopy traffic in Fiddler when the setting "Disable AzCopy Proxy Usage" is checked"
**Storage Explorer Version**: 1.16.0
**Build Number**: 20201111.5
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04
**Architecture**: ia32/x64
**Regression From**:  Not a regression

## Bug Description ##
Make sure the setting "Disable AzCopy Proxy Usage" is checked, show azcopy traffic in Fiddler when the proxy setting is set to "Use app proxy settings".

## Steps to Reproduce ##
1

[2020-11-12 10:17] davyhoyle commented on #3561
Are there any plans to change the default authentication library to MSAL from the old ADAL - at present, we need to tell our users to enable this manually which most users don't find without help.

[2020-11-12 11:14] lu2Github commented on #3758
This is a good hint.

I can make a copy of all messages to some queue with **different expiration**.
But I can not easily select old messages (300 000 messages) to move to another queue.

[2020-11-12 14:58] ATidmore commented on #3769
It was an oversight on my part that the SAS URI pointed directly to a single file instead of to the account or container. In other words:

Original SAS URI: `https://myaccountname.blob.core.windows.net/mycontainername/20190529_092026.jpg?sv=2019-12-12&ss=b&srt=sc&sp=rlacx&se=2020-11-21T13:23:58Z&st=2020-11-11T05:23:58Z&spr=https&sig=UEzg%...`

Better SAS URI: `https://myaccountname.blob.core.windo

[2020-11-12 14:58] #3769 closed

[2020-11-12 16:57] santhoshballa opened #3771 "Azure Storage Explorer"
Unable to retrieve child resources.

Details:
[code]

[2020-11-12 17:35] JasonYeMSFT commented on #3771
Do you have the emulator running? Are you using any proxy?

[2020-11-12 17:57] MRayermannMSFT commented on #3712
1.16.0 has been shipped, it includes a fix for this issue.

[2020-11-12 17:57] #3712 closed

[2020-11-12 18:58] #587 closed

[2020-11-12 19:01] #3575 closed

[2020-11-12 19:21] kfroe opened #3772 "Azure AD copy fails to download"
trying to download from
https://devicesamd.dfs.core.windows.net/orpheusengagement/Users/MikeG/MEMORY_VR_2.198.0_0x3b.zip

details:
{
  "message": "\"UnexpectedQuit\""
}

[2020-11-12 19:25] jinglouMSFT commented on #3561
Yes, once MSAL supports multi-MSA login we will then make using MSAL default. we are actively working with our partner team but there is no timeline yet.

[2020-11-12 19:52] MRayermannMSFT commented on #3741
Going to fix the first problem, but for the delete dialog, that's basically by design. The message box dialog will show a scrollbar when the message is too big, and therefore the user will need to resize the dialog.

[2020-11-12 22:55] JasonYeMSFT commented on #3394
@v-xianya We have integrated a new version of AzCopy in 1.16.0, could you please help verify this issue to see if it is fixed?

[2020-11-13 00:49] JasonYeMSFT commented on #2252
https://github.com/Azure/azure-sdk-for-js/issues/12530 Tracking the SDK on the necessary account info property.

[2020-11-13 01:18] v-limu commented on #3741
Hi @MRayermannMSFT Got it. Thanks for your updates!

[2020-11-13 02:20] v-limu commented on #3476
Verified on build 20201112.8. This issue has been fixed. So close it.

[2020-11-13 02:20] #3476 closed

[2020-11-13 02:25] v-xianya commented on #3394
@JasonYeMSFT This issue is fixed on build main/20201112.8.
For the below behaviors, is that expected?

Show "Failed to start transfer: Insufficient credentials." when trying to paste one file or folder from a public connected blob container to one ADLS Gen2 blob container.
![image](https://user-images.githubusercontent.com/41351993/99020658-0a201c80-259a-11eb-98ba-4cb13065d318.png)

[2020-11-13 08:55] v-limu opened #3773 "The values of the properties 'Soft Delete' and 'Retention Days' show 'Error loading property' for one Premium account"
**Storage Explorer Version:** 1.16.0
**Build**: 20201112.8
**Branch**: main
**Platform/OS:** Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**: Previous release(1.16.0)

**Steps to reproduce:**

1. Create one **Premium StorageV2(general purposev2)** account in portal.
2. Expand the account in Storage Explorer -> Select 'Blob Containers' node.
3. Check th

[2020-11-13 11:08] edfreeman commented on #3561
@jinglouMSFT Will this include the ability to specify the tenant one wants to log-in to? (Which would presumably then enable the functionality outlined in this GitHub issue.)

[2020-11-13 23:22] JasonYeMSFT commented on #3764
Does your storage account have firewall enabled or private link enabled? This error usually occurs when the dns name cannot be resolved.

[2020-11-14 18:54] IvNen commented on #3689
Sorry for the very late reply. I was on a latest Linux machine which is Ubuntu 20.04 and the windows is a work machine which by work policy is always up to date. I did however restarted the machine and reinstalled table storage and seemed to have fixed it. Have not had the issue since then.

[2020-11-16 02:02] v-xianya commented on #3248
Verified this issue on build 20201116.2. The delete action is removed from one QA queue's context menu.
![image](https://user-images.githubusercontent.com/41351993/99205169-a47a9d00-27f2-11eb-9a1a-c6e401b54f01.png)

[2020-11-16 02:02] #3248 closed

[2020-11-16 02:09] v-xianya commented on #3361
Verified this issue on build 20201116.2. fixed.
![image](https://user-images.githubusercontent.com/41351993/99205530-c32d6380-27f3-11eb-9769-eb3cc431f529.png)

[2020-11-16 02:30] v-limu commented on #3773
Verified on build 20201116.2. This issue still reproduces. The details of the premium account show below:

Direct Link of the account: `storageexplorer://v=1&accountid=%2Fsubscriptions%2F5d17327f-ed05-4b65-bfd1-f498ac160d55%2FresourceGroups%2Fcti-kristine%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fabcpremiumv2&subscriptionid=5d17327f-ed05-4b65-bfd1-f498ac160d55`

[2020-11-16 06:46] v-xianya commented on #156
Verified this issue on build 20201116.2. Fixed.

[2020-11-16 06:46] #156 closed

[2020-11-16 06:54] v-xianya commented on #157
Verified this issue on build 20201116.2. Fixed.

[2020-11-16 06:54] #157 closed

[2020-11-16 07:13] v-limu commented on #3540
Verified on build 20201116.2. This issue has been fixed. So close it.

[2020-11-16 07:13] #3540 closed

[2020-11-16 07:29] v-xianya commented on #3390
Verified this issue on build 20201116.2. Fixed.

[2020-11-16 07:29] #3390 closed

[2020-11-16 08:12] v-limu commented on #3741
Verifie on build 20201116.2. This issue has been fixed. So close it.
![image](https://user-images.githubusercontent.com/54055206/99227634-7911a580-2826-11eb-8664-848a7efc1329.png)

[2020-11-16 08:12] #3741 closed

[2020-11-16 08:24] prashantguptaniit opened #3774 "Not able to Access ADLS Gen 2 Container"
Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "This request is not authorized to perform this operation.\nRequestId:27b0b99d-e01e-0045-56f1-bb074c000000\nTime:2020-11-16T08:18:57.0748673Z",
  "__zone_symbol__error": {
    "originalStack": "Error: This request is not authorized to perform this operation.\nRequestId:27b0b99d-e01e-0045-56f1-bb074c000000\nTime:202

[2020-11-16 08:37] v-xianya opened #3775 "An error dialog pops up when clicking 'Enable Soft Delete' button on one blob's delete dialog"
**Storage Explorer Version**: 1.16.0
**Build Number**: 20201116.2
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04/ MacOS Catalina
**Architecture**: ia32/x64
**Regression From**:  Previous release (1.16.0)

## Steps to Reproduce ##
1. Expand one GPV2 storage account -> Blob Containers (make sure the soft delete policy is disabled).
2. Create one blob container -> Upload one blob.
3

[2020-11-16 08:54] AiHaibara opened #3776 "Can not click 'Blob Containers' in local emulator storage account"
**Storage Explorer Version**: 1.16.0
**Build Number**: 17763.1339
**Platform/OS**: Windows 10
**Architecture**: x64
**Regression From**:

## Bug Description ##
Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:05bd46ab-d4c

[2020-11-16 09:11] v-limu opened #3777 "There are untranslated strings in the localized 'Update Access Tier' dialog"
**Storage Explorer Version:** 1.16.0
**Build**: 20201116.2
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 16.04 / MacOS Catalina
**Architecture**: ia32/x64
**Language**: All
**Regression From**: Not a regression

**Steps to reproduce:**

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select 'Čeština' -> Restart Storage Explorer.
3. Expand one GPV2

[2020-11-16 09:45] lxalln commented on #3639
@MRayermannMSFT I tested it on another machine and it worked fine, although I noticed it had updated to 1.16.0...

I just updated to 1.16.0 here too, and everything is working now! Perhaps related to #3247

Anyway, it's working now! Thank you whoever fixed whatever it was you fixed.

[2020-11-16 17:31] ajschliewe opened #3778 "Error Unable to retrieve child resources"
I am a subscription owner. I Created 2 new storage accounts today, and several blob containers in each new account. When I go to view the containers I receive an Error titled "Unable to retrieve child resources" with a message of "This request is not authorized to perform this operation".  Replication of the new accounts are LRS and GRS. Old account Replication is LRS and ZRS
I can view the blob c

[2020-11-16 18:53] JasonYeMSFT commented on #3747
@c2company We are aware of this issue and is discussing with the corresponding team. List permission is a container level SAS permission so it is removed as we remove the "container-level" option. Ideally speaking you shouldn't need a container-level SAS because it will grant access to all blobs in that container, which is far beyond what is really needed for the submission. The requirement of con

[2020-11-16 19:01] JasonYeMSFT commented on #3778
@ajschliewe Are you using regular blob storage or ADLS Gen2? Do you have container level role assignment on those blob containers? If you have a container level role assignment, it will override the role inherited from the Subscription level.

[2020-11-16 19:06] JasonYeMSFT commented on #3776
It seems like you are using the .Net Azure Storage Emulator. That product is on its way to deprecation and a modern replacement for it is [Azurite](https://github.com/Azure/Azurite). We recommend you to migrate to use Azurite instead of the .Net emulator. If you still face problem accessing your emulator, let us know.

[2020-11-16 19:08] JasonYeMSFT commented on #517
@oddeirik @btshowers @dterziev We have shipped a fix for this in 1.16.0. If you are still running into problems, please open a new issue instead. Thanks.

[2020-11-16 19:08] #517 closed

[2020-11-16 19:12] JasonYeMSFT commented on #3774
@prashantguptaniit What is role that governs you access to the resource (e.g. Service level or inherited from Subscription level)? Are you having this issue with all your containers or just some containers?

[2020-11-16 19:16] JasonYeMSFT commented on #3772
@kfroe Could you copy the azcopy command and try it with the AzCopy cmd tool and send us the output + the log? You can get AzCopy cmd tool [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10).

When you run the azcopy command using the cmd tool, please add one argument --output-type=json at the end to help us troubleshoot. We internally rely on the json output to de

[2020-11-16 19:17] JasonYeMSFT commented on #3767
@RibbonFish What role do you have that governs your access to the Blob containers (e.g. service level or inherited from subscription level)? Are you having this problem with all your blob containers or only some of them?