[2022-01-14 20:10] craxal commented on #5330
@riyaintouch Can you tell us in more detail how you attached to the storage account? What method are you using to authenticate? Are you able to list other resources, like blob containers, queues, or tables?

[2022-01-14 20:25] riyaintouch opened #5336 "Operations on FIle Shares failing, including deletion, upload, download"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-14 20:27] riyaintouch commented on #5330
Hello, I connected the storage account using connection string, and i verified the strings were correct. Today i tried to access the File Shares, they were accessible however any operation like deletion of folders, upload, download is failing. Creation of new folders is working.

[2022-01-14 20:28] riyaintouch commented on #5336
Uploads failing with this error: 2022/01/14 20:28:04 AzcopyVersion  10.13.0
2022/01/14 20:28:04 OS-Environment  windows
2022/01/14 20:28:04 OS-Architecture  amd64
2022/01/14 20:28:04 Log times are in UTC. Local time is 15 Jan 2022 01:58:04
2022/01/14 20:28:04 Job-Command copy C:\Users\madhudg\Desktop\Disk Repair.txt https://azqexecutionservicesa.file.core.windows.net/%0A/acishare/Test/Disk%20Repai

[2022-01-14 20:29] riyaintouch commented on #5336
I even tried uninstalling and installing by chocolatey, same error resulted

[2022-01-14 20:30] riyaintouch commented on #5336
Downloads fail with this error:
{
  "message": "\"failed to perform copy command due to error: cannot start job due to error: -> github.com/Azure/azure-storage-file-go/azfile.newStorageError, /home/vsts/go/pkg/mod/github.com/!azure/azure-storage-file-go@v0.6.1-0.20201111053559-3c1754dc00a5/azfile/zc_storage_error.go:42\\n===== RESPONSE ERROR (ServiceCode=) =====\\nDescription=failed to unmarshal r

[2022-01-15 00:15] #5333 closed

[2022-01-15 03:03] VenerableSpace opened #5337 "Error when attempting to navigate to file shares or blob storage [MacOS]"
Obtain error when navigating on storage explorer on macOS. Succesfully able to do so on Windows and through Linux with same account.

## Version: 1.22.0
## OS: MacOS 11.6.1

Error details below:

[code]

[2022-01-15 14:14] imtithewaves opened #5338 "Installed Azure File Explorer for the 1st time in my Windows device, could not able to add an account and even if it added it's thorwing an error while trying to open the child storage parameters"
Hello there!

I am providing the error which am getting,

Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://storagetestwav.file.core.windows.net/?comp=list failed, reason: self signed certificate in certificate chain",
  "stack": "FetchError: request to https://storagetestwav.file.core.windows.net/?comp=list failed, reason: self signed certifi

[2022-01-17 02:31] v-xianya commented on #5333
Verified this issue on the build main/20220114.4. Fixed.

[2022-01-17 06:27] v-xianya commented on #2815
Verified on the latest main build 20220114.3. Fixed.

[2022-01-17 09:20] v-xianya opened #5339 "There is a duplicate item when clicking the item on the address bar back to its parent folder with running a valid search in the file share explorer"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220114.4
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Create a folder name 'New Folder'-> Upload a file to the folder.
3. Type t

[2022-01-18 09:32] v-xianya opened #5340 "An error dialog pops up when cloning one non-empty file share under one SAS attached storage account with permissions 'Read, List, Create'"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220114.4
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Create a file share -> Upload files to the file share.
3. Right click the storage accoun

[2022-01-18 19:12] MRayermannMSFT opened #5341 "Export no longer contains Timestamp column"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-18 21:23] #5341 closed

[2022-01-18 21:25] craxal commented on #4744
@JasonYeMSFT Working on it.

[2022-01-19 01:23] JasonYeMSFT commented on #5336
@riyaintouch Do you know why there is a line feed character in the endpoint (%0A)? That might happen when you used a corrupted url to connect to the resource. Could you try reconnecting to the resource with the url without that line feed character and retry these operations?

[2022-01-19 01:27] MRayermannMSFT opened #5342 "Create automated tests that cover all table issues hotfixed in 1.22.1"

[2022-01-19 03:13] cesarjo opened #5343 "Azure Storage Explorer ADLS files should have preview UI"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-19 08:28] v-xianya opened #5344 "The Timestamp column can be exported when its value is null"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220118.2
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add some entities (Like the below)
![image](https://user-images.githubuserc

[2022-01-19 09:40] v-kellyluo opened #5345 "Fail to query one entity against Binary property"
**Storage Explorer Version:** 1.22.1
**Build Number:** 20220118.2
**Branch:** hotfix/1.22.1
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity with Binary property. (Like the below)
![image](https://user-images.

[2022-01-19 09:55] v-kellyluo opened #5346 "Succeed to use Int32 property to query one entity which has Int64 property"
**Storage Explorer Version:** 1.22.1
**Build Number:** 20220118.2
**Branch:** hotfix/1.22.1
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity with Int64 property. (Like the below)
![image](https://user-images.g

[2022-01-19 14:08] jtomori commented on #2821
Hello,
I would like to check whether there are any updates on this issue.

We are running into it when copying many files within `BlockBlobStorage` account with `Premium` performance. Some of the copied files are `AppendBlob`s, which cause the copy operation to fail. After the failed copy we can see empty `AppendBlob`s at the destination (source files aren't empty).

Attaching logs for a simplifie

[2022-01-19 14:21] jtomori commented on #2821
Can you think of any temporary fix for this?

In one of our scenarios we don't care about `AppendBlob`s, so excluding them, or silencing copy errors would help us too. This would let us check ASE's transfer status for any potential issues, e.g. `BlockBlob`s we care about.

Azcopy [has](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy) the `--exclude-blob-type=AppendBlo

[2022-01-19 14:30] Phil-B opened #5347 "Table Import/Export Encoding"
Some characters are lost when using the export and import features.

When using the built-in editor I can successfully paste an `è` character into an Edm.String value. When this is exported it becomes `Ã`. When using the import feature, the `è` simply becomes `�`

Storage Explorer Version: 1.22.0
Build Number: 20211211.10
Platform/OS: Windows 10

[2022-01-19 14:57] sureshgottimukkala opened #5348 "Getting Couldn't access resources for this tenant in Azure Storage Explorer"
{
  "message": "\"{\\n  \\\"message\\\": \\\"\\\\\\\"The resource you are attempting to access is in a tenant which is currently filtered out. Un-filter it to access this resource.\\\\\\\"\\\"\\n}\""
}

[2022-01-19 15:40] jonrobinsdev commented on #81
Also here because of Durable Functions and the want to be able to view more than the 32 messages to get a sort-of timeline of where my orchestrator is at. Not necessarily needed but would be nice, perhaps as opt-in as was suggested.

[2022-01-19 18:02] JasonYeMSFT commented on #2821
Unfortunately the most straightforward way to mitigate this problem is to directly use the command line tool for AzCopy. Sorting by blob type might help you manually exclude append blobs but that would be very tedious if you have a large number of blobs.

[2022-01-19 19:23] craxal commented on #5346
@v-kellyluo I don't think this needs to be fixed. The data type is used only to validate the entered values. The query is reduced to a string that is passed to the network request, and the query syntax has no concept of data types. So, for example, if the query clause you have is "Field", "Int32", "64", this just get's reduced to "Field eq '64'".

[2022-01-19 22:18] craxal opened #5349 "Table import stops short at 199 entities"
Customer reports that table imports stop short at 199 entities. This is reproducible in 1.22.0, but not 1.21 versions and earlier.

This is due to a bug in the CSV parser where the condition for determining whether the parser is at the end of the import file is incorrectly determined.

[2022-01-19 22:39] craxal opened #5350 "Find accurate progress reports for table import"
Initially, progress was reported based on the number of bytes read from the import file, but this was inaccurate, because the number of bytes read doesn't correlate well with the number of entities read or uploaded.

A solution will likely require a refactor of the CSV parser to read less greedily and/or report the number of lines or records that have been read.

[2022-01-19 23:45] MRayermannMSFT commented on #5340
Fixed on main.

[2022-01-19 23:45] #5340 closed

[2022-01-19 23:54] JasonYeMSFT commented on #5310
Closing since the root cause of the issue is out of our control.

[2022-01-19 23:54] #5310 closed

[2022-01-20 00:27] MRayermannMSFT commented on #5315
@v-kellyluo I understand the issue now, and why I wasn't able to repro. I should have paid more attention as you said " Attach it by 'Name & Key'.", which literally meant you picked the name & key option, as opposed to the connection string option. Thanks for the patience. I'll close this once a fix is merged.

[2022-01-20 02:17] v-xianya commented on #5344
Verified this issue on the build 20220120.1. Fixed.

[2022-01-20 02:17] #5344 closed

[2022-01-20 02:30] v-kellyluo commented on #5346
Hi @craxal ,thanks for your update! As you said "the data type is used only to validate the entered values", so this issue seems to be expected, but if the entity contains one Int32 property, we cannot query it using Int64 type, and the query statement is `num eq 32L`, is there any difference between the two situations?

[2022-01-20 06:24] v-xianya commented on #5340
Verified this issue on the main build 20220119.4. Fixed.

[2022-01-20 08:59] v-xianya opened #5351 "The number of the completed entities doesn't display in the Copy/Clone table activity log"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220120.1
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add some entities.
3. Clone the table or copy the table to another storage

[2022-01-20 09:20] v-xianya opened #5352 "There is only a cancelled icon in the activities panel when cancelling an imported table activity"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220120.1
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Not a regression
## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Click 'Import' -> Select one csv file to import. As the below one:
[test.csv](https:/

[2022-01-20 09:22] v-kellyluo opened #5353 "There is no deleted activity log when deleting one entity"
**Storage Explorer Version:** 1.22.1
**Build Number:** 20220120.1
**Branch:** hotfix/1.22.1
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Add one entity.
3. Delete the entity -> Check whether there is a deleted a

[2022-01-20 10:11] jtomori commented on #2821
I see, thank you for your reply.

One more observation: copying `AppendBlob` with a `cp` command on a linux machine with a `Premium BlockBlobStorage` container mounted with blobfuse succeeds, but the resulting blob is of `BlockBlob` type.

[2022-01-20 13:10] v-xianya opened #5354 "The string 'Show x to x of x cached items' doesn't display on lower left corner of the table editor after clicking 'Refresh' at the query status (apply 'Clear All' on the Select Columns dialog)"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220120.1
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add some entities.
3. Click 'Query' -> Click 'Advanced Options -> Select Columns...'

[2022-01-20 17:11] curia-damiano opened #5355 "Please reintroduce support for CosmosDB"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-20 18:04] MRayermannMSFT commented on #5348
@sureshgottimukkala can you go to the account panel (person icon on the left-hand vertical toolbar), and check the checkbox for the tenant which the resource you are trying to access is in? Though, looking at this message, I think we should try to see if we can get the tenant ID included in there....

[2022-01-20 18:05] MRayermannMSFT commented on #5343
@cesarjo couple of clarifying questions:
- Are you talking about ADLS Gen1 or ADLS Gen2
- When you say "view all file types", what do you mean by view? Are the files you want to see not visible or do you mean something else?

[2022-01-20 18:06] MRayermannMSFT commented on #5338
@imtithewaves can you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-01-20 18:08] MRayermannMSFT commented on #5337
@VenerableSpace azure file shares requires you to have key access. Can you click on the node for the storage account you are working with, look at the properties panel (bottom left), and check that there is a "Primary Key"? You'll have to click on the eye icon to confirm that.

What error are you getting when accessing blobs?

[2022-01-20 18:10] craxal commented on #5346
@v-kellyluo According to the [documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#filtering-on-numeric-properties), to filter on numeric types, you use a unquoted number constant. There's nothing to suggest that the query differentiates between data types.

Granted, I don't think the documentation goes into enough detail. Here are my findings based

[2022-01-20 18:11] MRayermannMSFT commented on #5331
@machowsk thank you so much for providing these logs from the get-go! Unfortunately this is not an error we've ever seen before. Let me forward this to the team that owns this library. Will get back to you once I hear from them.

[2022-01-20 18:15] MRayermannMSFT commented on #5323
@nazmulbhuiyan can you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-01-20 18:16] MRayermannMSFT commented on #5250
Closing due to lack of response. If you are still having problems, we recommend opening an Azure support ticket via the portal.

[2022-01-20 18:16] #5250 closed

[2022-01-20 18:17] MRayermannMSFT commented on #5243
Closing due to lack of response. If you are still having problems, we recommend opening an Azure support ticket via the portal.

[2022-01-20 18:17] #5243 closed

[2022-01-20 18:32] MRayermannMSFT commented on #5275
@CamiloTerevinto

Yes unfortunately your intuition is correct 😰

Unfortunately this is no GitHub repo for Azure Storage. You could submit this as feedback here: https://feedback.azure.com/d365community/ , or if you have someone from sales/CSS you or your company frequently works with you could try sending this feedback that way. We're of course still trying from our side to get the service team to

[2022-01-20 18:32] #5275 closed

[2022-01-20 18:35] MRayermannMSFT commented on #5312
Duplicate of #2679

Though I will let you know, we're making good progress towards being at a place where we can make this feature request a reality. I'd personally love to see this feature happen when it can. We often have the same container open in multiple tabs, where each tab is associated with a different way the account was connected. Having Storage Explorer dynamically add context to tabs,

[2022-01-20 18:35] #5312 closed

[2022-01-20 18:38] MRayermannMSFT commented on #5242
Yes.

For service to service copies? No, not that I know of. :( Best you can do right now is download the data locally and then reupload. :(

[2022-01-20 18:40] craxal commented on #5354
It looks like the query builder is pushing the status message further down. If a window resizing event occurs, the status message and page buttons pop back into view. Also related to #4568

[2022-01-20 18:56] #5315 closed

[2022-01-20 19:01] VenerableSpace commented on #5337
@MRayermannMSFT

Yes I see all 4 of primary key, secondary key, primary connection string, secondary connection string.

This storage account does not have anything in the blog storage. However I am able to access blog storages for other storage accounts under the same resource group.

[2022-01-20 20:33] cesarjo commented on #5343
Hello -
Sorry I was not clear in my description.

I am referring to ADLS Gen2. "View all files (formats)" means a feature/UI that will allow user to open file for viewing - e.g., able to look through the columns and rows for a csv or tsv file format. We also work with the structured stream (.ss extension) file format - i.e., Cosmos as it's referred to internally at Microsoft - and this feature wou

[2022-01-20 21:08] MRayermannMSFT commented on #5350
If 1.21 and older did not have progress % for import, then feel free to move this to later milestone.

[2022-01-20 21:16] MRayermannMSFT commented on #5347
Phil-B we aren't able to repro this, could you share:
- a read-only SAS to a table that we can use to repro the export side of the bug?
- a .csv file with us that we can repro the import side of the bug?

Also to be clear, when you say built-in editor, what do you mean? Are you talking about:
- adding an entity
- editing an entity
- some editor program on windows that you use to edit .csv files

[2022-01-20 21:59] #5349 closed

[2022-01-20 22:07] craxal opened #5356 "Wrong data type for doubles with integer-like values"
If an entity in a table has a property with an integer-like double value (for example, 123.0), the value is incorrectly interpreted to be an Int32 value whenever entities are queried from the table. This includes listing tables in the explorer, export, and table copy.

This can lead to failures in table copy or import, because some integer-like double values exceed the range of Int32.

[2022-01-20 22:08] craxal commented on #5356
See Azure/azure-sdk-for-js#19899.

[2022-01-20 22:33] JasonYeMSFT commented on #4733
Ctrl/Cmd + click for opening as new tab is added for 1.23.0.

[2022-01-20 22:33] #4733 closed

[2022-01-21 00:34] MRayermannMSFT commented on #5343
@cesarjo ok gotcha, right now our recommendation is to download the file yourself and open it in a program specifically designed for working with such file types. Is there a reason you don't want to do that?

[2022-01-21 01:00] MrDRamos commented on #5355
Miss the ability to browse cosmosDB colletions. The ability to have more than 1 tab opened against the same collection was a great feature!

[2022-01-21 01:17] cesarjo commented on #5343
Our data engineering team almost exclusively works with (Cosmos) structured streams --- the .ss extension file format. When working in the Cosmos big data platform (internal to Microsoft), the user can use Explorer web browser to navigate folder path and view contents (in table layout) of the data in .ss files -- there is native support in Cosmos to work with any web browser.

The migration to use

[2022-01-21 02:16] v-xianya commented on #2282
Verified this issue on the build main 20220120.6. Fixed.
![image](https://user-images.githubusercontent.com/41351993/150453525-dc306fe1-99f6-415f-a2c5-5f5d53f2bd17.png)

[2022-01-21 02:16] #2282 closed

[2022-01-21 02:19] v-xianya commented on #5315
Verified this issue on the build main 20220120.6. Fixed.

[2022-01-21 02:23] craxal commented on #5356
A possible workaround is to apply a custom pipeline policy that inserts the expected data type for Double values before the response body gets parsed.

[2022-01-21 02:25] craxal commented on #5350
Progress percentage was not reported initially, so moving to 1.24.0.

[2022-01-21 06:36] v-xianya commented on #5352
Verified this issue on the build hotfix 20220121.1. Fixed.
![image](https://user-images.githubusercontent.com/41351993/150478506-28b83899-83a3-4618-be3a-b2f54bf0eb4f.png)

[2022-01-21 06:36] #5352 closed

[2022-01-21 06:38] v-xianya commented on #5353
Verified this issue on the build hotfix 20220121.1. Fixed.
![image](https://user-images.githubusercontent.com/41351993/150478733-8d656f67-03c4-417d-a599-2effc64915e3.png)

[2022-01-21 06:38] #5353 closed

[2022-01-21 06:41] v-xianya commented on #5351
Verified this issue on the build hotfix 20220121.1. Fixed.

[2022-01-21 06:41] #5351 closed

[2022-01-21 09:18] luconsta commented on #1268
Unfortunately "drag & drop" option is not so obvious... I had to use "Upload folder" button couple of times until I've google it and found that is there a better way. :)

[2022-01-21 09:44] v-xianya opened #5357 "No red border displays for the value field when changing an existing property type to another in 'Add Entity' dialog"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220121.1
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.3)
## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add one entity which contains at least one custom property. as the below:
![

[2022-01-21 10:50] v-kellyluo commented on #5256
**Update:** This issue cannot be reproduced consistently.
![image](https://user-images.githubusercontent.com/87792676/150513932-340e0e88-25ba-41d6-9f48-818b83910f92.png)
![image](https://user-images.githubusercontent.com/87792676/150514449-71177da6-fd66-4d26-adb5-cdd83f681e37.png)

[2022-01-21 11:21] riyaintouch commented on #5330
I used the connection string as was shown in my storage account.

[2022-01-21 11:22] riyaintouch commented on #5330
I am guessing this is a transient issue as after 12hrs I was able to access the file shares when I reconnected the same storage account afresh.

[2022-01-21 11:24] riyaintouch commented on #5336
I used the same connection string that was displayed in my Storage Account in Portal, file shares were accessible but I was not able to download/upload. Then I generated a new SAS from Storage Explorer for the same Storage Account (with read, write permission) and connected the File Share separately using the SAS. Then I was able to do the operations. Can you explain the reason for this observatio

[2022-01-21 11:28] Phil-B commented on #5347
Here's a SAS for a demo table:

https://31a9b3f.table.core.windows.net/Demo5347?st=2022-01-21T11%3A07%3A44Z&se=2023-01-22T11%3A07%3A00Z&sp=r&sv=2018-03-28&tn=demo5347&sig=%2F1kAWNlgdCfVkXGe8SMOkAaToGs3wZSasfmez3qwsRs%3D

Here's the file which is Exported
[Demo5347.csv](https://github.com/microsoft/AzureStorageExplorer/files/7912877/Demo5347.csv)

And here's a file which you can Import
[Demo5347Imp

[2022-01-21 11:40] Phil-B commented on #5347
Just following up, I've now realised that when I open the exported file in notepad the character displays fine. It's only handled incorrectly in Excel. This looks like an excel issue which is already documented

[2022-01-21 11:40] #5347 closed

[2022-01-21 12:00] omkardanke opened #5358 "Unable to fetch child resources Azure Storage explorer"
I am trying to connect to Azure containers using the Azure Storage Explorer from a 'WIndows Virtual Machine'. I am encountering the following error consistently. I do not use any proxy

Unable to retrieve child resources.

Details:
{
"name": "FetchError",
"message": "request to https://zwestmptdatalab1.blob.core.windows.net/?comp=list&include=metadata failed, reason: tunneling socket could not be

[2022-01-21 16:25] ti611h opened #5359 "can't access tennant, and I set up this storage account"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-21 17:37] devjam1 commented on #134
It would be very helpful to have the files list sorted by Last Modified right after the list is loaded.
For my use case, there is no point in exploring ancient files.

[2022-01-21 17:41] craxal commented on #5357
@v-xianya Since nothing has actually been entered in the field yet, I think this is preferable and more consistent with behavior in other dialogs; we shouldn't invalidate something unless the user has actually entered something into the field.

[2022-01-21 17:42] #5357 closed

[2022-01-21 17:47] MRayermannMSFT commented on #5343
@cesarjo are you internal? Can you shoot me a message on teams. I'd like to learn more about what you're talking about.

[2022-01-21 18:01] MRayermannMSFT commented on #5358
@omkardanke can you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-01-21 18:01] MRayermannMSFT commented on #5359
@ti611h can you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-01-21 18:32] ti611h commented on #5359
that did the trick.  Thank you!

[2022-01-21 18:33] #5359 closed

[2022-01-21 20:53] JasonYeMSFT commented on #5336
I don't know for sure. We don't control how Azure Portal generates the connection string. You can submit a ticket on Portal for them to take a look.

[2022-01-21 21:48] jinglouMSFT opened #5360 "Make tenant identifying information on account panel more closely match portal"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-24 01:54] v-kellyluo commented on #5346
Hi @craxal, got it! Thanks for your patience, we are going to close this issue.

[2022-01-24 01:54] #5346 closed

[2022-01-24 07:50] v-xianya opened #5361 "There is no query string in the table statistics activity log under the query status"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220122.3
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Add some entities.
3. Click 'Query' -> Execute query.
4. Click 'Table Stati

[2022-01-24 09:24] RocketRob97 commented on #5241
@MRayermannMSFT Changing the role assignment from Storage Blob Data Contributor to Storage Blob Data Owner solved this issue. Thanks for your input this far. Weird though, that Storage Blob Data Contributor doesn't generate this error with Storage Account key authentication enabled. But feel free to close this from my end.

[2022-01-24 10:39] v-xianya opened #5362 "The Boolean value doesn't auto display as lowercase if adding it by changing an existing property type"
**Storage Explorer Version**: 1.22.1
**Build Number**: 20220122.3
**Branch**: hotfix/1.22.1
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: Ad-hoc testing
**Regression From**: Previous release (1.21.3)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Click 'Add' -> Click 'Add Property'.
3. Input 'str1' to the property name f

[2022-01-24 12:29] clippy-coder commented on #5329
Hi @MRayermannMSFT,

Unfortunately, this did not help within the context of the Azure Storage Explorer app.

I see how this documentation would help in the case of running myself the AzCopy command, but not when the application itself is doing it. I've tried to set the environment variable on my system to see if the ASE would pick up on that, but it doesn't.

I've decided to write a simple script

[2022-01-24 18:24] #5330 closed

[2022-01-24 18:25] MRayermannMSFT commented on #5329
Hmmmm that doesn't sound right. That should have worked for you, I'll take a look at this and see if we're doing something we shouldn't.

[2022-01-24 18:26] MRayermannMSFT commented on #5295
Closing due to lack of response. If you are still having problems we recommend opening a ticket from the Azure Portal.

[2022-01-24 18:26] #5295 closed

[2022-01-24 18:26] MRayermannMSFT commented on #5249
Closing due to lack of response. If you are still having problems we recommend opening a ticket from the Azure Portal.

[2022-01-24 18:26] #5249 closed

[2022-01-24 18:26] #5241 closed

[2022-01-24 18:48] MRayermannMSFT commented on #5337
@VenerableSpace your title says you also got an error when trying to navigate to blob storage. So if there wasn't an error, is your title a typo?

When you say you see all 4 of those things, did you click on the eye icon to reveal the values, and made sure they were really there? Like this:
![image](https://user-images.githubusercontent.com/21112697/150844819-bd383089-f490-4632-920a-d6d188e634fc.p

[2022-01-24 18:50] MRayermannMSFT commented on #5327
@borjxrroyo when you check the values of the keys, please make sure to click on the eye icon to reveal the values to make sure there are actually values there. Additionally, can you follow [these](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#storage-explorer-logs) steps for gathering Storage Explorer logs, and then share your logs with

[2022-01-24 19:03] MRayermannMSFT commented on #2573
Update! I was able to open a PR against Electron that added `rawHeaders` and that has now been merged. Once Electron releases a new patch to Electron 16, we will take that version, and I can implement the recommended workaround from the Azure SDK team.

[2022-01-24 19:41] JasonYeMSFT commented on #4572
There is no non-JS way to force integer widths. I had an idea to visually mitigate this issue.

[2022-01-24 21:51] craxal opened #5363 ""Open in Folder" after table export goes to wrong location"
| | |
|-|-|
| **Storage Explorer Version** | 1.22.0
| **Regression From** | unknown |
| **Architecture** | x64 |
| Storage Explorer Build Number | 20211211.10 |
| Platform | Linux |
| OS Version | Ubuntu 20.04 (snap) |

## Bug Description
The "Open in Folder" action for a completed export activity does not open the folder containing the export file. It only opens the user's Home directory.

Steps

[2022-01-24 21:51] JasonYeMSFT commented on #4768
We have shipped a patched version 1.22.1 which bumps all related timeout parameters to 30 seconds.

[2022-01-24 21:51] #4768 closed

[2022-01-24 21:52] JasonYeMSFT commented on #4965
We have shipped a patched version 1.22.1 which stops leaking XWindow objects.

[2022-01-24 21:52] #4965 closed

[2022-01-25 00:57] craxal opened #5364 "Include `--analyze` compiler option for macOS and resolve warnings"
The following should be done for all native Node packages:
* The `"--analyze"` compiler option should be added to the binding.gyp file for macOS.
* Any warnings that come up during compilation should be resolved.

- [x] clipboard-files
- [x] se-osx-keychain
- [x] system-format

See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1444528.

[2022-01-25 01:48] JasonYeMSFT opened #5365 "Publish debug symbols of our native modules"
As required by the security policy, we need to publish debug symbols for our shipped native modules.

[2022-01-25 05:04] myamma commented on #3086
Thanks Gromag! I would not have noticed that small vertical bar if not for your post

[2022-01-25 06:36] v-xianya commented on #5272
Verified this issue on the build 20220124.2. Fixed. so close it.
![image](https://user-images.githubusercontent.com/41351993/150923786-deaf1ff9-e972-4d2d-a51d-e706988dfa0b.png)

[2022-01-25 06:36] #5272 closed

[2022-01-25 06:40] v-xianya commented on #5285
Verified this issue on the build 20220124.2. Fixed. so close it.
![image](https://user-images.githubusercontent.com/41351993/150924600-96a75e01-04b0-438a-9518-001540109346.png)
![image](https://user-images.githubusercontent.com/41351993/150924707-c92cf7f5-720e-4d89-b607-7c29eab05dec.png)

[2022-01-25 06:40] #5285 closed

[2022-01-25 07:10] v-xianya commented on #5239
Verified this issue on the build main 20220124.2.
The string 'More Details...' has been removed. So close it.
![image](https://user-images.githubusercontent.com/41351993/150927540-566ee2cc-d1b2-46ff-bfcb-fd9141ddfb4a.png)

[2022-01-25 07:10] #5239 closed

[2022-01-25 08:25] tleepa opened #5366 "Support for socks proxy"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-25 09:58] v-kellyluo opened #5367 "The cloned emulator blob container doesn’t auto display when cloning one new cloned blob container"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220124.2
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**Emulator Version:** Azurite 3.14.3
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Install and run Azurite 3.14.3 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Defau

[2022-01-25 10:20] v-kellyluo opened #5368 "An extra scroll bar displays in the 'Shared Access Signature' dialog for one ADLS Gen2 blob container when timestamp validation error occurs"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220124.2
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Right click the blob container -> Click 'Get Shared Access Signa

[2022-01-25 16:28] lmulligan27 opened #5369 "Unable to import, update or delete any table data using emulator"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-25 17:38] #5254 closed

[2022-01-25 21:47] MRayermannMSFT commented on #5369
@lmulligan27 a couple of things:
- We're in the middle of releasing a hotfix for 1.22.0. Can you please try again with that hotfix? You can find it here: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.22.1
- Would you be willing to share the full .csv you are trying to import to Azurite? If you do not wish to post it here, we can give you an e maiil address to send it to.

[2022-01-25 21:48] MRayermannMSFT commented on #5366
@tleepa can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-01-25 21:55] MRayermannMSFT commented on #4180
@stewartadam as an FYI, in our latest major release, 1.22, the number of files went from 18k to 13k. Between now and the end of this year, I'd love for us to get below 10k, but there's a lot of work that needs to be done for that. Unfortunately we have lots of things to do, so I can't promise anything, but please rest assured this is something we are actively working towards, even if only step by

[2022-01-25 22:06] MRayermannMSFT commented on #3561
@edfreeman @davyhoyle two things that may be of interest to y'all. In April 2021 we switched to MSAL by default. We also made it so you only log into your home tenant by default, and logging into other tenants is done explicitly by the user:
![image](https://user-images.githubusercontent.com/21112697/151067525-291f2715-008e-4cec-8476-3e2e850766f3.png)

How much do these changes help y'all? What ad

[2022-01-25 23:27] clippy-coder commented on #5329
@MRayermannMSFT Thank you so much for your detailed answer. I've managed to make it work following the exact steps you've explained.

It was important to:

- set both paths (logs and plans)
- set them in a place where the user account had access
- restart the ASE after that so that changes where picked up by the app

However, for some reason the .azcopy folder keeps getting created on the User acc

[2022-01-26 01:41] craxal commented on #5321
Looks like the biggest problem was the use of incompatible versions of `tslint` and `gulp-tslint`.

[2022-01-26 01:44] craxal opened #5370 "Migrate linting to `eslint` + `typsecript-eslint`"
TSLint has been deprecated for some time and is no longer updating. We should consider migrating to `eslint`. We can use [their documentation](https://typescript-eslint.io/).

It should be noted we may not find similar rules that we typically use (for example, making sure our files have a header comment).

[2022-01-26 03:27] v-kellyluo commented on #5363
This issue doesn't reproduce for a released .tar.gz.
Here is the record:
![folder](https://user-images.githubusercontent.com/87792676/151097930-1c7483be-3034-4293-9535-e114db2682d9.gif)

[2022-01-26 06:10] VenerableSpace commented on #5337
The title is correct, I misinterpreted the error the last time around (ie. https://github.com/microsoft/AzureStorageExplorer/issues/5337#issuecomment-1017825435 comment is incorrect). There are blob storage in the storage account which I cannot access. sorry about that.

Yes I have revealed the values and they are present.

I have obtained logs for this. There seems to be some sensitive informatio

[2022-01-26 07:06] v-xianya opened #5371 "The attached file share doesn't automatically open"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220125.10
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Right click one file share -> Click 'Get Shared Access Signature...' -> Click 'Creat

[2022-01-26 07:06] v-xianya opened #5372 "An error "Provider not found for opeartion 'Azure.Storage.Table.creatEntity' " occurs when adding/editing one entity"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220125.10
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Open one table -> Click 'Edit' -> Click 'Update'.
3. Check no error occurs.

## Expected

[2022-01-26 07:07] v-xianya opened #5373 "There is a failed activity log with an error 'TypeError:Cannot read properties of undefined (reading 'type')' when attaching one table"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220125.10
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Right click one table -> Click 'Get Shared Access Signature...' -> Click 'Create' -> Copy

[2022-01-26 08:43] v-xianya opened #5374 "An error info bar pops up when opening one storage account/blob container/file share/queue/table using its direct link"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220125.10
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Right click one storage account -> Click 'Copy Direct Link to Account'.
2. Paste the direct link to the Edge browser -> Open the l

[2022-01-26 09:16] v-kellyluo opened #5375 "No 'Tables' option displays on the filter panel after clicking Filter button in the search box"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220125.10
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** From running test case
**Regression From:** Previous release (1.22.0)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Click Filter button in the search box.
3. Check whether the 'Tables' option displays on the filter pa

[2022-01-26 10:10] v-xianya opened #5376 "The 'Enable Soft Delete' button is selected by default on the 'Delete' dialog"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220125.10
**Branch**: main
**Platform/OS**: MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers. (Make sure the soft delete is disabled)
2. Create a blob container -> Upload one blob -> Click 'Delete'.
3. Check

[2022-01-26 11:35] v-xianya opened #5377 "The value of the property 'Name' is focused when opening one item's Properties dialog"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220125.10
**Branch**: main
**Platform/OS**: MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Bug Descriptions ##
1. The value of the property 'Name' is focused on the 'Properties' dialog.
1. The value of the 'Access Policy' is focused on 'Shared Access Signature' dialog.
2. The

[2022-01-26 16:10] dchavez3 opened #5378 "Unable to Retrieve Child Resources"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-26 17:49] lmulligan27 commented on #5369
Thanks for the prompt reply! I tried the updated version no luck unfortunately.
I don't think the data is the issue however as the error is reproduceable with any table.
In addition I could not update any data in an existing table. However I downloaded version the previous version before 1.22.0 and it worked.
Thanks for your help!

[2022-01-26 18:15] craxal commented on #5378
@dchavez3 A few questions for you:
1. Can you update to the latest version of Storage Explorer available? 1.19.0 is almost a year old.
2. How are you connecting to your blob container? Are you signing in, attaching via sign in, or attaching using a SAS URL?
   - If you are signing in or attaching via sign in, do you have the [necessary RBAC permissions](https://docs.microsoft.com/en-us/azure/stora

[2022-01-26 18:21] craxal commented on #5369
@lmulligan27 We made a few fixes for importing and exporting in 1.22.1, so it's concerning that it doesn't work for you. How large is the table you are exporting? How large is the file you're importing? What's the general structure of the data in the table (number of properties, data types, characters used, etc.)? Would you be willing to provide a sample CSV file we could try importing?

[2022-01-26 18:39] #5321 closed

[2022-01-26 21:47] JasonYeMSFT opened #5379 "Expose PID of main and renderer process in logs"
External debugger needs the PID to be able to attach to the correct process.

[2022-01-26 22:13] MRayermannMSFT commented on #5329
I'll raise this issue with the AzCopy team. Glad you were able to get it figured out. :)

[2022-01-26 22:13] #5329 closed

[2022-01-26 23:13] MRayermannMSFT commented on #5337
@VenerableSpace you are free to redact whatever you'd like with the logs before posting them here. Alternatively, if you'd rather just not have to deal with redaction, or would be ok just redacting a few things (or nothing) if you could send us the logs more privately, then you could do that and electronically mail us your logs via sehelp àt microsoft dôt com.

[2022-01-26 23:50] stewartadam commented on #4180
@MRayermannMSFT thanks for the update! This is good to hear.

I recognize I'm commenting from a user perspective with little knowledge of the codebase challenges involved - but wanted to share that even with a couple thousand, it's still going to cause long delays due to the high number of filesystem calls involved (particularly so if not on a solid state disk). Perhaps something like webpack can

[2022-01-27 00:06] VenerableSpace commented on #5337
Hello,

If its ok I will just email my logs internally. Its not just subscription ID but also the blob storage names that are being accessed that is sensitive (I wouldn’t want it being public).

Thanks

From: Matthew Rayermann ***@***.***>
Date: Wednesday, January 26, 2022 at 3:14 PM
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: Farrukh Rahman ***@***.***>, Mention ***@***.***>
Subject: Re:

[2022-01-27 00:34] JasonYeMSFT commented on #5365
Integrated the task to publish symbol files and documented steps to access them.

[2022-01-27 00:34] #5365 closed

[2022-01-27 00:42] craxal commented on #5375
This will be fixed once table nodes have been migrated to the extension.

[2022-01-27 00:49] craxal commented on #5372
We had some trouble with the component build yesterday, so we weren't able to get the necessary update out in time. That should be fixed now, so please reverify with the next build.

[2022-01-27 00:51] craxal commented on #5377
@MRayermannMSFT @JasonYeMSFT I thought we wanted the first focusable element to get focus in each dialog. Is dialog accessibility adversely affected by this?

[2022-01-27 00:52] MRayermannMSFT commented on #5374
@v-xianya I'm having a hard time repro'ing this. I've added some additional logging to this code path. Can you increase log level to `debug`, repro, and then share your logs with me? Thanks!

[2022-01-27 00:58] #5361 closed

[2022-01-27 02:08] v-xianya commented on #5361
Verified this issue on the build 20220127.4. Fixed.
![image](https://user-images.githubusercontent.com/41351993/151279154-4c596c80-4a90-4a68-9560-402d4f500e5e.png)

[2022-01-27 02:15] v-xianya commented on #5375
Verified this issue on the build 20220127.4. Fixed.

[2022-01-27 02:15] #5375 closed

[2022-01-27 03:08] v-xianya commented on #5374
@MRayermannMSFT
Hi Matthew, Here is the logs [2022-01-26_185745.zip](https://github.com/microsoft/AzureStorageExplorer/files/7947233/2022-01-26_185745.zip)

[2022-01-27 06:56] v-xianya opened #5380 "The 'Yes' button is selected by default in the 'Warn before exit' dialog on MacOS"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220127.4
**Branch**: main
**Platform/OS**: MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Open one blob container -> Upload a large folder to it.
3. Quit Storage Explorer when the transfer activity is

[2022-01-27 07:25] tleepa commented on #5366
I may have forgotten to mention, that I am using Storage Explorer on Linux - so AFAIK system proxy settings are the same as environment variables?

[2022-01-27 07:49] v-xianya opened #5381 "Can't open Storage Explorer again if it was closed by clicking 'Yes' on the 'Warn before exit' dialog"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220127.4
**Branch**: main
**Platform/OS**: MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Open one blob container -> Upload a large folder to it.
3. Quit Storage Explorer when the transfer activity is

[2022-01-27 09:29] v-kellyluo commented on #5034
This issue also reproduces in the following steps:

1. Expand one storage account -> Blob Containers. (Make sure the soft delete is enabled)
2. Create a blob container -> Upload one blob.
3. Chang its access tier to 'Archive' -> Change its access tier to 'Cool'/'Hot'.
4. Delete the blob -> Upload a blob whose name is same as the deleted blob.
5. Check succeeds to upload the blob.

## Actual Experi

[2022-01-27 11:03] v-kellyluo opened #5382 "Fail to upload one blob with the same name if deleting a blob whose ArchiveStatus is rehydrate-pending-to-hot/cool"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220127.4
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers. (Make sure Soft Delete is enabled)
2. Create a blob container -> Upload one blob.
3. Chang its acces

[2022-01-27 18:13] MRayermannMSFT commented on #5366
@tleepa are they? I think that would greatly depend on your distro. How have you configured the proxy for your distro?

[2022-01-27 18:22] MRayermannMSFT commented on #5337
Issue resolved. Keys were obtained and correct. Issue was that the storage account had an ip restriction. Restriction was updated and things worked as normal.

[2022-01-27 18:22] #5337 closed

[2022-01-27 18:25] tleepa commented on #5366
Well, I haven't. Because I do not need proxy for regular use. I would only need it for specific purposes, like this one :)

BTW, my setup is a bit complicated. I have Fedora with KDE as my desktop OS, but installed Storage Explorer in https://github.com/89luca89/distrobox, under Ubuntu 20.04.

[2022-01-27 19:53] MRayermannMSFT commented on #4180
@stewartadam  Yes, that is exactly what we are using! The issue is that the architecture of Storage Explorer was originally written without any concern for bundling. And unfortunately that also led to an architecture where we can't just simply start webpacking without doing anything else. So we're having to enable webpacking slower than you might expect.

[2022-01-27 20:20] n7qnm opened #5383 "Error accessing an NFS Share"
Hi - I want to access an NFS Share already established in a Storage Account.

When I try, I see this:

Please respond to clay.jackson@quest.com

Unable to retrieve child resources.

Details:
{
  "name": "Error",
  "message": "File Shares do not support Azure AD access",
  "stack": "Error: File Shares do not support Azure AD access\n    at FileServiceClient._createPipeline (C:\\Program Files (x86)\

[2022-01-28 01:34] MRayermannMSFT commented on #5381
@v-xianya I was unable to repro, but I went ahead and took a guess at what could be happening, an added some code to help prevent it. Can you:
1. Try to repro this again with tonight's build, with logging level to `debug` (not `verbose`)
2. If you do repro then share the two newest log folders in the log directory (may be easier to just delete all log folders before you try to repro, and then afte

[2022-01-28 01:35] MRayermannMSFT commented on #5374
@v-xianya It looks like your log level was set to `verbose`, can you do it again at level `debug`? I have some things that only log at `debug`, which is the highest logging level we have. Sorry about that!

[2022-01-28 02:19] v-xianya commented on #5373
Verified this issue on the build 20220127.17. Fixed.

[2022-01-28 02:19] v-xianya commented on #5371
Verified this issue on the build 20220127.17. Fixed.

[2022-01-28 02:19] #5373 closed

[2022-01-28 02:19] #5371 closed

[2022-01-28 03:36] v-xianya commented on #5381
@MRayermannMSFT Hi Matthew, thank you for the prompt response!
Verified this issue on the latest build 20220127.17. Not reproduce. so close it.

[2022-01-28 03:36] #5381 closed

[2022-01-28 06:59] v-xianya commented on #5374
@MRayermannMSFT Hi Matthew, Here is the logs folder, I set the log level to 'Debug'.
[2022-01-27_224158.zip](https://github.com/microsoft/AzureStorageExplorer/files/7956384/2022-01-27_224158.zip)

BTW, what do you mean the log level 'verbose', it seems no 'verbose' option in the log level. 😲
![image](https://user-images.githubusercontent.com/41351993/151501198-b7222795-d8c3-4c25-928a-94517d091620.

[2022-01-28 07:24] AnjanMukherje opened #5384 "ssh to server and run StorageExplorer is giving password manager service error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-28 07:58] v-kellyluo opened #5385 "The file share snapshot doesn't automatically disappear in the split tab after deleting the file share snapshot in the original tab"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220127.17
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> File Shares.
2. Create a file share -> Right click the file share -> Click 'Create Snapshot'.
3. Go to the file shar

[2022-01-28 10:18] v-xianya opened #5386 "An error info bar pops up when attaching one file share if there is a file share attach action previously"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220127.17
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.0)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Right click one file share -> Click 'Get Shared Access Signature...'.
3. Click 'Crea

[2022-01-28 14:17] jeff-r-koyaltech commented on #1972
I would be interested in contributing code for this one. But perhaps if leadership on the team could help me scope it to something that would get accepted as a PR. My immediate use case would just be metadata at the file share level, and perhaps at folder levels within that file share. I would want to code it to see the key value pairs present in a column as you browse the file share.

As a workar

[2022-01-28 15:16] aematteo opened #5387 "It's not possible to overwrite existing table rows importing from CSV"
### Preflight Checklist

- [x] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-28 17:45] JasonYeMSFT commented on #5385
Our code manually reloads the data table where the snapshot is deleted instead of sending a refresh event to all the matching explorers. We should move to refreshing all matching explorers instead.

[2022-01-28 17:50] MRayermannMSFT commented on #5374
@v-xianya, that is the log level for AzCopy. The storage explorer log level is different. To set that log level you have to set the `STG_EX_LOG_LEVEL` to the string matching the log level you want, in this case `debug`.

[2022-01-28 17:51] JasonYeMSFT opened #5388 "Allow users to control the maxPageSize used by listing based jobs"
Generated from an ICM where a customer hit some kind of bandwidth limitation by their internet service provider when running our blob listing based jobs. We currently hardcode the maxPageSize to be 5000 for those jobs. When the limit is hit, the ISP drops the connection.

[2022-01-28 17:57] craxal commented on #5364
For some reason, including the `--analyze` flag in the binding.gyp interferes with the context-awareness property Node modules require to run in Electron. This is a shame, because static analysis did in fact find some potential memory leaks that needed plugging up. We should find a way to run analysis separate from the "functional" build.

[2022-01-28 18:21] MRayermannMSFT commented on #5383
@n7qnm this error is a red herring. Can you:
1. Repro the problem
2. Click on Help -> Open Logs Directly
3. Go into the newest folder
4. Share the log file with the words "file-extension" in it to this issue.
Thanks!

[2022-01-28 19:08] n7qnm commented on #5383
OK – here’s the log – I’m suspecting that the Authorization failure is because I haven’t done a key exchange (because the Azure Support folks told me it wasn’t required).  I’m going to try that now; but any additional insight you can give me would be good.

Can you direct future replies to

***@***.*** ***@***.***>

(my work email).

Thanks!

[2022-01-28T19:03:36.162Z] (se-file-extension_14508) <I

[2022-01-28 20:08] craxal commented on #5387
@aematteo You're correct. I've also verified that this is a regression from 1.23.1. Thanks for letting us know!

[2022-01-28 20:29] N3WWN commented on #3747
@JasonYeMSFT Any update on this?

The Portal web-based "Storage Explorer (Preview)" is no longer working to generate Partner Center compatible SAS URIs.

I just tried `az storage blob generate-sas ...` and that doesn't work for read+list permissions either.

To the best of my knowledge, there is no longer _**any**_ way to generate SAS URIs with read+list permissions which means publishing of new i

[2022-01-28 21:24] JasonYeMSFT commented on #3747
@N3WWN According to our conversation with the service team, it should now be able to accept SAS url with only read permission right now. Is the submission process you are using still require a SAS with both read and list permission?

[2022-01-28 21:41] N3WWN commented on #3747
Hi @JasonYeMSFT !

Yes...This is the result of attempting to save when adding new images to the technical configuration of a plan:

![image](https://user-images.githubusercontent.com/19431804/151625295-e5df2566-e946-423e-a663-967a52a6feb6.png)

This error was from this afternoon.

[2022-01-28 23:21] JLente opened #5389 "Error connecting to blob storage container"
trying to connect and receiving the following error.   can see all is available through the console but cannot get Storage Explorer to connect.   First occurance of this issue at 4:00pm Mountain time   1/28/2022...  any insight appreciated

Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://btfaentwestgenstorage.blob.core.windows.net/?comp=list

[2022-01-29 02:20] v-xianya commented on #5374
@MRayermannMSFT Got it. thank you for the updates! Here is the log:
[2022-01-28_181718.zip](https://github.com/microsoft/AzureStorageExplorer/files/7962807/2022-01-28_181718.zip)

[2022-01-29 04:32] SIUNETWORKSGitHub opened #5390 "File Shares with Azure"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-29 10:41] vmiokovic opened #5391 "Configure CORS Settings - Error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-01-30 03:27] v-xianya opened #5392 "The string "case-insensitive" in the search by prefix box for the file share explorer is incorrectly translated on ZH-CN"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220129.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04
**Language**: Chinese (simplified)
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文(简体)' -> Restart Storage Explorer.

[2022-01-30 06:04] v-xianya opened #5393 "The options 'Tables & Data Lake Store Gen1' are not translated in the 'Search for resources of type' panel"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220129.4
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04
**Language**: Czech/zh-CN/zh-TW/German/Spanish /French /Italian/Japanese/Korean/Dutch/Portuguese (Brazil)/Swedish
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer.
2. Open 'Settings' ->

[2022-01-30 06:39] v-kellyluo opened #5394 "A dialog with message "[sprintf] unexpected placeholder" pops up when clicking 'Configure Soft Delete Policy...' for blob containers node"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220129.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04
**Language:** Chinese (simplified)
**How Found:** From running test case
**Regression From:** Previous release (1.20.0)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (Regional Settings) -> Select '中文(简体)' -> Restart Storage

[2022-01-31 08:38] aditheppru opened #5395 "Unable to import entity with partition key 'xx' and row key 'yy'"
After upgrading Microsoft Azure Storage Explorer to version 1.22.1, when I imported a csv file, I got a dialog error "Unable to import entity with partition key 'xx' and row key 'yy'". I understand that the row with the partition key and row key from the csv file already exists in the target storage table. However, before I upgraded the Explorer to version 1.22.1, I had a csv file containing dupli

[2022-01-31 18:10] MRayermannMSFT commented on #5383
@n7qnm thanks. Two questions:
1. Did you attach this file share/storage account to Storage Explorer manually? If so, can you please make sure that the key you used when attaching is correct/still valid. It is possible that they key has rotated or perhaps there is a typo in the value you used.
2. Does the Storage Account have any sort of firewall or IP restrictions on it? If so, can you please make

[2022-01-31 18:14] #4572 closed

[2022-01-31 18:14] MRayermannMSFT commented on #5366
@tleepa , interesting. Well can you at least give the system proxy setting a try? The name may make it seem pointless given the situation you are in, but I think it would be good to try...?

[2022-01-31 18:18] MRayermannMSFT commented on #5302
Closing due to lack of response. If you are still having problems we recommend opening a support ticket via the Azure Portal.

[2022-01-31 18:18] #5302 closed

[2022-01-31 18:18] MRayermannMSFT commented on #5263
Closing due to lack of response. If you are still having problems we recommend opening a support ticket via the Azure Portal.

[2022-01-31 18:18] #5263 closed

[2022-01-31 18:19] MRayermannMSFT commented on #5261
Closing due to lack of response. If you are still having problems we recommend opening a support ticket via the Azure Portal.

[2022-01-31 18:19] #5261 closed

[2022-01-31 18:41] MRayermannMSFT commented on #5384
@AnjanMukherje how are you seeing the error if you are just doing SSH without any sort of window forwarding? Storage Explorer is a GUI tool, so you do need to have the UI visible to be able to use it. I would assume there would be issues running it in scenarios that include not having the UI visible. Did you install via snap or .tar.gz?

[2022-01-31 18:43] MRayermannMSFT commented on #5382
Going to treat this as a duplicate of the linked issue (#5034).

[2022-01-31 18:45] #5380 closed

[2022-01-31 18:49] MRayermannMSFT commented on #5376
Make sure #5380 is also fixed, but try not to disrupt the behavior for other dialogs as described in #5377

[2022-01-31 18:49] #5377 closed

[2022-01-31 18:56] AnjanMukherje commented on #5384
@MRayermannMSFT Thanks for your reply, yes when we did ssh with window forwarding that's why the GUi is poping up with error with display. We have tried both snap and tar.gz mode both having same issue. This is running properly if we start display manager on that machine and access that with display manager else ssh to that machine from other Display manager is giving same error. display is not an

[2022-01-31 19:28] craxal commented on #5395
@aditheppru Thanks for letting us know. This is a known issue that we're working on. If you are blocked by this issue, you can revert back to [1.21.3](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.21.3) until a fix is available.

Duplicate of #5369

[2022-01-31 19:28] #5395 closed

[2022-01-31 19:29] #5386 closed

[2022-01-31 19:31] JasonYeMSFT commented on #5394
This is caused by an incorrectly translated string.

[2022-01-31 19:50] #5067 closed

[2022-01-31 23:54] alexastall opened #5396 "Error when trying to add boolean property since version 1.22.0"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-01 01:21] craxal commented on #5318
@v-xianya We updated the table extension several times since this was opened. Can you verify whether this reproduces?

[2022-02-01 01:22] craxal commented on #5317
@v-xianya We updated the table extension several times since this was opened. Can you verify whether this reproduces?

[2022-02-01 01:24] craxal commented on #5200
@v-xianya We updated the client library some time ago, and the link error is now closed. Can you verify whether this reproduces?

[2022-02-01 10:18] tleepa commented on #5366
I will try using system proxy settings, but I would need to do it in a VM (setting proxy globally on my system would mean I will not be able to do anything else ;)) and I currently do not have much time for it.

In the meantime, I have managed to work this around using privoxy: I have set ASE to use privoxy's as HTTP proxy and privoxy forwards traffic to my SOCKS proxy using [forwarding settings](

[2022-02-01 19:24] JasonYeMSFT commented on #5303
@luisrdzruiz I cannot reproduce this issue on a Fedora 35 VM after installing Storage Explorer to my /opt/StorageExplorer directory. I would recommend re-installing the .tar.gz in a user directory and retry running it. If the problem still exists, could you try installing it from snap? It usually has less problem with dependencies.

[2022-02-01 21:23] JasonYeMSFT commented on #5266
When listing for clone, we incorrectly send "" as the delimiter to Azurite. The public blob service ignores that parameter but Azurite takes it and return blobs in hierarchy instead of in flat. Our old js copy code thus try to copy a directory which doesn't exist as a blob.

[2022-02-01 21:38] #5266 closed

[2022-02-01 21:40] JasonYeMSFT commented on #5339
The problem is caused by a race condition in our existing data table implementation. Theoretically all existing data tables may run into this problem but the chances are low and they can all be mitigated by perform an additional refresh. I am currently working on a data table component to replace the existing implementations and this problem will be addressed there.

[2022-02-01 21:40] #5339 closed

[2022-02-02 00:51] JasonYeMSFT commented on #5106
Done localizing these strings for 1.23.0. Will be waiting for translations.

[2022-02-02 01:38] craxal commented on #5396
@alexastall Can you share the `se-table-extension` log file?

[2022-02-02 07:32] bvbeek opened #5397 "Error: Unable to load attached Storage Account. Error: Cannot read property 'version' of undefined"
---
Version: 1.22.1
AzCopy Version: 10.13.0

Platform: Windows
Architecture: ia32
Build Number: 20220122.3
Commit: 7b2b13504
Support ID: 6a3ca3f0-af20-3ed3-75fa-36006a8ba54f

Copyright © 2022 Microsoft. All rights reserved.
---
When I click on a storage account I got this error:
![image](https://user-images.githubusercontent.com/28626283/152111980-d1ea1fa8-a3b8-489b-bdfa-e435dc2ad8ed.png)

Unable

[2022-02-02 10:28] alexastall commented on #5396
Where can I find this file on Mac?

Thanks

[2022-02-02 11:04] alexastall commented on #5396
[2022-02-02_105545_se-table-extension_61596.log](https://github.com/microsoft/AzureStorageExplorer/files/7985844/2022-02-02_105545_se-table-extension_61596.log)

[2022-02-02 15:16] edfreeman commented on #3561
Hi @MRayermannMSFT ,

Unfortunately, the updates don't help with the use-case I outlined in the issue.

The problem is that non-AAD / MSA users don't have a "home" tenant, and are therefore not recognised on the initial login screen. These are "External Identities" which authenticate via the [Email one-time passcode](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/one-t

[2022-02-02 17:15] vicrxl opened #5398 "Cannot Expand Tables in Storage Accounts/Emulator"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-02 17:45] craxal commented on #5396
@alexastall From the log, it looks like you're connecting to a storage emulator, correct? If that's true, this is an issue we are already aware of (#5299).

Does this issue still reproduce if you connect to a table in Azure?

[2022-02-02 19:00] gsmcdonald commented on #5262
I am also having this issue. An additional process does appear, but using the key combinations to try to get the dialog in view does not work. The dialog does not appear when using `Win + Tab` either. I have tried reinstalling storage explorer with no luck.

Since I've done a fresh install, is there any way for me to download an older version?

[2022-02-02 22:25] craxal commented on #5262
@gsmcdonald Take a look at our [Releases](https://github.com/microsoft/AzureStorageExplorer/releases) page. You should be able to download the verison you need from there.

[2022-02-02 22:40] JasonYeMSFT commented on #5394
The fixed resource strings have been merged to main. This should have been fixed.

[2022-02-02 22:45] gsmcdonald commented on #5262
Thank you. v1.20 worked.

Laptop (XPS 13) with 2 external monitors (2560x1400; 100% zoom) and my laptop display (3840x2400; 300% zoom)
i7-1065G7 CPU 8GB RAM (~50% CPU utilization, ~85% RAM utilization (VisualStudio mainly)
I have not tried with GPU rendering explicitly turned off (and have since installed the old version)
I've noticed it when trying to open/edit records in tables. I think I also s

[2022-02-03 00:58] MRayermannMSFT commented on #5391
Thanks for reporting this. Unsure how this was missed for so long? The fix will get shipped in 1.23

[2022-02-03 00:58] #5391 closed

[2022-02-03 05:20] Jigar191089 opened #5399 "Azure Storage Explorer - Issue in Delete Blob"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-03 07:58] bvbeek commented on #5397
Next day: problem automatically solved :)

[2022-02-03 07:58] #5397 closed

[2022-02-03 10:44] alexastall commented on #5396
Agreed, this is only an issue on storage emulator. I didn't see the other issue prior to raising this. Happy to close and await fix for (#5299)

Thanks for your help!

[2022-02-03 10:44] #5396 closed

[2022-02-03 11:19] JCKodel opened #5400 "Doesn't open some tables anymore"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-03 18:29] MRayermannMSFT opened #5401 "Handle credential store failures better during AzCopy transfers"
- [x] Notify user with link to documentation
- [x] Write documentation

[2022-02-03 21:44] craxal opened #5402 "Consider a `getConnectionString` function in `StorageConnectionUtils`"
The various `get*ConnectionString` functions tend to be used in chains like the following:

[code]

We should have a `getConnectionString` function that always returns a connection string (using either a predefined order or an option to determine which credential to use), warning that there might not be credentials if the connection had none.

[2022-02-03 23:30] ShippyMSFT opened #5403 "Endless number of processes launched if you choose 'Install and close' and there are pending operations"
Running version 1.21.3. I got a notification about a new version available so I told it to 'Install on close'. When I closed the app I had forgotten that I had a large transfer still in progress. It popped up a dialog asking if I was sure I wanted to exit because of the operations in progress, but then it also tried to launch the upgrade which prompted me with a UAC dialog. Then it started doing t

[2022-02-03 23:34] craxal commented on #5369
@lmulligan27 When you import data into a table, are the target tables empty, or do they have existing entities in them that are also in the CSV file you're importing?

Possibly related to #5387.

[2022-02-04 07:25] OzBob commented on #3229
I would propose that a 4th button be added that would open command prompt with default azurite start command

[2022-02-04 18:44] hollidayh opened #5404 "Can't connect to Storage container"
Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://dsvmstorage.file.core.usgovcloudapi.net/?sv=2020-08-04&ss=bfqt&srt=sco&sp=rwdlacupx&se=2023-01-01T02:40:25Z&st=2022-02-04T18:40:25Z&spr=https&SAS Token Redacted&comp=list failed, reason: self signed certificate in certificate chain",
  "stack": "FetchError: request to https://dsvmstorage.file.c

[2022-02-04 22:34] #5362 closed

[2022-02-07 01:57] v-xianya commented on #5317
@craxal Verified this issue on the build main/20220206.3. Fixed.

[2022-02-07 01:57] #5317 closed

[2022-02-07 01:59] v-xianya commented on #5318
@craxal This issue still reproduces on the latest build main/20220206.3.

[2022-02-07 02:01] v-xianya commented on #5200
@craxal This issue still reproduces on the build main/20220206.3.
![image](https://user-images.githubusercontent.com/41351993/152713435-a8bd2992-7eab-4d12-922d-1d73f35a97ef.png)

[2022-02-07 02:04] v-xianya commented on #5362
Verified on the build main/20220206.3. Fixed.

[2022-02-07 02:21] v-kellyluo commented on #5394
Hi @JasonYeMSFT, verified this issue on the build main/20220206.3, it also reproduces.
![image](https://user-images.githubusercontent.com/87792676/152714687-bafc9c8d-91f0-4269-a3a7-7ff04f69ebd8.png)

[2022-02-07 03:14] v-xianya commented on #5386
Verified this issue on the build 20220206.3. Fixed.

[2022-02-07 03:23] v-kellyluo commented on #5106
@JasonYeMSFT, This issue still reproduces on the build main/20220206.3.

[2022-02-07 03:40] v-xianya opened #5405 "The sign (SAS) doesn't display for one attached file share if there is a file share attach action previously"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220206.3
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Reload Storage Explorer -> Expand one storage account -> File Shares.
2. Right click one file share -> Click 'Get Shared Access Sig

[2022-02-07 04:57] Grampa-Steve opened #5406 "Can't create a new folder nor upload a file to Data Lake Gen 2. "Not authorized...""
{
  "name": "RestError",
  "message": "This request is not authorized to perform this operation using this permission.\nRequestId:900f8bd5-801f-002a-66de-1b04b5000000\nTime:2022-02-07T04:54:50.7319618Z",
  "stack": "RestError: This request is not authorized to perform this operation using this permission.\nRequestId:900f8bd5-801f-002a-66de-1b04b5000000\nTime:2022-02-07T04:54:50.7319618Z\n    at ha

[2022-02-07 10:34] v-xianya commented on #5106
@JasonYeMSFT we are going to re-open this issue and keep eyes on this. Once it got fixed, will close it.

[2022-02-07 12:09] tleepa commented on #5366
Just to confirm:

I have configured system proxy settings in KDE:
![image](https://user-images.githubusercontent.com/7734919/152784245-790b8afe-58b7-4ccb-9b6e-ac9a6a7c2393.png)

and after setting StorageExplorer to 'use system proxy (preview)', it worked - all traffic was routed via my socks proxy tunnel and I could see blob storage content via storage account's private IP address.

PS. I have als

[2022-02-07 12:15] dhagarw opened #5407 "Some tables do not open anymore. OData.error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-07 17:31] AshishCMSingh opened #5408 "Incorrect text encoding while adding a message to Azure Storage Queue"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-07 17:34] MRayermannMSFT commented on #5403
@ShippyMSFT thanks for reporting this. We'll take a look.

[2022-02-07 17:39] MRayermannMSFT commented on #5366
Awesome. It sounds like you've found a variety of ways to get things working for you. So I'm going to close this issue.

[2022-02-07 17:39] #5366 closed

[2022-02-07 17:39] MRayermannMSFT commented on #5404
@hollidayh can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-02-07 17:40] MRayermannMSFT commented on #5389
@Jlente, first things first, can you give using system proxy setting a try? You can read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-02-07 17:48] hollidayh commented on #5404
enabling the system proxy fixed the issue.  Thanks!

[2022-02-07 17:55] MRayermannMSFT commented on #5408
@AshishCMSingh as far as I can tell everything is working fine.

By default, Storage Explorer assumes messages are Base64 encoded. While we can discuss the merits of that, that is how things have been for a long while now. Anyways, that assumption means that the message text of queue items are base64 decoded in the data table. And if you base64 decode "TEST" you get "LD " (the last character I am

[2022-02-07 18:05] craxal commented on #5318
The "Tables 2" is the one we want testing. It will become the new "Tables" node very soon. So, if this issue does not reproduce for "Tables 2", we can consider this issue resolved.

[2022-02-07 18:10] Grampa-Steve commented on #5406
Thanks, Matthew. I’ll read the documentation on RBAC and ACL permissions and assigne the proper roles and permissions.

Regards,
***@***.***
Steve Simon
201-951-6488
***@***.***

From: Matthew Rayermann ***@***.***>
Sent: Monday, February 7, 2022 12:58 PM
To: microsoft/AzureStorageExplorer ***@***.***>
Cc: Steve Simon ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/AzureStorageExplorer]

[2022-02-07 18:28] #5404 closed

[2022-02-07 18:36] MRayermannMSFT commented on #5407
@dhagarw

- How are you accessing this table? Sign in? Attach with SAS? Attach with key?
- Can you go to Help -> Open Logs Directory, go to the newest folder, look for a file with `table_extension` in the name, and then upload that file here?
- Would you be comfortable sharing a SAS token to the table with us? It can be read only. We can give you an e mail address that you can send it to so you do

[2022-02-07 18:41] MRayermannMSFT commented on #5400
That would be great. Can you send it to sehelp @ microsoft .com ?

Also, what type of storage account is this table in? Classic, gpv2, etc.?

Thanks.

[2022-02-07 18:43] MRayermannMSFT commented on #5398
@vicrxl
- Did you start your emulator (it sounds like probably yes, but just double checking :) )?
- What emulator are you using, and what version of that emulator?
- Are you using the default emulator node, or did you create your own emulator connection? If you created your own, can you make sure that the port number is correct for the connection.

[2022-02-07 19:21] #5052 closed

[2022-02-07 19:23] #5161 closed

[2022-02-07 19:23] #5156 closed

[2022-02-07 20:23] gsmcdonald commented on #5262
@craxal No, sorry, I don't. This is for work, so I can't do this on my personal computer. Many of my coworkers have the same computer, but they may not have the updated version of storage explorer (just because it's not something we use terribly frequently). They have had the issue where it opens the dialog in the far side of the screen (but then you can just drag it over).

[2022-02-07 21:36] #5387 closed

[2022-02-08 01:42] v-xianya commented on #5318
Verified this issue on the build 20220208.1. Fixed.

[2022-02-08 01:42] #5318 closed

[2022-02-08 01:52] v-xianya commented on #5200
@craxal
Verified this issue on the build main/20220208.1. The current behaviors as below, is this expected?
1. A table named 'Tables' displays on the tree view. (Will disappear after manually refreshing)
![image](https://user-images.githubusercontent.com/41351993/152902613-c51ef6dd-2d45-4681-94f8-2823b4a5ae36.png)

2. The 'Tables' tab auto opens and the editor keeps loading.
![image](https://user-

[2022-02-08 02:06] v-xianya commented on #5405
Verified this issue on the build 20220208.1. Fixed.

[2022-02-08 02:06] #5405 closed

[2022-02-08 03:30] v-kellyluo commented on #5103
@craxal verified this issue on the build main/20220208.1, it doesn't reproduce for tables, but it also reproduces for storage accounts, so we are going to reopen this issue.

[2022-02-08 06:43] craiha opened #5409 "Performance improvement"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-08 07:56] v-xianya opened #5410 "Miss the table name in the URL of one table"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220208.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Select one table -> Observe its URL in the Properties panel.
3. Check whether the URL dis

[2022-02-08 07:57] v-xianya opened #5411 "There is a successful activity log when creating one table using an existing table name"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220208.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table with a valid name 'table'.
3. Create another table with the name 'tabl

[2022-02-08 08:15] v-kellyluo opened #5412 "The entity disappears when deleting one entity in an attached table with 'Query' permission which has more than one entity"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220208.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a Table -> Add two entities.
3. Right click the table-> Click 'Manage Access Policies...'

[2022-02-08 08:18] v-xianya opened #5413 "The table's tab is not closed when deleting the table"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220208.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> The table's tab auto opens -> Delete the table.
3. Check whether th

[2022-02-08 08:46] Jigar191089 commented on #5399
[azure storage explorer delete issue.docx](https://github.com/microsoft/AzureStorageExplorer/files/8022127/azure.storage.explorer.delete.issue.docx)

[2022-02-08 08:46] Jigar191089 commented on #5399
@MRayermannMSFT I have attached the broken link, can you please check

[2022-02-08 08:58] v-xianya opened #5414 "Quick Access file share node doesn't display as broken when removing the Azure account"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220208.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**Architecture**: ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one storage account -> File Shares.
2. Select one file share -> Add it to quick access.
3. Go t

[2022-02-08 09:45] v-kellyluo opened #5415 "The blob snapshot doesn't auto display in the split tab after creating a snapshot in the original tab"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220208.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload a blob.
3. Right click the blob ->

[2022-02-08 11:56] giuale88 opened #5416 "Error during an import file in TABLE"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-08 14:22] colindesaulniers opened #5417 "Azure Explorer and Azure Portal blobs don't sort correctly with "Last Modified""
![image](https://user-images.githubusercontent.com/8417166/153005339-abc6c52b-4ce5-4988-88e9-ce14e3f6da5c.png)

I run backups every day (Full backup on the first of each month and incremental backups every other day)

When I need to check something that failed or just check to make sure things are working correctly, it's impossible to find the information I need because I can't correctly sort the

[2022-02-08 18:53] craxal commented on #5400
@JCKodel Looks like we have found the issue. The service doesn't always return the same number of entities, which threw off some of our paging logic. This would make Storage Explorer think it needed to keep retrieving more entities indefinitely, hence the table not appearing to load. We will make sure a fix is available for 1.23.0.

[2022-02-08 19:00] #4744 closed

[2022-02-08 19:01] Grampa-Steve commented on #5406
Thanks for your advice, Matthew. From the Azure Portal, I added myself as a Member to the Storage Container Contributor and Reader Roles. Then I was able to create a new container and make a new folder and upload a large .csv.

[2022-02-08 19:25] hadasdavid commented on #3086
I was juts minimized! Can't believe I spent an hour on this!!!

[2022-02-09 04:29] v-kellyluo opened #5418 "An error reminder dialog still pops up when opening Storage Explorer (.tar.gz file) with Linux dependencies installed"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220209.5
**Branch:** main
**Platform/OS:** Linux Ubuntu 20.04
**Architecture:** x64
**How Found:** From running test case
**Regression From:** Previous release (1.22.1)

## Steps to reproduce ##

1. Open a clean Linux machine with OS version Ubuntu 20.04.
2. Download Linux build as tar.gz file then extract it.
3. Open terminal -> Navigat

[2022-02-09 08:02] v-xianya opened #5419 "An error dialog pops up when opening Storage Explorer on MacOS"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220209.5
**Branch**: main
**Platform/OS**: MacOS Monterey 12.0.1/MacOS Big Sur 11.6.1
**How Found**: From running test case
**Regression From**: Previous release (1.22.1)

## Repro Steps ##
1. Download the Mac build StorgeExplorer-darwin-x64.zip -> Expand the .zip file.
2. Double click the file 'Microsoft Azure Storage Explorer' to open

[2022-02-09 08:06] v-xianya opened #5420 "The Action is incorrectly displayed as 'Attach Container' in the 'Summary' dialog when selecting 'Attach Directory' in the 'Open Direct Link' dialog"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220209.5
**Branch**: main
**Platform/OS**: Windows 10
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one folder.
3. Right click the folder -> Click 'Copy Direct Link'.
4. Paste the direct

[2022-02-09 08:09] v-xianya opened #5421 "It would be better to allow edit the 'Blob container or directory URL' field in the 'Enter Connection Info' dialog"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220209.5
**Branch**: main
**Platform/OS**: Windows 10
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account  -> Blob Containers.
2. Create a blob container -> Create a new folder -> Upload one file to the folder.
3. Right click the file -> Click 'Copy

[2022-02-09 08:23] v-xianya opened #5422 "It would be better to make the description of the 'Attach Directory' option displays in one line"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220209.5
**Branch**: main
**Platform/OS**: Windows 10
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account  -> Blob Containers.
2. Create a blob container -> Upload one file.
3. Right click the file -> Click 'Copy Direct Link'.
4. Open the direct lin

[2022-02-09 18:10] #5418 closed

[2022-02-09 18:10] #5419 closed

[2022-02-09 18:15] craxal commented on #5400
Shared internal build with @JCKodel, and they can confirm the fix resolves the bug.

[2022-02-09 18:15] #5400 closed

[2022-02-09 19:56] MRayermannMSFT commented on #5403
@ShippyMSFT I checked in a fix for this. Thanks for reporting the issue.

[2022-02-09 19:56] #5403 closed

[2022-02-10 00:30] craxal opened #5423 "Wrong error displayed for broken Quick Access queue node"
### Repro Steps

1. Launch Storage Explorer and sign in with an Azure account.
2. Expand nodes in the tree till you find a queue node.
3. Add the queue node to Quick Access.
4. Remove the account associated with the queue.
5. The queue node in Quick Access should change to a broken node. Click on the node to show the error.

### Expected

The error should say something like "The user account assoc

[2022-02-10 00:54] Andrefridel opened #5424 "{ "message": "\"Ocorreu um erro ao enviar a solicitação.\"" }"
Erro ao tentar logar

[2022-02-10 01:24] #5420 closed

[2022-02-10 01:24] #5422 closed

[2022-02-10 01:24] #5421 closed

[2022-02-10 01:25] MRayermannMSFT commented on #5421
I've fixed this scenario that produced the error. Not having the text field be editable is on purpose.

[2022-02-10 02:48] v-xianya commented on #5421
Verified this issue on the build 20220210.3. No error occurs in the 'Enter Connection Info' when attaching Directory using a file which has a parent folder
![image](https://user-images.githubusercontent.com/41351993/153327518-af0fc02e-3cd8-49cb-b2a7-3f9ef898757d.png)

[2022-02-10 02:50] v-kellyluo commented on #5418
Verified this issue on the build main/20220210.3. Fixed.

[2022-02-10 02:51] v-xianya commented on #5420
Verified this issue on the build 20220210.3. Fixed.
![image](https://user-images.githubusercontent.com/41351993/153327993-8ea947b6-0367-4330-b382-366b6fc04755.png)

[2022-02-10 03:04] v-xianya commented on #5419
Verified on the build main/20220210.3. Fixed.

[2022-02-10 03:07] v-xianya commented on #5413
This issue still reproduces on the new build 20220210.3. Will verify on the newer build.

[2022-02-10 03:08] v-xianya commented on #5411
This issue still reproduces on the new build 20220210.3. Will verify on a newer build.

[2022-02-10 03:08] v-xianya commented on #5410
This issue still reproduces on the new build 20220210.3. Will verify on a newer build.

[2022-02-10 03:09] v-xianya commented on #5412
This issue still reproduces on the new build 20220210.3. Will verify on the newer build.

[2022-02-10 05:58] v-kellyluo commented on #5412
Verified this issue on the build main/20220210.8. Fixed. So close it.

[2022-02-10 05:58] #5412 closed

[2022-02-10 07:52] v-kellyluo opened #5425 "It would be better to remove the action 'Copy Direct Link' for one ADLS Gen2 file/folder on Linux"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220210.3
**Branch:** main
**Platform/OS:** Linux Ubuntu 20.04
**How Found:** From running test case
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one file.
3. Right click the file -> The context menu displays.
4. Check no a

[2022-02-10 08:34] v-kellyluo opened #5426 "The deleted entity doesn't automatically disappear"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220210.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a Table -> Add one entity.
3. Delete the entity.
4. Check whether the entity automaticall

[2022-02-10 10:02] v-xianya commented on #5422
Verified on the build 20220210.3. Fixed.

[2022-02-10 10:35] v-sunnysun opened #5427 "Exporting from a table no longer includes only the queried result but all entities"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220210.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**How Found:** From running test cases
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a Table -> Add some entities. (Like the below)
![image](https://user-images.githu

[2022-02-10 17:48] axell9641 opened #5428 "Azure Blob - cache-control property is not being saved"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-10 18:13] JasonYeMSFT opened #5429 "Refactor hidden settings out of settings panel"
Currently hidden settings are manually managed by the settings panel so each time we add a hidden setting we need to update the settings panel. It should be refactored out to either Standalone or the settings' definitions.

[2022-02-10 18:26] JasonYeMSFT commented on #5388
We have added a setting to override the default maxPageSize for these batch operations. The setting's id is "transfers.network.maxBatchSize". It is hidden in the settings panel. To configure it, open the settings file from settings panel and add one entry with the desirable value (e.g. 1000) for the setting.

<img width="242" alt="Screen Shot 2022-02-10 at 10 22 10 AM" src="https://user-images.git

[2022-02-10 18:39] craxal commented on #5426
@v-kellyluo This does not reproduce for me on the latest main with the latest changes to the table extension, so I suspect the build used to test does not have the necessary fixes. Please reverify with a newer build.

[2022-02-10 19:48] #5388 closed

[2022-02-10 23:49] JasonYeMSFT opened #5430 "Right-click incorrectly recognize it as a main button click"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-11 00:02] JasonYeMSFT commented on #5083
Things to be done for the MVP:
- [ ] Sync resource strings with App Config Portal
- [ ] Implement Lock key-value
- [ ] Implement visual indication of feature flags
- [ ] Implement hiding values in data table
- [ ] Add last modified time

[2022-02-11 01:38] craxal commented on #5413
Should be fixed now that we've merged a new version of the extension.

[2022-02-11 01:38] #5413 closed

[2022-02-11 01:39] craxal commented on #5411
This should be fixed now that we've merged a new version of the table extension.

[2022-02-11 01:39] #5411 closed

[2022-02-11 01:39] craxal commented on #5410
This should be fixed now that we've merged a new version of the table extension.

[2022-02-11 01:39] #5410 closed

[2022-02-11 01:41] #5247 closed

[2022-02-11 01:41] #4542 closed

[2022-02-11 02:06] v-xianya commented on #5410
Verified on the build main 20220211.3. Fixed.

[2022-02-11 02:24] v-kellyluo commented on #5425
Verified this issue on the build main/20220211.3. Fixed.

[2022-02-11 02:24] #5425 closed

[2022-02-11 02:30] v-kellyluo commented on #5426
This issue doesn't reproduce on the latest build main/20220211.3, so close it.

[2022-02-11 02:47] v-kellyluo commented on #5103
Verified this on the build main/20220211.3. Fixed. So close it.

[2022-02-11 02:47] #5103 closed

[2022-02-11 08:20] rjpramos opened #5431 "Azure Storage Explorer hides the loading image before all blobs were listed"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-11 09:32] v-kellyluo opened #5432 "The existing table tab is opened when creating a table using an existing table name"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220211.3
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**Architecture:** ia32/x64
**How Found:** From running test case
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table using the name 'table' -> Close the opened tab

[2022-02-11 10:27] v-xianya commented on #5197
@craxal Verified this issue on the build 20220211.3. Fixed.
The QA table auto displays as broken when deleting the original table.

For blob container and file share, there are bugs [1389](https://github.com/microsoft/AzureStorageExplorer/issues/1389), [2671](https://github.com/microsoft/AzureStorageExplorer/issues/2671) that were closed as Won't fix:

[2022-02-11 10:27] #5197 closed

[2022-02-11 13:51] Zaelot opened #5433 ""Blob Container > Configure CORS Settings..." can't add new rules"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-11 17:20] sheeeng opened #5434 "InvalidInput ODATA Error: One of the request inputs is not valid."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-11 18:39] jkerie opened #5435 "Error opening table in Azure Storage Explorer (Reason: oom. Code -536870904.)"
This error was happening on the previous version I was running (1.19.1??) and today I just installed a new version (1.22.1) and it behaves exactly as before. The error is 100% reproducible. It happens identically every time I try to open the table..

Steps:
1. Navigate to the subscription ID in the explorer tab
2. Open the storage account
3. Open Tables
4. Click on the "WADWindowsEventLogsTable"
5

[2022-02-11 22:16] craxal commented on #5253
Verified that copy and clone operations now go through the proxy correctly.

[2022-02-11 22:16] #5253 closed

[2022-02-11 22:37] craxal commented on #5200
@v-xianya The newly added node definitely needs to be fixed, but the error message comes straight from the client library and/or service. I think the error still communicates the essence of the problem and doesn't need to be changed.

[2022-02-11 23:44] #5427 closed

[2022-02-11 23:45] #5401 closed

[2022-02-12 00:03] #4459 closed

[2022-02-13 03:36] maalcalar opened #5436 "Error when trying to open a blob container in Azure Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-14 01:59] v-sunnysun commented on #5427
Verified this issue on the build 20220212.2. Fixed.

[2022-02-14 03:17] v-xianya commented on #5200
Verified this issue on the build main/20220212.2. Fixed.

[2022-02-14 03:20] v-xianya commented on #5394
Verified this issue on the build main/20220212.2. Fixed.
![image](https://user-images.githubusercontent.com/41351993/153794668-f49cb523-dff9-4d65-98ff-e0ac7e1637d0.png)

[2022-02-14 03:20] #5394 closed

[2022-02-14 05:51] v-kellyluo commented on #5069
Verified this issue on the build main/20220212.2. Fixed.

[2022-02-14 06:02] v-xianya commented on #5354
Verified this issue on the build main/20220212.2. Fixed.

[2022-02-14 06:02] #5354 closed

[2022-02-14 06:07] v-kellyluo commented on #5414
Verified this issue on the build main/20220212.2. Fixed. So close it.

[2022-02-14 07:41] v-kellyluo commented on #5432
Verified this issue on the build main/20220212.2. Fixed. So close it.

[2022-02-14 07:41] #5432 closed

[2022-02-14 07:55] v-xianya opened #5437 "Miss the action 'Copy Direct Link to Table' for one new created/pasted table"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220212.2
**Branch**: main
**Platform/OS**: Windows 10/macOS Monterey 12.2
**How Found**: From running test case
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> Observe its context menu.
3. Check whether there is the action 'Copy Direct Link to Tabl

[2022-02-14 08:03] v-xianya commented on #4684
Verified this issue on the build main/20220212.2. Fixed.

![image](https://user-images.githubusercontent.com/41351993/153823877-aa6ef4f8-c116-4da0-9d1f-f466e888f742.png)

[2022-02-14 08:03] #4684 closed

[2022-02-14 08:06] v-xianya commented on #5201
Verified this issue on the build main/20220212.2. Fixed.
![image](https://user-images.githubusercontent.com/41351993/153824279-ccf3152e-ede6-4b6c-b746-d9bef6fcac91.png)

[2022-02-14 08:06] #5201 closed

[2022-02-14 08:20] v-xianya opened #5438 "Still need to attach directory when there is already an Azure AD attached directory if opening the direct link of one file which has a parent directory"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220212.2
**Branch**: main
**Platform/OS**: Windows 10/macOS Monterey 12.2
**How Found**: From running test case
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Add the rbac role 'Storage Blob Data Contributor' then assign to one azur

[2022-02-14 09:47] v-xianya opened #5439 "It would be better to add a validation against the value for the clause in table query builder"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220212.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.0.1
**How Found**: exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a new table -> Add one entity with at least one custom property.
![image](https://user-images.

[2022-02-14 09:54] v-kellyluo commented on #5106
Verified this issue on the build main/20220212.2. Fixed. So close it.

[2022-02-14 09:54] #5106 closed

[2022-02-14 14:18] rokkuci opened #5440 "Can't add row or import data which has boolean column type."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-14 14:44] rokkuci commented on #5434
Same issue for me.

[2022-02-14 15:12] giuale88 commented on #5416
Help us please!

[2022-02-14 15:43] Zaelot commented on #5433
Confirmed today, that the bug is also present in the Windows version (running on Windows 10), Build Number: 20220122.3

[2022-02-14 16:55] MRayermannMSFT opened #5441 "Support generating user delegation backed SAS tokens"
Storage Explorer currently only supports generating SAS tokens backed by the account keys. Storage Explorer should also be able to generate user delegation backed SAS tokens.

[2022-02-14 17:39] MRayermannMSFT commented on #5324
Closing due to lack of response. If you are still encountering this problem we recommend opening a support ticket via the Azure Portal.

[2022-02-14 17:39] #5324 closed

[2022-02-14 17:39] MRayermannMSFT commented on #5327
Closing due to lack of response. If you are still encountering this problem we recommend opening a support ticket via the Azure Portal.

[2022-02-14 17:42] MRayermannMSFT commented on #5436
@maalcalar it looks your azure account has been disabled. You'll need to reach out to Azure support for more help.

[2022-02-14 17:42] #5436 closed

[2022-02-14 18:02] MRayermannMSFT commented on #5399
@Jigar191089 can you share the AzCopy log with us from that delete? The AzCopy log files can be found in `<your home directory>/.azcopy/logs`. From your screenshot the delete happened on Feb 3 2022, so you'll want to find the log file from around there. Thanks.

[2022-02-14 18:04] MRayermannMSFT commented on #5409
@craiha thanks for the feedback. Can you be more specific about what parts of Storage Explorer are slow for you? That would help us target our efforts. Thanks!

[2022-02-14 18:05] MRayermannMSFT commented on #5424
@Andrefridel were you trying to sign in when this error occurred? If yes, can you please follow [these](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#authentication-logs) steps? Thanks.

[2022-02-14 18:10] JasonYeMSFT commented on #4850
Covered by the new implementation.

[2022-02-14 18:10] #4850 closed

[2022-02-14 18:12] JasonYeMSFT commented on #4913
Tracked in https://github.com/microsoft/AzureStorageExplorer/issues/5083 now.

[2022-02-14 18:12] #4913 closed

[2022-02-14 18:16] MRayermannMSFT commented on #5433
@Zaelot, thanks for reporting this issue. Another user also recently reported this, and we have a fix ready for our next release later this month: https://github.com/microsoft/AzureStorageExplorer/issues/5391

In the meantime, you can configure your CORS rules via the Azure Portal:
![image](https://user-images.githubusercontent.com/21112697/153922565-907f0838-04d8-48c0-a25a-89481781fc52.png)

[2022-02-14 18:36] MRayermannMSFT commented on #5416
Hi @giuale88 a fix will be going for this in our upcoming release. In the meantime, if you are blocked, you can download 1.21 here: https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.21.3

Duplicate of #5387

[2022-02-14 18:36] #5416 closed

[2022-02-14 18:38] MRayermannMSFT commented on #5423
Duplicate #4412

[2022-02-14 18:38] #5423 closed

[2022-02-14 18:45] JasonYeMSFT commented on #4862
Covered by the new implementation.

[2022-02-14 18:49] MRayermannMSFT commented on #5435
@jkerie

- How much RAM does your machine have?
- Prior to opening the table how much RAM is being used?
- As you open the table, can you watch the RAM usage and see how high it goes?
- Would it be possible for you to share a SAS url to the table with us? It can be read only. You can send it so sehelp @ microsoft dot com.

[2022-02-14 19:11] colindesaulniers commented on #5417
I'm using version 1.22.1 (Latest version as of today).

I'm not really sure what the sorting behavior is doing, but it almost seems like some data is even missing. I know there's backups every day, But the last I see is from Feb. 1st.

I also noticed that if I go all the way to the end page, then go back to the first page, all of a sudden, I can see my missing dates in the correct order. If I clic

[2022-02-14 19:19] JasonYeMSFT commented on #5336
Closing since the connection string issue is in Portal. If you can compare the connection string they generates and the ones we generate and find out the difference, feel free to let us know.

[2022-02-14 19:19] #5336 closed

[2022-02-14 19:23] JasonYeMSFT commented on #4824
Covered by the new implementation.

[2022-02-14 19:39] JasonYeMSFT commented on #5284
The service team seems to have fixed this problem. Delete, Rename, Move on blobs/directories from a secondary endpoint now results in a "write operations are not permitted error".

[2022-02-14 19:55] craxal commented on #5434
@sheeeng I created a table using the same data that you shared, and I don't seem to be having a problem with it on my end. Would you like to try using a test build to see if your problem is resolved?

https://cralvordtest02.blob.core.windows.net/customer-share/internal/1.23.0-table-rbac/StorageExplorer-darwin-x64.zip?sv=2020-10-02&st=2022-02-14T19%3A38%3A47Z&se=2022-02-21T19%3A38%3A00Z&sr=b&sp=r&s

[2022-02-14 20:10] craxal commented on #5435
@jkerie Would you like to try using a test build to see if your problem is resolved?

https://cralvordtest02.blob.core.windows.net/customer-share/internal/1.23.0-table-rbac/StorageExplorer-darwin-x64.zip?sv=2020-10-02&st=2022-02-14T19%3A38%3A47Z&se=2022-02-21T19%3A38%3A00Z&sr=b&sp=r&sig=7MRYSOgAwO%2FutNgUaApjkzsv0NOPupvImedJ43QxQg0%3D

[2022-02-14 20:13] craxal commented on #5069
Still occurring, because I didn't show table nodes as broken if other credentials were present.

[2022-02-14 22:14] JasonYeMSFT commented on #4837
Component release pipelines are moved to scale set agent pool running VS2019

[2022-02-14 22:34] #5069 closed

[2022-02-14 23:11] craxal commented on #5201
The "undefined" part is still a little unpolished feeling, so I'll make one change to fix that.

[2022-02-14 23:28] MRayermannMSFT opened #5442 "URL in direct link dialog is not properly encoded in some cases"
1. Create direct link to something like: https://foo.blob.core.windows.net/atest/New%20Folder1234/!%40%23%24%25%5E%26*()/fasdfasd/
2. Have Storage Explorer open the direct link

Expected: the URL displayed on the enter connection info page is properly encoded, it should be the same as the URL above
Actual:  it has a different value

[2022-02-15 00:31] jkerie commented on #5435
Thank you. I will look at this tomorrow.

[2022-02-15 02:35] v-kellyluo commented on #5069
Verified this issue on the build main/20220214.5. Fixed.

[2022-02-15 03:37] Jigar191089 commented on #5399
I don't have the log for Feb 3, so I recreated the issue and sending the log for that.
[azcopy_log.zip](https://github.com/microsoft/AzureStorageExplorer/files/8065565/azcopy_log.zip)

[2022-02-15 06:06] craiha commented on #5409
Hi,

It seems like most of the actions you do are rather CPU intensive. What is
especially slow is when you start Storage Explorer and wait for it to
connect to the Storages.

Regards,
 Carl

Den mån 14 feb. 2022 kl 20:04 skrev Matthew Rayermann <
***@***.***>:

[2022-02-15 06:56] v-xianya commented on #5284
Verified this issue on the build main/20220214.5. Fixed.

[2022-02-15 06:56] #5284 closed

[2022-02-15 08:04] iangledhill commented on #5434
I am seeing the same thing on Win11.
![image](https://user-images.githubusercontent.com/1924873/154017200-3679e2ce-afd6-4c64-84a1-a9061d5635c9.png)

When I query or simply refresh the table I see this error:

`{"odata.error":{"code":"InvalidInput","message":{"lang":"en-US","value":"One of the request inputs is not valid.\nRequestId:40a53edf-a002-009d-4040-2243a0000000\nTime:2022-02-15T07:49:34.436

[2022-02-15 08:05] v-xianya commented on #5437
This issue reproduces on the build main/20220214.5. So reopen it and will verify on a newer build.

[2022-02-15 08:22] v-xianya opened #5443 "The action 'Undelete' is disabled when selecting more than one soft-deleted ADLS Gen2 blob snapshot"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220214.5
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. Create two snapshots for the blob -> Soft

[2022-02-15 08:27] v-kellyluo opened #5444 "A blob displays when cloning one folder if there is a blob which has the same name with the folder"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220214.5
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/macOS Monterey 12.2
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob containers.
2. Create a new blob container -> Upload one blob.
3. Upload a folder with

[2022-02-15 08:57] iangledhill commented on #5434
Further info: SE 1.21.3 is the most recent version that works correctly with this table.

![image](https://user-images.githubusercontent.com/1924873/154027325-7a001d23-b4c7-4f0c-a0a6-b0be4dda5f2b.png)

[2022-02-15 13:48] jkerie commented on #5435
I am going to try the test build, but wanted to update on the prior questions about RAM, etc.:

- System has 16GB RAM.
- At the time of opening only about 6.5GB was used.
- As it tried to process, it did gradually consumer more, but it wasn't a straight line progression. It wiggled a little as it went up. The error took about 2 minutes to reach and by that point, the memory usage had reached about

[2022-02-15 17:12] JasonYeMSFT commented on #5443
This is by design. Undeleting any snapshot is equivalent to undeleting the base blob. There is no point undeleting two snapshots.

[2022-02-15 17:50] craxal commented on #5435
@jkerie The table loads up normally on my end, so I think the test build should work for you. Let us know how it works out.

[2022-02-15 18:05] JasonYeMSFT commented on #5444
This is a duplicate of issue https://github.com/microsoft/AzureStorageExplorer/issues/3888.

[2022-02-15 18:05] #5444 closed

[2022-02-15 18:13] MRayermannMSFT opened #5445 "Be consistent about trailing /'s for Gen2 attachments & use BlobPathUtils in Gen2 code"

[2022-02-15 18:19] MRayermannMSFT opened #5446 "LHS Manage and Propagate ACLS are broken for directory level attachments made with new direct link"
1. Attach a Gen2 directory using new direct link
2. Try to right click on the node for the attachment and mange or propagate ACLs

Expected: it works
Actual: it fails

[2022-02-15 18:23] craxal commented on #5437
Some changes did not make it into that build.

[2022-02-15 18:29] #5288 closed

[2022-02-15 18:34] craxal commented on #5434
@iangledhill Same question as above: would you like to try out this test build to see if your issue is resolved? We've resolved a number of table-related bugs, so it would be very helpful to see if those fixes cover this situation.

https://cralvordtest02.blob.core.windows.net/customer-share/internal/1.23.0-table-rbac/StorageExplorer-darwin-x64.zip?sv=2020-10-02&st=2022-02-14T19%3A38%3A47Z&se=2022

[2022-02-15 18:40] jkerie commented on #5435
Thanks, craxal. I downloaded the zip file, but I guess I wasn't sure how to run it. Do I need to compile it and with what? I am running Windows 10.

[2022-02-15 18:43] craxal commented on #5435
@jkerie Sorry, it wasn't clear from the bug description that you were running Windows. Here's another link for a Windows installer:

https://cralvordtest02.blob.core.windows.net/customer-share/internal/1.23.0-table-rbac/StorageExplorer-ia32.exe?sv=2020-10-02&st=2022-02-15T18%3A27%3A45Z&se=2022-02-21T18%3A27%3A00Z&sr=b&sp=r&sig=C7sKDwXRUfMMCvKkKbOxdH2YD4YvTJ31%2FQulG5ouO2U%3D

[2022-02-15 18:49] craxal commented on #5053
Several other Storage Explorer developers and testers were also unable to reproduce this issue. If anyone encounters this issue again, we can reopen and continue the investigation.

[2022-02-15 18:49] #5053 closed

[2022-02-15 18:52] craxal commented on #5356
Workaround described as above is sufficient for the time being. I'm keeping this issue open for now, as a solution from the platform or SDK is preferable.

[2022-02-15 18:52] shishu98 opened #5447 "No access to file share"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-15 19:00] craxal commented on #5376
Mitigated temporarily by immediately showing the dialog window. This prevents a race condition between showing the window and setting focus on a control. The OS won't actually give focus to an invisible control, so we don't bother hiding the window at all.

In the future, this can be fixed by either moving the code that sets focus to a later part of the window lifecycle or by adding an obscuring e

[2022-02-15 19:00] jkerie commented on #5435
Yes, that fixed it - it works again! Thanks! When do you expect this version to be officially released?

[2022-02-15 19:06] #5435 closed

[2022-02-15 20:03] #5414 closed

[2022-02-15 20:03] #5438 closed

[2022-02-15 20:03] #5442 closed

[2022-02-15 20:03] #5446 closed

[2022-02-15 20:04] MRayermannMSFT commented on #5438
@v-xianya I have merged a fix for this into main. However, at this time, detecting that an attachment already exists only works for new attachments going forward from here.

[2022-02-15 20:16] craxal commented on #5435
@jkerie Good to know! Assuming things go smoothly, we are locking down on changes for 1.23.0 now so that we can release sometime this month.

[2022-02-15 23:13] MRayermannMSFT commented on #5414
@v-kellyluo I merged a fix for this. Please note that any file shares put into quick access during the 1.23 development cycle may still not be broken. That is expected.

[2022-02-16 01:48] craxal opened #5448 "Update table API version"
We should consider updating the version of the table API we use. Benefits include:
* Better, more specific error messages (for example, telling us which property is invalid when trying to add or update an entity)

[2022-02-16 02:20] v-xianya commented on #5437
Verified this issue on the build main/20220216.1. Fixed.

[2022-02-16 02:29] v-xianya commented on #5443
@JasonYeMSFT
For soft-deleted regular blob snapshots, the 'Undelete' is enable for this scenario.
It would be better to make the behavior consistent between regular blob container and ADLS Gen2 blob container.
![image](https://user-images.githubusercontent.com/41351993/154184605-7f419e8c-12ef-4883-8dd2-6b4009897d2b.png)

[2022-02-16 05:46] v-xianya commented on #5376
Verified this issue on the build main/20220216.1. Fixed.

[2022-02-16 05:46] #5376 closed

[2022-02-16 05:56] vaishnaviithamraju commented on #5407
I was facing the same issue. I was unable to open some tables that i used to access earlier using SAS with a key. Downgrading the storage explorer to v1.21.3 did the trick. It works fine now.

[2022-02-16 06:03] v-xianya commented on #5438
Verified this issue on the build main/20220216.1. Fixed.

[2022-02-16 06:05] v-xianya commented on #5288
Verified this issue on the build main/20220216.1. Fixed.

[2022-02-16 06:17] v-xianya commented on #5414
@MRayermannMSFT
Thank you for the update.
Verified this issue on today's build 20220216.1. Fixed.

[2022-02-16 08:29] iangledhill commented on #5434
Thanks Craig - I did look at the 1.23.0 ZIP but it looks like it only contains MacOS?

[2022-02-16 09:15] v-kellyluo commented on #5256
Verified this issue on the build main/20220216.1. Fixed. So close it.

[2022-02-16 09:15] #5256 closed

[2022-02-16 09:29] v-xianya commented on #5376
@craxal Hi Craig, Could you help to take a look at the below issue?

On MacOS with build main/20220216.1.
The content in the dialog doesn't display at the same time with the dialog window. Here is the record:

https://user-images.githubusercontent.com/41351993/154234900-906c4305-2785-42cf-8bd9-79cff05bc8d2.mov

[2022-02-16 10:39] v-sunnysun opened #5449 "The custom property added under the query builder mode does not display in the 'Select Columns' dialog"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220216.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a Table -> Click 'Query' in its toolbar.
3. Add one entity with a custom

[2022-02-16 17:45] craxal commented on #5376
@v-xianya Yes, that is expected. It's a small compromise we had to make in order to get focus onto the default button. This should only be noticeable on macOS.

[2022-02-16 17:51] craxal commented on #5434
That is correct. I provided a macOS link, since this issue was report on macOS. If you need a test build for other platforms, you can use these links here:
* [Windows](https://cralvordtest02.blob.core.windows.net/customer-share/internal/1.23.0-table-rbac/StorageExplorer-ia32.exe?sv=2020-10-02&st=2022-02-16T17%3A35%3A13Z&se=2022-02-21T17%3A35%3A00Z&sr=b&sp=r&sig=ePsc%2BVSOdkhJ7tY7H9VEud7yykor7PnBEp

[2022-02-16 19:40] chen112p opened #5450 "blob storage cannot open container"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-16 22:01] #5233 closed

[2022-02-16 23:08] MRayermannMSFT commented on #5384
@AnjanMukherje I was taking a look into this today, but I'm running into an issue getting to the failure point you are at. I'm trying to run Storage Explorer from .tar.gz and I'm getting:
[code]

Did you see this at one point and if so how did you workaround it?

[2022-02-16 23:09] #5374 closed

[2022-02-17 01:50] JasonYeMSFT commented on #5443
@v-xianya That makes sense. For gen2 we block undelete if there are deleted items with the same name. I need to make snapshots an exception.

[2022-02-17 03:56] v-xianya commented on #5437
Verified this issue on the build 20220217.2. Fixed.

[2022-02-17 03:56] #5437 closed

[2022-02-17 03:56] v-xianya commented on #5374
Verified this issue on the build 20220217.2. Fixed.

[2022-02-17 08:02] v-sunnysun opened #5451 "There is no warning when typing '-0.2' into the 'Show top results' field"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220217.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Click 'Query' in its toolbar.
3. Expand 'Advanced Options' ->

[2022-02-17 08:20] v-xianya opened #5452 "There is no action 'Copy Direct Link to Blob Container' for one secondary ADLS Gen2 blob container"
**Storage Explorer Version**: 1.23.0-dev
**Build Number**: 20220217.2
**Branch**: main
**Platform/OS**: Windows 10/MacOS Monterey 12.2
**Architecture**: ia32/x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Select one blob container -> Right click it.
3. Click 'Open Secondary Location' -

[2022-02-17 09:55] v-kellyluo opened #5453 "The searched resource group doesn't display under the Quick Access node when adding it to the Quick Access node if searching it by its full name"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220217.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Big Sur 11.6.1
**Architecture:** ia32/x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Type a complete resource group name in the search box -> Execute 'Search'.
3. Make sure the

[2022-02-17 17:02] MRayermannMSFT commented on #5452
By design for now. For 1.23 we are not supporting direct link on the secondary container.

[2022-02-17 17:02] #5452 closed

[2022-02-17 18:06] JasonYeMSFT commented on #5453
We converted the search string to lowercase before I match the results. I believe it was intended to boost search efficiency since storage account resources all have lowercase names. We need to make exact case match now.

[2022-02-17 19:04] craxal commented on #5451
I'm going suggest we not worry about this one. We use `Number.parseInt` in the code, which rounds all decimal numbers to integers. Specifically, it rounds numbers between -1 and 0 to 0, and 0 is a valid value for this field. I also think it's very unlikely for a user to accidentally enter a hyphen and a period.

[2022-02-17 19:04] #5451 closed

[2022-02-17 22:49] #5264 closed

[2022-02-17 23:23] #4791 closed

[2022-02-18 01:17] JasonYeMSFT commented on #4837
The "Parallelism" config for the release pipeline might be the key to enable parallel deployments. Not going to test it in 1.23.0.

[2022-02-18 01:50] ShaneCarr commented on #138
No offence, but this entire thing is so 2006. Here's a scenario.  i need to figure out how we are encoding paths, because the java azure sdk (the old one) is fairly fragile with Unicode characters, and frankly has non existent documentation. You just release this stuff because people can use it to figure out how to work with azure. Right?  What's the big deal. Just release it.

So i've answered yo

[2022-02-18 10:48] 616b2f commented on #5303
@JasonYeMSFT can you provider the list of dependent package that you installed in fedora? This would be also helpful to document this somewhere, because there are many people out there that do not use snap.

[2022-02-18 14:03] gsmcdonald commented on #5262
@craxal I just ran into the problem again in v1.2.0, so if you're trying to narrow the problem down by versions, ignore that.

[2022-02-18 17:52] JasonYeMSFT commented on #5303
I only installed .net core 3.1 runtime manually. The version to install is documented here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting?tabs=Windows%2C2004#targz-file. The installation command can be found at https://docs.microsoft.com/en-us/dotnet/core/install/linux-fedora#install-the-runtime. Although we only test and verify our .tar.gz on Ubuntu, it sh

[2022-02-18 18:32] JasonYeMSFT commented on #5443
It is still not possible for us to undelete individual snapshot items since we don't have their deletion id when listing. The deletion ids are available when we list without non-snapshots so I think this is still a service bug.

[2022-02-19 07:52] AnjanMukherje commented on #5384
@MRayermannMSFT Please use any higher version of GCC or set the LD_LIBRARY_PATH accordingly. I had installed gcc 9.2.0 and set the LD_LIBRARY_PATH gcc-9.2.0/lib64

[2022-02-21 09:36] v-kellyluo opened #5454 "No response when clicking 'Open/Cancel' in the prompt native dialog if uploading files/folders on Storage Explorer which is installed by snap"
**Storage Explorer Version:** 1.23.0-dev
**Build Number:** 20220219.5
**Branch:** rel/1.23.0
**Platform/OS:** Linux Ubuntu 20.04
**Architecture:** x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Install Storage Explorer by snap -> Launch Storage Explorer.
2. Expand one storage account -> Blob Containers.
3. Create a blob container -> C

[2022-02-21 12:46] dhagarw commented on #5407
Hi @MRayermannMSFT
I am accessing this table via Attach with Key.

Attaching the log file.
[2022-02-21_163425_se-table-extension_22512.log](https://github.com/microsoft/AzureStorageExplorer/files/8109198/2022-02-21_163425_se-table-extension_22512.log)

Yes I mean 1.14.2 . Sorry for the confusion. Actually I can open the table from 1.14.2 .

I was able to sucessfully open the table from 1.21.3.

Ca

[2022-02-21 18:21] JasonYeMSFT commented on #5417
@colindesaulniers I see the problem now. We can only load blobs ordered by their names so the first batch of data may not contain blobs with consecutive last modified time. We have a work item in our backlog to increase the pagination options but it's worked on yet.

[2022-02-21 18:28] JasonYeMSFT commented on #1527
Move to near future so we can prioritize this one earlier.

We haven't worked on this yet because we are still thinking of a balanced solution to this problem. Caching as much data as possible (performance) and synchronizing local cache to be up to date (consistency) are two competing demands. Ideally the feature should be configurable to optimize for performance or consistency.

[2022-02-21 18:30] JasonYeMSFT commented on #5417
I am going to close this issue and track the cache problem in the linked issue.

[2022-02-21 18:30] #5417 closed

[2022-02-21 18:32] JasonYeMSFT commented on #5454
I tried the snap on my ubuntu laptop but I cannot reproduce this. When this occurs to you, is there a consistent workaround for the user to close the dialog and retry the operation until the dialog works?

[2022-02-22 02:06] v-kellyluo commented on #5454
@JasonYeMSFT, there a no consistent workaround for us to close the dialog, when this issue reproduces, we must reload/restart storage explorer.

[2022-02-22 07:49] v-xianya opened #5455 "The content type of a folder whose name length is less than 4 displays between the 'Blob Type' and 'Content Type' columns"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220219.7
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Create

[2022-02-22 07:50] v-xianya opened #5456 "The filter option is switched from 'Prefix' to 'Tag Query' if changing the 'List Mode' under tag query status"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220219.7
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture**: ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container.
3. Open

[2022-02-22 09:12] v-xianya opened #5457 "Succeed to create/clone/paste a table when there is already a table with an equivalent name"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220219.7
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10
**Architecture**: ia32
**Azurite Version**: 3.15.0
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Install and run Azurite 3.15.0 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Default

[2022-02-22 16:24] AnjanMukherje commented on #5384
@MRayermannMSFT Please find the Microsoft Service Request SR 2201210010001953

[2022-02-22 16:31] bojned commented on #5369
This happens to me as well. Version I have is 1.22.1, and when I try to import CSV file with 30.000+ entries to a table, nothing happens.

I've tried both on existing and new/empty tables and behavior is the same.

[2022-02-22 17:39] jamescullis1 opened #5458 "Unable to retrieve child resources from blob container"
I can't access any blob containers either through the Azure portal in a browser or through the Azure Storage Explorer.

I get the following error message:

Unable to retrieve child resources.

Details:
{
  "name": "FetchError",
  "message": "request to https://lexnetworkdocdirect.blob.core.windows.net/?comp=list&include=metadata failed, reason: connect ETIMEDOUT 20.38.107.4:443",
  "stack": "Fetch

[2022-02-22 20:05] computeronix opened #5459 "Incorrect Content Type for Certain Extensions"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-22 21:47] MRayermannMSFT opened #5460 "Remove last vestiges of CosmosDB"

[2022-02-22 22:47] craxal commented on #5457
This is due to an issue in the emulator, likely because they are not handling table names in a case-insensitive manner.

https://github.com/Azure/Azurite/issues/1355

[2022-02-22 22:58] MRayermannMSFT opened #5461 "ADFS stack sign in broken"
Identity service broke ADFS stack sign in. Need new identity service to fix.

[2022-02-23 00:12] JasonYeMSFT commented on #5459
We use AzCopy to handle the upload. On Windows, AzCopy will lookup your local registry to determine which contentType to use for the uploaded blobs. Once it's configured, your future uploads will have the correct content types set. See https://github.com/microsoft/AzureStorageExplorer/issues/2267 for more details.

[2022-02-23 08:47] kmathewmk opened #5462 "GPU process crash caused Storage Explorer to stop working correctly"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-23 09:00] v-kellyluo opened #5463 "The existing table tab is opened when pasting one table if there is already a same table"
**Storage Explorer Version:** 1.23.0
**Build Number:** 20220223.4
**Branch:** rel/1.23.0
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Close the opened tab.
3.

[2022-02-23 09:27] v-kellyluo opened #5464 "No new table tab is opened when cloning one table"
**Storage Explorer Version:** 1.23.0
**Build Number:** 20220223.4
**Branch:** rel/1.23.0
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Right click the table ->

[2022-02-23 10:00] jamescullis1 commented on #5458
Appears to all be accessible again...

[2022-02-23 10:00] #5458 closed

[2022-02-23 10:32] v-kellyluo opened #5465 "Fail to add one entity when the value of the 'PartitionKey/RowKey' property is '#'"
**Storage Explorer Version:** 1.23.0
**Build Number:** 20220223.4
**Branch:** rel/1.23.0
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture:** ia32\x64
**How Found:** Exploratory testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Click 'Add'.
3. Type "#" in the value

[2022-02-23 18:08] #5460 closed

[2022-02-23 18:34] craxal commented on #5434
@sheeeng @iangledhill Have you had a chance to give the test build a try?

[2022-02-23 18:39] craxal commented on #5369
@lmulligan27 @bojned I just noticed this issue mentions importing to a _local_ storage account. I assume that means you are using an emulator. If that's the case, are you using Azurite? If so, this is already a known issue which should be resolved in an Azurite update (see #5299, #5307).

[2022-02-23 19:23] bojned commented on #5369
No, I am not using emulated storage, I am facing this issue when uploading to the actual storage account.

[2022-02-23 19:48] #5402 closed

[2022-02-23 19:53] craxal commented on #5369
@bojned Since you're not on an emulator, this may be a separate issue. Could you open a new issue and provide:
* All appropriate information, including the platform and app version you're using.
* The error message you're receiving.
* Any relevant logs
* A description of the data you're trying to import or a sample of import data that reproduces the error.

[2022-02-23 21:43] JasonYeMSFT commented on #5454
We are going to defer the investigation until someone runs into this.

[2022-02-23 22:06] #5461 closed

[2022-02-23 22:42] craxal commented on #5463
The paste code was indiscriminately creating a table node and opening an editor for it, regardless of the outcome of kicking off the copy operation. Easy fix: we just need to add a condition to create a node and open an editor if the table copy successfully creates a new table and kicks off the copy operation.

[2022-02-23 22:42] craxal commented on #5464
Looks like we're just missing the code that actually opens the tab, so we just need to add it back in.

[2022-02-24 00:14] craxal commented on #5345
It looks like this is ultimately an issue with the platform team. The platform appears to return binary values as Base64 encoded strings, but Base64 strings apparently aren't valid binary literals in query strings. Hex encoded strings, however, are valid.

The simplest solution here would be to disallow querying binary values. It could be argued that there's little value in trying to query binary

[2022-02-24 00:25] craxal opened #5466 "Query builder improvements"

[2022-02-24 03:22] v-xianya opened #5467 "The local folder whose name is '%2A%3F' displays as '*?' when uploading it to the blob container"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220223.14
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2(MacBook Air M1)
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload a non-empty folder with the name '%2A%3F'.
5.

[2022-02-24 09:15] v-kellyluo opened #5468 "It is hard to see the focus color in the 'Column Options' dialog under 'High Contrast-Black/White' theme"
**Storage Explorer Version:** 1.23.0
**Build Number:** 20220223.14
**Branch:** rel/1.23.0
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2(MacBook Air M1)
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Launch Storage Explorer -> Go to the 'View' menu -> Change the theme to 'High Contrast - Black/White'.

[2022-02-24 09:22] bojned opened #5469 "Import CSV file to table not working"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-24 09:59] bojned commented on #5469
[lockedout.csv](https://github.com/microsoft/AzureStorageExplorer/files/8131499/lockedout.csv)
Example data, but I had to redact it heavily (including partition keys, as they contain sensitive information).

[2022-02-24 11:12] v-xianya opened #5470 "The error info is incorrect when creating one table with the name 'Tables'"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220223.14
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2(MacBook Air M1)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous build (20220212.2)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table with the name 'Tables'.
3. C

[2022-02-24 12:21] v-xianya opened #5471 "The pasted table displays in the tree view when there is a same table which is being deleted"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220223.14
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2(MacBook Air M1)
**Architecture** ia32\x64
**How Found**: exploratory testing
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand storage account A -> Tables.
2. Create a table -> Copy the table and paste it to st

[2022-02-24 13:43] yabba1971 opened #5472 "Error opening Blob Container under Storage"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-25 01:47] EmilAlipiev commented on #5369
I think the problem is with the data, not the tool. Tool has only problem that not showing exact error message.
my problem was related to Datime format,
it has to be exactly[ ISO 8601](https://docs.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values) formatted if you are trying to import Datetime Column. Otherwise this error message is returned.

[2022-02-25 10:37] swathimereddy opened #5473 "getting the error when I tried to connect to storage explorer"
Error Details
If you cannot resolve this issue on your own, you may open an issue on the Storage Explorer GitHub site. Please include the details below to help us diagnose your issue. Make sure to redact any personal information you do not wish to make public before posting.
Unable to retrieve child resources.

Details:
{
  "name": "Error",
  "message": "Unable to retrieve authentication token whi

[2022-02-25 11:02] JohnKoornneef commented on #4905
Better error messages are needed. In our case {"message": "\"UnexpectedCancel\""} ment that our storage destination reached it's quota limit. It took us a couple of hours to figure this out.

[2022-02-25 11:10] bojned commented on #5369
Not for me I'm afraid, as even data exported using this tool is misbehaving. I've opened a new issue here:
https://github.com/microsoft/AzureStorageExplorer/issues/5469

[2022-02-25 13:15] EmilAlipiev commented on #5369
@bojned  have you tried "try and fail"? i have tried like this
- leave only 1 row and try to import, if it fails, remove each column 1 by 1 to see if any of the column causing the issue. At least you may know what is the root of the issue

[2022-02-25 15:00] computeronix commented on #5459
Thank you! This works! closing out

[2022-02-25 15:00] #5459 closed

[2022-02-28 09:38] v-kellyluo opened #5474 "Succeed to delete one blob when the blob has undeleted snapshots"
**Storage Explorer Version:** 1.23.0
**Build Number:** 20220223.14
**Branch:** rel/1.23.0
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2(MacBook Air M1)
**Architecture:** x32\x64
**How Found:** Exploratory testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Blob Containers.
2. Create a blob container -> Upload one blob.
3. R

[2022-02-28 09:41] v-kellyluo opened #5475 "The error dialog pops up again after clicking 'OK' on the first pop-up error dialog if creating one service using an invalid name"
**Storage Explorer Version:** 1.23.0
**Build Number:** 20220223.14
**Branch:** rel/1.23.0
**Platform/OS:** Linux Ubuntu 20.04
**Architecture:** x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account.
2. Right click the 'Blob Containers' node -> Select 'Create Blob Container'.
3. Input an invalid name in the text inp

[2022-02-28 10:17] v-xianya opened #5476 "The 'Add Entity' dialog pops up again when closing it on MacOS(M1)"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220223.14
**Branch**: rel/1.23.0
**Platform/OS**: MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture** x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Bug Descriptions ##

This issue reproduces at the below scenarios, can't be reproduced consistently.

For Queue, Add message dialog.
For File Share/Blob

[2022-02-28 10:45] v-xianya opened #5477 "Succeed to import one .csv file which contains two same entities"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220223.14
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.2.1(MacBook Air M1)
**Architecture** ia32\x64
**How Found**: exploratory testing
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one storage account -> Tables.
2. Create a table -> Import the below .csv file.
[

[2022-02-28 17:47] jdthorpe commented on #5409
I installed the Azure Storage explorer on Mac (OSX 12) on Feb 22, used it for an hour or so and closed it.  A couple days later, my fan was running at and everything was super slow, and opening the activity monitor revealed that the ASE renderers were using 100% of my CPU, even after having closed the app several days earlier...

<img width="1098" alt="Screen Shot 2022-02-28 at 9 33 44 AM" src="ht

[2022-02-28 18:01] #5474 closed

[2022-02-28 18:16] MRayermannMSFT commented on #5473
@swathimereddy what version of Storage Explorer are you using?

[2022-02-28 18:18] MRayermannMSFT commented on #5462
@kmathewmk have you tried restarting/always restarting with the hardware acceleration disabled?

[2022-02-28 18:19] MRayermannMSFT commented on #5323
Closed due to lack of response. If you continue encountering this issue we recommend either opening an Azure Support ticket via the portal, or opening a new issue here.

[2022-02-28 18:19] #5323 closed

[2022-02-28 18:19] MRayermannMSFT commented on #5338
Closed due to lack of response. If you continue encountering this issue we recommend either opening an Azure Support ticket via the portal, or opening a new issue here.

[2022-02-28 18:19] #5338 closed

[2022-02-28 18:19] MRayermannMSFT commented on #5348
Closed due to lack of response. If you continue encountering this issue we recommend either opening an Azure Support ticket via the portal, or opening a new issue here.

[2022-02-28 18:19] #5348 closed

[2022-02-28 18:19] MRayermannMSFT commented on #5358
Closed due to lack of response. If you continue encountering this issue we recommend either opening an Azure Support ticket via the portal, or opening a new issue here.

[2022-02-28 18:19] #5358 closed

[2022-02-28 18:19] MRayermannMSFT commented on #5378
Closed due to lack of response. If you continue encountering this issue we recommend either opening an Azure Support ticket via the portal, or opening a new issue here.

[2022-02-28 18:19] #5378 closed

[2022-02-28 18:20] MRayermannMSFT commented on #5383
Closed due to lack of response. If you continue encountering this issue we recommend either opening an Azure Support ticket via the portal, or opening a new issue here.

[2022-02-28 18:20] #5389 closed

[2022-02-28 18:20] #5390 closed

[2022-02-28 18:25] MRayermannMSFT commented on #5450
@chen112p can you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-02-28 18:28] MRayermannMSFT commented on #5447
@shishu98, first things first, can you give system proxy a try? Read more about it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-network#use-system-proxy-preview

[2022-02-28 18:59] MRayermannMSFT commented on #5469
@bojned we will try repro'ing with your sample data. Thank you for providing that. In the meantime you find 1.21.3 here to unblock you: https://github.com/microsoft/AzureStorageExplorer/releases

[2022-02-28 19:04] MRayermannMSFT commented on #5467
@v-xianya sorry for not paying closer attention earlier. I actually think this is expected. For any characters not allowed as file names on any of the supported OSs, AzCopy will encode those characters if they are in the names of blobs/folders being downloaded. And then when uploading files/folders with such encoded characters, they will be decoded. That is the behavior you are seeing.

If you go

[2022-02-28 19:06] MRayermannMSFT commented on #5465
Let's make sure this is by design/an expected server error. And for it not repro'ing with emulator, let's confirm that's a bug on their end if this is by design.

[2022-02-28 19:09] MRayermannMSFT commented on #5456
@v-xianya we're going to consider this as by design. Since you have not entered any text in the prefix text box you have not yet left the query mode. So when you then change list mode, we update the radio button to reflect the fact you are still viewing tag query results.

[2022-02-28 19:09] #5456 closed

[2022-02-28 19:10] MRayermannMSFT commented on #5455
Not going to worry about this unless from customer feedback.

[2022-02-28 19:10] #5455 closed

[2022-02-28 19:13] MRayermannMSFT commented on #5407
@dhagarw you can send it to sehelp at microsoft dot com

[2022-02-28 19:24] MRayermannMSFT commented on #5477
The expected behavior is to be able to import. This is a return to the behavior in 1.21 and prior versions.

[2022-02-28 19:32] chen112p commented on #5450
Thanks for responding! The issue resolved by itself. But I experienced the same issue once again and once again it resolved by itself within a shorter period of time. First time it was resolved in a bit more than 2 days. This time it was resolved in 10hours.
Now I can confirm I saw this issue once I tried to remove a large amount of data from the Storage Explorer (first time >300Gb, second time >1

[2022-02-28 20:55] JasonYeMSFT commented on #5472
The error is about not being able to resolve the domain name (your blob endpoint in the url). Could you ping the endpoint to see if it is accessible from your machine? For example, you can open a powershell window and run

[code]

If it cannot find it, you might need to check your endpoint configuration to see if it is hidden in a private network.

[2022-02-28 21:57] MRayermannMSFT opened #5478 "Move activity log out of Cloud Explorer"

[2022-02-28 21:58] MRayermannMSFT opened #5479 "Move table explorer out of Cloud Explorer"
Move table explorer out of Cloud Explorer and into a properly bundled explorer. At the same time see if these can be accomplished:
- [x] Fix null/undefined typing issues in query builder before migrating
- [x] #5786
- [x] #5787
- [x] #5784
- [x] #5583
- [x] #5785
- [ ] #4766

Once this work is complete, have team re-triage remaining work items in #5466.

[2022-02-28 22:01] MRayermannMSFT opened #5480 "Move Gen2 explorer out of Cloud Explorer"

[2022-02-28 22:09] MRayermannMSFT opened #5481 "Update to Electron 18"

[2022-02-28 22:34] MRayermannMSFT opened #5482 "Integrate AzCopy 10.15"

[2022-02-28 23:19] JasonYeMSFT commented on #5469
@bojned I filled dummy partition keys, row keys and value for the UserId (the only property of GUID type) in the sample data and was able to import it to a table with our 1.22.1 release. The import should work if you are importing in an empty table. If you see an error about invalid value, you need to check the redacted values to see if any of them contains invalid values for Table service.

We do

[2022-03-01 02:31] v-xianya commented on #5467
@MRayermannMSFT Thank you for the update!
For blob container, The folder name be preserved as %2A%3F if disabling the auto decode.

For file share, The folder name be preserved as %2A%3F regardless of disabling/enabling auto decoding.
Could you help to elaborate? thanks😊

[2022-03-01 03:15] OzBob opened #5483 "Local Table service Error deleting rows with valid RowKey but unusual character set"
### Preflight Checklist

- ☑️ I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- ☑️ I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases).

[2022-03-01 08:25] v-xianya commented on #5477
@MRayermannMSFT Thank you for the comment.

The point that doesn't make sense to me is that the number of the actually imported entities is not the same as the number of the imported entities in the activity log.

Like the screenshot in the Actual Experience:
Actually 1 entity imported.
The activity log tells 2 entities imported

[2022-03-01 08:57] kennypage opened #5484 "Allow reordering of queued items"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-01 08:58] kennypage commented on #5484
<img width="277" alt="Screenshot 2022-03-01 at 08 54 17" src="https://user-images.githubusercontent.com/21378/156137513-c4554ce9-ba2a-4a22-b413-8d034d065ad6.png">

[2022-03-01 10:12] v-xianya opened #5485 "Can't get the helpful error info when deleting more than one ADLS Gen2 blob at one time if having snapshots"
**Storage Explorer Version**: 1.23.0
**Build Number**: 20220223.14
**Branch**: rel/1.23.0
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Ad-hoc testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload two blobs.

[2022-03-01 12:12] bojned commented on #5469
Hi Jason, I think dummy data is not enough in this case... As imports for me fail when CSV file has 30.000+ records, not small like this one provided.

I am using 1.21.3 version atm and I do not face this issue with it, but the latest one is not working right.

[2022-03-01 13:55] kmathewmk commented on #5462
No, I did not disable h/w acceleration for fear of it having an adverse impact on other applications. The problem started one day and stopped happening a little while later. Not clear what stopped the problem from happening. A simple restart of the Azure Storage Explorer app was not enough.

[2022-03-01 17:47] MRayermannMSFT commented on #5384
Can you share with me the exact commands you used to do that?

Also, to be clear, I am merely investigating the possibility of supporting this scenario right now. At this time it is neither supported nor planned to be supported in the near future. But getting the point of actually repro'ing the issue will help us evaluate if we could support this. Thanks.

[2022-03-01 18:10] AnjanMukherje commented on #5384
@MRayermannMSFT exact command will depends on your shell type as following
Shell - csh

setenv LD_LIBRARY_PATH < your lib64 path of your higher version of GCC >

Shell bash / sh

export LD_LIBRARY_PATH=< your lib64 path of your higher version of GCC >

[2022-03-01 19:21] MRayermannMSFT commented on #3731
Closing this issue for now. I think we are done with it.

[2022-03-01 19:45] timovp opened #5486 "storage explorer error"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-01 19:57] MRayermannMSFT commented on #5477
For now we're going to leave that behavior. It is the behavior seen in 1.21  as well.

[2022-03-01 21:04] MRayermannMSFT commented on #5477
Ya, let's do that. Reopening.

[2022-03-01 21:48] masimonv opened #5487 "Secondary resources cannot be retrieved."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-02 17:21] craxal commented on #5470
@v-xianya Can you explain how this is different than #5200?

Also, I think "the table already exists" is more informative than a vague "one of the request inputs is invalid", so this is by design.

[2022-03-02 17:46] craxal commented on #5465
As explained by the [Azure documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-the-table-service-data-model#characters-disallowed-in-key-fields), the "#" character is not allowed for keys. Therefore, this is by design in the service and a bug in the emulator.

I've opened https://github.com/Azure/Azurite/issues/1371 against Azurite.

[2022-03-02 18:12] JasonYeMSFT commented on #5469
@bojned At this point, I can only see the problem where colliding entities cannot be imported. It is fixed in 1.23.0 so please try to upgrade to 1.23.0 when it is available. I am going to close this issue as duplicate [5387](https://github.com/microsoft/AzureStorageExplorer/issues/5387). Feel free to create a separate issue for the performance problem for us to work on in the future.

[2022-03-02 18:13] #5469 closed

[2022-03-02 18:17] JasonYeMSFT commented on #5303
Closing due to lack of response. If you have additional questions, please open a separate issue instead.

[2022-03-02 18:17] #5303 closed

[2022-03-02 18:18] MRayermannMSFT opened #5488 "Migrate Storage Account code to track 2 SDK"
- [ ] Make services dependent on account
- [ ] List keys
- [ ] Copy keys
- [ ] Open in Portal
- [ ] Generate SAS
- [ ] List type node
- [ ] List account node
- [ ] Azure Stack support

[2022-03-02 18:28] MRayermannMSFT opened #5489 "Fix UA strings"
Our strings don't follow the conventional formatting rules: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent

[2022-03-02 18:32] #4826 closed

[2022-03-02 18:47] calichte opened #5490 "Unable to create a directory under dts/Partners"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-02 19:05] JasonYeMSFT commented on #4837
I set the maximum number of parallel deployments to 5. The config is at pre-deployment conditions.

[2022-03-02 19:05] #4837 closed

[2022-03-02 19:27] jinglouMSFT commented on #5470
@craxal "Tables" is a reserved keyword for Tables. Let's discuss in the triage on how we should handle this error message.  The message "the table already exists" might be confusing to users if they don't realize it's a reserved word and there is already a system table.  I am more leaning towards using the error message you used (from the SDK) as shown in #5200 and shown here in the expected resul

[2022-03-02 19:47] JasonYeMSFT commented on #5490
@calichte Could you go to Portal to check if you still have the rbac role granting you access to this blob container?

[2022-03-02 19:54] craxal commented on #5471
The client library doesn't throw when a "table already exists" response from the service comes back. This was a conscious design choice made by the team. To mitigate this, we added code to test whether a table exists by attempting to list entities. If that throws, we assume the table doesn't exist.

Unfortunately, this code doesn't work when the table is being deleted. We need to implement another

[2022-03-02 20:31] calichte commented on #5490
@JasonYeMSFT - Do you have a link to that location?

[2022-03-02 21:04] JasonYeMSFT commented on #5490
@calichte You can go to portal.azure.com, sign in to your azure account and look for all resources. If you have the owner role, you should be able to see the subscription and the storage account the container is in. Then you can go to the "Access Control (IAM)" in the left navigation blade and click on "Role Assignments" on the right-hand side to see which roles are assigned to you.

If you are no

[2022-03-02 22:48] JasonYeMSFT commented on #5265
We do list keys, even for the storage accounts that aren't included in the final search results.

[2022-03-03 01:57] changbaebang opened #5491 "[Bug] Please confirm which version is resolve this issue."
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-03 07:11] v-kellyluo opened #5492 "The context menu of tables is not localized"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220303.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture:** ia32\x64
**Language:** All languages
**How Found:** From running test cases
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (

[2022-03-03 07:11] v-kellyluo opened #5493 "The context menu of 'Tables' node is not localized completely"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220303.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture:** ia32\x64
**Language:** All languages
**How Found:** From running test cases
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (

[2022-03-03 07:12] v-kellyluo opened #5494 "The error dialog is not localized when creating one table with an invalid name"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220303.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture:** ia32\x64
**Language:** All languages
**How Found:** From running test cases
**Regression From:** Previous release (1.22.1)

## Steps to Reproduce ##

1. Launch Storage Explorer.
2. Open 'Settings' -> Application (

[2022-03-03 08:03] v-xianya opened #5495 "The content in the 'Change Default Access Tier' is not localized"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1(Apple M1 Pro)
**Reproduce Language**: All Languages
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.23.0)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Applic

[2022-03-03 08:38] v-xianya opened #5496 "There is an extra scroll bar in the 'Load File Share Error' dialog"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.1
**Branch**: main
**Platform/OS**: Windows 10
**Language**: Spanish/Portuguese (Brazil)
**Architecture** ia32
**How Found**: exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Application -> Regional Settings'.
2. Select 'Español' -> Restart Storag

[2022-03-03 08:39] v-xianya opened #5497 "There is an extra scrollbar in the 'Add Message' dialog if changing the value on the Visibility timeout field from invalid to valid"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.1
**Branch**: main
**Platform/OS**: Windows 10
**Reproduce Language**: Spanish
**Architecture** ia32
**How Found**: exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Application -> Regional Settings'.
2. Select 'Español' -> Restart Storage Explorer

[2022-03-03 08:51] v-xianya opened #5498 "There is an extra scroll bar when typing an invalid value to the Visibility timeout field on 'Add Message' dialog"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.1
**Branch**: main
**Platform/OS**: Windows 10/ Linux Ubuntu 20.04
**Language**: German/Japanese/Dutch
**Architecture** ia32
**How Found**: exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Launch Storage Explorer -> Open 'Settings' -> 'Application -> Regional Settings'.
2. Select 'Español' ->

[2022-03-03 09:13] v-xianya opened #5499 "The localized strings 'Collapse All' and 'Refresh All' overlap if narrowing the EXPLORER panel"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.1
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Reproduce Languages**: Russian/Portuguese/Polish/Dutch/Japanese/Italian/Hungarian/French/Spanish/German/Czech
**Architecture**: ia32/x64
**How Found**: exploratory testing
**Regression From**: Not a regression

## Steps to Reprod

[2022-03-03 09:19] v-kellyluo opened #5500 "The attached table doesn't display automatically if attaching it by Azure AD"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220303.1
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables -> Create a table.
2. Add the rbac role 'Storage Table Data

[2022-03-03 17:27] MRayermannMSFT commented on #5433
The fix has shipped and can be found in 1.23, which is immediately available here: https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-03 17:52] MRayermannMSFT commented on #5491
@changbaebang is there a reason you do not want to use the latest version of Storage Explorer? Can you try signing in and then back out again?

[2022-03-03 18:50] craxal commented on #5175
This is already fixed for tables after table functionality was moved to the extension.

[2022-03-03 22:35] #5464 closed

[2022-03-03 22:35] #5463 closed

[2022-03-03 22:43] craxal commented on #3734
This is nearly finished, but a small, seemingly innocuous change breaks the unit tests for some reason. Currently investigating the cause.

[2022-03-03 22:45] #5379 closed

[2022-03-04 00:46] JasonYeMSFT commented on #5475
I tried Ubuntu 18.04 and cannot reproduce it. Could you share a VM with me for one day to give it a try?

[2022-03-04 01:59] v-kellyluo commented on #5464
Verified this issue on the build hotfix/20220303.8. Fixed.

[2022-03-04 02:01] v-kellyluo commented on #5463
Verified this issue on the build hotfix/20220303.8. Fixed.

[2022-03-04 03:51] fhryo-msft commented on #1950
@JasonYeMSFT when will 1.22.0 get released?

[2022-03-04 04:11] changbaebang commented on #5491
This issue is alway some enviroment. (with reset the tool and login, the issue is reproduced.)

I want to check the minium version for the lagacy systems.
And I want to clarify if Microsoft Authentication Library (MSAL) is related with it or not - [v1.19.0].

@MRayermannMSFT

[2022-03-04 07:10] v-xianya opened #5501 "An error dialog pops up when clicking the action 'Copy Direct Link to Account'"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.7
**Branch**: main
**Platform/OS**: Windows 10/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.23.0)

## Steps to Reproduce ##
1. Launch Storage Explorer -> Right click one storage account.
2. Click 'Copy Direct Link to Account'.
3. Check

[2022-03-04 07:22] v-xianya opened #5502 "The context view in the split tab is inconsistent with its original tab if the current context view of the original tab is not the 'Active blobs (default)'"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220303.7
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Previous release (1.22.1)

## Steps to Reproduce ##
1. Expand one non-ADLS Gen2 storage account -> Blob Containers.
2. Open one blob container ->

[2022-03-04 19:30] #5471 closed

[2022-03-04 19:49] craxal commented on #5356
Since this is not likely to be fixed in the library or service anytime soon, I'm going to close this issue, but I'll keep an eye on the client library issue.

[2022-03-04 19:49] #5356 closed

[2022-03-05 00:57] crisismaple commented on #5434
I have the same problem with Linux (Snap) 1.23.0, I also tried to create a copy of that table with access issue, same problem occurs in both SE client and SE in azure portal.

{
  "name": "RestError",
  "message": "{\"odata.error\":{\"code\":\"InvalidInput\",\"message\":{\"lang\":\"en-US\",\"value\":\"One of the request inputs is not valid.\\nRequestId:e999b082-6002-0035-592a-30c029000000\\nTime:2

[2022-03-07 02:15] v-xianya commented on #5501
Verified this issue on the build main/20220305.7. Fixed.

[2022-03-07 02:15] #5501 closed

[2022-03-07 02:24] v-xianya commented on #5470
Verified this issue on the build 20220305.7. Will verify on a newer build.
![image](https://user-images.githubusercontent.com/41351993/156956769-cb2e7be1-e4d9-4f10-835b-d9c730168ce3.png)

[2022-03-07 02:30] v-xianya commented on #5471
@craxal
Verified this issue on the build 20220305.7.
The current behavior as below:  Is the expected behavior?
1. The pasted table displays on the tree view.
2. Auto opens with an error info bar 'TableNotFound'.
3. There is an error activity log with error info'TableBeingDeleted'
![image](https://user-images.githubusercontent.com/41351993/156957341-e717f850-bd65-4261-b23b-e13ea8ec4417.png)

![imag

[2022-03-07 13:56] marketresearchru opened #5503 "diagnostics is unclear"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-07 14:50] FaronFaulk opened #5504 "Unable to retrieve child resources."
Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:3dffc56f-c01e-0068-5e31-32c76d000000\nTime:2022-03-07T14:41:02.4992784Z",
  "stack": "RestError: Server failed to authenticate the request. Make sure the value of Authoriza

[2022-03-07 17:06] craxal commented on #5471
@v-xianya The changes were merged to a hotfix branch, but I hadn't merged those changes to main yet. Those changes should now be on main, so please verify again.

[2022-03-07 18:15] MRayermannMSFT commented on #5504
@FaronFaulk , it looks like your SAS has expired. You will need to generate a new one.

[2022-03-07 18:17] MRayermannMSFT commented on #5503
@marketresearchru it means that AzCopy (the tool Storage Explorer uses behind the scenes for uploads and downloads) said that it quit due to being cancelled, but Storage Explorer didn't send a cancel command to the tool.

From here, we need to take a look at your AzCopy log files. You can find them in your user's home directory, in a folder called .azcopy. Please share the log files associated wit

[2022-03-07 18:19] MRayermannMSFT commented on #5495
A result of work I am doing. I will keep an eye on this.

[2022-03-07 18:21] MRayermannMSFT commented on #5487
@masimonv can you please update to the latest version (1.23.0), try again, and let us know what you encounter? Thanks.

[2022-03-07 18:24] MRayermannMSFT commented on #5467
Could you help to elaborate? thanks😊

That is by design. On the server side, file shares have the same restrictions as windows. We should update our setting description.

[2022-03-07 18:24] MRayermannMSFT commented on #5462
@kmathewmk can you try restarting/always restarting with the hardware acceleration disabled then?

[2022-03-07 18:27] MRayermannMSFT commented on #5409
Thanks @jdthorpe , coincidentally we made a change in our most recent version (1.23) which may address what you saw. We'll keep an eye out for that though and if we see it we'll investigate. That is *not* the type of behavior we want the app to have.

[2022-03-07 18:27] MRayermannMSFT commented on #5408
Closing due to lack of response.

[2022-03-07 18:27] #5408 closed

[2022-03-07 18:27] MRayermannMSFT commented on #5398
Closing due to lack of response.

[2022-03-07 18:27] #5398 closed

[2022-03-07 18:28] MRayermannMSFT commented on #5485
@v-xianya can you share the AzCopy logs?

[2022-03-07 18:29] MRayermannMSFT commented on #5486
@timovp given that you are using a name and key, I think likely this is a storage firewall/vnet issue. Your best bet for resolving such issues is opening an Azure support ticket.

[2022-03-07 18:41] JasonYeMSFT commented on #5399
From the log a blob named "jigar/Temp/t123" is detected and deleted in container "dev" and it is successful. Is that correct?

There are two possible explanations for the screenshots. One is that the delete actually works but the result is presented incorrectly. The other one is that something has externally deleted the directory and when AzCopy tries too delete it, it sees nothing and thus report

[2022-03-07 18:49] timovp commented on #5486
Thanks! Vnet it was indeed

[2022-03-07 18:49] #5486 closed

[2022-03-07 21:32] craxal commented on #5483
@OzBob I assume you're using Azurite for your local emulator storage, yes? This definitely appears to be a problem with Azurite. We've opened https://github.com/Azure/Azurite/issues/1377 to track this issue.

[2022-03-07 22:08] #5483 closed

[2022-03-07 22:50] craxal commented on #5434
@crisismaple If you are encountering this issue in the Azure portal as well, you may want to consider opening a service request with the platform team and provide the request ID. Please note that Storage Explorer in the portal is developed and maintained by a different team; these issues are for the desktop Storage Explorer specifically.

One way we can help narrow down this issue is either you:
-

[2022-03-07 23:03] #5265 closed

[2022-03-07 23:29] JasonYeMSFT commented on #5475
I am able to reproduce the bug but I couldn't find out the cause. Will need spin up my own VM and get a debug build to investigate.

[2022-03-07 23:57] JasonYeMSFT commented on #4953
I added a tip in the description to inform the users that a "" can tell Storage Explorer to trust files without an extension.

[2022-03-07 23:57] #4953 closed

[2022-03-08 02:04] v-xianya commented on #5471
Verified this issue on the build 20220308.2. Fixed.
![image](https://user-images.githubusercontent.com/41351993/157151541-c662c05f-722f-4bf8-b653-711654b21503.png)

[2022-03-08 02:07] v-xianya commented on #5470
Verified this issue on the build main 20220308.2. Fixed.

![image](https://user-images.githubusercontent.com/41351993/157151806-85b5a642-37e3-433b-b363-586bd1142349.png)

[2022-03-08 02:08] v-xianya commented on #5467
@MRayermannMSFT Thank you for the response!

[2022-03-08 02:11] v-xianya commented on #5485
@MRayermannMSFT
I can't get the AzCopy Log from the Activities panel. Could you help to share a way to get the AzCopy Log? Thank you!

[2022-03-08 02:33] v-xianya commented on #5175
Verified this issue on the build 20220308.2. Fixed for tables.
![image](https://user-images.githubusercontent.com/41351993/157154804-addf77cb-83b1-4385-961a-68a0a1959971.png)

[2022-03-08 03:19] v-xianya commented on #5502
Update:
The items in the editor keep consistent.
![image](https://user-images.githubusercontent.com/41351993/157159667-eafd3038-25a4-4096-8f32-0ad51e847886.png)

[2022-03-08 06:51] marketresearchru commented on #5503
Hi, @MRayermannMSFT ,
You explained to me the error: "_it quit due to being cancelled, but Storage Explorer didn't send a cancel command to the tool._" but it became even foggier...
Thank you for the proposal to check the log file, the explanation is inside - I have no upload authorisation.
I hope, the developer team will change the error message to make it clear.
Logfile attached.
[afd849cf-c280-

[2022-03-08 07:24] v-kellyluo opened #5505 "Succeed to create one emulator table with the name 'tables'"
**Storage Explorer Version:** 1.24.0
**Build Number:** 20220308.2
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**Azurite Version:** 3.15.0
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.21.3)

## Steps to Reproduce ##

1. Install and run Azurite 3.15.0 -> Launch Storage Explorer.
2. Expand 'Local & Attached -> Storage Accounts -> (Emulator - Default P

[2022-03-08 08:07] Jigar191089 commented on #5399
HI @JasonYeMSFT it is the fist case only. Also I don't know how to execute AzCopy in command line. If you agree then we can have a call for this issue. Since this issue is not solved even after uninstalling and installing again

[2022-03-08 08:10] masimonv commented on #5487
All Ok, I close the incident, Thanks
________________________________
De: Matthew Rayermann ***@***.***>
Enviado: lunes, 7 de marzo de 2022 19:21
Para: microsoft/AzureStorageExplorer ***@***.***>
Cc: Miguel Angel Simon Villar ***@***.***>; Mention ***@***.***>
Asunto: [External]:Re: [microsoft/AzureStorageExplorer] Secondary resources cannot be retrieved. (Issue #5487)

@masimonv<https://urldefens

[2022-03-08 08:23] v-kellyluo opened #5506 "No new table tab is opened when attaching one table"
**Storage Explorer Version:** 1.24.0
**Build Number:** 20220308.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** From running test cases
**Regression From:** Previous release (1.23.0)

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Right click the table-> Click 'Ge

[2022-03-08 10:32] atsushi-hosono commented on #5441
I am eagerly awaiting this feature to be implemented as soon as possible.

[2022-03-08 13:16] Jigar191089 commented on #5399
issue resolved with latest version 1.23.0

[2022-03-08 13:16] #5399 closed

[2022-03-08 16:07] kovacevicit opened #5507 "Azure Storage Explorer crashes shortly after starting"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-08 17:35] craxal commented on #5505
@v-kellyluo This is yet another Azurite bug. I have opened https://github.com/Azure/Azurite/issues/1379.

[2022-03-08 17:47] seanmcne opened #5508 "Importing CSV to Table storage lacks end user friendliness"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-08 17:55] craxal commented on #5407
@dhagarw Thanks for the SAS. I'm able to repro your issue. Investigating to see what might be the cause.

One thing I'm noticing is the first query request returns with 0 results and a continuation token. That's a bit unusual, as normally the first requests comes with a few results.

[2022-03-08 17:56] JasonYeMSFT commented on #5507
@kovaceivcit Could you try starting Storage Explorer from a command line (like powershell) and see if there is anything significant in the console output?

[2022-03-08 17:57] seanmcne commented on #5508
An error such as the following would be much more helpufl: "Column header values cannot contain spaces in Azure Table Storage. Please rename your columns to remove spaces [and special characters? maybe point to a spec?]" and retry your import."

[2022-03-08 18:49] #5489 closed

[2022-03-08 19:28] craxal commented on #5407
@dhagarw On further inspection, I suspect the issue is the result of receiving a bad continuation token.

Normally, the initial query request returns a number of entities along with a continuation token like this:

[code]

This is a Base64 encoded string, which looks like this when decoded:
[code]

However, the initial query for the table you're having trouble with returns with zero results and a

[2022-03-09 00:04] JasonYeMSFT commented on #5021
Done for 1.24.0, move to 1.25.0 for the next available person.

[2022-03-09 01:06] JasonYeMSFT commented on #5083
The planed work has been merged and the feature now enters testing phase.

[2022-03-09 01:06] #5083 closed

[2022-03-09 01:38] JasonYeMSFT commented on #5475
I tried a couple of setups and this seems to only reproduce in a Hyper-V ubuntu VM. I was not able to reproduce it in VMWare Player. I suspect there is something wrong in the virtualization. I think we can put this issue on hold for now.

[2022-03-09 03:43] fgaonet opened #5509 ""Clone" should allow a destination outside the source's directory"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-09 08:08] roelofpostmus opened #5510 "Increase height of scrollbar in tabs section"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-09 08:22] v-xianya opened #5511 "Fail to upload one append blob to ADLS Gen2 blob containers if clicking 'Refresh' during the transfer"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220308.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: From running test cases
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one ADLS Gen2 storage account -> Blob Containers.
2. Create a blob container -> Upload one .

[2022-03-09 09:00] v-kellyluo opened #5512 "No error dialog pops up when launching Storage Explorer(.tar.gz file) without Linux dependencies installed"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220308.2
**Branch:** main
**Platform/OS:** Linux Ubuntu 20.04
**Architecture:** x64
**How Found:** From running test cases
**Regression From:** Previous release (1.23.0)

## Steps to Reproduce ##

1. Open a clean Linux machine with OS version Ubuntu 20.04.
2. Download Linux build as tar.gz file then extract it.
3. Open terminal -> Naviga

[2022-03-09 09:35] paulspinksthomsonreuters commented on #5407
I am also facing this issue on one of our tables. I have temporarily rolled back to 1.21.0 and can once again access my table.

[2022-03-09 18:31] JasonYeMSFT commented on #4969
This work needs a new AzCopy flag planned for their next release.

[2022-03-09 19:23] JasonYeMSFT commented on #5511
Refresh itself shouldn't be modifying the blobs. The cause might be something internal to AzCopy.

[2022-03-09 19:35] JasonYeMSFT commented on #5511
Seems related to https://stackoverflow.com/questions/69904460/azure-blob-storage-append-blob-409-modified-error-when-refreshing-portal-sto

[2022-03-09 19:53] craxal commented on #5508
@seanmcne That looks like an actual bug in the code and not so much related to an error in your import file. I'll take a closer look.

[2022-03-09 19:53] JasonYeMSFT commented on #5509
"Clone" replaces "rename", not "copy". Are you saying that you want to move "blob1" to be in a sibling folder "folder1" so that it ends up being "folder1/blob1"? If that's the case, you can right click "blob1", choose "copy", open "folder1" and "paste" there. This should be very similar to how to copy paste files in the file explorer.

[2022-03-10 01:04] fgaonet commented on #5509
Thank you for the explanation! You are right on remote Azure storage. I just realized the “copy”, “paste” functions still there.

However, there are no such buttons on my local emulator blob containers. I tried right-clicking the “blob1” which is in my local emulator blob container, but cannot find “copy” “paste” options on the popup menu. How do I move a blob in a folder in local emulator?

By th

[2022-03-10 08:16] fredhen commented on #5434
Hi @craxal,

I am also experiencing this issue even after updating to v1.23.0 and confirmed similar to @iangledhill that v1.21.3 does not have this issue and other tables in the same storage account does not have this problem. We have informed our teams to downgrade to v1.21.3 for now.

It doesn't seem to have been mentioned previously, but in our case it is specifically Classic storage accounts.

[2022-03-10 08:47] dlevison opened #5513 "Can't connect to blob container after replacing computer"
Unable to retrieve child resources.

Details:
{
  "name": "RestError",
  "message": "Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:a0ea46d1-601e-00aa-13d5-330415000000\nTime:2022-03-09T16:49:29.6309162Z",
  "stack": "RestError: Server failed to authenticate the request. Make sure the value of Authoriza

[2022-03-10 09:29] v-kellyluo opened #5514 "Fail to paste one blob container under one 'Name & Key' attached storage account to emulator blob containers node"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220308.2
**Branch:** main
**Platform/OS:** Windows 10
**Architecture:** ia32
**How Found:** Ad-hoc testing
**Regression From:** Previous release (1.21.3)
## Steps to Reproduce ##

1. Install and run Azurite 3.15.0 -> Launch Storage Explorer.
2. Select one non-ADLS Gen2 storage account -> Attach it by 'Name & Key'.
3. Expand the attached

[2022-03-10 18:20] tekknow opened #5515 "How to update expired SAS token?"
Anybody know how to update an expired SAS token?  There is no docs that I can find on it.  When I try to do anything in SE, it locks up.  The only way I found to unlock it is to open Task Manager for a few seconds then close it.  Somehow that unlocks it for a few more clicks til it locks up again.

[2022-03-10 18:51] JasonYeMSFT commented on #5509
Copy and Paste aren't supported by our emulator related code because we don't have the implementation to tell if the copied blobs can be visible from the destination. As of today, clone's destination is limited to the same directory the source blob is in. I can update the title to turn this issue into a feature request.

[2022-03-10 21:13] zanedp opened #5516 "Allow copying from a blob SAS URL to a blob container"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-10 21:39] RiveraHan opened #5517 "Init Install in Linux"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-11 17:41] effadj opened #5518 "Expand Storage Account when searching"
We have a lot of Storage Accounts and it is fastest to use search to find the account in question so I can get to it's File Shares.  It finds the Storage Account just fine but I would like to see the the result be able to expand and see the items under it (Blob Containers, Files Shares, Queues, Tables) just like you can when you browse the Storage Account manually.  I know that I can right-click o

[2022-03-11 18:09] RheaZuo opened #5519 "Can't delete files/blob containers on ADLS Gen2 storage account with storage explorer"
Hi team,
I have a ADLS Gen2 storage account.
I can create a blob container and upload files to it but afterward, I can not delete any files or blob through the storage explorer.
Error:
{
  "message": "\"failed to perform remove command due to error: cannot start job due to error: cannot verify resource due to error: -> github.com/Azure/azure-pipeline-go/pipeline.NewError, /home/vsts/go/pkg/mod/git

[2022-03-11 19:32] JasonYeMSFT commented on #5511
I opened a ticket against the service team and will wait for the service team to tell what's going on.

[2022-03-12 13:27] amitabh90 opened #5520 "I am getting bellow error for IoTEdgeBlob"

[2022-03-12 13:32] #5520 closed

[2022-03-14 07:28] v-kellyluo opened #5522 "There are extra actions 'Clone…' and 'Delete' in the context menu for one Azure AD attached table"
**Storage Explorer Version:** 1.24.0-dev
**Build Number:** 20220308.2
**Branch:** main
**Platform/OS:** Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture:** ia32\x64
**How Found:** Ad-hoc testing
**Regression From:** Not a regression

## Steps to Reproduce ##

1. Expand one storage account -> Tables.
2. Create a table -> Attach it by Azure AD.
3. Right click the attac

[2022-03-14 08:04] v-xianya opened #5523 "The titles of error dialog for the broken blob container/file share/queue/table under QA node are inconsistent if the associated account is removed"
**Storage Explorer Version**: 1.24.0-dev
**Build Number**: 20220308.2
**Branch**: main
**Platform/OS**: Windows 10/Linux Ubuntu 20.04/MacOS Monterey 12.1 (Apple M1 Pro)
**Architecture** ia32\x64
**How Found**: Exploratory testing
**Regression From**: Not a regression

## Steps to Reproduce ##
1. Expand one storage account -> Expand the four services node.
2. Add one blob container/file share/table

[2022-03-14 08:59] #5487 closed

[2022-03-14 08:59] masimonv commented on #5487
All Ok, Thanks

[2022-03-14 09:55] v-xianya commented on #5175
Will verify this issue when there is a new build.

[2022-03-14 10:24] kean365 opened #5524 "Unable to re-authenticate into Azure Storage Explorer"
### Preflight Checklist

- [X] I have installed the [latest version of Storage Explorer](https://github.com/Microsoft/AzureStorageExplorer/releases/latest).
- [X] I have checked existing resources, including the [troubleshooting guide](https://docs.microsoft.com/azure/storage/common/storage-explorer-troubleshooting) and the [release notes](https://github.com/microsoft/AzureStorageExplorer/releases

[2022-03-14 16:35] #5175 closed

[2022-03-14 17:18] MRayermannMSFT commented on #5524
@kean365 typically this just means you need to reauthenticate. Have you tried that?

[2022-03-14 17:26] JasonYeMSFT commented on #5519
@RheaZuo The activity says you are using account name and key to authenticate the request. Did you attach that storage account with name and key in Storage Explorer? If so, could you verify if your account key has been rotated? On Portal, you are signed in and will be able to list keys to get the latest account key.